@model SBC.DAL.Courses

<div class='col-md-4'>
    <div class='thumbnail'>
        <img height="200"
             src="@Url.Action("getImage",
                 @Model.MineType)"
             alt='NoImage'
             class="img-thumbnail" />
        <div class="caption">
            <div class="item-name">
                <h4>@Model.NameCourses</h4>
            </div>
            <div class="item-description">
                @Model.Description
            </div>
            <div class="centered">
                <a href=@Url.Action("",
                      "Courses")
                   class="btn btn-primary">
                    <span class="glyphicon glyphicon-shoppingcart">
                    </span>
                    Перейти на курс
                </a>
            </div>
        </div>
    </div>
</div>