@model SBC.DAL.Courses

<div class='col-md-4'>
    <div class='thumbnail'>
        <img height="200"
             src="@Url.Action("getImage",
                 new
                 {
                     id = Model.id
                 })"
             alt='NoImage'
             class="img-thumbnail" />
        <div class="caption">
            <div class="item-name">
                <h3>@Model.NameCourses</h3>
            </div>
            <div class="item-description">
                @Model.Description
            </div>
            <div class="centered">
                <a href=@Url.Action("AddToCart",
                      "Cart",
                      new
                      {
                          id =Model.id, returnUrl=Request.Path
                      } )
                   class="btn btn-primary">
                    <span class="glyphicon glyphicon-shoppingcart">
                    </span>
                    Перейти на курс
                </a>
            </div>
        </div>
    </div>
</div>