
@{
    ViewBag.Title = "Курсы";
}

@section SidePanel
{
    <div class="alert-success">
        @Html.Action("Side", "Menu")
    </div>
    }
    <div class="Images_courses">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-4">
                    <img src="~/Images/биология.jpg" alt="биология" />
                    <h2>Биология</h2>
                </div>
                <div class="col-md-4 col-md-4">
                    <img src="~/Images/химия.jpg" />
                    <h2>Химия</h2>
                </div>
            </div>
        </div>
    </div>