@model IEnumerable<SBC.Models.MenuItem>

<ul class="nav nav-pills">
    @foreach (var item in Model)
    {
        <li class="@item.Active">
            @Html.ActionLink(item.Name, item.Action, item.Controller)
        </li>
    }
    @if (User.IsInRole("admin"))
    {
        <li>@Html.ActionLink("Курсы для админа ", "Index", "Courses")</li>
    }
</ul>