<div class="navbar navbar-brand">
    <ul class="nav flex-column">
        <li class="nav-item"><a href="#">Все категории</a></li>
        <li class="nav-item active"><a href="#">Кино</a></li>
        <li class="nav-item"><a href="#">Книги</a></li>
        <li class="nav-item"><a href="#">Инструмент</a></li>
    </ul>
</div>
