@{
    ViewBag.Title = "Наши курсы";
}

<h2>Наши курсы </h2>
<div class="card-group">
    <div class="card">
        <img src="~/Images/биология.jpg" class="card-img-top" alt="Биология">
        <div class="card-body">
            <h5 class="card-title">Биология</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href=@Url.Action("Biologia","Home") class="btn btn-primary">
                <span class="glyphicon glyphicon-shoppingcart"></span>
                Перейти на курс
            </a>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/химия.jpg" class="card-img-top" alt="Химия">
        <div class="card-body">
            <h5 class="card-title">Химия</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href=@Url.Action("Сhemistry","Home") class="btn btn-primary">
                <span class="glyphicon glyphicon-shoppingcart"></span>
                Перейти на курс
            </a>
        </div>
    </div>
</div>