@{
    ViewBag.Title = "Index";
}
<div class="container-md">
    <div class="banner">
        <div class="banner-back">
            <img src="~/Images/Banner.jpg" />
        </div>
        <div class="row">
            <div class="col-md-2 col-md-6 col-sm-5">
                <div class="banner-cont">
                    <div class="title-box">
                        <h1 class="h1_main"> Подготовка к ЦТ</h1>
                        <div class="main_desk">
                            <h2 class="h2_main">
                                Экспресс-курсы подготовки онлайн
                                <br />на 80-100 баллов!
                            </h2>
                            <br />- Видео уроки 20-30 мин + материалы
                            <br />-Тесты и задание на ЦТ с автопроверкой
                            <br />-Решение и ответы
                            <br />-Преподаватель со стажем от 10 лет
                            <br />
                            <div class="centered">
                                <a href=@Url.Action("Catalog","Courses") class="btn btn-primary">
                                    <span class="glyphicon glyphicon-shoppingcart"></span>
                                    Наши курсы
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
