@{
    ViewBag.Title = "Index";
}
    <div class="banner">
        <div class="banner-back">
            <img src="~/Images/Banner.jpg" />
        </div>

        <div class="banner-cont">
            <div class="container-md">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-8">
                        <div class="title-box">
                            <h1 class="h1_main"> Подготовка к ЦТ</h1>
                            <div class="main_desk">
                                <h2 class="h2_main">
                                    Экспресс-курсы подготовки онлайн
                                    <br />на 80-100 баллов!
                                </h2>
                                <br />- Видео уроки 20-30 мин + материалы
                                <br />-Тесты и задание на ЦТ с автопроверкой
                                <br />-Решение и ответы
                                <br />-Преподаватель со стажем от 10 лет
                                <br />
                                <a class="btn btn-link" href="~/Views/Courses/Index.cshtml"> Смотреть все курсы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
