@{
    ViewBag.Title = "Index";
}
<div class="container-md">
    <div class="banner">
        <div class="banner-back">
            <img src="~/Images/Banner.jpg" />
        </div>
        <div class="row">
            <div class="col-md-2 col-md-6 col-sm-5">
                <div class="banner-cont">
                    <div class="title-box">
                        <h1 class="h1_main"> Подготовка к ЦТ</h1>
                        <div class="main_desk">
                            <h2 class="h2_main">
                                Экспресс-курсы подготовки онлайн
                                <br />на 80-100 баллов!
                            </h2>
                            <br />- Видео уроки 20-30 мин + материалы
                            <br />-Тесты и задание на ЦТ с автопроверкой
                            <br />-Решение и ответы
                            <br />-Преподаватель со стажем от 10 лет
                            <br />
                            <div class="centered">
                                <a href=@Url.Action("Catalog","Courses") class="btn btn-primary">
                                    <span class="glyphicon glyphicon-shoppingcart"></span>
                                    Наши курсы
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Отзывы-->
    <div class="container-md">
        <h2>Что о нас говорят - Отзывы учеников</h2>
        <br />
        <p>
            Мы собрали отзывы учеников, прошедших подгтовку на ...<br />
            Об онлайн курсах подготовки к экзаменам ЦТ от ... уже более 115 отзывов и оценок!<br />
            Пройдите онлайн обучение и разместите свой отзыв к любому курсу — поделитесь своими результатами и достижениями!<br />
        </p>
        <div class="reviews">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="~/Images/9B6iBKH1j6c.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body-reviews">
                                    <h5 class="card-title">Дмитрий Шестак</h5>
                                    <p class="card-text">Выражаю огромную благодарность! Сдал ЦТ по биологии на 91 балл! Отличие ваших курсов подготовки к ЦТ по биологии от всевозможных книжных репетиторов и методов “кучной” подачи информации, что вы реально помогаете подготовиться именно к ЦТ.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Отзывы конец-->
</div>
