<div class="container">
    <p><strong>Генетика</strong> - наука о закономерностях наследственности и изменчивости. Основоположник генетики – <em>Г. Мендель,</em> который в 1865 г. в работе «Опыты над растительными гибридами» открыл основные закономерности наследования признаков. В 1900 г. <em>К. Корренс, Э. Чермак и Г. де Фриз</em> переокрыли законы Менделя. Термин «генетика» предложил в 1906 г. <em>У. Бэтсон,</em> термин «ген» - в 1909 г. <em>В. Иогансен.</em></p>
    <p><strong>Наследственность</strong> – это свойство живых организмов передавать из поколения в поколение морфологические, физиологические, биохимические и другие признаки и особенности индивидуального развития в определенных условиях среды.</p>
    <p><strong>Изменчивость</strong> – это свойство, противоположное наследственности; оно заключается в способности дочерних организмов отличаться от родителей морфологическими, физиологическими, биохимическими особенностями и отклонениями в индивидуальном развитии.</p>
    <p>Наследственность и изменчивость реализуются в процессе наследования (передаче генетической информации от родителей к потомкам через половые клетки при половом размножении, либо через соматические при бесполом размножении).</p>
    <p>Элементарными дискретными единицами наследственности и изменчивости являются гены.</p>
    <p><strong>Ген</strong> – это участок молекулы ДНК (у некоторых вирусов – РНК), определяющий последовательность аминокислот конкретного полипептида или нуклеотидов РНК и в итоге какой-либо признак организма. </p>
    <p>
        <strong>Классификация генов по функциям:</strong>
        <ol type="1">
            <li><em>Структурные.</em> Содержат информацию о последовательности аминокислот в белках и нуклеотидов в различных видах РНК.</li>
            <li><em>Функциональные.</em> Регулируют работу структурных генов.</li>
        </ol>
    </p>
    <p>Гены, обеспечивающие синтез белка, образуют функциональные единицы: оперон (прокариоты) и транскриптон (эукариоты).</p>
    <h3 class="text-center"><strong>Регуляция работы генов у прокариот.</strong></h3>
    <p>Схема регуляции транскрипции у прокариот была предложена французскими учеными Ф. Жакобом и Ж. Моно в 1961 г. на примере лактозного оперона кишечной палочки. Группа структурных генов, управляемая одним геном-оператором, образует <strong>оперон.</strong></p>
    <p>
        <strong>Состав оперона:</strong>
        <ol type="1">
            <li><em>Промотор</em> (80-100 пар нуклеотидов) – место первичного прикрепления РНК-полимеразы – фермента, катализирующего реакции ДНК-зависимого синтеза иРНК.</li>
            <li><em>Инициатор</em> – определенная последовательность нуклеотидов, с которой начинается транскрипция.</li>
            <li><em>Оператор</em> – включает и выключает структурные гены для считывания.</li>
            <li><em>Группа структурных генов.</em></li>
            <li><em>Терминатор</em> – определенная последовательность нуклеотидов, отсоединяющая РНК-полимеразу от ДНК.</li>
            <li><em>Ген-регулятор</em> – находится на некотором расстоянии от оперона, постоянно активен и на основе его информации синтезируется особый белок-репрессор.</li>
        </ol>
    </p>
    <img src="~/Images/thema49/Оперон.png" class="rounded" width="100%" height="100%" alt="оперон" />
    <p>
        Белок-репрессор способен блокировать ген-оператор, вступая с ним в химическое взаимодействие, в результате чего считывания информации со структурных генов не происходит, т. е. оперон «не работает». Если в клетку поступает <em>индуктор</em> (вещество, которое расщепляется под действием ферментов, закодированных в данном опероне), то он связывает белок-репрессор, освобождая ген-оператор. РНК-полимераза разрывает связи между двумя цепочками ДНК оперона, начиная с промотора, и по принципу комплементарности информация с кодирующей цепочки структурных генов переписывается на иРНК (оперон «работает»). Затем иРНК поступает в рибосомы, где синтезируются ферменты, разлагающие индуктор. Когда последние молекулы индуктора разрушены, освобождается белок-репрессор, который снова блокирует ген-оператор. Работа оперона прекращается, а при поступлении новых порций индуктора опять возобновляется.
    </p>
    <p>Для каждого оперона имеется свой специфический индуктор. Например, для лактозного оперона индуктором является лактоза, для фруктозного – фруктоза. </p>
    <p>У прокариот процессы транскрипции и трансляции могут протекать одновременно, т. е. цепь иРНК еще продолжает синтезироваться, а к ее 5′концу уже присоединяются рибосомы и начинается синтез полипептидов.</p>
    <h3 class="text-center"><strong>Регуляция работы генов у эукариот.</strong></h3>
    <p>Схема регуляции транскрипции у эукариот разработана Г.П. Георгиевым (1972 г.). Принцип регуляции (обратная связь) сохраняется, но механизмы ее, по сравнению с прокариотами, являются более сложными.</p>
    <p>Единица транскрипции у эукариот называется <strong>транскриптоном.</strong></p>
    <ol type="I">
        <li>
            <strong>Неинформативная (акцепторная) зона.</strong>
            <ol type="1">
                <li><em>Промотор</em> (80-100 пар нуклеотидов) – место первичного прикрепления РНК-полимеразы – фермента, катализирующего реакции ДНК-зависимого синтеза иРНК.</li>
                <li><em>Инициатор</em> – определенная последовательность нуклеотидов, с которой начинается транскрипция.</li>
                <li><em>Несколько генов-операторов</em> – включают и выключают структурный ген для считывания.</li>
            </ol>
        </li>
        <li>
            <strong>Информативная зона. </strong>
            <ol type="1">
                <li><em>Один структурный ген.</em> Структурный ген имеет вставки из неинформативных – «молчащих» – участков ДНК – интронов. Информативные участки структурных генов называются экзонами.</li>
                <li><em>Терминатор</em> – определенная последовательность нуклеотидов, отсоединяющая РНК-полимеразу от ДНК.</li>
            </ol>
        </li>
    </ol>
    <img src="~/Images/thema49/Транскриптон.png" class="rounded" alt="Транскриптон" width="100%" height="100%" />
    <p>Работу транскриптона регулируют несколько генов-регуляторов, дающих информацию для синтеза ряда белков-репрессоров. Индукторами в клетках эукариот являются сложные молекулы (например, гормонов). Когда индукторы освобождают гены-операторы от белков-репрессоров, РНК-полимераза разрывает водородные связи между двумя цепочками ДНК транскриптона, начиная с инициатора транскрипции. Согласно правилу комплементарности, на кодирующей цепочке сначала синтезируется большая молекула проинформационной РНК, списывающая информацию (порядок нуклеотидов) как с информативной, так и с неинформативной зон. </p>
    <p>В дальнейшем в ядре клетки происходит <em>процессинг</em> – ферментативное разрушение неинформативной части РНК и расщепление ферментами рестриктазами информативной части на фрагменты, соответствующие экзонам. Молекулы иРНК формируются посредством <em>сплайсинга</em> (сплавления) отдельных информативных фрагментов (соответствующих экзонам) ферментами лигазами.</p>
    <p>Процессы, происходящие в ядре с проинформационной РНК (процессинг и сплайсинг), называется <em>созреванием.</em> Зрелая иРНК выходит из ядра и поступает в рибосомы, где и происходит синтез соответствующих белков-ферментов, расщепляющих индуктор. Включение и выключение транскриптона происходит так же, как и у оперона.</p>
    <p>Следовательно, у эукариот синтез иРНК и ее трансляция происходят независимо друг от друга в разных частях клетки в разное время – сначала транскрипция и созревание в ядре, а затем трансляция в рибосомах цитоплазмы.</p>
    <p>
        <strong>Свойства гена:</strong>
        <ol type="1">
            <li><em>Специфичность.</em> Детерминирует (определяет) синтез определенного полипептида.</li>
            <li><em>Целостность.</em> При программировании синтеза полипептида ген – неделимая единица.</li>
            <li><em>Дискретность.</em> Наличие субъединиц гена.</li>
            <li><em>Стабильность.</em> Ген относительно устойчив.</li>
            <li><em>Лабильность.</em> Ген способен мутировать.</li>
            <li><em>Плейотропия.</em> Ген может отвечать за проявление нескольких признаков.</li>
            <li><em>Экспрессивность (градуальность).</em> Степень фенотипического (внешнего) проявления признака.</li>
            <li><em>Пенетрантность.</em> Частота фенотипического проявления признака.</li>
        </ol>
    </p>
    <p><strong>Предмет генетики</strong> – изучение закономерностей наследственности и изменчивости организмов на различных уровнях организации живого.</p>
    <p>
        <strong>Задачи генетики:</strong>
        <ol type="1">
            <li>Изучение генов как материальных структур (носителей генетической информации) и способов их хранения у вирусов, бактерий, протистов, грибов, растений, животных и человека;</li>
            <li>Изучение механизмов наследования признаков от одного поколения клеток и организмов к другому;</li>
            <li>Выявление механизмов и закономерностей реализации генетической информации в процессе онтогенеза и влияние на них условий среды обитания;</li>
            <li>Изучение закономерностей и механизмов изменчивости и ее роли в приспособлении организмов и эволюционном процессе;</li>
            <li>Изыскание способов исправления повреждённой генетической информации.</li>
        </ol>
    </p>
    <p>
        <strong>Методы генетики:</strong>
        <ol type="1">
            <li>
                <em>Метод гибридологического анализа.</em> Разработан Г. Менделем. Метод основан на скрещивании организмов, у которых учитывается одна или несколько пар альтернативных признаков; позволяет выявлять закономерности наследования отдельных признаков при половом размножении организмов. Сущность:
                <ol type="а">
                    <li>анализ наследования проводится по отдельным альтернативным признакам;</li>
                    <li>прослеживается передача этих признаков в ряду поколений;</li>
                    <li>проводится точный количественный учет наследования каждого альтернативного признака и характер потомства каждого гибрида в отдельности.</li>
                </ol>
            </li>
            <li><em>Цитогенетический метод.</em> Основан на микроскопическом исследовании кариотипов (набор хромосом) клеток организма и позволяет выявлять геномные и хромосомные мутации. Возможности метода значительно возросли после разработки способов дифференциального окрашивания хромосом и использования компьютера для анализа кариотипов.</li>
            <li><em>Генеалогический метод.</em> Изучение родословных животных и человека и установление типа наследования (доминантный, рецессивный, аутосомный или сцепленный с полом) того или иного признака, зиготность организмов и вероятность проявления признаков в будущих поколениях. Метод широко используется в селекции и работе медико-генетических консультаций.</li>
            <li>
                <em>Близнецовый метод.</em> Предложен Ф. Гальтоном (1876 г.), основан на изучении проявления признаков у близнецов.
                <p>Монозиготные близнецы развиваются из одной оплодотворенной яйцеклетки и имеют большую степень сходства по признакам, которые определяются преимущественно генотипом (одинаковые группы крови по разным системам, цвет волос и глаз и др.). Возможные фенотипические отличия монозиготных близнецов обусловлены только воздействием факторов внешней среды.</p>
                <p>Дизиготные близнецы развиваются после оплодотворения разными сперматозоидами нескольких одновременно созревших яйцеклеток. Они имеют разный генотип как обычные братья и сестры. </p>
                <p>Сравнивая степень сходства (<em>конкордантность</em>) и различия (дискордантность) у моно- и дизиготных близнецов, удается выявлять роль наследственности и внешней среды в формировании конкретных признаков.</p>
            </li>
            <li><em>Биохимические методы.</em> Основаны на изучении активности ферментов и химического состава клеток, которые определяются наследственностью. С помощью этих методов выявляют генные мутации, для которых известны биохимические нарушения, а с помощью специальных нагрузочных тестов – гетерозиготных носителей рецессивных генов.</li>
            <li><em>Популяционно-статистический метод.</em> Позволяет рассчитывать частоту встречаемости генов и генотипов в популяциях, используя математическое выражение закона Харди–Вайнберга (в идеальной популяции соотношение частот генов и генотипов остается постоянным из поколения в поколение).</li>
            <li><em>Метод биологического моделирования.</em> Основан на законе гомологических рядов наследственной изменчивости. На животных создают модели наследственных болезней, разрабатывают методы диагностики, лечения и затем полученные данные применяют к человеку. </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Генетические эксперименты Г. Менделя по наследованию при моногибридном скрещивании.</strong></h3>
    <p>Основные закономерности наследования были изучены чешским ученым Г. Менделем и изложены в его книге «Опыты над растительными гибридами» (1865 г.). Мендель проводил скрещивание самоопыляемых растений гороха. </p>
    <p>
        <strong>Особенности гибридологического метода Менделя:</strong>
        <ol type="1">
            <li>Скрещивал чистые линии;</li>
            <li>Из всего многообразия признаков организмов анализировал только 1 или 2;</li>
            <li>Прослеживал передачу этих признаков в ряду нескольких поколений;</li>
            <li>Проводил точный количественный учет наследования каждого признака.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Основные термины и понятия генетики.</strong></h3>
    <p><strong>Фен</strong> – отдельный внешний или внутренний признак, формирующийся под действием гена и факторов среды.</p>
    <p><strong>Генотип</strong> – совокупность всех генов организма, полученных от родителей (в клетке – совокупность генов в диплоидном наборе хромосом и генов цитоплазмы).</p>
    <p><strong>Фенотип</strong> – совокупность внутренних (объем желудка, содержание эритроцитов и глюкозы в крови) и внешних (цвет глаз, форма носа, окраска цветков) признаков и свойств организма, которые развиваются под действием генотипа и факторов среды.</p>
    <p><strong>Геном</strong> – совокупность генов в гаплоидном наборе хромосом.</p>
    <p><strong>Аллельные гены</strong> – гены, определяющие развитие альтернативных (взаимоисключающих, например, желтый и зеленый цвет горошин) признаков; располагаются в одинаковых локусах (местах) гомологичных (парных) хромосом. Аллельные гены обозначают одинаковыми буквами латинского алфавита: доминантный – прописной буквой (А), а рецессивный – строчной (а).</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Неаллельные гены</strong> – гены, определяющие развитие неальтернативных признаков; они располагаются в разных локусах гомологичных хромосом и в негомологичных хромосомах (например, гены, определяющие цвет и форму поверхности горошин). Обозначаются разными буквами латинского алфавита (А, В).</p>
                <p><strong>Доминантный ген </strong>  ген, подавляющий действие другого аллельного гена; проявляется фенотипически в гомо- и в гетерозиготном состояниях (например, желтый цвет горошин). </p>
            </div>
            <div class="col">
                <img src="~/Images/thema49/Неаллельные гены.png" alt="Неаллельные гены" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Рецессивный ген </strong> – ген, подавляемый другим аллельным геном; проявляется фенотипически только в гомозиготном состоянии (например, зеленый цвет горошин). </p>
    <p><strong>Гомозигота</strong> – организм, содержащий в одинаковых локусах гомологичных хромосом одинаковые аллельные гены (АА, аа). Образует один тип гамет и не дает расщепления при скрещивании с таким же по генотипу организмом.</p>
    <p>АА – гомозигота по доминантному признаку; bb – гомозигота по рецессивному признаку; AAbb – гомозигота по доминантному и рецессивному признакам.</p>
    <p><strong>Гетерозигота</strong> – организм, содержащий в одинаковых локусах гомологичных хромосом разные аллельные гены (Аа). Образует два типа гамет и дает расщепление при скрещивании с таким же по генотипу организмом.</p>
    <p>Аа – гетерозигота по одному признаку; AаBb – гетерозигота по двум признакам.</p>
    <p><strong>Гемизигота</strong> – организм, содержащий в локусе хромосомы только один ген (А,а).</p>
    <p>Термины «гомозиготность» и «гетерозиготность» предложены в 1902 г. <em>У. Бэтсоном.</em> </p>
    <p><strong>Признак</strong> – любая особенность организма (качество, свойство), по которой можно отличить отдельные особи.</p>
    <p><strong>Альтернативный признак</strong> – качественный признак, имеющий несколько качеств или состояний (цвет семян гороха: зеленый и желтый).</p>
    <p><strong>Моногибридное скрещивание</strong> – скрещивание, при котором родительские особи анализируется по одному альтернативному признаку.</p>
    <p><strong>Дигибридное скрещивание</strong>  – скрещивание, при котором родительские особи анализируется по двум альтернативным признакам.</p>
    <p><strong>Полигибридное скрещивание</strong> – скрещивание, при котором родительские особи анализируется более чем по двум альтернативным признакам.</p>
    <p>
        <strong>Правила записи скрещивания:</strong>
        <ol type="1">
            <li>В первой строке пишут букву Р (от лат. parentes – родители), далее генотип женского организма, знак скрещивания × и генотип мужского организма; </li>
            <li>Во второй строке записывают букву G (гаметы) и гаметы женской и мужской особей, причем каждая гамета берется в кружок; </li>
            <li>В третьей строке ставят букву F (от лат. filiale – дочерний) и записывают генотипы потомков.</li>
        </ol>
    </p>
    <p>
        <strong>Правила записи гамет:</strong>
        <ol type="1">
            <li>Из каждой пары аллельных генов в гамету должен попасть один ген;</li>
            <li>Если организм гомозиготен (например, АА), то все гаметы, сколько бы их ни образовалось, будут содержать только один ген (А), т. е. все они будут однотипны и, следовательно, гомозиготный организм образует один тип гамет;</li>
            <li>Если организм гетерозиготен (Аа), то в процессе мейоза одна хромосома с геном А попадет в одну гамету, а вторая гомологичная хромосома с геном а попадет в другую гамету. Следовательно, гетерозиготный организм по одной паре генов будет образовывать два типа гамет: Аа→А и а.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Законы Менделя.</strong></h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Первый закон Менделя (закон единообразия гибридов первого поколения).</strong> Формулировка: при скрещивании гомозиготных особей, анализируемых по одной паре альтернативных признаков, наблюдается единообразие гибридов первого поколения как по фенотипу, так и по генотипу.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema49/Первый закон Менделя.png" class="rounded" width="100%" height="100%" alt="Первый закон Менделя" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Второй закон Менделя (закон расщепления). </strong> Формулировка: при скрещивании гетерозиготных особей, анализируемых по одному альтеративному признаку, наблюдается расщепление в соотношении 3:1 по фенотипу и 1:2:1 по генотипу. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema49/Второй закон Менделя.png" class="rounded" width="100%" height="100%" alt="Второй закон Менделя" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Третий закон Менделя (закон независимого комбинирования признаков).</strong> Формулировка: при скрещивании гомозиготных особей, анализируемых по двум или нескольким парам альтернативных признаков, во втором поколении при скрещивании особей первого поколения между собой наблюдается независимое комбинирование генов разных аллельных пар и соответствующих им признаков. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema49/Третий закон Менделя.png" class="rounded" width="100%" height="100%" alt="Трейтий закон Менделя" />
            </div>
        </div>
    </div>
    <p>
        Законы Менделя являются практически универсальными, так как согласно им, происходит наследование признаков у всех организмов, размножающихся половым путем. Однако для проявления второго и третьего законов Менделя необходимо соблюдение следующих <em>условий:</em>
        <ol type="1">
            <li>Доминирование должно быть полным (при неполном доминировании и других видах взаимодействия генов числовые соотношения потомков с разными комбинациями признаков могут быть другими);</li>
            <li>Должна быть равная вероятность образования гамет и зигот с разной комбинацией генов, а также равная вероятность выживания организмов с разными генотипами (не должно быть летальных и полулетальных генов);</li>
            <li>Гены должны локализоваться в разных негомологичных хромосомах.</li>
        </ol>
    </p>
    <p>Для объяснения установленных Менделем закономерностей наследования У. Бэтсоном (1902 г.) была предложена <em>гипотеза «чистоты гамет».</em></p>
    <p>
        <strong>Положения гипотезы «чистоты гамет»:</strong>
        <ol type="1">
            <li>У гибридного организма гены не гибридизируются (не смешиваются), а находятся в чистом аллельном состоянии;</li>
            <li>В процессе мейоза в гамету попадает только один ген из аллельной пары.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Анализирующее скрещивание.</strong></h3>
    <p>В некоторых случаях необходимо установить генотип особи с доминантным признаком, т.к. при полном доминировании гомозигота (АА) и гетерозигота (Аа) фенотипически одинаковы. </p>
    <p>Для этого применяют <strong>анализирующее скрещивание,</strong> при котором данный организм с доминантным признаком, генотип которого неизвестен, <strong>скрещивают рецессивным гомозиготным организмом.</strong></p>
    <p>Варианты результатов моногибридного скрещивания:</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Если в результате такого скрещивания получено единообразие гибридов первого поколения, то анализируемый организм является гомозиготным. Если происходит расщепление 1:1, то – гетерозиготным.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema49/Варианты результатов моногибридного скрещивания.png" class="rounded" width="100%" height="100%" alt="Варианты результатов моногибридного скрещивания" />
            </div>
        </div>
    </div>
    <p>Дигибридное анализирующее скрещивание:</p>
    <p>Если в результате такого скрещивания получено единообразие гибридов первого поколения, то анализируемый организм является гомозиготным. Если происходит расщепление 1:1:1:1, то – дигетерозиготным.</p>
    <p>
        Виды анализирующего скрещивания в селекции:
        <ol type="1">
            <li>Возвратное (бек-кросс) скрещивание. Дочерний организм, имеющий доминантный признак, скрещивают с родительским организмом, имеющим рецессивный признак. Используют для преодоления стерильности отдаленных гибридов первого поколения. </li>
            <li>Реципрокное скрещивание. Взаимно противоположное скрещивание признака и пола (если в одном скрещивании самка имеет доминантный признак, а самец – рецессивный, то во втором скрещивании – наоборот). Используется для выявления генов, расположенных в X-хромосоме. Может наблюдаться крисс-кросс наследование (от матери к сыну, от отца к дочери). </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Взаимодействие аллельных и неаллельных генов.</strong></h3>
    <p>
        <strong>Внутриаллельное взаимодействие генов</strong> – взаимное влияние аллельных генов друг на друга.
        <ol type="1">
            <li><em>Полное доминирование.</em> Доминантный ген полностью подавляет действие рецессивного, поэтому гомозиготное и гетерозиготное состояния фенотипически идентичны: АА=Аа (цвет волос и глаз у человека, форма и цвет семян гороха и т.д).</li>
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <em>Неполное доминирование.</em> Доминантный ген не полностью подавляет действие рецессивного и в гетерозиготном состоянии возникает новый вариант признака, занимающий промежуточное положение между доминантным и рецессивным: АА˃Аа (курчавость волос, масть крупного рогатого скота, окраска оперения у кур и т.д.).
                        </div>
                        <div class="col">
                            <img src="~/Images/thema49/Неполное доминирование.png" class="rounded" width="100%" height="100%" alt="Неполное доминирование" />
                        </div>
                    </div>
                </div>
            </li>
            <li><em>Сверхдоминирование.</em> Доминантный ген в гетерозиготном состоянии проявляет себя сильнее, чем в гомозиготном: Аа˃АА. Пример: АА – нормальная жизнеспособность мух дрозофил, Аа – повышенная жизнеспособность, аа – летальное действие.</li>
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <em>Кодоминирование.</em> Два доминантных гена из одной аллельной пары не подавляют друг друга, они равнозначны; если оба они находятся в одном генотипе, то оба проявляют свое действие и наблюдается новый вариант признака. Пример: четвертая группа крови у человека по АВ0-системе детерминируется одновременным присутствием в генотипе двух кодоминантных генов I<sup>A</sup> и I<sup>B</sup> . Группы крови по системе АВ0 обусловлены тремя аллелями одного гена: I<sup>0</sup>, I<sup>A</sup>, I<sup>B</sup> <em>(множественный аллелизм).</em> Ген I<sup>A</sup> детерминирует синтез антигена А в эритроцитах, а ген I<sup>B</sup>  – антигена В. Рецессивный ген I<sup>0</sup> не детерминирует синтез специфических белков (агглютиногенов) в эритроцитах. Множественными аллелями называется такое явление, когда в генофонде популяции аллельных генов больше, чем два.
                        </div>
                        <div class="col">
                            <img src="~/Images/thema49/Кодоминирование..png" />
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </p>
    <p>
        <strong>Межаллельное взаимодействие генов </strong> – взаимное влияние неаллельных генов (генов различных аллельных пар). Приводит к появлению в потомстве дигетерозиготы необычного расщепления по фенотипу: 9:7, 9:6:1, 9:3:3:1 <em>(комплементарность),</em> (комплементарность), <em>(доминантный эпистаз)</em>  9:3:4 <em>(рецессивный эпистаз),</em> 15:1, 1:4:6:4:1 <em>(полимерия).</em>
    </p>
    <p>
        <strong>Виды межаллельного взаимодействия:</strong>
        <ol type="1">
            <li>
                <em>Комплементарность.</em> Одновременное присутствие в генотипе доминантных (рецессивных) генов разных аллельных пар приводит к проявлению нового признака.
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="~/Images/thema49/Комплементарность 1.png" class="rounded" width="100%" height="100%" alt="Комплементарность 1" />
                        </div>
                        <div class="col">
                            <img src="~/Images/thema49/Комплементарность 2.png" class="rounded" width="100%" height="100%" alt="Комплементарность 2" />
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <em>Эпистаз.</em> Доминантный (рецессивный) ген (ген-супрессор) одной аллельной пары подавляет действие доминантного (рецессивного) гена другой аллельной пары.
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>Примером доминантного эпистаза является наследование окраски оперения у кур: доминантный ген С детерминирует синтез пигмента, а доминантная аллель другого гена I подавляет действие гена С, и куры с генотипом СI-- имеют белое оперение. </p>
                            <p>Примером рецессивного эпистаза (криптомерия) является «бомбейский феномен», при котором у женщины, имеющей ген третьей группы крови I<sup>B</sup> -aa, была определена первая группа крови (рецессивный ген а являлся супрессором).</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <em>Кумулятивная полимерия.</em> Несколько доминантных неаллельных генов, обозначаемых одной буквой с разными цифровыми индексами, усиливают фенотипическое проявление одного количественного признака (рост, масса тела, молочная продуктивность крупного рогатого скота, яйценоскость кур, цвет кожи у человека).
                <img src="~/Images/thema49/Кумулятивная полимерия..png" class="rounded" width="100%" height="100%" alt="Кумулятивная полимерия." />
            </li>
            <li>
                <em>Некумулятивная полимерия.</em> Степень проявления признака не зависит от числа доминантных полимерных генов. Например, оперенность ног у кур определяется наличием хотя бы одного доминантного гена из двух пар аллелей.
            </li>
        </ol>
    </p>
</div>

<div class="container">
    <a href=@Url.Action("Test49","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>