<div class="container">
    <p>Термин <em>«внутренняя среда организма»</em> предложил в 1878 г. французский физиолог К. Бернар. <strong>К тканям внутренней среды организма относятся кровь, тканевая жидкость, лимфа.</strong></p>
    <p><strong>Кровь</strong> – жидкая соединительная ткань, циркулирующая в замкнутой системе кровеносных сосудов. Состоит из клеток <em>(форменных элементов)</em> и жидкого вещества <em>(плазмы)</em> и является основой для образования других жидкостей внутренней среды (лимфы и тканевой жидкости). Средний объем крови взрослого человека – 5–6 л. Кровь составляет 7–8% массы тела. </p>
    <p>В организме циркулирует не вся кровь, а только ее часть (в состоянии покоя кровью заполнено около 30% капилляров), другая часть находится в депо: в селезенке, печени, легких и подкожной клетчатке – и пополняет кровоток, когда возникает необходимость в восстановлении объема циркулирующей крови (во время мышечной работы и при кровопотерях). </p>
    <p>Плазма путем диффузии проникает из крови через стенки капилляров к клеткам и образует <strong>тканевую жидкость.</strong>По составу тканевая жидкость напоминает плазму, НО без белков, которые, имея большие размеры молекул, не проходят через стенки капилляров при диффузии. Количество тканевой жидкости в организме человека составляет примерно 20 л.</p>
    <p><em>Функция тканевой (межклеточной) жидкости:</em> клетки выделяют в нее диоксид углерода и другие продукты диссимиляции и получают из этой жидкости кислород и питательные вещества. Часть тканевой жидкости возвращается в кровеносные капилляры.</p>
    <p>Меньшая часть тканевой жидкости поступает в лимфатические капилляры, образуя лимфу. <strong>Лимфа</strong> – это молочно-белая жидкость, сходная по составу с плазмой крови, но с меньшим (в 3–4 раза) содержанием белка. В небольшом количестве в ней имеются лимфоциты.</p>
    <p>Лимфатические капилляры слепо начинаются между клетками тканей, имеют более проницаемую стенку, чем кровеносные капилляры, больший диаметр, и переходят в лимфатические сосуды. По ходу лимфатических сосудов располагаются лимфатические узлы – биологические фильтры, которые задерживают чужеродные вещества и бактерии, и лимфа, проходя через них, обогащается лимфоцитами.</p>
    <p>Самые крупные лимфатические сосуды образуют грудной лимфатический проток (впадает в левую подключичную вену) и правый лимфатический проток (впадает в правую подключичную вену, а затем в верхнюю полую вену). В сутки в кровь возвращается около 1–3 л лимфы.</p>
    <p>
        <em>Функции лимфы:</em>
        <ol type="1">
            <li>Перераспределение воды и белков, которые отфильтровались в ткани через стенки капилляров.</li>
            <li>Поступление в кровь высокомолекулярных веществ, в частности жиров, всосавшихся в кишечнике, и гормонов.</li>
            <li>Защита организма от инфекций.</li>
        </ol>
    </p>
    <p>Количество и состав крови, физико-химические свойства (Рн (7,34-7,44)), кислотно-щелочное равновесие, концентрация различных химических компонентов, осмотическое давление) у здорового человека относительно постоянны: они могут претерпевать небольшие колебания, но быстро выравниваются. Относительное постоянство состава крови является необходимым условием жизнедеятельности всех тканей организма.</p>
    <p>В поддержании постоянства внутренней среды организма <em>– гомеостаза</em> – принимают участие кровеносная, дыхательная, пищеварительная и выделительная системы, а регулируют постоянство нервная и эндокринная системы (нервная и гуморальная регуляция).</p>
    <p>При некоторых состояниях организма наблюдается смещение реакции крови в щелочную <em>(алкалоз)</em> или в кислую <em>(ацидоз)</em> сторону. При усиленном дыхании из крови удаляется большое количество угольной кислоты, что приводит к сдвигу реакции в щелочную сторону; при нормализации дыхания рН крови быстро возвращается к норме.</p>
    <h3 class="text-center"><strong>Состав и функции крови: плазма, форменные элементы.</strong></h3>
    <p>Кровь состоит из плазмы и форменных элементов. На плазму приходится 55–60% объема крови, клетки крови составляют 40–45%.</p>
    <p><em>Гематокрит</em> – часть объема крови, занимаемая форменными элементами (44–46% у мужчин, 41–43% у женщин). </p>
    <p><em>Состав плазмы крови:</em> желтоватая полупрозрачная жидкость (90–92% воды, 7–8% белков, 0,12% глюкозы, 0,9% солей, 0,7–0,8% жиров, небольшое количество аминокислот, витаминов, гормонов).</p>
    <p>Осмотическое давление плазмы крови равно давлению, оказываемому 0,85%-м раствором натрия хлорида. Растворы с таким осмотическим давлением называются <em>изотоническими (физиологическими).</em> Раствор с массовой долей ниже 0,85%, оказывает давление ниже осмотического <em>(гипотонический раствор),</em> что приводит к <strong>набуханию клеток.</strong> Раствор с массовой долей выше 0,85%, оказывает давление выше осмотического <em>(гипертонический раствор),</em> что приводит к <strong>сморщиванию клеток.</strong></p>
    <h3><strong>Белки плазмы крови:</strong></h3>
    <ol type="1">
        <li><em>Глобулины</em> (α-, β- и γ-глобулины). α-глобулин связывает тироксин и билирубин, β-глобулин – железо, холестерол и витамины A, D и К, γ-глобулин обеспечивает иммунологические реакции организма, связывая антигены (γ-глобулины обычно называют антителами).</li>
        <li><em>Альбумин</em> – поддержание коллоидно-осмотического давления, придает крови вязкость, связывает присутствующий в крови кальций.</li>
        <li><em>Фибриноген, протромбин</em> – свертывание крови.</li>
    </ol>
    <p><strong>Сыворотка</strong> – плазма крови без белка фибриногена.</p>
    <h3><strong>Форменные элементы крови:</strong> </h3>
    <ol type="I">
        <li>
            <em>Эритроциты (красные кровяные тельца).</em>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li> Безъядерные, имеют вид двояковогнутого диска диаметром 7–8 мкм; толщина эритроцита примерно 1–2 мкм.</li>
                            <li>Образуются в красном костном мозге плоских костей грудины, черепа, в ребрах, позвонках, ключицах и лопатках, в головках длинных трубчатых костей. На стадии эмбриона – в печени и селезенке. Разрушаются в печени и селезенке.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1" start="3">
                            <li>Количество: 4–5⋅10<sup>12</sup>эритроцитов в 1 л крови. (в 1 мм<sup>3</sup> – 4–5 млн). Увеличение количества – эритроцитоз; снижение – эритропения (анемия).</li>
                            <li>Средняя продолжительность жизни – 120 суток.</li>
                            <li>Содержат специфический пигмент – гемоглобин (Hb). В состав входят четыре молекулы гема, которые присоединены к четырем полипептидным цепям глобина и придают крови красный цвет. Каждый гем имеет один атом двухвалентного железа, непрочно связывающий одну молекулу кислорода. В норме в крови содержится 130–160 г/л гемоглобина.</li>
                        </ol>
                    </div>
                    <div class="col">
                        <img src="~/Images/thema36/эротроцит.png" alt="эротроцит" class="rounded" width="100%" height="100%" />
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>
