<div class="container">
    <p><strong>Клеточный цикл (жизненный цикл клетки)</strong> – это период от момента образования клетки до гибели или до образования дочерних клеток.</p>
    <p>
        <strong>Периоды жизненного цикла клеток мышечной и нервной тканей:</strong>
        <ol type="1">
            <li>Период образования клетки в результате деления материнской.</li>
            <li>Период роста.</li>
            <li>Период дифференцировки (приобретает свойство ткани, в которой она находится).</li>
            <li>Период выполнения функций.</li>
            <li>Старение клетки.</li>
            <li>Гибель клетки.</li>
        </ol>
    </p>
    <p>
        <strong>Периоды жизненного цикла клеток эпителиальной и соединительной тканей:</strong>
        <ol type="1">
            <li>Период образования клетки в результате деления материнской.</li>
            <li>Период роста.</li>
            <li>Период дифференцировки (приобретает свойство ткани, в которой она находится).</li>
            <li>Период выполнения функций.</li>
            <li>Подготовка клетки к делению (интерфаза).</li>
            <li>Деление клетки.</li>
        </ol>
    </p>
    <p>Многие специализированные клетки (печень, надпочечники) в обычных условиях не размножаются, но при получении стимула к регенерации (повреждение) подготавливаются к делению и делятся.</p>
    <p><strong>Митотический цикл</strong> – совокупность процессов, протекающих в клетке от одного деления до другого, включая само деление.</p>
    <p>Период в жизнедеятельности клетки от ее образования до начала следующего деления называется <strong>интерфазой.</strong></p>
    <p>
        <strong>Периоды интерфазы:</strong>
        <ol type="1">
            <li>
                <em>Пресинтетический/постмитотический период (G1).</em> Продолжительность: от нескольких часов до нескольких лет и даже десятилетий в зависимости от типа клетки.
                <p>Происходят обменные процессы: синтез РНК, белков-ферментов, АТФ, накопление нуклеотидов ДНК. Клетка растет и выполняет свои обычные функции.</p>
                <p><strong>Набор генетического материала: 2n2с</strong> (2n — диплоидный набор хромосом; 2с — количество сестринских хроматид в наборе).</p>
                <p>Большинство клеток многоклеточного организма встают на путь специализации и после прохождения части G1-периода могут переходить в так называемый период покоя (G0-период). Клетки, пребывающие в G0-периоде, выполняют свои специфические функции в организме, в них протекают процессы обмена веществ и энергии, но не происходит подготовка к репликации. Такие клетки, как правило, навсегда утрачивают способность к делению. Примерами могут служить нейроны, клетки хрусталика глаза и многие другие. Однако некоторые клетки, находящиеся в G0-периоде (например, лейкоциты, клетки печени), могут выходить из него и продолжать клеточный цикл, пройдя все периоды интерфазы и митоз. Так, клетки печени могут снова приобретать способность к делению спустя несколько месяцев пребывания в периоде покоя.</p>
            </li>
            <li>
                <em>Синтетический период (S).</em> Продолжительность: от нескольких минут до 6–12 ч.
                <p>Происходит репликация молекул ДНК (удвоение хроматид), идут обменные процессы (синтез белков, РНК), клетка увеличивается в размерах и продолжает выполнять свои основные функции; удваиваются центриоли. </p>
                <p><strong>Набор генетического материала: 2n4с</strong> (2n — диплоидный набор хромосом; 4с — количество сестринских хроматид в наборе).</p>
            </li>
            <li>
                <em>Постсинтетический/премитотический период (G2).</em> Продолжительность: 3–4 ч.
                <p>Продолжается синтез РНК и белков (преимущественно для построения микротрубочек митотического аппарата), накапливается энергия АТФ, затухают обменные процессы. Клетка постепенно прекращает выполнение своей основной функции, увеличивается вязкость цитоплазмы. Удваиваются органеллы, имеющие ДНК (митохондрии, пластиды).</p>
                <p><strong>Набор генетического материала: 2n4с</strong> (2n — диплоидный набор хромосом; 4с — количество сестринских хроматид в наборе).</p>
                <p>В интерфазу цитоплазма клетки увеличивается в размерах и нарушается ядерно-цитоплазматическое отношение (ЯЦО), что является основной причиной наступления деления клеток.</p>
            </li>
        </ol>
    </p>
    <p><strong>Деление клетки</strong> – основа роста и развития организма, благодаря делению клеток возможна преемственность поколений.</p>
    <p>Деление клеток может быть непрямым (митоз) и прямым (амитоз и бинарное деление).</p>
    <p><strong>Простое (бинарное) деление клетки.</strong> Характерно для прокариот. Бактериальные клетки содержат только одну кольцевую молекулу ДНК (нуклеоид), прикрепленную к клеточной мембране. Перед делением клетки ДНК реплицируется и образуются 2 дочерние молекулы ДНК, каждая из которых прикреплена к клеточной мембране. При делении клетки клеточная мембрана врастает между двумя молекулами ДНК так, что в каждой дочерней клетке оказывается по одной идентичной молекуле ДНК.</p>
    <p><strong>Амитоз</strong> – прямое деление клетки, при котором морфологически сохраняется интерфазное состояние ядра (не происходит спирализация хромосом и не образуется митотический аппарат), поэтому наследственный материал распределяется между дочерними ядрами неравномерно. Ядро делится перетяжкой (на этом деление может закончиться – образуются многоядерные клетки), затем делится цитоплазма (образуются дочерние клетки). </p>
    <p>Амитоз – резервный способ деления (быстрое восполнение количества клеток в организме), является экономичным способом деления (энергетические затраты незначительны). Если клетки поделились амитозом, то митоз у них больше не наблюдается. </p>
    <p>Амитоз как генетически полноценный способ деления наблюдается в клетках печени, хряща, эпителия мочевого пузыря, роговицы глаза.</p>
    <p>Амитоз как генетически неполноценный способ деления наблюдается в старых и опухолевых клетках. </p>
    <p><strong>Митоз</strong> – непрямое деление соматических клеток с диплоидным набором хромосом, в результате которого образуется две генетически идентичные дочерние клетки.</p>
    <p>
        <strong>Разновидности митоза:</strong>
        <ol type="1">
            <li><em>Эндомитоз.</em> Приводит к образованию полиплоидных клеток (имеют несколько наборов хромосом) или многоядерных клеток. Процесс деления заканчивается в анафазе.</li>
            <li><em>Политения.</em> Приводит к образованию гигантских политенных хромосом, которые содержат большое количество молекул ДНК.</li>
            <li><em>Мейоз.</em> Способ образования половых клеток.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Митоз, его биологическое значение.</strong></h3>
    <p><strong>Митоз</strong> – непрямое деление клетки. Открыт в 1874 г. И. Чистяковым. Продолжительность митоза составляет 0,5–3 ч.</p>
    <p>
        <strong>Фазы митоза:</strong>
        <ol type="1">
            <li>
                <strong><em>Профаза. Набор генетического материала: 2n4с</em></strong> (2n — диплоидный набор хромосом; 4с — количество сестринских хроматид в наборе).
                <ul typeof="-">
                    <li>фрагментация и исчезновение ядерной оболочки;</li>
                    <li>увеличение объема ядра;</li>
                    <li>спирализация хроматина (образование гетерохроматина);</li>
                    <li>хромосомы беспорядочно расположены в цитоплазме клетки;</li>
                    <li>исчезновение ядрышек;</li>
                    <li>расхождение центриолей к полюсам;</li>
                    <li>формирование ахроматинового веретена деления;</li>
                    <li>изменение физико-химических свойств гиалоплазмы.</li>
                </ul>
            </li>
            <li>
                <strong><em>Метафаза. Набор генетического материала: 2n4с</em></strong> (2n — диплоидный набор хромосом; 4с — количество сестринских хроматид в наборе).
                <ul typeof="-">
                    <li>спирализация хромосом достигает максимального значения;</li>
                    <li>заканчивается образование веретена деления;</li>
                    <li>хромосомы выстраиваются на экваторе, образуя метафазную пластинку.</li>
                </ul>
            </li>
            <li>
                <strong><em>Анафаза. Набор генетического материала: 2n2с</em></strong> у каждого полюса (2n — диплоидный набор хромосом; 2с — количество сестринских хроматид в наборе).
                <ul typeof="-">
                    <li>хромосомы делятся в области центромеры на 2 хроматиды;</li>
                    <li>нити веретена деления, прикрепленные к центромере, сокращаются;</li>
                    <li>хроматиды расходятся к полюсам клетки.</li>
                    <img src="~/Images/thema47/стадии фазы.png" alt="стадии фазы" class="rounded" width="100%" height="100%" />
                </ul>
            </li>
            <li>
                <strong><em>Телофаза. Набор генетического материала: 2n2с</em></strong> (2n — диплоидный набор хромосом; 2с — количество сестринских хроматид в наборе).
                <ul>
                    <li>распределение ядерного материала;</li>
                    <li>исчезновение нитей митотического аппарата;</li>
                    <li>формирование ядерной оболочки за счет мембран ЭПС;</li>
                    <li>формирование ядрышек в области вторичных перетяжек спутничных хромосом;</li>
                    <li>деспирализация хромосом и превращение их в хроматин (эухроматин);</li>
                    <li>цитокинез (деление цитоплазмы): в животных клетках путем перетяжки, а в растительных – путем построения мембраны, начиная с середины клетки преимущественно из пузырьков комплекса Гольджи.</li>
                </ul>
            </li>
        </ol>
    </p>
    <p>
        <strong>Биологическое значение митоза:</strong>
        <ol type="1">
            <li>Точное распределение хромосом и содержащейся в них генетической информации между дочерними клетками;</li>
            <li>Постоянство кариотипа и генетическая преемственность в многочисленных клеточных поколениях.</li>
            <li>Обеспечивает рост, развитие и восстановление тканей и органов организма.</li>
        </ol>
    </p>
    <h3><strong>Мейоз, его биологическое значение.</strong></h3>
    <p>Открыт В. Флемингом в 1882 г (у животных), Э. Страсбургером в 1888 г (у животных).</p>
    <p><strong>Мейоз</strong> – разновидность митоза, в результате которого из 1 особой соматической клетки половых желез, имеющей диплоидный набор хромосом (2n), образуются 4 половые клетки (у животных и семенных растений) или 4 споры (у споровых растений) с гаплоидным (1n) набором хромосом.</p>
    <p>Мейозу предшествует интерфаза (такая же, как и при митозе). Мейоз состоит из двух последовательных делений:</p>
    <p><strong>Мейоз I</strong> – редукционное деление (уменьшительное).</p>
    <p><strong>Интеркинез</strong> – непродолжительная интерфаза.</p>
    <p><strong>Мейоз II</strong> – эквационное деление (уравнительное).</p>
    <ol type="1">
        <li>
            <strong><em>Профаза I. Набор генетического материала: 2n4с</em></strong> (2n — диплоидный набор хромосом; 4с — количество сестринских хроматид в наборе).
            <ul>
                <li>растворяются ядрышки;</li>
                <li>фрагментация и исчезновение ядерной оболочки;</li>
                <li>формирование веретена деления;</li>
                <li>спирализация хроматина с образованием двухроматидных хромосом</li>
                <li>конъюгация (попарное сближение) гомологичных хромосом;</li>
                <li>кроссинговер (обмен участками гомологичных хромосом); </li>
                <li>расхождение центриолей к полюсам.</li>
            </ul>
        </li>
        <li>
            <strong><em>Метафаза I. Набор генетического материала: 2n4с</em></strong> (2n — диплоидный набор хромосом; 4с — количество сестринских хроматид в наборе).
            <ul>
                <li>спирализация хромосом достигает максимального значения;</li>
                <li>заканчивается образование веретена деления;</li>
                <li>пары гомологичных хромосом выстраиваются на экваторе.</li>
            </ul>
        </li>
        <li>
            <strong><em>Анафаза I. Набор генетического материала: 1n2с</em></strong> у каждого полюса (1n — гаплоидный набор хромосом; 2с — количество сестринских хроматид в наборе).
            <ul>
                <li>гомологичные хромосомы (а не сестринские хроматиды, как при митозе) расходятся к полюсам, следовательно, из каждой пары гомологичных хромосом в дочернюю клетку попадет только одна;</li>
                <li>расхождение каждой пары хромосом носит независимый характер.</li>
            </ul>
        </li>
        <li>
            <strong><em>Телофаза I. Набор генетического материала: 1n2с</em></strong> (1n — гаплоидный набор хромосом; 2с — количество сестринских хроматид в наборе).
            <ul>
                <li>распределение ядерного материала;</li>
                <li>исчезновение нитей митотического аппарата;</li>
                <li>формирование ядерной оболочки за счет мембран ЭПС;</li>
                <li>формирование ядрышек в области вторичных перетяжек спутничных хромосом;</li>
                <li>хромосомы не деспирализуются;</li>
                <li>цитокинез (деление цитоплазмы).</li>
            </ul>
        </li>
    </ol>
    <p>
        <strong>Интеркинез</strong> – короткая интерфаза между мейозом I и мейозом II. Не происходит репликации ДНК. <strong><em>Набор генетического материала: 1n2с</em></strong> (1n — гаплоидный набор хромосом; 2с — количество сестринских хроматид в наборе).
    </p>
    <p>Мейоз II протекает точно также, как и митоз, но имеет некоторые особенности.</p>
    <img src="~/Images/thema47/Интеркинез.png" alt="Интеркинез" class="rounded" width="100%" height="100%" />
    <ol type="1">
        <li>
            <strong><em>Профаза II. Набор генетического материала: 1n2с</em></strong> (1n — гаплоидный набор хромосом; 2с — количество сестринских хроматид в наборе). Не происходит спирализация хромосом.
        </li>
        <li><strong><em>Метафаза II. Набор генетического материала: 1n2с</em></strong> (1n — гаплоидный набор хромосом; 2с — количество сестринских хроматид в наборе). На экваторе располагается гаплоидный набор хромосом. </li>
        <li><strong><em>Анафаза II. Набор генетического материала: 1n1с</em></strong> у каждого полюса (1n — гаплоидный набор хромосом; 1с — количество сестринских хроматид в наборе). Хроматиды, составляющие хромосомы, отделяются друг от друга, и, при сокращении нитей веретена деления, расходятся к полюсам клетки, по достижении которых они называются дочерними хромосомами.</li>
        <li><strong><em>Телофаза II. Набор генетического материала: 1n1с</em></strong> (1n — гаплоидный набор хромосом; 1с — количество сестринских хроматид в наборе). Образуется 2 дочерние клетки с гаплоидным набором хромосом, в каждой хромосоме 1 хроматида (количество хромосом и хроматид уравнивается, поэтому такое деление называется эквационным (уравнительным)). </li>
    </ol>
    <p>
        <strong>Биологическое значение мейоза:</strong>
        <ol type="1">
            <li>Является механизмом образования гамет;</li>
            <li>Обеспечивает постоянство кариотипа и вида при половом размножении;</li>
            <li>Механизм возникновения комбинативной изменчивости (профаза I, анафаза I и II).</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Сходства и отличия между митозом и мейозом.</strong></h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td rowspan="2">Признак</td>
                <td rowspan="2">Митоз</td>
                <td colspan="2">Мейоз</td>
            </tr>
            <tr>
                <td>Мейоз I</td>
                <td>Мейоз II</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Материнская клетка</td>
                <td>Соматическая клетка</td>
                <td colspan="2">Клетка половых желез</td>
            </tr>
            <tr>
                <td>Количество делений</td>
                <td>1</td>
                <td colspan="2">2</td>
            </tr>
            <tr>
                <td>Фазы деления</td>
                <td>Профаза, метафаза, анафаза, телофаза</td>
                <td>Профаза, метафаза, анафаза, телофаза</td>
                <td>Профаза, метафаза, анафаза, телофаза</td>
            </tr>
            <tr>
                <td>Профаза</td>
                <td>Спирализация хромосом</td>
                <td>Спирализация хромосом</td>
                <td>Нет спирализации хромосом</td>
            </tr>
            <tr>
                <td>Генетические процессы в профазе</td>
                <td>Отсутствуют</td>
                <td>Конъюгация и кроссинговер</td>
                <td>Отсутствуют</td>
            </tr>
            <tr>
                <td>Метафаза</td>
                <td>На экваторе клетки диплоидный набор хромосом</td>
                <td>На экваторе клетки пары гомологичных хромосом</td>
                <td>На экваторе клетки гаплоидный набор хромосом</td>
            </tr>
            <tr>
                <td>Анафаза</td>
                <td>К полюсам клетки расходятся хроматиды</td>
                <td>К полюсам клетки расходятся хромосомы</td>
                <td>К полюсам клетки расходятся хроматиды</td>
            </tr>
            <tr>
                <td>Телофаза</td>
                <td>Образуются 2 дочерние клетки с диплоидным набором хромосом</td>
                <td>Образуются 2 дочерние клетки с гаплоидным набором хромосом</td>
                <td>Образуются 4 половые клетки с гаплоидным набором хромосом</td>
            </tr>
        </tbody>
    </table>
</div>
