<div class="container">

</div>
<div class="container">
    <a href=@Url.Action("Test32","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>
