<p>
    <strong>Лист</strong> – боковой пластинчатый наземный вегетативный орган высших растений, образующийся на стебле, имеющий двухстороннюю симметрию, обладающий положительным гелиотропизмом (отрицательным геотропизмом), ограниченным верхушечным ростом.
</p>
<p>
    <strong>Функции листа: </strong>
    <ol type="1">
        <li><em>Фотосинтез</em> – образование из неорганических веществ органических.</li>
        <li><em>Транспирация</em> – удаление избытка воды.</li>
        <li><em>Газообмен</em> – поглощение CО<sub>2</sub> и выделение О<sub>2</sub> на свету, поглощение О<sub>2</sub> и выделение СО<sub>2</sub> в темноте</li>
        <li><em>Запасающая</em> – накопление питательных веществ (лук, капуста) и воды (алоэ).</li>
        <li><em>Защитная</em> – видоизменение в колючки (кактус, барбарис) защищает от поедания животными и активной транспирации.</li>
        <li><em>Видоизменение в ловчий аппарат</em> – улавливание и переваривание насекомых (росянка, пузырчатка, венерина мухоловка).</li>
        <li><em>Опорная (механическая)</em> – укрепление стеблей на субстрате (усики гороха).</li>
        <li><em>Выделительная</em> – выделение фитонцидов (лук, чеснок).</li>
        <li><em>Удаление конечных продуктов обмена </em> – листопад.</li>
        <li><em>Орган вегетативного размножения</em> (фиалка, бегония).</li>
    </ol>
</p>
<div class="container">
    <strong>Компоненты листа:</strong>
    <div class="row ">
        <div class="col">
            <ol type="1">
                <li><em>Основание листа</em> – место крепление листа к стеблю. <em>Функция:</em> соединение листа и стебля.</li>
                <li><em>Черешок</em> – суженная стеблевидная часть листа между основанием и листовой пластинкой; содержит проводящие пучки, способен менять положение. <em>Функции:</em> крепление листа к стеблю; поворот листовой пластинки к свету.</li>
                <li><em>Листовая пластинка</em> – расширенная пластинчатая часть листа. <em>Функции:</em> фотосинтез, транспирация, газообмен.</li>
                <li><em>Прилистники</em> – листовидные образования у основания листа. <em>Функции</em> защита пазушной почки и молодых листьев; фотосинтез (горох, чина); защита от поедания – видоизменены в колючки (акация, карагана).</li>
            </ol>
        </div>
        <div class="row justify-content-center">
            <img src="~/Images/thema11/внешнее строение листа.png" title="внешнее строение листа" />
        </div>
    </div>
</div>
<p>
    <strong>Внешнее строение листа.</strong> Листья очень разнообразны по своим размерам, форме, строению в результате адаптации к разнообразным условиям среды обитания.
</p>
<div class="container">
    <ol type="I">
        <li>
            <strong>По способу прикрепления:</strong>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li><em>Черешковые</em> – состоят из листовой пластинки и черешка (береза, сирень).</li>
                            <li><em>Сидячие</em>– черешок отсутствует (алоэ, традесканция, элодея, жимолость, лен, василек, гвоздика).</li>
                            <li><em>Пронзенные (влагалищные)</em> c <strong>листовое влагалище</strong> (лотос, пшеница, рожь).</li>
                        </ol>
                    </div>
                    <div class="row justify-content-center">
                        <img src="~/Images/thema11/по прикреплению.png" title="Строение листа по преклеплению" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <strong>По очертанию листовой пластинки:</strong>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li><em>Игольчатые</em> (сосна, ель, пихта).</li>
                            <li><em>Округлые</em> (клевер, осина);</li>
                            <li><em>Овальные</em> (вишня, груша);</li>
                            <li><em>Стреловидные</em> (стрелолист);</li>
                            <li><em>Ланцетовидные</em> (ива, лилия);</li>
                            <li><em>Эллипсовидные</em> (крушина ломкая, черемуха, ландыш);</li>
                            <li><em>Яйцевидные</em> (крапива двудомная, яблоня);</li>
                            <li><em>Линейные</em> (тимофеевка, ежа сборная, ячмень, рожь);</li>
                            <li><em>Сердцевидные</em> (сирень, липа).</li>
                        </ol>
                    </div>
                    <div class="row justify-content-center">
                        <img src="~/Images/thema11/по форме.png" title="Внешнее строение листа по очертаниб листовой пластинки" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <strong>По краю листовой пластинки:</strong>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li><em>Цельнокрайние</em> (тополь, сирень);</li>
                            <li><em>Городчатые</em> (шалфей, дуб);</li>
                            <li><em>Зубчатые</em> (крапива, бук);</li>
                            <li><em>Пильчатые</em> (груша, яблоня, береза);</li>
                            <li><em>Выемчатые</em> (фиалка).</li>
                        </ol>
                    </div>
                    <div class="row justify-content-center">
                        <img src="~/Images/thema11/по краю.png" title="строение листа по краю листовой пластинки" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <strong>По изрезанности листовой пластинки:</strong>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li><em>Лопастные</em> – разрез до 1/3 листовой пластинки (клен, дуб); </li>
                            <li><em>Раздельные</em> – разрез от 1/3 до 2/3 листовой пластинки (одуванчик, герань, ветреница, мак);</li>
                            <li><em>Рассеченные</em> – разрез более 2/3 листовой пластинки (полынь, тысячелистник, репейник).</li>
                        </ol>
                    </div>
                    <div class="row justify-content-center">
                        <img src="~/Images/thema11/по изрезанности.png" title="строение листа по изрезоности листовой пластнки" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <strong>По степени сложности:</strong>

            <div class="container">
                <ol type="1">
                    <li><em>Простые</em> – на черешке располагается одна листовая пластинка (береза, ива);</li>
                    <li>
                        <div class="row">
                            <div class="col">

                                <em>Сложные</em> - на черешке располагается более одной листовой пластинки:
                                <ol type="a">
                                    <li><em>тройчатосложные</em> – 3 листовые пластинки (клевер, люцерна, соя);</li>
                                    <li><em>пальчатосложные</em> – несколько листовых пластинок крепятся к вершине черешка (каштан, люпин, земляника);</li>
                                    <li>
                                        <em>перистосложные</em> – листовые пластинки крепятся по всей длине черешка:
                                    </li>
                                </ol>

                            </div>
                            <div class="row justify-content-center">
                                <img src="~/Images/thema11/по степени сложности.png" width="500" title="Строение листа по степени сложности" />
                            </div>
                        </div>
                    </li>
                </ol>
                <ul>
                    <li><u>парноперистые</u> – лист заканчивается парой листовых пластинок (горох, желтая акация);</li>
                    <li><u>непарноперистые</u> – лист заканчивается одной листовой пластинкой (рябина, роза).</li>
                </ul>
            </div>
        </li>
        <li>
            <strong>По жилкованию листовой пластинки:</strong>
            <p>
                Однодольные:
            </p>
            <ol type="1">
                <li><em>Параллельное</em> – жилки расположены вдоль листовой пластинки параллельно друг другу (злаковые растения);</li>
                <li><em>Дуговидное</em> – жилки, расположенные вдоль листа, изгибаются в виде дуги (ландыш, тюльпан, купена. ИСКЛ: подорожник (двудольное растение)).</li>
            </ol>
            <p>
                Двудольные:
            </p>
            <ol type="1">
                <li>
                    <em>Сетчатое</em> (ИСКЛ: вороний глаз (однодольное растение)).
                    <ul>
                        <li><em>пальчатосетчатое</em> – несколько равноценных жилок ветвятся (клен);</li>
                        <li><em>перистосетчатое</em> – главная жилка проходит вдоль листа, являясь продолжением черешка (береза, дуб, калина, липа, примула).</li>
                    </ul>
                </li>
            </ol>
            <img src="~/Images/thema11/по жилкованию.png" title="Строение листа по жикованию" />
        </li>
    </ol>
</div>
<div class="container">
    <p>
        <strong>Листорасположение</strong> – порядок расположения листьев на стебле.
    </p>
    <ol type="1">
        <li><em>Прикорневые розетки</em> – листья крепятся к укороченному стеблю близ корня (земляника, подорожник, одуванчик, фиалка). </li>
        <li><em>Супротивное</em> - листья располагаются на стебле друг напротив друга, от узла отходят два листа (бузина, жасмин, жимолость, крапива, клен, молочай, сирень, яснотка).</li>
        <li><em>Очередное (спиральное)</em> – листья располагаются на стебле поочередно (по спирали), от узла отходит один лист (береза, вишня, груша, ива, колокольчик, липа, подсолнечник, роза, тополь, черемуха).</li>
        <li><em>Мутовчатое</em> - листья располагаются на стебле пучками (мутовками), от узла выходят сразу три и более листьев (бамбук, вербейник, вороний глаз, конопля, олеандр, иван-чай). </li>
    </ol>
    <img src="~/Images/thema11/листорасположение.png" title="Листорасположение" />
    <p>
        При любом варианте листорасположение листовые пластинки близлежащих побегов располагаются в определенной плоскости, для максимального использования света и меньшего затенения листьев – <strong>листовая мозаика.</strong> . Это возможно за счет изгиба черешков листьев и поворота листовых пластинок к свету (настии).
    </p>
</div>
<div class="container">
    <p>
        <strong>Внутреннее строение листа.</strong>
    </p>
    <ol type="I">
        <li>
            <strong>Кожица (эпидермис).</strong> Покрывает лист сверху и снизу, может образовывать волоски или быть покрыта сверху воскоподобным веществом – <strong>кутином</strong> (защита от перегрева и излишней транспирации). Клетки кожицы однослойные, плотно прилегают друг к другу, прозрачные, бесцветные. С нижней стороны листа у листьев, расположенных перпендикулярно солнечным лучам (береза, липа, мать-и-мачеха); с обеих сторон у листьев, расположенных ребром к солнечным лучам (эвкалипт, ирис, осоки, некоторые злаки); на верхней поверхности у водных растений (кувшинки, кубышки) в кожице располагаются <strong>устьица</strong> – парные бобовидные замыкающие клетки, между которыми расположена замыкающая щель. Количество устьиц на 1 мм2 поверхности колеблется от 40 до 300 штук. Характерной особенностью бобовидных замыкающих клеток устьиц является неравномерность утолщения их оболочек. Наружная – тонкая, эластичная, способна растягиваться в противоположную от щели сторону, внутренняя – более толстая, способна менять свое положение в одном направлении с наружной
            <p>
                <strong>Механизм работы устьичного аппарата</strong> – это изменение тургорного давления устьичных клеток:
                <ol>
                    <li>на свету, в замыкающих клетках устьиц происходит фотосинтез, увеличивается концентрация органических веществ, растет осмотическое давление, из соседних клеток поступает вода, которая увеличивает их тургорное давление, эластичные оболочки растягиваются, клетки приобретают бобовидную форму, устьице открывается;</li>
                    <li>в темноте или при недостатке влаги в почве, фотосинтез прекращается, уменьшается осмотическое и тургорное давление, внутренние стенки замыкающих клеток выпрямляются, устьице закрывается.</li>
                </ol>
            </p>
            <p>
                <strong>Функции кожицы:</strong>
                <ol type="1">
                    <li><em>Защитная</em> – предохраняет основную ткань листа от повреждений;</li>
                    <li><em>Транспирация и газообмен</em> – устьица;</li>
                    <li><em>Фотосинтез</em> – устьица – с целью регуляции работы устьичного аппарата.</li>
                    <img src="~/Images/thema11/внутреннее строение.png" title="внутреннеие строение кожеицы" />
                </ol>
            </p>
        </li>
        <li>
            <strong>Мякоть (мезофилл)</strong> – ассимиляционная паренхима, находится между верхней и нижней кожицей, содержит множество хлоропластов.
            <p>
                <strong>Разновидности:</strong>
                <ol type="a">
                    <li><em>столбчатая (палисадная)</em> – вытянутые, плотно прижатые друг к другу клетки, расположенные в 1-2 ряда ближе к верхней поверхности листа, содержит большое количество хлоропластов.<u>Функция:</u> фотосинтез.</li>
                    <li><em>губчатая</em> – клетки неправильной формы, расположены рыхло, залегают в более низких частях мезофилла; содержат мало хлоропластов, между клетками располагаются большие межклеточные пространства (межклетники). <u>Функции:</u> транспирация, газообмен, фотосинтез (в меньшей степени).</li>
                </ol>
            </p>
            <div class="container">
                <div class="row justify-content-center">
                    <strong>Сравнительная характеристика процессов фотосинтеза и дыхания.</strong>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th scope="col"><strong>Признак</strong></th>
                                <th scope="col"><strong>Фотосинтез</strong></th>
                                <th scope="col"><strong>Дыхание</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Органические вещества</td>
                                <td>Образуются</td>
                                <td>Расходуются</td>
                            </tr>
                            <tr>
                                <td>СО<sub>2</sub></td>
                                <td>Поглощается</td>
                                <td>Выделяется</td>
                            </tr>
                            <tr>
                                <td>O<sub>2</sub></td>
                                <td>Выделяется</td>
                                <td>Поглощается</td>
                            </tr>
                            <tr>
                                <td>Энергия</td>
                                <td>Запасается</td>
                                <td>Расходуется</td>
                            </tr>
                            <tr>
                                <td>Условия протекания процесса</td>
                                <td>На свету</td>
                                <td>Постоянно</td>
                            </tr>
                            <tr>
                                <td>Локализация протекания процесса</td>
                                <td>Клетки, содержащие фотосинтезирующие пигменты</td>
                                <td>Все клетки эукариотических организмов</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li>
            <strong>Жилки</strong> Жилки – сосудисто-волокнистые пучки. В состав жилки входят ксилема и флоэма (трахеи/трахеиды, ситовидные трубки с клетками-спутницами/ситовидные клетки, волокна, паренхима (очень мало!!!)). По трахеям в лист поступает вода и минеральные вещества, а по ситовидным трубкам из листа отводятся продукты фотосинтеза. Флоэма ориентирована к нижней стороне листа, ксилема – к верхней. Функции: проводящая и механическая (волокна).
            <div class="row justify-content-center">
                <strong>Листопад и его значение.</strong>
            </div>
            <div class="container">
                <strong>Листопад</strong> – приспособление растений к переживанию неблагоприятных условий существования путем сбрасывания листьев.
                <p>
                    <strong>Классификация растений по продолжительности жизни листьев:</strong>
                    <ol type="1">
                        <li><em>Вечнозеленые</em> – покрыты листьями в течение всего года (растения тропиков: пальма, фикус, маслины, лавр; хвойные (ИСКЛ: лиственница); кустарнички: брусника, клюква, вереск, грушанка, копытень).</li>
                        <li><em>Листопадные</em> – некоторый период времени листья отсутствуют (летне-зеленые/зимне-зеленые).</li>
                        <li><em>Летне-зимне-зеленые</em> – листья меняются весной и осенью, в зиму растение уходит с зелеными листьями (земляника лесная и садовая, кислица).</li>
                    </ol>
                    <strong>Биологическое значение листопада:</strong>
                    <ol type="1">
                        <li>Опавшие листья являются хорошими органно-минеральными удобрениями.</li>
                        <li>Опавшие листья предохраняют корни и осыпавшиеся семена от вымерзания.</li>
                        <li>Летний листопад предохраняет растение от излишней транспирации и вымерзания.</li>
                        <li>Оздоровление растения (сбрасывание балласта «старых» листьев).</li>
                        <li>Предотвращает обламывание ветвей кроны во время снегопада.</li>
                    </ol>
                </p>
            </div>
        </li>
    </ol>
</div>
<div class="container">
    <div class="row justify-content-center">
        <strong>Вегетативное размножение растений.</strong>
    </div>
    <div class="container">
        <strong>Вегетативное размножение</strong> – размножение частями вегетативных органов растения. Совокупность особей, возникших из одной материнской вегетативным путем, называется <strong>клоном.</strong>
    </div>
    <div class="container">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <td scope="col" rowspan="2"><strong>Орган</strong></td>
                    <td scope="col" rowspan="2"><strong>Способ размножения</strong></td>
                    <th scope="col" colspan="2"><strong>Примеры</strong></th>

                </tr>
                <tr>
                    <th scope="col"><strong>Естественное (в природе)</strong></th>
                    <th scope="col"><strong>Искусственное (в хозяйстве)</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" rowspan="4">Корень</td>
                </tr>
                <tr>
                    <td scope="col">
                        <!-- Button trigger modal -->
                        <button type="button" class=" btn btn-link" data-toggle="modal" data-target="#exampleModal">
                            Корневые отпрыски*
                        </button>
                        <!-- end Button trigger modal -->
                    </td>
                    <td scope="col">Тополь, черемуха, осина, одуванчик, бодяк, вьюнок</td>
                    <td scope="col">Слива, вишня, ежевика, малина, сирень, хрен</td>
                </tr>
                <tr>
                    <td scope="col">Корневые клубни</td>
                    <td scope="col">Чистяк, ночная фиалка, клюква</td>
                    <td scope="col">Георгина, батат</td>
                </tr>
                <tr>
                    <td scope="col">
                        <!-- Button trigger modal -->
                        <button type="button" class=" btn btn-link" data-toggle="modal" data-target="#exampleModal1">
                            Корневые черенки**
                        </button>
                        <!-- end Button trigger modal -->
                    </td>
                    <td scope="col">Осот, бодяк, одуванчик</td>
                    <td scope="col">Малина, ежевика, вишня, слива, ирга, флокс</td>
                </tr>
                <tr>
                    <td scope="col" rowspan="8">Побег</td>
                </tr>
                <tr>
                    <td scope="col">
                        <!-- Button trigger modal -->
                        <button type="button" class=" btn btn-link" data-toggle="modal" data-target="#exampleModal2">
                            Усы***
                        </button>
                        <!-- end Button trigger modal -->
                    </td>
                    <td scope="col">Гусиная лапка, клевер, будра, луговой чай, ежевика, лютик, костяника</td>
                    <td scope="col">Клубника, земляника</td>
                </tr>
                <tr>
                    <td scope="col">Корневище</td>
                    <td scope="col">Ветреница, ландыш, купена, крапива, пырей, тысячелистник, тростник</td>
                    <td scope="col">Бамбук, ревень, спаржа</td>
                </tr>
                <tr>
                    <td scope="col">Клубень</td>
                    <td scope="col">Земляной миндаль (сыть)</td>
                    <td scope="col">Картофель, топинамбур</td>
                </tr>
                <tr>
                    <td scope="col">Луковица</td>
                    <td scope="col">Пролеска, гусиный лук, черемша</td>
                    <td scope="col">Лук, чеснок, тюльпан, нарцисс, гиацинт, лилия.</td>
                </tr>
                <tr>
                    <td scope="col">Клубнелуковица</td>
                    <td scope="col">Шафран, дикий гладиолус</td>
                    <td scope="col">Гладиолус, безвременник, крокус</td>
                </tr>
                <tr>
                    <td scope="col">Стеблевые черенки</td>
                    <td scope="col">Ива, тополь, рябина</td>
                    <td scope="col">Пеларгония, традесканция, колеус, слива, смородина, крыжовник</td>
                </tr>
                <tr>
                    <td scope="col">
                        <!-- Button trigger modal -->
                        <button type="button" class=" btn btn-link" data-toggle="modal" data-target="#exampleModal3">
                            Отводки****
                        </button>
                        <!-- end Button trigger modal -->
                    </td>
                    <td scope="col">Ель, пихта, скумпия</td>
                    <td scope="col">Крыжовник, смородина, виноград, шелковица</td>
                </tr>
                <tr>
                    <td scope="col">Лист</td>
                    <td scope="col">Листовые черенки</td>
                    <td scope="col">Сердечник луговой</td>
                    <td scope="col">Бегония, фиалка, глоксиния, лилия, щучий хвост, лимон</td>
                </tr>
                <tr>
                    <td scope="col">Укорененными вегетативными органами</td>
                    <td scope="col">Деление куста</td>
                    <td scope="col">Полынь, борщевик, одуванчик, ковыль</td>
                    <td scope="col">Пион, флокс, дельфиниум, ревень, малина</td>
                </tr>
                <tr>
                    <td scope="col">Культура тканей</td>
                    <td scope="col">Выращивание на питательных средах</td>
                    <td scope="col">-</td>
                    <td scope="col">Земляника</td>
                </tr>
                <tr>
                    <td scope="col" rowspan="4">
                        <!-- Button trigger modal -->
                        <button type="button" class=" btn btn-link" data-toggle="modal" data-target="#exampleModal4">
                            Прививка*****
                        </button>
                        <!-- end Button trigger modal -->
                    </td>
                </tr>
                <tr>
                    <td scope="col">Аблактировка (сближение)</td>
                    <td scope="col">-</td>
                    <td scope="col">Виноград, особи при отдаленной гибридизации</td>
                </tr>
                <tr>
                    <td scope="col">Копулировка (черенком: в расщеп, под кору)</td>
                    <td scope="col">-</td>
                    <td scope="col">Яблоня, груша, пасленовые, тыквенные</td>
                </tr>
                <tr>
                    <td scope="col">Окулировка (глазком)</td>
                    <td scope="col">-</td>
                    <td scope="col">Плодовые культуры</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <p>
        <strong>Значение вегетативного размножения:</strong>
    </p>
    <p>
        <strong>I. Биологическое.</strong>
        <br />
        <u>Положительное:</u>
        <ol type="1">
            <li>Быстрое расселение и захват новых территорий.</li>
            <li>Мощная корневая система обеспечивает питание молодым растениям.</li>
        </ol>
        <u>Отрицательное:</u>
        <ol type="1" start="3">
            <li>При многократном повторении происходит быстрое «старение» исходного материала (снижается устойчивость растений к неблагоприятным условиям, особенно в изменяющихся условиях существования).</li>
        </ol>
    </p>
    <p>
        <strong>II. Хозяйственное:</strong>
        <ol type="1">
            <li>Обеспечивает сохранение сортов культурных растений.</li>
            <li>Быстрое повышение урожайности культурных растений.</li>
        </ol>
    </p>
</div>




<!-- Modal Корневые отпрыски -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">*Корневые отпрыски </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Корневые отпрыски</strong> – растения, развивающиеся из придаточных почек на корнях вокруг пней спиленных деревьев. <strong>Корнеотпрысковые растения</strong> – растения, образующие придаточные корни и побеги на корнях (используются для закрепления песков, склонов оврагов, т.к. приостанавливают разрушение почвенного слоя (эрозию почвы); нельзя высаживать в полезащитных полосах (внедряются в посевы)).
            </div>
        </div>
    </div>
</div>

<!-- Modal Черенок -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">**Черенок  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>**Черенок</strong> – любая часть вегетативного органа.
            </div>
        </div>
    </div>
</div>

<!-- Model Усы (ползучие побеги) -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">***Усы (ползучие побеги)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>***Усы (ползучие побеги)</strong> – в узлах ползучих побегов развиваются вертикальные побеги и придаточные корни. Размножение ползучими побегами способствует очень быстрому захвату территории этими растениями, а также закреплению песков, торфоразработок, горных отвалов.
            </div>
        </div>
    </div>
</div>

<!-- Model Отводки-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">****Отводки </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>****Отводки </strong> – отделенные от растения укоренившиеся боковые побеги. Низко расположенные ветви дерева или кустарника при соприкосновении с почвой или присыпанные землей способны в узлах формировать корневую систему и давать побеги.
            </div>
        </div>
    </div>
</div>

<!--Model Метод прививки -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">*****Метод прививки </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>*****Метод прививки </strong>заключается в сращении одного растения (в виде черенка или почки) с другим растение, сидящим корнями в почве. <strong>Подвой</strong> – укорененное растение. <strong>Привой</strong> – черенок или почка (глазок).
                <p>
                    <strong><u>Обязательное условие:</u></strong> камбий привоя и подвоя должны совпадать.
                </p>
                <p>
                    <strong>Разновидности прививки:</strong>
                    <ol type="1">
                        <li><em>Окулировка</em> – пересадка почки одного растения (привой) на другое (подвой) укорененное растение.</li>
                        <li>
                            <em>Копулировка</em> - пересадка черенка одного растения (привой) на другое (подвой) укорененное растение.
                            <ol type="a">
                                <li><em>прививка вприклад (аблактировка).</em> Используется при равенстве толщины стеблей привоя и подвоя.</li>
                                <li><em>прививка в расщеп.</em> Используется при неравенстве толщины стеблей привоя и подвоя.</li>
                                <li><em>прививка под кору.</em> Подведение черенка в разрез под кору.</li>
                            </ol>
                        </li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>
<a href=@Url.Action("Test11","Test")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>