<div class="container">
    <p>
        <strong>Анатомия человека</strong> (от греч. anatomio – рассекаю) – наука, изучающая строение человеческого организма, его органов и систем, их форму, расположение и внутреннее строение.
    </p>
    <p>
        <em>Разделы анатомии:</em>
        <ol type="1">
            <li>Нормальная анатомия (изучает строение организма здорового человека);</li>
            <li>Топографическая анатомия (изучает взаимное расположение органов в организме);</li>
            <li>Патологическая анатомия (изучает изменения в строении органов и тканей при болезнях).</li>
        </ol>
    </p>
    <p>
        <em>Методы исследования:</em>
        <ol type="1">
            <li>Вскрытие и препарирование (послойное исследование) трупов;</li>
            <li>Исследование замороженных тканей (точное описание органов);</li>
            <li>Антропометрический (измерение различных органов и частей тела);</li>
            <li>Гистологический (микроскопическое изучение тканей и органов);</li>
            <li>Рентгенографический и рентгеноскопический (изучение внутреннего строения органов живого человека с помощью рентгеновских лучей);</li>
            <li>Ультразвуковое исследование и компьютерная томография (изучение внутреннего послойного строения органов живого человека с помощью ультразвука и рентгеновских лучей).</li>
        </ol>
    </p>
    <p>
        <em>Ученые-анатомы:</em>
        <ol type="1">
            <li>Гиппократ (460–377 гг. до н.э.) - «отец медицины», сформулировал учение о четырех основных типах телосложения и темперамента, описал некоторые кости крыши черепа.</li>
            <li>Древнеримский врач Клавдий Гален (131–201 гг. н.э.) описал 7 пар черепных нервов, соединительную ткань и нервы в мышцах, кровеносные сосуды в некоторых органах, надкостницу, связки.</li>
            <li>Итальянский ученый А. Везалий (1514–1564) – основоположник научной анатомии, используя собственные наблюдения, сделанные при вскрытии трупов, написал труд «О строении человеческого тела».</li>
            <li>Итальянский биолог и врач М. Мальпиги (1628–1694), открыл в 1661 г. с помощью микроскопа кровеносные капилляры.</li>
            <li>Французский врач М. Биш (1771–1802) «Общая анатомия в ее приложении к физиологии и медицине», в котором изложено учение о тканях, органах и системах.</li>
            <li>Русский хирург Н.И. Пирогов (1810–1881) – открытие и разработка оригинального метода исследования тела человека на распилах замороженных трупов с целью изучения взаимоотношений органов между собой и со скелетом (книга «Топографическая анатомия»).</li>
            <li>Русский анатом П. Лесгафт (1837–1909) – функциональная анатомия и теория физического воспитания</li>
        </ol>
    </p>
    <p>
        <strong>Физиология человека</strong> (от греч. physis – природа и logos –учение) – это наука, изучающая функции и процессы жизнедеятельности организма, его тканей, органов и систем и механизмы их регуляции.
    </p>
    <p>
        <em>Разделы физиологии:</em>
        <ol type="1">
            <li>
                Общая (общие закономерности протекания жизнедеятельности);
                <ol type="a">
                    <li>нормальная физиология (изучает жизнедеятельность здорового организма);</li>
                    <li>патологическая физиология (изучает изменения жизнедеятельности организма при болезнях);</li>
                </ol>
            </li>
            <li>
                Частная (физиология отдельных систем органов (кровообращения, пищеварения и т. д.)).
            </li>
        </ol>
    </p>
    <p>
        <em>Методы физиологии:</em>
        <ol type="1">
            <li>Наблюдение, описание и сравнение;</li>
            <li>Эксперимент: острый (производится на изолированных органах с целью получения «чистых результатов» исследуемых процессов и заканчивается смертью животного), хронический (наблюдение и регистрация основных показателей процессов жизнедеятельности в динамике и не приводит к смерти животного);</li>
            <li>Подавление функции организма вплоть до ее выключения, стимуляция функций;</li>
            <li>Графическая регистрация электрических потенциалов (позволяет получить объективную запись изучаемого процесса) – электроэнцефалография (запись биотоков головного мозга), электрокардиография (запись биотоков сердца), электромиография (запись биотоков мышечной ткани), термография (получение теплофотографий);</li>
            <li>Рентгеноскопический (изучение функциональных возможностей органов с использованием рентгеновских лучей);</li>
            <li>Эндоскопический (осмотр и фотографирование внутренних органов с помощью оптических приборов);</li>
            <li>Радиографический (введение радиоактивных веществ и обнаружение с их помощью изменений функционирующих органов);</li>
            <li>Биохимические (изучение молекулярных механизмов физиологических процессов).</li>
        </ol>
    </p>
    <p>
        <em>Ученые-физиологи:</em>
        <ol type="1">
            <li>Английский врач В. Гарвей (1578–1657) – книга «Анатомическое исследование о движении сердца и крови у животных» (1628 г).</li>
            <li>Р. Декарт (XIII век) – гипотеза о рефлексе (мигание на прикосновение), ввел понятие «рефлекс»;</li>
            <li>Русский ученый И.М. Сеченов (1829–1905) установил рефлекторный характер деятельности головного мозга.</li>
            <li>Русский ученый И.П. Павлов (1849–1936) сделал открытия в различных разделах физиологии – кровообращении, пищеварении и изучении работы больших полушарий головного мозга.</li>
        </ol>
    </p>
    <p>
        <strong>Гигиена</strong> (от греч. hugienos – здоровый) – это наука, изучающая влияние различных факторов среды и производственной деятельности на организм человека.
    </p>
    <p>
        <em>Разделы гигиены:</em>
        <ol type="1">
            <li>
                Общая гигиена (изучает общие гигиенические закономерности);
                <ol type="a">
                    <li>Гигиена труда (изучает условия труда для профилактики профессиональных заболеваний);</li>
                    <li>Гигиена питания (наука о рациональном питании);</li>
                    <li>Гигиена детей и подростков (факторы внешней среды, влияющие на здоровье детей);</li>
                </ol>
            </li>
            <li>Частная гигиена (гигиена отдельных систем органов (зрения, слуха, дыхания).</li>
        </ol>
    </p>
    <p>
        <em>Задачи гигиены:</em>
        <ol type="1">
            <li>Изучение влияния среды на здоровье и трудоспособность населения и разработка соответствующих оздоровительных мероприятий;</li>
            <li>Разработка средств и способов, направленных на повышение сопротивляемости организма неблагоприятным влияниям окружающей среды, на улучшение состояния здоровья и физического развития, повышение работоспособности.</li>
            <li>Гигиеническая оценка окружающей среды и анализ реакций организма на ее воздействие.</li>
        </ol>
    </p>
    <p>
        <em>Методы гигиены:</em>
        <ol type="1">
            <li>Гигиеническое обследование для изучения гигиенического состояния объектов окружающей среды (жилищ, водоисточников).</li>
            <li>Экспериментальный метод, включает различные лабораторные исследования, результаты которых сравнивают с соответствующими гигиеническими нормами (гигиеническое нормирование).</li>
            <li>Физиологические, клинические и биохимические методы оценивают непосредственное влияние внешних факторов на организм человека.</li>
            <li>Статистический метод, применяется для анализа заболеваемости, физического развития и других показателей здоровья населения.</li>
        </ol>
    </p>
    <p>
        <em>Ученые- гигиенисты:</em>
        <ol type="1">
            <li>Гиппократ дал систематическое описание природных условий, показал их влияние на здоровье и подчеркнул важность санитарных мероприятий в предупреждении болезней (трактат «О воздухах, водах и местностях»</li>
            <li>Немецкий ученый М. Петтенкофер (1818–1901), основоположник гигиенической науки, ввел в гигиену экспериментальный метод, благодаря чему она превратилась в науку, располагающую объективными способами исследования.</li>
            <li>Русский ученый Ф. Эрисман (1842–1915) занимался изучением школьной, профессиональной гигиены и гигиены питания.</li>
            <li>Русский ученый Н. Семашко (1874–1949) разработал теоретические и практические положения гигиенической науки и санитарной практики.</li>
        </ol>
    </p>
</div>
<div class="container">
    <a href=@Url.Action("Test29","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>