<div class="container">
    <div class="container">
        <p>
            <strong>Классы и представители:</strong>Надкласс Рыбы включает 2 класса: Хрящевые рыбы (акулы, скаты) и Костные рыбы (австралийский рогозуб, американский чешуйчатник, африканский протоптерус, латимерия, белуга, осетр, севрюга, стерлядь, кета, горбуша, семга, форель, атлантическая, тихоокеанская, балтийская (салака) сельди, килька, сардина, анчоус, плотва, лещ, линь, сазан, язь, серебряный карась, белый и пестрый толстолобики, сырть, усач, хариус, голец)
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Количество видов:</strong> около 25000 видов.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Среда обитания:</strong> моря, океаны, реки, озера, пруды и болота. Обитают в толще воды, на дне водоемов на различных глубинах, а также в прибрежной растительности.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Образ жизни:</strong> свободноживущие.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Вторичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная.</strong>
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Основные ароморфозы:</strong>
            <ol type="1">
                <li>Обтекаемая форма тела;</li>
                <li>Многослойный эпидермис;</li>
                <li>Плавники (парные и непарные);</li>
                <li>Чешуя (костная или плакоидная);</li>
                <li>Органы дыхания – жабры;</li>
                <li>Боковая линия;</li>
                <li>Плавательный пузырь;</li>
                <li>Двухкамерное сердце;</li>
                <li>Один круг кровообращения;</li>
                <li>Эритроциты (содержат ядро);</li>
                <li>Наружное осеменение.</li>
            </ol>
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Внешнее строение.</strong> Тело имеет обтекаемую форму и разделено на отделы: голова, туловище, хвост. Органы движения – 7 плавников (парные – <em>грудные и брюшные,</em> обеспечивающие повороты тела, остановку, погружение и всплытие, сохранение равновесия; непарные – <em>спинной и анальный,</em> обеспечивающие устойчивость тела, и <em>хвостовой</em> – обеспечивающий движение.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Покровы тела.</strong> Кожа, состоящая из <em>многослойного</em> эпидермиса и дермы. Производные кожи: костная или плакоидная чешуя и <em>одноклеточные</em> железы, выделяющие слизь.
        </p>
        <p>
            <em>Плакоидная чешуя –</em> округлая пластинка с шипом, вершина которого выдается через эпидермис наружу. Чешуя состоит из дентина, образованного клетками дермы. Вершину шипа покрывает чехлик из эмали, образуемой клетками эпидермиса (хрящевые рыбы).
        </p>
        <p>
            <em>Костная чешуя</em> –тонкие плоские костные пластинки, погруженные передней частью в кожные карманы; задней выступающей частью они черепицеобразно накладываются друг на друга. Чешуи имеют годичные кольца, по которым можно определить возраст рыбы (костные рыбы).
        </p>
        <p>
            Пигментные клетки располагаются в коже и обусловливают окраску тела, зависящую от места обитания рыбы: у обитателей толщи воды она серебристая, у живущих в водной растительности – зеленоватая, у обитателей дна – бурая. У ядовитых рыб возможна предостерегающая окраска, изменяющаяся в период нереста.
        </p>
    </div>
    <div class="centered">
        <img src="~/Images/thema24/рыба .png" width="50%" height="50%" />
    </div>
    <div class="container">
        <p>
            <strong>Опорно-двигательная система.</strong> Скелет хрящевой или костный, состоит из трех отделов: скелет головы, скелет туловища и скелет конечностей и их поясов.
        </p>
    </div>
    <div class="container">
        <p>
            <ol type="I">
                <li><em>Скелет головы – череп,</em> состоит из лицевого (висцерального) и мозгового отделов. Мозговой отдел черепа защищает головной мозг и органы чувств, а лицевой связан с пищеварительной и дыхательной системами. Лицевой отдел имеет в своем составе верхнюю челюсть, подвижную нижнюю челюсть, жаберные дуги и жаберные крышки.</li>
                <li><em>Скелет туловища –позвоночник,</em> состоит из 2 отделов: <em>туловищного и хвостового.</em> Позвонки состоят из тела, верхних дуг, образующих позвоночный канал, и верхнего остистого отростка. Туловищные позвонки в отличие от хвостовых не имеют нижнего остистого отростка, к ним присоединяются ребра.</li>
                <li><em>Скелет конечностей</em> – костные или хрящевые лучи плавников и кости пояса парных плавников – плечевого и тазового, не имеющих сочленения с позвоночником. </li>
            </ol>
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Мускулатура</strong> туловища сегментирована, образована двумя мышечными лентами, лежащими по бокам тела.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Пищеварительная система.</strong> <em>Ход пищеварительной трубки:</em> рот – глотка – пищевод – желудок – тонкий кишечник – толстый кишечник – анальное отверстие.
        </p>
        <p>
            Рот, ограничен челюстями, на которых расположены однородные многочисленные зубы (у хищников). Стенка глотки пронизана жаберными щелями. Анальное отверстие расположено на границе туловищного и хвостового отделов тела. Имеются <em>печень, желчный пузырь и поджелудочная железа. </em>
        </p>
    </div>
</div>
<div class="container">
    <p>
        <strong>Гидростатический аппарат.</strong> <em>Плавательный пузырь</em> – тонкостенный мешкообразный вырост пищевода, заполненный смесью газов. Если плавательный пузырь сохраняет сообщение с пищеводом на протяжении всей жизни, то такие рыбы называются открытопузырными (сельдь, лещ, сазан); если утрачивает связь на стадии личинки – закрытопузырными (окунь). <u>Функции плавательного пузыря: </u> гидростатическая (уравнивает относительную плотность тела рыбы с плотностью воды), а также является резонатором звуков и участвует в газообмене (у некоторых рыб).
    </p>
    <p class="centered">
        <img src="~/Images/thema24/рыба 2.png" />
    </p>
    <p>
        <strong>N.B.!!! </strong> Хрящевые рыбы плавательного пузыря не имеют, поэтому, чтобы не опуститься на дно, они находятся в постоянном движении.
    </p>
</div>
<div class="container">
    <p>
        <strong>Выделительная система.</strong> Органы выделения: первичные (туловищные) почки. <em>Строение мочевыделительной системы:</em> почки – мочеточники- мочевой пузырь – мочеиспускательный канал – мочевыделительное отверстие (уретра). Основной продукт обмена пресноводных рыб <em>– аммиак </em> (аммониотелические животные), у морских <em>– мочевина</em> (уреотелические животные).
    </p>
    <p>
        В выведении вредных продуктов жизнедеятельности, поддержании постоянства внутренней среды организма и регуляции водно-солевого обмена у рыб участвуют также жабры и кишечник.
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Кровеносная система.</strong> Замкнутая. Один круг кровообращения. Двухкамерное сердце, состоит из одного предсердия, одного желудочка и содержит венозную кровь. Впервые появляются эритроциты, содержащие ядро.
            </p>
            <p>
                <em>Последовательность движения крови по сосудам:</em> Желудочек (венозная кровь) – брюшная аорта (венозная кровь) - жаберные артерии (венозная кровь) – капилляры жаберных лепестков (происходит газообмен: +O2, -CO2) – спинная аорта (артериальная кровь) – капилляры органов и тканей (происходит газообмен: - O2, +CO2) – 4 кардинальные вены (венозная кровь) – предсердие.
            </p>
        </div>
        <div class="col text-center">
            <img src="~/Images/thema24/кровеносная система.png" class="rounded" width="100%" height="100%" />
        </div>
    </div>
    <p>
        Рыбы – пойкилотермные животные, цвет крови красный (эритроциты содержат гемоглобин), у антарктических рыб кровь бесцветная, так как эритроциты и гемоглобин отсутствуют.
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Дыхательная система.</strong> Органы дыхания <em>– жабры,</em> состоящие из жаберных дуг, на каждой из которых с одной стороны находятся жаберные лепестки, пронизанные кровеносными капиллярами (отвечают за газообмен), а с другой – жаберные тычинки (цедильный аппарат). У костных рыб снаружи жабры прикрыты жаберными крышками, у хрящевых рыб жаберные крышки отсутствуют. У двоякодышащих рыб развиты примитивные легкие.
            </p>
        </div>
        <div class="col text-center">
            <img src="~/Images/thema24/Дыхательная система.png" class="rounded" width="100%" height="100%" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Нервная система.</strong> <em>Трубчатого типа.</em> Центральная нервная система состоит из головного и спинного и мозга. Головной мозг расположен в мозговом отделе черепа и состоит из 5 отделов: переднего и обонятельных долей, промежуточного, среднего, заднего (мозжечок) и продолговатого. Наибольшего развития достигает средний мозг, содержащий центры зрения, и мозжечок, координирующий сложные движения рыб. Передний мозг регулирует движение и поведение рыб, обонятельные доли содержат центры обоняния. Промежуточный мозг регулирует обмен веществ и сезонные явления в жизни рыб. Продолговатый мозг участвует в регуляции функций различных систем органов.
            </p>
            <p>
                Спинной мозг имеет вид цилиндрического тяжа с полостью внутри и находится в позвоночном канале.
            </p>
            <p>
                Периферическая нервная система содержит 10 пар черепно-мозговых нервов (зрительный, обонятельный, слуховой, боковой линии и др.) и спинномозговые нервы, иннервирующие скелетные мышцы.
            </p>
        </div>
        <div class="col">
            <div class="row">
                <img src="~/Images/thema24/нервная система.png" class="rounded  mx-auto d-block" width="60%" height="60%" />
            </div>
            <div class="row">
                <p class="picture_framing">
                    Строение головного мозга: 1 –обонятельные доли; 2 – передний мозг; 3 – промежуточный мозг; 4 – средний мозг; 5 – задний мозг (мозжечок); 6 – продолговатый мозг
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p>
        <strong>Органы чувств.</strong> Орган зрения – глаза, имеющие <em>шаровидный хрусталик и плоскую роговицу. Аккомодация</em> (настройка резкости) достигается благодаря перемещению хрусталика относительно сетчатки. Для костных рыб характерно цветовое зрение.
    </p>
    <p>
        Органы обоняния – парные, слепо замкнутые обонятельные мешки, сообщающиеся с внешней средой двумя отверстиями –ноздрями и выстланные обонятельным эпителием.
    </p>
    <p>
        Орган осязания – рецепторы кожи, орган вкуса – вкусовые почки слизистой оболочки ротовой полости.
    </p>
    <p>
        Орган слуха <em>– внутреннее ухо, не связанное с внешней средой.</em>
    </p>
    <p>
        Орган сейсмосенсорного чувства (воспринимает раздражения, связанные и колебаниями воды) – <em>боковая линия</em> – канал в толще кожи по бокам тела, сообщающийся с внешней средой рядом отверстий и содержащий чувствительные клетки (механорецепторы), связанные с нервами, идущими вдоль каналов.
    </p>
</div>
<div class="container">
    <p>
        <strong>Половая система.</strong> Рыбы в основном раздельнополые, выражен половой диморфизм. Половая система чаще парная: самка (1 или 2 яичника, в которых развиваются икринки), самец (2 семенника, в которых в период размножения образуются молоки со сперматозоидами).
    </p>
    <p>
        Размножение половое. Костные рыбы: осеменение у большинства видов наружное. Развитие с неполным метаморфозом – личинка <strong>(малек)</strong>.  Хрящевые рыбы: оплодотворение внутреннее, живорождение.
    </p>
    <p>
        Яйцеживорождение (гупии, молинезии, меченосцы) отличается от настоящего живорождения выметыванием икры с вполне сформированной личинкой.
    </p>
    <p>
        Поведение рыб обусловлено совокупностью условных и безусловных рефлексов. Особенно сложным оно может быть в период размножения – <em>нереста</em> (процесса оплодотворение икры молоками самцов). <em>Проходные рыбы</em> – рыбы, которые для размножения мигрируют из морей в пресные водоемы (кета, горбуша) или, наоборот, из пресных водоемов в моря (речной угорь).
    </p>
</div>
<div class="container">
    <div class="centered">
        <p>
            <strong>Многообразие рыб.</strong>
        </p>
    </div>
    <p>
        <strong><em>Хрящевые рыбы (акулы, скаты). </em></strong>Характеристика: в течение всей жизни имеют хрящевой скелет и плакоидую чешую, жаберные крышки и плавательный пузырь отсутствуют; по бокам головы имеется 5–7 пар жаберных щелей; парные плавники расположены горизонтально; хвостовой плавник неравнолопастной (верхняя лопасть больше); передняя часть головы вытянута в удлиненное рыло; рот в виде поперечной щели расположен на брюшной стороне; внутреннее осеменение, размножение откладкой яиц, яйцеживорождением или живорождением.
    </p>
    <p>
        <em>Надотряд Акулы</em> (их около 250 видов). Особенности: торпедообразная форма тела; в основном хищники, их челюсти окружены острыми зубами; добычу акулы находят за счет развитого обоняния, восприятия вибрации воды и электромагнитных волн; есть виды, питающиеся планктоном.
    </p>
    <p>
        <em>Надотряд Скаты</em> (около 340 видов). Особенности: тело уплощено в спинно-брюшном направлении; грудные плавники сильно увеличены; жаберные щели находятся на брюшной стороне; зубы в виде небольших призм собраны в терку; питаются рыбой и донными беспозвоночными.
    </p>
    <p>
        <strong><em>Класс Костные рыбы (более 20 тыс. видов).</em></strong> Характеристика: костная чешуя; внутренний скелет костный или хрящевой, укрепленный накладными костями; жаберные крышки и плавательный пузырь; наружное осеменение.
    </p>
    <p>
        <em>Надотряд Двоякодышащие</em> (австралийский рогозуб, американский чешуйчатник, африканский протоптерус). Особенности: кроме жабр имеют одно или два легких – полые выросты брюшной стенки пищевода (способны к жизни в пересыхающих водоемах); ноздри сквозные, есть хоаны; намечается разделение предсердия и появление легочного круга кровообращения; хорда сохраняется в течение всей жизни.
    </p>
    <p>
        <em>Надотряд Кистеперые рыбы</em> (латимерия). Особенности: размеры тела крупные (до 150 см); хорошо развита хорда; плавательный пузырь редуцирован, по происхождению напоминает легкие двоякодышащих рыб; яйцеживородящие; скелет парных плавников напоминает кости парных конечностей наземных позвоночных.
    </p>
    <p>
        <em>Отряд Осетрообразные</em> (белуга, осетры, севрюга, стерлядь). Особенности: крупные проходные и озерно-речные рыбы; рот в виде поперечной щели, есть рыло, горизонтальные парные плавники, неравнолопастной хвост; основу скелета составляет хрящ, снаружи череп покрыт плоскими костями, на туловище и хвосте – 5 рядов накладных костных ромбических пластинок. Являются ценными промысловыми рыбами, источником мяса и черной икры.
    </p>
    <p>
        <em>Отряд Лососеобразные</em> (кета, горбуша, семга, форель, голец, хариус). Особенности: проходные и пресноводные рыбы, обитающие в Северном полушарии; имеют жировой плавник (лишен костных лучей); размножаются в верховьях рек; самка откладывает небольшое количество крупных красных икринок в ямку, вырытую на дне водоема, самец поливает икру молоками; характерна забота о потомстве. Являются ценными промысловыми рыбами, источником мяса и красной икры.
    </p>
    <p>
        <em>Отряд Сельдеобразные</em> (атлантическая, тихоокеанская, балтийская (салака) сельди, кильки, сардины, анчоусы). Особенности: морские стайные планктоноядные рыбы, обитающие вблизи берегов; тело сжато с боков, серебристого цвета, покрыто легко опадающей чешуей; зубы мелкие или отсутствуют; большое количество мелкой, липкой икры откладывают на грунт или водоросли. Являются промысловыми видами.
    </p>
    <p>
        <em>Отряд Карпообразные</em> (плотва, лещ, линь, сазан, язь, серебряный карась, белый и пестрый толстолобики, сырть, усач). Особенности: пресноводные костные рыбы, не имеющие челюстных зубов (они расположены в глотке на последней жаберной дуге). Многие виды имеют промысловое значение, их разводят в прудовых хозяйствах.
    </p>
</div>
<div class="container">
    <div class="centered">
        <strong>Значение рыб.</strong>
    </div>
    <p>
        <ol type="1">
            <li>Компоненты биогеоценозов, звенья пищевых сетей.</li>
            <li>Рыбы – объект промысла (добыча и разведение в прудовых хозяйствах карпа, толстолобиков, белого амура, форели, щуки); источники сырья для промышленности и продуктов питания для человека (мясо, икра, печень).</li>
            <li>Эстетическое значение (аквариумные рыбки).</li>
            <li>Карп (зеркальный, чешуйчатый, голый) – одомашненная форма сазана.</li>
            <li>В Красную книгу Республики Беларусь занесены сырть, усач, стерлядь, ручьевая форель, европейский хариус.</li>
        </ol>
    </p>
</div>