<div class="container">
    <p><strong>Жизнь</strong> – способ существования открытых коллоидных систем, обладающих свойствами самовоспроизведения, саморегуляции и самообновления на основе совместного функционирования сложных комплексов биополимеров (белков и нуклеиновых кислот), вследствие преобразования поступивших из внешней среды веществ и заключенной в них энергии.</p>
    <p>
        <strong>Гипотезы происхождения жизни на Земле:</strong>
        <ol type="1">
            <li><strong>Гипотеза креационизма</strong> (от лат. creatio – сотворение) предполагает сотворение жизни сверхъестественным существом – <em>Творцом.</em> Процесс божественного сотворения мира мыслится как имевший место лишь однажды и поэтому недоступный для наблюдения, соответственно данная гипотеза никогда не сможет быть окончательно доказанной или опровергнутой.</li>
            <li><strong>Гипотеза стационарного состояния (этернизма)</strong> (от лат. eternus – вечный). Земля и жизнь на ней никогда не возникала, а существовала вечно. Выдвинута немецким ученым <em>В. Прайером</em> (1880 г.) и поддерживалась <em>В.И. Вернадским.</em> Сторонники этой гипотезы предполагали, что живое могло происходить только от живого <em>(гипотеза биогенеза).</em> В настоящее время хорошо известно, что Земля длительное время была необитаема.</li>
            <li>
                <strong>Гипотеза панспермии.</strong> Появление жизни на Земле в результате переноса с других планет зародышей жизни. Предложена немецким ученым <em>Г. Рихтером</em> (1865 г.) и поддержана физиками <em>Г. Гельмгольцем, С. Аррениусом и др.</em> Согласно их представлениям, споры бактерий и других организмов могли быть занесены на Землю метеоритами, космической пылью, давлением световых лучей.
                <p>В последнее время доказана высокая устойчивость живых организмов к неблагоприятным воздействиям, и, в частности, к низким температурам. Исходя из универсальности генетического кода английский биофизик <em>Ф. Крик</em> поддерживает гипотезу панспермии, но считает, что жизнь на Землю занесена космическими пришельцами. </p>
                <p>Эта гипотеза представляет интерес с точки зрения существования жизни на других планетах, но она не дает ответа на вопрос о ее происхождении.</p>
            </li>
            <li>
                <strong>Гипотеза самозарождения.</strong> Жизнь возникала неоднократно из неживого вещества: источником спонтанного самозарождения служат либо неорганические соединения, либо гниющие органические остатки <em>(концепция абиогенеза).</em>
                <p>Такие идеи были распространены в древнем Китае, Вавилоне и Египте. Сторонником теории самопроизвольного зарождения живого был древнегреческий философ и ученый  <em>Аристотель</em> (384–322 гг. до н. э.), предполагавший, что насекомые и лягушки могут заводиться в сырой почве. В дальнейшем в качестве доказательств сторонники этих гипотез приводили многочисленные примеры появления микроорганизмов, плесневых грибов и личинок мух на портящихся продуктах и нечистотах. </p>
                <p>В 1668 г. итальянский врач <em>Ф. Реди</em> опроверг эти представления. Он поместил кусочки мяса в сосуды, часть из которых закрыл кисеей, а часть оставил открытыми. В открытых сосудах вскоре появились личинки мух, а в закрытых они не вывелись. Опровергнув концепцию самозарождения, он высказал мысль о том, что жизнь может возникнуть только из предшествующей жизни <em>(концепция биогенеза).</em></p>
                <p>В 1765 г. итальянский ученый <em>Л. Спалланцани</em> прокипятил в течение нескольких часов мясные и овощные бульоны, которые тут же запаял. Через несколько дней в бульонах отсутствовали признаки жизни.</p>
                <p>Противники точки зрения Л. Спалланцани считали, что в закрытых после кипячения колбах «портится» воздух и в них не может проникнуть «жизненная сила». Это предположение опроверг французский микробиолог <em>Л. Пастер</em>  (1859 г.). Он поместил в колбы с длинными S-образными горлышками питательную среду и прокипятил ее, убив все находящиеся там микроорганизмы. Через S-образную трубку «жизненная сила» могла свободно проходить в колбы, а бактерии и их споры оседали на стенках трубки. В этих условиях никакого «самозарождения» жизни не наблюдалось. Когда же S-образные горлышки были отломаны, микроорганизмы смогли свободно проникать в питательную среду, и наблюдался их бурный рост. </p>
                <p>Таким образом, было окончательно доказано, что в современных условиях самозарождение жизни невозможно, т. е. справедлива теория биогенеза.</p>
            </li>
            <li><strong>Биохимическая гипотеза.</strong> Жизнь возникла на Земле в результате биохимической эволюции: жизнь является закономерным результатом химической эволюции соединений углерода во Вселенной. Предложил советский биохимик <em>А.И. Опарин</em> (1924 г.) и независимо от него английский биохимик <em>Дж. Холдейн</em>  (1929 г.).</li>
            <p>Базируясь на гипотезе Опарина–Холдейна, английский ученый Дж. Бернал (1947 г.) сформулировал <strong>гипотезу биопоэза,</strong> согласно которой возникновение жизни на Земле включает следующие этапы:</p>
            <p>
                <u>Химическая эволюция.</u>
                <ol type="1">
                    <li> Абиогенное возникновение органических мономеров;</li>
                    <li>Образование биополимеров из более простых органических соединений (белков, нуклеиновых кислот, полисахаридов);</li>
                    <li>
                        Возникновение примитивных самовоспроизводящихся организмов <em>(коацерватов);</em>
                        <p><u>Переход от химической эволюции к биологической:</u></p>
                    </li>
                    <li>Появление мембранных структур <em>(пробионтов).</em></li>
                </ol>
            </p>
        </ol>
    </p>
    <p>
        <strong>Первый этап: абиогенный синтез простых органических соединений.</strong> Земля как планета возникла около 4,5 млрд лет назад. Температура ее поверхности была очень высокой (4–5 тыс. °С). По мере снижения температуры углерод и тугоплавкие металлы (железо, алюминий, кальций, магний и др.) конденсировались и образовали земную кору (около 3,9 млрд лет назад). Вода долгое время находилась в парообразном состоянии и, конденсируясь в верхних слоях атмосферы, выпадала на раскаленную поверхность. К этому моменту начала формироваться первичная атмосфера, состоящая из паров воды, аммиака, диоксида углерода, метана и цианистого водорода. Легкие газы (водород, гелий, азот, кислород и аргон) уходили из атмосферы. При дальнейшем остывании Земли у ее поверхности происходила конденсация паров воды, что привело к образованию первичного океана.
    </p>
    <p>Мощные электрические разряды и излучения (космическое и солнечное в отсутствие озонового слоя) и постоянная вулканическая деятельность привели к образованию простых органических соединений: формальдегида, муравьиной и молочной кислот, мочевины, глицерина и некоторых простых аминокислот. Так как свободного кислорода в атмосфере не было, то эти соединения не окислялись, а накапливались в водах первичного океана, образуя так называемый <em>«первичный бульон».</em> Продолжительность этих процессов составляла многие миллионы и десятки миллионов лет.</p>
    <p>Вероятно, так осуществился первый этап биопоэза – образование и накопление органических мономеров.</p>
    <p>Первый этап биохимической эволюции был подтвержден экспериментально американским биохимиком <em>С. Миллером</em> (1953 г.). Он сконструировал аппарат, «атмосферой» в котором служила смесь аммиака, водорода и метана, а вода – «первичным океаном». Воду нагревали, а через смесь газов пропускали электрические разряды. После непрерывной работы прибора в течение недели были получены некоторые органические соединения: аминокислоты, простые сахара, альдегиды и аденин. Опыты Миллера были многократно повторены со смесями разных газов и с разными источниками энергии: во всех случаях при отсутствии кислорода удавалось получить целый спектр различных простых органических соединений. В дальнейшем американским ученым <em>Дж. Оро</em> в сходных условиях были получены аденин, урацил и нуклеотиды.</p>
    <p><strong>Второй этап: образование биополимеров из простых органических соединений.</strong> Значительная часть возникших мономеров разрушалась, а некоторые могли вступать в соединение друг с другом (реакции конденсации и полимеризации). Этому способствовало повышение концентрации органических соединений при адсорбции органических веществ на глинах, подсыхании водоемов. Аминокислоты, соединяясь друг с другом, образовывали полипептиды, моносахариды – полисахариды, а нуклеотиды – нуклеиновые кислоты. Первыми нуклеиновыми кислотами, вероятно, были небольшие цепи РНК, поскольку, как и небольшие полипептиды, могли синтезироваться в среде с высоким содержанием минеральных компонентов (служили катализаторами) без участия ферментов. Жирные кислоты, соединяясь со спиртами, могли образовывать липиды, покрывающие жировой пленкой поверхность водоемов.</p>
    <p>Второй этап биопоэза так же нашел экспериментальное подтверждение: американский ученый <em>Л. Орджел</em> в восстановительной атмосфере синтезировал полинуклеотидные цепи длиной в 6 мономеров, а <em>С. Акабюри</em> получил простые полипептиды.</p>
    <p>Теория А.И. Опарина завоевала широкое признание, но она оставила открытым вопрос о переходе от сложных органических веществ к простейшим живым организмам. А.И. Опарин полагал, что решающая роль в превращении неживого в живое принадлежит белкам, поскольку их молекулы способны образовывать гидрофильные комплексы, покрытые сольватными оболочками (связанная вода). Такие комплексы способны сливаться друг с другом и образовывать  <em>коацерваты</em> (от лат. coacervus – сгусток). Коацерваты обладали способностью поглощать различные вещества из окружающей среды. При поглощении ионов металлов могли образовываться ферменты, значительно ускоряющие течение биохимических реакций.</p>
    <p>На определенном этапе развития в состав отдельных коацерватов начали входить молекулы РНК, а затем и ДНК. Молекулы ДНК в силу особенностей структуры (двойная спираль) и способности к точной репликации стали главными носителями информации о синтезе полипептидов.</p>
    <p><strong>Третий и четвертый этапы: формирование мембран и появление самовоспроизведения.</strong> Произошло это около 3,5 млрд лет назад. Элементарные мембраны изолировали и защищали коацерваты от окружающей среды. Мембраны образовались, вероятно, из липидных пленок. При волнении водоемов могли возникать пузырьки, внутри которых оказывались коацерваты. В живые организмы могли превратиться только те коацерваты, которые стали способны к саморегуляции и самовоспроизведению, т. е. содержали белки и нуклеиновые кислоты. Увеличение размеров коацерватов и их фрагментация вызвали, возможно, образование идентичных коацерватов («размножение»). Такая предположительная последовательность событий могла привести к возникновению примитивных самовоспроизводящихся гетеротрофных организмов <em>– протобионтов,</em> которые питались органическими веществами «первичного бульона».</p>
    <p>С появлением устойчивых механизмов воспроизведения генетической информации закончилась эпоха химической эволюции и наступила эра эволюции биологической. Первыми живыми организмами были прокариоты, анаэробные гетеротрофы, так как в атмосфере еще не было свободного кислорода, а в первичном океане достаточно органических веществ. Постепенно запасы органических веществ в «первичном бульоне» истощались. Дальнейшее развитие жизни стало возможным благодаря появлению автотрофных анаэробов. Первые автотрофы, вероятно, помощью энергии солнечного света окисляли сероводород до сульфатов, а высвобождающийся при этом водород использовали для восстановления диоксида углерода до углеводов. <em>При этом кислород не выделялся.</em></p>
    <p>Следующим шагом в эволюции было возникновение фотосинтезирующих организмов, использующих воду в качестве источника водорода с выделением свободного кислорода. Первыми такими организмами были, вероятно, цианобактерии. Фотосинтез с выделением кислорода оказал решающее влияние на дальнейшее развитие живого. С развитием автотрофного питания были созданы условия для появления огромного разнообразия как автотрофных, так и гетеротрофных организмов.</p>
    <p>Атмосфера постепенно насыщалась кислородом, и, когда его содержание составило около 3%, появились первые аэробы – организмы, способные к более выгодному кислородному этапу энергетического обмена.</p>
    <p>В верхней части атмосферы сформировался озоновый экран, защищающий живые существа от губительного действия коротковолновых ультрафиолетовых лучей, что позволило им выйти на поверхность воды и сушу.</p>
    <p>Следующим важным этапом эволюции явилось появление эукариотических одноклеточных организмов. Это произошло около 1,5 млрд лет назад. Существуют две главные гипотезы происхождения эукариотических клеток: инвагинационная и симбиотическая.</p>
    <p><u><strong><em>Инвагинационная (аутогенная) теория.</em></strong></u> Эукариотические клетки появились путем впячивания и отшнуровывания участков мембран с частями цитоплазмы прокариотической клетки, в которой одновременно находилось несколько геномов, прикрепленных к клеточной мембране, с последующей специализацией их в ядро, митохондрии и хлоропласты.</p>
    <p><em><strong<<u>Симбиотическая теория (А. Фомицын, Л. Маргулис).</u></em> Исходной клеткой была прокариотическая анаэробная гетеротрофная, способная к амебоидному движению, которая питалась более мелкими клетками, например аэробными бактериями. В цитоплазме некоторых клеток аэробные бактерии не переваривались, а превращались в митохондрии. Сходное происхождение имеют, вероятно, центриоли, реснички и жгутики, появившиеся вследствие симбиоза таких клеток со спирохетоподобной бактерией. В результате появления органоидов движения значительно увеличилась подвижность организмов, что способствовало нахождению ими пищи. Постепенно часть цитоплазмы, содержащая основное количество ДНК, отделилась от остальной части мембраной – сформировалось ядро. Такая клетка могла стать исходной для возникновения одноклеточных жгутиконосцев, которые в процессе эволюции дали начало царствам грибов и животных. Некоторые из подвижных эукариот могли вступить в симбиоз с цианобактериями, которые со временем преобразовались в хлоропласты. Так появились фотосинтезирующие жгутиконосцы, давшие впоследствии начало царству растений.</p>
    <p>В ходе дальнейшей биологической эволюции благодаря целой серии ароморфозов появились многоклеточные организмы. Они обладают рядом преимуществ перед одноклеточными: способны к более длительному существованию, специализации клеток, развитию органов, обеспечивающих активное передвижение, добывание и переваривание пищи и т. п.</p>
    <p>Все многоклеточные при половом размножении развиваются из одной клетки – зиготы. Этот факт позволяет предположить, что они произошли от протистов. Считают, что все многоклеточные произошли от колониальных жгутиковых протистов. </p>
    <p>Гипотезы происхождения многоклеточных были предложены в конце XIX в. Немецким зоологом Э. Геккелем и русским ученым И.И. Мечниковым. <em>Э. Геккель</em> считал, что многоклеточные произошли от колониальных жгутиковых (типа вольвокса), вследствие впячивания одного полюса внутрь колонии с образованием второго внутреннего слоя клеток, как при образовании гаструлы путем инвагинации. Такой организм был назван <strong>гастреей.</strong> Гастрея имела двухслойную стенку тела, внутри которой помещалась кишечная полость, сообщающаяся с внешней средой ртом (как у современных примитивных кишечнополостных).</p>
    <p><em>И.И. Мечников</em> предполагал, что предками многоклеточных были колониальные жгутиковые, которые питались посредством фагоцитоза. Клетки наружного слоя захватывали пищевые частицы, становились тяжелее и погружались внутрь колонии, теряя при этом жгутик. После переваривания пищи они опять поднимались на поверхность и восстанавливали жгутик. Постепенно эти клетки потеряли способность мигрировать, размножились и образовали внутри колонии второй слой клеток: возник двухслойный организм – <strong>фагоцителла.</strong> В дальнейшем произошло разделение функций клеток: клетки эктодермы стали выполнять защитную и двигательную функции, а энтодермы – пищеварительную.</p>
    <p>В 1973 г <em>А. Иванов</em> установил, что морской организм трихоплакс по своему строению соответствует фагоцителле и заполняет брешь между ныне существующими одноклеточными и многоклеточными животными.</p>
    <p>Таким образом, постепенно химическая эволюция привела к биологической, т. е. к появлению на Земле живых существ – прокариот, затем эукариот и наконец многоклеточных организмов, эволюция которых продолжается и поныне. </p>
    <h3 class="text-center"><strong>Краткая история и основные ароморфозы развития органического мира.</strong></h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td><strong>Эры (возрасти и длительность(млн. лет)</strong></td>
                <td><strong>Периоды и их длительность (млн. лет)</strong></td>
                <td><strong>Состояние органического мира</strong></td>
                <td><strong>Важнейшие ароморфозы</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Архейская</strong> (зарождения жизни). Возраст: 3500. Длительность: 900.
                </td>
                <td>Нет</td>
                <td>Возникновение жизни на Земле, возникновение первых клеток – начало биологической эволюции. Жизнь в водной среде: появление анаэробных автотрофных организмов, бактерий, цианобактерий, одноклеточных водорослей.</td>
                <td>
                    <ol type="1">
                        <li>Фотосинтез;</li>
                        <li>Эукариотические клетки.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Протерозойская</strong> (ранней жизни).
                    Возраст: 2700.
                    Длительность: 2000.
                </td>
                <td>Нет</td>
                <td>Развитие прокариотических и эукариотических фотосинтезирующих организмов. Возникновение полового процесса. Жизнь сосредоточена в воде. Развитие многоклеточных организмов, возникновение всех отделов водорослей и типов беспозвоночных животных. Появление первых хордовых (бесчерепных).</td>
                <td>
                    <ol type="1">
                        <li>Половой процесс;</li>
                        <li>Многоклеточность;</li>
                        <li>Двусторонняя симметрия;</li>
                        <li>Трехслойность зародыша;</li>
                        <li>Системы органов.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td rowspan="6">
                    <strong>Палеозойская</strong> (древней жизни).
                    Возраст: 570.
                    Длительность: 340.
                </td>
                <td>
                    <em>Кембрийский</em>
                    Длит.: 70
                </td>
                <td>Широкое распространение водорослей. Расцвет беспозвоночных.</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>
                    <em>Ордовикский</em>
                    Длит.: 60
                </td>
                <td>Предположительное появление первых наземных растений – риниофитов. Появление первых позвоночных – бесчелюстных.</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>
                    <em>Силурийский</em>
                    Длит.: 30
                </td>
                <td>Возникновение современных групп водорослей и грибов. Достоверное появление первых наземных растений. Появление скорпионов, древних панцирных и хрящевых рыб.</td>
                <td>
                    <ol type="1">
                        <li> Дифференцировка клеток растений с образованием тканей;</li>
                        <li> Разделение тела животных на отделы;</li>
                        <li> Образование челюстей и поясов конечностей у позвоночных.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Девонский</em>
                    Длит.: 60
                </td>
                <td>Появление папоротниковидных. Развитие рыб, появление кистеперых рыб и стегоцефалов (первых наземных позвоночных).</td>
                <td>
                    <ol type="1">
                        <li>Расчленение тела растений на органы;</li>
                        <li>Преобразование плавников в наземные конечности;</li>
                        <li>Органы воздушного дыхания;</li>
                        <li>3-х камерное сердце, два круга кровообращения.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Каменно-угольный</em>
                    Длит.: 65-75
                </td>
                <td>Расцвет плауновидных, хвощевидных, папоротниковидных. Появление хвойных. Расцвет морских беспозвоночных. Появление первичнобескрылых и древнекрылых насекомых. Распространение акул, стегоцефалов. Расцвет амфибий, появление древних пресмыкающихся. </td>
                <td>
                    <ol type="1">
                        <li> Внутреннее оплодотворение;</li>
                        <li> Плотные оболочки яйца;</li>
                        <li> Кора головного мозга;</li>
                        <li> Ороговение кожи;</li>
                        <li> Тазовые почки;</li>
                        <li> Образование пыльцевой трубки и семени.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Пермский</em>
                    Длит.: 55
                </td>
                <td>Вымирание древовидных папоротников, распространение голосеменных. Уменьшение количества хрящевых, кистеперых и двоякодышащих рыб.</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <strong>Мезозойская</strong>
                    (средней жизни).
                    Возраст: 230.
                    Длительность: 163.
                </td>
                <td>
                    <em>Триасовый</em>
                    Длит.: 35
                </td>
                <td>Вымирание семенных папоротников. Развитие голосеменных. Вымирание многих животных, процветавших в палеозойскую эру. Вымирание стегоцефалов, развитие пресмыкающихся.</td>
                <td>
                    <ol type="1">
                        <li> Четырехкамерное сердце;</li>
                        <li>Полное разобщение артериального и венозного кровотока.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Юрский</em>
                    Длит.: 58
                </td>
                <td>Появление диатомовых водорослей. Господство папоротников и голосеменных. Расцвет головоногих и двустворчатых моллюсков. Расцвет пресмыкающихся: наземных, водоплавающих, летающих. Появление древних птиц и млекопитающих.  </td>
                <td>
                    <ol type="1">
                        <li> Теплокровность; </li>
                        <li> Молочные железы; </li>
                        <li> Легкие альвеолярного строения. </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Меловой</em>
                    Длит.: 70
                </td>
                <td>В начале периода господство голосеменных и появление покрытосеменных, которые преобладают во второй половине периода. Развитие двустворчатых и брюхоногих моллюсков. Развитие крупных рептилий (первая половина) и их вымирание (вторая половина). Расцвет млекопитающих и птиц.</td>
                <td>
                    <ol type="1">
                        <li>  Возникновение цветка и плода; </li>
                        <li> Появление матки (внутриутробное развитие). </li>
                    </ol>
                </td>
            </tr>

        </tbody>
    </table>
</div>
