<h3 class="text-center"><em><u>Вегетативные органы растений: побег. Почка: определение, основные классификации. Стебель: виды стеблей. Варианты ветвления стебля. Поперечный срез стебля. Особенности строения стеблей травянистых растений. Видоизменения побегов или отдельных частей: их строение и значение.</u></em></h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <img src="~/Images/thema10/побег внешнее строение.png" alt="побег внешнее строение" title="побег внешнее строение"/>
        </div>
    </div>
</div>
<p>
    <strong>Побег</strong> – участок стебля с расположенными на нем листьями и почками. Побег, развивающийся из почки в течение одного вегетационного периода, называется <strong>годичным.</strong>
</p>