<div class="container">
    <p><strong>Жизнь</strong> – способ существования открытых коллоидных систем, обладающих свойствами самовоспроизведения, саморегуляции и самообновления на основе совместного функционирования сложных комплексов биополимеров (белков и нуклеиновых кислот), вследствие преобразования поступивших из внешней среды веществ и заключенной в них энергии.</p>
    <p>
        <strong>Гипотезы происхождения жизни на Земле:</strong>
        <ol type="1">
            <li><strong>Гипотеза креационизма</strong> (от лат. creatio – сотворение) предполагает сотворение жизни сверхъестественным существом – <em>Творцом.</em> Процесс божественного сотворения мира мыслится как имевший место лишь однажды и поэтому недоступный для наблюдения, соответственно данная гипотеза никогда не сможет быть окончательно доказанной или опровергнутой.</li>
            <li><strong>Гипотеза стационарного состояния (этернизма)</strong> (от лат. eternus – вечный). Земля и жизнь на ней никогда не возникала, а существовала вечно. Выдвинута немецким ученым <em>В. Прайером</em> (1880 г.) и поддерживалась <em>В.И. Вернадским.</em> Сторонники этой гипотезы предполагали, что живое могло происходить только от живого <em>(гипотеза биогенеза).</em> В настоящее время хорошо известно, что Земля длительное время была необитаема.</li>
            <li>
                <strong>Гипотеза панспермии.</strong> Появление жизни на Земле в результате переноса с других планет зародышей жизни. Предложена немецким ученым <em>Г. Рихтером</em> (1865 г.) и поддержана физиками <em>Г. Гельмгольцем, С. Аррениусом и др.</em> Согласно их представлениям, споры бактерий и других организмов могли быть занесены на Землю метеоритами, космической пылью, давлением световых лучей.
                <p>В последнее время доказана высокая устойчивость живых организмов к неблагоприятным воздействиям, и, в частности, к низким температурам. Исходя из универсальности генетического кода английский биофизик <em>Ф. Крик</em> поддерживает гипотезу панспермии, но считает, что жизнь на Землю занесена космическими пришельцами. </p>
                <p>Эта гипотеза представляет интерес с точки зрения существования жизни на других планетах, но она не дает ответа на вопрос о ее происхождении.</p>
            </li>
            <li>
                <strong>Гипотеза самозарождения.</strong> Жизнь возникала неоднократно из неживого вещества: источником спонтанного самозарождения служат либо неорганические соединения, либо гниющие органические остатки <em>(концепция абиогенеза).</em>
                <p>Такие идеи были распространены в древнем Китае, Вавилоне и Египте. Сторонником теории самопроизвольного зарождения живого был древнегреческий философ и ученый  <em>Аристотель</em> (384–322 гг. до н. э.), предполагавший, что насекомые и лягушки могут заводиться в сырой почве. В дальнейшем в качестве доказательств сторонники этих гипотез приводили многочисленные примеры появления микроорганизмов, плесневых грибов и личинок мух на портящихся продуктах и нечистотах. </p>
                <p>В 1668 г. итальянский врач <em>Ф. Реди</em> опроверг эти представления. Он поместил кусочки мяса в сосуды, часть из которых закрыл кисеей, а часть оставил открытыми. В открытых сосудах вскоре появились личинки мух, а в закрытых они не вывелись. Опровергнув концепцию самозарождения, он высказал мысль о том, что жизнь может возникнуть только из предшествующей жизни <em>(концепция биогенеза).</em></p>
                <p>В 1765 г. итальянский ученый <em>Л. Спалланцани</em> прокипятил в течение нескольких часов мясные и овощные бульоны, которые тут же запаял. Через несколько дней в бульонах отсутствовали признаки жизни.</p>
                <p>Противники точки зрения Л. Спалланцани считали, что в закрытых после кипячения колбах «портится» воздух и в них не может проникнуть «жизненная сила». Это предположение опроверг французский микробиолог <em>Л. Пастер</em>  (1859 г.). Он поместил в колбы с длинными S-образными горлышками питательную среду и прокипятил ее, убив все находящиеся там микроорганизмы. Через S-образную трубку «жизненная сила» могла свободно проходить в колбы, а бактерии и их споры оседали на стенках трубки. В этих условиях никакого «самозарождения» жизни не наблюдалось. Когда же S-образные горлышки были отломаны, микроорганизмы смогли свободно проникать в питательную среду, и наблюдался их бурный рост. </p>
                <p>Таким образом, было окончательно доказано, что в современных условиях самозарождение жизни невозможно, т. е. справедлива теория биогенеза.</p>
            </li>
            <li><strong>Биохимическая гипотеза.</strong> Жизнь возникла на Земле в результате биохимической эволюции: жизнь является закономерным результатом химической эволюции соединений углерода во Вселенной. Предложил советский биохимик <em>А.И. Опарин</em> (1924 г.) и независимо от него английский биохимик <em>Дж. Холдейн</em>  (1929 г.).</li>
            <p>Базируясь на гипотезе Опарина–Холдейна, английский ученый Дж. Бернал (1947 г.) сформулировал <strong>гипотезу биопоэза,</strong> согласно которой возникновение жизни на Земле включает следующие этапы:</p>
            <p>
                <u>Химическая эволюция.</u>
                <ol type="1">
                    <li> Абиогенное возникновение органических мономеров;</li>
                    <li>Образование биополимеров из более простых органических соединений (белков, нуклеиновых кислот, полисахаридов);</li>
                    <li>
                        Возникновение примитивных самовоспроизводящихся организмов <em>(коацерватов);</em>
                        <p><u>Переход от химической эволюции к биологической:</u></p>
                    </li>
                    <li>Появление мембранных структур <em>(пробионтов).</em></li>
                </ol>
            </p>
        </ol>
    </p>
    <p>
        <strong>Первый этап: абиогенный синтез простых органических соединений.</strong> Земля как планета возникла около 4,5 млрд лет назад. Температура ее поверхности была очень высокой (4–5 тыс. °С). По мере снижения температуры углерод и тугоплавкие металлы (железо, алюминий, кальций, магний и др.) конденсировались и образовали земную кору (около 3,9 млрд лет назад). Вода долгое время находилась в парообразном состоянии и, конденсируясь в верхних слоях атмосферы, выпадала на раскаленную поверхность. К этому моменту начала формироваться первичная атмосфера, состоящая из паров воды, аммиака, диоксида углерода, метана и цианистого водорода. Легкие газы (водород, гелий, азот, кислород и аргон) уходили из атмосферы. При дальнейшем остывании Земли у ее поверхности происходила конденсация паров воды, что привело к образованию первичного океана.
    </p>
    <p>Мощные электрические разряды и излучения (космическое и солнечное в отсутствие озонового слоя) и постоянная вулканическая деятельность привели к образованию простых органических соединений: формальдегида, муравьиной и молочной кислот, мочевины, глицерина и некоторых простых аминокислот. Так как свободного кислорода в атмосфере не было, то эти соединения не окислялись, а накапливались в водах первичного океана, образуя так называемый <em>«первичный бульон».</em> Продолжительность этих процессов составляла многие миллионы и десятки миллионов лет.</p>
    <p>Вероятно, так осуществился первый этап биопоэза – образование и накопление органических мономеров.</p>
    <p>Первый этап биохимической эволюции был подтвержден экспериментально американским биохимиком <em>С. Миллером</em> (1953 г.). Он сконструировал аппарат, «атмосферой» в котором служила смесь аммиака, водорода и метана, а вода – «первичным океаном». Воду нагревали, а через смесь газов пропускали электрические разряды. После непрерывной работы прибора в течение недели были получены некоторые органические соединения: аминокислоты, простые сахара, альдегиды и аденин. Опыты Миллера были многократно повторены со смесями разных газов и с разными источниками энергии: во всех случаях при отсутствии кислорода удавалось получить целый спектр различных простых органических соединений. В дальнейшем американским ученым <em>Дж. Оро</em> в сходных условиях были получены аденин, урацил и нуклеотиды.</p>
    <p><strong>Второй этап: образование биополимеров из простых органических соединений.</strong> Значительная часть возникших мономеров разрушалась, а некоторые могли вступать в соединение друг с другом (реакции конденсации и полимеризации). Этому способствовало повышение концентрации органических соединений при адсорбции органических веществ на глинах, подсыхании водоемов. Аминокислоты, соединяясь друг с другом, образовывали полипептиды, моносахариды – полисахариды, а нуклеотиды – нуклеиновые кислоты. Первыми нуклеиновыми кислотами, вероятно, были небольшие цепи РНК, поскольку, как и небольшие полипептиды, могли синтезироваться в среде с высоким содержанием минеральных компонентов (служили катализаторами) без участия ферментов. Жирные кислоты, соединяясь со спиртами, могли образовывать липиды, покрывающие жировой пленкой поверхность водоемов.</p>
    <p>Второй этап биопоэза так же нашел экспериментальное подтверждение: американский ученый <em>Л. Орджел</em> в восстановительной атмосфере синтезировал полинуклеотидные цепи длиной в 6 мономеров, а <em>С. Акабюри</em> получил простые полипептиды.</p>
    <p>Теория А.И. Опарина завоевала широкое признание, но она оставила открытым вопрос о переходе от сложных органических веществ к простейшим живым организмам. А.И. Опарин полагал, что решающая роль в превращении неживого в живое принадлежит белкам, поскольку их молекулы способны образовывать гидрофильные комплексы, покрытые сольватными оболочками (связанная вода). Такие комплексы способны сливаться друг с другом и образовывать  <em>коацерваты</em> (от лат. coacervus – сгусток). Коацерваты обладали способностью поглощать различные вещества из окружающей среды. При поглощении ионов металлов могли образовываться ферменты, значительно ускоряющие течение биохимических реакций.</p>
    <p>На определенном этапе развития в состав отдельных коацерватов начали входить молекулы РНК, а затем и ДНК. Молекулы ДНК в силу особенностей структуры (двойная спираль) и способности к точной репликации стали главными носителями информации о синтезе полипептидов.</p>
    <p><strong>Третий и четвертый этапы: формирование мембран и появление самовоспроизведения.</strong> Произошло это около 3,5 млрд лет назад. Элементарные мембраны изолировали и защищали коацерваты от окружающей среды. Мембраны образовались, вероятно, из липидных пленок. При волнении водоемов могли возникать пузырьки, внутри которых оказывались коацерваты. В живые организмы могли превратиться только те коацерваты, которые стали способны к саморегуляции и самовоспроизведению, т. е. содержали белки и нуклеиновые кислоты. Увеличение размеров коацерватов и их фрагментация вызвали, возможно, образование идентичных коацерватов («размножение»). Такая предположительная последовательность событий могла привести к возникновению примитивных самовоспроизводящихся гетеротрофных организмов <em>– протобионтов,</em> которые питались органическими веществами «первичного бульона».</p>
    <p>С появлением устойчивых механизмов воспроизведения генетической информации закончилась эпоха химической эволюции и наступила эра эволюции биологической. Первыми живыми организмами были прокариоты, анаэробные гетеротрофы, так как в атмосфере еще не было свободного кислорода, а в первичном океане достаточно органических веществ. Постепенно запасы органических веществ в «первичном бульоне» истощались. Дальнейшее развитие жизни стало возможным благодаря появлению автотрофных анаэробов. Первые автотрофы, вероятно, помощью энергии солнечного света окисляли сероводород до сульфатов, а высвобождающийся при этом водород использовали для восстановления диоксида углерода до углеводов. <em>При этом кислород не выделялся.</em></p>
    <p>Следующим шагом в эволюции было возникновение фотосинтезирующих организмов, использующих воду в качестве источника водорода с выделением свободного кислорода. Первыми такими организмами были, вероятно, цианобактерии. Фотосинтез с выделением кислорода оказал решающее влияние на дальнейшее развитие живого. С развитием автотрофного питания были созданы условия для появления огромного разнообразия как автотрофных, так и гетеротрофных организмов.</p>
    <p>Атмосфера постепенно насыщалась кислородом, и, когда его содержание составило около 3%, появились первые аэробы – организмы, способные к более выгодному кислородному этапу энергетического обмена.</p>
    <p>В верхней части атмосферы сформировался озоновый экран, защищающий живые существа от губительного действия коротковолновых ультрафиолетовых лучей, что позволило им выйти на поверхность воды и сушу.</p>
    <p>Следующим важным этапом эволюции явилось появление эукариотических одноклеточных организмов. Это произошло около 1,5 млрд лет назад. Существуют две главные гипотезы происхождения эукариотических клеток: инвагинационная и симбиотическая.</p>
    <p><u><strong><em>Инвагинационная (аутогенная) теория.</em></strong></u> Эукариотические клетки появились путем впячивания и отшнуровывания участков мембран с частями цитоплазмы прокариотической клетки, в которой одновременно находилось несколько геномов, прикрепленных к клеточной мембране, с последующей специализацией их в ядро, митохондрии и хлоропласты.</p>
    <p><em><strong<<u>Симбиотическая теория (А. Фомицын, Л. Маргулис).</u></em> Исходной клеткой была прокариотическая анаэробная гетеротрофная, способная к амебоидному движению, которая питалась более мелкими клетками, например аэробными бактериями. В цитоплазме некоторых клеток аэробные бактерии не переваривались, а превращались в митохондрии. Сходное происхождение имеют, вероятно, центриоли, реснички и жгутики, появившиеся вследствие симбиоза таких клеток со спирохетоподобной бактерией. В результате появления органоидов движения значительно увеличилась подвижность организмов, что способствовало нахождению ими пищи. Постепенно часть цитоплазмы, содержащая основное количество ДНК, отделилась от остальной части мембраной – сформировалось ядро. Такая клетка могла стать исходной для возникновения одноклеточных жгутиконосцев, которые в процессе эволюции дали начало царствам грибов и животных. Некоторые из подвижных эукариот могли вступить в симбиоз с цианобактериями, которые со временем преобразовались в хлоропласты. Так появились фотосинтезирующие жгутиконосцы, давшие впоследствии начало царству растений.</p>
    <p>В ходе дальнейшей биологической эволюции благодаря целой серии ароморфозов появились многоклеточные организмы. Они обладают рядом преимуществ перед одноклеточными: способны к более длительному существованию, специализации клеток, развитию органов, обеспечивающих активное передвижение, добывание и переваривание пищи и т. п.</p>
    <p>Все многоклеточные при половом размножении развиваются из одной клетки – зиготы. Этот факт позволяет предположить, что они произошли от протистов. Считают, что все многоклеточные произошли от колониальных жгутиковых протистов. </p>
    <p>Гипотезы происхождения многоклеточных были предложены в конце XIX в. Немецким зоологом Э. Геккелем и русским ученым И.И. Мечниковым. <em>Э. Геккель</em> считал, что многоклеточные произошли от колониальных жгутиковых (типа вольвокса), вследствие впячивания одного полюса внутрь колонии с образованием второго внутреннего слоя клеток, как при образовании гаструлы путем инвагинации. Такой организм был назван <strong>гастреей.</strong> Гастрея имела двухслойную стенку тела, внутри которой помещалась кишечная полость, сообщающаяся с внешней средой ртом (как у современных примитивных кишечнополостных).</p>
    <p><em>И.И. Мечников</em> предполагал, что предками многоклеточных были колониальные жгутиковые, которые питались посредством фагоцитоза. Клетки наружного слоя захватывали пищевые частицы, становились тяжелее и погружались внутрь колонии, теряя при этом жгутик. После переваривания пищи они опять поднимались на поверхность и восстанавливали жгутик. Постепенно эти клетки потеряли способность мигрировать, размножились и образовали внутри колонии второй слой клеток: возник двухслойный организм – <strong>фагоцителла.</strong> В дальнейшем произошло разделение функций клеток: клетки эктодермы стали выполнять защитную и двигательную функции, а энтодермы – пищеварительную.</p>
    <p>В 1973 г <em>А. Иванов</em> установил, что морской организм трихоплакс по своему строению соответствует фагоцителле и заполняет брешь между ныне существующими одноклеточными и многоклеточными животными.</p>
    <p>Таким образом, постепенно химическая эволюция привела к биологической, т. е. к появлению на Земле живых существ – прокариот, затем эукариот и наконец многоклеточных организмов, эволюция которых продолжается и поныне. </p>
    <h3 class="text-center"><strong>Краткая история и основные ароморфозы развития органического мира.</strong></h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td><strong>Эры (возрасти и длительность(млн. лет)</strong></td>
                <td><strong>Периоды и их длительность (млн. лет)</strong></td>
                <td><strong>Состояние органического мира</strong></td>
                <td><strong>Важнейшие ароморфозы</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Архейская</strong> (зарождения жизни). Возраст: 3500. Длительность: 900.
                </td>
                <td>Нет</td>
                <td>Возникновение жизни на Земле, возникновение первых клеток – начало биологической эволюции. Жизнь в водной среде: появление анаэробных автотрофных организмов, бактерий, цианобактерий, одноклеточных водорослей.</td>
                <td>
                    <ol type="1">
                        <li>Фотосинтез;</li>
                        <li>Эукариотические клетки.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Протерозойская</strong> (ранней жизни).
                    Возраст: 2700.
                    Длительность: 2000.
                </td>
                <td>Нет</td>
                <td>Развитие прокариотических и эукариотических фотосинтезирующих организмов. Возникновение полового процесса. Жизнь сосредоточена в воде. Развитие многоклеточных организмов, возникновение всех отделов водорослей и типов беспозвоночных животных. Появление первых хордовых (бесчерепных).</td>
                <td>
                    <ol type="1">
                        <li>Половой процесс;</li>
                        <li>Многоклеточность;</li>
                        <li>Двусторонняя симметрия;</li>
                        <li>Трехслойность зародыша;</li>
                        <li>Системы органов.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td rowspan="6">
                    <strong>Палеозойская</strong> (древней жизни).
                    Возраст: 570.
                    Длительность: 340.
                </td>
                <td>
                    <em>Кембрийский</em>
                    Длит.: 70
                </td>
                <td>Широкое распространение водорослей. Расцвет беспозвоночных.</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>
                    <em>Ордовикский</em>
                    Длит.: 60
                </td>
                <td>Предположительное появление первых наземных растений – риниофитов. Появление первых позвоночных – бесчелюстных.</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>
                    <em>Силурийский</em>
                    Длит.: 30
                </td>
                <td>Возникновение современных групп водорослей и грибов. Достоверное появление первых наземных растений. Появление скорпионов, древних панцирных и хрящевых рыб.</td>
                <td>
                    <ol type="1">
                        <li> Дифференцировка клеток растений с образованием тканей;</li>
                        <li> Разделение тела животных на отделы;</li>
                        <li> Образование челюстей и поясов конечностей у позвоночных.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Девонский</em>
                    Длит.: 60
                </td>
                <td>Появление папоротниковидных. Развитие рыб, появление кистеперых рыб и стегоцефалов (первых наземных позвоночных).</td>
                <td>
                    <ol type="1">
                        <li>Расчленение тела растений на органы;</li>
                        <li>Преобразование плавников в наземные конечности;</li>
                        <li>Органы воздушного дыхания;</li>
                        <li>3-х камерное сердце, два круга кровообращения.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Каменно-угольный</em>
                    Длит.: 65-75
                </td>
                <td>Расцвет плауновидных, хвощевидных, папоротниковидных. Появление хвойных. Расцвет морских беспозвоночных. Появление первичнобескрылых и древнекрылых насекомых. Распространение акул, стегоцефалов. Расцвет амфибий, появление древних пресмыкающихся. </td>
                <td>
                    <ol type="1">
                        <li> Внутреннее оплодотворение;</li>
                        <li> Плотные оболочки яйца;</li>
                        <li> Кора головного мозга;</li>
                        <li> Ороговение кожи;</li>
                        <li> Тазовые почки;</li>
                        <li> Образование пыльцевой трубки и семени.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Пермский</em>
                    Длит.: 55
                </td>
                <td>Вымирание древовидных папоротников, распространение голосеменных. Уменьшение количества хрящевых, кистеперых и двоякодышащих рыб.</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <strong>Мезозойская</strong>
                    (средней жизни).
                    Возраст: 230.
                    Длительность: 163.
                </td>
                <td>
                    <em>Триасовый</em>
                    Длит.: 35
                </td>
                <td>Вымирание семенных папоротников. Развитие голосеменных. Вымирание многих животных, процветавших в палеозойскую эру. Вымирание стегоцефалов, развитие пресмыкающихся.</td>
                <td>
                    <ol type="1">
                        <li> Четырехкамерное сердце;</li>
                        <li>Полное разобщение артериального и венозного кровотока.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Юрский</em>
                    Длит.: 58
                </td>
                <td>Появление диатомовых водорослей. Господство папоротников и голосеменных. Расцвет головоногих и двустворчатых моллюсков. Расцвет пресмыкающихся: наземных, водоплавающих, летающих. Появление древних птиц и млекопитающих.  </td>
                <td>
                    <ol type="1">
                        <li> Теплокровность; </li>
                        <li> Молочные железы; </li>
                        <li> Легкие альвеолярного строения. </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <em>Меловой</em>
                    Длит.: 70
                </td>
                <td>В начале периода господство голосеменных и появление покрытосеменных, которые преобладают во второй половине периода. Развитие двустворчатых и брюхоногих моллюсков. Развитие крупных рептилий (первая половина) и их вымирание (вторая половина). Расцвет млекопитающих и птиц.</td>
                <td>
                    <ol type="1">
                        <li>  Возникновение цветка и плода; </li>
                        <li> Появление матки (внутриутробное развитие). </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <strong>Кайнозойская</strong> (новой жизни). Возраст:67. Длительность: 67.
                </td>
                <td>
                    <em>Палеоген</em> Длит.: 42
                </td>
                <td>Расцвет диатомовых водорослей и основных групп покрытосеменных. Господство двустворчатых и брюхоногих моллюсков. Вымирание древнейших млекопитающих. Развитие сумчатых и примитивных плацентарных насекомоядных, древних копытных и хищников. Начало развития антропоидов, появление парапитеков и дриопитеков.</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>
                    <em>Неоген</em>
                    Длит.: 23,5
                </td>
                <td>Преобладание покрытосеменных и хвойных, отступание лесов, увеличение площади степей. Видовой состав беспозвоночных приближается к современному. Расцвет плацентарных млекопитающих, появление и распространение плацентарных, сходных с современными. Появление гоминид.</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>
                    <em>Антропоген</em>
                    Длит.: 1,5
                </td>
                <td>Вымирание многих видов растений, упадок древесных форм, расцвет травянистых, растительный мир приобретает современный облик. Развитие многих групп морских и пресноводных моллюсков, кораллов, иглокожих. Вымирание крупных млекопитающих, появление и развитие человека. Формирование ныне существующих сообществ.</td>
                <td>
                    <ol type="1">
                        <li>Интенсивное развитие коры головного мозга;</li>
                        <li>Прямохождение.</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
    <p><strong>Основные особенности эволюции растительного мира:</strong></p>
    <ol type="1">
        <li>Постепенный переход к доминирующему положению спорофита над гаметофитом в цикле развития.</li>
        <li>Выход на сушу, дифференциация тела на органы (корень, стебель, лист) и дифференцировка тканей (проводящие, механические, покровные, основные, образовательные).</li>
        <li>Переход от наружного оплодотворения к внутреннему; возникновение цветка и двойного оплодотворения.</li>
        <li>Возникновение семян, содержащих запас питательных веществ и защищенных от воздействия неблагоприятных условий среды семенными покровами и стенками околоплодника у покрытосеменных.</li>
        <li>Совершенствование органов размножения и перекрестного оплодотворения у покрытосеменных параллельно с эволюцией насекомых.</li>
        <li>Возникновение разнообразных способов распространения плодов и семян.</li>
    </ol>
    <p><strong>Основные особенности эволюции животного мира: </strong></p>
    <ol type="1">
        <li>Прогрессивное развитие многоклеточности, специализация тканей и систем органов.</li>
        <li>Свободноживущий образ жизни Длит.: 58тносительная независимость онтогенеза от колебаний факторов окружающей среды.</li>
        <li>Возникновение твердого скелета: наружного у беспозвоночных (членистоногие) и внутреннего у хордовых.</li>
        <li>Прогрессивное развитие нервной системы (основа для возникновения условно-рефлекторной деятельности).</li>
    </ol>
    <h3 class="text-center"><strong>Развитие представлений об эволюции.</strong></h3>
    <p><strong>Эволюция</strong> – происходящий во времени необратимый процесс изменения какой-либо системы, благодаря чему возникает что-то новое, разнородное, стоящее на более высокой ступени развития. Термин «эволюция» предложил <em>Ш. Бонне (1762 г).</em></p>
    <p><strong>Биологическая эволюция</strong> – необратимо направленное историческое развитие органического мира (живой природы), сопровождающееся изменением генетического состава популяций, формированием адаптаций, образованием и вымиранием видов, преобразованием биогеоценозов и биосферы в целом.</p>
    <p><strong>Эволюционное учение</strong> – это раздел биологии, изучающий общие закономерности и движущие силы исторического развития органического мира.</p>
    <p>Первые представления о развитии и единстве живой природы высказывались еще античными философами (Эмпидоклом, Демокритом, Лукрецием, Гиппократом, Аристотелем). </p>
    <p>В средние века в условиях господства церкви их материалистические идеи преследовались. С развитием капитализма, географическими открытиями, расширением торговли произошло знакомство с новыми видами животных и растений. Для науки этого периода характерно метафизическое мировоззрение – <em>креационизм.</em> Сущность его заключается в представлениях о постоянстве, неизменности и изначальной целесообразности природы. Вечны и неизменны Земля, реки, горы, виды животных и растений. Под изначальной целесообразностью понимали полное соответствие организма или органа цели, якобы поставленной Творцом при его создании.</p>
    <p>Ярким представителем метафизического мировоззрения был шведский ученый <strong>К. Линней</strong> (1707–1778). В своем труде «Система природы» он описал большое количество растений и животных, ввел около 1000 ботанических терминов. Каждому виду животных и растений было присвоено двойное обозначение (существительное – название рода и прилагательное – наименование вида; например: кошка домашняя).</p>
    <p>Линней впервые обосновал вид как универсальную единицу и основную форму существования живого. Под видом он понимал совокупность сходных по строению особей, свободно скрещивающихся и дающих плодовитое потомство. Термин «вид» ввел английский ботаник <em>Дж. Рей </em> (1627–1705). Линней разработал основные принципы систематики растений и животных: объединил сходные виды в роды, которые сгруппировал в отряды, а отряды – в классы. Единые названия растений и животных значительно упростили терминологию и способствовали взаимопониманию ученых.</p>
    <p>Линней предложил первую классификацию растений и животных. Например, на основе особенностей кровеносной и дыхательной систем он разделил животный мир на 6 классов: Млекопитающие, Птицы, Гады (земноводные и пресмыкающиеся), Рыбы, Насекомые и Черви (к червям он отнес губок, кишечнополостных и моллюсков). В классе млекопитающих ученый выделил 17 отрядов и к высшему отряду приматов отнес человекообразных обезьян и человека.</p>
    <p>Созданная Линнеем классификация носила искусственный характер, так как основывалась не на главных свойствах организмов и их исторических связях, а на чисто внешних признаках. Например, цветковые растения классифицировались по форме, величине и числу тычинок и пестиков. Линней понимал искусственность своей систематики и указывал на необходимость создания естественной системы с учетом совокупности признаков организмов. Он придерживался метафизических, религиозных представлений. Каждый вид, с его точки зрения, представлял потомство одной пары животных или растений, сотворенных богом, и с тех пор постоянных, и неизменных. Несмотря на это, проделанная ученым работа по систематизации растений и животных сыграла значительную роль в изучении живой природы.</p>
    <p>Развитие естествознания в конце XVIII – начале XIX в. ознаменовалось усилением материалистических представлений. Некоторые ученые высказывали мнение о естественном возникновении мира и его постепенном развитии и обновлении. Такое направление в биологии получило название <em>трансформизма</em> (от лат. transforme –преобразовывать). Представителями трансформизма были М.В. Ломоносов, К.Ф. Вульф, Э.Ж. Сент-Илер, Ж. Бюф-фон, Ж.Б. Ламарк.</p>
    <p>Основы первого учения об эволюции органического мира были разработаны и опубликованы в труде «Философия зоологии» (1809 г.) французским естествоиспытателем <strong>Ж.Б. Ламарком</strong> (1744–1829). Изучая животный и растительный мир, Ламарк обратил внимание на существование в природе переходных форм между видами и на этом основании сделал вывод об их изменяемости. Он предположил, что все многообразие животных и растений является результатом эволюции, т. е. исторического развития живой природы. Ламарк создал более совершенную, чем Линней, классификацию животного мира. Разрабатывая систематику животных, он совершенно правильно подметил основное направление эволюционного процесса – постепенное усложнение организации от низших форм к высшим, которое он назвал <em>градацией.</em> Под градацией Ламарк понимал последовательные ступени усложнения организации от протистов до млекопитающих. В животном мире он выделил 14 классов, разделенных на 6 градаций (ступеней).</p>
    <p>
        <strong>Причины эволюции по Ламарку:</strong>
        <ol type="1">
            <li>внутреннее стремление организмов к усовершенствованию;</li>
            <li>способность организмов целесообразно реагировать на изменения условий существования.</li>
        </ol>
    </p>
    <p>Растения, по Ламарку, изменяются под действием факторов внешней среды непосредственно (например, листья у болотного лютика), а животные – опосредованно, через воздействие на нервную систему, что влечет за собой изменение привычек. Вследствие этого одни органы, необходимые в новых условиях, постоянно упражняются и развиваются (шея у жирафа), а другие, вследствие неупражнения атрофируются (глаза у крота) – <strong>закон упражнения и неупражнения органов. </strong></p>
    <p>Согласно представлениям Ламарка, признаки, приобретенные организмом в течение индивидуальной жизни при последовательном воздействии среды на многие поколения, передаются по наследству – <strong>закон наследования приобретенных признаков.</strong> Этим явлением он объяснял приспособленность организмов к среде обитания.</p>
    <p>Ламарк развивал гипотезу о естественном происхождении человека, считая, что он произошел от обезьяноподобных предков, перешедших к наземному образу жизни.</p>
    <p>Ламарк объединил идею об изменяемости видов с идеей прогрессивной эволюции, однако не смог вскрыть механизмы эволюционного процесса. Его гипотеза о наследовании приобретенных признаков оказалась несостоятельной, а утверждение о внутреннем стремлении организмов к усовершенствованию – ненаучным.</p>
    <h3 class="text-center"><strong>Основные положения эволюционного учения Ч. Дарвина.</strong></h3>
    <p>
        <strong>Предпосылки возникновения эволюционной теории:</strong>
        <ol type="1">
            <li><em>Социально-экономические.</em> Интенсивное развитие капитализма в Англии; интенсивный рост городов, требовавший быстрого повышения продуктивности сельского хозяйства, в результате чего развернулась большая селекционная работа, проводились многочисленные научные экспедиции.</li>
            <li>
                <em>Естественно-научные.</em> Успехи систематики растений и животных, развитие биогеографии, сравнительной анатомии, эмбриологии и палеонтологии, создание клеточной теории и эволюционного учения Ламарка.
            </li>
        </ol>
    </p>
    <p>В 1859 г. Дарвин опубликовал свою основную работу «Происхождение видов путем естественного отбора, или Сохранение пород в борьбе за жизнь», в которой впервые в истории биологии с материалистических позиций объяснил происхождение видов животных и растений.</p>
    <p>Центральным звеном эволюционной теории Дарвина является учение о наследственности, изменчивости и естественном отборе.</p>
    <p><em>Сущность эволюционного учения Ч. Дарвина заключается в следующих положениях:</em></p>
    <ol type="1">
        <li>Возникнув естественным путем, все виды живых существ постепенно преобразовывались и совершенствовались в соответствии с условиями окружающей среды.</li>
        <li>В основе преобразования видов в природе лежат такие свойства организмов, как наследственность и изменчивость, т.е. предпосылкой эволюции является наследственная изменчивость.</li>
        <li>Движущими силами эволюции являются борьба за существование и естественный отбор.</li>
        <li>Основные результаты эволюции: повышение уровня организации и многообразие видов, которые приводят к одновременному существованию форм, различающихся по уровню организации и адаптация организмов к среде обитания.</li>
    </ol>
    <p><strong>Наследственность</strong> – свойство организмов передавать из поколения в поколение особенности морфологии, биохимии, физиологии и онтогенеза.</p>
    <p><strong>Изменчивость</strong> – свойство организмов приобретать в процессе онтогенеза признаки, отличающие их от родительских форм. </p>
    <p><strong>Причины изменчивости по Ч. Дарвину:</strong></p>
    <ol type="1">
        <li>Воздействие на организм факторов внешней среды;</li>
        <li>Природа самих организмов (т.к. каждый организм специфически реагирует на воздействие среды).</li>
    </ol>
    <p><strong>Формы изменчивости по Ч. Дарвину:</strong></p>
    <ol type="1">
        <li><em>Определенная (модификационная, групповая)</em> – появление сходных признаков у особей одного вида под влиянием одинаковых условий среды (белокочанная капуста при выращивании в жарких странах не образует кочана; у овец при содержании в холодных условиях растет более густая шерсть). Эти изменения ненаследственны, так как при перенесении организмов в исходные условия проявляются первоначальные признаки.</li>
        <li><em>Неопределенная (мутационная, индивидуальная)</em> – возникновение различных изменений у особей одного вида под действием сходных условий (в стаде овец появился барашек с короткими ногами). Неопределенная изменчивость является наследственной, так как она передается потомкам.</li>
        <li><em>Коррелятивная (соотносительная)</em> – изменение одного органа или признака влечет за собой изменения других органов и признаков (длинные конечности у животных почти всегда сопровождаются длинной шеей, голуби с оперением на ногах имеют перепонки между пальцами, белые кошки с голубыми глазами обычно глухие). Эта форма изменчивости объясняется плейотропией, взаимодействием и сцеплением генов)., Дарвин пришел к выводу, что для эволюционного процесса важны лишь наследуемые изменения. Основными факторами эволюции культурных форм являются наследственная изменчивость и искусственный отбор.</li>
    </ol>
    <p><strong>Искусственный отбор</strong> – это отбор, производимый человеком с целью получения особей, обладающих ценными для человека наследственными признаками. </p>
    <p><strong>Условия искусственного отбора:</strong> высокая степень изменчивости признака, большое количество особей, устранение нежелательных скрещиваний и тщательный отбор производителей.</p>
    <p>Для искусственного отбора характерно накапливающее действие (усиление полезных свойств). <strong>Главная задача</strong> – непрерывное изменение и улучшение сорта (породы). </p>
    <p>Искусственный отбор начал осуществляться с первых этапов земледелия и одомашнивания животных. Тогда человек не ставил перед собой задачу улучшить или изменить породу, а просто уничтожал или использовал в пищу в первую очередь менее ценных животных, например, коров с низкими надоями, кур с низкой яйценоскостью. Такой отбор называют <em>бессознательным.</em></p>
    <p>В дальнейшем начал производиться <em>методический отбор,</em> т. е. искусственный отбор с заранее поставленной целью. </p>
    <p><strong>Борьба за существование</strong> – сложные взаимоотношения внутри вида, между видами, между видами и средой обитания, способствующие увеличению плодовитости, способности обеспечить себя потомством и сохранению одних особей и уничтожение других.</p>
    <p><strong>Главная причина</strong> <em>– перенаселение –</em> несоответствие между возможностью видов к беспредельному размножению и ограниченность ресурсов.</p>
    <p><strong>Формы борьбы за существование по Ч. Дарвину:</strong></p>
    <ol type="1">
        <li><em>Внутривидовая</em> – между особями одной популяции любого вида. Эта форма борьбы наиболее напряженная, так как идет в одной экологической нише (особи одного вида нуждаются в одинаковых условиях существования и источниках питания). Примерами внутривидовой борьбы могут служить: соперничество между хищниками за добычу, за территорию, за самку, у растений – за свет. В целом внутривидовая борьба сопровождается снижением плодовитости и гибелью части особей вида. Одновременно это способствует совершенствованию вида в направлении большей приспособленности отдельных особей к среде обитания.</li>
        <li><em>Межвидовая</em> –между особями разных видов. Она протекает очень остро, если виды нуждаются в сходных условиях существования и источниках питания (саранча и травоядные животные, американская и европейские норки). Эта форма борьбы за существование включает борьбу хищника и жертвы, паразита и хозяина, конкурентные отношения из-за пищи, света.</li>
        <li><em>Борьба с факторами неживой природы</em> (засуха, жара, холод).</li>
    </ol>
    <p>Все виды борьбы за существование сопровождаются гибелью (элиминацией) части особей, которые не оставляют потомства, что способствует изменению и совершенствованию вида. В конечном итоге они приводят к выживанию организмов, наиболее приспособленных к конкретным условиям, т. е. к <strong>естественному отбору.</strong></p>
    <p><strong>Сущность естественного отбора:</strong></p>
    <ol type="1">
        <li>Исходный материал – индивидуальные признаки организма;</li>
        <li>Отбирающий материал – условия среды;</li>
        <li>Вредные изменения снижают плодовитость и выживаемость видов, поэтому элиминируются (уничтожаются в борьбе за существование);</li>
        <li>Полезные и нейтральные изменения поддерживаются отбором, накапливаются внутри вида и наследуются;</li>
        <li>Характер действия – творческий: отбираются приспособительные признаки на пользу особей популяции, что приводит к возникновениюновых форм. Результат – новые виды.</li>
    </ol>
    <p>Сравнивая искусственный и естественный отбор, следует отметить, что при искусственном отборе человек в соответствии со своими потребностями отбирает животных и растения с полезными для себя признаками, которые могут быть безразличны и даже вредны для самого организма (курдюк у курдючных овец мешает им при передвижении). Естественный же отбор происходит в природе в результате борьбы за существование и ведет к появлению новых разновидностей и видов, лучше приспособленных к среде обитания, т. е. отбираются признаки, полезные самим организмам. </p>
    <p>Естественный отбор не всегда приводит к гибели менее приспособленных особей. Такой формой является <strong>половой отбор</strong> – естественный отбор, определяемый конкуренцией особей одного пола в брачный период за спаривание с особями другого пола.</p>
    <p><em>Разновидности полового отбора:</em></p>
    <ul>
        <li>самки остаются пассивными, происходит прямая борьба между самцами (от размножения устраняются слабые самцы, появляется более сильное потомство);</li>
        <li>самцы не вступают в прямую борьбу, а конкурируют с целью очаровать самок (у самцов усиливаются вторичные половые признаки, самцы становятся заметными не только для самок, но и для хищников).</li>
    </ul>
    <p><strong>Значение теории Ч. Дарвина в естествознании:</strong></p>
    <ol type="1">
        <li>Вскрыл движущие силы эволюции и материалистически объяснил возникновение и относительный характер приспособленности действием только естественных законов.</li>
        <li>Научно обосновал взаимосвязь между изменчивостью, наследственностью и отбором и на большом фактическом материале показал, что главной движущей силой эволюции является естественный отбор.</li>
        <li>Учение Дарвина позволило научно обосновать происхождение человека.</li>
        <li>Вскрытые законы эволюции позволили создавать на научной основе новые породы домашних животных и сорта культурных растений, т. е. способствовали развитию селекции.</li>
    </ol>
    <h3 class="text-center"><strong>Доказательства эволюции органического мира. Биогенетический закон.</strong></h3>
    <ol type="I">
        <li>
            <strong><u>Эмбриологические</u></strong> (эмбриология – наука, изучающая зародышевый период развития организма). Законы Бэра (1828 г):
            <ol type="1">
                <li><em>Закон зародышевого сходства:</em> зародыши животных разных классов позвоночных на ранних стадиях эмбриогенеза имеют сходство контуров тела, наличие хорды, нервной трубки, жаберных щелей и т.п.</li>
                <li><em>Закон последовательности проявления признаков:</em> в процессе эмбриогенеза зародыши позвоночных последовательно проходят стадии зиготы, дробления, бластулы, гаструлы, закладки осевых органов, гисто- и органогенеза. Вначале у зародыша появляются признаки типа, затем класса, отряда, семейства, рода и вида.</li>
                <li><em>Закон эмбриональной дивергенции:</em> в процессе эмбриогенеза зародыши разных классов позвоночных постепенно приобретают отличительные признаки.</li>
            </ol>
            <p>Основываясь на приведенных выше фактах, немецкие ученые Ф. Мюллер (1864 г.) и Э. Геккель (1866 г.) независимо друг от друга сформулировали биогенетический закон.</p>
            <p><strong>Биогенетический закон.</strong> Зародыш в процессе индивидуального развития (онтогенеза) кратко повторяет историю развития вида (филогенез).</p>
            <p>Дальнейшими исследованиями А.О. Ковалевского (1840–1901), А.Н. Северцова (1866–1936) и И.И. Шмальгаузена (1884–1963) были внесены поправки в биогенетический закон: установлено, что в индивидуальном развитии повторяется строение не взрослых стадий предков, а эмбриональных (у зародышей млекопитающих и рыб закладываются жаберные дуги, на основе которых у рыб развиваются жабры, а у млекопитающих –хрящи гортани и трахеи).</p>
        </li>
        <li>
            <strong><u>Биогеографические</u></strong> (биогеография – наука, изучающая закономерности расселения представителей растительного и животного мира на Земле).
            <p>Установлено, что чем меньше связь между континентами и древнее изоляция отдельных частей планеты, тем сильнее различия организмов, населяющих эти территории (животный мир Австралии весьма своеобразен: здесь отсутствуют многие группы животных, зато сохранились такие, которых нет в других районах Земли, например яйцекладущие (утконос, ехидна) и сумчатые (кенгуру, сумчатый волк и др.) млекопитающие). Следовательно, причина сходства и различия флоры и фауны – изоляция ареалов.</p>
            <p><em>Реликтовые формы</em> – виды, существующие в настоящее время и обладающие признаками давно вымерших групп (латимерия – кистеперая рыба).</p>
        </li>
        <li>
            <strong><u>Сравнительно-анатомические</u></strong> (сравнительная анатомия – наука, изучающая общность и различия в строении организмов).
            <p>Доказательствами единства происхождения всех позвоночных служат клеточное строение и единый план строения: двусторонняя симметрия, наличие вторичной полости тела, осевого скелета, головного и спинного мозга, двух пар конечностей и основных систем органов (кровеносной, дыхательной, пищеварительной, выделительной и др.).</p>
            <p>Доказательствами единства происхождения и эволюции органического мира является наличие гомологичных органов, рудиментов и атавизмов. </p>
            <p><em>Гомологичные органы</em> – органы, имеющие сходство по строению и происхождению, независимое от их функции. <strong>N.B!!!</strong> Животные: относятся к одному типу; растения: видоизменения одного и того же органа.</p>
            <p>Гомология конечностей позвоночных животных: крылья птиц и летучих мышей, ласты кита, лапы крота, ящерицы, крокодила, рука человека, ласты тюленя, нога лошади.</p>
            <p>Гомология листьев растений: усики гороха, стеблевые чешуи хвоща, колючки кактуса, барбариса, почечные чешуи, ловчие листья росянки, кувшинки непентеса.</p>
            <p>Другие примеры гомологии: слюнные железы позвоночных и ядовитые железы змей; жало пчелы и яйцеклад наездника; хоботок бабочки и нижняя челюсть кузнечика.</p>
            <p><em>Аналогичные органы </em> – органы, имеющие внешнее сходство и выполняющие одинаковые функции, но разное строение и происхождение. <strong>N.B!!!</strong> Животные: относятся к разным типам; растения: видоизменения разных органов.</p>
            <p>Примеры аналогии: Крылья бабочки и крылья летучих мышей; жабры многощетинковых кольчатых червей, водных личинок насекомых, рака, рыбы и головастиков; плавники рыб и дельфинов; роющие конечности медведки и крота; бивни моржа и слона; колючки барбариса (видоизмененные листья), колючки белой акации (видоизмененные прилистники) и шиповника (выросты клеток коры). </p>
            <p><em>Рудименты</em> (от лат. rudimentum – зачаток) – органы, утратившие в процессе эволюции свое первоначальное значение и находящиеся в стадии обратного развития (исчезновения). У человека насчитывается около 100 рудиментарных образований: третье веко, зубы мудрости, копчик, червеобразный отросток (аппендикс), мышцы, двигающие ушную раковину, и др. Рудименты у животных – зубы у муравьеда, недоразвитые кости задних конечностей у китов. Наличие рудиментов можно объяснить только тем, что у предков эти органы функционировали и были хорошо развиты, но в процессе эволюции утратили свое значение.</p>
            <p><em>Атавизмы</em> (от лат. atavus – предок) – это появление у организмов признаков, свойственных их далеким предкам и утраченных в процессе эволюции. Примеры: появление у человека хвоста, дополнительных сосков, сплошного густого волосяного покрова (гипертрихоз), трехпалых конечностей у лошадей. В отличие от рудиментов они представляют собой отклонение от нормы. Атавизмы показывают историческую взаимосвязь вымерших и ныне существующих форм.</p>
            <p><em>Переходные формы</em> объединяют в своем строении признаки низших и высших классов (утконос и ехидна – млекопитающие, имеющие сходство с пресмыкающимися). Позволяют установить родство между представителями разных систематических групп.</p>
        </li>
        <li>
            <strong><u>Палеонтологические</u></strong> (палеонтология – наука об историческом развитии живой природы в течении всего геологического прошлого Земли, об ископаемых животных и растениях). 
            <p><em>Типы ископаемых остатков:</em> целые организмы, твердые скелетные структуры (кости, зубы), окаменелости (замещение тканей минеральными веществами), отпечатки (целых организмов или частей), следы ног животных.</p>
            <p><em>Переходные формы</em> – вымершие организмы, сочетающие в себе признаки более древних и более молодых форм (семенные папоротники, кистеперые рыбы, археоптерикс, зверозубые ящеры).</p>
            <p><em>Филогенетические (палеонтологические) ряды</em> – ископаемые формы, последовательно связанные друг с другом (лошадь: эогиппус – мезогиппус – меригиппус – плиогиппус – современная лошадь).</p>
        </li>
        <li>
            <strong><u>Молекулярно-генетические.</u></strong>
            <ol type="1">
                <li><em>Метод гибридизации ДНК.</em> Позволяет установить генетическое сходство и различие между разными видами организмов (генетический материал человека и карликового шимпанзе сходен на 99%, макаки – на 66%, быка – на 28%, крысы – на 17%, лосося – на 8%, кишечной палочки – на 2%).</li>
                <li><em>Метод сравнения аминокислотных последовательностей</em> белков организмов разных видов (гемоглобин человека и шимпанзе отличается на 1 аминокислоту, человек и горилла – на 3, человек и гиббон – на 8).</li>
                <li><em>Иммунологический метод.</em> Для оценки степени генетического родства организмов используется определение антител в сыворотке крови, в ответ на введение в кровь антигенов организмов определенного вида. Если изучаемое животное генетически близко человеку, то степень агглютинации высокая; если родство отдаленное – то незначительная. </li>
            </ol>
        </li>
    </ol>
    <h3 class="text-center"><strong>Вид. Критерии вида.</strong></h3>
    <p><strong>Вид</strong> – это совокупность особей, сходных по морфофизиологическим свойствам, имеющих общее происхождение, занимающих определенный ареал, способных свободно скрещиваться и давать плодовитое потомство.</p>
    <p>
        <strong>Критерии вида</strong> – характерные признаки и свойства вида, использующиеся для установления видовой принадлежности. Отдельный критерий не может быть использован для видовой идентификации, т.к. критерии не абсолютны. Точная видовая принадлежность определяется по совокупности критериев. 
        <ol type="1">
            <li><u>Морфологический критерий</u> (сходство внешнего и внутреннего строения особей одного вида). Самый удобный для изучения и широко применяется в систематике. Не абсолютен для видов, которые имеют морфологические сходства (виды-двойники), но не скрещиваются между собой. </li>
            <li><u>Физиологический критерий</u> (сходство всех процессов жизнедеятельности (обмен веществ, раздражимость, размножение и др.) у особей одного вида и объясняет степень половой изоляции групп организмов). Относителен, т.к. между некоторыми видами (канарейки, зяблики, тополя, ивы) возможна естественная гибридизация, в результате которой возникает плодовитое потомство.</li>
            <li><u>Биохимический критерий </u> сходство химического состава (структура белков, нуклеиновых кислот и др.) и биохимических реакций у особей одного вида).</li>
            <li><u>Генетический (цитоморфологический) критерий</u> (для каждого вида характерен свой набор хромосом, строго определенное их число, размеры, форма (сходство кариотипов у особей одного вида) и на сходный порядок нуклеотидов в молекулах ДНК).</li>
            <li>
                <u>Географический критерий </u> (каждый вид занимает определенный ареал). Критерий относителен, т.к. существуют виды, распространенные повсеместно <u>(виды-космополиты).</u>
                <p><em><u>Ареал</u></em> – часть поверхности суши или акватории, в пределах которой распространены и проходят полный цикл своего развития особи данного вида (рода, семейства). Если особи одного вида (волк, койот) встречаются на определенной территории регулярно – <em><u>сплошной ареал;</u></em> нерегулярно (разделен преградами) <em>– прерывистый.</em></p>
                <p>Виды, имеющие узкий ареал обитания называются <em>эндемичными</em> (утконос и ехидна в Австралии и Тасмании, гинкго и метасеквойя в Западном и Центральном Китае).</p>
            </li>
            <li><u>Экологический критерий</u> (совокупность факторов внешней среды, необходимых для существования данного вида, и его взаимоотношения с другими видами). Критерий относителен, т.к. в одной экологической нише могут существовать разные виды. Экологическая ниша – комплекс факторов, которые необходимы для существования вида, включая его связи с другими видами в сообществе. </li>
        </ol>
    </p>
</div>
