<h3 class="text-center"><em><u>Вегетативные органы растений: побег. Почка: определение, основные классификации. Стебель: виды стеблей. Варианты ветвления стебля. Поперечный срез стебля. Особенности строения стеблей травянистых растений. Видоизменения побегов или отдельных частей: их строение и значение.</u></em></h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <img src="~/Images/thema10/побег внешнее строение.png" alt="побег внешнее строение" title="побег внешнее строение" />
        </div>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Побег</strong> – участок стебля с расположенными на нем листьями и почками. Побег, развивающийся из почки в течение одного вегетационного периода, называется <strong>годичным.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Узел</strong> – место прикрепления к стеблю листа или почки.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Междоузлие</strong> – расстояние между двумя узлами.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Пазуха листа</strong> – угол, образованный черешком листа и стеблем.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Виды побегов:</strong>
    <ol>
        <li><em>Главный</em> – первый побег, развивающийся из семени;</li>
        <li><em>Боковые</em> – побеги, развивающиеся из боковых почек;</li>
        <li><em>Удлиненные</em> – побег, имеющий хорошо развитые междоузлия;</li>
        <li><em>Укороченные</em> – побеги, в которых узлы сближены и междоузлия очень короткие.</li>
        <li><em>Видоизмененные</em> – побеги, с необратимо измененной формой и функциями его частей.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Почка</strong> – это укороченный зачаточный побег с зачаточными листьями или цветками, прикрытый плотными чешуями, выполняющими защитную функцию.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Классификация почек:</strong>
    <ol type="I">
        <li>
            <em>По месту расположения на стебле:</em>
            <ol type="1">
                <li><em>Верхушечные почки</em> – располагаются на верхушке побега, обеспечивают верхушечный рост.</li>
                <li><em>Боковые почки</em> – почки, расположенные в узлах побегов. Обеспечивают ветвление побега и заменяют верхушечные почки в случае их повреждения. Боковые почки могут располагаться поочередно (ива, липа, ольха, осина) или супротивно (бузина, клен, сирень, ясень).</li>
                <li><em>Пазушные почки</em> – разновидность боковых почек, расположенные в пазухах листьев.</li>
                <li><em>Придаточные почки</em> – почки, возникающие на любом вегетативном органе растения (на корнях, стебле, листьях). Обеспечивают вегетативное размножение растений. Образование придаточных почек связано с повреждением: стрижка дерева, укус насекомого, паразитирование гриба, что иногда приводит к образованию множества придаточных побегов («ведьмины метлы»). </li>
            </ol>
        </li>
        <li>
            <em>По внутреннему строению:</em>
            <div class="row">
                <div class="col">
                    <ol type="1">
                        <li><em>Вегетативные почки</em>вид почек, из которых впоследствии развивается новый побег. Состоит из зачаточного стебелька с конусом нарастания, зачаточных листьев, и плотных кожистых почечных чешуй, покрывающих почку снаружи. </li>
                        <li><em>Генеративные почки</em> - вид почек, из которых впоследствие развивается цветок или соцветие. Состоит из зачаточного стебелька с конусом нарастания, зачаточных листьев, зачаточного бутона цветка или соцветия и плотных кожистых почечных чешуй, покрывающих почку снаружи. Генеративная почка более крупная и округлая, чем вегетативная.</li>
                    </ol>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <img src="~/Images/thema10/почки.png" alt="почки" title="почки" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <em>По времени развития:</em>
            <ol type="1">
                <li><em>Развивающиеся почки</em> – самые крупные, расположены недалеко от вершины побега. Они набухают и трогаются в рост в начале нового вегетационного периода.</li>
                <li><em>Зимующие (покоящиеся/почки возобновления) почки</em>  – верхушечные или пазушные почки многолетних растений, вступающих в период сезонного покоя, из которых весной развивается новый побег. Кроющие чешуи плотно прилегают друг к другу, края их плотно сомкнуты и предохраняют почки от вымерзания, уменьшают испарение воды.</li>
                <li><em>Спящие почки</em> – пазушные почки, находящиеся в состоянии покоя в течение нескольких вегетационных периодов. Могут находится в стадии покоя длительный период (у дуба до 100 лет, у березы до 50 лет, у осины до 40 лет, у боярышника до 25 лет), стимулом к их пробуждению является повреждение верхушечной почки.</li>
            </ol>
        </li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Стебель</strong> – надземный, осевой, радиально-симметричный вегетативный орган высших растений, обладающий неограниченным верхушечным и вставочным ростом, отрицательным геотропизмом (положительным гелиотропизмом) и несущий на себе почки, листья, цветы и плоды.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Функции стебля:</strong>
    <ol>
        <li><em>Опорная (механическая)</em> – выносит листья, цветы и плоды к свету;</li>
        <li><em>Транспортная (проводящая)</em> – передвижение воды, минеральных солей и органических веществ;</li>
        <li><em>Запасающая</em> – накопление питательных веществ;</li>
        <li><em>Связующая</em> – объединяет все органы растения в единый организм;</li>
        <li><em>Защитная</em> – стеблевые колючки (боярышник, дикая груша, цитрусовые, дикая слива, дикая яблоня) защищают растение от поедания животными;</li>
        <li><em>Фотосинтезирующая</em> – иногда функционально заменяет листья (кактус, молодые зеленые побеги);</li>
        <li><em>Дыхательная</em> – осуществляет газообмен при помощи устьиц и чечевичек;</li>
        <li>Определение положения растения в пространстве;</li>
        <li>Является органом вегетативного размножения.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Рост стебля.</strong> Почки набухают, почечные чешуи раздвигаются и опадают. Побег удлиняется за счет деления клеток конуса нарастания (верхушечный рост). По мере удаления от конуса нарастания способность клеток к делению ослабевает, а затем полностью утрачивается. Происходит дифференцировка образовательной ткани в клетки постоянных тканей. При дальнейшем развитии побега стебель может расти в длину не только верхушкой, но и междоузлиями (вставочный рост).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Волчок</strong> – удлиненный побег, развивающийся на месте спящей почки (дуб, вяз, клен, рябина, яблоня).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Плодушка</strong> – укороченный побег плодовых растений, на котором образуются цветки и плоды (груша, яблоня).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Стрелка</strong> – безлиственный побег с соцветием, нарастающий основанием (за счет вставочного роста – одуванчик, первоцвет, подорожник, лук, чеснок, земляника).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Классификация стеблей:</strong>
    <ol type="I">
        <li>
            <em>По степени одревеснения:</em>
            <ol type="1">
                <li><em>Травянистые стебли</em> – стебли, которые слабо утолщены и живут один вегетационный период (травы);</li>
                <li><em>Одревесневающие стебли</em> – стебли, развивающиеся в течение нескольких вегетационных периодов; покрыты пробкой или коркой (кустарники, деревья).</li>
            </ol>
        </li>
        <li>
            <em>По расположению в пространстве:</em>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li><em>Прямостоячие</em> – растет вертикально вверх, не нуждается в опоре (ель, липа, береза, пшеница).</li>
                            <li>
                                <em>Лежачие</em>
                                <ul>
                                    <li>стелются по земле, укореняются придаточными корнями.</li>
                                    <li>стелющиеся (горец птичий, птичья гречиха, костяника, клюква)</li>
                                    <li>ползучие (живучка ползучая, земляника, клубника, луговой чай, лапчатка гусиная, тыква).</li>
                                </ul>
                            </li>
                            <li>
                                <em>Лазящие (цепляющиеся)</em> – приподнимаются вверх, цепляясь усиками или придаточными корнями за опору (виноград, огурец, плющ, горошек мышиный).
                            </li>
                            <li>
                                <em>Вьющиеся</em> – поднимаются, обвиваясь вокруг прямостоячих стеблей или искусственных опор (хмель, фасоль).
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <img src="~/Images/thema10/виды побегов.png" alt="виды побегов" title="виды побегов" />
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Лианы</strong> – растения с лазящими или вьющимися стеблями.
            </div>
        </li>
        <li>
            <em>По наполненности стебля:</em>
            <ol type="1">
                <li><em>Полые</em> (злаки);</li>
                <li><em>Сплошные</em> (древесные растения).</li>
            </ol>
        </li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ветвление стебля</strong> – образование боковых стеблей за счет роста боковых почек и побегов. У деревьев главный стебель (ствол) ветвится на некоторой высоте, образуя крону (совокупность всех ветвей).
</p>
<li>
    <em>Типы ветвления стебля:</em>
    <ol type="1">
        <li><em>Дихотомическое (вильчатое) ветвление</em> – главная ось не выражена, верхушка главной оси раздваивается в виде вилки и дает начало двум осям второго порядка, которые раздваиваются также в виде вилки (водоросли, мхи, плауны). Крона не образуется.</li>
        <li><em>Моноподиальное ветвление</em>– главная ось хорошо выражена, растет верхушкой в течение всей жизни растения. От главной оси отходят более короткие боковые оси 2,3 и далее порядков (хвощи, папоротники, голосеменные и некоторые древесные и травянистые покрытосеменные растения: клен, дуб, ясень, клевер, колокольчик). Крона пирамидальная.</li>
        <li><em>Симподиальное ветвление</em> – главная ось хорошо выражена, но рано прекращает свой рост (верхушечная почка отмирает), под верхушкой трогается в рост боковая почка, выросший из нее побег перерастает главный, сдвигает его в сторону, но он также рано прекращает свой рост и т.д (покрытосеменные растения). Крона шаровидная. Частным случаем симподиального ветвления является ложнодихотомическое. Оно возникает при супротивном расположении листьев и, следовательно, боковых почек. В этом случае обе верхние боковые почки одновременно трогаются в рост, и возникает два верхушечных побега (сирень, конских каштан, гвоздика, омела).</li>
        <li><em>Кущение</em> – почки, сидящие на тесно сближенных узлах у основания побега, формируют приземные и подземные боковые побеги (злаки).</li>
    </ol>
</li>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Внутреннее строение стебля древесного растения.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;На поперечном срезе древесного растения выделяют 4 слоя (снаружи-внутрь): кора, камбий, древесина, сердцевина.
</p>
<ol type="1">
    <li>
        <em>Кора. Кора состоит из двух слоев: </em>

        <div class="container">
            <div class="row">
                <div class="col">
                    <ol type="A">
                        <li>Наружный слой представлен покровной тканью (кожицей, пробкой или коркой в зависимости от возраста растений). Функции: защитная, транспирация и газообмен. Под покровной тканью находится основная ткань. Функции: запасающая, фотосинтез (зеленые стебли).</li>
                        <li>Внутренний слой коры – луб (флоэма) – сложная ткань, состоящая из ситовидных трубок с клетками-спутницами, лубяных волокон и лубяной паренхимы. Функции: нисходящий ток органических веществ, опорная и запасающая. </li>
                    </ol>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <img src="~/Images/thema10/внутреннее строение.png" alt="виды побегов" title="Внутреннее строение стебля" />
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li><em>Камбий.</em> Слой боковой образовательной ткани, расположенный между лубом и древесиной. Его клетки активно делятся, но увеличения камбия в толщину не происходит (всегда остается только одно камбиальное кольцо), т.к. из двух дочерних клеток, образовавшихся при делении, только одна сохраняет способность к дальнейшему делению, а вторая откладывается либо к лубу, либо к древесине (в среднем в соотношении 1:4). Для камбия характерна сезонная активность. Весной клетки камбия делятся активнее, образуя крупные клетки древесины (сосуды), а в конце лета менее активно, образуя мелкие клетки (механическую ткань). Функция: рост стебля в толщину.</li>
    <li>
        <em>Древесина.</em> Основная ткань стебля (90% всего объема стебля), представляет собой сложную ткань, состоящую из сосудов/трахеид, древесинных волокон и древесинной паренхимы. Функции: восходящий ток воды и минеральных солей, опорная и запасающая. Скорость движения воды и растворенных веществ по стеблю достигает несколько десятков метров в час, это происходит за счет корневого давления, транспирации (испарение воды листьями создает большую сосущую силу в их клетках), тургорному давлению и капиллярности (силе сцепления между молекулами воды и со стенкой сосуда), обусловленной силой поверхностного натяжения (вода – единая гидростатическая система, которая образует в сосудах непрерывные водяные нити и создает условия для их натяжения во время испарения, благодаря чему водяной столб поднимается).
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;На спиле древесного растения в виде концентрических кругов хорошо заметна граница между осенней древесиной прошлого года и весенней этого года, отличающихся по цвету. Это <strong>годичные кольца прироста</strong> – совокупность клеток древесины, отложенной камбием к древесине в течение одного вегетационного периода. Старшие годичные кольца расположены ближе к сердцевине, при благоприятных условиях образуются более широкие кольца. По кольцам можно определить условия жизни растения в тот или иной период, возраст дерева – число годичных колец равно возрасту растения, а также сторону света. Часть стебля, ориентированная на юг, имеет более широкие кольца, на север – более узкие.
        </p>
    </li>
    <li><em>Сердцевина.</em>Центральная часть стебля, представлена запасающей паренхимой (округлые клетки с большим количеством включений: крахмал, жиры, белки). Функции: запасающая. От сердцевины берут начало <strong>сердцевинные лучи</strong> (один или несколько слоев клеток основной ткани, идущие радиально от сердцевины к лубу). В древесине они узкие, в коре – расширены. Функции: горизонтальный транспорт воды, минеральных и органических веществ; запасающая.</li>
</ol>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Сравнительная характеристика стебля однодольного и двудольного травянистых растений.</strong>
</p>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col"><strong>Признак</strong></th>
                    <th scope="col"><strong>Однодольное растение</strong></th>
                    <th scope="col"><strong>Двудольное растение</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ветвление</td>
                    <td>Редко ветвится</td>
                    <td>Стебель ветвится</td>
                </tr>
                <tr>
                    <td>Кора</td>
                    <td>Часто содержатся хлоропласты (стебли зеленые)</td>
                    <td>Не содержит хлоропластов</td>
                </tr>
                <tr>
                    <td>Расположение проводящих пучков</td>
                    <td>Без определенной закономерности, закрытого типа (не содержат камбия), состоят только из флоэмы и ксилемы, не растут в толщину</td>
                    <td>Кольцом, открытого типа (содержат камбий), пучки состоят из флоэмы, камбия и ксилемы</td>
                </tr>
                <tr>
                    <td>Сердцевина</td>
                    <td>Отсутствует, центральная часть у некоторых растений (пшеница, рожь, ячмень, кукуруза) разрушается и образуется воздухоносная полость (соломина).</td>
                    <td>Хорошо выражена</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Видоизменения побегов или отдельных частей: их строение и значение.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Подземные:</strong>
    <div class="container">
        <ol type="1">
            <li>
                <div class="row">
                    <div class="col">
                        <em>Корневище</em> (ландыш, пырей, крапива, купена, мать-и-мачеха, ветреница, земляника) – видоизмененный подземный побег, внешне очень похож на корень. Отличия от корня: занимает в почве горизонтальное положение, нет корневого чехлика, есть верхушечная почка, есть узлы и междоузлия, есть редуцированные листья в виде бурых, бесцветных чешуй, в пазухах которых находятся боковые почки, на которых вырастают подземные побеги, от узлов отрастают придаточные корни.
                    </div>
                    <div class="row justify-content-center">
                        <img src="~/Images/thema10/корневище.png" alt="виды побегов" title="Корневище" />
                    </div>
                </div>
            </li>
            <br />
            <li>
                <div class="row">
                    <div class="col">
                        <em>Луковица</em> чеснок, лилия, лук, тюльпан, нарцисс, гиацинт, крокус) – подземный видоизмененный побег с укороченным стеблем <strong>(донцем),</strong> от которого вниз отходят придаточные корни; а вверх сочные листья (чешуи), в которых накапливаются питательные вещества, в пазухах чешуй формируются придаточные почки, из которых формируются надземные побеги и новые луковицы <strong>(луковицы-детки).</strong> На верхушке донца расположена верхушечная генеративная почка, из которой развивается надземный побег <strong>(стрелка)</strong> с соцветием, между сочными чешуями – боковые вегетативные почки, от которых отрастают листья <strong>(перья).</strong> Наружные кроющие сухие чешуи защищают внутренние мясистые от высыхания и загнивания.
                    </div>
                    <div class="row justify-content-center">
                        <img src="~/Images/thema10/луковица.png" alt="виды побегов" title="Луковица" />
                    </div>
                </div>
            </li>
            <br />
            <li>
                <div class="row">
                    <div class="col">
                        <em>Клубень</em> (картофель, топинамбур) – видоизмененный подземный побег с сильно утолщенным стеблем с развитой запасающей паренхимой (депо запасных питательных веществ (крахмал)). Подземные клубни развиваются на <strong>столонах</strong> видоизмененных подземных побегах с длинными тонкими междоузлиями и чешуевидными листьями, не содержащих запасающей ткани. На поверхности клубня картофеля расположены <strong>бровки</strong> – места прикрепления недоразвитых листьев, в пазухах которого располагаются <strong>глазки</strong> – группы боковых почек клубня. Почки расположены по спирали (больше на вершине, меньше у основания) и дают начало зеленым надземным побегам, в которых образуются органические вещества, откладывающиеся в основной ткани клубней, расположенных на столонах.
                    </div>
                    <div class="row justify-content-center">
                        <img src="~/Images/thema10/клубень.png" alt="виды побегов" title="Клубень" />
                    </div>
                </div>
            </li>
            <br />
            <li>
                <div class="row">
                    <div class="col">
                        <em>Клубнелуковица </em>безвременник, гладиолус) – видоизмененный подземный побег, напоминающий луковицу. Отличия от луковицы: разросшееся донце служит местом накопления запасных питательных веществ; хорошо развиты верхушечная и боковые почки, дающие начало цветоносам и дочерним клубнелуковицам <strong>(клубнелуковицам-деткам).</strong>
                    </div>
                    <div class="row justify-content-center">
                        <img src="~/Images/thema10/клубнелуковицаа.png" alt="виды побегов" title="Клубнелуковица" />
                    </div>
                </div>
            </li>
        </ol>
    </div>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Надземные:</strong>
    <ol type="1">
        <li><em>Надземный клубень</em> (кольраби) – мясистый разросшийся видоизмененный стебель, содержащий запасные питательные вещества.</li>
        <li><em>Кочан</em> (кочанная капуста) – видоизмененная почка, представляет собой короткий стебель с многочисленными толстыми перекрывающими друг друга листьями, почти лишенными хлоропластов.</li>
        <li><em>Колючки</em> могут быть видоизменениями листьев (кактус, барбарис), прилистников (белая акация), черешка листа (астрагал), главного стебля (роза, шиповник), стебля боковых побегов (дикая груша, дикая яблоня, боярышник), боковых побегов (гледичия).</li>
        <li><em>Усы/усики</em> могут быть видоизменениями побега (земляника), стебля (виноград, огурец, тыква), листа (горох, вика, чина).</li>
        <li><em>Ловчий аппарат</em> - видоизменения листьев насекомоядных растений (росянка, пузырчатка, венерина мухоловка).</li>
        <li><em>Водоносные побеги</em> – видоизменения побегов, характерные для растений засушливых мест (суккуленты). Стеблевые суккуленты (кактусы, молочаи, гастерия, солерос) – запас воды в стебле; листовые суккуленты (алоэ, каланхоэ, молодило, агава, очиток) – запас воды в листьях.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Значение видоизмененных побегов:</strong>
    <ol type="I">
        <li>
            <em>Биологическое</em>
            <ol type="1">
                <li>Запас питательных веществ (сахар, крахмал);</li>
                <li>Перенесение неблагоприятных условий среды;</li>
                <li>Орган вегетативного размножения;</li>
                <li>Расселение;</li>
                <li>Защита от поедания.</li>
            </ol>
        </li>
        <li>
            <em>Хозяйственное:</em>
            <ol type="1">
                <li>Источник продуктов питания для человека и корма скоту;</li>
                <li>Источник сырья для промышленности;</li>
                <li>Получение большого урожая сельскохозяйственных культур (т.к. имеют способность к вегетативному размножению).</li>
            </ol>
        </li>
    </ol>
</p>
<a href=@Url.Action("Test2","Courses")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>