<div class="container">
    <h3 class="text-center"><strong>Биологическая мембрана: строение и функции.</strong></h3>
    <p><em>Элементарная биологическая мембрана</em> – один из наиболее важных структурных компонентов клетки. Биологическая мембрана при рассмотрении в электронном микроскопе выглядит трехслойной – два темных слоя, разделенных светлым. Наружный и внутренний слои мембраны (темные) образованы молекулами белков, а средний (светлый) – двумя слоями молекул жидких фосфолипидов (липидное море). Мембрана может иметь отверстия – поровые комплексы. </p>
    <p>
        <strong>Модели строения биологической мемраны:</strong>
        <ol type="1">
            <li><em>«Бутербродная модель»</em> (Даниэл и Доусон, 1943). Основу мембраны составляет билипидный слой (двойной слой фосфолипидов), поверх которого расположены два сплошных слоя белка. Модель не объясняет избирательной проницаемости биологической мембраны.</li>
            <li>
                <em>«Жидкостно-мозаичная модель»</em>  (Зингер и Николсон, 1972). Основу мембраны составляет двойной слой фосфолипидов, находящихся в жидкой фазе. Молекулы фосфолипидов ориентированы гидрофильными головками наружу (к водной среде), гидрофобными хвостиками внутрь, друг к другу. Белки не покрывают фосфолипиды сплошными слоями, а располагаются как мозаика – 1 молекула белка приходится на 30-40 молекул фосфолипидов. Белки могут полностью пронизывать фосфолипидный слой (интегральные), частично пронизывать его <em>(полуинтегральные)</em> или быть расположенными на поверхности <em>(периферические).</em>
                <img src="~/Images/thema45/Жидкостно-мозаичная модель.png" alt="Жидкостно-мозаичная модель" class="IMG_centr" width="100%" height="100%" />
                <p>Молекулы липидов и белков мембран удерживаются гидрофильно-гидрофобными взаимодействиями.</p>
            </li>
        </ol>
    </p>
    <p>
        <strong>Свойства биологической мембраны:</strong>
        <ol type="1">
            <li><em>Пластичность (текучесть).</em> Позволяет мембране изменять свою форму;</li>
            <li><em>Способность к самозамыканию.</em> Позволяет быстро восстанавливаться после повреждения; позволяет отграничивать отдельные участки клетки (митохондрии, пластиды, каналы ЭПС)</li>
            <li><em>Избирательная проницаемость.</em> Молекулы и ионы проходят через мембрану с различной скоростью (чем больше размер молекулы, тем меньше скорость). Избирательная проницаемость мембраны связана с наличием на поверхности мембраны особой разветвленной структуры – гликокаликса (слоя гликопротеинов и гликолипидов), представляющая собой рецепторы, которые воспринимают («узнают») определенные химические вещества, окружающие клетку. Гликокаликс обеспечивает взаимосвязь клеток многоклеточного организма, иммунный ответ и другие реакции.</li>
        </ol>
    </p>
    <p>
        <strong>Функции биологической мембраны:</strong>
        <ol type="1">
            <li><em>Структурная.</em> Образует плазмалемму, кариолемму и стенки мембранных органоидов;</li>
            <li><em>Регуляторная (транспортная).</em> Регулирует поступление веществ в клетку, ядро и органоиды и выведение из них;</li>
            <li><em>Защитная (барьерная).</em> Защищает клетку и органоиды от воздействия факторов внешней среды;</li>
            <li><em>Рецепторная.</em> «Узнает» определенные вещества и сигналы;</li>
            <li><em>Ферментативная (каталитическая).</em> Некоторые белки мембран являются ферментами и многие биохимические реакции протекают на мембранах;</li>
            <li><em>Разграничительная (компартментализация).</em> Разделяет цитоплазму клетки на отсеки (компартменты).</li>
            <li><em>Образование электрических потенциалов.</em></li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Оболочка клетки, строение и функции.</strong></h3>
    <ol type="1">
        <li>
            <strong>Надмембранный комплекс.</strong>
            <p>В животных клетках – <em>гликокаликс,</em> в клетках растений – клеточная стенка, состоящая из целлюлозы, у грибов – клеточная стенка из хитина.</p>
            <p>Молекулы целлюлозы объединяются в пучки <em>(микрофибриллы)</em>, которые составляют каркас клеточной оболочки. Микрофибриллы погружены в матрикс клеточной стенки, который составляет 60% сухого вещества клеточной оболочки. В матриксе преобладают <em>гемицеллюлозы</em> (полимеры ксилозы, галактозы, маннозы, глюкозы) и <em>пектиновые вещества</em> (полимеры, состоящие из метилового спирта, галактуроновой кислоты и арабинозы или галактозы), содержащие большое количество карбоксильных групп и способные соединяться с Mg<sup>2+</sup> и Ca<sup>2+</sup>, образуя клейкие структуры.</p>
            <p>Помимо углеводных компонентов в состав матрикса клеточной стенки входит белок <em>экстенеин</em> (гликопротеин, близок по составу к коллагену). Основным инкрустирующим веществом клеточной стенки растений является белок <em>лигнин</em> (неразветвленный полимер, состоящий из различных спиртов), который скрепляет целлюлозные волокна и приводит к одревеснению клеточной оболочки. </p>
            <p>На клеточную оболочку могут откладываться жироподобные вещества: <em>воск</em> (образует восковой налет); <em>кутин</em> (образует кутикулу); <em>суберин/бетулин</em> (откладываются на оболочку изнутри, практически не пропускает воду и вызывает опробковение клетки (протопласт отмирает и содержимое клетки заполняется воздухом)).</p>
            <p><strong>Клеточная стенка (оболочка)</strong> – продукт жизнедеятельности растительной клетки. Она придает клетке прочность, выполняет защитную функцию, поддерживает форму и размер клетки. <em>Первичная</em> клеточная стенка образуется во время деления и роста, <em>вторичная</em> – после прекращения роста. В образовании клеточной стенки участвуют ЭПС и КГ.</p>
            <p>Клеточная стенка прокариот (бактерий) состоит из пептидогликана <em>муреин</em> (правильная сеть полисахаридных нитей, расположенных параллельно друг другу и сшитых пептидными цепочками). Снаружи клеточная стенка прокариот часто окружена слизистой капсулой.</p>
        </li>
        <li>
            <strong>Цитоплазматическая мембрана (плазмалемма)</strong> – элементарная мембрана, покрывающая клетку, участвует в обменных процессах клетки с окружающей средой. Она образует выросты, выпячивания, складки, микроворсинки, которые многократно увеличивают поверхность клетки.
        </li>
        <li>
            <strong>Подмембранный комплекс</strong> – микротрубочки цитоскелета гиалоплазмы, прикрепленные к плазмалемме.
        </li>
    </ol>
    <p>
        <strong>Функции оболочки клетки:</strong>
        <ol type="1">
            <li><em>Барьерная</em> – отграничивает содержимое клетки от внешней среды;</li>
            <li><em>Регуляторная (транспортная)</em> – регулирует поступление веществ в клетку и из клетки;</li>
            <li><em>Рецепторная</em> – «узнает» определенные вещества и обеспечивает межклеточные взаимодействия;</li>
            <li><em>Структурная</em> – принимает участие в построении ворсинок, жгутиков, ресничек;</li>
            <li><em>Опорная</em> – поддерживает определенную форму и размер клетки, регулирует ее рост (клеточная стенка);</li>
            <li><em>Защитная</em>  – предупреждает разрыв клетки, вследствие осмотического проникновения воды (клеточная стенка), снижает потери воды и предупреждает проникновение болезнетворных микроорганизмов (кутикула);</li>
            <li><em>Образование межклеточных контактов</em> (клеточная стенка и гликокаликс).</li>
        </ol>
    </p>
    <p>
        <strong>Виды межклеточных контактов:</strong>
        <ol type="1">
            <li><em>Плазмодесмы</em> – тонкие трубчатые каналы, которые через поры клеточной стенки соединяются с ЭПР другой клетки (растительные клетки);</li>
            <li><em>Коннексоны</em> – тонкие каналы из белка коннектина, проникающие через мембраны соседних клеток; коннексон одной клетки строго соответствует коннексону другой (животные клетки).</li>
            <li><em>Синапс</em> – структура, образованная двумя мембранами и щелью между ними (нервные клетки).</li>
        </ol>
    </p>
    <p><strong>Строение синапса:</strong> Одна мембрана <em>(пресинаптическая)</em> принадлежит клетке, посылающей сигнал; вторая <em>(постсинаптическая)</em> – клетке, принимающей сигнал. Информация передается от одной клетки другой при участии медиаторов (норадреналин, ацетилхолин), которые выделяются из передающей клетки (расширенная часть отростка нейрона называется <em>синаптической бляшкой) в синаптическую щель,</em> а затем взаимодействуют с мембраной принимающей клетки, она приходит в состояние возбуждения, изменяет свою проницаемость и способствует передаче нервного импульса.</p>
    <p>Через плазмалемму происходит поступление веществ в клетку –  <strong>эндоцитоз</strong> (мембрана впячивается и окружает твердую (фагоцитоз) или жидкую (пиноцитоз) частицу; в цитоплазме образуется мембранная (фагоцитарная) вакуоль – эндосома, которая сливается с лизосомой, ферменты которой расщепляют макромолекулы до мономеров) и выведение их из клетки <strong>– экзоцитоз</strong> (вакуоль, содержащая выводимые продукты, сливается с цитоплазматической мембраной, а содержимое выделяется во внешнюю среду).</p>
    <h3 class="text-center"><strong>Способы поступления веществ в клетку.</strong></h3>
    <ol type="1">
        <li><em>Пассивный транспорт (диффузия)</em> – перенос веществ по градиенту концентрации (из области большей концентрации в область меньшей) без затрат энергии. Поступление в клетку растворителя (воды) называется осмосом. Неполярные (гидрофобные) мелкие молекулы (азот, аммиак, углекислый газ, кислород, мочевина) могут проходить через билипидный слой мембраны. В клетку и из клетки ионы и мелкие полярные (гидрофильные) молекулы могут диффундировать по ионным каналам, образованным интегральными белками мембран.</li>
        <li><em>Облегченная диффузия</em> – перенос веществ по градиенту концентрации без затрат энергии при помощи интегральных белков-«переносчиков». Мембранные белки-«переносчики» (пермеазы) соединяются с молекулой вещества и проводят ее через мембрану. Так переносятся некоторые аминокислоты и моносахариды (глюкоза). Скорость перемещения выше, чем при диффузии. </li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col">
                <ol type="1" start="3">
                    <li><em>Активный транспорт</em> – перенос веществ против градиента концентрации с затратой энергии АТФ при помощи транспортных белков (порины, АТФ-азы), образующих мембранные насосы.</li>
                </ol>
                <p>Натрий-калиевый насос (интегральный белок) поддерживает в клетке более высокую концентрацию К<sup>+</sup> и более низкую концентрацию Na <sup>+</sup>, чем в межклеточной жидкости. В результате активного транспорта при помощи мембранного насоса происходит регуляция в клетке Mg<sup>2+</sup> и Ca<sup>2+</sup> Также путем активного транспорта в клетку проникают нуклеотиды и некоторые аминокислоты. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Строение растительной клетки.png" alt="Строение растительной клетки" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <h3 class="text-center"><strong>Цитоплазма: гиалоплазма, органоиды, включения.</strong></h3>
    <p>Цитоплазма – многокомпонентная система, состоящая из гиалоплазмы, органоидов (органелл) и включений.</p>
    <p><strong>Гиалоплазма (цитоплазматический матрикс)</strong> – однородная мелкозернистая структура, состоящая из двух фаз – жидкой и твердой и обеспечивающая вязкость, эластичность, сократимость и движение цитоплазмы. </p>
    <p><em>Жидкая фаза</em> – коллоидный раствор, состоящий из воды, минеральных солей, ионов (натрия, калия, хлора и др.), аминокислот, белков, РНК, липидов и углеводов.</p>
    <p><em>Твердая фаза</em> – система тонких (2 нм) белковых нитей (микротрабекул), пересекающих цитоплазму в различных направлениях.</p>
    <p><em>Микротрабекулярная система</em> связывает мембранные органеллы, фибриллярные и трубчатые компоненты (опорно-двигательная система клетки) и плазмалемму. В местах пересечения или соединения концов трабекул расположены группы рибосом. Вместе с трубчатыми <em>(микротрубочки)</em> и фибриллярными <em>(микрофиламенты)</em> компонентами цитоплазмы микротрабекулярная система образует внутриклеточный цитоплазматический скелет (цитоскелет), который упорядочивает размещение всех структурных компонентов клетки. </p>
    <p>Микротрабекулярная система динамична: при изменении внешних и внутренних условий ее нити могут легко распадаться на отдельные молекулы белка, которые переходят в раствор и изменяют физические свойства гиалоплазмы (изменяется агрегатное состояние отдельных участков цитоплазмы с жидкого (золь) на плотное (гель), и наоборот.</p>
    <p>
        <strong>Функции гиалоплазмы:</strong>
        <ol type="1">
            <li>Является внутренней средой клетки, в которой происходят химические процессы;</li>
            <li>Объединяет все клеточные структуры и обеспечивает химическое взаимодействие между ними;</li>
            <li>Определяет расположение органелл в клетке;</li>
            <li>Обеспечивает внутриклеточный транспорт веществ (аминокислот, сахаров) и перемещение органелл (движение хлоропластов в растительных клетках);</li>
            <li>Является основным вместилищем и зоной перемещения молекул АТФ;</li>
            <li>Определяет форму клетки.</li>
        </ol>
    </p>
    <p><strong>Включения</strong> – непостоянные компоненты цитоплазмы, содержание которых меняется в зависимости от функционального состояния клетки.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <strong>Виды включений:</strong>
                    <ol type="1">
                        <li><em>Секреторные.</em> Продукты функциональной активности желез внешней и внутренней секреции (гормоны, ферменты, слизь);</li>
                        <li><em>Экскреторные.</em> Включения, содержащие продукты жизнедеятельности, подлежащие выведению из клетки (кристаллы щавелевокислого натрия);</li>
                        <li><em>Трофические.</em> Запасные питательные вещества клетки: углеводы (крахмал (растительная клетка) и гликоген (животная клетка), жиры, белки).</li>
                    </ol>
                </p>
                <p><strong>Органоиды (органеллы)</strong> – это специализированные участки цитоплазмы клетки, имеющие определенную структуру и выполняющие определенные функции в клетке. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Строение животной клетки.png" alt="Строение животной клетки" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <strong>Классификации органелл:</strong>
        <ol type="I">
            <li>
                <u>По назначению в клетке:</u>
                <ol type="1">
                    <li><em>Органеллы общего назначения.</em> Имеются в большинстве клеток (митохондрии, комплекс Гольджи, эндоплазматическая сеть, рибосомы, клеточный центр, лизосомы, пластиды и вакуоли);</li>
                    <li><em>Органеллы специального назначения.</em> Имеются только в специализированных клетках (миофибриллы – в мышечных клетках; жгутики, реснички, сократительные и пищеварительные вакуоли – в клетках протистов). </li>
                </ol>
            </li>
            <li>
                <u>По строению:</u>
                <ol type="1">
                    <li>
                        <em>Мембранные.</em> Имеют в своем составе одну или несколько биологических мембран.
                        <ol type="A">
                            <li>Одномембранные (имеют одну биологическую мембрану) – ЭПС, КГ, лизосомы, вакуоли. </li>
                            <li>Двумембранные (имеют две биологические мембраны) – митохондрии, пластиды.</li>
                        </ol>
                    </li>
                    <li><em>Немембранные.</em> Не имеют в своем составе биологической мембраны (рибосомы и органеллы опорно-двигательной системы клетки).</li>
                </ol>
            </li>
            <li>
                <u>По участию в обмене веществ:</u>
                <ol type="1">
                    <li><em>Анаболической системы</em> (синтез веществ) – ЭПС, КГ, рибосомы, пластиды;</li>
                    <li><em>Катаболической системы</em> (расщепление веществ) – митохондрии, лизосомы.</li>
                </ol>
            </li>
        </ol>
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Эндоплазматическая сеть (ретикулум)</strong> – органелла общего назначения, мембранного строения, анаболической системы. Представлена системой каналов и полостей, образованных элементарными мембранами и пронизывающих всю гиалоплазму клетки.</p>
                <p>Имеются два типа ЭПС – <em>гладкая (агранулярная) и шероховатая (гранулярная).</em> На мембранах гранулярной ЭПС находятся рибосомы.</p>
                <p>Синтезируемые на шероховатой ЭПС белки обычно не используются клеткой, а проходят через мембрану в каналы и полости ЭПС, где изолируются от цитоплазмы, накапливаются, дозревают, затем перемещаются в другие части клетки, в т.ч. комплекс Гольджи.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Эндоплазматический ретикулум.png" alt="Эндоплазматический ретикулум" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>На рибосомах гранулярной ЭПС синтезируются интегральные и периферические белки мембран клетки, белки цитоплазмы. Цистерны гранулярной ЭПС связаны с ядерной оболочкой и являются ее продолжением. </p>
    <p>
        <strong>Функции ЭПС:</strong>
        <ol type="1">
            <li>Синтез жиров и углеводов (гладкая);</li>
            <li>Синтез жиров, углеводов (гликоген) и белков (шероховатая);</li>
            <li>Компартментализация (деление мембранами ЭПС клетки на отсеки);</li>
            <li>Транспорт веществ;</li>
            <li>Связывание компонентов клетки в единое целое;</li>
            <li>Образование новых ядерных оболочек после деления клетки.</li>
        </ol>
    </p>
    <p><strong>Комплекс (аппарат) Гольджи</strong> – органелла общего назначения, мембранного строения, анаболической системы. Был открыт итальянским ученым К. Гольджи в 1898 г. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Выявляется под световым микроскопом в животных клетках в виде сложной сети, расположенной вокруг ядра (сетчатый комплекс). В клетках протистов и растений представлен отдельными серповидными или палочковидными тельцами <em>(диктиосомы).</em> Электронно-микроскопические исследования показали, что комплекс Гольджи состоит из элементарных мембран и напоминает стопку рулонов, которые образуют узкие каналы, расширяющиеся на концах в цистерны, от которых отпочковываются пузырьки. Каналы и цистерны комплекса Гольджи соединены с каналами эндоплазматической сети.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Комплекс Гольдж.png" alt="Комплекс Гольдж" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <strong>Функции комплекса Гольджи:</strong>
        <ol type="1">
            <li>Концентрация, обезвоживание и уплотнение синтезированных в клетке белков, жиров, полисахаридов и веществ, поступивших извне, сборка сложных комплексов органических веществ и подготовка их к выведению из клетки, либо к использованию в самой клетке.</li>
            <li>Синтез пектиновых веществ, слизи корневого чехлика, гемицеллюлозы, и целлюлозы, используемых для построения клеточной стенки растений.</li>
            <li>Синтез гликопротеинов и гликолипидов гликокаликса, секрета поджелудочной железы, амилазы слюны, гормонов гипофиза, коллагена.</li>
            <li>Образование сложных белков молока в молочных железах, желчи в печени, вещества хрусталика, зубной эмали.</li>
            <li><em>Образование первичных лизосом.</em></li>
            <li>Формирование биологических мембран и стенок клеток растения после деления.</li>
            <li><em>Образование вакуолей.</em></li>
        </ol>
    </p>
    <p>КГ и ЭПС тесно связаны между собой и образуют транспортную систему клетки: их совместная деятельность обеспечивает синтез и преобразование веществ в клетке, их наполнение и транспорт.</p>
    <p><strong>Рибосома</strong> – органелла общего назначения, немембранного строения, анаболической системы.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Представляет собой мелкую сферическую структуру (размером от 15 до 35 нм), состоящую из двух субъединиц (большой и малой, соединяющихся при помощи ионов Mg<sup>2+</sup>), содержащие около 60% белка и 40% рРНК. Субъединицы рибосом синтезируются в ядрышках и через поры ядерной мембраны поступают в цитоплазму, где располагаются либо на мембранах эндоплазматической сети, либо свободно и в митохондриях и хлоропластах.</p>
                <p>Имеется два активных центра: <em>аминоацильный</em> (фиксация тРНК с аминокислотой) и <em>пептидильный</em> (образуются пептидные связи между аминокислотами). </p>
                <p>В эукариотических клетках рибосомы крупнее, чем у прокариот. При синтезе белков они могут объединяться на иРНК в группы (полисомы) числом от 5 до 70. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Рибосона.png" alt="Рибосона" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Функция:</strong> синтез белка (трансляция).</p>
    <p><strong>Лизосома</strong> – органелла общего назначения, мембранного строения, катаболической системы.</p>
    <p><em>Первичная лизосома</em> – шаровидное тельце диаметром от 0,2 до 2 мкм, покрыта элементарной мембраной и содержит около 40 гидролитических ферментов, способных в кислой среде (рН 4,5–5,0) расщеплять белки, нуклеиновые кислоты, жиры и углеводы. Образование лизосом происходит в комплексе Гольджи. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>При попадании пищевых веществ или микроорганизмов в составе эндосомы в цитоплазму клетки первичные лизосомы сливаются с ними, образуя <em>вторичные лизосомы (фагосомы),</em> внутри которых происходит их переваривание <strong>(гетерофагия</strong> – переваривание чужеродных веществ). Лизосома с остатком непереваренных веществ называется <em>микротельце (остаточное тельце).</em></p>
                <p><strong>Аутофагия</strong> – разрушение собственных материалов клетки (временных органов эмбрионов и личинок (хвоста и жабр в процессе развития головастиков лягушек), запасных питательных веществ, органелл, утративших функциональную активность).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Структура Лизосомы.png" alt="Структура Лизосомы" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Автолиз</strong> – самопереваривание клетки. При патологических изменениях клетки или при ее старении мембраны лизосом могут разрушаться, ферменты выходят в цитоплазму и разрушают структуры самой клетки. Продукты лизиса через мембрану лизосом поступают в цитоплазму и включаются в дальнейший обмен веществ.</p>
    <p>
        <strong>Функции лизосом:</strong>
        <ol type="1">
            <li>Внутриклеточное пищеварение;</li>
            <li>Внутриклеточная регенерация;</li>
            <li>Участие в онтогенезе.</li>
        </ol>
    </p>
    <p><strong>Митохондрия</strong> – органелла общего назначения мембранного строения катаболической системы. Видна в световой микроскоп в виде гранул, палочек, нитей величиной от 0,5 до 7 мкм. Имеются во всех клетках, число их от 50 до 5000 в зависимости от функциональной активности клетки. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Структура митохондрии (электронная микроскопия). Оболочка состоит из двух мембран – наружной гладкой и внутренней, образующей выросты – <em>кристы,</em> которые вдаются во внутреннее гомогенное содержимое митохондрии <em>(матрикс).</em> Между мембранами находится <em>перимитохондриальное пространство</em> (место скопления ионов водорода). На кристах расположены грибовидные тела – <em>АТФ-сомы.</em> В матриксе содержатся вода, соли, аминокислоты, имеется автономная система биосинтеза белков: <em>кольцевая молекула митохондриальной ДНК,</em> не связанная с белками-гистонами, различные виды РНК, рибосомы (мельче, чем в цитоплазме клеток) и ферменты кислородного этапа энергетического обмена (ферменты цикла Креббса, тканевого дыхания и окислительного фосфорилирования).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Метохондрия.png" alt="Метохондрия" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <strong>Функции митохондрий:</strong>
        <ol type="1">
            <li>Окисление органических соединений до диоксида углерода и воды и накопление химической энергии в макроэргических фосфатных связях АТФ (кислородный этап энергетического обмена);</li>
            <li>Синтез стероидных гормонов;</li>
            <li>Синтез специфических белков (рибосомы);</li>
            <li>Участие в цитоплазматической наследственности (кольцевая молекула ДНК).</li>
        </ol>
    </p>
    <p><strong>Вакуоли</strong> –участки гиалоплазмы растительных клеток и протистов, ограниченные элементарной мембраной. Образуются из расширений эндоплазматической сети и пузырьков комплекса Гольджи.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>В клетках образовательной ткани растений из пузыревидных расширений ЭПС образуются небольшие вакуоли, увеличиваясь, сливаются в центральную вакуоль, занимающую 70-90% объема клетки. Окружающая мембрана <em>(тонопласт)</em> имеет толщину 4-6 нм.</p>
                <p>Содержимое вакуоли растительной клетки – клеточный сок. В клеточном соке содержатся пигменты <em>антоцианы,</em> придающие ему различную окраску (пурпурную, красную, синюю или фиолетовую). Близкие к антоцианам <em>флавоны и флавоноиды </em> окрашивают клеточный сок в желтый или кремовый цвет и придают окраску плодам, листьям, корнеплодам.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Строение вакуоли.png" alt="Строение вакуоли" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>Клеточный сок растительных клеток может содержать <em>фитогормоны (регуляторы роста), фитонциды и ферменты.</em></p>
    <p><strong>Функции вакуолей растительной клетки:</strong> осморегуляция (поддержание тургорного давления). </p>
    <p>Вакуоли протистов можно разделить на две группы: <em>пищеварительные,</em> в которые поступают гидролитические ферменты лизосом и происходит внутриклеточное пищеварение, и <em>сократительные,</em> собирающие и выводящие за пределы клетки продукты диссимиляции и излишки воды и тем самым поддерживающие осмотическое давление клетки.</p>
    <p><strong>Пластиды</strong> – органеллы общего назначения, мембранного строения анаболической системы. Содержатся только в растительных клетках. Родоначальником любых пластид являются <em>пропластиды.</em></p>
    <p>
        <strong>Виды пластид:</strong>
        <ol type="I">
            <li>
                <p><em>Хлоропласты (зеленые).</em> По форме напоминают двояковыпуклую линзу и содержат зеленый пигмент хлорофилл и вспомогательные пигменты – каротиноиды. Их размеры 5–10 мкм. Хлоропласты имеются в листьях, молодых побегах, незрелых плодах.</p>
                <p>Стенка хлоропласта образована двумя мембранами, под которыми находится бесструктурное содержимое – <em>строма.</em> Строма пронизана системой параллельно расположенных элементарных мембран, являющихся продолжением внутренней мембраны – <em>тилакоидами.</em> В некоторых местах парные мембраны тилакоидов диаметром около 0,3 мкм плотно прилегают друг к другу, образуя стопки, содержащие хлорофилл, – <em>граны.</em> Граны связаны между собой особыми удлиненными тилакоидами —  <em>ламеллами.</em></p>
                <p>На мембранах тилакоидов и гран протекает световая фаза фотосинтеза, а в строме – темновая. В строме хлоропластов имеется автономная система синтеза белков (ДНК, РНК и мелкие рибосомы).</p>
                <p>
                    <strong>Функции хлоропластов:</strong>
                    <ol type="1">
                        <li>Фотосинтез;</li>
                        <li>Синтез специфических белков (рибосомы);</li>
                        <li>Участие в цитоплазматической наследственности (молекула ДНК).</li>
                    </ol>
                </p>
                <img src="~/Images/thema45/пласть хлоропласт.png" alt="пласть хлоропласт" class="IMG_centr" width="100%" height="100%" />
            </li>
            <li>
                <em>Хромопласты (чаще желтые или оранжевые).</em> Пластиды, содержащие растительные пигменты <em>(каротиноиды),</em> придающие желтую, оранжевую или красную окраску цветкам, плодам, стеблям и другим частям растений (томаты, рябина, шиповник, корнеплоды моркови).
            </li>
            <li>
                <em>Лейкопласты (бесцветные).</em> Не имеют гран и не содержат пигментов. В лейкопластах накапливаются запасные питательные вещества и в зависимости от вида вещества называются: <em>протеинопласты</em> (белки), <em>элайопласты</em> (жиры), <em>амилопласты</em> (крахмал).
            </li>
        </ol>
    </p>
    <p>Пластиды имеют сходное строение и при определенных условиях могут переходить из одного вида в другой (при хранении картофеля и моркови на свету лейкопласты и хромопласты превращаются в хлоропласты (овощи зеленеют).</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Клеточный центр (центросома)</strong> – органелла, находящаяся вблизи ядра и состоящий из двух мелких гранул <em>– центриолей</em> (центр образования микротрубочек), расположенных перпендикулярно друг к другу и окруженных лучистой сферой. <em>Сателлиты</em> – придатки материнской центриоли (ножки, соединённые с центриолью; головка – фокус схождения микротрубочек). Характерен для большинства животных клеток, имеется у некоторых грибов, водорослей, мхов и папоротников. <strong>Функция центросомы:</strong> образование полюсов деления и формировании микротрубочек веретена деления, с помощью которых происходит растягивание дочерних хромосом к полюсам в анафазе мейоза и митоза. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Центросома.png" alt="Центросома" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Строение центриоли</strong> (электронная микроскопия): цилиндрическое тельце длиной 0,3–0,5 мкм и диаметром 0,15 мкм. Состоит из 27 микротрубочек, сгруппированных по три в 9 групп.</p>
    <p><strong>Микротрубочки</strong> – тонкие полые неразветвленные цилиндры диаметром 25 нм, образованные белком тубулином. Выполняют опорную функцию, образуют веретено деления, обеспечивает расхождение хроматид к полюсам и перемещение клеточных органелл.</p>
    <p>
        <strong>Органоиды движения клетки:</strong>
        <ol type="1">
            <li><em>Жгутики</em> – выросты цитоплазмы, покрытые элементарной мембраной, под которой находится 20 микротрубочек, образующих 9 пар по периферии и 2 одиночные в центре. Длина жгутиков достигает 100 мкм.</li>
            <li>
                <em>Реснички</em> – короткие (10–20 мкм) многочисленные жгутики.
                <p>Реснички и жгутики служат для передвижения организмов (бактерии, протисты, ресничные черви), половых клеток (сперматозоидов) либо для перемещения частиц или жидкостей (реснички мерцательного эпителия дыхательных путей, яйцеводов). У основания ресничек и жгутиков расположены <em>базальные тельца,</em> образующие микротрубочки этих органоидов.</p>
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Строение и функции клеточного ядра.</strong></h3>
    <p><strong>Ядро</strong> – обязательный компонент всех эукариотических клеток. Исключение составляют некоторые высокоспециализированные, утратившие способность делиться и недолго живущие клетки (эритроциты млекопитающих и клетки ситовидных трубок цветковых растений). Некоторые клетки имеют два и более ядер (клетки печени и мышц у человека и млекопитающих, инфузории, грибы). Форма и размеры ядра зависят от формы и величины клетки и выполняемой ею функции. В округлых и многоугольных клетках оно обычно шаровидное, в вытянутых – палочковидное или овальное, в лейкоцитах – лопастное.</p>
    <img src="~/Images/thema45/Клеточное строение.png" alt="Клеточное строение" class="IMG_centr" width="100%" height="100%" />
    <p><em>Химический состав ядра:</em> ДНК (15–30%) и РНК (12%), белки, липиды, углеводы, минеральные соли и вода. 99% ДНК клетки сосредоточено в ядре, где она вместе с белками образует комплексы – дезоксирибонуклеопротеины (ДНП).</p>
    <p>В процессе деления клеток структуры ядра претерпевают значительные изменения. В интерфазном ядре различают ядерную оболочку, ядерный сок, хроматин и ядрышки.</p>
    <p><em>Ядерная оболочка (кариолемма)</em> – две биологические мембраны, между которыми находится перинуклеарное пространство. Наружная ядерная мембрана непосредственно соединена с мембранами каналов ЭПС. Перинуклеарное пространство и ЭПС образуют единую систему сообщающихся каналов. На наружной ядерной мембране располагаются рибосомы; внутренняя мембрана гладкая, контактирует с кариолимфой, рибосом не содержит. Ядерная оболочка пронизана многочисленными порами (диаметр их около 90 нм), через которые происходит обмен веществ между ядром и цитоплазмой. Кариолемма – непостоянное образование, исчезает в начале деления клетки и восстанавливается после его окончания.</p>
    <p><strong>Функции ядерной оболочки:</strong> регуляция обмена веществ, защита ядерного содержимого.</p>
    <p><strong>Ядерный сок (кариоплазма, нуклеоплазма)</strong> – это однородная масса (гелеобразный матрикс), заполняющая пространство между структурами ядра (хроматином и ядрышками). Химический состав: вода, соли, белки (ферменты), нуклеотиды, аминокислоты и различные виды РНК. Ядерный сок осуществляет взаимосвязь ядерных структур и обмен с цитоплазмой клетки.</p>
    <p><strong>Ядрышки</strong> обычно имеют шаровидную форму, не окружены мембраной и находятся в непосредственном контакте с ядерным соком. Содержат белки (до 80% сухого веса) и рРНК, которые окружают вторичные перетяжки хромосом. </p>
    <p>Ядрышки – непостоянные образования, они растворяются в начале деления клетки и восстанавливаются после его окончания. Их образование связано со вторичными перетяжками  <em>(ядрышковыми организаторами)</em> некоторых хромосом (спутничных). В области вторичных перетяжек этих хромосом локализованы гены, кодирующие синтез рРНК и белков, а в ядрышках происходит формирование субъединиц рибосом, которые затем выходят в цитоплазму через поры в ядерной оболочке.</p>
    <p>Хроматин представляет собой дезоксирибонуклеопротеин (ДНП, комплекс ДНК и белков-гистонов в соотношении 1:1,3), выявляется под световым микроскопом в виде тонких нитей и гранул. Хроматин бывает <em>частично спирализованный (неактивный/гетерохроматин)</em> и <em>неспирализованный (активный/эухроматин).</em> В процессе митоза хроматин путем спирализации образует хорошо видимые (особенно в метафазе) интенсивно окрашивающиеся структуры – хромосомы.</p>
    <p>
        <strong>Функции ядра:</strong>
        <ol type="1">
            <li>Хранение, воспроизведение и передача наследственной информации;</li>
            <li>Регуляция процессов обмена веществ, протекающих в клетке.</li>
        </ol>
    </p>
    <p><strong>Метафазная хромосома</strong> состоит из двух продольных нитей ДНП –  <em>хроматид,</em> основу каждой из них составляет одна молекула ДНК в комплексе с молекулами гистоновых белков. Хроматиды соединены друг с другом в области первичной перетяжки – <em>центромеры</em>  к которой прикрепляются нити веретена деления. Центромера делит тело хромосомы на  <em>два плеча.</em> В области центромеры располагается фибриллярное тельце <em>– кинетохор,</em> которое регулирует движение хромосом при клеточном делении; к нему прикрепляются нити веретена деления, разводящие хроматиды к полюсам.</p>
    <img src="~/Images/thema45/Метафазная хромосома.png" alt="Метафазная хромосома" class="IMG_centr" width="100%" height="100%" />
    <h3><strong>В зависимости от расположения первичной перетяжки различают следующие типы хромосом: </strong></h3>
    <ol type="1">
        <li><em>Метацентрические</em> (равноплечие), центромера расположена посередине, а плечи примерно равной длины;</li>
        <li><em>Субметацентрические</em> (неравноплечие), центромера смещена от середины хромосомы, а плечи неравной длины; </li>
        <li><em>Акроцентрические</em> (палочковидные), центромера смещена к одному концу хромосомы и одно плечо очень короткое.</li>
    </ol>
    <img src="~/Images/thema45/хромосомы.png" alt="хромосомы" width="100%" height="100%" class="rounded" />
    <p>Концевые участки плеч хромосом заканчиваются <em>теломерами,</em> препятствующими соединению разных хромосом. В некоторых хромосомах могут быть <em>вторичные перетяжки,</em> отделяющие от тела хромосомы участок, называемый <em>спутником.</em> Этот участок хромосомы контролирует синтез ядрышка <em>(ядрышковый организатор).</em></p>
    <p>
        <strong>Правила хромосом:</strong>
        <ol type="1">
            <li>Правило постоянства числа хромосом. Соматические клетки организма каждого вида имеют строго определенное число хромосом.</li>
            <li>Правило парности хромосом. Каждая хромосома в соматических клетках имеет такую же идентичную по размерам, форме, но не одинаковую по происхождению хромосому: одну — от отца, другую — от матери.</li>
            <li>Правило индивидуальности хромосом. Каждая пара хромосом отличается от другой пары размером, формой, которая зависит от расположения центромеры, чередованием светлых и темных полос, которые выявляются при дифференциальной окраске.</li>
            <li>Правило непрерывности хромосом. Перед делением клетка ДНК удваивается и к каждой из двух исходных нитей достраивается по принципу комплементарности новые нити ДНК, в результате образуются две молекулы ДНК, из которых получаются две сестринские хроматиды.</li>
        </ol>
    </p>
    <p><strong>Функции хромосом:</strong> хранение, воспроизведение и передача генетической информации в клетке.</p>
    <p><strong>Кариотип</strong> – совокупность хромосом соматической клетки (диплоидный набор), характеризующая организм данного вида. В клетках человека диплоидный набор составляет 46 хромосом.</p>
    <p>Хромосомы подразделяют на аутосомы (пары хромосом, одинаковые у обоих полов) и гетерохромосомы/половые хромосомы (пара хромосом, разная у мужских и женских особей).</p>
    <p>Кариотип человека содержит 22 пары аутосом и 2 половые хромосомы: 2 X-хромосомы у женщины (44+ХХ) и Х-хромосома и Y-хромосома у мужчины (44+XY).</p>
    <p>В соматических клетках организма содержится диплоидный (2n) набор хромосом, а в половых (яйцеклетках и сперматозоидах) – гаплоидный (1n). </p>
    <p>Клетки, имеющие более двух наборов хромосом – полиплоидные (3n, 4n, 5n). Количество хромосом в кариотипе не связано с уровнем организации организмов: примитивные организмы могут иметь больше хромосом, чем высокоорганизованные (клетки радиолярий – морских протистов (1000-1600 хромосом), шимпанзе (48), пшеницы мягкой (42), картофеля (18), мухи домашней (12), мушки дрозофилы (8).</p>
    <p><strong>Идиограмма</strong> – систематизированный кариотип, в котором парные (гомологичные) хромосомы располагаются по мере убывания их размеров. </p>
    <h3 class="text-center"><strong>Особенности строения клеток прокариот и эукариот. Особенности строения растительной и животной клеток.</strong></h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Признак</td>
                <td>Прокариоты</td>
                <td>Эукариоты</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Надмембранные образования</td>
                <td>Клеточная стенка (содержит муреин) и слизистая капсула</td>
                <td>Клеточная стенка (содержит целлюлозу) у растений и гликокаликс у животных</td>
            </tr>
            <tr>
                <td>Цитоплазматическая мембрана</td>
                <td>Есть</td>
                <td>Есть</td>
            </tr>
            <tr>
                <td>Размеры клетки</td>
                <td>1-10 мкм</td>
                <td>10-100 мкм</td>
            </tr>
            <tr>
                <td>Метаболизм</td>
                <td>Аэробный или анаэробный</td>
                <td>Аэробный (у паразитических червей анаэробный)</td>
            </tr>
            <tr>
                <td>Ядро</td>
                <td>Нет</td>
                <td>Есть</td>
            </tr>
            <tr>
                <td>ДНК</td>
                <td>Нуклеоид (кольцевая молекула ДНК, не связанная с белками-гистонами)</td>
                <td>Линейные молекулы в совокупности с белками-гистонами образуют хромосомы</td>
            </tr>
            <tr>
                <td>Транскрипция</td>
                <td>Происходит в цитоплазме, до 80% генов считываются одновременно, все гены присутствуют в единственном экземпляре</td>
                <td>Происходит в ядре, генетическая информация (диплоидный набор) считывается по частям с разных генов, в разных типах клеток, в разное время</td>
            </tr>
            <tr>
                <td>Цитоплазма</td>
                <td>Есть</td>
                <td>Есть</td>
            </tr>
            <tr>
                <td>Цитоскелет</td>
                <td>Нет</td>
                <td>Есть</td>
            </tr>
            <tr>
                <td>Мембранные органеллы</td>
                <td>Нет, их функции выполняют мезосомы</td>
                <td>ЭПС, КГ, митохондрии, лизосомы, вакуоли</td>
            </tr>
            <tr>
                <td>Немембранные органеллы</td>
                <td>Рибосомы 70S*</td>
                <td>Рибосомы 80S (в митохондриях 70S)</td>
            </tr>
            <tr>
                <td>Опорно-двигательная система клетки</td>
                <td>Жгутики</td>
                <td>Микрофиламенты, микротрубочки, центриоли, реснички, жгутики</td>
            </tr>
            <tr>
                <td>Деление</td>
                <td>Бинарное деление клетки надвое</td>
                <td>Митоз (мейоз), амитоз</td>
            </tr>
            <tr>
                <td>Представители</td>
                <td>Бактерии, цианобактерии</td>
                <td>Растения, грибы, животные, протисты
                </td>
            </tr>
        </tbody>
    </table>
    <p><em>*S (сведберг) - единица, характеризующая скорость седиментации в центрифуге. Чем больше число S, тем выше скорость седиментации (осаждения).</em></p>
<h3 class="text-center"><strong>Сравнительная характеристика клеток эукариот.</strong></h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td rowspan="2">Признак</td>
                <td colspan="4">Вид клетки</td>
            </tr>
            <tr>
                <td>Протисты</td>
                <td>Грибы</td>
                <td>Растения</td>
                <td>Животные</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Клеточная стенка</td>
                <td>+ (целлюлоза или пектин)</td>
                <td>+ (хитин)</td>
                <td>+ (целлюлоза)</td>
                <td></td>
            </tr>
            <tr>
                <td>Гликокаликс</td>
                <td>+ (гетеротрофные)</td>
                <td></td>
                <td></td>
                <td>+</td>
            </tr>
            <tr>
                <td>Плазмалемма</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
            </tr>
            <tr>
                <td>Цитоскелет</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
            </tr>
            <tr>
                <td>Митохондрии</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
            </tr>
            <tr>
                <td>Лизосомы</td>
                <td>+</td>
                <td>+</td>
                <td></td>
                <td>+</td>
            </tr>
            <tr>
                <td>Рибосомы</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
            </tr>
            <tr>
                <td>Транспортная система (ЭПС+КГ)</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
            </tr>
            <tr>
                <td>Центральная вакуоль</td>
                <td>+ (автотрофные)</td>
                <td>+</td>
                <td>+</td>
                <td></td>
            </tr>
            <tr>
                <td>Хлоропласты</td>
                <td>+ (автотрофные)</td>
                <td></td>
                <td>+</td>
                <td></td>
            </tr>
            <tr>
                <td>Тип ассимиляции</td>
                <td>Авто- и гетеротрофный</td>
                <td>Гетеротрофный</td>
                <td>Автотрофный</td>
                <td>Гетеротрофный</td>
            </tr>
            <tr>
                <td>Центриоли</td>
                <td>+ (гетеротрофные)</td>
                <td></td>
                <td>+ (мхи и папоротники)</td>
                <td>+</td>
            </tr>
            <tr>
                <td>Запасное питательное вещество</td>
                <td>Крахмал (автотрофные), гликоген (гетеротрофные)</td>
                <td>Гликоген</td>
                <td>Крахмал</td>
                <td>Гликоген</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center"><strong>Особенности строения растительной и животной клеток</strong></h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Признак</td>
                <td>Растительная клетка</td>
                <td>Животная клетка</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Оболочка клетки</td>
                <td>Клеточная стенка (целлюлоза), плазмалемма, подмембранный комплекс</td>
                <td>Гликокаликс, плазмалемма, подмембранный комплекс</td>
            </tr>
            <tr>
                <td>Цитоплазма</td>
                <td>Гиалоплазма, органоиды, включения</td>
                <td>Гиалоплазма, органоиды, включения</td>
            </tr>
            <tr>
                <td>Ядро</td>
                <td>Есть</td>
                <td>Есть</td>
            </tr>
            <tr>
                <td>Запасное питательное вещество</td>
                <td>Крахмал</td>
                <td>Гликоген</td>
            </tr>
            <tr>
                <td>Тип ассимиляции</td>
                <td>Автотрофный</td>
                <td>Гетеротрофный</td>
            </tr>
            <tr>
                <td>Связь клеток</td>
                <td>Плазмодесмы</td>
                <td>Коннексоны</td>
            </tr>
            <tr>
                <td>Центриоли</td>
                <td>Только у мхов и некоторых папоротников</td>
                <td>Есть</td>
            </tr>
            <tr>
                <td>Центральная вакуоль</td>
                <td>Есть</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>Лизосомы</td>
                <td>Нет (есть очень редко)</td>
                <td>Есть</td>
            </tr>
        </tbody>
    </table> 
</div>
