<div class="container">
    <p><strong>Жизнь</strong> – способ существования открытых коллоидных систем, обладающих свойствами самовоспроизведения, саморегуляции и самообновления на основе совместного функционирования сложных комплексов биополимеров (белков и нуклеиновых кислот), вследствие преобразования поступивших из внешней среды веществ и заключенной в них энергии.</p>
    <p>
        <strong>Гипотезы происхождения жизни на Земле:</strong>
        <ol type="1">
            <li><strong>Гипотеза креационизма</strong> (от лат. creatio – сотворение) предполагает сотворение жизни сверхъестественным существом – <em>Творцом.</em> Процесс божественного сотворения мира мыслится как имевший место лишь однажды и поэтому недоступный для наблюдения, соответственно данная гипотеза никогда не сможет быть окончательно доказанной или опровергнутой.</li>
            <li><strong>Гипотеза стационарного состояния (этернизма)</strong> (от лат. eternus – вечный). Земля и жизнь на ней никогда не возникала, а существовала вечно. Выдвинута немецким ученым <em>В. Прайером</em> (1880 г.) и поддерживалась <em>В.И. Вернадским.</em> Сторонники этой гипотезы предполагали, что живое могло происходить только от живого <em>(гипотеза биогенеза).</em> В настоящее время хорошо известно, что Земля длительное время была необитаема.</li>
            <li>
                <strong>Гипотеза панспермии.</strong> Появление жизни на Земле в результате переноса с других планет зародышей жизни. Предложена немецким ученым <em>Г. Рихтером</em> (1865 г.) и поддержана физиками <em>Г. Гельмгольцем, С. Аррениусом и др.</em> Согласно их представлениям, споры бактерий и других организмов могли быть занесены на Землю метеоритами, космической пылью, давлением световых лучей.
                <p>В последнее время доказана высокая устойчивость живых организмов к неблагоприятным воздействиям, и, в частности, к низким температурам. Исходя из универсальности генетического кода английский биофизик <em>Ф. Крик</em> поддерживает гипотезу панспермии, но считает, что жизнь на Землю занесена космическими пришельцами. </p>
                <p>Эта гипотеза представляет интерес с точки зрения существования жизни на других планетах, но она не дает ответа на вопрос о ее происхождении.</p>
            </li>
            <li>
                <strong>Гипотеза самозарождения.</strong> Жизнь возникала неоднократно из неживого вещества: источником спонтанного самозарождения служат либо неорганические соединения, либо гниющие органические остатки <em>(концепция абиогенеза).</em>
                <p>Такие идеи были распространены в древнем Китае, Вавилоне и Египте. Сторонником теории самопроизвольного зарождения живого был древнегреческий философ и ученый  <em>Аристотель</em> (384–322 гг. до н. э.), предполагавший, что насекомые и лягушки могут заводиться в сырой почве. В дальнейшем в качестве доказательств сторонники этих гипотез приводили многочисленные примеры появления микроорганизмов, плесневых грибов и личинок мух на портящихся продуктах и нечистотах. </p>
                <p>В 1668 г. итальянский врач <em>Ф. Реди</em> опроверг эти представления. Он поместил кусочки мяса в сосуды, часть из которых закрыл кисеей, а часть оставил открытыми. В открытых сосудах вскоре появились личинки мух, а в закрытых они не вывелись. Опровергнув концепцию самозарождения, он высказал мысль о том, что жизнь может возникнуть только из предшествующей жизни <em>(концепция биогенеза).</em></p>
                <p>В 1765 г. итальянский ученый <em>Л. Спалланцани</em> прокипятил в течение нескольких часов мясные и овощные бульоны, которые тут же запаял. Через несколько дней в бульонах отсутствовали признаки жизни.</p>
                <p>Противники точки зрения Л. Спалланцани считали, что в закрытых после кипячения колбах «портится» воздух и в них не может проникнуть «жизненная сила». Это предположение опроверг французский микробиолог <em>Л. Пастер</em>  (1859 г.). Он поместил в колбы с длинными S-образными горлышками питательную среду и прокипятил ее, убив все находящиеся там микроорганизмы. Через S-образную трубку «жизненная сила» могла свободно проходить в колбы, а бактерии и их споры оседали на стенках трубки. В этих условиях никакого «самозарождения» жизни не наблюдалось. Когда же S-образные горлышки были отломаны, микроорганизмы смогли свободно проникать в питательную среду, и наблюдался их бурный рост. </p>
                <p>Таким образом, было окончательно доказано, что в современных условиях самозарождение жизни невозможно, т. е. справедлива теория биогенеза.</p>
            </li>
            <li><strong>Биохимическая гипотеза.</strong> Жизнь возникла на Земле в результате биохимической эволюции: жизнь является закономерным результатом химической эволюции соединений углерода во Вселенной. Предложил советский биохимик <em>А.И. Опарин</em> (1924 г.) и независимо от него английский биохимик <em>Дж. Холдейн</em>  (1929 г.).</li>
            <p>Базируясь на гипотезе Опарина–Холдейна, английский ученый Дж. Бернал (1947 г.) сформулировал <strong>гипотезу биопоэза,</strong> согласно которой возникновение жизни на Земле включает следующие этапы:</p>
            <p>
                <u>Химическая эволюция.</u>
                <ol type="1">
                    <li> Абиогенное возникновение органических мономеров;</li>
                    <li>Образование биополимеров из более простых органических соединений (белков, нуклеиновых кислот, полисахаридов);</li>
                    <li>Возникновение примитивных самовоспроизводящихся организмов <em>(коацерватов);</em>
                        <p><u>Переход от химической эволюции к биологической:</u></p>
                    </li>
                    <li>Появление мембранных структур <em>(пробионтов).</em></li>
                </ol>
            </p>
        </ol>
    </p>
    <p>
        <strong>Первый этап: абиогенный синтез простых органических соединений.</strong> Земля как планета возникла около 4,5 млрд лет назад. Температура ее поверхности была очень высокой (4–5 тыс. °С). По мере снижения температуры углерод и тугоплавкие металлы (железо, алюминий, кальций, магний и др.) конденсировались и образовали земную кору (около 3,9 млрд лет назад). Вода долгое время находилась в парообразном состоянии и, конденсируясь в верхних слоях атмосферы, выпадала на раскаленную поверхность. К этому моменту начала формироваться первичная атмосфера, состоящая из паров воды, аммиака, диоксида углерода, метана и цианистого водорода. Легкие газы (водород, гелий, азот, кислород и аргон) уходили из атмосферы. При дальнейшем остывании Земли у ее поверхности происходила конденсация паров воды, что привело к образованию первичного океана.
    </p>
    <p>Мощные электрические разряды и излучения (космическое и солнечное в отсутствие озонового слоя) и постоянная вулканическая деятельность привели к образованию простых органических соединений: формальдегида, муравьиной и молочной кислот, мочевины, глицерина и некоторых простых аминокислот. Так как свободного кислорода в атмосфере не было, то эти соединения не окислялись, а накапливались в водах первичного океана, образуя так называемый <em>«первичный бульон».</em> Продолжительность этих процессов составляла многие миллионы и десятки миллионов лет.</p>
    <p>Вероятно, так осуществился первый этап биопоэза – образование и накопление органических мономеров.</p>
    <p>Первый этап биохимической эволюции был подтвержден экспериментально американским биохимиком <em>С. Миллером</em> (1953 г.). Он сконструировал аппарат, «атмосферой» в котором служила смесь аммиака, водорода и метана, а вода – «первичным океаном». Воду нагревали, а через смесь газов пропускали электрические разряды. После непрерывной работы прибора в течение недели были получены некоторые органические соединения: аминокислоты, простые сахара, альдегиды и аденин. Опыты Миллера были многократно повторены со смесями разных газов и с разными источниками энергии: во всех случаях при отсутствии кислорода удавалось получить целый спектр различных простых органических соединений. В дальнейшем американским ученым <em>Дж. Оро</em> в сходных условиях были получены аденин, урацил и нуклеотиды.</p>
</div>
