<div class="container">
    <p><strong>Изменчивость</strong>  – это способность дочерних организмов отличаться от родительских форм морфологическими, физиологическими, биохимическими и другими признаками и особенностями индивидуального развития.</p>
    <div class="container">
        <p><strong>Формы изменчивости:</strong></p>
        <ol type="I">
            <li>
                <strong>Фенотипическая (ненаследственная/модификационная) изменчивость.</strong> Открыта Ш. Бонне. Изменения фенотипа под действием факторов среды без изменения структуры генотипа (изменяется функциональная активность генов). Дарвин называл эту форму изменчивости определенной, ненаследственной, групповой.
                <p>
                    <em><u>Свойства модификационной изменчивости:</u></em>
                    <ol type="1">
                        <li>Не наследуется, т.к. не изменяется структура генотипа;</li>
                        <li>Носит адаптивный характер;</li>
                        <li>Не постоянна (в течение жизни может исчезать);</li>
                        <li>Определенна (направлена и предсказуема под действием фактором внешней среды);</li>
                        <li>Выраженность признака прямо пропорциональна времени и силе действия фактора;</li>
                        <li>Имеет групповой характер (встречается у всех особей вида). </li>
                    </ol>
                </p>
                <p>Примеры модификационной изменчивости у человека: усиление пигментации кожи (загар) под влиянием УФЛ; мощное развитие костно-мышечной системы в результате физических нагрузок; рост числа эритроцитов в крови у людей, живущих высоко в горах. </p>
                <p>При фенотипической изменчивости наследуется не сам признак, а определенный тип реакции на воздействие условий среды (норма реакции).</p>
                <p><strong>Норма реакции</strong> – пределы модификационной изменчивости, которые формируются на основе генотипа в разных условиях внешней среды.</p>
                <ul>
                    <li><em>Широкая норма реакции.</em> Признак изменяется в значительном диапазоне (количество молока у крупного рогатого скота зависит от условий содержания и кормления). Широкая норма реакции способствует выживанию особи в различных условиях внешней среды.</li>
                    <li><em>Узкая норма реакции.</em> Признак мало зависит от внешних условий (жирность молока у крупного рогатого скота (3,6-3,7%).</li>
                </ul>
                <p><strong>Статистические закономерности модификационной изменчивости. </strong></p>
                <p>Для изучения изменчивости количественных признаков применяют метод статистики – построение вариационной кривой. </p>
                <p><em>Варианта</em> – количественное выражение признака.</p>
                <p><em>Вариационный ряд</em> – расположение вариант по возрастанию или по убыванию их значений.</p>
                <p><em>Вариационная кривая</em> – графическая зависимость между значением признака и частотой его встречаемости.</p>
                <p>Для большинства популяций характерен биноминальный тип вариационной кривой: в вариационном ряду средние значения признака встречаются чаще, чем максимальные и минимальные.</p>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <img src="~/Images/thema52/вариоцивная кривая.png" class="card-img-top" alt="вариоцивная кривая" />
                                <div class="card-body">
                                    <p class="card-text">
                                        V – варианта, P – частота встречаемости варианты. M=&sum;VP/n где n – общее число исследований.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <strong><em>Генотипическая (наследственная) изменчивость.</em></strong> Изменение фенотипа вследствие изменения генотипа.
                <ol type="1">
                    <li>
                        <em>Комбинативная изменчивость.</em> Возникает в результате перекомбинации генов родителей у потомков. Сами гены при этом не изменяются, но возникают их новые сочетания, что приводит к появлению организмов с другими генотипом и фенотипом (появление зеленой окраски семян гороха при скрещивании гетерозиготных растений с желтыми семенами; рождение голубоглазого ребенка у кареглазых родителей). Обеспечивает генотипический полиморфизм особей популяций, приспособление организмов к меняющимся условиям среды и широко используется в селекции для соединения в одном организме ценных признаков разных пород и сортов.
                        <p>Механизмы возникновения:</p>
                        <ul>
                            <li>Перекомбинация генов при кроссинговере в профазе мейоза I;</li>
                            <li>Независимое расхождение хромосом и хроматид в анафазах мейоза I и II;</li>
                            <li>Случайное сочетание гамет при оплодотворении.</li>
                        </ul>
                    </li>
                    <li>
                        <em>Мутационная изменчивость.</em> Скачкообразное и устойчивое изменение генетического материала, передающееся по наследству. Термин «мутация» предложил голландский ученый Г. Де Фриз в 1901 г.
                        <p><em><u>Свойства мутационной изменчивости:</u></em></p>
                        <ol type="1">
                            <li>Выраженность признака не зависит от времени и силы действия фактора;</li>
                            <li>Наследуется;</li>
                            <li>Неопределенная (непредсказуема) – под действием мутагенного фактора может мутировать любой ген;</li>
                            <li>Вредна для организма (есть исключения);</li>
                            <li>Индивидуальна;</li>
                            <li>Постоянна (не исчезает в течение жизни);</li>
                            <li>Является основным материалом для естественного отбора.</li>
                        </ol>
                        <p><strong>Классификации мутаций:</strong></p>
                        <ol type="I">
                            <li>
                                <u>По причинам, вызывающим мутации:</u>
                                <ol type="1">
                                    <li><em>Спонтанные мутации.</em> Возникают в естественных условиях под действием мутагенных факторов среды без вмешательства человека. Средняя частота мутирования гена – 10<sup>-6</sup> – 10 <sup>-7</sup>. Материал для естественного отбора. </li>
                                    <li><em>Индуцированные мутации.</em> Возникают при направленном воздействии на организм мутагенными факторами. Впервые индуцированные мутации были получены Г.А. Надсоном и Г.С. Филипповым (1925 г.) при облучении грибов радием и Г. Меллером (1927 г.) при облучении мух дрозофил рентгеновскими лучами. Материал для для искусственного отбора.</li>
                                </ol>
                            </li>
                            <li>
                                <u>По мутировавшим клеткам:</u>
                                <ol type="1">
                                    <li><em>Соматические мутации.</em> Происходят в соматических клетках и проявляются у самой особи. Передаются по наследству при вегетативном размножении и не наследуются при половом (на кусте черной смородины может появиться ветка с белыми ягодами; у одного человека могут быть глаза разного цвета). </li>
                                    <li><em>Генеративные мутации.</em> Происходят в половых клетках. Передаются по наследству при половом размножении и выявляются фенотипически у потомков (альбинизм, гемофилия). Являются материалом для естественного отбора.</li>
                                </ol>
                            </li>
                            <li>
                                <u>По исходу для организма:</u>
                                <ol type="1">
                                    <li><em>Отрицательные.</em> Летальные (несовместимые с жизнью: отсутствие в кариотипе человека первых крупных хромосом), полулетальные (снижающие жизнеспособность организма: синдром Дауна).</li>
                                    <li><em>Нейтральные</em> (не влияют на жизнедеятельность: наличие веснушек).</li>
                                    <li><em>Положительные</em> (повышают приспособленность и жизнестойкость организма: появление у хордовых двух-, трех- и четырехкамерного сердца). Встречаются относительно редко, являются элементарным материалом, лежащим в основе прогрессивной эволюции.</li>
                                </ol>
                            </li>
                            <li>
                                <u>По проявлению в гетерозиготном состоянии:</u>
                                <ol type="1">
                                    <li>
                                        <em>Доминантная мутация.</em> Имеет фенотипическое проявление сразу и подвергается действию естественного отбора.
                                    </li>
                                    <li>
                                        <em>Рецессивная мутация.</em> Долгое время не имеет фенотипического проявления, т.к. подавляется доминантным геном; при образовании рецессивной гомозиготы проявляется фенотипически и подвергается действию естественного отбора.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <u>По локализации в клетке:</u>
                                <ol type="1">
                                    <li><em>Ядерные.</em></li>
                                    <li><em>Цитоплазматические.</em></li>
                                </ol>
                            </li>
                            <li>
                                <u>По уклонению от нормы:</u>
                                <ol type="1">
                                    <li><em>Прямые.</em></li>
                                    <li><em>Реверсии</em> (в результате повторной мутации восстанавливается нормальный фенотип).</li>
                                </ol>
                            </li>
                            <li>
                                <u>По фенотипическому проявлению:</u>
                                <ol type="1">
                                    <li><em>Морфологические.</em> Изменение внешнего или внутреннего строения особи. </li>
                                    <li><em>Биохимические.</em> Изменение биохимических процессов клетки.</li>
                                    <li><em>Физиологические.</em> Изменения жизнедеятельности особи.</li>
                                    <li><em>Поведенческие.</em> Изменение поведенческих особенностей особи.</li>
                                </ol>
                            </li>
                            <li>
                                <u>По изменению структуры генетической информации:</u>
                                <ol type="1">
                                    <li>
                                        <strong><em>Геномные мутации</em></strong> – изменения количества хромосом в кариотипе особи. Геном – это содержание наследственного материала в гаплоидном наборе хромосом.
                                        <ol type="А">
                                            <li><strong>Полиплоидия</strong> – увеличение числа хромосом, кратное гаплоидному набору (3n, 4n, 5n ...). Для большинства животных и человека является летальной мутацией.</li>
                                            <li><strong>Гаплоидия</strong> – содержание в соматических клетках гаплоидного набора хромосом (самцы пчел, ос). Для большинства животных и человека является летальной мутацией.</li>
                                            <li>
                                                <strong>Гетероплоидия</strong> – вид геномной мутации, при которой происходит некратное гаплоидному увеличение или уменьшение количества хромосом (общая формула гетероплоидий: 2n±1, 2n±2).
                                                <ol type="1">
                                                    <li><em>Трисомия</em> (2n+1) – наличие третьей хромосомы в паре (трисомия по 21-й хромосоме – болезнь Дауна);</li>
                                                    <li><em>Моносомия</em> (2n-1) – отсутствие второй хромосомы в паре (отсутствие второй половой хромосомы (X0) – синдром Шерешевского – Тернера);</li>
                                                    <li><em>Нулисомия</em> (2n-2) – отсутствие пары гомологичных хромосом (летальная мутация).</li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <strong><em>Хромосомные мутации</em></strong> – изменения структуры хромосом.
                                        <ol type="1">
                                            <li><em>Делеция</em> – выпадение среднего участка хромосомы (выпадение короткого плеча 5-й хромосомы – синдром «кошачьего крика»);</li>
                                            <li><em>Дефишенси</em> – выпадение концевого участка хромосомы;</li>
                                            <li><em>Дупликация</em> – удвоение фрагмента хромосомы (полосковидные глаза у мухи дрозофилы);</li>
                                            <li><em>Инверсия</em> – поворот части хромосомы на 180°;</li>
                                            <li><em>Транслокация</em> – перенос части одной хромосомы на другую, негомологичную.</li>
                                        </ol>
                                        <p>Многие хромосомные мутации снижают жизнеспособность организма (полулетальные).</p>
                                    </li>
                                    <li>
                                        <strong><em>Генные мутации</em></strong> – изменение структуры молекулы ДНК вследствие нарушения порядка нуклеотидов, добавления, выпадения или перестановки.
                                        <p><em>Вставка и выпадение нуклеотидов</em> приводят к сдвигу рамки считывания, что ведет к изменению аминокислотной последовательности и может проявляться фенотипически (серповидно-клеточная анемия, гемофилия).</p>
                                        <p>Варианты замены нуклеотидов:</p>
                                        <ol type="А">
                                            <li><em>Транзиции</em> – однотипные замены, когда пуриновое основание заменяется на пуриновое (Г на А, А на Г) или пиримидиновое на пиримидиновое (Т на Ц, Ц на Т).</li>
                                            <li><em>Трансверзии</em> – разнотипные замены, когда пуриновое основание заменяются на пиримидиновое или пиримидиновое на пуриновое.</li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
    <h3 class="text-center"><strong>Мутагенные факторы.</strong></h3>
    <p><strong>Мутагенные факторы</strong> – факторы, многократно повышающие частоту мутационного процесса. </p>
    <p>
        <strong>Классификация мутагенных факторов:</strong>
        <ol type="1">
            <li><em>Физические:</em> рентгеновское излучение, ионизирующее излучение, температура, УФЛ.</li>
            <li><em>Химические:</em> нитриты, нитраты, аналоги азотистых оснований, иприт, лекарства, алкоголь, никотин.</li>
            <li><em>Биологические:</em> вирусы, бактерии, токсины паразитов.</li>
        </ol>
    </p>
    <p>Мутагенные факторы вызывают разнообразные изменения генетического материала: разрывы в молекулах ДНК, Т-Т сшивки в молекулах ДНК, разрушают нити веретена деления, нарушают процесс кроссинговера, приводят к образованию в организме свободных радикалов: -ОН, -О<sub>2</sub>Н из находящейся в клетках воды.</p>
    <p><strong>Супермутагены</strong> – химические вещества с максимальной вероятностью развития мутационного процесса.</p>
    <ul>
        <li>в с/х: минеральные удобрения, инсектициды, пестициды;</li>
        <li>в химической промышленности: формалин, аммиак, кислоты, щелочи;</li>
        <li>в энергетике: продукты сжигания угля и нефти.</li>
    </ul>
    <p>Последствия загрязнения окружающей среды мутагенами: аллергизация населения, злокачественные опухоли, наследственные заболевания, врожденные пороки развитиям – <em>генетический груз</em> (насыщенность популяции человека патологическими рецессивными генами).</p>
    <p><strong>Репарация ДНК</strong> – способность к самовосстановлению после повреждений первичной структуры ДНК.</p>
    <p>
        <strong>Виды репарации ДНК:</strong>
        <ol type="1">
            <li><em>Фотореактивация.</em> При УФЛ облучении фагов, бактерий наблюдается резкое снижение их жизнедеятельности. Выживаемость значительно увеличивается, если на них дополнительно воздействовать видимым светом: под действием УФЛ в молекуле ДНК образуются димеры (химические связи между двумя пиримидиновыми основаниями одной цепочки, чаще Т-Т), что препятствует считыванию информации. Видимый свет активирует ферменты, разрушающие димеры.</li>
            <li>
                <em>Темновая репарация.</em> Нахождение и удаление поврежденного участка нити ДНК путем его «вырезания», синтез и вставка нового фрагмента с участием ферментов:
                <ol type="1">
                    <li>пиримидиновый димер искажает структуру ДНК; эндонуклеаза «узнает» поврежденный участок и разрывает нить ДНК рядом с ним;</li>
                    <li>экзонуклеаза «вырезает» поврежденный участок;</li>
                    <li>образуется «брешь» в структуре ДНК;</li>
                    <li>ДНК-полимераза по принципу комплементарности синтезирует фрагмент ДНК на месте разрушенного;</li>
                    <li>
                        лигаза «сшивает» концы ресинтезированного участка с основной нитью ДНК.
                        <img src="~/Images/thema52/Сшивание линзы.png" alt="Сшивание линзы" class="rounded" width="100%" height="100%" />
                    </li>
                </ol>
            </li>
            <li><em>Пострепликативная репарация. Рекомбинация между двумя дочерними молекулами ДНК в результате</em> чего образуется одна нормальная молекула. Возникает в том случае, если димеры не устранены световой и темновой формами.</li>
        </ol>
    </p>
    <p>Нарушение процесса репарации приводит к развитию заболеваний.</p>
    <p><u>Пигментная ксеродерма.</u> Появление веснушек под действием УФЛ, расширение капилляров, избыточное ороговение эпидермиса, поражение глаз, развитие злокачественных опухолей кожи.</p>
    <p><u>Анемия Фанкони.</u> Недостаточность костного мозга, приводящая к снижению количества эритроцитов, лейкоцитов, тромбоцитов и гиперпигментации.</p>
    <p>Антимутагенное действие оказывают витамины А, С, Е и серосодержащие аминокислоты (цистеин, цистин, метионин), природным антимутагеном является фермент каталаза (образуется в организме человека).</p>
    <h3 class="text-center"><strong>Закон гомологических рядов в наследственной изменчивости (закон Вавилова).</strong></h3>
    <p>Известный генетик Н.И. Вавилов (1887–1943) изучал разнообразие культурных и природных растений на Земле. </p>
    <p><strong>Формулировка закона:</strong> Виды и роды, близкие генетически, связанные единством происхождения, характеризуются сходными рядами наследственной изменчивости. Зная формы изменчивости одного вида, можно предположить существование сходных форм у родственных видов и родов.</p>
    <p>
        <u>Факты, подтверждающие закон Вавилова:</u>
        <ol type="1">
            <li>Случаи альбинизма у позвоночных;</li>
            <li>Сходные группы крови у приматов и человека;</li>
            <li>Гемофилия у человека и других млекопитающих (собак).</li>
        </ol>
    </p>
    <p><strong>Значение закона.</strong> Позволяет предсказывать наличие того или иного признака (мутации) у разных видов одного рода, если он есть у представителей хотя бы одного вида, и моделировать наследственные болезни человека в эксперименте на животных; является основой для селекционной работы.</p>
    <h3 class="text-center"><strong>Особенности наследственности и изменчивости человека, методы их изучения.</strong></h3>
    <p><strong>Генетика человека</strong> – раздел генетики, изучающий закономерности наследования нормальных и патологических признаков человека. Задачи: ранняя диагностика наследственных заболеваний, разработка методов лечения и профилактики наследственных заболеваний.</p>
    <p>
        <em>Трудности изучения генетики человека:</em>
        <ol type="1">
            <li>Малое количество потомков;</li>
            <li>Позднее половое созреванием и связанная с этим медленная смена поколений;</li>
            <li>Большое количество хромосом;</li>
            <li>Невозможность экспериментирования/использования гибридологического метода (экспериментальное получения мутаций и экспериментальных браков);</li>
            <li>Невозможность создания одинаковых условий жизни.</li>
        </ol>
    </p>
    <p>
        <strong>Методы генетики человека:</strong>
        <ol type="1">
            <li<em>Основные</em> (генеалогический, близнецовый, популяционно-статистический, цитогенетический, генетики соматических клеток, биохимический).</li>
            <li><em>Экспресс-методы</em> (определение полового хроматина, химические, микробиологические, дерматоглифический) – методы предварительной диагностики (помогают выбрать тех лиц, у которых имеются отклонения от нормальных показателей, чтобы в дальнейшем тщательно их обследовать другими методами).</li>
            <li><em>Методы дородовой (пренатальной) диагностики</em> (УЗИ-диагностика, амниоцентез (изучение амниотической жидкости)) позволяют установить наследственные дефекты плода на ранних стадиях беременности.</li>
        </ol>
    </p>
    <p>
        <strong>Генеалогический метод (Ф. Дальтон, 1883 г).</strong> <em>Суть метода:</em> выявление родственных связей и прослеживание изучаемого признака среди близких, далеких, прямых и непрямых родственников).
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <em>Этапы метода:</em>
                    <ol type="1">
                        <li>Сбор сведений о родственниках у пробанда (человек, обратившийся для составления родословной).</li>
                        <li>Составление родословной.</li>
                        <li>Анализ родословной.</li>
                    </ol>
                </p>
                <p>
                    <em>Возможности метода:</em> установление наследственного характера; типа наследования; генотипов членов родословной, пенетрантности гена.
                </p>
                <p>
                    <em>Родословная аутосомно-доминантного типа наследования</em> (габсбургская губа, полидактилия, брахидактилия, ахондроплазия, катаракта).
                    <strong>Типы наследования признаков:</strong>

                </p>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Images/thema52/Генеалогический метод.png" class="card-img-top" alt="Генеалогический метод">
                    <div class="card-body">
                        <p class="card-text">Система символов, используемых при составлении родословной</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li>
                                <em>Родословная аутосомно-доминантного типа наследования</em> (габсбургская губа, полидактилия, брахидактилия, ахондроплазия, катаракта).
                                <ol type="1">
                                    <li>
                                    <li>Проявление болезни в каждом поколении;</li>
                                    <li>Лица мужского и женского пола поражаются одинаково часто и в одинаковой мере;</li>
                                    <li>Если один из родителей болен, то вероятность рождения больного ребенка составляет 50%.</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                    <div class="col">
                        <img src="~/Images/thema52/Генеалогический метод 2.png" alt="Генеалогический метод" class="rounded" width="100%" height="100%" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1" start="2">
                            <li>
                                <em>Родословная аутосомно-рецессивного типа наследования </em> (фенилкетонурия, альбинизм, идиотия Тея-Сакса).
                                <ol type="1">
                                    <li>Родители больного ребенка, как правило, здоровы;</li>
                                    <li>Лица мужского и женского пола поражаются одинаково часто и в одинаковой мере;</li>
                                    <li>Повторный риск рождения больного ребенка составляет 25%;</li>
                                    <li>Отмечается «горизонтальное» распределение больных в родословной, т.е. пациенты чаще встречаются в рамках одного сибства;</li>
                                    <li>Если оба родителя больны, то все дети имеют этот признак;</li>
                                    <li>Наблюдается увеличение частоты больных детей в группах родителей, связанных родством.</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                    <div class="col">
                        <img src="~/Images/thema52/Генеалогический метод 3.png" alt="Генеалогический метод" class="rounded" width="100%" height="100%" />
                    </div>
                </div>
            </div>
        </div>
        <em>Родословная сцепленного с Х-хромосомой рецессивного типа наследования (дальтонизм, гемофилия).</em>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ol type="1">
                        <li>Заболевание в основном встречается у лиц мужского пола;</li>
                        <li>Признак передается от больного отца через его фенотипически здоровых дочерей половине внуков; </li>
                        <li>Заболевание никогда не передается от отца к сыну.</li>
                    </ol>
                </div>
                <div class="col">
                    <img src="~/Images/thema52/Генеалогический метод 4.png" alt="Генеалогический метод" class="rounded" width="100%" height="100%" />
                </div>
            </div>
        </div>
        <em>Родословная голандрического типа наследования</em> (перепонки между пальцами на ногах).
        <ol type="1">
            <li>Передается от отца ко всем сыновьям.</li>
            <img src="~/Images/thema52/Генеалогический метод 5.png" alt="Генеалогический метод" class="rounded" width="100%" height="100%" />
        </ol>
    </div>
    <p>
        <strong>Близнецовый метод (Ф. Гальтон, 1876 г).</strong> Изучение генетических закономерностей на близнецах. <em>Суть метода:</em> сравнение признаков у моно- и дизиготных близнецов, исходя из сходства и различия генотипов и среды, в которой они росли.
    </p>
    <p>
        <em>Этапы метода:</em>
        <ol type="1">
            <li>Составление выборки близнецов.</li>
            <li>Диагностика зиготности близнецов.</li>
            <li>Установление роли наследственности и среды в формировании признака.</li>
        </ol>
    </p>
    <p>
        <em>Критерии зиготности: </em> пол, комплекс фенотипических признаков, эритроцитарные изоантигены по системе АВ0 и Rh, дерматоглифические показатели, нуклеотидный состав ДНК.
    </p>
    <p>Сходство близнецов п исследуемому признаку – <em>конкордантность,</em> различие – <em>дискордантность.</em></p>
    <p><em>Формула Хольцингера:</em> Н= (КМБ%-КДБ%)/(100%-КДБ%) , где Н – доля наследственных факторов, КМБ% - конкордантность монозиготных близнецов в процентах, КДБ% - конкордантность дизиготных близнецов в процентах. Если Н больше 0,5, то в формировании признака большую роль играет генотип; если Н меньше 0,5, то большую роль играет среда. </p>
    <p><strong>Цитогенетический метод.</strong> <em>Суть метода:</em> изучение структуры кариотипа при помощи микроскопической техники (Ж. Тио и А. Леван, 1956 г). Установили, что кариотип человека содержит 46 хромосом.</p>
    <p>
        <em>Этапы метода:</em>
        <ol type="1">
            <li>Получение и культивирование клеток.</li>
            <li>Добавление в питательную среду фитогемагглютинина для стимуляции клеточного деления.</li>
            <li>Остановка деления клетки на стадии метафазы при добавлении колхицина.</li>
            <li>Обработка клеток гипотоническим раствором NaCl (клетка набухает и лопается).</li>
            <li>Окрашивание хромосом специфическими красителями.</li>
            <li>Микроскопирование и фотографирование хромосом.</li>
            <li>Вырезание хромосом, составление идиограммы и ее анализ.</li>
        </ol>
    </p>
    <p><em>Возможности метода:</em> диагностика геномных и хромосомных болезней пола, хромосомных мутаций, установление генетического пола организма.</p>
    <p><strong>Метод генетики соматических клеток (Г. Барский, 1960 г).</strong> <em>Суть метода:</em> изучение генетических закономерностей на соматических клетках.</p>
    <p>
        <em>Разновидности метода:</em>
        <ol type="1">
            <li>Клонирование (получение клона клеток).</li>
            <li>Культивирование на питательных средах.</li>
            <li>Селекция (отбор клеток с исследуемым признаком).</li>
            <li>Гибридизация (слияние клеток особей одного вида или особей разных видов с образованием гибридных клеток).</li>
        </ol>
    </p>
    <p><em>Возможности метода:</em> позволяет компенсировать все недостатки человека как объекта генетических исследований: малое количество потомков – клонирование, большое число хромосом и невозможность применить гибридологический метод – гибридизация.</p>
    <p><strong>Популяционно-статистический метод.</strong> <em>Суть метода:</em> изучение генетического состава популяции. Основан на законе Харди-Вайнберга: положение популяционной генетики, гласящее, что в популяции бесконечно большого размера, в которой не действует естественный отбор, не идет мутационный процесс, отсутствует обмен особями с другими популяциями, не происходит дрейф генов, все скрещивания случайны — частоты генотипов по какому-либо гену (в случае если в популяции есть два аллеля этого гена) будут поддерживаться постоянными из поколения в поколение.</p>
    <p><em>Возможности метода:</em> определение частоты генов и генотипов в популяциях людей.</p>
    <p><strong>Биохимические методы.</strong> Проводятся в 2 этапа:</p>
    <ol type="">
        <li>С помощью простых скрининговых методов отбираются предположительные случаи заболевания.</li>
        <li>С помощью более точных и сложных методов подтверждается или отвергается диагноз.</li>
    </ol>
    <p>Как скрининг-тест диагностики фенилкетонурии используется метод добавления в мочу ребенка 10% раствора хлорида железа (III), и при наличии фенилпировиноградной кислоты появляется зеленое окрашивание. Более точными являются количественные методы, которые позволяют не только диагностировать генные мутации, но и определить гетерозиготное носительство патологического рецессивного гена по уровню инактивации предварительно введенного вещества. </p>
    <p><strong>Дерматоглифический анализ.</strong> <em>Суть метода:</em> изучение гребешковой кожи человека: ладонной стороны пальцев <em>(дактилоскопия),</em> кистей <em>(пальмоскопия),</em> подошвенной стороны стоп <em>(плантоскопия).</em></p>
    <p><em>Возможности метода:</em> идентификация личности в криминалистике, установление отцовства в судебной медицине, установление зиготности близнецов, экспресс-метод диагностики врожденной компоненты некоторых наследственных заболеваний. </p>
    <h3 class="text-center"><strong>Наследственные заболевания человека.</strong></h3>
    <div class="container">
        <ol type="I">
            <li>
                <em>Геномные болезни.</em>
                <ol type="1">
                    <li><u>Синдром Дауна.</u> Трисомия по 21-й хромосоме (47 хромосом в диплоидном наборе). Фенотипические признаки: слабоумие, узкие глазные щели, низкое расположение ушных раковин, раскосые глаза и эпикант, низкий рост, выступающий изо рта язык, пороки сердца и сосудов, сниженная жизнеспособность.</li>
                    <li><u>Синдром Шерешевского-Тернера.</u> Моносомия по половым хромосомам (в кариотипе содержится 45 хромосом, Х0). Фенотип женский. Фенотипические признаки: малый рост (135-145 см), недоразвитие первичных и вторичных половых признаков, крыловидная кожная складка (от затылка к плечам), бесплодие, иногда снижение интеллекта.</li>
                    <li>
                        <u>Синдром Клайнфелтера.</u> Трисомия по половым хромосомам (лишняя Х-хромосома; всего 47 хромосом: 44А+ХХY). Фенотип мужской. Фенотипические признаки: женоподобный тип телосложения, высокий рост, относительно длинные руки и ноги, распределение волос по женскому типу, недоразвитие первичных и вторичных половых признаков, снижение интеллекта.
                    </li>
                    <li><u>Синдром трисомии Х.</u> Кариотип 47, ХХХ. Фенотипические признаки: женский организм с мужеподобным телосложением, недоразвиты первичные и вторичные половые признаки, часто наблюдается умственная отсталость, нарушение функции яичников, повышение риска заболевания шизофренией. </li>
                </ol>
            </li>
            <li>
                <em>Хромосомные болезни.</em>
                <ol type="1">
                    <li><u>Синдром «кошачьего крика».</u> Делеция части короткого плеча 5-й хромосомы. Фенотипические признаки: вследствие недоразвития гортани характерен специфический плач, напоминающий кошачье мяуканье; умственное и физическое недоразвитие, деформированные низко расположенные ушные раковины, антимонголоидный разрез глаз.</li>
                </ol>
            </li>
            <li>
                <em>Генные болезни.</em>
                <ol type="1">
                    <li><u>Альбинизм.</u> Нарушение превращения аминокислоты тирозин в меланин вследствие снижения активности фермента тирозиназы (рецессивная мутация). Фенотипические признаки: молочно-белый цвет кожи, очень светлые волосы, красный зрачок; повышенная чувствительность кожи к ультрафиолетовым лучам.</li>
                    <li><u>Фенилкетонурия.</u> Аминокислота фенилаланин превращается не в тирозин (аутосомная рецессивная мутация), а в фенилпировиноградную кислоту, которая является нервным ядом. Фенотипические признаки: повышенная возбудимость и тонус мышц, нарушения высшей нервной деятельности и умственная отсталость.</li>
                    <li><u>Сахарный диабет.</u> Изменение структуры и активности гормона поджелудочной железы – инсулина.</li>
                    <li><u>Цветовая слепота (дальтонизм).</u> Рецессивный ген, расположенный в негомологичном участке Х-хромосомы, т. е. сцеплен с полом. Фенотипические признаки: неспособность различать цвета.</li>
                    <li><u>Гемофилия.</u> Рецессивный ген, расположенный в негомологичном участке Х-хромосомы, т. е. сцеплен с полом. Фенотипические признаки: несвертываемость крови.</li>
                    <li><u>Серповидно-клеточная анемия.</u> Замена нуклеотида в гене, кодирующем синтез гемоглобина. Фенотипические признаки: эритроциты имеют серповидную форму, не могут переносить кислород и быстро разрушаются. </li>
                </ol>
            </li>
        </ol>
    </div>
    <p>В настоящее время около 5% новорожденных детей имеют разные генетические дефекты, начиная от незначительных (сросшиеся пальцы на ногах, короткопалость, шестипалость) и до дефектов, несовместимых с жизнью (некоторые пороки развития сердца). При ранней диагностике наследственных болезней в некоторых случаях удается задержать развитие заболевания назначением соответствующей диеты, гормональными препаратами. Врожденные дефекты развития часто можно исправить хирургическими методами.</p>
    <p>Важнейшим направлением деятельности органов здравоохранения является работа по предупреждению рождения детей с наследственными болезнями, которая должна проводиться всеми врачами и специальными медицинскими учреждениями – медико-генетическими консультациями.</p>
    <p><strong>Медико-генетическое консультирование</strong> – отрасль профилактической медицины, главной целью которой является предупреждение рождения детей с наследственной патологией. </p>
    <p>
        <u>Задачи медико-генетического консультирования:</u>
        <ol type="1">
            <li>Профилактика наследственных болезней путем консультирования семей и больных с наследственной патологией;</li>
            <li>Установление степени генетического риска в обследуемой семье и разъяснение супругам в доступной форме способов предупреждения наследственной патологии;</li>
            <li>Пренатальная (дородовая) диагностика наследственных заболеваний;</li>
            <li>Диспансерное наблюдение семей с наследственной патологией;</li>
            <li>Пропаганда медико-генетических знаний среди населения.</li>
        </ol>
    </p>
    <p>
        <u>Основные показания для направления семьи в медико-генетическую консультацию:</u>
        <ol type="1">
            <li>Наличие в семье точно установленного наследственного заболевания;</li>
            <li>Возраст матери старше 37 лет;</li>
            <li>Носительство матерью гена Х-сцепленного рецессивного заболевания;</li>
            <li>Гетерозиготность обоих родителей по одной паре аллелей;</li>
            <li>Беременность у женщины из зоны с повышенным радиационным фоном.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Селекция, основные направления и методы. Основные направления биотехнологии.</strong></h3>
    <p><strong>Селекция</strong> – это наука о методах создания новых и улучшения существующих штаммов микроорганизмов, сортов растений и пород животных. Теоретической основой селекции является генетика.</p>
    <p><strong>Сорт</strong> – совокупность культурных растений одного вида, устойчиво обладающих в конкретных условиях возделывания определенными морфофизиологическими и хозяйственными признаками.</p>
    <p><strong>Штамм</strong> – культура микроорганизмов одного вида, отличающаяся от других культур одного вида физиолого-биохимическими свойствами (чувствительность к антибиотикам, скоростью выделения определенных веществ и т.д.).</p>
    <p><strong>Порода</strong> – группа с/х животных, имеющих общее происхождение (в результате искусственного отбора) и отличающаяся специфическими, передающимися по наследству, признаками. </p>
    <p>
        <u>Условия успешной селекционной работы:</u>
        <ol type="1">
            <li>Исходное сортовое и видовое разнообразие растений и животных;</li>
            <li>Изучение мутаций и их роли в проявлении и развитии исследуемых признаков;</li>
            <li>Исследование закономерностей наследования при гибридизации;</li>
            <li>Применение различных форм искусственного отбора.</li>
        </ol>
    </p>
    <p>
        Основные задачи селекции:
        <ol type="1">
            <li>Повышение урожайности сортов культурных растений;</li>
            <li>Увеличение продуктивности пород домашних животных;</li>
            <li>Повышение продуктивности штаммов микроорганизмов.</li>
        </ol>
    </p>
    <p>
        <strong>Методы селекции: </strong>
        <ol type="1">
            <li><em>Массовый отбор</em> – выделение группы особей по внешним (фенотипическим) признакам без проверки генотипа.</li>
            <li><em>Индивидуальный отбор </em> – выделение группы особей при обязательной оценке генотипа каждого отдельного растения или животного.</li>
            <li>
                <em>Гибридизация</em> – это получение гибридов от скрещивания генетически разнородных организмов: близкородственное скрещивание <strong>(инбридинг)</strong> и скрещивание неродственных организмов <strong>(аутбридинг).</strong>
                <p>
                    Инбридинг ведет к повышению гомозиготности и закреплению наследственных свойств. Потомство, полученное от гомозиготных организмов, называется чистой линией. У особей чистых линий часто снижается жизнеспособность и падает урожайность.
                </p>
                <p>
                    Аутбридинг позволяет поддерживать свойства или улучшать их в ряду следующих поколений гибридов, т.к. при аутбридинге рецессивные мутации переходят в гетерозиготное состояние, и гибриды первого поколения оказываются более жизнеспособными и плодовитыми.
                </p>
                <p><strong>Гетерозис (гибридная мощность)</strong> – повышенная жизнеспособность и плодовитость в первом поколении гибридов, которые постепенно снижаются. Явление гетерозиса у растений можно закрепить при вегетативном размножении (клубнями, черенками, луковицами и т. д.).</p>
            </li>
            <li>
                <em>Отдаленная гибридизации.</em> В основе лежит явление <strong>аллополиплоидии</strong> – изменение числа хромосом на основе скрещивания организмов различных видов или родов. Она осуществляется с трудом, и межвидовые гибриды обычно бесплодны, так как затруднена конъюгация хромосом разных видов при мейозе.
                <p>Преодолеть бесплодность межвидовых гибридов впервые удалось Г.Д. Карпеченко в 1924 г. Он получил гибрид редьки и капусты с диплоидным набором хромосом 18 (9 «редечных» и 9 «капустных»), который был совершенно бесплоден. Для преодоления бесплодия Карпеченко удвоил число хромосом каждого вида (получил полиплоидную форму гибрида), в результате чего в кариотипе оказалось 36 хромосом, по 18 «редечных» и «капустных». Это обеспечило возможность конъюгации гомологичных хромосом капусты с «капустными» и редьки с «редечными». Каждая гамета несла по одному набору хромосом капусты и редьки (9 + 9 = 18). В зиготе вновь оказывалось 36 хромосом. Полученный межвидовой гибрид стал плодовитым. </p>
                <p>Гибрид, образованный диплоидным набором хромосом от одного и диплоидным набором хромосом от другого вида, называется <strong>аллотетраплоидом (амфидиплоидом).</strong></p>
                <p>Гибридизация пшеницы и ржи позволила получить ряд форм, объединенных общим названием <em>тритикале.</em> Они обладают высокой урожайностью пшеницы, зимостойкостью и неприхотливостью ржи, устойчивостью ко многим болезням. </p>
                <p>Межвидовые гибриды животных также отличаются бесплодностью: мул – гибрид кобылы и осла – сильное, выносливое животное, которое может использоваться в более трудных условиях, чем родительские формы.</p>
            </li>
            <li>
                <em>Индуцированный мутагенез.</em>  Мутанты, созданные при воздействии рентгеновских лучей (ячмень, пшеница, рожь). Отличаются повышенной урожайностью зерна и укороченным побегом, устойчивы к полеганию и имеют заметные преимущества при машинной уборке урожая.
                <p>Одним из методов мутагенеза является <strong><em>автополиплоидия</em></strong> (кратное увеличение числа хромосом организмов одного вида). Положительный эффект автополиплоидии проявляется у видов с меньшим количеством хромосом; у перекрестноопыляемых растений; у растений, используемых для получения зеленой массы. Полиплоиды имеют большую вегетативную массу, более крупные цветки и семена и являются жизнеспособнее диплоидных. Около 80% современных культурных растений – полиплоиды.</p>
            </li>
        </ol>
    </p>
    <p>
        <u>Особенности микроорганизмов в качестве селекционного материала:</u>
        <ol type="1">
            <li>Большое количество (неограниченное количество материала для работы);</li>
            <li>Содержат меньше генов, чем клетки высокоорганизованных видов;</li>
            <li>Высокая скорость размножения;</li>
            <li>Гаплоидный геном (любая мутация проявляется фенотипически в первом поколении).</li>
        </ol>
    </p>
    <p>
        <strong>Методы селекции микроорганизмов:</strong>
        <ol type="1">
            <li><em>Конъюгация</em> – обмен генетическим материалом между бактериями.</li>
            <li><em>Трансдукция</em> – передача генов из одной бактериальной клетки в другую при помощи бактериофагов.</li>
            <li><em>Трансформация</em> – перенос ДНК из одной бактериальной клетки в другую.</li>
            <li><em>Амплификация</em> – увеличение числа копий необходимого гена.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Понятие о биотехнологии и генной инженерии.</strong></h3>
    <p><strong>Биотехнология</strong> – сознательное производство необходимых человеку продуктов и материалов с помощью живых организмов, культивируемых клеток и биологических процессов.</p>
    <p>Биотехнология базируется на протекающих в живых системах физиолого-химических процессах, в результате которых осуществляется выделение энергии, синтез и расщепление продуктов метаболизма, формирование химических и структурных компонентов клетки. </p>
    <p><strong>Объекты биотехнологии:</strong> вирусы, бактерии, протисты, грибы, дрожжи, растения, животные или изолированные клетки и субклеточные структуры (органеллы).</p>
    <p>
        <strong>Направления биотехнологии:</strong>
        <ol type="1">
            <li>Производство биологически активных веществ (ферментов, витаминов, гормонов), лекарств (антибиотиков, вакцин, сывороток), ценных соединений (кормовых добавок, незаменимых аминокислот, белков);</li>
            <li>Использование биологических методов борьбы с загрязнением среды (биологическая очистка сточных вод, загрязнений почвы) и защита растений от вредителей и болезней;</li>
            <li>Создание новых полезных штаммов микроорганизмов, сортов растений, пород животных;</li>
            <li>Создание продуктов питания (молочнокислые бактерии – для получения молочнокислых продуктов, различные штаммы дрожжей – в виноделии, пивоварении, хлебопечении).</li>
        </ol>
    </p>
    <p>
        <strong>Главная задача биотехнологии:</strong> создание новых форм растений, животных и микроорганизмов, устойчиво переносящих неблагоприятные условия, позволяющих получить биологически чистую продукцию. Принципиально новыми подходами к решению этой задачи являются генная и клеточная инженерия.
    </p>
    <p><strong>Генная инженерия</strong> – раздел молекулярной биологии, связанный с целенаправленным созданием новых молекул ДНК, способных реплицироваться в клетке-хозяине и осуществлять синтез необходимых метаболитов. Занимается расшифровкой структуры генов, их синтезом и клонированием, вставкой выделенных или вновь синтезированных генов в клетки растений и животных с целью направленного изменения их наследственных свойств.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <strong>Этапы генной инженерии</strong> 
                    <ol type="1">
                        <li>Получение нужного гена (выделение природного или искусственный его синтез) из клеток про- и эукариот (фермент рестриктаза);</li>
                        <li>Включение этого гена в молекулу ДНК-«переносчика» – получение рекомбинантной молекулы ДНК; </li>
                        <li>Введение рекомбинантной ДНК в бактериальную клетку, где она встраивается в генетический аппарат;</li>
                        <li>Отбор трансформированных клеток, в геном которых включен переносимый ген.</li>
                    </ol>
                </p>
            </div>
            <div class="col">
                <img src="~/Images/thema52/Этапы генной инженерии.png" alt="Этапы генной инженерии" class="rounded" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <p>На основе генной инженерии можно наладить промышленное производство витаминов, аминокислот, ферментов, гормонов и т. д. В настоящее время уже освоено промышленное производство белка инсулина (гормона поджелудочной железы) для лечения диабета, соматотропина (гормона роста) и интерферонов – белков, подавляющих размножение вирусов.</p>
    <p>Генная инженерия позволяет конструировать и эукариотические клетки с новой генетической программой. В настоящее время получают гибриды соматических клеток разных видов и даже клеток животных и растений. Созданы растения, способные усваивать атмосферный азот, что в будущем не только обогатит растительную пищу белками, но и сделает ненужным применение азотсодержащих удобрений и благоприятно скажется на чистоте окружающей среды.</p>
    <p>Растения и животные, геном которых изменен введением чужеродных генов, называются <strong>трансгенными.</strong> Клонированный ген путем инъекции вводят в яйцеклетку млекопитающего или протопласт и выращивают целое трансгенное животное или растение. Получены трансгенные мыши, кролики, свиньи, овцы, в которых работают гены бактерий, дрожжей, млекопитающих, человека, трансгенные растения с генами неродственных видов, обладающие высокой продуктивностью и урожайностью.</p>
    <p><strong>Клеточная инженерия</strong> – метод, позволяющий конструировать клетки нового типа. Это культивирование изолированных клеток и тканей на искусственной питательной среде в регулируемых условиях, что стало возможно благодаря способности растительных клеток в результате регенерации формировать целое растение из единичной клетки.</p>
    <p>Условия регенерации разработаны для картофеля, пшеницы, ячменя, кукурузы, томата. Работа с этими объектами проводится методом <strong>соматической гибридизации</strong> – слиянием двух различных клеток в культуре тканей. Сливаться могут клетки одного организма и клетки разных видов (например, мыши и крысы, человека и мыши). С помощью ферментов можно избавиться от клеточной клетки растений и получить изолированный протопласт. Протопласт культивируют, соединяют с протопластом другого растения и получают новую гибридную форму растения.</p>
</div>

<div class="container">
    <a href=@Url.Action("Test52","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>