<div class="container">
    <p><strong>Мужская половая система.</strong> <em>Внутренние половые органы</em> (яички и их придатки, семявыносящие и семявыбрасывающие протоки с семенными пузырьками, предстательная железа); <em>наружные половые органы</em> (половой член и мошонка).</p>
    <p><em>Яички (семенники)</em> расположены в мошонке. Имеют плотную консистенцию, овальную форму. К заднему краю яичка прилежат <em>придаток яичка и семенной канатик.</em> Размеры яичек – 3–5 см, масса 15–30 г. Они состоят из <em>извитых семенных канальцев.</em> Извитые семенные канальцы сливаются между собой и образуют <em>прямые семенные канальцы,</em> которые являются семявыносящими путями. Яички вырабатывают мужские половые гормоны – андрогены, которые формируют вторичные половые признаки и обеспечивают способность мужского организма к оплодотворению.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><em>Придаток яичка</em> – небольшое тело, прилегающее к заднему краю половой железы, которое выполняет семявыводящую функцию, является резервуаром для накопления сперматозоидов и вырабатывает секрет, разжижающий сперму. Паренхима придатка состоит из 12–15 долек, образованных выносящими канальцами яичка, которые впадают в проток его придатка. Он имеет спиралевидный ход и продолжается в <em>семявыносящий проток</em> – трубку длиной 40–50 см, диаметр просвета которой 0,3–0,5 мм. Вблизи предстательной железы семявыносящий проток расширяется и соединяется с выводным протоком семенных пузырьков, образуя семявыбрасывающий проток, длиной примерно 2 см, шириной – от 1 мм. Он проходит предстательную железу и открывается в мочеиспускательный канал.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema43/Строение мужкого полового органа.png" alt="Строение мужкого полового органа" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><em>Семенные пузырьки</em> – парный орган, в виде продолговатого уплощенного мешочка, длиной около 5 см, высотой – 2 см. Передний конец семенного пузырька переходит в узкий канал – <em>выделительный проток,</em> который соединяется с нижним концом семявыносящего протока. В них вырабатывается секрет, входящий в состав семенной жидкости.</p>
    <p><em>Предстательная железа</em> длиной около 3 см, шириной 4 см, имеет массу до 20 г, находится в области малого таза. Построена из железистой паренхимы (меньшая часть) и гладкой мышечной ткани. Секрет железы входит в состав семенной жидкости и разжижает сперму.</p>
    <p><em>Половой член</em> состоит из трех пещеристых (кавернозных) тел, имеющих губчатое строение: благодаря наличию соединительно-тканных перегородок, образуются маленькие полости – каверны (пещерки), которые во время возбуждения наполняются кровью, в результате чего половой член набухает и приходит в состояние эрекции. Половой член покрыт кожей, которая на головке образует складку – крайнюю плоть. Половой член служит для выведения мочи и семени. </p>
    <p><em>Мошонка</em> – кожный мешок, в котором располагаются яички и их придатки.</p>
    <p><strong>Женская половая система.</strong> <em>Внутренние половые органы</em> (яичники, маточные (фаллопиевы) трубы, матка и влагалище), <em>наружные половые органы</em> (большие и малые половые губы, девственная плева и клитор).</p>
    <p><em>Яичники</em> расположены в брюшной полости. Длина 3–4 см, масса 6–7 г. Ткань яичника состоит из мозгового (рыхлая волокнистая соединительная ткань, которая составляет строму) и коркового вещества. У половозрелой женщины фолликулы (пузырьки), составляющие основу коркового слоя яичника, находятся в разной степени созревания (развития). </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Созревший фолликул начинает выпячиваться на поверхности яичника. Стенка созревшего фолликула разрывается, половая клетка попадает в брюшную полость, затем в маточную трубу (яйцевод). Разрыв фолликула и выход содержавшейся в ней клетки из яичника называется <em>овуляцией.</em> На месте лопнувшего фолликула образуется желтое тело. Если наступает беременность, желтое тело сохраняется до ее конца и является железой внутренней секреции (вырабатывает гормон прогестерон), если же оплодотворение не произошло, то желтое тело атрофируется, и на его месте остается рубец.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema43/Строение женского полового органа.png" alt="Строение женского полового органа" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>В яичниках образуются женские половые гормоны – эстрогены, под влиянием которых формируются вторичные половые признаки и обеспечивается способность женщины к оплодотворению.</p>
    <p><em>Две маточные трубы (яйцеводы)</em> начинаются от верхних углов (у дна) матки и заканчиваются воронками у боковых стенок таза. Длина труб 10–12 см. В маточной трубе происходит оплодотворение.</p>
    <p><em>Матка</em> – гладкомышечный полый орган, расположенный в полости малого таза, в котором созревает и вынашивается плод. Матка имеет грушевидную форму. Длина матки – около 8 см, ширина в области тела – 4–5,5 см, толщина стенок 1–2 см. Внутри тела матки имеется щелевидная полость, переходящая в шейку, а канал последней открывается во влагалище. Стенка матки состоит из трех слоев: внутреннего (слизистая оболочка), среднего (мышечная оболочка) и наружного (серозная оболочка). </p>
    <p>В слизистой оболочке различают два слоя: функциональный и базальный. Функциональный слой претерпевает изменения во время менструального цикла и отторгается, а базальный не меняется и служит для восстановления функционального слоя. </p>
    <p>С яичниковым циклом тесно связан маточный цикл. Он также продолжается 28 дней. Под влиянием гормона желтого тела в слизистой матки создаются условия, благоприятные для развития зародыша, в случае если оплодотворение произошло. Если беременность не наступает, то желтое тело погибает, а функциональный слой слизистой оболочки матки отторгается, и происходит менструация. Она свидетельствует о гибели неоплодотворенной женской половой клетки и длится 3–5 дней. </p>
    <p><em>Влагалище</em> – это трубчатый, мышечно-эластичный орган длиной 8–10 см и шириной 2–3 см. Стенка состоит из слизистой оболочки, мышечного слоя и окружающей клетчатки. Содержимое влагалища в период половой зрелости имеет кислую реакцию (включает молочную кислоту). Во время совокупления во влагалище из полового члена изливается семенная жидкость со сперматозоидами. Во время родов через влагалище из матки выходит наружу плод.</p>
    <p><em>Большие половые (срамные) губы</em> – это парная складка кожи, ограничивающая половую щель. В толще больших половых губ расположены железы преддверия влагалища (бартолиновы железы). Секрет их увлажняет вход во влагалище и разжижает семенную жидкость при движении сперматозоидов. </p>
    <p><em>Малые половые (срамные) губы</em> – это парная складка кожи, находящаяся кнутри от больших половых губ. В щель между ними открывается наружное отверстие мочеиспускательного канала и отверстие влагалища. У девушек это отверстие окаймлено специальной пластинкой (складкой слизистой оболочки) – девственной плевой.</p>
    <p><em>Клитор</em> располагается в преддверии влагалища и имеет вид небольшого возвышения. Он состоит из двух пещеристых тел, является местом повышенной чувствительности (эрогенной зоной), так как содержит большое число рецепторов, раздражение которых вызывает чувство полового возбуждения.</p>
    <h3 class="text-center"><strong>Методы контрацепции.</strong></h3>
    <ol type="I">
        <li>
            <strong>Обратимые.</strong>
            <ol type="1">
                <li><em>Гормональные методы</em> (использование контрацептивов): оральных комбинированных – это таблетки с очень низким уровнем синтетических гормонов (эстрогенов и прогестинов); оральных прогестиновых – это таблетки, содержащие гормон прогестин. Они эффективны для кормящих матерей, так как не оказывают отрицательного воздействия на организм женщины и безвредны для ребенка; инъекционных, содержащих синтетический гормон, подобный природному прогестерону. Одна инъекция предохраняет от беременности в течение 90 дней.</li>
                <li><em>Внутриматочные средства</em> (ВМС) изготавливаются из пластика с добавлением металлов (меди, серебра) или гормонального вещества и вводятся в полость матки для предупреждения беременности. Они высокоэффективны, предохраняют от беременности на период от 3 до 5 лет и не вызывают дискомфорта во время полового акта.</li>
                <li>
                    <em>Естественный метод.</em> Определение своих фертильных дней (способность к оплодотворению) и воздержание в это время от половых контактов. Данным методом могут пользоваться только женщины с регулярным менструальным циклом.
                    <p>Все вышеперечисленные методы не защищают от инфекций, передающихся половым путем.</p>
                </li>
                <li><em>Барьерные методы.</em> Защищают от ИППП. Применение спермицидов – различных препаратов в виде таблеток, крема, суппозиториев, аэрозолей, которые вводят во влагалище перед половым актом, а также использование партнером презерватива – тонкого чехла, изготовленного из латекса.</li>
            </ol>
        </li>
        <li>
            <strong>Необратимые.</strong>
            <ol type="1">
                <li>Женская стерилизация.</li>
                <li>
                    Мужская стерилизация.
                    <p>Являются эффективными, не влияют на половую функцию и не опасны для здоровья.</p>
                </li>
            </ol>
        </li>
    </ol>
    <h3 class="text-center"><strong>Развитие организма человека.</strong></h3>
    <p>Эмбриональному периоду развития организма (внутриутробное развитие) предшествуют осеменение и оплодотворение.</p>
    <p>При осеменении сперматозоиды из влагалища двигаются вверх и попадают в матку, а затем в маточные трубы. Овоцит второго порядка (будущая яйцеклетка) движется к сперматозоидам за счет колебания ресничек эпителия и сокращения мышечного слоя маточной трубы.</p>
    <p>Оплодотворение – слияние яйцеклетки и сперматозоида – происходит в верхней трети трубы (когда яйцеклетка окажется в нижней части трубы, она уже не может быть оплодотворена). К концу 8-й недели завершается <em>зародышевый период</em> развития: у зародыша уже сформированы голова, шея, туловище, произошла закладка конечностей и всех внутренних органов. С 9-й недели начинается <em>плодный период.</em> К концу 3-го месяца формируются все органы плода и можно определить пол ребенка. В середине 5-го месяца у плода прослушивается сердцебиение. Внутриутробное развитие продолжается 38–40 недель. К моменту рождения плод имеет рост 50–55 см и массу 3000–3500 г.</p>
    <p><strong>Роды</strong> – это физиологический процесс, при котором происходит изгнание из полости матки через родовые пути плода и последа. Физиологические роды наступают в среднем после 10 акушерских месяцев (280 суток или 40 недель) беременности, когда плод становится зрелым и способным к внеутробному существованию (его надпочечники выделяют гормоны, стимулирующие родовую деятельность). Роды начинаются с длинного ряда регулярных непроизвольных сокращений матки – <em>родовых схваток,</em> во время которых повышается внутриматочное давление. Благодаря схваткам осуществляется раскрытие шейки матки (раскрывающие схватки) и изгнание плода (изгоняющие схватки), после чего к схваткам присоединяются потуги.</p>
    <p><em>Потуги</em> – это сокращения мышц брюшного пресса и диафрагмы, возникающие рефлекторно и непроизвольно. Во время потуг происходит повышение внутрибрюшного давления. Одновременное повышение внутриматочного давления (схватки) и внутрибрюшного давления (потуги) способствует тому, что плод устремляется в сторону наименьшего сопротивления – в родовые пути.</p>
    <p>Родившийся ребенок начинает дышать, громко кричит, активно двигает ножками, кожа его приобретает розовый цвет. Когда пульсация сосудов пуповины после изгнания плода прекращается, ее перевязывают и отрезают, отделяя ребенка от матери. Остаток пуповины постепенно съеживается, рубцуется в конце концов от него остается только углубление рубца, называемое <em>пупком.</em></p>
    <p>После рождения ребенка начинается заключительный период родов, в котором происходит отслоение плаценты и плодных оболочек от стенки матки, а затем изгнание отделившего последа из половых путей. Главным условием отслоения плаценты являются последовые схватки. Через 10– 15 мин после рождения ребенка происходит изгнание последа. Продолжительность родов в среднем составляет около суток. После родов матка уменьшается, и ее слизистая быстро восстанавливается.</p>
    <h3 class="text-center"><strong>Гигиена половой системы.</strong></h3>
    <ol type="1">
        <li>Поддержание тела в чистоте. Накопившаяся на коже грязь, кожный жир, разлагаясь, образуют неприятно пахнущие и раздражающие вещества, которые могут способствовать развитию гнойничковых заболеваний. Поэтому каждый день необходимо принимать душ, не реже 1–2 раз в неделю мыться с мылом и мочалкой.</li>
        <li>Правильное чередование труда и отдыха (для предотвращения функциональных нервных расстройств), продолжительность сна должна быть не менее 9 ч.</li>
        <li>Необходимо избегать случайных половых связей. Ранние и случайные половые связи приводят к развитию воспалительных заболеваний половых органов, заражению венерическими заболеваниями, беременности.</li>
    </ol>
</div>

<div class="container">
    <a href=@Url.Action("Test43","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>