<div class="container">
    <p>
        Нервная система имеет очень важное значение в жизнедеятельности человека.
    </p>
    <p>
        <strong>Значение и функции нервной системы:</strong>
        <ol type="1">
            <li>Объединяет все части организма в единое целое;</li>
            <li>Регулирует работу всех органов и систем органов;</li>
            <li>Обеспечивает взаимодействие организма с окружающей средой и адаптацию организма к условиям существования;</li>
            <li>Обеспечивает все виды психической деятельности человека - сознание, мышление, речь, память.</li>
            <li>Обеспечивает формирование человека как социальной личности.</li>
        </ol>
    </p>
    <p>
        Деятельность нервной системы носит рефлекторный характер. <strong>Рефлекс</strong> – это ответная реакция организма на раздражение при участии нервной системы. Понятие «рефлекс» было введено в биологию Р. Декартом более 300 лет тому назад.
    </p>
    <p>
        Структурной основой рефлекса является <strong>рефлекторная дуга</strong> – путь, по которому проходит нервный импульс (возбуждение) от рецептора к эффектору (рабочему органу).
    </p>
    <p>
        <strong>Компоненты рефлекторной дуги:</strong>
        <ol type="1">
            <li>Рецептор – нервное окончание, воспринимающее раздражение (механорецепторы, терморецепторы, слуховые, зрительные, болевые (ноцицепторы) рецепторы и др.).</li>
            <li>Чувствительный (афферентный, центростремительный) нейрон – соединяет рецептор с участком ЦНС и передает ему информацию.</li>
            <li>Вставочный нейрон (ассоциативный, интернейрон) – обеспечивает «переключение» возбуждения с чувствительного на двигательный нейроны, находится в ЦНС и не выходит за ее пределы.</li>
            <li>Двигательный (эфферентный, центробежный, альфа-мотонейрон) нейрон – проводит нервный импульс из ЦНС к эффектору.</li>
            <li>Эффектор (рабочий орган) – участок, воспринимающий раздражение.</li>
        </ol>
    </p>
    <img src="~/Images/thema31/рефлекторная дуга.png" class="rounded" width="100%" height="100%" />
    <p>
        <strong>Классический соматический рефлекс</strong> состоит из вышеперечисленных 3 нейронов и включает в себя следующие <strong>звенья:</strong> рецептор – дендрит чувствительного нейрона/афферентное нервное волокно – спинномозговой ганглий (тело чувствительного нейрона) – аксон чувствительного нейрона (задний корешок) – задние рога СМ (тело вставочного нейрона) – аксон вставочного нейрона – передние рога СМ (тело двигательного нейрона) – аксон двигательного нейрона (передний корешок) – эффектор.
    </p>
    <p>
        Сухожильный рефлекс (коленный, ахиллов) в отличии от соматического состоит только из двух нейронов (чувствительного и двигательного, <strong>ВСТАВОЧНЫЙ НЕЙРОН ОТСУТСТВУЕТ).</strong>
    </p>
    <p class="centered">
        <strong>Центральная (ЦНС) и периферическая (ПНС) нервная система.</strong>
    </p>
    <img src="~/Images/thema31/НС.png" class="rounded" width="100%" height="100%" />
    <p>
        Нервные волокна в местах вхождения в центральную нервную систему образуют <strong>корешки.</strong> Корешки, соединяясь между собой, формируют <strong>нервы.</strong>  Нервы связывают головной и спинной мозг со всеми органами и тканями организма. По мере приближения к объекту иннервации нервы разделяются на ветви и волокна. Ветви, обмениваясь волокнами, образуют <strong>сплетения.</strong> В тканях нервные волокна заканчиваются специализированными окончаниями: чувствительные волокна – рецепторами, двигательные – терминалями По объектам иннервации нервы делят на соматические и автономные (вегетативные). Соматические нервы иннервируют кожу, скелет, суставы, скелетные мышцы, органы чувств, а автономные –внутренние органы, гладкую мышечную ткань и железы.
    </p>
    <p>
        По составу волокон нервы подразделяются на чувствительные, двигательные и смешанные. Скопления тел нейронов вне центральной нервной системы образуют чувствительные узлы спинномозговых нервов, чувствительные узлы черепномозговых нервов и автономные узлы (симпатические и парасимпатические) вегетативной нервной системы.
    </p>
    <p>
        <strong>Функция ПНС:</strong> Вырабатывает и передает нервные импульсы, обеспечивая двухстороннюю связь центральной нервной системы с внешней и внутренней средой.
    </p>
    <p class="centered">
        <strong>Строение спинного мозга (СМ). </strong>
    </p>
    <p>
        Расположен в позвоночном канале и представляет собой длинный белый тяж длиной 41–45 см и толщиной около 1 см несколько уплощенный в спинно-брюшном направлении.
    </p>
    <p>
        Начинается от продолговатого мозга и заканчивается на уровне второго поясничного позвонка конически заостренной терминальной нитью, которая крепится к копчику. Ниже уровня спинного мозга в позвоночном канале находится так называемый «конский хвост», в котором сосредоточены корешки спинномозговых нервов поясничных, крестцовых и копчиковых сегментов. Имеет <strong>2 утолщения</strong> (шейное и пояснично-крестцовое) – места выхода спинномозговых нервов к верхним и нижним конечностям.
    </p>
    <p>
        <strong>Оболочки спинного мозга (снаружи-внутрь):</strong>
        <ol type="1">
            <li>Твердая (плотная волокнистая соединительная ткань) –защитная функция;</li>
            <li>Паутинная (рыхлая волокнистая соединительная ткань + нервы и сосуды) – имеет вид сети, функция – трофическая (питающая);</li>
            <li>Сосудистая (мягкая) (рыхлая волокнистая соединительная ткань + сосуды) – трофическая функция.</li>
        </ol>
    </p>
    <p>Между паутинной и сосудистой оболочками находится <strong>подпаутинное (субарахноидальное) пространство,</strong> заполненное спинномозговой жидкостью (ликвором).</p>
    <p>
        <strong>Спинномозговая жидкость (ликвор):</strong>
        <ol type="1">
            <li>Сходна по составу с плазмой крови.</li>
            <li>Заполняет систему желудочков мозга и субарахноидальное пространство головного и спинного мозга.</li>
            <li>Объем у взрослого человека - около 140 мл, обновляется до 10 раз в сутки. </li>
            <li>Основное место образования – сосудистые сплетения желудочков головного мозга.</li>
        </ol>
    </p>
    <p>
        <strong>Функции ликвора:</strong>
        <ol type="">
            <li>Гидроскелет – защитная аммортизационная подушка (предохраняет от механических повреждений при толчках и сотрясениях).</li>
            <li>Удаление продуктов обмена.</li>
            <li>Поддержание спинномозгового и черепномозгового давления.</li>
        </ol>
    </p>
    <p>
        Передней и задней продольными бороздами спинной мозг делится на две симметричные половины.
    </p>
    <p>
        На поперечном разрезе спинного мозга имеются два слоя. В центре расположено серое вещество в форме бабочки, представляет собой скопления тел нейронов и дендритов, образует рога спинного мозга (передние и задние), в грудных и поясничных сегментах присутствуют также боковые рога.
    </p>
    <img src="~/Images/thema31/строение СМ.png" class="rounded" width="100%" height="100%" />
    <p>
        Серое вещество окружено белым веществом (скопление аксонов). Белое вещество располагается в виде 6 столбов (двух передних, двух боковых и двух задних). Нервные волокна белого вещества образуют проводящие пути, соединяющие спинной мозг с головным и отдельные сегменты спинного мозга между собой. Проводящие пути подразделяют на восходящие (чувствительные), передающие возбуждение в головной мозг (по задним и боковым столбам), и нисходящие (двигательные), проводящие импульсы от головного мозга к рабочим органам (по передним и боковым столбам). При нарушении связи между спинным и головным мозгом наступает <strong>спинальный шок</strong> – все рефлексы, центры которых лежат ниже поврежденного участка спинного мозга, исчезают и произвольные движения становятся невозможными.
    </p>
    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <td>Передние рога</td>
                <td>Образованы телами двигательных нейронов, от них отходят передние (двигательные) корешки – аксоны двигательных нейронов, нервные клетки этих аксонов – самые длинные клетки человеческого организма ~ 13м.</td>
            </tr>
            <tr>
                <td>Задние рога и промежутки между рогами</td>
                <td>Образованы телами вставочных нейронов, «переключают» нервные импульсы с чувствительных на двигательные нервные волокна, к задним рогам подходят задние (чувствительные) корешки – аксоны чувствительных нейронов.</td>
            </tr>
            <tr>
                <td>Боковые рога</td>
                <td>Образованы телами 1-х нейронов симпатической части вегетативной нервной системы.</td>
            </tr>
        </tbody>
    </table>
    <p>Тела чувствительных нейронов расположены вне спинного мозга в спинномозговых ганглиях по ходу чувствительных нейронов.</p>
    <p>
        После выхода из межпозвонковых отверстий чувствительные и двигательные корешки спинного мозга объединяются и образуют смешанные спинномозговые нервы. Каждая пара (всего 31 пара) спинномозговых нервов образована дендритами чувствительных нейронов (задняя ветвь) и аксонами двигательных нейронов (передняя ветвь), иннервирует определенный участок тела (кроме мышц головы и шеи).
    </p>
    <p>
        Участок спинного мозга, соответствующий выходу одной пары нервов, называется <strong>сегментом</strong> (всего 31).
    </p>
    <p>
        Шейные сегменты (8) расположены от I шейного позвонка до середины VII шейного позвонка, грудные сегменты (12) – от середины VII шейного позвонка до середины XI грудного позвонка, поясничные сегменты (5) – от середины XI грудного позвонка до верхнего края тела I поясничного позвонка. Крестцовые сегменты (5) лежат позади тела I поясничного позвонка. Копчиковый сегмент (1) расположен на уровне II поясничного позвонка.
    </p>
    <p>
        <strong>Спинномозговой канал.</strong> Находится в центре серого вещества спинного мозга. Представляет собой полость, заполненная спинномозговой жидкостью (ликвором).
    </p>
    <p>
        <strong>Функции спинного мозга:</strong>
        <ol type="1">
            <li>Проводниковая - проведение нервных импульсов по восходящим путям белого вещества от рецепторов кожи, мышц, внутренних органов в головной мозг и по нисходящим путям – в определенные центры спинного мозга, затем на периферию к органам.</li>
            <li>Рефлекторная. <strong>В шейно-грудных и поясничных сегментах</strong> находятся <strong>центры</strong> расширения зрачка, потоотделения, движения диафрагмы, сокращения межреберных мышц, движения мышц шеи, плечевого пояса и верхних конечностей; залегают ядра (тела 1-х нейронов) симпатической вегетативной нервной системы (ВНС). <strong>В пояснично-крестцовых сегментах</strong> находятся <strong>центры</strong> мочеиспускания, дефекации, половой функции, рефлекторного движения нижних конечностей; замыкаются дуги коленного и голеностопного рефлексов; залегают ядра (тела 1-х нейронов) парасимпатического отдела ВНС.</li>
        </ol>
    </p>
    <p class="centered">
        <strong>Головной мозг, отделы головного мозга и их функции.</strong>
    </p>
    <p>
        Головной мозг располагается в мозговом отделе черепа. Масса головного мозга взрослого человека от 1100 до 1700 г. Развивается он из переднего отдела нервной трубки, проходя стадии 3 и 5 мозговых пузырей. Полость нервной трубки преобразуется в мозговые желудочки: I и II (боковые) расположены в переднем мозге, III – в промежуточном, IV – в продолговатом. Полости боковых желудочков соединяются с III межжелудочковым отверстием, III и IV желудочки – <strong>Сильвиевым водопроводом (водопроводом мозга),</strong> находящимся в среднем мозге. Желудочки заполнены спинномозговой жидкостью.
    </p>
    <p>
        Головной мозг, как и спинной, покрыт <strong>тремя оболочками (снаружи-внутрь):</strong>
        <ol type="1">
            <li>Твердая (плотная волокнистая соединительная ткань) –защитная функция;</li>
            <li>Паутинная (рыхлая волокнистая соединительная ткань + нервы и сосуды) – имеет вид сети, функция – трофическая (питающая);</li>
            <li>Сосудистая (мягкая) (рыхлая волокнистая соединительная ткань + сосуды) – трофическая функция.</li>
        </ol>
    </p>
    <p>
        Между паутинной и сосудистой оболочками находится <strong>подпаутинное (субарахноидальное) пространство,</strong> заполненное спинномозговой жидкостью (ликвором).
    </p>
    <p>
        В головном мозге также различают серое и белое вещество. Белое вещество располагается снаружи в большинстве отделов мозга (ствол мозга), образуя проводящие пути. Серое вещество располагается внутри белого вещества в виде отдельных скоплений (ядер), а также снаружи – покрывает только полушария мозга и мозжечка, образуя кору.
    </p>
    <p>
        Мозговые пузыри преобразуются в отделы головного мозга: передний (конечный, большие полушария), промежуточный, средний, задний и продолговатый. Продолговатый мозг, варолиев мост, средний и промежуточный мозг образуют ствол мозга – наиболее древняя в филогенетическом отношении часть мозга (в нем серое вещество находится внутри белого).
    </p>
    <p>От различных отделов головного мозга отходит 12 пар черепномозговых нервов:</p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Локализация ядер в отделах головного мозга</td>
                <td>Название черепно-мозгового нерва</td>
                <td>Функция</td>
                <td>Участки иннервации</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Передний</td>
                <td>I</td>
                <td>обонятельный</td>
                <td>чувствительный</td>
                <td>Информация о запахах</td>
            </tr>
            <tr>
                <td>Промежуточный (таламус)</td>
                <td>II</td>
                <td>зрительный</td>
                <td>чувствительный</td>
                <td>Информация от сетчатки</td>
            </tr>
            <tr>
                <td rowspan="2">Средний</td>
                <td>III</td>
                <td>глазодвигательный</td>
                <td>смешанный</td>
                <td rowspan="2">Глазные мышцы</td>
            </tr>
            <tr>
                <td>IV</td>
                <td>блоковый</td>
                <td>двигательный</td>
            </tr>
            <tr>
                <td rowspan="4">Варолиев мозг</td>
                <td>V</td>
                <td>тройничный</td>
                <td>смешанный</td>
                <td>Слезная железа, оболочки глазного яблока, жевательные мышцы, наружное ухо, кожа лица</td>
            </tr>
            <tr>
                <td>VI</td>
                <td>отводящий</td>
                <td>двигательный</td>
                <td>Глазные мышцы</td>
            </tr>
            <tr>
                <td>VII</td>
                <td>лицевой</td>
                <td>смешанный</td>
                <td>Мимика, чувство вкуса на передних ⅔ языка</td>
            </tr>
            <tr>
                <td>VIII</td>
                <td>преддверно-улитковый (слуховой)</td>
                <td>чувствительный</td>
                <td>Информация от органов слуха и равновесия</td>
            </tr>
            <tr>
                <td rowspan="4">Продолговатый</td>
                <td>IX</td>
                <td>языкоглоточный</td>
                <td>смешанный</td>
                <td>
                    Язык, глотка, зев, нёбная миндалина, околоушная слюнная железа и чувство вкуса на задней ⅓ языка
                </td>
            </tr>
            <tr>
                <td>X</td>
                <td>блуждающий</td>
                <td>смешанный</td>
                <td>Органы грудной и брюшной полости</td>
            </tr>
            <tr>
                <td>XI</td>
                <td>добавочный</td>
                <td>двигательный</td>
                <td>Шейные мышцы</td>
            </tr>
            <tr>
                <td>XII</td>
                <td>подъязычный</td>
                <td>двигательный</td>
                <td>Язык</td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Блуждающий нерв (X пара) </strong> относится преимущественно к парасимпатическому отделу ВНС и иннервирует внутренние органы шейного отдела, грудной и верхней частей брюшной полости (в т.ч сердце и желудок).
    </p>
    <div class="row">
        <div class="col">
            <p>
                <strong>Продолговатый мозг.</strong>
            </p>
            <p>
                Является продолжением спинного мозга и повторяет его строение. На его передней и задней поверхностях расположены по одной продольной борозде, являющиеся непосредственным продолжением борозд спинного мозга. По бокам от передней борозды расположено по одному выступу – <strong>пирамиде</strong> .Снаружи – белое вещество, представленное длинными и короткими пучками нервных волокон, внутри – ядра серого вещества: ядра IX-XII пар черепно-мозговых нервов, тела 1-х нейронов парасимпатического отдела ВНС.
            </p>
        </div>
        <div class="col text-center">
            <img src="~/Images/thema31/строение ГМ.png" class="rounded" width="100%" height="100%" />
        </div>
    </div>
    <p>
        В продолговатом мозге имеется полость – четвертый желудочек мозга, который является продолжением спинномозгового канала.
    </p>
    <p>
        <strong>Функции продолговатого мозга:</strong>
        <ol type="1">
            <li>Проводниковая - проведение импульсов из спинного мозга в вышележащие отделы головного мозга и обратно.</li>
            <li>
                Рефлекторная. В продолговатом мозге находятся:
                <ol type="a">
                    <li><strong>центры жизненно важных функций:</strong> дыхательный, сосудодвигательный (тонуса сосудов) центры, центр сердечной деятельности;</li>
                    <li><strong>центры безусловных пищевых рефлексов:</strong> сосания, глотания, жевания, слюнотечения, сокоотделения;</li>
                    <li><strong>защитных рефлексов:</strong> чихания, кашля, рвоты, мигания, слезотечения.</li>
                </ol>
            </li>
        </ol>
    </p>
    <p>
        Повреждение продолговатого мозга приводит к мгновенной смерти (остановка сердца, дыхания).
    </p>
    <p>
        <strong>Задний мозг.</strong>
    </p>
    <p>
        Располагается между продолговатым и средним мозгом.
    </p>
    <p>
        <strong>Составные части: </strong> мозжечок, 3 пары ножек мозжечка, варолиев мост.
    </p>
    <p>
        <strong>Варолиев мост</strong>  состоит из белого и серого вещества. Серое вещество представлено ядрами V–VIII пар черепно-мозговых нервов и телами 1-х нейронов парасимпатического отдела ВНС, а белое образовано продольными и поперечными пучками нервных волокон.
    </p>
    <p>
        <strong>Мозжечок</strong> состоит из двух полушарий, соединенных средней частью – червем (белое вещество). Полушария покрыты слоем серого вещества – корой, которая имеет извилины. Белое вещество мозжечка образовано нервными волокнами. Масса мозжечка – 120-150г.
    </p>
    <p>
        <strong>Ножки мозжечка</strong> (3 пары) соединяют мозжечок с продолговатым мозгом, варолиевым мостом и средним мозгом.
    </p>
    <p>
        <strong>Функции заднего мозга:</strong>
        <ol type="1">
            <li>Проводниковая - проведение импульсов из продолговатого мозга в вышележащие отделы головного мозга и обратно.</li>
            <li>
                Рефлекторная
                <ol type="a">
                    <li>Мозжечок. <strong>Центры</strong> координации произвольных и непроизвольных движений, равновесия и позы тела, регуляции мышечного тонуса;</li>
                    <li>Варолиев мост. <strong>Центры</strong> движения глазных яблок, сокращения жевательных и мимических мышц. </li>
                </ol>
            </li>
        </ol>
    </p>
    <p>При поражении мозжечка наблюдается ослабление мышечного тонуса, нарушение координации непроизвольных движений и равновесие.</p>
    <p >
        <strong>Средний мозг.</strong>
    </p>
</div>
