<div class="container">
    <p><strong>Классы и представители:</strong> Тип Моллюски включает три класса: Брюхоногие (виноградная улитка, малый прудовик, слизни, живородки), Двустворчатые (перловица, жемчужница, устрица, мидия, беззубка, корабельный червь (шашень)) и Головоногие (каракатицы, кальмары, осьминоги).</p>
    <p><strong>Количество видов:</strong> около 130000 видов.</p>
    <p><strong>Среда обитания:</strong> морские и пресные водоемы, иногда суша.</p>
    <p><strong>Образ жизни:</strong> в основном – свободноживущие, однако имеются и прикрепленные особи.</p>
    <p><strong>Первичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная ассиметричные</strong> (брюхоногие).</p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol>
            <li>Разделение тела на отделы (голова, нога, туловище);</li>
            <li>Полость тела вторичная (редуцирована во взрослом состоянии);</li>
            <li>Наружный скелет в виде раковины;</li>
            <li>Наличие мантии и мантийной полости;</li>
            <li>Незамкнутая кровеносная система;</li>
            <li>Органы дыхания – жабры или легкое;</li>
            <li>Появление U-образных почек;</li>
            <li>Нервная система разбросанно-узлового типа;</li>
            <li>Появление органов (сердца, почки и печени).</li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение.</strong> Размеры тела варьируют в широких пределах от 2–3 мм до 18 м (гигантский кальмар).
        <img src="~/Images/thema21/внешнее и внутреннее строение.png" alt="внешнее и внутреннее строение" class="text-center"/>
    </p>
    <p>
        Тело не сегментировано и разделено на 3 отдела:
        <ol type="1">
            <li><strong>Голова</strong> – место расположение органов чувств и ротового отверстия (у двустворчатых голова редуцирована);</li>
            <li><strong>Нога</strong> - это мускулистый вырост брюшной стенки тела, который служит для передвижения (у головоногих нога расщеплена на 8-10 щупалец с присосками и образует воронку, обеспечивающую реактивный способ передвижения). В зависимости от характера движения форма ноги может быть килевидной (двустворчатые), иметь широкую подошвенную поверхность (брюхоногие);</li>
            <li>
                <strong>Туловище</strong> (место размещения большей части внутренних органов).
            </li>
        </ol>
    </p>
    <p>
        Тело моллюсков покрыто кожной складкой – <strong>мантией.</strong> Мантия снаружи образует раковину, которая может быть цельная, закручена спирально в виде конуса – у брюхоногих; состоящей из двух створок, соединенных органической <em>связкой (лигаментом) с замком -</em> зазубренными выступами на створках (двигаются благодаря сокращению <em>мускулов-замыкателей,</em> которые крепятся к обеим створкам) – у двустворчатых; в виде подкожной пластинки или редуцирована – у головоногих.
    </p>
    <p>
        <strong>Слои раковины:</strong>
        <ol type="1">
            <li>Наружный <em>– роговой</em> (органический);</li>
            <li>Средний <em>– фарфоровый</em> (известковый);</li>
            <li>Внутренний <em>– перламутровый.</em> Состоит из известковых пластинок, расположенных в одной плоскости и обеспечивающих преломление световых лучей и их интерференцию, что придает внутренней поверхности раковины радужную окраску.</li>
        </ol>
    </p>
    <p>
        <u>Функции</u> раковины: защитная и опорная (наружный скелет).
    </p>
    <p>
        Между мантией и телом расположена <em>мантийная полость,</em> в которой находятся органы дыхания и химического чувства; в нее открываются протоки пищеварительной, выделительной и половой систем. С внешней средой мантийная полость сообщается <em>сифонами</em> (у водных представителей) или <em>дыхательными отверстиями</em> (у наземных).
    </p>
    <p>
        <strong>Полость тела</strong> вторичная (целом), редуцирована во взрослом состоянии (остатки – околосердечная сумка и полости половых желез). Промежутки между органами заполнены рыхлой соединительной тканью (отсюда второе название типа – мягкотелые).
    </p>
    <p>
        <strong>Пищеварительная система.</strong> 3 отдела:
        <ol type="1">
            <li><em>Передний</em> (рот, глотка, пищевод, зоб, желудок);</li>
            <li><em>Средний</em> (средняя кишка);</li>
            <li><em>Задний</em> (задняя кишка и анальное отверстие).</li>
        </ol>
    </p>
    <p>
        Рот ведет в ротовую полость, переходящую в мускулистую глотку. Поглощение пищи пассивное фильтрационное (двустворчатые) или активное заглатывание (брюхоногие, головоногие). Моллюски питаются растительной и животной пищей. Растительноядные моллюски либо сами вырабатывают фермент <em>целлюлазу</em> либо получают ее от симбиотических бактерий, обитающих в их кишечнике.
    </p>
    <p>
        В ротовой полости расположены <em>роговые челюсти.</em>  В глотке находится <em>язык (терка</em> или <em>радула</em>) – пластинка, покрытая многочисленными роговыми зубчиками (100 – 150 штук). Радула расположена на особом выступе дна ротовой полости, внутри которого находится <em>хрящ.</em> Благодаря мускулатуре терка может перемещаться вперед или назад внутри ротовой полости и немного выдвигаться через ротовое отверстие наружу. Из глотки пища попадает в пищевод, желудок, среднюю и заднюю кишки. Задняя кишка открывается анальным отверстием в мантийную полость. Развиты <em>слюнные железы и печень.</em> У двустворчатых в связи с редукцией головы нет ротовой полости, глотки с радулой и слюнных желез.
    </p>
    <p>
        <strong>Выделительная система.</strong> <em>U-образные почки</em> (видоизмененные метанефридии). Неразветвленный канал, на конце воронка собственным выводным протоком начинается в околосердечной сумке (перикарде), открывается в мантийную полость <em>(целомодукты).</em>
    </p>
    <p>
        <strong>Кровеносная система.</strong> <em>Незамкнутая,</em> представлена <strong>многокамерным</strong> <em>(1 желудочек и 1, 2 или 4 предсердия)</em> <strong>сердцем</strong>  и сосудами. Сердце находится <strong>НА СПИННОЙ СТОРОНЕ ТЕЛА (N.B.</strong> у хордовых на брюшной), содержит артериальную кровь. Кровь из сердца поступает в артерии, далее в <em>лакуны и синусы</em> (промежутки между органами, не оформленные в сосуды). Она омывает органы, затем собирается в вены, идущие к органам дыхания (насыщается кислородом), а оттуда – к сердцу.  У головоногих моллюсков в коже и мышцах есть <em>капиллярная сеть</em> (возникают элементы замкнутой кровеносной системы). Для ускорения движения крови у некоторых головоногих полые вены перед вхождением в жабры образуют расширения <em>(венозные сердца).</em>
    </p>
    <p>
        Кровь чаще бесцветная, иногда голубая (содержит <em>гемоцианин</em> (в составе <em>медь) или гемоэритрин).</em> 
    </p>
    <p>
        <strong>Дыхательная система.</strong> У водных моллюсков <em>– жабры</em> (складки мантии, состоящие из <em>жаберных лепестков,</em> прилегающих друг к другу, покрыты мерцательным эпителием). У наземных представителей и пресноводных Брюхоногих (малый прудовик) <em> – легкое</em> (карман мантии, пронизанный сетью кровеносных сосудов и открывается в мантийную полость дыхательным отверстием).
    </p>
    <p>
        <strong>Нервная система.</strong> <em>Разбросанно-узлового типа</em> (у брюхоногих моллюсков 5 пар нервных узлов в различных частях тела, соединенных нервными стволами). <em>Педальные ганглии</em> иннервируют ногу, <em>плевральные –</em> мантию, <em>париетальные и висцеральные</em> – внутренние органы. <em>Церебральные ганглии</em> получают сигналы от органов чувств.
    </p>
    <p>
        У двустворчатых моллюсков отсутствуют головные ганглии.
    </p>
    <p>
        У головоногих – крупный парный церебральный ганглий образует «головной мозг», от которого отходят нервы к различным органам. Мозг защищен хрящевой капсулой.
    </p>
    <p>
        <strong>Органы чувств.</strong> <em>Органы осязания, зрения, химического чувства, равновесия (статоцисты),</em> расположенные в ноге.
    </p>
    <p>
        <strong>Половая система.</strong> Раздельнополые (Двустворчатые, Головоногие), гермафродиты (Брюхоногие). Половые железы – парные. Размножение половое. Осеменение наружное (у водных), внутреннее (у наземных). Развитие прямое (у Головоногих, наземных и пресноводных Брюхоногих), непрямое (морские Брюхоногие и Двустворчатые) – личинки: <em>парусник (велигер),</em> у некоторых пресноводных двустворчатых личинка <em>глохидий</em> может временно паразитировать в жабрах или плавниках рыб.
    </p>
</div>
<div class="container">
    <p class="text-center">
        <strong>Многообразие моллюсков.</strong>
    </p>
    <p>
        Класс <strong>Брюхоногие</strong> (виноградная улитка, малый прудовик, слизни, живородки). Количество: более 90 000 видов. Среда обитания: моря, пресные водоемы, суша. Образ жизни: свободноживущие, вредители. Ассиметричны. Растительноядные. Имеют хорошо развитую голову с одной или двумя парами щупалец и глазами, широкую подошвенную поверхность мускулистой ноги и туловищный мешок. Раковина цельная, чаще спирально закрученная. При опасности моллюск полностью втягивает тело внутрь раковины. У слизней раковина редуцирована. Гермафродиты.
    </p>
    <p>
        Класс <strong>Двустворчатые</strong> (перловица, жемчужница, устрица, мидия, беззубка, корабельный червь (шашень)). Количество: более 20 000. Среда обитания: водоемы. Образ жизни: малоподвижны, живут придонно (мидии и устрицы прикреплены к субстрату). Билатеральный тип симметрии. Раковина двустворчатая, голова редуцирована. Питание пассивное (планктон, бактерии, детрит), фильтрационное. Развитие непрямое. Морская и пресноводная жемчужницы обитают в чистых холодных реках и теплых морях, имеют мощный перламутровый слой раковины и «производят» натуральный жемчуг (образование жемчуга – это защитная реакция моллюска в ответ на попадание инородных частиц).
    </p>
    <img src="~/Images/thema21/двустворчатый.png" alt="двустворчатый"/>
    <p>
        Класс <strong>Головоногие</strong>  (каракатицы, кальмары, осьминоги). Количество: 650 видов. Среда обитания: теплые моря. Образ жизни: свободноживущие, растительноядные или хищники. Самые высокоорганизованные моллюски, билатерально-симметричные. Размеры тела – от 1 см до 18 м. Нога преобразована в щупальца с присосками (руки), окружающие рот, т. е нога переместилась на голову. Раковина рудиментарная (подкожная известковая пластинка). Имеется <em>внутренний хрящевой скелет</em> в виде головной капсулы, защищающей головной мозг. Глотка имеет роговые чешуи (клюв). <em>Секрет слюнных желез ядовит. В заднюю кишку открывается проток чернильной железы.</em> Органы чувств: обоняния, химического чувства, равновесия, свечения и зрения (сложно устроенные глаза). <em>Тело способно изменять окраску</em> вследствие изменения формы пигментных клеток, залегающих в соединительнотканном слое кожи, что используется для маскировки на местности. Раздельнополые. Оплодотворение происходит в мантийной полости. Развитие прямое.
    </p>
    <div class="text-center">
        <img src="~/Images/thema21/головоногий.png" alt="головоногий" />
        <p class="picture_framing">
            Внешнее строение осьминога:
            1 – голова; 2 – глаз; 3 – туловище; 4 – присоски; 5 – щупальца
        </p>
    </div>
</div>
<div class="container">
    <p class="text-center">
        <strong>Значение моллюсков.</strong>
    </p>
    <ol type="1">
        <li>Звено цепей питания в водных и наземных экосистемах;</li>
        <li>Биофильтраторы (Двустворчатые);</li>
        <li>Продукт питания человека (виноградная улитка, устрицы, мидии, кальмары, осьминоги);</li>
        <li>Секрет чернильного мешка каракатиц и кальмаров используют для получения китайской туши и акварельной краски сепии.</li>
        <li>Перловицы и жемчужницы – «производители» перламутра и жемчуга.</li>
        <li>Виноградная и садовая улитки, слизни наносят ущерб полевым, огородным и садовым культурам.</li>
        <li>Дрейссена речная образует скопления <em>(друзы)</em> на искусственных гидротехнических сооружениях (водотоки, трубы, турбины, решетки), нарушая ток воды. </li>
        <li>Брюхоногий моллюск рапана – хищник, питается двустворчатыми, вредит устричным хозяйствам.</li>
        <li>Корабельный червь (шашень) и камнеточцы – вредители (проделывают ходы в днищах судов, сваях пристаней и других прибрежных гидротехнических сооружениях).</li>
        <li>Тропические моллюски конус и теребра ядовиты.</li>
        <li>Прудовики – промежуточные хозяева сосальщиков.</li>
    </ol>
</div>
