<div class="container">
    <p>
        <strong>Классы и представители:</strong> Тип Членистоногие включает три класса: <strong>Ракообразные</strong> (бокоплав, креветка, краб, омар, лангуст, дафния, циклоп, щитень, рак, водяной ослик, креветка, мокрица, морской желудь, морская уточка, карповая вошь, жаброног, каланус; в Красную книгу РБ занесены широкопалый рак, реликтовая мизида, лимнокалянус, понтопорея и бокоплав Палласа (мормыш)), <strong>Паукообразные</strong> (скорпион, домовой паук, паук-серебрянка, сенокосец, тарантул, каракурт, паук-птицеяд, клещ, чесоточный зудень) и <strong>Насекомые</strong> (см.табл).
    </p>
    <p>
        <strong>Количество видов:</strong> более 1000000 видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> наземно-воздушная, почва, водоемы, живые организмы.
    </p>
    <p>
        <strong>Образ жизни:</strong> свободноживущие, паразиты человека, животных и растений
    </p>
    <p>
        <strong>Первичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная.</strong>
    </p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol type="1">
            <li>Гетерономная сегментация;</li>
            <li>Отделы тела: голова, грудь и брюшко;</li>
            <li>Наружный хитиновый скелет;</li>
            <li>Поперечнополосатая мускулатура;</li>
            <li> Смешанная полость тела (миксоцель);</li>
            <li>Членистые конечности.</li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение.</strong> Размеры тела: от 0,1 мм до 1 м. Тело разделено на сегменты, сегменты образуют отделы тела: голову, грудь и брюшко, у ракообразных и паукообразных – головогрудь и брюшко. Тело клещей не разделено на сегменты и отделы (слитное). Характерна <strong>гетерономная сегментация</strong> (сегменты тела имеют различное строение и выполняют разные функции).
    </p>
    <p>
        <strong>Покровы тела.</strong> Многослойная кутикула (защитная пленка полисахаридной природы, производное гиподермы (кожного эпителия)). <u>Функции:</u> защита, формирование наружного скелета (к его внутренней поверхности прикрепляются пучки поперечнополосатой мускулатуры, которые обеспечивают интенсивные движения). Кутикула имеет плотную консистенцию, содержит хитин (полисахарид, содержащий азот и похожий по структуре на целлюлозу). Нерастяжима (Ракообразные и Насекомые), пропитана солями кальция (Ракообразные), растяжима (Паукообразные). Рост тела у ракообразных и насекомых прерывистый, связан с линькой, происходит в период сбрасывания старого покрова, пока новая мягкая кутикула еще не затвердела.
    </p>
    <p>
        <strong>Органы движения.</strong> Членистые конечности, состоящие из члеников, соединены подвижно с телом при помощи суставов. Произошли от параподий кольчатых червей. Ракообразные – 5 пар ходильных конечностей, Паукообразные – 4 пары, Насекомые – 3 пары. Функции конечностей: передвижение, дыхание (легочные мешки), захват и измельчение пищи, ротовой аппарат, орган защиты и нападения, органы чувств, совокупительный орган, вынашивание молоди.
    </p>
    <p>
        <strong>Внутреннее строение.</strong> Полость тела. Смешанная <strong>(миксоцель)</strong> – образуется при слиянии участков первичной и вторичной полостей и заполнена гемолимфой – жидкостью, которая одновременно выполняет функции крови и полостной жидкости.
    </p>
    <p>
        <strong>Пищеварительная система.</strong> 3 отдела:
        <ol type="1">
            <li>Передний (рот, глотка, пищевод, иногда зоб, желудок)</li>
            <li>Средний (средняя кишка)</li>
            <li>Задний (задняя кишка и анальное отверстие).</li>
        </ol>
    </p>
    <p>
        Передний и задний отделы имеют кутикулярную выстилку. Рот окружен видоизмененными конечностями – ротовым аппаратом, который приспособлен к определенному виду пищи (грызущий, лижущий, сосущий, лакающий и т.д.). Развиты пищеварительные железы (слюнные железы, печень).
    </p>
    <p>
        <strong>Выделительная система.</strong> Видоизмененные метанефридии (зеленые и коксальные железы), мальпигиевы сосуды (выросты кишечника, расположенные на границе средней и задней кишок) и жировое тело/почка накопления (у насекомых).
    </p>
    <p>
        <strong>Кровеносная система.</strong> Незамкнутая. Центральный пульсирующий орган – <strong>ТРУБЧАТОЕ</strong> сердце (многокамерная трубка с парными боковыми отверстиями (остиями), через которые гемолимфа из околосердечной сумки, сообщающейся с полостью тела, поступает в сердце), расположенное на спинной стороне тела.
    </p>
    <p>
        <strong>N.B.!!! </strong> .!!! У хордовых сердце расположено на брюшной стороне тела
    </p>
    <p>
        Из сосудов, отходящих от сердца, гемолимфа изливается в полость тела, омывает внутренние органы и органы дыхания, где насыщается кислородом. Затем окисленная гемолимфа вновь поступает в сердце и сосуды. Гемолимфа может быть окрашена в красный (гемоглобин (содержит железо)) или в голубой (гемоцианин (содержит медь)) цвет.
    </p>
    <p>
        <strong>Дыхательная система.</strong> Жабры - тонкие листовидные выросты либо пучки нитей, расположенные на грудных или брюшных конечностях (у первичноводных членистоногих), легочные мешки - видоизмененные конечности, имеющие вид мешковидных впячиваний со складчатыми стенками и трахеи - ветвящиеся хитиновые трубочки, пронизывающие все тело (у наземных членистоногих).
    </p>
    <p>
        <strong>Нервная система. Узловая/лестничная/ганглионарная.</strong> Содержит укрупненный головной ганглий («головной мозг»), окологлоточное нервное кольцо и брюшную нервную цепочку.
    </p>
    <p>
        <strong>Эндокринные железы.</strong> Нейросекреторные клетки, переднегрудные железы, кардиальные тела, прилежащие тела.
    </p>
    <p>
        Нейросекреторные клетки «головного мозга» выделяют мозговой гормон, который стимулирует развитие личинок и куколок и активирует секрецию переднегрудных желез, расположенных на брюшной стороне первого сегмента груди. Переднегрудные железы выделяют в гемолимфу гормон линьки <strong>экдизон</strong> (стероидный гормон, стимулирует линьку и метаморфоз). Кардиальные тела регулируют работу переднегрудных желез. Прилежащие тела выделяют личиночный гормон <strong>неотенин</strong> (способствует развитию личиночных органов и препятствует метаморфозу).
    </p>
    <p>
        <strong>Органы чувств:</strong> зрения, вкуса, осязания, обоняния, слуха и равновесия. Имеются специальные кутикулярные сенсиллы – щетинки, связанные своим основанием с чувствительной клеткой (дают информацию о взаимном положении частей тела).
    </p>
    <p>
        Глаза у членистоногих двух типов – простые и сложные (фасеточные). Простой глаз (паукообразные) состоит из единственной линзы, под которой расположено небольшое количество светочувствительных клеток (различает свет и темноту). Сложный фасеточный глаз (ракообразные и насекомые), состоит из множества отдельных, изолированных пигментными клетками конических глазков – <strong>омматидиев</strong> (каждый глазок воспринимает часть предмета, а вместе они обеспечивают его мозаичное изображение, что позволяет улавливать движение объектов).
    </p>
    <p>
        <strong>Половая система.</strong> Раздельнополые. Самки: яичники и яйцеводы, самцы: семенник, семяпровод и семяизвергательный канал. Выражен половой диморфизм. Размножение только половое, встречаются партеногенез (размножение без оплодотворения) и живорождение. Развитие прямое и непрямое, с полным или неполным метаморфозом.
    </p>
</div>
<div class="container">
    <p class="text-center">
        <strong>Значение членистоногих.</strong>
    </p>
    <ol type="I">
        <li>
            Положительное:
            <ol type="1">
                <li>1.	Компоненты биогеоценозов, звенья цепей питания.</li>
                <li>2.	Объект промысла (омары, крабы, креветки, раки).</li>
                <li>3.	Уничтожают вредных насекомых (паукообразные).</li>
                <li>Опыляют растения и участвуют в почвообразовании (насекомые).</li>
                <li>5.	Продукты жизнедеятельности насекомых являются источником пищи (мед), лекарственным сырьем (пчелиный яд, прополис), сырьем для парфюмерной (пчелиное маточное молочко) и текстильной (коконы личинок шелкопряда) промышленности.</li>
            </ol>
        </li>
        <li>
            Отрицательное:
            <ol type="1">
                <li>Вызывают болезни рыб (некоторые ракообразные).</li>
                <li>Промежуточные хозяева гельминтов (лентец широкий).</li>
                <li>Ядовиты (каракурт, тарантул).</li>
                <li>Клещи – паразиты человека и животных, вызывают заболевания и переносят возбудителей болезней (вирус клещевого энцефалита).</li>
                <li>Кровососущие насекомые – переносчики возбудителей заболеваний: тифа (вши), чумы (блохи), малярии (комары). Некоторые из них вызывают болезни человека (вши, личинки оводов).</li>
            </ol>
        </li>
    </ol>
</div>

<div class="container">
    <p class="text-center">
        <strong>Класс Ракообразные.</strong>
    </p>
    <p>
        <strong>Количество:</strong> около 40 тыс. видов.
    </p>
    <p>
        <strong>Среда обитания</strong>
    </p>
    <p>
        <strong>Образ жизни:</strong> свободноживущие, есть прикрепленные представители (морские желуди, морские уточки), редко – паразиты (карповая вошь).
    </p>
    <p>
        <strong>Внешнее строение.</strong> Размеры: от 0,1 мм (планктонные формы) до 1,5 м (размах клешней камчатского краба). Тело сегментировано, может состоять из различного количества отделов: разделенных головы, груди и брюшка; головы, слитных грудного и брюшного отделов; чаще – из <strong>головогруди и брюшка.</strong>
    </p>
    <p>
        <strong>Низшие ракообразные</strong> (жаброног, каланус, дафния, циклоп) входят в состав планктона (ракообразные с в составе планктона – <strong>криль),</strong> некоторые представители ведут придонный образ жизни (растительноядные, хищники и паразиты). Способ питания – фильтрационный. Мелкие размеры. Разнообразны по форме тела, числу сегментов и строению конечностей. Тело полупрозрачное, нет плотного хитинового панциря. Одно ветвистые или двуветвистые конечности расположены на груди. Возможна редукция сосудов, сердца и жабр. Гермафродиты или раздельнополые. Развитие непрямое (личинка – <strong>науплиус).</strong>
    </p>
    <p>
        <strong>Высшие ракообразные </strong> (омары, лангусты, креветки, крабы, раки).
    </p>
    <p>
        <strong>Речной рак.</strong> Среда обитания: дно пресных водоемов с проточной незагрязненной водой. Ночной образ жизни. Размеры тела – 10–20 см.
    </p>
    <p>
        <strong>Внешнее строение.</strong>  Тело состоит из двух отделов: головогруди и брюшка. Передний конец тела заканчивается острым шипом <strong>X(рострум)</strong>, по бокам от которого находятся два глаза, расположенные на подвижных стебельках. Отделы тела состоят из неодинаковых сегментов, каждому из которых соответствует пара членистых конечностей (19 пар), приспособленных к выполнению определенной функции: двигательной, дыхательной, захвата и измельчения пищи, половой, органов чувств.
    </p>
    <div class="row">
        <div class="col">
            <p>
                <em>Сегменты головы</em> - 5 пар конечностей: 1. Антеннулы (органы обоняния); 2. Антенны (органы осязания); 3. Верхние челюсти, или жвалы (измельчают пищу); 4-5. 2 пары нижних челюстей (подают пищу в рот).
            </p>
            <p>
                <em>Сегменты груди</em> - 8 пар конечностей: 6-8. 3 пары ногочелюстей (участвуют в работе ротового аппарата); 9-13. 5 пар ходильных ног (служат для передвижения), первая пара ходильных ног преобразована в клешни (выполняют функцию защиты и нападения).
            </p>
            <p>
                <em>Сегменты брюшка</em> - 6 пар конечностей: 14-18. 5 пар плавательных ног (у самца первая и вторая пары –совокупительный орган, самка использует плавательные ножки для удержания развивающихся яиц), 19. Конечности шестой пары вместе с седьмым сегментом брюшка <strong>(тельсон)</strong> образуют хвостовой плавник, при резком движении которого в случае опасности рак скачком отплывает назад.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema22/рак.png" />
        </div>
    </div>
    <p>
        <strong>Покровы тела.</strong> Хитинизированная кутикула и гиподерма. Кутикула пропитана углекислым кальцием и образует плотный панцирь, или щит <strong>(карапакс).</strong> <u>Функции:</u> защитная, является наружным скелетом.
    </p>
    <p>
        <strong>Пищеварительная система.</strong> 3 отдела: передний, средний и задний. <em>Отделы пищеварительной трубки:</em> ротовая полость – глотка – пищевод – двухкамерный желудок – средняя кишка – задняя кишка – анальное отверстие.
    </p>
    <p>
        Рот окружен шестью парами видоизмененных конечностей: 1 пара верхних и 2 пары нижних челюстей, 3 пары ногочелюстей. Через глотку и узкий пищевод пища (мелкие организмы и разлагающиеся органические остатки) поступает в двухкамерный желудок, в котором имеются кутикулярные зубцы <em>(жевательный отдел),</em> завершающие измельчение пищи (механическая обработка), и сито из длинных хитиновых щетинок, обеспечивающее процеживание пищи <em>(цедильный отдел).</em> В средней кишке есть боковые выпячивания – печеночные придатки, образующие печень. Они выделяют пищеварительные ферменты, расщепляющие компоненты пищи (полостное пищеварение). Клетки печени способны к фагоцитозу, в ней переваривается жидкая пищевая кашица (внутриклеточное пищеварение). Задняя кишка образует прямую трубку, лишенную придатков. Непереваренные остатки пищи удаляются через анальное отверстие, расположенное на тельсоне.
    </p>
    <div class="container">
        <div class="text-center">
            <img src="~/Images/thema22/hfr 2.png" alt="строение" />
        </div>
    </div>
    <p>
        <strong>Выделительная система. Зеленые железы</strong> (видоизмененные метанефридии), расположенные в головном конце тела и открывающиеся у основания длинных усиков – антенн (антеннальные железы). У некоторых ракообразных присутствует вторая пара выделительных желез, открывающихся в основании челюстей (максилярные железы). Продукт обмена – <strong>аммиак.</strong>
    </p>
    <p>
        <strong>Кровеносная система.</strong> Незамкнутая. Сердце и отходящие от него сосуды расположены <strong>на спинной стороне</strong> головогруди, над кишечником. Сердце ТРУБЧАТОЕ, пятиугольной формы, окружено околосердечной сумкой и имеет входные отверстия (остии). Из сосудов гемолимфа поступает в полость тела и там постепенно отдает кислород. В жабрах она насыщается кислородом и по жаберно-сердечным каналам попадает в околосердечную сумку. <em>Кровь голубого цвета,</em> содержит пигмент гемоцианин.
    </p>
    <p>
        <strong>Дыхательная система. Жабры</strong> – тонкие листовидные выросты первых члеников ходильных ног (заполнены гемолимфой), расположенные в особой жаберной полости (между туловищем и боковой стенкой панциря), которая сообщается с внешней средой через щели в карапаксе.
    </p>
    <p>
        <strong>Нервная система. Узловая/лестничная/ганглионарная.</strong> Головной ганглий, подглоточный ганглий, окологлоточное кольцо и брюшная нервная цепочка.
    </p>
    <p>
        <strong>Органы чувств.</strong> Сложные <strong>фасеточные глаза,</strong> расположенные на стебельках, состоящие из множества (до 3000) мелких глазков. Имеются органы осязания, обоняния и химического чувства (антеннулы и антенны), равновесия (статоцисты). <em>Статоциста</em> – пузырек под покровом, в котором на отростках чувствительных клеток лежит статолит (известковый камешек). Статоцисты расположены на основном членике вторых усиков (антенн).
    </p>
    <p>
        <strong>Половая система.</strong> Раздельнополые, выражен половой диморфизм. У самки половая система парная (яичники, яйцеводы), у самца – непарная (семенник, семяпровод, семяизвергательный канал). Размножение половое. Развитие прямое. Яйца откладываются зимой, молодь из яиц выходит в начале лета. Характерна забота о потомстве: яйца и некоторое время молодь, вылупившаяся из яиц, вынашиваются самкой на брюшке с помощью плавательных ножек.
    </p>
    <p class="text-center">
        <strong>Класс Паукообразные</strong>
    </p>
    <p>
        <strong>Количество:</strong> около 75 тыс. видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> суша, почва; некоторые клещи и пауки – вторичноводные организмы.
    </p>
    <p>
        <strong>Образ жизни:</strong> большинство видов – свободноживущие; имеются паразиты (собачий клещ, таежный клещ, чесоточный зудень).
    </p>
    <p>
        <strong>Внешнее строение.</strong> Размеры тела: от 0,1 мм (чесоточный клещ) до 30 см (паук-птицеяд). Тело разделено на два отдела: <em>головогрудь и брюшко.</em> Головогрудь не расчленена, несет 6 пар членистых конечностей.
    </p>
    <p>
        Первая пара <em>– хелицеры</em> (челюсти), служат для захвата и умерщвления жертвы (на концах хелицер есть коготки, на вершинах которых открываются протоки ядовитых желез). Вторая пара – <em>педипальпы</em> (ногощупальца), конечности, с помощью которых паукообразные захватывают и удерживают пищу. У пауков они также выполняют роль органов осязания и вкуса, а у скорпионов педипальпы превращены в мощные длинные клешни. Остальные 4 пары конечностей – <em>ходильные ноги,</em> они длинные, тонкие, членистые, с коготками. Брюшко – слитное (пауки) или сегментированное (скорпионы и сенокосцы). Оно никогда не несет настоящих конечностей. Отделы тела соединены тонким стебельком – редуцированным седьмым сегментом головогруди (пауки) или переходят друг в друга непосредственно (сенокосцы). У клещей тело не разделено на отделы. На брюшке расположены дыхательные, половое и анальное отверстия. Видоизмененные конечности брюшка превращены в легочные мешки. Придатки брюшка пауков – паутинные бородавки, в которые открываются протоки паутинных желез (до 1000), выделяющих клейкое белковое вещество, застывающее на воздухе и образующее несколько видов паутины. В плетении паутины участвуют гребенчатые коготки четвертой пары ходильных ног. <u>Функции паутины:</u> плетение ловчей сети, образование гнезда и кокона для откладывания яиц, расселение молодых паучков. У скорпионов последний сегмент брюшка содержит ядовитые железы и изогнутый ядовитый шип.
    </p>
    <p>
        <strong>Покровы тела.</strong> Тонкая хитинизированная кутикула, непроницаема для воды (есть дополнительный липопротеиновый слой). Под кутикулой расположены гиподерма и поперечнополосатые мышцы. Кутикула выполняет защитную функцию и является наружным скелетом.
    </p>
    <p>
        <strong>Пищеварительная система.</strong> 3 отдела: передний, средний и задний. <em>Отделы пищеварительной трубки:</em> ротовая полость – глотка – пищевод –желудок – средняя кишка – задняя кишка – анальное отверстие.
    </p>
    <p>
        Скорпионы, сенокосцы и пауки являются хищниками, паутинные, мучные и зерновые клещи – растительноядные, почвенные клещи – детритофаги. Для захвата жертвы пауки используют ловчую сеть. Когда добыча попадает в сеть, сигнальная нить колеблется, паук опутывает жертву липкой паутиной, вонзает хелицеры и парализует ее ядом. Вводимый в тело жертвы секрет содержит пищеварительные ферменты слюнных желез, которые разжижают и частично переваривают жертву <em>(внекишечное пищеварение).</em> Через некоторое время паук высасывает полужидкую «пищу» и окончательно переваривает ее. В головогрудном отделе средняя кишка имеет 5 пар боковых слепых выростов для увеличения объема поглощаемой пищи и всасывающей поверхности кишечника. В брюшной отдел средней кишки открываются протоки массивной парной пищеварительной железы – печени, клетки которой выделяют пищеварительные ферменты <em>(полостное пищеварение)</em> и способны к фагоцитозу <em>(внутриклеточное пищеварение).</em> Непереваренные остатки через заднюю кишку и анальное отверстие выводятся наружу.
    </p>
    <p class="text-center">
        <img src="~/Images/thema22/паук.png" />
    </p>
    <p>
        <strong>Выделительная система. Мальпигиевы сосуды</strong> сосуды (слепые выросты кишечника в полость тела, расположенные на границе средней и задней кишки) <strong>и коксальные железы</strong> (видоизмененные целомодукты, открывающиеся во внешнюю среду у основания ходильных конечностей). Основной продукт обмена – кристаллы <strong>гуанина.</strong>
    </p>
    <p>
        <strong>Кровеносная система.</strong> Незамкнутая. Трубкообразное сердце расположено на спинной стороне брюшка в околосердечной сумке. Кровь (гемолимфа) <em>голубого цвета</em> (содержит гемоцианин). Из сердца гемолимфа по головной аорте попадает в полость тела и контактирует с органами дыхания. Обогащенная кислородом гемолимфа собирается в сосуды и возвращается в сердце.
    </p>
    <p>
        <strong>Дыхательная система. Легочные мешки,</strong> расположенных в передней части брюшка, <strong>и два пучка трахей</strong> в задней его части. Трахеи – ветвящиеся хитиновые трубочки, пронизывающие органы; открываются <strong>стигмами</strong> (дыхательными отверстиями).
    </p>
    <p>
        <strong>Нервная система. Узловая/лестничная/ганглионарная.</strong>  Надглоточный узел образует «головной мозг», состоящий из двух отделов, а брюшная нервная цепочка превращается в один сложный головогрудный ганглий.
    </p>
    <p>
        <strong>Органы чувств. 2 - 12 простых глаз,</strong> органы химического чувства и сложно устроенные органы обоняния. Особенно хорошо развиты осязательные волоски, расположенные по всей поверхности тела и сконцентрированные на педипальпах. Глаза не дают четкого изображения, но хорошо реагируют на движущиеся предметы.
    </p>
    <p>
        <strong>Половая система.</strong> Раздельнополые. Половой диморфизм проявляется в более крупных размерах самки. Половые железы парные, размножение половое. Самка паука откладывает яйца в кокон из паутины. Яйца зимуют в коконе под камнями, корягами, а весной из них выходят молодые паучки (развитие прямое). У скорпионов наблюдается живорождение. Клещи развиваются с неполным метаморфозом.
    </p>
    <p class="text-center">
        <strong>Класс Насекомые</strong>
    </p>
    <p>
        <strong>Количество:</strong> около 1 млн видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> почва, воздух, пресные и иногда морские водоемы, суша, организм человека, животных и растений.
    </p>
    <p>
        <strong>Образ жизни:</strong> свободноживущие организмы, многие являются паразитами.
    </p>
    <p>
        <strong>Внешнее строение.</strong> Размеры тела: от 1–2 мм до 30 см. 3 отдела: <em>голова, грудь и брюшко.</em> На голове расположены пара усиков, глаза и ротовой аппарат, образованный тремя парами видоизмененных конечностей и верхней губой (хитиновой пластинкой). Грудной отдел состоит из трех сегментов, каждый несет по паре ходильных конечностей (шестиногие), выполняющих различные функции (бегательные, прыгательные, плавательные, роющие и т. д.). Конечности состоят из 5 отделов: тазик, вертлуг, бедро, голень, лапка. На втором и третьем сегментах груди расположены одна или две пары крыльев – тонких кутикулярных пластинок, содержащих жилки, в которых проходят трахеи и нервы. У жуков передние крылья хитинизированны (надкрылья), а задние – тонкие прозрачные. У двукрылых только одна пара крыльев (вторая преобразована в жужжальца), у некоторых паразитов (блохи, вши) крылья отсутствуют.
    </p>
    <p>
        Брюшко содержит от 6 до 11 сегментов, остатки сегментации имеют вид насечек (эта особенность определяет название класса), конечностей на брюшке нет. На заднем конце брюшка могут быть придатки в виде яйцеклада или жала.
    </p>
    <p>
        <strong>Покровы тела.</strong> Трехслойная хитинизированная кутикула и гиподерма. Кутикула содержит уплотненные пластинки – <strong>склериты,</strong> чередующиеся с тонкими перепончатыми участками. Хитин малорастяжим, поэтому рост сопровождается линькой (обновление кутикулы в период роста личинок).
    </p>
    <p>
        <strong>Пищеварительная система.</strong> 3 отдела: передний, средний, задний. <em>Отделы пищеварительной трубки:</em> ротовая полость – глотка – пищевод + зоб – желудок – средняя кишка – задняя кишка – анальное отверстие.
    </p>
    <p>
        Ротовой аппарат образован хитиновой пластинкой и тремя парами конечностей головного отдела. Тип ротового аппарата определяется характером и способом потребления пищи: грызущий (жуки); лижущий (мухи); сосущий (бабочки); колюще-сосущий (вши, комары, блохи); грызуще-сосущий, или лакающий (пчелы). В ротовую полость открываются протоки слюнных желез, выделяющих пищеварительные ферменты. У пчел секрет этих желез – маточное молочко при соединении с нектаром образует мед. У гусениц и бабочек этот секрет вырабатывает шелковину, из которой формируется кокон. У кровососущих видов слюнные железы выделяют вещества, разжижающие кровь, препятствующие ее свертыванию и обезболивающие укус. Ротовая полость продолжается в глотку, далее следуют пищевод, который может иметь расширение (зоб), мышечный желудок, средняя и задняя кишка с анальным отверстием.
    </p>
    <p>
        Печень отсутствует, пищеварительные ферменты выделяются стенкой средней кишки и ее слепыми пилорическими выростами. В тонком кишечнике растительноядных насекомых живут бактерии и протисты, обеспечивающие переваривание клетчатки. В толстом кишечнике есть ректальные (анальные) железы, всасывающие из кишечника обратно в гемолимфу воду, что способствует ее сохранению в организме.
    </p>
    <p>
        <strong>Выделительная система. Мальпигиевы сосуды</strong> – слепо замкнутые выростами кишечника в полость тела (от 2 до 200), расположенные на границе его среднего и заднего отделов. Функцию выделения выполняет <strong>и жировое тело (почка накопления),</strong> одновременно это и депо запасных питательных веществ. Конечные продукты диссимиляции также откладываются в покровах тела. Основной продукт обмена <strong> – мочевая кислота.</strong>
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <strong>Кровеносная система.</strong> Незамкнутая. <em>Кровь (гемолимфа) бесцветна.</em> На спинной стороне брюшка имеется трубчатое сердце. Единственный сосуд – короткая аорта – идет от сердца в головной конец тела. Гемолимфа обеспечивает доставку питательных веществ и выведение продуктов обмена, выполняет защитную функцию; ее участие в газообмене незначительно.
                </p>
            </div>
            <div class="col justify-content-center">
                <img src="~/Images/thema22/насекомое.png" />
            </div>
        </div>
    </div>
    <p>
        <strong>Дыхательная система. Трахеи</strong> – ветвящиеся хитиновые трубочки, доставляющие кислород ко всем органам и тканям. Начинаются трахеи отверстиями – дыхальцами, расположенными по бокам брюшка и груди. Чаще всего их 12 пар: 3 на груди и 9 на брюшке. Поступление воздуха в трахейную систему происходит за счет движений брюшка. В некоторых участках крупные трахейные стволы расширяются, образуя <strong>трахейные мешки,</strong>  которые у хорошо летающих видов (мухи, осы) занимают большую часть полости тела, уменьшая массу тела и активизируя дыхание. Самые тонкие ответвления трахей – <strong>трахеолы</strong> разветвляются между клетками и обеспечивают поступление в них кислорода. У водных личинок насекомых (поденок) есть <strong>трахейные жабры,</strong> обеспечивающие проникновение воздуха из воды в трахеи. Мелкие насекомые дышат всей поверхностью тела.
    </p>
    <p>
        <strong>Нервная система. Узловая/лестничная/ганглионарная.</strong> «Головной мозг» имеет три отдела: передний, средний и задний. Задний отдел иннервирует ротовой аппарат, средний – усики, передний – глаза. <em>Грибовидные тела</em> (выросты переднего отдела) координируют деятельность всей нервной системы и определяют инстинктивное поведение насекомых. В брюшной нервной цепочке есть 3 крупных грудных ганглия, от которых отходят нервы к конечностям и крыльям.
    </p>
    <p>
        <strong>Органы чувств.</strong> Усики - органы обоняния и осязания. Вкусовые рецепторы расположены на лапках (у бабочек) или на ротовых конечностях (у мух). Органы зрения – <em>фасеточные глаза</em> у свободноживущих насекомых или простые – у паразитов. Личинки комаров, мухи, жуки воспринимают звуковые колебания с помощью связки, напоминающей струну, натянутую под покровами животного и связанную с чувствительными клетками. У кузнечиков, сверчков, цикад и термитов восприятие звука осуществляется тонкой кутикулярной мембраной, под которой лежит резонирующий трахейный пузырь. Органы слуха расположены на голенях передних ходильных ног. Поведение насекомых отличается сложностью и разнообразием, оно основано на безусловно рефлекторных реакциях, обеспечивающих жизненно важные формы деятельности.
    </p>
    <p>
        <strong>Половая система.</strong> Раздельнополые, выражен половой диморфизм, проявляющийся различиями самца и самки в размере, форме и окраске тела, наличии и развитии крыльев. Самка (парная половая система): 2 яичника, 2 яйцевода, семяприемник. Самец (половая система парная): 2 семенника, семяпроводы, семяизвергательный канал, копулятивный орган. Осеменение внутреннее. Размножение половое, есть живорождение (тля) и партеногенез (пчелы, осы, муравьи). Характерна забота о потомстве. Развитие непрямое, с полным или неполным метаморфозом, но у отдельных представителей встречается прямое развитие (чешуйницы).
    </p>
    <p>
        <strong>Варианты метаморфоза.</strong> <em><u>Полный метаморфоз:</u> яйцо – личинка – куколка – имаго (взрослая особь).</em> Куколка – неподвижная, непитающаяся стадия, внутри которой происходит замена личиночных органов органами имаго. Полный метаморфоз дает эволюционные преимущества, так как личинки и взрослые особи имеют разные среды обитания, источники пищи и не конкурируют друг с другом.
    </p>
    <p>
        <em><u>Неполный метаморфоз:</u> яйцо – личинка – имаго.</em> Личинки чаще всего живут в той же среде обитания (расселения не происходит), конкурируют с имаго за пищу.
    </p>
</div>
<div class="container">
    <p class="text-center">
        <strong>Значение и многообразие насекомых.</strong>
    </p>
    <p>
        <ol type="1">
            <li>Насекомые – компоненты биогеоценозов. Являются важным звеном природных пищевых сетей. Ими питаются рыбы, земноводные, пресмыкающиеся, птицы и некоторые млекопитающие (ежи, землеройки, кроты).</li>
            <li>Являются опылителями цветков растений.</li>
            <li>Насекомые-почвообразователи (почвенные личинки, термиты, муравьи) питаются отмершими частями растений, роют норки в почве, разрыхляя землю, и ускоряют образование перегноя. «Санитарами» земли являются навозники, мертвоеды и могильщики, потребляющие экскременты и остатки погибших позвоночных животных.</li>
            <li>Хищные и паразитические насекомые регулируют численность насекомых-вредителей. Наездники (рисса, афелинус, трихограмма, талесса, белянковый мелкобрюх) и яйцееды – особая группа паразитических насекомых, представители которой откладывают яйца в личинок и куколок вредных насекомых. </li>
            <li>Насекомые – вредители полей, садов и лесов (азиатская перелетная саранча, хлебные клопы-черепашки, бабочки, колорадский жук, жуки-щелкуны, тля, <em>яблонный цветоед (отряд Жесткокрылые), яблонная моль (отряд Чешуекрылые), яблонная плодожорка (отряд Чешуекрылые)).</em></li>
        </ol>
    </p>
</div>
<div class="container">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Название отряда</td>
                <td>Тип метаморфоза</td>
                <td>Строение крыльев</td>
                <td>Вид ротового аппарата</td>
                <td>Представители</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Прямокрылые</td>
                <td>Неполный</td>
                <td>2 пары: передние –кожистые надкрылья, задние – мягкие веерообразные  крылья с продольными жилками</td>
                <td>Грызущий</td>
                <td>Саранча, кузнечики, сверчки, медведки</td>
            </tr>
            <tr>
                <td>Равнокрылые</td>
                <td>Неполный</td>
                <td>2 пары одинаковых перепончатых крыльев с редкой сетью жилок; есть бескрылые</td>
                <td>Kолюще-сосущий</td>
                <td>Поющая цикада, цикады-пенницы, тля, белокрылки.</td>
            </tr>
            <tr>
                <td>Полужесткокрылые (клопы)</td>
                <td>Неполный</td>
                <td>2 пары: передние крылья наполовину жесткие, на вершинах – перепончатые, задние крылья – перепончатые</td>
                <td>Kолюще-сосущий</td>
                <td>Лесной, ягодный клопы, хлебный клоп-черепашка, водяной клоп, постельный, поцелуйный клопы.</td>
            </tr>
            <tr>
                <td>Тараканы</td>
                <td>Неполный</td>
                <td>2 пары: передние – кожистые надкрылья, задние – перепончатые крылья</td>
                <td>Грызущий</td>
                <td>Рыжий, черный, американский тараканы</td>
            </tr>
            <tr>
                <td>Вши</td>
                <td>Неполный</td>
                <td>Отсутствуют</td>
                <td>Kолюще-сосущий</td>
                <td>Головная, платяная, лобковая вши</td>
            </tr>
            <tr>
                <td>Стрекозы</td>
                <td>Неполный</td>
                <td>2 пары одинаковых перепончатых крыльев с густой сетью жилок</td>
                <td>Грызущий</td>
                <td>Kоромысло, красотка, голубая и синяя стрелки</td>
            </tr>
            <tr>
                <td>Жесткокрылые (Жуки)</td>
                <td>Полный</td>
                <td>2 пары: передние – жесткие надкрылья, задние – перепончатые крылья (почти вдвое длиннее передних)</td>
                <td>Грызущий</td>
                <td>Щелкуны, дровосеки, божья коровка, плавунцы, могильщики, навозники</td>
            </tr>
            <tr>
                <td>Чешуекрылые (Бабочки)</td>
                <td>Полный</td>
                <td>2 пары больших одинаковых крыльев, покрытых разноцветными хитиновыми чешуйками (сплющенные волоски покровов, преломляющие свет)</td>
                <td>Сосущий</td>
                <td>Капустная белянка, переливница, перламутровка, голубянка, тутовый шелкопряд, комнатная моль</td>
            </tr>
            <tr>
                <td>Блохи</td>
                <td>Полный</td>
                <td>Отсутствуют</td>
                <td>Kолюще-сосущий</td>
                <td>Человеческая, собачья, крысиная, песчаная блохи</td>
            </tr>
            <tr>
                <td>Перепончатокрылые</td>
                <td>Полный</td>
                <td>2 пары прозрачных крыльев, с редкими продольными и поперечными жилками (задние крылья меньше передних)</td>
                <td>Грызущий, грызуще-лижущий (лакающий)</td>
                <td>Осы, шершни, муравьи (грызущий); пчелы, шмели, наездники, пилильщики (лакающий)</td>
            </tr>
            <tr>
                <td>Двукрылые</td>
                <td>Полный</td>
                <td>1 пара – передние крылья – перепончатые, сужены у основания; задние крылья редуцированы и превращены в жужжальца</td>
                <td>Лижущий, сосущий, колюще-сосущий</td>
                <td>Мухи, комары, москиты, мошки, слепни, оводы</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <p class="text-center">
        <strong>Практическое значение насекомых.</strong>
    </p>
    <p>
        <strong>Тутовый шелкопряд (отряд Чешуекрылые)</strong> используется для получения натурального шелка. Родина одомашненного тутового шелкопряда – Гималаи, откуда 5000 лет назад он был завезен в Китай, а затем распространился по всему миру. В дикой природе шелкопряд не встречается. Селекционерами выведено более 50 пород тутового шелкопряда. Бабочки шелкопряда имеют толстое волосистое тело, несмотря на наличие крыльев, не способны к полету и не питаются. После спаривания самки откладывают от 300 до 600 яиц – <strong>грену.</strong> Из яиц выходят гусеницы – «шелковичные черви» с 3 парами грудных и 4 парами ложных брюшных ножек. Выкармливают гусениц листьями тутового дерева (шелковицы) на специальных стеллажах с полками из ткани. Гусеницы развиваются 40—80 суток. При окукливании из видоизмененных слюнных желез гусеница выделяет шелковину и завивает вокруг себя кокон. На воздухе выделения желез быстро затвердевают, образуя прочную нить длиной до 1000 м.
    </p>
    <p>
        <strong>Медоносная пчела (отряд Перепончатокрылые).</strong> В семье медоносной пчелы имеется 1 крупная самка (матка), около 300 самцов (трутней) и десятки тысяч бесплодных рабочих пчел, т. е. характерен полиморфизм – разнообразие особей одного вида по внешнему строению и выполняемым функциям. Матка – самая крупная пчела в семье, способная откладывать яйца. Трутни – средних размеров; рабочие пчелы мельче остальных членов семьи, у них крупная покрытая волосками голова с двумя сложными фасеточными глазами и тремя простыми глазками между ними. Ротовой аппарат грызуще-лижущий. Нектар попадает в зоб, смешивается с секретом слюнных желез (маточным молочком) и превращается в мед. На задней паре конечностей расположен собирательный аппарат пчел: <strong>корзиночка и щеточка,</strong> с помощью которых пчела формирует <strong>обножку</strong> – комочек пыльцы в корзиночке. <strong>Перга</strong> – это пропитанная медом пыльца, помещенная в соты (запас белковой пищи). На брюшке у рабочих пчел находятся воскоотделительные железы, которые используются для строительства сот. На последних члениках брюшка рабочей пчелы расположено <strong>жало – видоизмененный яйцеклад.</strong> В улье зимуют оплодотворенная матка и рабочие пчелы. Весной матка откладывает яйца двух типов: неоплодотворенные (из них развиваются трутни) и оплодотворенные (из них развиваются рабочие пчелы и матки). Из яиц выходят белые червеобразные личинки, которых первые три дня рабочие пчелы выкармливают маточным молочком. Часть личинок кормят молочком до окукливания, из них развиваются молодые матки (царицы). Остальных личинок с четвертого дня выкармливают пергой, из них развиваются рабочие пчелы и трутни. С выходом молодой матки начинается роение. Старая матка с частью рабочих пчел вылетает из улья и основывает новую семью. Молодая матка, оставшаяся в улье, уничтожает личинок старой матки и через несколько суток вместе с трутнями вылетает из улья для брачного полета. Оплодотворенная матка возвращается в улей. Трутни изгоняются из улья и погибают. Матка живет 4–5 лет. Разведение пчел способствует повышению урожайности опыляемых насекомыми растений. Пчелы – источник пищевых и лекарственных веществ: меда, воска, прополиса (пчелиного клея). Мед – ценный продукт питания, обладающий лечебными свойствами. Пчелиный воск используется в технических целях, в лабораторной практике. Маточное молочко, пчелиный яд и <strong>пчелиный клей (прополис)</strong> – сырье для изготовления лекарственных препаратов.
    </p>
    <p>
        <strong>Вши</strong> паразитируют на человеке и вызывают педикулез («болезнь бродяг»). Питаясь кровью, они вводят в ранку слюну, которая вызывает у человека жжение и зуд; у наиболее чувствительных людей повышается температура тела. Педикулез характеризуется пигментацией и огрубением кожи. Тяжелым осложнением педикулеза является колтун – поражение волосистой части головы. Наиболее важное значение имеют вши как переносчики возбудителей сыпного тифа.
    </p>
    <p>
        <strong>Блохи.</strong> Секрет слюнных желез блох при укусах вызывает у человека зуд и воспаление кожных покровов. Кроме того, блохи являются переносчиками возбудителей чумы. Слюна постельного клопа ядовита, поэтому укусы его болезненны. Нападая на человека ночью для кровососания, клопы нарушают его сон. Передача постельным клопом человеку возбудителей каких-либо заболеваний не установлена.
    </p>
    <p>
        <strong>Комары</strong> –временные эктопаразиты человека и животных и переносчики возбудителей различных болезней. Укусы их болезненны и могут вызывать образование волдырей при расчесах. Комары являются переносчиками возбудителей малярии, японского энцефалита, сибирской язвы и других инфекционных и паразитарных заболеваний.
    </p>
    <p>
        Тараканы механически переносят возбудителей различных заболеваний (брюшного тифа, дизентерии, дифтерии, туберкулеза), а также яйца гельминтов и цисты протистов и др.).
    </p>
    <p>
        <strong>Мухи</strong> – механические переносчики возбудителей кишечных инфекций. На покровах тела, на лапках, на частях ротового аппарата они переносят возбудителей холеры, дизентерии, брюшного тифа, туберкулеза, дифтерии, сибирской язвы, яйца гельминтов и цисты протистов. На теле мухи находится до 6 млн бактерий, а в кишечнике – до 28 млн. Личинки оводов и вольфартовой мухи проникают в кожу, где в течение суток проделывают ходы длиной до 3–5 см. Это заболевание называется миазом. От миазов особенно страдают дети. При интенсивном заражении воз можно полное уничтожение мягких тканей глазницы и головы. Иногда заболевание заканчивается смертью.
    </p>
</div>