<h3 class="text-center">
    <em>
        <u>
            Вегетативные органы растений: корень. Виды корней. Корневая система. Видоизменения корней. Зоны корня. Поперечный срез корня. Основные виды удобрений.
        </u>
    </em>
</h3>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Корень</strong> – осевой подземный вегетативный орган высших растений, обладающий радиальной симметрией, неограниченным верхушечным ростом, положительным геотропизмом, никогда не несущий листьев.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Функции корня:</strong>
    <ol>
        <li><strong>Механическая</strong> - укрепление растения в почве;</li>
        <li><strong>Поглощающая/всасывательная</strong> - поглощение из почвы воды и минеральных солей;</li>
        <li><strong>Проводящая</strong> - проведение в стебель воды и минеральных солей;</li>
        <li><strong>Синтезирующая</strong> - синтез гормонов роста, витаминов, некоторых аминокислот;</li>
        <li><strong>Выделительная</strong> - синтез и выделение в почву угольной и яблочной кислот;</li>
        <li><strong>Запасающая</strong> - депо запасных питательных веществ (корнеплоды, корнеклубни);</li>
        <li><strong>Симбиотическая</strong> - симбиоз с грибами (микориза) и клубеньковыми бактериями;</li>
        <li><strong>Дыхательная</strong> - поступление и проведение кислорода;</li>
        <li>Орган вегетативного размножения.</li>
    </ol>
</p>
<p>
    <div class="text-center">
        <strong><u>Внешнее строение корней.</u></strong>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <img src="~/Images/thema9/виды корней, типы корневых систем.png" alt="виды корней, типы корневых систем" title="виды корней, типы корневых систем" />
            </div>
        </div>
    </div>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Размеры</strong> корней колеблются от нескольких мм до десятков м. <strong>Форма</strong> корней: шаровидный (свекла, турнепс), конический/конусовидный (одуванчик, морковь, петрушка, щавель), цилиндрический (хрен), нитевидный (лук, рожь, пшеница, подорожник).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Виды корней:</strong>
    <ol>
        <li><strong>Стержневая</strong></li> – хорошо выражен главный корень, от которого отходят более мелкие боковые корни (характерна для большинства голосеменных и двудольных растений: морковь, подсолнечник, клевер; исключение – подорожник).
        <li><strong>Мочковатая</strong> – главный корень не выражен: не развит совсем или развивается слабо (по размерам и внешнему виду не отличается от придаточных корней), хорошо развиты боковые и придаточные корни (характерна для однодольных растений: злаковые, лук, чеснок, исключение – вороний глаз).</li>
        <li><strong>Смешанная</strong> – хорошо развит как главный, так и боковые и придаточные корни (характерна для однолетних двудольных травянистых растений (фасоль, горох).</li>
    </ol>
</p>
<div class="text-center">
    <strong>
        Видоизменения корней
    </strong>
</div>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Строение и функции</th>
                    <th scope="col">Примеры растений</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3"><strong>Надземные видоизменения корней</strong></td>
                </tr>
                <tr>
                    <td>Дыхательные корни.</td>
                    <td>Растут вертикально вверх до поверхности почвы или воды, доставляют воздух с поверхности земли вглубь корневой системы, богаты аэренхимой. Образуются из боковых корней.</td>
                    <td>Ива, авиценна.</td>
                </tr>
                <tr>
                    <td>Воздушные корни.</td>
                    <td>Не стремятся к субстрату, получают воду из воздуха. Эти корни часто зеленые (способны к фотосинтезу).</td>
                    <td>Орхидея, брамелия.</td>
                </tr>
                <tr>
                    <td>Цепляющиеся корни (корни-прицепки).</td>
                    <td>Придаточные корни, прикрепляющиеся к отвесной опоре, удерживают стебли лазающих растений на субстрате.</td>
                    <td>Плющ, лианы.</td>
                </tr>
                <tr>
                    <td>Ходульные корни.</td>
                    <td>Придаточные корни, которые приподнимают ствол над водой (защита от загнивания) и дают дополнительную опору (укрепляет растение в почве, чтобы обеспечить сопротивляемость растений во время приливов).</td>
                    <td>Кукуруза, ризофора, монстера, баньян, мангровые заросли (низкоствольные вечнозеленые леса затопляемых побережий).</td>
                </tr>
                <tr>
                    <td>Корни - подпорки.</td>
                    <td>Боковые корни, образуют плоские выросты, прилегающие к стволу (укрепляют ствол).</td>
                    <td>Крупные деревья тропических лесов, тополь, вяз, бук, канариум.</td>
                </tr>
                <tr>
                    <td>Водные корни.</td>
                    <td>Не укореняются в почву на дне водоема.</td>
                    <td>Ряска.</td>
                </tr>
                <tr>
                    <td>Корни-присоски (гаустории).</td>
                    <td>Внедряются в тело растения-хозяина, проводящая система обоих растений объединяется, поглощают питательные вещества организма-хозяина (характерна для растений-паразитов).</td>
                    <td>Повилика, омела, заразиха.</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Подземные видоизменения корней</strong></td>
                </tr>
                <tr>
                    <td>Захватывающие корни (корнеотпрыскные).</td>
                    <td>Образуют придаточные почки на корнях и захватывают новые территории.</td>
                    <td>Дикая слива, вишня, малина, осот, бодяк.</td>
                </tr>
                <tr>
                    <td>Втягивающие корни.</td>
                    <td>Втягивают нижнюю часть стебля с почками, клубни, луковицы глубоко в почву для предохранения зимой.</td>
                    <td>Гладиолусы, тюльпан, клевер, нарцисс, крокус, лилия, лук, чеснок.</td>
                </tr>
                <tr>
                    <td>Корнеплоды.</td>
                    <td>Толстый мясистый главный корень, в котором запасаются питательные вещества (характерны для двудольных двулетних растений).</td>
                    <td>Морковь, свекла, репа, брюква, редис, редька, пастернак, петрушка.</td>
                </tr>
                <tr>
                    <td>Корневые клубни (корнеклубни, корневые шишки).</td>
                    <td>Утолщенные боковые или придаточные корни многолетних травянистых растений, в которых запасаются питательные вещества.</td>
                    <td>Батат, георгины, любка, чистяк, ятрышник, аспарагус, ночная фиалка.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <strong>Продольный срез корня (зоны корня).</strong>
</div>
<p>
    <div class="text-center">
        <strong><u>Внешнее строение корней.</u></strong>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <img src="~/Images/thema9/продольный срез корня.png" alt="продольный срез корня" title="продольный срез корня" />
            </div>
        </div>
    </div>
    <ol>
        <li><strong>Зона деления (конус нарастания)</strong> – покрыта ризодермой. Длина: около 1 мм. В зоне деления располагаются мелкие клетки верхушечной меристемы, клетки которой имеют крупное ядро, вакуолей и пластид нет. Клетки активно делятся, дают начало всем другим тканям корня. Зона деления прикрыта снаружи корневым чехликом. Функции клеток корневого чехлика: выделяют слизь, облегчают продвижение корня в почве, определяют направление роста корня (положительный геотропизм), защищает корень от высыхания и проникновения бактерий. Продолжительность жизни клеток корневого чехлика – 4-9 дней.</li>
        <li><strong>Зона роста и дифференцировки (зона растяжения)</strong> – покрыта ризодермой. Длина: несколько мм. В зоне растяжения клетки растут, увеличиваются в размере, обеспечивая рост корня в длину (контролирует фитогормон ауксин), клетки постепенно дифференцируются в клетки других тканей: покровной, проводящей, основной.</li>
        <li><strong>Зона всасывания</strong> – покрыта ризодермой. Длина: 2-3 см. Клетки ризодермы в зоне всасывания образуют корневые волоски (содержат ядро, множество вакуолей с клеточным соком и митохондрии). Число корневых волосков на 1 мм – 200-400 шт. Срок жизни – 10-20 дней, после чего заменяются другими. В зоне всасывания происходит поглощение воды и минеральных солей.</li>
        <li><strong>Зона проведения</strong> – покрыта перидермой. Самая длинная зона корня древесных растений. Внутренняя часть содержит проводящие ткани: ксилему и флоэму. В зоне проведения осуществляется передвижение воды, минеральных и органических веществ и образование боковых корней за счет деления клеток перицикла.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Поперечный срез корня (зона всасывания).</strong>
    <ol>
        <li>
            <strong><u>Ризодерма (эпиблема).</u></strong> Ризодерма образует выросты – корневые волоски. <strong>Функции:</strong> защитная; всасывание почвенных растворов.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Большинство клеток непроницаемы для воды, т.к. пропитаны с трех сторон суберином, отдельные клетки имеют только утолщения на радиальных стенках – <strong>пояски Каспари</strong> и соответственно способны пропускать воду.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;Вода поглощается пассивно (путем диффузии – по градиенту концентрации), минеральные соли – активно (путем активного транспорта – против градиента концентрации). Концентрация веществ в клеточном соке выше, чем в почве, поэтому вода стремится проникнуть внутрь клетки корневого волоска и разбавить более концентрированный раствор клеточного сока вакуоли – возникает <strong>осмотическое давление.</strong>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;Вода, проникшая в цитоплазму клетки, увеличивает ее объем, оболочка клетки растягивается и давит на ее протопласт – возникает <strong>тургорное давление.</strong>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;Наиболее активно всасывание происходит в зоне корневых волосков и обусловлено <strong>сосущей силой</strong> – разностью между осмотическим и тургорным давлением.
        </li>
        <li>
            <strong><u>Первичная кора.</u></strong> Первичная кора состоит из трех слоев: <strong>экзодерма</strong> (наружный слой), <strong>всасывающая паренхима/мезодерма</strong> (средний слой) и <strong>эндодерма</strong> (внутренний слой). Эндодерма – 1 ряд клеток двух видов: <strong>пропускные клетки</strong> – живые, тонкостенные клетки через которые вода проходит из корневых волосков в центральный цилиндр и сосуды ксилемы, расположенные в нем и <strong>непропускные клетки</strong> – мертвые клетки, пропитанные суберином. <strong><em>Функции:</em></strong> транспорт почвенных растворов от ризодермы к центральному цилиндру и обратно; участие в создании корневого давления.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;Поскольку площадь поверхности пропускных клеток намного меньше площади поверхности кожицы корня, на входе в центральный цилиндр создается значительное давление, что позволяет воде не только проникать в сосуды ксилемы, но и подниматься по зоне проведения к основанию корня и далее в стебель на значительную высоту. Это давление, равное сумме сосущих сил корневых волосков, <strong>- корневое давление.</strong>
        </li>
        <li>
            <strong><u>Перицикл.</u></strong> Слой боковой образовательной ткани, примыкающий к эндодерме. <strong><em>Функции:</em></strong> образует боковые корни (в зоне проведения); обеспечивает рост корня в толщину.
        </li>
        <li>
            <strong><u>Центральный/осевой цилиндр (стела).</u></strong> Центральный цилиндр состоит из трех слоев: <strong>флоэма, камбий, ксилема. <em>Функции:</em></strong> транспорт почвенный растворов (ксилема); транспорт органических веществ (флоэма); запас питательных веществ (паренхима, входящая в состав ксилемы и флоэмы); гибкость, прочность корня (волокна).
        </li>
    </ol>
    <div class="container">
        <div class="row justify-content-center">
            <img src="~/Images/thema9/поперечный срез корня.png" alt="поперечный срез корня" title="поперечный срез корня" />
            <cite>Поперечный срез корня однодольного(А) и двудольного(Б) растений: 1 – центральный цилиндр; 2 – остатки эпиблемы; 3 –экзодерма; 4 – мезодерма; 5 – эндодерма; 6 – перицикл; 7 – флоэма; 8 – сосуды ксилемы; 9 – пропускные клетки эндодермы; 10 – корневой волосок</cite>
        </div>
    </div>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Для полноценного развития растения должны получать из почвы минеральные вещества (макро- и микроэлементы: основные (азот, калий, фосфор) и дополнительные (сера, магний, кальций, железо)), вносимые человеком в виде <strong>удобрений.</strong>
</p>
<p>
    <div class="container">
        <div class="row justify-content-center">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Удобрения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Полные (содержат азот, калий и фосфор)</td>
                        <td>Неполные (не содержат какой-то из 3 элементов).</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ol>
        <li><strong><u>Азотные удобрения</u></strong> мочевина, сульфат аммония, селитры) – усиливают рост стеблей, листьев; вносят перед посевом и в начале лета.</li>
        <li><strong><u>Калийные удобрения</u></strong> (хлорид калия) – усиливают рост корней, клубней, луковиц; повышают хладостойкость растений; вносят в первой половине лета в виде подкормки.</li>
        <li><strong><u>Фосфорные удобрения</u></strong> (суперфосфат) – ускоряют созревание плодов, повышают хладостойкость растений; вносят во второй половине лета в виде подкормки и осенью.</li>
        <li><strong><u>Органические</u></strong> (навоз, торф, птичий помет, зола, ил) – повышают общую урожайность, могут усваиваться только после переработки бактериями; вносят осенью.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Основные агротехнические приемы:</strong>
    <ol>
        <li>
            <strong><u>Аэропоника</u></strong> – метод воздушного выращивания растения, при котором производят периодическое опрыскивание корневой системы питательными растворами.
        </li>
        <li>
            <strong><u>Гидропоника</u></strong> – выращивание растений без почвы на водных растворах необходимых минеральных солей.
        </li>
        <li>
            <strong><u>Интрадукция</u></strong> – введение в севооборот новых сортов растений.
        </li>
        <li>
            <strong><u>Седирация</u></strong> – запахивание зеленых посевов (чаще всего бобовых растений) с целью улучшения структуры почвы и обогащения ее азотфиксирующими бактериями.
        </li>
        <li>
            <strong><u>Скарификация</u></strong> – нарушение целостности семенной кожуры с целью ускорения всхожести семян.
        </li>
        <li>
            <strong><u>Стратификация</u></strong> – обработка семян низкими температурами с целью их закаливания и ускорения всхожести.
        </li>
        <li>
            <strong><u>Пасынкование</u></strong> - удаление у растения боковых побегов с целью развития главного (томаты).
        </li>
        <li>
            <strong><u>Пикировка</u></strong> – укорочение главного корня при пересаживании растения в грунт для усиления роста боковых и придаточных корней.
        </li>
        <li>
            <strong><u>Прищипка</u></strong> – удаление верхушки растения с целью усиления бокового ветвления (огурец, тыква).
        </li>
        <li>
            <strong><u>Окучивание</u></strong> – подгребание почвы к стеблю с целью повышения урожайности и борьбы с сорняками (картофель).
        </li>
    </ol>
</p>
<a href=@Url.Action("Test9","Test") class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>