<div class="container">
    <p><strong>Высшая нервная деятельность</strong> – это совокупность условных рефлексов, которые лежат в основе поведения высокоорганизованных животных и человека и позволяют им лучше приспосабливаться к условиям окружающей среды.</p>
    <p>В 1863 г. русский физиолог И.М. Сеченов в работе «Рефлексы головного мозга» описал разнообразные сложные формы поведения и психику животных и человека с точки зрения рефлекторной теории как проявление одних рефлексов и торможение других. Позднее русский физиолог И.П. Павлов развил учение И.М. Сеченова и создал учение о физиологии высшей нервной деятельности человека и животных. Он считал, что высшая нервная деятельность – это деятельность коры больших полушарий, которая является материальной основой условных рефлексов. Кора больших полушарий, собирая информацию от всех сенсорных и двигательных систем, осуществляет анализ и становится аппаратом тонкой условно-рефлекторной деятельности и органом психической деятельности, сознательного мышления.</p>
    <p class="text-center"><strong>Условные и безусловные рефлексы.</strong></p>
    <p><em>Безусловный рефлекс</em> – это врожденная реакция организма, сложившаяся в процессе эволюции и передающаяся по наследству (чихание, сосание, кашель, пищевые, половые).</p>
    <p><em>Условный рефлекс</em> – это рефлекс, приобретаемый в течение жизни на базе безусловных рефлексов под влиянием определенных факторов внешней среды (слюноотделение на свет, слово)</p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Безусловные рефлексы</td>
                <td>Условные рефлексы</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Врожденные, сформированы к моменту рождения</td>
                <td>Приобретенные, образуются в течение всей жизни</td>
            </tr>
            <tr>
                <td>Видовые</td>
                <td>Индивидуальные</td>
            </tr>
            <tr>
                <td>
                    Относительно постоянны (стойки и неизменны в течение всей жизни)
                </td>
                <td>Непостоянны (одни исчезают, другие появляются)</td>
            </tr>
            <tr>
                <td>Уровень замыкания: спинной мозг, ствол и подкорковые ядра головного мозга</td>
                <td>Уровень замыкания: кора больших полушарий</td>
            </tr>
            <tr>
                <td>Обеспечивают жизнедеятельность и оборонительные реакции</td>
                <td>Адаптация организма к изменяющимся условиям внешней среды</td>
            </tr>
        </tbody>
    </table> 
    <p class="text-center">
        <strong>Условия формирования условных рефлексов:</strong>
        <ol type="1">
            <li>Бодрствующее состояние коры;</li>
            <li>Отсутствие отвлекающих раздражителей;</li>
            <li>Сочетание условного и безусловного раздражителей;</li>
            <li>Действие условного раздражителя должно совпадать во времени с действием безусловного, но несколько предшествовать ему;</li>
            <li>Действие условного раздражителя должно многократно сочетаться с действием безусловного раздражителя.</li>
        </ol>
    </p>
    <p class="text-center">
        <strong>Опыты И.П. Павлова.</strong>
    </p>
    <p><em>Цель:</em> выработать условный рефлекс (выделение слюны на включение света).</p>
    <p><em>Принципы проведения:</em></p>
    <ol type="1">
        <li>Объект опытов – собаки;</li>
        <li>Условный раздражитель (безразличный для жизнедеятельности) – свет;</li>
        <li>Безусловный раздражитель (важный для жизнедеятельности) – пища;</li>
        <li>Безусловный рефлекс – выделение слюны при попадании пищи в ротовую полость.</li>
    </ol>
    <p><em>Механизм образования:</em> установление временной функциональной связи между двумя очагами возбуждения, соответствующими безусловному и условному раздражителям.</p>
    <p>При действии условного раздражителя (свет) возникает ориентировочный рефлекс: возбуждаются фоторецепторы сетчатки глаза, и в них образуются нервные импульсы, которые по центростремительным (чувствительным) нервным волокнам достигают затылочной доли коры больших полушарий, где находится центральный отдел зрительного анализатора. Возникает очаг возбуждения № 1 – собака ждет, что последует дальше.</p>
    <p>При действии безусловного раздражителя (попадание пищи в ротовую полость) проявляется безусловный рефлекс: возбуждаются вкусовые рецепторы, в них образуются нервные импульсы, которые по центростремительным (чувствительным) нервным волокнам достигают височной доли коры больших полушарий, где находится центральный отдел вкусового анализатора. Возникает более сильный очаг возбуждения № 2. </p>
    <p>Импульсы, исходящие от него, поступают в продолговатый мозг, где находится центр слюноотделения, и активируют его. От этого центра импульсы по центробежным (двигательным) нервным волокнам достигают слюнных желез, и они выделяют слюну.</p>
    <p>После нескольких сочетаний условного и безусловного раздражителей в коре головного мозга возникает временная функциональная связь между очагами возбуждения № 1 и № 2, и при многократном повторении она становится прочной. Благодаря такой связи действие только условного раздражителя (без подкрепления безусловным) вызывает возникновение реакции организма, соответствующей безусловному рефлексу. При включении света возбуждаются фоторецепторы сетчатки глаза, и в них образуются нервные импульсы, которые по центростремительным (чувствительным) нервным волокнам достигают затылочной доли коры больших полушарий, где возникает очаг возбуждения № 1. Между ним и очагом возбуждения № 2 возникает временная функциональная связь. Затем импульсы от очага возбуждения № 2 достигают продолговатого мозга, где находится центр слюноотделения, и активируют его. Отсюда импульсы по центробежным (двигательным) нервным волокнам поступают в слюнные железы, и те выделяют слюну. Образуется условный рефлекс – выделение слюны на включение света.</p>
    <p>Важным средством формирования условно-рефлекторной деятельности является <strong>доминанта</strong> (устойчивый очаг возбуждения). Она способна изменять (подавлять) работу других очагов возбуждения. Доминанта определяет поведение человека, делает его активным и творческим. Учение о доминанте разработал в 1923 г. русский физиолог А.А. Ухтомский.</p>
    <p><strong>Динамический стереотип</strong> - система осуществления отдельных условных рефлексов (реакции коры больших полушарий головного мозга), основанная на его способности обеспечивать точность и своевременность ответной реакции организма на привычные, повторяющиеся в определенной последовательности раздражители. Привычки человека, распорядок дня являются проявлением стереотипа.</p>
    <p><strong>Торможение</strong> – это процессы, приводящие к ослаблению или прекращению возбуждения в центральной нервной системе.</p>
    <p><strong>Виды торможения:</strong>
       <ol type="1">
           <li><em>Внешнее торможение</em> развивается в результате действия нового внешнего относительно сильного раздражителя, который приводит к возникновению нового очага возбуждения в коре (выработанный у животного условный рефлекс (слюноотделение на свет) не проявляется при внезапном шуме). Развивается быстро. </li>
           <li>
               <em>Внутреннее торможение.</em>
               <ol type="a">
                   <li>Угасание. Развивается постепенно при отсутствии подкрепления условного раздражителя безусловным (если выработанный слюноотделительный рефлекс на свет не подкреплять кормлением, то рефлекс начнет угасать и исчезнет (разрушится временная функциональная связь между двумя центрами). </li>
                   <li>Дифференцировка. Возникает только на подкрепляемый раздражитель (если один из условных раздражителей (удары метронома с частотой 60 раз в минуту) подкреплять безусловным раздражителем, а другой, близкий к нему (удары метронома с частотой 100 раз в минуту), не подкреплять, то условный рефлекс возникает только на подкрепляемый раздражитель.</li>
               </ol>
           </li>
           <li><em>Запредельное (охранительное) торможение.</em> При действии чрезмерно сильного раздражителя в коре возникает не возбуждение, а торможение, предохраняющее нервные клетки от гибели.</li>
       </ol>
    </p>
</div>
<div class="container">
    <a href=@Url.Action("Test32","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>
