<h3 class="text-center"><em><u>Общая характеристика растений. Основные разделы ботаники. Отличия низших и высших растений. Жизненные формы высших растений. Формы раздражимости. Значение в природе и жизни человека. Ткань: определение. Виды тканей высших растений. Сложные ткани (ксилема, флоэма, перидерма). Органы высших растений.</u></em></h3>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ботаника</strong> - наука, изучающая жизнь растений, их внешнее и внутреннее строение, жизнедеятельность, условия обитания, распространение на Земле, взаимодействие с окружающей средой, происхождение и их эволюционное развитие.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp; <strong><u>Разделы ботаники:</u></strong>
    <ul>
        <li><strong>цитология</strong> – наука, изучающая строение и дифференцировку растительных клеток;</li>
        <li><strong>морфология</strong> - наука, изучающая внешнее строение растительного организма;</li>
        <li><strong>физиология</strong> - наука, изучающая жизнедеятельность растительного организма;</li>
        <li><strong>биохимия</strong> - наука, изучающая химические процессы в растениях, роль фитогормонов;</li>
        <li><strong>систематика</strong> - наука, изучающая классификацию растительных организмов;</li>
        <li><strong>генетика</strong> - наука, изучающая закономерности наследственности и изменчивости растительных организмов;</li>
        <li><strong>селекция</strong> - наука, изучающая принципы сохранения существующих и выведения новых сортов растений;</li>
        <li><strong>палеоботаника</strong> - наука, изучающая ископаемые и вымершие виды растений прошлых геологических эпох;</li>
        <li><strong>геоботаника</strong> - наука, изучающая распространение растений на Земле;</li>
        <li><strong>фитоценология</strong> - наука о растительных сообществах;</li>
        <li><strong>экология</strong> - наука, изучающая взаимосвязь растений с окружающей средой.</li>
    </ul>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Растительный мир является составной частью природы (вместе с животными формируют среду), растения являются продуцентами органического вещества на планете (первое звено в цепях питания). На Земле насчитывается более 500000 видов растений (250000 видов покрытосеменных растений).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;К царству Растения относятся 2 подцарства: <strong>Низшие растения</strong> (Водоросли) и <stroung>Высшие растения</stroung> <u>(споровые</u> (Моховидные, Хвощевидные, Плауновидные, Папоротниковидные) и <u>семенные</u> (Голосеменные и Покрытосеменные).
</p>
<div class="text-center">
    <strong>
        ОТЛИЧИЯ НИЗШИХ И ВЫСШИХ РАСТЕНИЙ
    </strong>
</div>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col"><strong>Низшие растения</strong></th>
                    <th scope="col"><strong>Высшие растения</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Тело не делится на органы и ткани</td>
                    <td>Тело представлено вегетативными и генеративными органами</td>
                </tr>
                <tr>
                    <td>Органы полового размножения и органы спороношения одноклеточные (искл. Харовые водоросли) или отсутствуют</td>
                    <td>Органы полового размножения (женский – архегоний, мужской – антеридий) и органы спороношения многоклеточные</td>
                </tr>
                <tr>
                    <td>Нет эпидермиса, устьиц, проводящего цилиндра</td>
                    <td>Есть эпидермис, устьица, проводящий цилиндр</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <strong>
        ОТЛИЧИЯ ВЫСШИХ СПОРОВЫХ И СЕМЕННЫХ РАСТЕНИЙ:
    </strong>
</div>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col"><strong>Споровые растения</strong></th>
                    <th scope="col"><strong>Семенные растения</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Процессы бесполого и полового размножения разделены (бесполое осуществляется спорами, образующимися в результате мейоза в спорангиях спорофита; половое – гаметами, развивающимися на гаметофитах.</td>
                    <td>Имеют многоклеточное образование – семя, которое формируется в результате взаимосвязанных процессов бесполого и полового размножения</td>
                </tr>
                <tr>
                    <td>Оплодотворение осуществляется ТОЛЬКО при наличии воды</td>
                    <td>Оплодотворение осуществляется независимо от наличия воды</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Жизненные формы высших растений:</u></strong>'
    <ol>
        <li><strong><em>Древесные (деревья)</em></strong> – форма многоклеточных растений с ОДНИМ главным стеблем (стволом), сохраняется в течение всей жизни, на стволе расположена система побегов: липа, ольха, береза, дуб, ясень, тополь, клен, граб, вяз, рябина).</li>
        <li><strong><em>Кустарниковые (кустарники)</em></strong> – форма многоклеточных растений, имеющих несколько равноценных одревесневших стволовых осей (стволиков), которые отходят от общего основания (главный ствол развивается только в начале жизни): барбарис, ирга, смородина, малина, крыжовник, сирень, крушина, бересклет, чубушник, рябинник, пузыреплодник, шиповник, бузина, калина, жимолость, волчье лыко, акация, роза морщинистая, спирея, снегоягодник, гортензия, карагана, розодендрон, орешник (лещина).</li>
        <li><strong><em>Кустарничковые (кустарнички)</em></strong> – нижняя часть растений многолетняя, покрывается пробкой, верхняя часть – однолетняя (зимой отмерзает или отсыхает), высота не превышает 1м: голубика, клюква, черника, брусника, вереск, водяника, багульник.</li>
        <li><strong><em>Травянистые (травы)</em></strong> – форма растений с сочными, неодревесневающими побегами, надземные стебли отмирают в конце вегетационного периода: банан, бамбук, ландыш, подорожник, одуванчик, пырей, купена, ирис, гладиолус, лилия, тюльпан, астра, нарцисс, рудбекия, георгин, земляника, льнянка, яснотка, калужница, чистотел, мать-и-мачеха, лапчатка, пастушья сумка, горец птичий, василек, иван-чай, крапива, герань, цикорий, зверобой, майник, полевица, рогоз, мятлик, любка, касатик, щучка, борщевик, кукуруза, подсолнечник, дудник.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Классификация высших растений по продолжительности жизни:</u></strong>
    <ol>
        <li><strong><em>Однолетние растения</em></strong> – продолжительность жизни составляет 1 год, в течение которого проходит весь вегетативный и генеративный цикл развития: хлебные злаки, горох, фасоль, соя, арахис, подсолнечник, лен, огурец, тыква, гречиха, сурепка, лебеда, пастушья сумка, крупка, фиалка.</li>
        <li><strong><em>Двулетние растения</em></strong> - продолжительность жизни составляет 2 года, в течение первого года развивается только вегетативная часть растения, на второй год происходит половое размножение, после чего погибают: морковь, свекла, брюква, турнепс, капуста, чертополох, белена, донник, ослинник, коровяк.</li>
        <li>
            <strong><em>Многолетние растения</em></strong> – долговечные подземные части и ежегодно отмирающие надземные части: одуванчик, цикорий, щавель, подорожник, купена, нивяник, тимофеевка, крапива, ландыш, пырей, любка, лук, тюльпан, чеснок, черемша.
        </li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Классификация высших растений по количеству цветений и плодоношений:</u></strong>
    <ol>
        <li><strong><em>Монокарпические растения</em></strong> – растения, которые в течение всей жизни цветут и плодоносят 1 раз, после чего отмирают: все однолетние и двулетние растения, некоторые многолетние (бамбук, агава, индийская пальма, тмин, порезник).</li>
        <li><strong><em>Поликарпические растения</em></strong> – растения, которые в течение всей жизни цветут и плодоносят много раз: большинство многолетних растений.</li>
    </ol>
</p>
<p>
    <div class="text-center">
        <strong>Роль растений в природе:</strong>
    </div>
    <ol>
        <li>Являются компонентами биогеоценозов (являются продуцентами – первое звено в цепях питания), участвуют в формировании среды для обитания и размножения животных.</li>
        <li>Участвуют в круговороте веществ.</li>
        <li>Являются пищей для животных.</li>
        <li>Насыщают атмосферу кислородом, поглощают углекислый газ; очищают, увлажняют воздух; противостоят бурям, ветрам.</li>
    </ol>
</p>
<p>
    <div class="text-center">
        <strong>
            Роль растений в жизни человека:
        </strong>
    </div>
    <ol>
        <li>Являются пищей для человека.</li>
        <li>Техническое сырье для ряда промышленных производств (бумага, хлопок, лен).</li>
        <li>Источник строительного материала, топлива.</li>
        <li>Источник для получения лекарственных препаратов, витаминов.</li>
        <li>Снижают уровень шума в городах.</li>
        <li>Являются материалом для селекционной работы.</li>
        <li>Комнатные и декоративные культурные растения оказывают эстетическое воздействие на человека.</li>
    </ol>
</p>
<p>
    <div class="text-center">
        <h3>
            <strong>
                КЛЕТКИ, ТКАНИ И ОРГАНЫ РАСТИТЕЛЬНОГО ОРГАНИЗМА.
            </strong>
        </h3>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;Структурной и функциональной единицей любого растительного организма является клетка.
    <div class="text-center">
        <strong>
            Особенности растительной клетки:
        </strong>
    </div>
    <ol>
        <li>Жесткая клеточная стенка в состав которой входит целлюлоза;</li>
        <li>Пластиды, содержащие хлорофилл и другие пигменты;</li>
        <li>Центральная вакуоль с клеточным соком;</li>
        <li>Основное запасное питательное вещество – крахмал;</li>
        <li>Плазмодесмы (выросты каналов ЭПС, обеспечивающие связь клеток между собой);</li>
        <li>Отсутствие лизосом и клеточного центра.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ткань</strong> – группа клеток, сходных по строению и происхождению, выполняющих одинаковые функции (термин «ткань» предложил в XVII в. Н.Грю). Микроструктуру листьев, стеблей и корней изучал в XVII в. М.Мальпиги (обнаружил и описал строение проводящих тканей).
</p>
<div class="container">
    <div class="row justify-content-center">
        <img src="~/Images/thema5/Безымянный.png" />
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col"><strong>НАЗВАНИЕ ТКАНИ</strong></th>
                    <th scope="col"><strong>СТРОЕНИЕ ТКАНИ</strong></th>
                    <th scope="col"><strong>РАСПОЛОЖЕНИЕ ТКАНИ</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3"><strong>ОБРАЗОВАТЕЛЬНАЯ ТКАНЬ (МЕРИСТЕМА) – живые клетки.</strong></td>
                </tr>
                <tr>
                    <td><strong>1. Верхушечная (апикальная)</strong> </td>
                    <td rowspan="4">Мелкие, бесцветные клетки с большими рыхлыми расположенными в центре ядрами, мелкими вакуолями и густой цитоплазмой. Клетки активно делящиеся молодые, тонкостенные, плотно прилегают к друг другу.</td>
                    <td>Кончик корня в зоне деления и конус нарастания верхушечной почки побега.</td>
                </tr>
                <tr>
                    <td><strong>2. Вставочная (интеркаллярная)</strong></td>
                    <td>Основание междоузлий побегов (хорошо выражена у злаков), основание листовой пластинки.</td>
                </tr>
                <tr>
                    <td><strong>3. Боковая (камбий, прокамбий, феллоген, перицикл, пробковый камбий, латеральная)</strong></td>
                    <td>Между древесиной и корой в стебле и корне.</td>
                </tr>
                <tr>
                    <td><strong>4. Зародышевая</strong></td>
                    <td>Зародыш растения</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>ПОКРОВНАЯ ТКАНЬ.</strong></td>
                </tr>
                <tr>
                    <td><strong>1. Кожица (эпидермис, эпидерма; корень – ризодерма, эпиблема)</strong></td>
                    <td>Один слой живых бесцветных, плотно прилегающих друг к другу клеток, с извилистыми утолщенными клеточными стенками. Межклеточного вещества мало или отсутствует. Клетки выделяют растительный воск (кутин), образующий защитную кутикулу. В некоторых местах между клетками кожицы имеются устьица (комплекс, образованный двумя замыкающими клетками со щелью между ними).</td>
                    <td>Поверхность листьев и однолетних стеблей. Окраска частей растения, покрытых кожицей, зеленая. </td>
                </tr>
                <tr>
                    <td><strong>2. Перидерма (феллема(пробка)+феллоген (пробковый камбий)+феллодерма (основная ткань)</strong></td>
                    <td>Несколько слоев мертвых, плотно прилегающих друг к другу клеток, полость которых заполнена воздухом или смолистыми веществами, оболочки пропитаны жироподобным веществом (суберином, у березы – бетулином). Транспирация и газообмен осуществляют чечевички (разрывы в пробке, заполненные рыхло расположенными клетками).</td>
                    <td>Стебли и корни многолетних двудольных растений и голосеменных. Окраска частей растений, покрытых пробкой, становится бурой или серой.</td>
                </tr>
                <tr>
                    <td><strong>3. Корка (ритидом)</strong></td>
                    <td>Множество слоев мертвых клеток, формируются из старых клеток пробки, паренхимы и механической ткани. Транспирация и газообмен осуществляется при помощи трещинок.</td>
                    <td>Корни, стволы и ветви старых деревьев.</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>ОСНОВНАЯ ТКАНЬ (ПАРЕНХИМА) – живые клетки.</strong></td>
                </tr>
                <tr>
                    <td><strong>1. Ассимиляционная (хлорофиллоносная, хлоренхима)</strong></td>
                    <td>Тонкостенные клетки прямоугольной формы, плотно прилегают друг к другу, большое количество хлоропластов.</td>
                    <td>Мякоть листа, зеленые травянистые растения.</td>
                </tr>
                <tr>
                    <td><strong>2. Водоносная</strong></td>
                    <td>Крупные клетки с большими вакуолями.</td>
                    <td>Листья (алоэ, очитки) и стебли (кактусы, молочаи) растений засушливых мест.</td>
                </tr>
                <tr>
                    <td><strong>3. Воздухоносная (аэренхима)</strong></td>
                    <td>Рыхло расположенные клетки округлой или овальной формы, между ними расположены большие межклетники, заполненные воздухом.</td>
                    <td>Образует части вегетативных органов у водных и болотных растений (кувшинки, рдесты, кубышки).</td>
                </tr>
                <tr>
                    <td><strong>4. Запасающая</strong></td>
                    <td>Крупные бесцветные клетки, цитоплазма которых заполнена лейкопластами и множеством включений (гранулы крахмала, белка, капли жира).</td>
                    <td>Стебель древесных растений, корневища, клубни, луковицы, корнеплоды, плоды.</td>
                </tr>
                <tr>
                    <td><strong>5. Поглощающая (всасывающая)</strong></td>
                    <td>Клетки с большим количеством вакуолей.</td>
                    <td>Зона всасывания (корневые волоски) корня.</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>МЕХАНИЧЕСКАЯ ТКАНЬ.</strong></td>
                </tr>
                <tr>
                    <td><strong>1. Колленхима</strong></td>
                    <td>Живые клетки с неравномерно утолщенными (отложения клетчатки и пектиновых веществ) неодревесневшими оболочками.</td>
                    <td>Отдельные тяжи или непрерывный цилиндр под эпидермисом молодого стебля и черешков листьев, окаймляет жилки в листьях двудольных.</td>
                </tr>
                <tr>
                    <td rowspan="2"><strong>2. Склеренхима</strong></td>
                    <td>
                        <table width="100%">
                            <tr>
                                <td><strong>Волокна (лубяные и древесинные)</strong></td>
                                <td>Мертвые клетки с равномерно утолщенными одревесневшими (отложения <strong>лигнина</strong> ) оболочками, собраны в тяжи или пучки.</td>
                            </tr>
                        </table>
                    </td>
                    <td>Ксилема и флоэма, вегетативные органы.</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong>Склереиды</strong></td>
                                <td>Округлые мертвые клетки каменистой плотности с очень толстыми одревесневшими оболочками, могут располагаться группами или поодиночке.</td>
                            </tr>
                        </table>
                    </td>
                    <td>Скорлупа орехов, косточки вишен, слив, семенная кожура, мякоть незрелых груш.</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>ПРОВОДЯЩАЯ ТКАНЬ.</strong></td>
                </tr>
                <tr>
                    <td><strong>1. Трахеиды</strong></td>
                    <td>Мертвые узкие вытянутые клетки, со скошенными концами, с утолщенными одревесневшими клетками, имеют поры. Проникновение растворов из одной трахеиды в другую происходит благодаря фильтрации через поры <strong>(ток жидкости медленный)</strong>.</td>
                    <td>В стеблях, корнях, жилках листьев хвощей, плаунов, папоротников и голосеменных.</td>
                </tr>
                <tr>
                    <td><strong>2. Трахеи (сосуды)</strong></td>
                    <td>Короткие широкопросветные мертвые клетки с одревесневшими оболочками, имеют трубчатую форму, расположены друг над другом. Перегородки между клетками разрушены <strong>(ток жидкости быстрый)</strong>.</td>
                    <td>В стеблях, корнях, жилках листьев <strong>покрытосеменных.</strong></td>
                </tr>
                <tr>
                    <td><strong>3. Ситовидные клетки (есть ядро)</strong></td>
                    <td rowspan="2">Живые удлиненные клетки. Поперечные перегородки между ними имеют отверстия (продырявлены в виде сита) – <strong>ток жидкости очень медленный.</strong></td>
                    <td>В стеблях, корнях, жилках листьев хвощей, плаунов, папоротников и голосеменных.</td>
                </tr>
                <tr>
                    <td><strong>4. Ситовидные трубки (нет ядра)+клетки-спутницы</strong></td>
                    <td>В стеблях, корнях, жилках листьев <strong>покрытосеменных.</strong></td>
                </tr>
                <tr>
                    <td colspan="3">ВЫДЕЛИТЕЛЬНАЯ ТКАНЬ.</td>
                </tr>
                <tr>
                    <td><strong>1. Смоляные и эфирно-масляные ходы</strong></td>
                    <td>Мертвые клетки, заполненные смолой (<strong>живицей</strong>).</td>
                    <td>Стебель и корень голосеменных.</td>
                </tr>
                <tr>
                    <td><strong>2. Железистые волоски и нектарники</strong></td>
                    <td>Живые клетки, заполненные сахаристыми и пахучими веществами.</td>
                    <td>Поверхность некоторых листьев, стеблей, цветков покрытосеменных.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center"><strong>Сложные проводящие ткани высших растений</strong></div>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Вид ткани</th>
                    <th scope="col"><strong>Флоэма (луб)</strong> – нисходящий ток органических веществ.</th>
                    <th scope="col"><strong>Ксилема (древесина) – </strong>восходящий ток воды и минеральных солей.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Проводящая ткань</td>
                    <td>Ситовидные клетки/Ситовидные трубки+клетки-спутницы</td>
                    <td>Трахеиды/Трахеи</td>
                </tr>
                <tr>
                    <td>Механическая ткань</td>
                    <td>Лубяные волокна</td>
                    <td>Древесинные волокна</td>
                </tr>
                <tr>
                    <td>Основная ткань</td>
                    <td>Лубяная паренхима</td>
                    <td>Древесинная паренхима</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Растительные ткани образуют <strong>органы</strong> –части растения, занимающие в нем определенное положение, имеющие определенную форму, строение и выполняющие определенную функцию. Растение имеет <strong>вегетативные и генеративные органы.</strong> Вегетативные органы (корень, стебель, лист) обеспечивают жизнедеятельность растений – рост, развитие, фотосинтез, транспирацию. Генеративные (цветок (у покрытосеменных, у остальных высших растений антеридии и архегонии), плод, семя) участвуют в половом размножении.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Взаимодействие между органами и тканями растения обеспечивают <strong>фитогормоны</strong> – стимуляторы, которые вырабатывают сами растения, регулируют рост, созревание, старение, явления стресса, транспорт веществ (ауксины, гибереллины, цитокинины ускоряют рост растения, абсцизин и этилен – приостанавливают).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Все органы растения составляют целостный организм. Растение обладает свойствами живого: обмен веществ и энергии, рост, развитие и размножение, раздражимость, наследственность и изменчивость.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Стадии онтогенеза (индивидуального развития) растительного организма:</strong>
    <ol>
        <li>Зародыш семени (от оплодотворения до прорастания семени);</li>
        <li>Проросток (растение питается за счет запасных питательных веществ зародыша);</li>
        <li>Молодое растение (от начала минерального питания до первого цветения);</li>
        <li>Взрослое растение (цветение и плодоношение);</li>
        <li>Старение (отсутствие цветения и плодоношения);</li>
        <li>Смерть.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Раздражимость. Виды раздражимости:</strong>
    <ol>
        <li>
            <strong>Тропизмы</strong>(ростовые движения, вызываемые ОДНОСТОРОННИМ действием фактора (раздражителя)).
            <ul>
                <li><em>фото (гелио) тропизм</em> – свет;</li>
                <li><em>геотропизм</em> – сила притяжения Земли;</li>
                <li><em>хемотропизм</em> – химические вещества;</li>
                <li><em>аэротропизм</em> – распределение кислорода.</li>
            </ul>
        </li>
        <li>
            <strong>Настии</strong> – ростовые движения, обусловленные изменением тургора клеток, вызываемые факторами (раздражителями), не имеющими определенного направления.
            <ul>
                <li><em>эпинастии</em> – изгиб вверх;</li>
                <li><em>гипонастии</em> – изгиб вниз;</li>
                <li><em>термонастии</em> – изгиб в сторону (или от) тепла;</li>
                <li><em>фотонастии</em> – изгиб в сторону света;</li>
                <li><em>сейсмонастии</em> – изгиб от прикосновения (толчка). Например, от прикосновения складываются листочки мимозы стыдливой.</li>
            </ul>
        </li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Рецепция у растений осуществляется за счет хемо-, фото- и механорецепторов белковой природы, входящих в состав клеточных мембран некоторых тканей. Растения способны воспринимать красный, инфракрасный и синий цвета через фоторецепторные белки – <strong>фитохромы</strong>, которые регулируют фототропизм, фотонастии и фотопериодические реакции. Наибольшее количество фитохромов обнаружено в меристемах и в камбии.
</p>
<a href=@Url.Action("Test5","Test") class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>