<div class="container">
    <p><strong>Биосфера</strong> (термин ввел Э. Зюсс, 1875 г.) – область распространения жизни, включающая наряду с организмами среду их обитания. Элементарной структурной и функциональной единицей биосферы является биогеоценоз.</p>
    <p><strong>Биосфера</strong> – часть геологической оболочки Земли, включающая верхнюю часть литосферы, всю гидросферу и нижнюю часть атмосферы (тропосферу), в которой существует жизнь.</p>
    <p>
        <ol type="1">
            <li>
                <em><strong>Атмосфера</strong></em> (воздушная оболочка Земли, протяженность 2-3 тыс. км). Состоит из азота (78,1%), кислорода (21%), аргона (0,9%), диоксида углерода (0,03%) и примесей – паров воды и твердых частиц.
                <ol type="A">
                    <li><em>Тропосфера</em> – нижний слой атмосферы высотой 15 см. Здесь находятся живые организмы. В верхних слоях тропосферы обнаруживаются лишь бактерии и их споры, поднимаемые вихревыми потоками с поверхности Земли.</li>
                    <li><em>Стратосфера</em> – слой, лежащий выше тропосферы, высотой до 100 км. В нижней части стратосферы (на высоте 15–25 км) под действием ультрафиолетового излучения Солнца образуется <strong>озоновый слой</strong> (О3), защищающий поверхность Земли от губительного коротковолнового ультрафиолетового излучения.</li>
                    <li><em>Ионосфера</em>  – слой над стратосферой, где преобладают разреженные газы. </li>
                </ol>
                <strong><u>Ограничивающие факторы распространения жизни:</u></strong> интенсивное излучение, низкая температура, дефицит кислорода и воды.
            </li>
            <li>
                <em><strong>Литосфера</strong></em> (протяженность до 7 км) – твердая оболочка Земли, 0,8% массы Земли. Слои: верхний слой осадочных пород, гранитный и нижний – базальтовый. В некоторых местах гранит, раздвигая осадочные породы, выходит на поверхность. Жизнь в литосфере сконцентрирована ближе к поверхности, обычно на глубине до 8–10 м (иногда анаэробные бактерии находят в водах нефтеносных слоев на глубине 2–4 км).
                <p><strong><u>Ограничивающие факторы распространения жизни:</u></strong> высокие температура и давление, отсутствие света, снижением содержания кислорода и повышение содержания диоксида углерода.</p>
            </li>
            <li>
                <strong><em>Гидросфера</em></strong> (протяженность до 11 км) – водная оболочка Земли, расположенная между атмосферой и земной корой. Около 94% массы гифросферы составляют соленые океанические воды, 2,2% - вода ледников, остальная часть (около 4%) – подземные, озерные, речные пресные воды. В гидросфере жизнь простирается на всю ее глубину (свыше 11 км в Мариинской впадине), однако наибольшая плотность живого наблюдается на поверхности воды и в прибрежных районах.
                <p><strong><u>Ограничивающие факторы распространения жизни:</u></strong> давление толщи воды, отсутствие света, снижение содержания кислорода и повышение содержания диоксида углерода, соленость воды.</p>
                <p>Наиболее благоприятные условия для жизни наблюдаются на границе соприкосновения атмосферы и литосферы, литосферы и гидросферы, гидросферы и атмосферы  <em>(«пленки жизни»).</em></p>
                <p>Общее учение о биосфере было создано <strong>В.И. Вернадским</strong> («Биосфера», 1926 г). Он первым обратил внимание на роль живых организмов как мощного геологического фактора. </p>
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Концепция живого вещества.</strong></h3>
    <ol type="1">
        <li>Живое вещество содержит огромную энергию, способную прозводить работу, в т.ч. геохимическую.</li>
        <li>Скорость протекания химических реакций в живом веществе очень высока, благодаря наличию ферментов.</li>
        <li>Органические вещества устойчивы только в живых организмах.</li>
        <li>Живое вещество обладает подвижностью. Благодаря движению живое вещество способно заполнить все возможное пространство (давление жизни).</li>
        <li>Живое вещество имеет значительное морфологическое и химическое разнообразие.</li>
        <li>Живое вещество представлено в виде дисперсных сил (организмов) размерами от 20 нм до 100 м.</li>
        <li>Живое вещество всегда представлено биоценозами, в которых существуют разнообразные формы взаимодействия (главные связи – трофические).</li>
        <li>Живое вещество существует в форме непрерывного чередования поколений, что способствует его обновлению.</li>
        <li>Живое вещество способно к эволюционному процессу, поэтому не происходит абсолютное копирование предыдущих поколений, что позволяет адаптироваться к изменению условий существования.</li>
    </ol>
    <h3 class="text-center"><strong>Живое вещество, его функции.</strong></h3>
    <p><strong>Живое вещество</strong> – совокупность живых организмов планеты, численно выраженная в элементарном химическом составе (массе или энергии).</p>
    <p><strong>Биогенное вещество</strong>  – вещество, которое создается и перерабатывается в процессе жизнедеятельности организмов (газы атмосферы, нефть, каменный уголь, известняки и др.).</p>
    <p><strong>Косное вещество</strong> – вещество, которое образуется без участия живых организмов (продукты тектонической деятельности, метеориты).</p>
    <p><strong>Биокосное вещество</strong> – вещество, образующееся в результате совместной деятельности организмов и абиогенных процессов (почва, атмосфера).</p>
    <p>Интенсивность развития живого вещества выражается двумя показателями: <em>биомасса и продуктивность.</em></p>
    <p><strong>Биомасса</strong> – выраженное в массе количество живого вещества, суммарная масса особей вида, группы видов или сообщества организмов, выраженная в единицах массы сухого или сырого вещества, отнесенных к единице площади или объема местообитания (кг/га, г/м<sup>2</sup>, г/м<sup>3</sup>).</p>
    <p>Вся масса живого вещества Земли составляет ее биомассу, которая равна примерно 2423,2 млрд т сухого вещества. </p>
    <p>Структурные типы биосферы: континентальный и океанический.</p>
    <p><em>Биомасса растений суши</em> составляет около 97%, животных и микроорганизмов – около 3%. Биомасса на суше увеличивается от полюсов к экватору, в этом же направлении возрастает и количество видов (в тундре насчитывается около 500 видов растений, в лесостепной зоне – до 2000, а во влажных тропических лесах – свыше 8000).</p>
    <p><em>Биомассу почвы</em> составляют корни растений, почвенные животные (кроты, черви, насекомые, их личинки), водоросли, грибы, бактерии. В некоторых почвах биомасса одних только дождевых червей достигает 1,2 т/га. Количество бактерий в 1 г почвы измеряется сотнями миллионов.</p>
    <p><em>Мировой океан</em> занимает свыше 70% поверхности Земли. Объем воды в нем в 15 раз больше объема суши, возвышающейся над уровнем моря. Однако биомасса Мирового океана в 1000 раз меньше, чем суши (0,13% от всей биомассы Земли), представлена, в основном, животными (93,7%). Она сосредоточена главным образом в поверхностном слое до 100 м.</p>
    <p class="text-center"><strong>Биомасса биосферы.</strong></p>
    <table class="table table-bordered text-center">
        <thead >
            <tr>
                <td>Тип биосферы</td>
                <td>Биомасса растений (млрд. т)</td>
                <td>Биомасса животных и микроорганизмов (млрд.т)</td>
                <td>Общая биомасса (млрд.т)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Континентальный</td>
                <td>2400 (99,2%)</td>
                <td>20 (0,8%)</td>
                <td>2420</td>
            </tr>
            <tr>
                <td>Океанический</td>
                <td>0,2 (6,3%)</td>
                <td>3 (93,7%)</td>
                <td>3,2</td>
            </tr>
            <tr>
                <td>Всего</td>
                <td>2400,2</td>
                <td>23</td>
                <td>2423,2</td>
            </tr>
        </tbody>
    </table>
    <p>Биологическая продуктивность суши и океана примерно одинакова. Это объясняется тем, что обновление живых организмов в океане происходит во много раз быстрее, чем на суше. Так, зеленые протисты океана обновляются несколько раз за год, а на обновление биомассы суши требуется 10–15 лет. </p>
    <p class="text-center"><strong>Скорость прироста биомассы.</strong></p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Растительные сообщества</td>
                <td>Отношение годовой продукции к биомассе</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Леса</td>
                <td>0,018</td>
            </tr>
            <tr>
                <td>Луга, пашни, степи</td>
                <td>0,67</td>
            </tr>
            <tr>
                <td>Озера, реки</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Моря (фитопланктон)</td>
                <td>150</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center"><strong>Биогеохимические функции живого вещества.</strong></h3>
    <ol type="1">
        <li><em>Энергетическая функция</em> – усвоение живым веществом преимущественно солнечной энергии и передаче ее по трофическим цепям. В основе этой функции лежит фотосинтетическая деятельность зеленых растений, образующих свыше 98% первичной продукции земли.</li>
        <li><em>Газовая функция</em> – поглощение зелеными растениями диоксида углерода и выделении кислорода в процессе фотосинтеза (при дыхании растений и животных, наоборот, поглощение кислорода и выделение диоксида углерода), в восстановлении азота, сероводорода и других газов, т. е. в поддержании постоянства газового состава атмосферы.</li>
        <li><em>Концентрационная функция</em> – способность живых организмов к поглощению и накоплению различных химических элементов – углерода, азота, водорода, кислорода, фосфора, серы, иода, железа и др. Благодаря этой функции на определенном этапе развития биосферы растения обогатили атмосферу кислородом и значительно снизили концентрацию диоксида углерода; на местах массовой гибели животных и растений обнаружены отложения мела, известняка, нефти, угля и других полезных ископаемых.</li>
        <li><em>Окислительно¬восстановительная функция</em> – окисление и восстановление веществ в живых организмах (восстановление диоксида углерода до углеводов в процессе фотосинтеза и окисление их до диоксида углерода при дыхании).</li>
        <li><em>Деструкционная (биохимическая) функция</em> – процессы разложения организмов после их смерти до минеральных соединений, которые вновь вовлекаются в биогеохимический круговорот.</li>
        <li><em>Средообразующая функция</em> – преобразование физико-химических параметров среды (заболачивание почвы после поселения сфагнума).</li>
    </ol>
    <h3 class="text-center"><strong>Круговорот веществ и превращение энергии как основа существования биосферы.</strong></h3>
    <p>Глобальный биотический круговорот веществ осуществляется при участии всех организмов, населяющих биосферу. Он заключается в циркуляции веществ между почвой, атмосферой, гидросферой и живыми организмами (растения потребляют из окружающей среды воду, минеральные соли и диоксид углерода, а выделяют в нее кислород; животные потребляют в пищу готовые органические вещества, чаще синтезированные растениями, и кислород, а выделяют диоксид углерода, непереваренные остатки пищи, которые минерализуются редуцентами, и воду). Благодаря биотическому круговороту возможно длительное существование и развитие жизни при ограниченном запасе элементов в природе.</p>
    <p class="text-center"><strong><em><u>Круговорот воды.</u></em></strong></p>
    <ol type="1">
        <li>Вода испаряется с поверхности водоемов и воздушными течениями переносится на большие расстояния. Выпадая на поверхность суши в виде осадков, разрушает горные породы, размывает верхний слой почвы и возвращается вместе с растворенными в ней веществами в реки, моря, океаны.</li>
        <li>Растения извлекают воду из почвы, испаряют ее в атмосферу. Часть воды в процессе фотосинтеза расщепляется. Водород используется для синтеза органических веществ, а кислород выделяется в атмосферу.</li>
        <li>Животные потребляют воду для поддержания осмотического давления и выделяют ее с продуктами диссимиляции.</li>
    </ol>
    <p class="text-center"><strong><em><u>Круговорот углерода.</u></em></strong></p>
    <ol type="1">
        <li>Фиксация атмосферного СО2 зелеными растениями в процессе фотосинтеза. Часть образовавшихся углеводов используется растениями для получения энергии и осуществления жизнедеятельности, а часть используется животными.</li>
        <li>Мертвые растения и животные разлагаются, а углерод их тканей окисляется и в виде СО<sub>2</sub> поступает в атмосферу. СО<sub>2</sub> также выделяется в процессе дыхания животными и растениями.</li>
        <li>При разложении мертвых организмов без доступа кислорода образуются торф, каменный уголь, нефть. Человек их использует для получения энергии. При этом СО<sub>2</sub> выделяется в атмосферу.</li>
    </ol>
    <p>Весь углекислый газ атмосферы проходит через живое вещество за 200-300 лет.</p>
    <p class="text-center"><strong><em><u>Круговорот азота.</u></em></strong></p>
    <ol type="1">
        <li>Азот из атмосферы усваивается азотфиксирующими бактериями, затем связанный азот усваивается зелеными растениями, а далее идет на построение белков, которые поступают в пищу животных и человека.</li>
        <li>В процессе жизнедеятельности животных белки расщепляются до конечных продуктов: аммиака, мочевины, мочевой кислоты, которые поступают во внешнюю среду.</li>
        <li>При гниении мертвых растений и животных образуется аммиак. Он переводится бактериями в усвояемые растениями формы и свободный азот, который поступает в атмосферу. </li>
    </ol>
    <p class="text-center"><strong><u><em>Круговорот кислорода.</em></u></strong></p>
    <p>Кислород атмосферы имеет биогенное происхождение. Поступление кислорода в атмосферу происходит благодаря процессу фотолиза воды при фотосинтезе. Свободный кислород при дыхании используется для окисления органических веществ. Конечный продукт окисления – углекислый газ – поступает в атмосферу.</p>
    <p>Весь кислород атмосферы проходит через живое вещество за 2000 лет.</p>
    <p>Одновременно с круговоротом веществ в биосфере идет и превращение энергии. Биосфера в целом является открытой системой, постоянно принимающей солнечную энергию. В процессе фотосинтеза солнечная энергия превращается в химическую. В живом веществе Земли связано 4,19⋅10<sup>18</sup> Дж энергии; при этом ежегодно создается и расходуется 4,19⋅10<sup>17</sup> Дж. Энергия используется растениями для обеспечения жизнедеятельности, а часть ее переходит к растительноядным организмам. Последние расходуют энергию на процессы жизнедеятельности, а частично она поступает к плотоядным животным. Таким образом, энергия запасается в тканях растений и животных в виде органических соединений, потребляемых другими животными и человеком. Часть энергии консервируется в нефти, угле, сланцах, торфе.</p>
    <p>Наряду с накоплением энергии в живых организмах происходит почти равное ему по масштабам выделение энергии при разрушении органических веществ в процессе дыхания, брожения и гниения. Так в биосфере поддерживается баланс энергии. Во время этих превращений происходят затраты энергии на процессы жизнедеятельности организмов. Потери энергии постоянно восполняются за счет световой энергии Солнца.</p>
    <h3 class="text-center"><strong>Эволюция биосферы.</strong></h3>
    <p>Биосфера представляет собой сложную экологическую систему, стабильность которой обусловлена тем, что результаты активности всех трех групп организмов – продуцентов, консументов и редуцентов – взаимоуравновешиваются. Относительное постоянство состава биосферы не исключает ее способности к эволюции.</p>
    <p>На протяжении длительного времени существования нашей планеты основными факторами эволюции биосферы были геологические и климатические процессы, которые привели к появлению живых организмов. Затем на смену химической эволюции пришла биологическая.</p>
    <p>Первые живые организмы – прокариоты – появились в архейскую эру. Это были гетеротрофные анаэробы, так как на Земле в то время не было свободного кислорода, а в первичном океане содержалось достаточно органических веществ абиогенного происхождения. Однако в дальнейшем в первичном океане стал ощущаться недостаток органических веществ и произошли первые аутотрофные организмы. </p>
    <p>Появление в процессе эволюции фотосинтеза обеспечило непрерывное пополнение органических веществ благодаря использованию неиссякаемого источника солнечной энергии. С этого момента произошло разделение органического мира на два царства: животных, использующих для питания готовые органические соединения, и растений, питающихся автотрофно. Выделяющийся в процессе фотосинтеза кислород начал накапливаться в атмосфере, благодаря чему стало возможным появление аэробных организмов, способных к более эффективному использованию энергии, и быстрое распространение жизни по планете. Первые такие организмы появились при концентрации кислорода в атмосфере около 3%.</p>
    <p>Накопление содержания кислорода в атмосфере привело к образованию в верхних ее слоях озонового экрана, не пропускающего губительные для жизни коротковолновые ультрафиолетовые лучи. Это позволило живым существам подняться на поверхность воды и выйти на сушу. Развитие механизмов аэробного дыхания сделало возможным появление многоклеточных организмов. Уже в середине палеозойской эры содержание кислорода стабилизировалось на уровне около 20%, так как к этому времени темпы потребления кислорода живыми организмами и его образования при фотосинтезе уравнялись. Благодаря этому установилось относительное постоянство состава атмосферы.</p>
    <h3 class="text-center"><strong>Биосфера в период научно-технического прогресса.</strong></h3>
    <p>С появлением человека в эволюции биосферы начался переход от биогенеза, обусловливаемого факторами биологической эволюции, к <em>ноогенезу</em> – развитию под влиянием разумной деятельности человечества. Первоначально действие человека на окружающую среду не отличалось от действия других организмов. Используемые человеком природные источники восстанавливались естественным путем, а продукты его жизнедеятельности поступали в общий круговорот веществ.</p>
    <p>Современное человечество расходует потенциальную энергию биосферы почти в 10 раз быстрее, чем она накапливается организмами, аккумулирующими солнечную энергию. Ежегодно добывается более 7 млрд. т. металлов, угля, нефти. Одновременно из недр Земли извлекается около 70 млрд. т. пород (за счет вулканической деятельности – около 3 млрд. т.). Современная промышленность производит вещества, не используемые другими видами организмов (полимеры), а нередко и ядовитые (ДДТ). В результате нарушается биотический круговорот – он становится незамкнутым. Человек меняет русла рек, истребляет диких животных, загрязняет атмосферу, воду и почву.</p>
    <p>За последние 300 лет существования человечества биомасса Земли уменьшилась примерно на четверть. К началу XXI в. загрязнение окружающей среды приобрело глобальный характер и поставило человечество на грань экологической катастрофы.</p>
    <p>Учитывая вышесказанное, В.И. Вернадский пришел к заключению, что человечество в совокупности с другими структурно-функциональными элементами образуют новую оболочку Земли – <strong>ноосферу</strong> (оболочку разума), т. е. сферу разумной жизни. </p>
    <p>Ноосфера – это новый этап в развитии биосферы, предполагающий разумное регулирование отношений человек – природа.</p>
    <p><em>Положительное влияние человека:</em> выведение новых пород животных и сортов растений, создание культурных биогеоценозов, разработка штаммов микроорганизмов для микробиологической промышленности, развитие прудового хозяйства, внедрение полезных видов в новые условия обитания.</p>
    <p><em>Отрицательное влияние человека:</em> расходование сырья, почв, водных ресурсов, загрязнение среды, истребление видов, разрешение биогеоценозов, нерегулируемый промысел рыбы, млекопитающих, водорослей, изменение химического состава вод, воздуха, почвы в результате сбросов отходов, промышленности, транспорта, сельского хозяйства.</p>
    <p>Совокупность растений и животных, а также источники сырья составляют <strong>природные ресурсы.</strong></p>
    <p><strong>Невосполнимые природные ресурсы </strong> – источники сырья (руды, уголь, нефть), которые образовались в земной коре за сотни миллионов лет, а используются человеком за несколько десятилетий. </p>
    <p><strong>Восполнимые природные ресурсы</strong> – это микроорганизмы, протисты, грибы, растения и животные, которые относительно быстро могут размножаться и служат для удовлетворения потребностей человека в пище и одежде.</p>
    <h3 class="text-center"><strong>Загрязнение окружающей среды.</strong></h3>
    <ol type="1">
        <li><em>Физическое</em> (тепловое, шумовое, радиоактивное, электромагнитное).</li>
        <li><em>Химическое</em> (нитраты, тяжелые металлы, пестициды, нефть и нефтепродукты, пластмассы).</li>
        <li><em>Биологическое</em> (биогенное, микробиологическое, генно-инженерное).</li>
    </ol>
    <p><strong><u><em>Основные источники загрязнения атмосферы:</em></u></strong> транспорт и промышленные предприятия. Ежегодно в атмосферу поступает более 200 млн т оксида и диоксида углерода, 150 млн т сернистого газа, 50 млн т оксидов азота и т. д. Оксиды азота и серы, соединяясь с водяными парами, образуют азотную и серную кислоты, выпадающие на Землю в виде слабо концентрированных <em>кислотных дождей,</em> которые уничтожают растительный и животный мир и наносят вред здоровью человека.</p>
    <p>Воздух над промышленными центрами содержит в 150 раз больше пыли, чем над океаном, вследствие чего задерживается до 50% солнечных лучей. За последние 100 лет содержание в воздухе диоксида углерода возросло на 25%, результатом чего является <em>«парниковый» эффект,</em> который может привести к повышению температуры на планете, таянию полярных льдов и повышению уровня Мирового океана. </p>
    <p>В атмосфере значительно возросло содержание фреонов, разрушающих озоновый слой, что чревато проникновением на поверхность Земли коротковолнового ультрафиолетового излучения, губительного для всего живого.</p>
    <p><em><strong><u>Основные источники загрязнения гидросферы:</u></strong></em> сброс неочищенных или недостаточно очищенных вод промышленными предприятиями. С полей смываются минеральные удобрения и ядохимикаты. В водоемы попадают нефтепродукты и синтетические моющие средства. Все это приводит к гибели многих организмов преимущественно в прибрежных районах.</p>
    <p>Особенно вредное воздействие на морских обитателей оказывают <em>нефтяные пленки,</em> образующиеся после аварий танкеров и при добыче нефти на океанских шельфах. Они отравляют живые организмы и уменьшают насыщенность воды кислородом, что пагубно сказывается на размножении планктона – первого звена экологической пирамиды в океане.</p>
    <p><strong><em><u>Основные источники загрязнения литосферы:</u></em></strong> ненормированное применение в сельском хозяйстве минеральных удобрений, инсектицидов, дефолиантов и других препаратов. Особую проблему создают отходы производств (пустые породы) и бытовой мусор. </p>
    <p>Плодородный слой почвы в природных условиях формируется очень медленно (1 см за 100 лет). Для предупреждения истощения почв необходимо вносить органические и минеральные удобрения. Деятельность человека часто приводит к эрозии почв – к разрушению и сносу плодородного слоя потоками воды или ветром (осушенные торфяники на Полесье).</p>
    <p><strong><em><u>Загрязнение окружающей среды радионуклидами.</u></em></strong> Чрезвычайно обострилась эта проблема после аварии на Чернобыльской АЭС, послужившей причиной радиоактивного загрязнения больших территорий Беларуси, Украины и России. Радиоактивные изотопы передаются по цепям питания, содержатся в продуктах питания как растительного, так и животного происхождения и поступают в организм человека. Особенно опасно накопление в организме животных и человека изотопов стронция-90 и цезия-137, имеющих длительный период полураспада. Повышение радиоактивного фона может быть причиной увеличения частоты мутаций и развития опухолей.</p>
    <p>Под биологическим загрязнением понимают привнесение человеком в экосистемы нехарактерных для них живых организмов, ухудшающих условия существования биоценозов и отрицательно влияющих на здоровье человека. Особую опасность представляет биологическое загрязнение окружающей среды возбудителями инфекционных и инвазионных болезней (чума, холера, дизентерия, СПИД). </p>
    <p>В связи с быстрым развитием генной инженерии и биотехнологий не исключено попадание во внешнюю среду из лабораторий генетически измененных микроорганизмов, трансгенных растений и животных, влияние которых на другие живые организмы и человека изучено недостаточно.</p>
    <p>Серьезное вмешательство человека в экосистемы влечет за собой цепь экологических последствий. Например, сплошное осушение торфяников Полесья привело к значительному снижению уровня грунтовых вод, обмелению водоемов, эрозии почвы (выветривание торфа и снесение его в реки потоками воды) и появлению на поверхности песков; одновременно изменился и животный мир данного региона.</p>
    <p>Интенсивное загрязнение атмосферы, почвы и воды промышленными отходами, ядовитыми и радиоактивными веществами и биологическое загрязнение отражаются на здоровье человека. В последние годы наблюдается рост заболеваемости раком молочной, щитовидной желез и легких, а также рост количества хронических заболеваний легких и желудочно-кишечного тракта, аллергических заболеваний, наследственных болезней, обусловленных экологическими факторами.</p>
    <h3 class="text-center"><strong>Охрана природы.</strong></h3>
    <p><strong>Охрана природы</strong> – это комплексная система мероприятий, направленная на сохранение, рациональное использование и воспроизведение ресурсов Земли в интересах человека.</p>
    <p>В настоящее время перед человечеством вполне реально встает вопрос об экологическом кризисе, т. е. о таком состоянии окружающей среды, когда она будет непригодной для жизни растений, животных и самого человека. По мнению экспертов, экологическая ситуация, складывающаяся на Земле, действительно таит в себе опасность серьезных и, возможно, необратимых нарушений биосферы в том случае, если деятельность человека не приобретет планомерный, согласующийся с законами развития биосферы, характер.</p>
    <p>
        <strong>Меры охраны окружающей среды:</strong>
        <ol type="1">
            <li>Биологическое регулирование и сохранение устойчивости всех экосистем биосферы.</li>
            <li>Определение биологической продуктивности и рациональное использование ресурсов живой природы.</li>
            <li>Создание безотходных технологий (комплекс мероприятий, направленных на максимально полное использование сырья и образующихся при этом отходов, а также создание производства с замкнутым циклом без сброса сточных вод и без выброса в атмосферу вредных веществ). </li>
            <li>Очистка сточных вод.</li>
            <li>Фильтрация выбросов в атмосферу.</li>
            <li>Поиск альтернативных источников энергии.</li>
            <li>Нормирование использования удобрений и ядохимикатов.</li>
            <li>Включение видов в Красную книгу, создание охраняемых территорий (заповедников, заказников, национальных парков).</li>
            <li>Научно-просветительская деятельность – разъяснение населению, представителям власти и общественных организаций необходимости экономного использования невозобновляемых природных ресурсов, охраны биосферы от загрязнения, всего живого от истребления и методов решения этих проблем.</li>
            <li>Экологический мониторинг.</li>
        </ol>
    </p>
    <p><strong>Экологический мониторинг</strong> – система природоохранных мероприятий для оценки и прогноза изменений среды под влиянием антропогенных воздействий.</p>
    <p>Проведение постоянного длительного наблюдения (в том числе и биомониторинга) позволяет осуществлять контроль за состоянием параметров окружающей среды, степенью их ухудшения, источниками загрязнения, за уменьшением или увеличением количества контролируемых видов животных и растений.</p>
    <p>Биологический мониторинг позволяет оценивать специфические особенности среды путем наблюдения за видами-индикаторами, чувствительными к излишкам или недостаткам определенных параметров биосферы (при наличии в воздухе сернистого газа (вокруг промышленных предприятий) погибает большинство видов лишайников). </p>
    <p>Мониторинг дает возможность делать прогнозы о дальнейших тенденциях развития состояния окружающей среды под влиянием антропогенных воздействий; </p>
    <p>В 1948 г. при ЮНЕСКО был создан Международный союз охраны природы и природных ресурсов (МСОП), который проводил исследования по охране биосферы и пропаганде рационального использования природных ресурсов.</p>
    <p>
        Его комиссия по редким и исчезающим видам издала Международную Красную книгу, в которую было занесено около 20 тыс. видов. Все виды животных и растений в Книге разделены на <strong>5 категорий</strong> состояния популяций и их охраны:
        <ol type="1" start="0">
            <li> – виды, скорее всего, исчезнувшие, не обнаруженные в течение ряда лет, но, возможно, уцелевшие в некоторых недоступных местах или в неволе (культуре);</li>
            <li> – находящиеся под угрозой исчезновения виды, которым грозит непосредственная опасность вымирания; дальнейшее существование их невозможно без осуществления специальных мер охраны;</li>
            <li> – редкие виды, не находящиеся под непосредственной угрозой исчезновения, но встречающиеся в таком небольшом количестве, что могут быстро исчезнуть;</li>
            <li> – сокращающиеся виды, численность и ареал которых уменьшается в течение определенного времени либо по естественным, либо по антропогенным причинам;</li>
            <li> – не определенные (в плане систематики) виды, явно находящиеся под угрозой исчезновения, но недостаточно изученные.</li>
        </ol>
    </p>
    <p>В 1974 г. была издана Красная книга СССР, в которую занесены свыше 1200 видов животных и растений. В 1979 г. Постановлением Совета Министров БССР была учреждена Красная книга Белорусской ССР, принцип построения которой сходен с Международной Красной книгой. В 2004 г. вышло третье <em>издание Красной книги Республики Беларусь.</em></p>
    <p>В нее вошли 189 видов животных и 284 вида растений. В Книге приведены данные о распространении, численности, биологии занесенных в нее видов, принятых и необходимых мерах по дальнейшей их охране. Издание Красной книги преследует цель активизировать усилия государственных и общественных организаций по разработке и внедрению в практику конкретных научно обоснованных мер охраны редких и исчезающих видов растительного и животного мира.</p>
    <p class="text-center"><strong>По состоянию на 01.01.2001 7 7,6% территории РБ охраняемые. </strong></p>
    <p><strong>Заповедники</strong> – это территории (акватории), на которых запрещена деятельность человека (кроме научной) и весь природный комплекс сохраняется в естественном состоянии. Главной задачей биосферных заповедников является многолетнее экологическое исследование природных и антропогенных экосистем и проведение мониторинга. <strong><em>В РБ – 2 заповедника: Березинский биосферный (Бегомль) и Полесский радиоэкологический (Наровля и Брагин).</em></strong></p>
    <p><strong>Национальные парки</strong> – это охраняемые территории с сохранившимися природными комплексами, частично или полностью открытые для посещения. <strong><em>В РБ – 4 национальных парка (Беловежская пуща, Браславские озера, Припятский и Нарочанский).</em></strong></p>
    <p><strong>Заказники</strong> – это территории (акватории), на которых временно или постоянно сохраняются определенные виды растений, животных, элементы ландшафтов и другие памятники природы. <strong><em>В РБ – 94 заказника республиканского значения (Голубые озера, Налибокская пуща, Освейское озеро) и 458 местного значения (Фомино в Витебской области, озеро Долгое).</em></strong></p>
    <p><strong>Памятники природы</strong> – уникальные или эталонные, имеющие ценность в научном, познавательном или эстетическом отношении разнообразные природные объекты (отдельные деревья, рощи, парки, озера, водопады, пещеры). <strong><em>В РБ памятников природы республиканского значения – 333, местного – 548: Купаловский и Колосовский исторические, комплексные – Мирский замок, Несвижский парк.</em></strong></p>
</div>
