<p>
    Грибы – это обособленная группа низших эукариот, образующих самостоятельное царство и сочетающие в себе признаки животных и растений. Наука, изучающая грибы, называется <strong>микология.</strong>
</p>
<p>
     <strong>Сходства с растениями:</strong>
    <ol type="1">
        <li>Неподвижность в вегетативном состоянии.</li>
        <li>Неограниченный верхушечный рост (рост в течение всей жизни).</li>
        <li>Осмотический способ питания.</li>
        <li>Размножение спорами.</li>
        <li>
            Наличие клеточной стенки (содержит хитин). <strong>N.B.</strong> хитин также содержит оболочка клеток членистоногих)
        </li>
        <li>Наличие центральной вакуоли с клеточным соком</li>
        <li>Отсутствие центриолей.</li>
    </ol>
</p>
<p>
     <strong>Сходства с животными:</strong>
    <ol type="1">
        <li>Гетеротрофный тип питания.</li>
        <li>Отсутствие пластид и хлорофилла.</li>
        <li>Оболочка клеток содержит хитин.</li>
        <li>Способны к синтезу витаминов.</li>
        <li>Основное запасное питательное вещество - гликоген (у растений крахмал).</li>
        <li>Основной продукт обмена – мочевина. </li>
    </ol>
</p>
<p>
    <strong>Среда обитания:</strong> богатая органическими веществами почва, растительные остатки, пищевые продукты, организм человека, животных, растений (эктопаразиты и эндопаразиты).
</p>
<p>
    <strong>Морфологическая характеристика:</strong>Вегетативное тело гриба <strong>(мицелий, грибница), </strong>состоит из бесцветных нитей <strong>(гиф), </strong>с неограниченным верхушечным ростом и боковым ветвлением (у дрожжей тело представлено одиночными делящимися клетками). Мицелий может быть <strong>септирован </strong>(разделен перегородками на клетки – пеницилл, шляпочные и паразитические грибы) и <strong>не септирован </strong> (мукор) и представляет собой одну клетку с большим количеством ядер.
</p>
<p>
    <strong>Разновидности мицелия грибов:</strong>
    <ol type="1">
        <li><strong>Субстратный</strong> – находится внутри субстрата, служит для прикрепления к субстрату, поглощения и транспортировки воды и растворенных в ней веществ.</li>
        <li><strong>Воздушный</strong> – поднимается над субстратом, образует органы размножения. </li>
    </ol>
</p>
<p>
    <strong>Видоизменения мицелия:</strong>
    <ol type="1">
        <li><strong>Ризоморфы</strong> – плотно склеенные слизью пучки гиф длиной до нескольких метров, служат для преодоления грибом неприспособленных к жизни расстояний (каменные стены, сухие стволы деревьев) – РАССЕЛЕНИЕ. </li>
        <li><strong>Столоны</strong> – воздушные дугообразные гифы – РАСПРОСТРАНЕНИЕ по субстрату.</li>
        <li><strong>Аппрессории</strong> – плоские утолщения на ветках гиф – ПРИКРЕПЛЕНИЕ к субстрату.</li>
        <li><strong>Склероции</strong> – плотное переплетение гиф мицелия – ПЕРЕНЕСЕНИЕ НЕБЛАГОПРИЯТНЫХ УСЛОВИЙ.</li>
        <li><strong>Гаустории</strong> – специальные выросты мицелия, проникающие в клетку-хозяина и поглощающие из них питательные вещества (грибы-паразиты).</li>
        <li><strong>Ловчие аппараты </strong>– гифы гриба (крючковидные отростки, клейкие выросты, кольца-ловушки), характерные для хищных грибов, использующих в пищу мелких беспозвоночных животных (круглых червей) и протистов. </li>
    </ol>
</p>
<p>
    <strong>Физиологическая характеристика:</strong> Тип питания – гетеротрофный. Способы питания – сапротрофы (питаются органическими веществами мертвых организмов – плесневые грибы, шляпочные грибы) и симбионты (мутуалистические (микориза и лишайник) и паразитические формы).
</p>
<p>
    <strong>Мутуалистические формы: Микориза </strong>(гриб+корень дерева (голосеменные и покрытосеменные) - гриб поглощает воду и минеральные вещества и «передает»» их дереву; дерево осуществляет фотосинтез, обеспечивая органическими веществами и себя, и гриб). <strong>Лишайник </strong>(гриб+зеленая водоросль/автотрофный протист/цианобактерия) - гриб поглощает воду и минеральные вещества и «передает» их автотрофному компоненту; автотроф осуществляет фотосинтез, обеспечивая органическими веществами и себя, и гриб).
</p>
<p>
    <strong>Паразитические формы:</strong> (живут в организме-хозяина, наносят ему вред, вызывают заболевания (микозы):
    <div class="container">
        <div class="row">
            <div class="col">
                <ol type="1">
                    <li><strong>Спорыньевые грибы</strong> (спорынья): паразитируют на злаках. На злаковых растениях вырастают темные рожки, содержащие ядовитые вещества (алкалоиды-галлюциногены). Мука, приготовленная из зараженных колосьев может вызвать сильное отравление, сопровождаемое гангреной («антонов огонь») и судорогами («злые корчи»).</li>
                    <li><strong>Мучнисторосные грибы (мучнистая роса):</strong> паразитируют на злаках. На поверхности развивается беловатый мицелий, затем мицелий становится коричневым.</li>
                    <li><strong>Головневые грибы (головня):</strong> Паразитируют на злаках. Мицелий развивается внутри побегов растений, выросших из зараженных семян; образующиеся колонии приобретают «обугленный вид», т.к. мицелий к моменту созревания распадается на споры.</li>
                </ol>
            </div>
            <div class="col">
                <img src="~/Images/thema4/паразиты.png" />
            </div>
        </div>
    </div>
    <ol type="1" start="4">
        <li><strong>Ржавчинные грибы (ржавчина):</strong> паразитируют на злаках, повреждают ткани растений, нарушая процессы фотосинтеза, дыхания, транспирации, что приводит к потере урожая или гибели растения (заболевание называется ржавчина). </li>
        <li><strong>Трутовые грибы (гриб-трутовик):</strong> Паразитирует на стволах деревьев. Мицелий проникает в древесину и питается органическими веществами ее клеток.</li>
    </ol>
</p>
<p>
    <strong>Заболевания, вызываемые грибами (микозы):</strong>
    <ol type="square">
        <li>растений: альтернариоз, монилиоз (плодовая гниль), аскохитоз, парша.</li>
        <li>животных и человека:<strong><u>парша, микроспория, трихофития, стригущий лишай, актиномикоз, кандидоз (молочница), бластомикоз, пневмомикоз.</u></strong></li>
    </ol>
</p>
<p>
    <strong>Способы размножения грибов:</strong> Бесполое:
    <ol type="1">
        <li>Вегетативное (частями мицелия, распадением мицелия на отдельные клетки, почкование);</li>
        <li>Спорами (экзогенными – <strong>конидиями</strong>- пеницилл, образующимися в конидиеносцах и эндогенными, образующимися в спорангиях – мукор). У дрожжей и паразитических грибов есть половой процесс – <strong>копуляция.</strong></li>
    </ol>
</p>
<h3 align="center">ПЛЕСНЕВЫЕ ГРИБЫ.</h3>
<p>
    <strong>Мукор (головчатая плесень)</strong> – пушистый налет белого цвета, который через некоторое время чернеет (хлеб, сыр, конский навоз). Мицелий не септирован (одноклеточный), представляет собой сильно вытянутую клетку со множеством ядер. На концах гиф воздушного мицелия развиваются округлые головки (шаровидные спорангии), в которых образуются споры и в благоприятных условиях прорастают в новый мицелий.
</p>
<p>
    <strong>Пеницилл (кистевик, зеленая или сизая плесень)</strong>– налет зеленого, сизого, голубого цветов (плоды, овощи, варенье). Мицелий септирован (многоклеточный), на концах разветвленных гиф воздушного мицелия образуются кисточки (конидиеносцы) с экзогенными спорами (конидиями). Клетки мицелия вырабатывает пенициллин – антибиотик, подавляющий рост и развитие болезнетворных бактерий.
</p>
<p>
    <strong>Аспергилл</strong> – плоские пушистые колонии, вначале белого цвета, а затем, в зависимости от вида, они принимают разную окраску (хлеб, овощи, фрукты, зерновые, переплеты книг, произведения искусств), мицелий септирован (многоклеточный). Цепочки спор образуются на шаровидных и булавовидных вздутиях на верхушках приподнимающихся гиф. Также способен к выработке антибиотика (слабее пенициллина).
</p>
<p>
    Свойство выработки у грибов антибиотиков открыл в 1929 г. американский ученый А.Флеминг.
</p>
<p>
    <strong>Дрожжи</strong> – неподвижные клетки овальной формы (НЕ ИМЕЮТ МИЦЕЛИЯ). Размножаются в благоприятных условиях почкованием, в неблагоприятных условиях протекает половой процесс – копуляция с последующим образованием сумки с 4-8 спорами. Широко используются в хлебопечении, изготовлении вин, пива и других спиртосодержащих продуктах.
</p>
<p>
    <div class="container">
        <div class="row">
            <img src="~/Images/thema4/грибы.png" class="img-fluid rounded mx-auto d-block " />
        </div>
    </div>
    <strong>Схема строения грибов: </strong>1 - мицелий; 2 - спорангий; 3 - конидии; 4 - почкующаяся клетка дрожжей; 5 - шляпка плодового тела; 6 - ножка плодового тела
</p>
<h3 align="center">ШЛЯПОЧНЫЕ ГРИБЫ.</h3>
<p>
    <strong>Условия жизни грибов в лесу: </strong>
    <ol type="1">
        <li>Богатая органическими веществами почва. </li>
        <li>Наличие деревьев-симбионтов (белые грибы растут вблизи лиственных деревьев; рыжики, волнушки, груздья в хвойных лесах).</li>
        <li>Определенный температурный режим (в средней полосе оптимальная температура приходится на позднюю осень, лето и осень).</li>
        <li>Наличие кислорода (необходим для клеточного дыхания – синтез АТФ), наличие воды.</li>
    </ol>
</p>
<p>
    Шляпочные грибы – грибы-симбионты, субстратный мицелий которых образует микоризу с корнями высших растений (голосеменных и покрытосеменных). <strong>Воздушный мицелий</strong> формирует органы спороношения – <strong>плодовые тела,</strong> представляющие собой плотный пучок гиф <strong>(псевдоткань плектенхима).</strong> Плодовое тело состоит из ножки (пенька) и шляпки. <strong>Шляпка</strong> состоит из 2-х слоев: 1. Кожица (верхний слой) более плотный, чаще окрашенный. 2. Нижний слой более рыхлый, состоящий либо из радиально расположенных пластинок, либо из многочисленных трубочек. В зависимости от строения нижнего слоя шляпочные грибы делятся на <strong>трубчатые</strong><em> (белый гриб, подберезовик, подосиновик, желчный гриб, масленок, моховик)</em> и <strong>пластинчатые</strong><em> (сыроежки, опенки, мухоморы, лисички, грузди, шампиньоны, рыжики, поганки).</em> Споры шляпочных грибов называются <strong>базидиями.</strong> У некоторых грибов (сыроежка, рыжик, белый гриб, подберезовик) споры созревают под шляпкой открыто, у других (шампиньон, мухомор, масленок) они сначала защищены <strong>покрывалом,</strong> которое затем разрывается.
<p>
    Все шляпочные грибы можно разделить на ядовитые, условно съедобные и безусловно съедобные.
</p>
<p>
    <strong>Ядовитые грибы </strong>могут вызвать отравление со смертельным исходом – бледная поганка, мухомор, желчный гриб (содержит яд – фоллин). Кроме того, отравления могут вызвать съедобные стареющие грибы и выросшие на загрязненных радионуклидами или тяжелыми металлами (вдоль дорого) территориях. Первая помощь: промыть желудок слабым раствором KMnO4, освободить кишечник с помощью клизмы, обильное теплое питье.
</p>
<p>
    <strong>Условно съедобные грибы:</strong> при приготовлении необходимо использовать дополнительные методы обработки (варка, вымачивание, высушивание) – сморчки, строчки, волнушки.
</p>
<p>
    <strong>Безусловно съедобные грибы</strong> можно использовать в пищу без дополнительной обработки. Свежие грибы на 84-94% состоят из воды. В сухом веществе содержатся 6-25% минеральных солей и витаминов (A, B1, B2, D). Около 30% сухой массы грибов – белки, 17-60% - углеводы, 1,5-10% - жиры. Наиболее часто в пищу употребляются белые грибы, подберезовики, подосиновики, грузди, лисички, шампиньоны.
</p>
<h3 align="center">Лишайники.</h3>
<p>
    <strong>Представители:<u>ксантория, кладония, уснея, ягель, гирофора, ризокарпон, пельтигера, цетрария, нефрома, эверния.</u></strong>
</p>
<p>
    Лишайники – своеобразная группа живых организмов, тело которых образовано двумя организмами: гетеротрофным компонентом – грибом и автотрофным компонентом – цианобактерией или автотрофным протистом или зеленой водорослью, которые находятся во взаимовыгодном сожительстве (мутуализме). Количество видов – 26000. Наука, изучающая лишайники, называется <strong>лихенология.</strong>
</p>
<p>
    <strong>Среда обитания:</strong> скалы, камни, крыши домов, кора деревьев, стекло, древесный уголь, смола, кости, фаянс, фарфор, кожа, линолеум, железо и другие места, непригодные для обитания других живых организмов.
</p>
<p>
    Продолжительность жизни лишайников – 50-100 лет. Скорость роста – 0,5-10 мм в год. Размеры: от долей миллиметров до нескольких десятков сантиметров. Тело лишайника обычно серого, светло-бурого или темно-бурого цвета.
</p>
<p>
    Тело лишайника – <strong>таллом (слоевище),</strong> представлено грибом <strong>(микобионт)</strong>  – отдельно существовать не может, и цианобактерией/зеленой водорослью/автотрофным протистом <strong>(фикобионт)</strong> – может существовать отдельно.
</p>
<p>
     <strong>Функции микобионта:</strong> прикрепляет лишайник к субстрату, обеспечивает автотрофный компонент водой и минеральными веществами, защищает от высыхания. <strong>Функция фикобионта:</strong> снабжает гриб органическими веществами.
</p>
<p>
     <strong>Классификация лишайников по форме слоевища:</strong>
    <ol type="1">
        <li><strong>Накипные (корковые)</strong> – около 80% видов. Слоевище в виде тонкой корочки, прочно сросшейся с субстратом и неотделимо от него.</li>
        <li><strong>Листоватые</strong> – имеют вид чешуек или пластинок, прикрепляющимися к субстрату пучками гиф мицелия гриба <strong>(ризинами)</strong>  – ризокарпон, пельтигера, ксантория.</li>
        <li><strong>Кустистые</strong> – кустики, образованные тонкими ветвящимися нитями, прикрепляющиеся к субстрату лишь <strong>основанием</strong> (цетрария, нефрома, эверния, кладония, олений <strong>мох</strong> (ягель), исландский <strong>мох</strong>)</li>
    </ol>
</p>
<div class="container">
    <div class="row">
        <img src="~/Images/thema4/строение слоевища.png" class="rounded mx-auto d-block img-fluid" />
    </div>
</div>

<p>
    <strong>Классификация лишайников по анатомическому строению:</strong>
    <ol type="1">
        <li><strong>Гомеомерные</strong> – слоевище представляет собой рыхлое сплетение гиф гриба, среди которых равномерно расположены клетки фикобионта.</li>
        <li><strong>Гетеромерные</strong> – слоевище разделено на несколько диффенцированных слоев (верхняя кора, фикобионт, микобионт (сердцевина), нижняя кора). Верхняя и нижняя кора образованы плотно сплетенными гифами гриба, выполняют защитную функцию. Такое строение характерно для большинства листоватых и кустистых лишайников.</li>
    </ol>
</p>
<div class="container">
    <div class="row">
        <img src="~/Images/thema4/анат.png" class="rounded mx-auto d-block img-fluid" />
    </div>
</div>
<p align="center">
    <strong>Строение гомеомерного (А) и гетеромерного (Б) лишайников:</strong> А: 1- клетки фикобионта; 2 – гифы гриба. Б: 1 – верхняя и нижняя кора, 2- фикобионт (слой водоросли), 3- микобионт (сердцевина), 4- ризины.
</p>
<p>
    <strong>Размножение лишайников:</strong> вегетативное (участками таллома) и специализированными образованиями (соредиями и изидиями).
</p>
<p>
    <strong>Соредии (1) </strong> – вегетативное образование, напоминающее клубочки, состоящее из нескольких клеток фикобионта, оплетенные гифами гриба, фомируются ЭНДОГЕННО под верхней корой в фотосинтезирующем слое. Под давлением разросшейся массы многочисленных соредий корковый слой таллома разрывается, и соредии выходят на поверхность, разносятся ветром, каплями дождя.
</p>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Изидии (2)</strong> – вегетативные образования, которые развиваются ЭКЗОГЕННО как мелкие выросты верхней поверхности слоевища в виде палочек, бугорков, покрытых снаружи корой. Включают в себя клетки фикобионта, оплетенные гифами гриба. Отламывается и формируется новый таллом.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema4/соредии и изидии.png" class="rounded mx-auto d-block" />
        </div>
    </div>
</div>
<p>
    <strong>Роль лишайников в природе:</strong>
    <ol type="1">
        <li>Разрушают горные породы.</li>
        <li>Участвуют в почвообразовании, образуют перегной.</li>
        <li>Являются индикаторами экологической обстановки (чистоты воздуха) – не живут в местах загрязнений, участвуют в круговороте веществ.</li>
        <li>Используются в качестве корма для животных (олений мох), могут использоваться в пищу человеком (лишайниковая манна, гирофора).</li>
        <li>Являются сырьем для получения лекарственных препаратов – лишайниковых кислот, обладающих антибиотическими свойствами (антибиотики, бактерицидные вещества), а также для производства красок, лакмуса, спиртов и ароматических веществ (дубовый мох, лобария, эверния).</li>
    </ol>
</p>
<a href=@Url.Action("Test4","Test")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>