<div class="container">
    <p><strong>Эндокринный аппарат </strong> – это совокупность желез внутренней секреции, которые не имеют выводных протоков и выделяют свои продукты (гормоны) непосредственно в кровь и тканевую жидкость.</p>
    <p>Регуляция функций организма с помощью различных химических биологически активных веществ (БАВ), в частности гормонов, называется <em>гуморальной регуляцией.</em></p>
    <p>К железам внутренней секреции (эндокринным) относятся: гипофиз, эпифиз, щитовидная и околощитовидные железы, тимус, надпочечники, островковая часть поджелудочной железы (островки Лангерганса) и внутрисекреторная часть половых желез.</p>
    <p>Некоторые из вышеперечисленных желез выполняют функцию не только желез внутренней секреции, но и внешней (поджелудочная железа и половые железы). Такие железы называются<em> железами смешанной секреции. </em></p>
    <p>
        <strong>По химической природе гормоны могут быть:</strong>
        <ol type="1">
            <li><em>Аминокислотами</em> (гормон щитовидной железы тироксин, гормон надпочечников адреналин, мелатонин);</li>
            <li><em>Белково-пептидными соединениями</em> (окситоцин, антидиуретический и адренокортикотропный гормоны, пролактин, паратгормон, глюкагон, инсулин, гонадотропины, соматотропин);</li>
            <li><em>Стероидами</em> (гормоны коры надпочечников (альдостерон) и половых желез (эстрогены, прогестерон, тестостерон));</li>
            <li><em>Производными жирных кислот</em> (простагландины).</li>
        </ol>
    </p>
    <p>
        <strong>Свойства гормонов:</strong>
        <ol type="1">
            <li><em>Высокая физиологическая активность</em> – оказывают действие в очень низких концентрациях; </li>
            <li><em>Специфичность:</em> имеют определенную химическую структуру, вырабатываются определенными клетками или железами, действуют на определенные органы, выполняют специфические функции;</li>
            <li><em>Оказывают общее (дистантное) и местное действие</em> на рядом расположенные клетки органа; </li>
            <li><em>Дозозависимый эффект</em> – действие гормонов зависит от дозы (нормофункция, гипо- и гиперфункция);</li>
            <li><em>Сравнительно небольшая молекулярная масса</em> – легкое проникновение через стенки капилляров в ткани;</li>
            <li><em>Быстрое разрушение в тканях;</em></li>
            <li><em>Действие на органы-мишени </em> (органы, реагирующие на действие гормона) через определенные рецепторы;</li>
            <li><em>Нет видовой специфичности</em> (одинаковое действие у человека и животных). </li>
        </ol>
    </p>
    <p>Восприятие гормонов осуществляется гликокаликсом (надмембранным комплексом) клеток. Действие гормонов основано на способности к быстрым изменениям своей структурной организации, на повышении проницаемости мембран, стимуляции активности ферментов, активации или угнетении функциональной активности генов.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Согласно современной классификации, в эндокринном аппарате выделяют два отдела (звена): центральный и периферический. </p>
                <p><em>Центральное звено:</em> гипоталамус (нейросекреторные ядра), гипофиз и эпифиз. </p>
                <p><em>Периферическое звено:</em> щитовидная и околощитовидные железы, надпочечники; скопления клеток, продуцирующих гормоны, в поджелудочной железе, тимусе (вилочковой железе) и половых железах, одиночные клетки, продуцирующие гормоны в стенке пищеварительного канала, в стенке дыхательных и мочевыводящих путей и др. (диффузная эндокринная система).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema42/Гармоны человека.png" alt="Гармоны человека" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <h3 class="text-center"><strong>Сравнительная характеристика нервной и гуморальной регуляции.</strong></h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Признак</td>
                <td>Гуморальная регуляция</td>
                <td>Нервная регуляция</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Природа сигнала</td>
                <td>Гормон</td>
                <td>Нервный импульс</td>
            </tr>
            <tr>
                <td>Скорость передачи сигнала</td>
                <td>0,5 м/с (медленно)</td>
                <td>120 м/с (быстро)</td>
            </tr>
            <tr>
                <td>Способ передачи сигнала</td>
                <td>Химический (кровь, лимфа)</td>
                <td>Электрический (нервное волокно) и химический (синапс)</td>
            </tr>
            <tr>
                <td>Продолжительность действия</td>
                <td>Длительное</td>
                <td>Короткое</td>
            </tr>
            <tr>
                <td>Направленность действия</td>
                <td>Генерализованное (доставляется ко всем органам)</td>
                <td>Локальное (определенное волокно мышцы или орган)</td>
            </tr>
            <tr>
                <td>Наличие обратной связи</td>
                <td>Редко</td>
                <td>Всегда</td>
            </tr>
            <tr>
                <td>Взаимосвязь</td>
                <td>Влияет на функции нервной системы</td>
                <td>Регулирует деятельность ЖВС</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center"><strong>Классификация гормонов по направленности действия:</strong></h3>
    <ol type="1">
        <li><em>Релизинг-гормоны</em> – гормоны, вырабатываемые гипоталамусом и регулирующие деятельность гипофиза;</li>
        <li><em>Тропные гормоны</em> – гормоны, вырабатываемые гипофизом и регулирующие действие всех ЖВС;</li>
        <li><em>Эффекторные гормоны</em> – гормоны, регулирующие деятельность органов.</li>
    </ol>
    <p>
        <strong>Классификация гормонов по локализации действия:</strong>
        <ol type="1">
            <li><em> Истинные</em> (органы-мишени дистанцированы от желез) – центральное звено);</li>
            <li><em>Местные</em> (тканевые) – периферическое звено (гастрин повышает секрецию желудочных и поджелудочной желез, усиливает моторику желудка, тонкой кишки и желчного пузыря; ренин вызывает сосудосуживающий эффект в почках).</li>
        </ol>
    </p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Название гормона</td>
                <td>Место действия гормона</td>
                <td>Воздействие на организм</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3"><strong>Гипоталамус</strong> (промежуточный мозг) – высший центр регуляции эндокринных функций</td>
            </tr>
            <tr>
                <td>Либерины</td>
                <td rowspan="2">Гипофиз (передняя доля)</td>
                <td>Активируют выработку тропных гормонов передней долей гипофиза</td>
            </tr>
            <tr>
                <td>Статины</td>
                <td>Тормозят выработку тропных гормонов передней долей гипофиза</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Гипофиз.</strong> Масса 0,5–0,7 г, находится на основании головного мозга в турецком седле клиновидной кости, состоит из трех долей: передней, средней и задней.</td>
            </tr>
            <tr>
                <td colspan="3"><em>Передняя доля (аденогипофиз)</em></td>
            </tr>
            <tr>
                <td rowspan="4">Соматотропин (соматотропный гормон, СТГ, гормон роста)</td>
                <td rowspan="4">Весь организм</td>
                <td>Дети</td>
            </tr>
            <tr>
                <td>
                    Контролирует рост организма (ускоряет рост мышц и костей, стимулирует синтез белков, влияет на обмен углеводов и жиров). Гиперфункция: гигантизм (пропорциональное увеличение роста и массы тела). Гипофункция: карликовость (пропорциональное уменьшение роста и массы тела).
                </td>
            </tr>
            <tr>
                <td>Взрослые</td>
            </tr>
            <tr>
                <td>Синтез белков, поддержание жирового и углеводного обменов. Гиперфункция: акромегалия (непропорциональное увеличение носа, языка, кистей рук, внутренних органов – печени, сердца). Гипофункция: нарушение обмена веществ (резкое похудание или ожирение).</td>
            </tr>
            <tr>
                <td>
                    Адренокортикотропин (адренокортикотпропный гормон, АКТГ)
                </td>
                <td>
                    Кора надпочечников
                </td>
                <td>Регулирует синтез и секрецию гормонов коры надпочечников (секреция АКТГ резко усиливается при стрессе)</td>
            </tr>
            <tr>
                <td>Тиреотропин, (тиреотропный гормон, ТТГ)</td>
                <td>
                    Щитовидная железа
                </td>
                <td>Регулирует синтез и секрецию гормонов щитовидной железы (принцип обратной связи)</td>
            </tr>
            <tr>
                <td colspan="3">Гонадотропины (гонадотропные гормоны)</td>
            </tr>
            <tr>
                <td>Пролактин</td>
                <td>Молочная железа</td>
                <td>Стимулирует рост ткани молочной железы и выработку молока. Гипофункция: прекращение или отсутствие лактации.</td>
            </tr>
            <tr>
                <td>
                    Фолликулостимулирующий гормон (ФСГ)
                </td>
                <td>Яичники, яички</td>
                <td>
                    Женщины: стимулирует рост фолликулов, секрецию эстрогенов и овуляцию. Гиперфункция: гиперовуляция; гипофункция: ановуляторные циклы (бесплодие).
                    <br />
                    Мужчины: стимулирует развитие ткани семенников, сперматогенез и секрецию андрогенов. Гипофункция: недоразвитие ткани семенников и нарушение сперматогенеза (бесплодие).
                </td>
            </tr>
            <tr>
                <td>Лютеинизирующий гормон (ЛГ)</td>
                <td>Яичники, яички</td>
                <td>
                    Женщины: стимулирует развитие желтого тела после овуляции и выработку прогестерона, развитие и созревание половых клеток. Гипофункция: невозможность имплантации бластоцисты.
                    <br />
                    Мужчины: развитие и созревание половых клеток, секреция половых гормонов. Гипофункция: нарушение сперматогенеза.
                </td>
            </tr>
            <tr>
                <td colspan="3"><em>Средняя доля гипофиза</em></td>
            </tr>
            <tr>
                <td>Меланотропин (интермедин)</td>
                <td>Кожа</td>
                <td>Регуляция пигментации кожи (стимулирует выработку меланина). Гиперфункция: повышение пигментации кожи. Гипофункция: <strong>альбинизм.</strong></td>
            </tr>
            <tr>
                <td>Липотропин</td>
                <td>Жировая ткань</td>
                <td>Регуляция обмена липидов. Гиперфункция: похудание. Гипофункция: ожирение.</td>
            </tr>
            <tr>
                <td colspan="3"><em>Задняя доля гипофиза (нейрогипофиз).</em> <strong>N.B.!!!</strong> Гормоны вырабатываются гипоталамусом, накапливаются в задней доле гипофиза и оттуда выделяются в кровь.</td>
            </tr>
            <tr>
                <td>Окситоцин</td>
                <td>Гладкие мышцы (матка)</td>
                <td>Стимуляция сокращение матки и изгнание плода, способствует выделению молока у кормящей женщины. Гиперфункция: преждевременные роды, выкидыши. Гипофункция: слабость родовой деятельности.</td>
            </tr>
            <tr>
                <td>Вазопрессин (антидиуретический гормон)</td>
                <td>Собирательные трубочки почек, артериолы</td>
                <td>Диурез – мочеотделение. Облегчает реабсорбцию воды, угнетает мочеобразование, повышает артериальное давление. Гиперфункция: интоксикация организма мочевиной, олигоурия (до 250 мл/сут). Гипофункция: <strong>несахарный диабет</strong> (отличие от сахарного диабета – моча не содержит глюкозу): полиурия (до 20 л/сут), жажда.</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Эпифиз (шишковидная железа).</strong> <br />Конусообразная форма (0,5-1 см, 0,25 г), связана с эпиталамусом.</td>
            </tr>
            <tr>
                <td>Мелатонин (ночью)</td>
                <td>Весь организм</td>
                <td>Регуляция полового созревания. Гиперфункция: торможение полового созревания. Гипофункция: раннее половое созревание. </td>
            </tr>
            <tr>
                <td>Серотонин (днем)</td>
                <td>Весь организм</td>
                <td>Регуляция двигательной активности ЖКТ, выделение слизи; регуляция биоритмов организма: рост, развитие, самочувствие, работоспособность; регуляция сна, терморегуляции.</td>
            </tr>
        </tbody>
    </table>
    <p><strong>Щитовидная железа.</strong> Располагается на передней поверхности трахеи и боковых стенках гортани, масса 30–60 г, состоит из двух долей и перешейка, снаружи покрыта соединительнотканной оболочкой. Внутри железы имеются небольшие пузырьки – фолликулы, являющиеся структурно-функциональными единицами щитовидной железы. Стенки фолликулов образованы железистым эпителием и заполнены особым коллоидным веществом. В состав гормонов входит йод.</p>
    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <td>Тироксин, трийодтиротин</td>
                <td>Весь организм</td>
                <td>
                    <p>Регуляция роста и развития организма; обмена веществ; потребления кислорода тканями; возбудимости нервной системы; состояния сердечно-сосудистой системы; влияние на ЦНС и ВНД.</p>
                    <p>Гиперфункция: <strong>базедова болезнь</strong> (повышенный обмен веществ, повышенная возбудимость ЦНС, пучеглазие, увеличение размеров щитовидной железы, похудание). Гипофункция: дети – <strong>кретинизм</strong> (непропорциональная задержка роста, отставание в умственном и половом развитии); взрослые – <strong>микседема/слизистый отек</strong> (пониженный обмен веществ, отек тканей, выпадение волос, сухость кожи, ухудшение памяти).</p>
                </td>
            </tr>
            <tr>
                <td>Кальцитонин (тиреокальцитонин)</td>
                <td>Антагонист паратгормона</td>
                <td>Регуляция обмена кальция и фосфора (переводит Ca<sup>2+</sup> из крови в кости). Гиперфункция: судороги, выпадение зубов. Гипофункция: отложения Ca<sup>2+</sup> в легких, почках, множественные переломы.</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Паращитовидные железы.</strong> 4 овальных тельца в капсуле щитовидной железы (0,5 см, 0,1 г).</td>
            </tr>
            <tr>
                <td>Паратгормон (паратиреокрин, паратирин).</td>
                <td>Антагонист кальцитонина</td>
                <td>Регуляция обмена кальция и фосфора (переводит Ca<sup>2+</sup> из костей в кровь). Гиперфункция: отложения Ca<sup>2+</sup> в легких, почках, множественные переломы. Гипофункция: <strong>тетания</strong> (судороги), выпадение зубов.</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Тимус (вилочковая или зобная железа).</strong> Расположена в грудной клетке за грудиной около передней поверхности сердца, состоит из долек, имеет мозговой и корковый слои. Хорошо развита в дорепродуктивном возрасте, у взрослых в норме замещена жировой тканью.</td>
            </tr>
            <tr>
                <td>Тимозин</td>
                <td>Весь организм</td>
                <td>Стимуляция реакций клеточного иммунитета; противоопухолевый эффект, предотвращение развития синдрома истощения (отставания в росте, малоподвижность).</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Надпочечники.</strong> Парные железы над верхним полюсом почек, масса около 12 г. Имеют наружный – корковый и внутренний – мозговой слои.</td>
            </tr>
            <tr>
                <td colspan="3"><em>Корковый слой надпочечников</em></td>
            </tr>
            <tr>
                <td>Глюкокортикостероиды (кортизон, кортикостерон, гидрокортизон)</td>
                <td>Канальцы почек, артерии</td>
                <td>Регуляция обмена белков, жиров и углеводов; регуляция водно-солевого обмена; стимуляция гликогенеза; поддержание постоянства уровня глюкозы крови, противовоспалительное действие. Гипофункция: <strong>аддисонова (бронзовая) болезнь:</strong> бронзовая окраска кожи, истощение, повышенная утомляемость, слабость, снижение артериального давления.</td>
            </tr>
            <tr>
                <td>Минералокортикостероиды (альдостерон)</td>
                <td>Весь организм</td>
                <td>Антагонист вазопрессина (регуляция обмена электролитов и воды, влияние на тонус сосудов)</td>
            </tr>
            <tr>
                <td>Половые гормоны (андрогены, эстрогены, прогестерон)</td>
                <td>Половые железы</td>
                <td>Важная роль в развитии первичных и вторичных половых признаков в детском возрасте, а также в старческом возрасте, когда функция половых желез слабо выражена. В период половой зрелости их роль невелика.</td>
            </tr>
            <tr>
                <td colspan="3"><em>Мозговой слой надпочечников</em></td>
            </tr>
            <tr>
                <td>Катехоламины (адреналин, норадреналин)</td>
                <td>Миокард, гладкие мышцы артериол</td>
                <td>Влияние аналогично симпатической нервной системе (повышают частоту и силу сердечных сокращений, тонус артериол, артериальное давление, стимулирует сокращение гладких мышц)</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Поджелудочная железа.</strong> Железа смешанной секреции, в железистой ткани разбросаны группы клеток, не связанные с выводными протоками железы – островки Лангерганса (α- и β-клетки).</td>
            </tr>
            <tr>
                <td>Инсулин (β-клетки)</td>
                <td>Весь организм</td>
                <td>Стимулирует синтез гликогена в печени и мышцах, снижает содержание глюкозы крови, норма глюкозы в капиллярной крови – 3,3-5,5 ммоль/л. Гиперфункция: снижение уровня глюкозы крови ниже нормы (гипогликемия) – нарушение деятельности головного мозга, головокружение, слабость, потеря сознания, шок. Гипофункция: <strong>сахарный диабет</strong> (повышение уровня глюкозы крови (гипергликемия), полиурия, появление глюкозы в моче, поражение почек, сосудов нижних конечностей.</td>
            </tr>
            <tr>
                <td>Глюкагон (α-клетки)</td>
                <td>Печень</td>
                <td>Антагонист инсулина. Стимуляция расщепления гликогена в печени, повышение уровня глюкозы крови. Гиперфункция: избыток наблюдается редко, может быть причиной сахарного диабета. Гипофункция: не обнаружено.</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Половые железы.</strong></td>
            </tr>
            <tr>
                <td colspan="3"><em>Семенники.</em> Железы смешанной секреции. Масса 15-30 г, размер 3-5 см, расположены в мошонке.</td>
            </tr>
            <tr>
                <td>
                    Андрогены (тестостерон) Эстрогены (в небольшом количестве)
                </td>
                <td>Мужские половые органы </td>
                <td>Стимулируют нормальный рост, развитие и функционирование мужских половых органов, способствуют синтезу белка, стимулируют развитие вторичных половых признаков. При нарушении функционирования изменяется соотношение синтеза гормонов, что приводит к смене вторичных половых признаков, интерсексуальности (изменение тембра голоса, появление вторичных половых признаков противоположного пола). </td>
            </tr>
            <tr>
                <td colspan="3"><em>Яичники.</em> Железы смешанной секреции. Масса 6-7 г, размер 3-4 см, расположены в малом тазу.</td>
            </tr>
            <tr>
                <td>Эстрогены</td>
                <td>Женские половые органы, молочные железы</td>
                <td>Стимулирует рост, развитие и циклическую функцию яичников; развитие протоков и развитие вторичных половых признаков. При нарушении функционирования изменяется соотношение синтеза гормонов, что приводит к смене вторичных половых признаков, интерсексуальности (изменение тембра голоса, появление вторичных половых признаков противоположного пола).</td>
            </tr>
            <tr>
                <td>
                    Прогестерон
                    Андрогены (в небольших количествах)
                </td>
                <td>Женские половые органы</td>
                <td>Поддерживает течение беременности. Гипофункция: нарушение имплантации зародыша. </td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center"><strong>Взаимосвязь нервной и гуморальной регуляции функций организма.</strong></h3>
    <p>Гормоны желез внутренней секреции влияют на нервные клетки. При избыточной выработке щитовидной железой тироксина человек становится раздражительным, чрезмерно эмоциональным. При снижении функции щитовидной железы поведение человека меняется: он становится вялым, пассивным.</p>
    <p>Деятельность желез внутренней секреции контролирует нервная система, которой принадлежит ведущая роль в нейрогуморальной регуляции. Нервная система, воздействуя на рецепторы, находящиеся в железах внутренней секреции, стимулирует или тормозит образование гормонов.</p>
    <p>Тесная связь деятельности эндокринных желез и нервной системы подтверждается анатомическим соседством гипоталамуса (отдел промежуточного мозга) и гипофиза. Гипоталамус вырабатывает нейрогормоны, которые поступают в кровь. Нейрогормоны стимулируют деятельность гипофиза, и он вырабатывает собственные гормоны.</p>
    <p>Под влиянием гормонов гипофиза щитовидная железа, надпочечники, половые железы усиливают выработку своих гормонов, которые поступают в кровь и влияют на органы и ткани <em>(прямая связь).</em></p>
    <p>Щитовидная железа под влиянием тиреотропного гормона гипофиза вырабатывает тироксин, который в свою очередь тормозит образование тиреотропного гормона <em>(обратная связь).</em></p>
    <p>Возникает сбалансированное состояние в работе этих двух желез внутренней секреции.</p>
    <p>Нервный и гуморальный механизмы функционируют по принципу саморегуляции. При избытке в крови глюкозы нервная система стимулирует функцию внутрисекреторной части поджелудочной железы. В кровь поступает больше инсулина, и сахар (глюкоза) под его влиянием откладывается в печени в виде гликогена (гликогенез).</p>
    <p>При усиленной мышечной работе, когда в организме возрастает потребность в глюкозе (энергии) и в крови ее становится недостаточно, усиливается деятельность надпочечников. Выделяется адреналин, который способствует превращению гликогена в глюкозу и поступлению ее в кровь.</p>
</div>
   
<div class="container">
    <a href=@Url.Action("Test42","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>