<div class="container">
    <p><strong>Размножение</strong> – универсальное свойство живых организмов воспроизводить себе подобных, обеспечивая непрерывность и преемственность жизни в ряду поколений.</p>
    <p>
        <strong>Размножение происходит на следующих уровнях организации живого:</strong>
        <ul>
            <li>молекулярно-генетическом;</li>
            <li>клеточном;</li>
            <li>организменном.</li>
        </ul>
    </p>
    <p>
        <strong>Типы размножения:</strong>
        <ol type="I">
            <li>
                <u><em>Бесполое (при помощи соматических клеток).</em></u>
                <strong>Характерные черты бесполого размножения:</strong>
                <ol type="1">
                    <li><em>Родители</em> – одна особь;</li>
                    <li><em> Источники наследственного материала для развития потомства – </em>соматические клетки; </li>
                    <li><em>Быстрое увеличение числа потомков;</em></li>
                    <li><em> Потомство</em> – генетически точные копии родительской особи (клоны);</li>
                    <li><em>Основной механизм образования, участвующих в делении клеток</em> – митоз;</li>
                    <li><em>Эволюционное значение</em> – усиливает роль стабилизирующей формы естественного отбора, обеспечивает существование организмов в постоянных условиях обитания.</li>
                </ol>
            </li>
        </ol>
    </p>
    <p>
        <strong>Способы бесполого размножения:</strong>
    </p>
    <p>
        <u>У одноклеточных:</u>
        <ol type="1">
            <li><em>Деление клетки надвое</em> (бактерии, протисты). Простое бинарное деление клетки надвое. У протистов происходит путем амитоза (амеба обыкновенная) или митоза в продольном (эвглена зеленая) или поперечном (инфузория-туфелька) направлениях.</li>
            <li><em>Почкование</em> (бактерии, дрожжи). В определенном месте клетки образуется выпячивание, которое растет, обособляется и превращается в самостоятельную клетку.</li>
            <li><em>Шизогония</em> (малярийный плазмодий). Множественное деление: ядро клетки распадается на большое количество фрагментов, затем возле каждого фрагмента обособляется участок цитоплазмы и образуется большое количество клеток.</li>
            <li><em>Спорогония/спорообразование</em> (хламидомонада, хлорелла). Зооспорами – подвижными спорами (хламидомонада), апланоспорами – неподвижными спорами (хлорелла). </li>
        </ol>
    </p>
    <p>Бесполому размножению может предшествовать половой процесс. <strong>НЕ ЯВЛЯЕТСЯ РАЗМНОЖЕНИЕМ</strong> (нет увеличения числа особей). Вслед за половым процессом обычно следует бесполое размножение.</p>
    <p>
        <em><strong>Разновидности полового процесса:</strong></em>
        <ol type="1">
            <li><em>Конъюгация</em> (бактерии, инфузория-туфелька). Обмен генетической информацией без изменения числа особей.</li>
            <li><em>Копуляция</em> (дрожжи). Объединение генетической информации (2 клетки соединяются друг с другом, образуя 1 клетку).</li>
        </ol>
    </p>
    <p>
        <u>У многоклеточных:</u>
        <ol type="1">
            <li><em>Полиэмбриония</em> (осы, броненосцы, плоские черви). Зигота делится на несколько клеток (бластомеров), каждый бластомер обособляется и превращается в самостоятельный организм.</li>
            <li><em>Почкование</em> (губки, кишечнополостные). На теле материнского организма образуется «почка», она растет, затем отрывается и превращается в самостоятельный организм.</li>
            <li><em>Упорядоченное деление</em> (медузы). Образуются одинаковые по размерам дочерние особи.</li>
            <li><em>Неупорядоченное деление</em> (ресничные и ленточные черви, кишечнополостные, губки, водоросли, лишайники). Образуются не одинаковые по размерам дочерние особи.</li>
            <li><em>Спорообразование/споруляция</em> (грибы, высшие споровые растения). Споры образуются путем митоза и мейоза в вегетативных клетках материнского организма или специальных органах (спорангиях). Споры – одноклеточные образования, состоящие из ядра и небольшого количества цитоплазмы с минимальным запасом питательных веществ.</li>
            <li><em>Вегетативное размножение</em> (голосеменные, покрытосеменные растения). Образование новых особей из вегетативных органов: стебля (ива, смородина), листьев (фиалка, бегония), корней (вишня, осот), клубней (картофель), луковиц (лук, тюльпан), корневищ (пырей, ландыш), усов (земляника).</li>
        </ol>
    </p>
    <p>
        <u> Половое размножение (при помощи половых клеток).</u>
    </p>
    <p>
        <strong>Характерные черты полового размножения:</strong>
        <ol type="1">
            <li><em>Родители</em> – две особи, редко одна (партеногенез);</li>
            <li><em>Источники наследственного материала для развития потомства –</em> половые клетки;</li>
            <li><em>Потомство</em> – генетически отличаются от каждого из родителей за счет комбинативной изменчивости;</li>
            <li><em>Основной механизм образования, участвующих в делении клеток –</em> мейоз;</li>
            <li><em>Эволюционное значение</em> – способствует генетическому разнообразию особей вида, создает предпосылки к освоению разнообразных условий обитания, дает эволюционные перспективы.</li>
        </ol>
    </p>
    <p>Виды, у которых в зависимости от производимых половых клеток, есть самцы и самки, называются <strong>раздельнополыми.</strong></p>
    <p><strong>Гермафродиты</strong> – виды, у которых один и тот же организм образует и мужские, и женские клетки. Гермафродитизм встречается у многих беспозвоночных (ракообразные, моллюски, плоские и кольчатые черви, некоторые рыбы и пресмыкающиеся), у некоторых растений.</p>
    <p>Гермафродитизм развился как приспособление к сидячему, малоподвижному и паразитическому образу жизни. У крупных животных и человека гермафродитизм также возможен: <em>истинный</em> (есть яичники и яички) и <em>ложный</em> (несоответствие первичных и вторичных половых признаков (феминизация самцов и мускулинизация самок)).</p>
    <p><strong>Партеногенез</strong> – половое размножение без оплодотворения. НЕТ ВНУТРЕННЕЙ ФАЗЫ ОПЛОДОТВОРЕНИЯ (слияния ядер гамет). Характерен для видов, обладающих коротким жизненным циклом с выраженными сезонными изменениями (пчелы, осы, тли, ракообразные, некоторые рыбы и пресмыкающиеся). </p>
    <p><strong>Гаплоидный партеногенез</strong> – новый организм развивается из гаплоидной яйцеклетки. Особи могут быть как одного пола, так и разных (пчелы, паразитические осы, самцы муравьев).</p>
    <p><strong>Диплоидный партеногенез</strong> – новый организм развивается из диплоидной яйцеклетки: из овоцитов образуются диплоидные яйцеклетки (тли, дафнии, коловратки, некоторые ящерицы и змеи).</p>
    <p>В природе у растений также встречается партеногенез <strong>(апомиксис).</strong> Это либо развитие из неоплодотворенной яйцеклетки, либо образование зародыша не из гамет (у цветковых растений зародыш может развиваться из различных клеток зародышевого мешка). </p>
    <p>Все вышеназванные случаи являются <strong>естественным партеногенезом.</strong></p>
    <p><strong>Искусственный партеногенез.</strong> Если раздражать механически, химически, термически поверхность яиц тутового шелкопряда, то можно добиться дробления яиц без оплодотворения. Экспериментальным путем из неоплодотворенных яиц партеногенетически были получены взрослые лягушки и кролики. </p>
    <h3 class="text-center"><strong>Половые клетки: яйцеклетки и сперматозоиды, их образование и развитие.</strong></h3>
    <p><strong>Половые клетки</strong> – клетки, имеющие гаплоидный набор хромосом, образуются в результате мейоза.</p>
    <p><strong>Гаметогенез</strong> – процесс образования половых клеток. У большинства низших животных гаметы вырабатываются в течение всей жизни, у высших – только в период половой активности, с момента полового созревания и до затухания деятельности половых желез в старости. У многоклеточных водорослей, грибов, и высших споровых растений формирование гамет происходит в специальных органах полового размножения <em>(гаметангиях, архегониях, антеридиях).</em></p>
    <p>Женские гаметы образуются в архегониях, мужские – в антеридиях. Ц покрытосеменных растений яйцеклетки образуются в зародышевом мешке семязачатка завязи пестика, а спермии – в пыльцевых зернах пыльцевых гнезд пыльников тычинок.</p>
    <p>У животных гаметогенез протекает в специальных половых железах (гонадах): яйцеклетки образуются в яичниках, сперматозоиды – в семенниках. У губок и кишечнополостных нет половых желез, и гаметы образуются в различных соматических клетках.</p>
    <p>
        <strong>Овогенез (оогенез) – процесс развития яйцеклеток.</strong>
    </p>
    <p>
        <strong>Периоды овогенеза:</strong>
        <ol type="1">
            <li><em>Период размножения (деления).</em> Клетки с диплоидным набором хромосом – овогонии – делятся митозом, их число увеличивается. У млекопитающих процесс заканчивается еще до рождения. К этому времени у человека формируется 30000 овогоний, которые сохраняются долгие годы без изменения.</li>
            <li><em>Период роста.</em> В овогониях накапливаются запасные питательные вещества, они растут, увеличиваются в размерах, образуя овоциты 1-го порядка с диплоидным (2n4с) набором хромосом. Период протекает циклически с наступлением периода полового созревания.</li>
            <li><em>Период созревания (мейоз).</em> В результате мейоза I из одного овоцита 1-го порядка образуются 1 большая клетка (овоцит 2-го порядка) и 1 маленькая клетка (первичное редукционное/направительное/полярное тельце) с гаплоидным (1n2с) набором хромосом. В результате мейоза II из первичного полярного тельца образуются два вторичных полярных тельца, а из овоцита 2-го порядка – 1 яйцеклетка (1n1с) и 1 вторичное полярное тельце (1n1с).</li>
        </ol>
    </p>
    <p>
        <strong>N.B.!!!</strong> Из одного овоцита 1-го порядка образуются одна большая яйцеклетка и 3 маленьких вторичных полярных тельца. Такое неравномерное распределение цитоплазмы обеспечивает яйцеклетке получение значительного количества питательных веществ, которые затем используются при развитии зародыша.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Яйцеклетка</strong> обычно крупная, шарообразная и неподвижная, имеет оболочку, большое количество цитоплазмы и ядро. В цитоплазме содержится определенное количество питательных веществ в виде желтка, необходимого для развития зародыша, и все органеллы, кроме клеточного центра. Яйцеклетки покрыты оболочками. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema48/яйцеклетка.png" alt="яйцеклетка" class="rounded" width="80%" height="80%" />
            </div>
        </div>
    </div>
    <p>
        <strong>Виды оболочек по происхождению:</strong>
        <ol type="1">
            <li><em>Первичная (желточная) оболочка</em> (все животные). Является производной цитоплазмы.</li>
            <li><em> Вторичная (хитиновая) оболочка</em> (членистоногие). Образуется за счет деятельности клеток, питающих яйцеклетку.</li>
            <li><em>Третичные оболочки</em> (скорлуповая, подскорлуповая и белковая у птиц и рептилий, студенистая у земноводных). Образуются за счет деятельности желез половых путей.</li>
        </ol>
    </p>
    <p>Оболочки выполняют защитные функции, обеспечивает обмен веществ с окружающей средой, а у млекопитающих – служат для внедрения зародыша в стенку матки.</p>
    <p>
        <strong>Виды яйцеклеток по расположению желтка:</strong>
        <ol type="1">
            <li><em>Изолецитальные</em> (млекопитающие) – желток расположен равномерно, так как развитие зародыша идет в матке за счет питательных веществ материнского организма. </li>
            <li><em>Телолецитальные</em> (рыбы, земноводные, пресмыкающиеся, птицы) – желток расположен у одного из полюсов клетки (такой полюс называется вегетативным, а противоположный – без желтка – анимальным).</li>
            <li><em>Центролецитальные</em> (насекомые) – желток занимает центральное положение.</li>
        </ol>
    </p>
    <p>
        <strong>Виды яйцеклеток по количеству желтка:</strong>
        <ol type="1">
            <li><em>Алецитальные</em> (не содержат желтка);</li>
            <li><em>Олиголецитальные</em> (небольшое количество желтка);</li>
            <li><em>Полилецитальные</em> (большое количество желтка).</li>
        </ol>
    </p>
    <p><strong>Сперматогенез – процесс образования сперматозоидов.</strong></p>
    <p>
        <strong>Периоды сперматогенеза:</strong>
        <ol type="1">
            <li><em>Период размножения (деления).</em> Клетки с диплоидным хромосом (сперматогонии) делятся митозом, их количество увеличивается.</li>
            <li><em>Период роста.</em> Из каждой сперматогонии образуется сперматоцит 1-го порядка с диплоидным (2n4с) набором хромосом (период менее выражен, чем при овогенезе).</li>
            <li>
                <em>Период созревания (мейоз).</em> После мейоза I из каждого сперматоцита 1-го порядка образуется 2 сперматоцита 2-го порядка с гаплоидным (1n2с) набором хромосом. После мейоза II из каждого сперматоцита 2-го порядка образуются 2 сперматиды с гаплоидным (1n1с) набором хромосом.
                <p><strong>N.B.!!!</strong> Из каждого сперматоцита 1-го порядка образуются 4 сперматиды с гаплоидным (1n1с) набором хромосом.</p>
            </li>
            <li><em>Период формирования.</em> Из каждой сперматиды образуется сперматозоид.</li>
        </ol>
    </p>
    <p>В семенниках образуется огромное количество сперматозоидов (у человека до 500 млрд). Сперматогенез человека начинается по достижению периода полового созревания и заканчивается в глубокой старости. Процесс образования сперматозоидов составляет 60-70 суток. При каждом половом акте у человека выделяется около 200 млн. сперматозоидов. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Сперматозоид</strong> всегда меньше яйцеклетки, подвижен. Состоит из головки, шейки и хвоста. В головке находится ядро с гаплоидным (1n1с) набором хромосом и небольшое количество цитоплазмы с измененным комплексом Гольджи  <em>(акросома),</em> обеспечивающим проникновение сперматозоида в яйцеклетку. В цитоплазме шейки сосредоточены центросома (клеточный центр) и митохондрии, вырабатывающие энергию для движения сперматозоида. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema48/Сперматазоид.png" alt="Сперматазоид" class="rounded" width="100%" height="100%" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/thema48/Сперматогенез и Оогенез.png" alt="Сперматогенез и Оогенез" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <h3 class="text-center">
        <strong>Оплодотворение, онтогенез, эмбриональное развитие зародыша.</strong>
    </h3>
    <p><strong>Осеменение</strong> – совокупность процессов, обеспечивающих встречу сперматозоида и яйцеклетки.</p>
    <p>
        <strong>Виды осеменения:</strong>
        <ol type="1">
            <li><em>Внешнее (наружное)</em> – сперматозоиды и яйцеклетки выделяются в воду, где и происходит их встреча (большинство беспозвоночных, рыбы, земноводные). Необходимо большое количество гамет, т.к. большая часть гибнет.</li>
            <li><em>Внутреннее</em> – самцы с помощью копулятивных органов вводят сперматозоиды в половые пути самки, где и происходит оплодотворение (черви, насекомые, пауки, пресмыкающиеся, птицы, млекопитающие).</li>
        </ol>
    </p>
    <p>После осеменения происходит оплодотворение – слияние мужских и женских гамет с образованием зиготы с диплоидным набором хромосом (1n1с + 1n1с → 2n2с).</p>
    <p>
        <strong>Стадии оплодотворения:</strong>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ol type="1">
                        <li><em>Наружная стадия</em> (стадия проникновения). Начинается с дистанционного взаимодействия половых клеток и заканчивается формированием оболочки оплодотворения, которая образуется после проникновения сперматозоида в яйцеклетку. Оболочка оплодотворения предотвращает полиспермию (проникновение других сперматозоидов). </li>
                    </ol>
                </div>
                <div class="col">
                    <img src="~/Images/thema48/Стадия оплодотворение.png" alt="Стадия оплодотворение" class="rounded" width="100%" height="100%" />
                </div>
            </div>
        </div>
        <ol type="1" start="2">
            <li><em>Внутренняя стадия.</em> Начинается с момента образования оболочки оплодотворения и заканчивается слиянием ядер гамет с образованием зиготы с диплоидным набором хромосом.</li>
        </ol>
    </p>
    <p><strong>Индивидуальное развитие (онтогенез)</strong> – совокупность процессов развития организма с момента образования зиготы и до смерти.</p>
    <p>
        <strong>Периоды онтогенеза:</strong>
        <ol type="1">
            <li><em>Эмбриональный период</em> – с момента оплодотворения яйцеклетки и до рождения или выхода из яйцевых оболочек;</li>
            <li><em>Постэмбриональный период</em> – от рождения или выхода из яйцевых оболочек и до смерти.</li>
        </ol>
    </p>
    <p>В первом периоде у животных формируется эмбрион, у которого закладываются основные системы органов, во втором – завершаются формообразовательные процессы, происходит половое созревание, размножение, старение и смерть организма.</p>
    <p>
        <strong>Стадии эмбрионального периода онтогенеза:</strong>
        <ol type="I">
            <li><strong>Зигота</strong> – клетка, сформировавшаяся в результате оплодотворения и содержащая гаплоидные наборы хромосом обоих родителей.</li>
            <li>
                <strong>Дробление</strong>  – процесс образования клеток (бластомеров) путем митоза (2,4,8,16,32,64). Зигота делится в продольном и поперечном направлениях, с каждым делением растет число клеток зародыша, но размеры их не увеличиваются, поэтому общая масса клеток равна массе зиготы.
                <p>Яйцеклетки у всех животных в большей или меньшей степени обладают полярностью. Тип дробления яйца зависит от количества желтка и характера его распределения. </p>
                <p>Полное дробление (дробится вся яйцеклетка) – ланцетник, млекопитающие; неполное (дробится только ее часть) – пресмыкающиеся, птицы; поверхностное дробление (многократное дробление ядра, затем ядра перемещаются к периферии, и цитоплазма распадается на бластомеры, т.е. происходит дробление только периферической части цитоплазмы яйца) – насекомые.</p>
                <p><em>Морула</em> – зародыш на стадии 32 бластомеров, имеет вид ягоды малины, бластомеры плотно прилегают друг к другу.</p>
                <p><em>Бластула</em> – однослойный шарообразный зародыш на стадии 64 бластомеров. Состоит из одного слоя клеток <em>(бластодерма)</em> и полости <em>(бластоцель)</em> – первичная полость тела, заполненная жидкостью.</p>
            </li>
            <li>
                <strong>Гаструляция</strong> – процесс образование двухслойного зародыша (гаструлы).
                <p>
                    <strong>Способы гаструляции:</strong>
                    <ol type="1">
                        <li><em>Впячивание (инвагинация)</em> – впячивание бластодермы внутрь бластоцели целым пластом (ланцетник);</li>
                        <li><em>Обрастание (эпиболия)</em> – обрастание клетками анимального полюса более крупных клеток вегетативного полюса (амфибии);</li>
                        <li>
                            <em>Расселение (иммиграция)</em> – перемещение групп клеток или отдельных клеток, не объединенных в единый пласт (высшие позвоночные);
                            <img src="~/Images/thema48/Гаструляция.png" alt="Гаструляция" class="rounded" width="100%" height="100%" />
                        </li>
                        <li><em>Расщепление (деламинация)</em> – расслоение клеток бластодермы на два слоя, лежащих друг над другом (рептилии, птицы).</li>
                    </ol>
                </p>
                <p>Двухслойная гаструла имеет два слоя клеток: наружный – <em>эктодерму</em> и внутренний – <em>энтодерму,</em> внутри находится кишечная полость (первичная кишка) <em>– гастроцель.</em> В том месте, где произошла инвагинация, расположен первичный рот (бластопор). Если на месте бластопора впоследствии образуется рот, то такие организмы называются <em>первичноротыми;</em> если – анальное отверстие – <em>вторичноротыми.</em></p>
                <p>На стадии двух зародышевых листков заканчивается развитие губок и кишечнополостных. У всех остальных типов животных между экто- и энтодермой образуется третий зародышевый листок – мезодерма (трехслойная гаструла).</p>
                <p><strong>Зародышевые листки</strong> – это отдельные пласты клеток, занимающие определенное положение в зародыше, из которых в дальнейшем развиваются все системы органов.</p>
                <p>
                    <strong>Способы образования мезодермы:</strong>
                    <ol type="1">
                        <li><em>Энтероцельный способ.</em> С двух сторон от первичной кишки образуются выпячивания – целомические мешки. Они полностью отшнуровываются от нее, разрастаются между экто- и энтодермой и превращаются в мезодерму (хордовые).</li>
                        <li><em>Телобластический способ.</em> Вблизи бластопора с двух сторон от первичной кишки образуется по одной крупной клетке – телобласту. В результате деления телобластов и формируется мезодерма (беспозвоночные).</li>
                    </ol>
                </p>
            </li>
            <li><strong>Стадия образования осевых органов (нейруляция).</strong> Стадия – <strong>нейрула.</strong> Из энтодермы формируется хорда, из эктодермы – нервная трубка над хордой, из экто- и энтодермы – кишечная трубка под хордой.</li>
            <li>
                <strong>Гистогенез (образование тканей) и органогенез (образование органов).</strong>
                <ol type="1">
                    <li>
                        <strong>Эктодерма:</strong> эпителиальная и нервная ткани (покровный эпителий, производные кожи (волосы, ногти, перья), нервная система, органы чувств, эпителий переднего и заднего отделов пищеварительной трубки (рот, глотка, пищевод, прямая кишка)).
                        <img src="~/Images/thema48/Гистогенез.png" alt="Гистогенез" class="rounded" width="100%" height="100%" />
                    </li>
                    <li><strong>Мезодерма:</strong> соединительная и мышечная ткани (кости скелета, мышцы, кровеносная, выделительная (почки, мочеточники, мочевой пузырь) и половая (семенники, яичники) системы, дерма, сердце).</li>
                    <li><strong>Энтодерма:</strong> эпителиальная ткань (эпителий среднего отдела кишечника, поджелудочная железа, печень, легкие, хорда).</li>
                </ol>
            </li>
            <li>
                <strong>Рост, дифференцировка, рождение (выход из яйца). </strong>
                <p>Связь развивающегося организма с окружающей средой обеспечивают <em>провизорные (внезародышевые) органы.</em> Они функционируют временно только в период эмбрионального развития. Провизорными органами беспозвоночных являются брюшные конечности, жабры личинок насекомых.</p>
                <p>Для позвоночных животных с прямым развитием и полилецитальными яйцеклетками (рептилии, птицы) характерен провизорный орган – <em>желточный мешок,</em> который покрывает желток, пронизан сетью кровеносных капилляров и непосредственно связан с кишечной трубкой зародыша. Клетки стенки желточного мешка выделяют ферменты, расщепляющие питательные вещества, которые поступают в организм зародыша.</p>
                <p>Желточный мешок – это первый кроветворный орган зародыша. У млекопитающих и человека желточный мешок быстро редуцируется и входит в состав плаценты.</p>
                <p>Важная особенность эмбрионального развития амниот (пресмыкающиеся, птицы, млекопитающие): развитие трех провизорных органов – амниона, хориона и аллантоиса.</p>
                <p><em>Амнион</em> (внутренняя зародышевая оболочка) – наполненный жидкостью мешок, окружающий зародыш. Амниотическая полость заполнена жидкостью, содержащей белки, сахара, минеральные соли, некоторые гормоны и мочевину. Функция: защита от высыхания и механических воздействий; обеспечение подвижности эмбриона.</p>
                <p><em>Хорион</em> (наружная зародышевая оболочка, ворсинчатая оболочка). Наружная ее поверхность покрыта ворсинками, способными внедряться в слизистую оболочку матки. Ворсинки хориона и слизистая оболочка матки образуют специальный орган – плаценту (детское место), соединенную с организмом зародыша пупочным канатиком (пуповиной). Через плаценту (по сосудам пуповины) плод снабжается питательными веществами и кислородом и освобождается от продуктов жизнедеятельности. Плацента выполняет и защитную функцию, она является своеобразным клеточным барьером, препятствующим поступлению в кровь плода микроорганизмов и некоторых токсических веществ.</p>
                <p><em>Аллантоис</em> – мешок, связанный с задней кишкой зародыша. У птиц и рептилий в нем накапливаются продукты жизнедеятельности зародыша. У млекопитающих и человека аллантоис разрастается и соединяется с хорионом, образуя богатый кровеносными сосудами <em>хориоаллантоис,</em> который участвует в формировании плаценты. </p>
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Постэмбриональное развитие: прямое и непрямое.</strong></h3>
    <p>Постэмбриональное развитие начинается с рождения или выхода из яйцевых оболочек и заканчивается смертью.</p>
    <p>
        <strong>Периоды постнатального онтогенеза:</strong>
        <ol type="I">
            <li>
                <em>Дорепродуктивный период</em> (типы постнатального онтогенеза):
                <ol type="1">
                    <li>
                        <strong>Непрямое развитие</strong> (черви, членистоногие, рыбы и земноводные). Дорепродуктивный период включает личиночный период, период метаморфоза и ювенильный период.
                        <ol type="A">
                            <li><u>Личиночный период.</u> Из яйцевых оболочек выходит личинка (организм, не достигший зрелых черт организации), морфологически и физиологически отличающаяся от взрослого организма. У нее имеются специализированные личиночные органы и отсутствуют некоторые органы взрослой особи. Часто личинка и половозрелая форма обитают в разных средах и не конкурируют друг с другом.</li>
                            <li>
                                <u>Метаморфоз</u> (превращение личинки в ювенильную форму). В процессе метаморфоза происходит частичное разрушение, перестройка и новообразование органов. Степень преобразования тем больше, чем больше различия между средой обитания личинки и взрослого организма. 
                                <ol type="1">
                                    <li><em>Неполный метаморфоз</em> (яйцо – личинка – имаго). Преобразование личиночных органов происходит быстро. Характерен для кишечнополостных, червей, насекомых, амфибий.</li>
                                    <li><em>Полный метаморфоз</em> (яйцо – личинка – куколка – имаго). Преобразование личиночных органов происходит медленно, образуется куколка, которая не питается и не передвигается. В стадии куколки личиночные органы подвергаются полному распаду, а разрушенное вещество используется как питательный материал для развития органов взрослого насекомого. Характерен для бабочек, муравьев, пчел, двукрылых, жесткокрылых и блох.</li>
                                </ol>
                            </li>
                            <li><u>Ювенильный период.</u> Происходит половое созревание, сопровождающееся интенсивным ростом, установлением окончательных пропорций тела и завершением развития половых желез.</li>
                        </ol>
                        <p>Биологическое значение непрямого развития: организм на стадии личинки растет и развивается не за счет запасных питательных веществ яйцеклетки, а благодаря самостоятельному питанию. Следовательно, данный тип развития характерен для организмов, яйцеклетки которых содержат малое количество желтка.</p>
                    </li>
                    <li>
                        <strong>Прямое развитие</strong> (неличиночное и внутриутробное). Рожденный организм похож на взрослую особь, но отличается от нее малыми размерами и недоразвитием некоторых систем органов (например, половой). Включает процессы, характерные только для ювенильного периода.
                        <ol type="A">
                            <li><u>Неличиночный вариант.</u> Характерен для рыб, рептилий и птиц; яйцеклетки олиголецитальные.</li>
                            <li><u>Внутриутробное развитие.</u> Характерен для млекопитающих. Все вещества, необходимые для эмбрионального развития, зародыш получает от матери.</li>
                        </ol>                    
                    </li>
                </ol>
            </li>
            <li><em>Репродуктивный период</em> – период жизни, в течение которого организм способен к размножению.</li>
            <li>
                <em> Пострепродуктивный период</em> (старение и смерть).
            </li>
        </ol>
    </p>
    <p><strong>Старение</strong> – общебиологическая закономерность увядания организма, свойственная всем живым существам, заключительный естественный этап онтогенеза.</p>
    <p>Старение характеризуется многими морфологическими и физиологическими изменениями, приводящими к снижению обменных процессов и устойчивости организма к воздействиям внешней среды.</p>
    <p><strong>Геронтология</strong> – наука о старости, цель которой достижение активного долголетия, сохранение трудоспособности. Одной из задач геронтологии является замедление темпов старения и увеличение продолжительности жизни <em>(ретардация).</em></p>
    <p>
        <strong>Признаки старения на различных уровнях организации живого:</strong>
        <ol type="1">
            <li><em>Молекулярно-генетический.</em> Снижается активность ферментных систем окислительного фосфорилирования, репликации ДНК, синтеза иРНК, репарации ДНК, вследствие чего накапливаются мутации.</li>
            <li><em>Клеточный.</em> Уменьшается содержание воды, снижается активность транспорта ионов, что сказывается на важнейших физиологических свойствах клеток. Наблюдается дегенерация и гибель части клеток, снижается их митотическая активность, уменьшается количество митохондрий, разрушаются лизосомы.</li>
            <li><em>Организменный.</em> Изменяется осанка и форма тела, появляется седина, морщины, ухудшается память, снижается зрение и слух, повышается артериальное давление. </li>
        </ol>
    </p>
    <p>Для продления активной жизни человеку необходимо вести здоровый образ жизни – трудиться, заниматься физической культурой, рационально питаться. Наука, изучающая здоровый образ жизни, называется <strong>валеологией.</strong></p>
    <p><strong>Смерть</strong> завершает индивидуальное развитие. Смерть у высших организмов – событие не одномоментное. В этом процессе различают два этапа – клиническую и биологическую смерть. Клиническая смерть характеризуется потерей сознания, прекращением дыхания и сердцебиения.</p>
    <p>Некоторое время после наступления клинической смерти (5–6 мин) еще сохраняется упорядоченный метаболизм клеток, т. е. ткани еще живы. В этот короткий период возможно возвращение организма к жизни – реанимация. Биологическая смерть связана с нарушением упорядоченности химических реакций, что приводит к необратимым процессам разложения в организме.</p>
</div>
<div class="container">
    <a href=@Url.Action("Test48","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>

