<div class="text-center">
    <em><u>Отдел Папоротниковидные: общая характеристика, основные представители, чередование поколений. Отдел Плауновидные: общая характеристика, основные представители, чередование поколений. Отдел Хвощевидные: общая характеристика, основные представители, чередование поколений. Значение плауновидных, хвощевидных и папоротниковидных в природе и жизни человека.</u></em>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Отдел Папоротниковидные.</strong>Папоротники – высшие споровые многолетние, чаще травянистые растения. Большинство папоротниковидных живет во влажных тропических лесах (эпифиты – растения, растущие на стволах и ветвях других растений и получающие питательные вещества из воздуха (не являются паразитами)), древовидные папоротники достигают в высоту 25-30 м. Около 12000 видов. В РБ произрастает 20 видов.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Представители: <em>щитовник мужской, орляк, голокучник, игольчатый папоротник, страусник, кочедыжник женский, сальвиния плавающая (в Красной книге РБ), азолла, нефролепис, адиантум (венерин волос), асплениум.</em></u></strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Среда обитания:</strong> пустыни, сухие леса, стволы деревьев, сырые и влажные места, болота, озера, солоноватые водоемы.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Морфологическая характеристика отдела Папоротниковидные. Спорофит</strong> папоротника представлен <strong>листостебельным растением,</strong> прикрепляющимся к субстрату <strong> корневищем с придаточными корнями.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>N.B.!!!</strong>Главного корня у папоротников нет (корневище корнем НЕ ЯВЛЯЕТСЯ), соответственно все корни, имеющиеся у папоротников, называются придаточными.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;В стебле имеются механические и проводящие ткани. <strong>N.B.!!!</strong> Впервые в эволюции появляются ксилема и флоэма (проводящие элементы которых представлены трахеидами и ситовидными клетками).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Листья папоротника <strong>(вайи)</strong> крупные, перисто-рассеченные. Общий черешок листа <strong>(рахис)</strong> прикрепляется к подземному стеблю (корневищу). Листья выполняют функции фотосинтеза, транспирации, газообмена и спороношения. У некоторых папоротников (страусник) дифференцированы на стерильные (фотосинтезирующие) и фертильные (несущие спорангии).
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <img src="~/Images/Thema7/спорофит.png" alt="спорофит" />
        </div>
    </div>
    <br />
    Молодые листья папоротников свернуты улиткообразно и растут верхушкой как побег.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>N.B.!!!</strong> Классически листьям свойственен вставочный тип роста, папоротники являются исключением: для листьев характерен верхушечный тип роста.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Летом на нижней стороне листа образуются спорангии, расположенные поодиночке или группами <strong>(сорусы),</strong> которые прикрыты выростом листа – <strong>индузием</strong> (покрывальцем). В сорусах в результате мейоза образуются и созревают гаплоидные споры, которые прорастают впоследствии в гаплоидный гаметофит.
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <img src="~/Images/Thema7/гаметофит.png" />
        </div>
    </div>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Физиологическая характеристика отдела Папоротниковидные.</strong>
    <br />&nbsp;&nbsp;&nbsp;&nbsp;В жизненном цикле наблюдается чередование поколений: бесполого (спорофита), представленного листостебельным растением, и полового (гаметофита) <strong>Гаметофит</strong>(половое поколение) представлен <strong>заростком</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;На нижней стороне заростка образуется архегоний (с яйцеклеткой) и антеридии (со сперматозоидами). При наличии достаточного количества воды сперматозоид достигает яйцеклетки и образуется диплоидная зигота. Из зиготы вырастает новое листостебельное растение.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>N.B.!!!</strong> Превалирующим поколением впервые становится диплоидный спорофит.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Возможно также и бесполое размножение, которые происходит <strong>выводковыми почками</strong>, образующимися на придаточных корнях папоротника.

</p>
<div class="container">
    <div class="row justify-content-center">
            <img src="~/Images/Thema7/жизненный цикл папоротника.png" alt="жизненный цикл папоротника" title="(рисунок из учебника «Биология» 7 класс)" />
            <p>
                <cite title="жизненный цикл папоротника">
                    Рис. жизненный цикл папоротника.
                </cite>
            </p>
        </div>
    </div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Значение папоротниковидных:</strong>
    <ol>
        <li>Являются компонентами биогеоценозов.</li>
        <li>Индикаторы почв (орляк – песчаные сухие, щитовник мужской – плодородные).</li>
        <li>Отвары используются как болеутоляющие, противоглистные, противовоспалительные средства.</li>
        <li>Используются в пищу человеком (дальневосточные страны).</li>
        <li>Используются в качестве декоративных растений (венерин волос).</li>
        <li>Отдельные представители являются ядовитыми.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Отдел Плауновидные.</strong> Плауны – реликтовые растения, широко распространенные ранее и не имеющие существенного значения в формировании растительного покрова в настоящее время. Около 1200 видов (7 видов в РБ).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Представители: <em>плауны - булавовидный, сплюснутый, годичный, можжевельниковый, баранец, ликоподиелла, полушник.</em></u></strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Среда обитания:</strong> тропические и субтропические леса, хвойные и смешанные леса.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Плауны – многолетние травянистые вечнозеленые растения. Спорофит представлен листостебельным растением. Стебель длинный, до 6м, ползучий (стелется по земле), от него отходят боковые стелящиеся побеги с ограниченным ростом и <strong>дихотомическим (вильчатым) ветвлением.</strong>
    <div class="container">
        <div class="row">
            <div class="col">
                В стебле присутствует ксилема и флоэма (проводящие элементы представлены трахеидами и ситовидными клетками). Листья простые, цельные, линейной или ланцетной формы с 1-2 жилками, расположены на стебле очередно или супротивно. От стелющегося стебля плаунов отходят вертикальные боковые побеги высотой 20-30 см. Различают <strong>спорофиллы</strong> – спороносные листья, на верхушках стеблей образуют стробила, где располагаются спорангии со спорами и <strong>трофофиллы</strong> – фотосинтезирующие, питающие листья. От стебля и корневища отходят тонкие слабо развитые придаточные корни с дихотомическим ветвлением.
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <img src="~/Images/Thema7/плаун.png" alt="плаун" title="плаун" />
                    <cite>1 - придаточные корни; 2 – основной стебель; 3 – вертикальные побеги; 4 – спороносный колосок; 5 –спорофилл со спорангием; 6 - спора</cite>
                </div>
            </div>
        </div>
    </div>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Среди плауновидных выделяют равноспоровые (все споры морфологически и физиологически одинаковы) и разноспоровые (полушники) формы.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Для плауновидных характерно чередование поколений: <strong>спорофит – листостебельное растение,</strong> из споры которого вырастает <strong>гаметофит – заросток.</strong> У равноспоровых растений заросток двуполый, у разноспоровых – однополый, мелкий (2-3 мм), имеет вид клубенька, лишенного хлорофилла (развивается в симбиозе с грибами, <strong>питается гетеротрофно,</strong> входит в состав микоризы), период роста 3-8 лет, прикрепляется к субстрату ризоидами. На верхней стороне заростка развиваются антеридии и архегонии, в которых образуются сперматозоиды и яйцеклетки. Оплодотворение происходит только при наличии воды. Из зиготы развивается спорофит, который доминирует в 
    <div class="container">
        <div class="row justify-content-center">
            <img src="~/Images/Thema7/Цикл развития плауновидных..png" alt="Цикл развития плауновидных" title="Цикл развития плауновидных"/>
            <cite>Цикл развития плауновидных</cite>
        </div>
    </div>
    жизненном цикле. От образования споры до формирования взрослого спорофита проходит 12-18 лет.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Значение плауновидных: </strong>
    <ol>
        <li>Сухие споры плаунов (ликоподий) используется как детская присыпка.</li>
        <li>В металлургии плауны используются для фасонного литья металлов.</li>
        <li>Плаун баранец используется для получения желтой краски.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Отдел Хвощевидные.</strong> Хвощи – многолетние, травянистые растения, расцвет которых пришелся на каменноугольный период палеозойской эры (в тот период был представлен каламитами – деревьями высотой до 15 м и толщиной ствола более 20 см). Современные хвощи включают 1 род и около 30 видов (8 видов в РБ).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Представители:<em>хвощи – большой, болотный, зимующий, лесной, луговой, полевой, пестрый, приречный.</em></u></strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Среда обитания:</strong> влажные поля и луга, сырые леса и болота.
</p>
<p>
    <div class="container">
        <div class="row">
            <div class="col">
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Спорофит</strong> хвоща представлен <strong>листостебельным растением.</strong> Стебель имеет членистое (метамерное) строение, <strong>пропитан кремнеземом.</strong> В узлах крепятся мутовки боковых веточек. В основании междоузлий есть зоны вставочного роста. Подземная часть представлена корневищем (с его помощью происходит вегетативное размножение) с придаточными корнями и клубеньками. Различают <strong>весенние (спороносные) и летние (фотосинтезирующие) побеги. Весенние побеги</strong> – желтовато-бурые, не ветвятся, в узлах чешуевидные бурые листья, на верхушках спороносные колоски (стробила). <strong>Летние побеги</strong>  зеленые, ветвистые (в виде елочки), основные и боковые веточки содержат хлорофилл, пропитаны кремнеземом и покрыты восковым налетом (придает прочность + защита от поедания).
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <img src="~/Images/Thema7/хвощ.png" alt="хвощ" title="хвощ" />
                    <cite>1- летний побег, 2- весенний побег, 3- спороносный колосок</cite>
                </div>
            </div>
        </div>
    </div>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Листья бесцветные, пленчатые, НЕ СПОСОБНЫ К ФОТОСИНТЕЗУ, расположены мутовчато и срастаются до самой верхушки и образуют листовые влагалища.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Цикл развития хвощей.</strong> В жизненном цикле превалирует спорофит. На верхушках весенних побегах (спорофит) формируются спороносные колоски, в которых путем мейоза образуются споры. Созревшие споры рассеиваются ветром и в благоприятных условиях прорастают в обоеполый (реже однополый) <strong>заросток (гаметофит)</strong> в виде маленькой лопастной пластинки (менее 1 см) с ризоидами. На заростке образуются архегонии и антеридии, в которых созревают половые клетки. Оплодотворение происходит только при наличии воды. Из зиготы развивается летний побег (спорофит), накапливающая запас питательных веществ в подземном корневище. Осенью надземная часть отмирает, а весной следующего года из почек подземного корневища формируется новый весенний побег.
</p>
<div class="container">
    <div class="row justify-content-center">
        <img src="~/Images/Thema7/Цикл развития хвощ.png" alt="Цикл развития хвощ" title="Цикл развития хвощ"/>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Значение хвощевидных:</strong>
    <ol>
        <li>Являются сорняками пастбищ и полей.</li>
        <li>Являются индикаторами кислых почв.</li>
        <li>Хвощ болотный вызывает отравление крупного рогатого скота.</li>
        <li>Сырье для абразивного материала (наждачная бумага).</li>
        <li>Хвощ полевой используется в медицине как кровоостанавливающее, мочегонное и вяжущее средство.</li>
    </ol>
</p>
<a href=@Url.Action("Test7","Test") class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>