<div class="container">
    <p><strong>Классы и представители:</strong> <em><u>Ресничные черви</u></em>(белая (молочная) планария), <em><u>Сосальщики</u></em> (печеночный сосальщик, кошачий сосальщик), <em><u>Ленточные черви</u></em> (бычий цепень, свиной цепень, эхинококк, альвеококк, лентец широкий, овечий мозговик).</p>
    <p>
        <strong>Количество видов: </strong> около 18 000.
    </p>
    <p>
        <strong>Среда обитания: </strong> Морские и пресные водоемы, влажная почва, организм человека и животных.
    </p>
    <p>
        <strong>Образ жизни: </strong> свободноживущие (класс Ресничные) или паразиты (классы Сосальщики и Ленточные черви)
    </p>
    <p>
        <strong>Первичноротые; трехслойные; </strong> симметрия тела: <strong>билатеральная </strong> (результат подвижного образа жизни, при котором организм способен направленно двигаться головным концом тела вперед).
    </p>
    <p>
        <strong>Основные ароморфозы: </strong>
        <ol type="1">
            <li>Трехслойность (впервые появляется средний зародышевый листок – мезодерма); </li>
            <li>Двусторонняя (билатеральная) симметрия;</li>
            <li>Кожно-мускульный мешок;</li>
            <li>Отсутствие полости тела; </li>
            <li>Стволовая (ортогональная) нервная система;</li>
            <li>Развитие пищеварительной, выделительной и половой систем органов.</li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение.</strong> Размеры тела колеблются в широких пределах – от 2–3 мм до 20 м. Тело листовидной (классы Ресничные и Сосальщики) или лентовидной (класс Ленточные черви) формы сплюснуто в спинно-брюшном (дорсовентральном) направлении.
    </p>
    <p>
        Стенка тела образована кожно-мускульным мешком.
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <td>Часть кожно-мускульного мешка</td>
                    <td>Ресничные</td>
                    <td>Сосальщики</td>
                    <td>Ленточные черви</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Покровы тела («кожная» часть)</td>
                    <td>Ресничный эпителий</td>
                    <td>Погружной эпителий (тегумент)</td>
                    <td>Эпителий (тегумент) с микроворсинками</td>
                </tr>
                <tr>
                    <td>Мускульная часть</td>
                    <td colspan="3">3 слоя гладких мышц (кольцевые, косые, продольные)</td>
                </tr>
            </tbody>
        </table>
    </p>
    <p>
        Движение обеспечивается ресничками покровного эпителия и сокращением мышц у ресничных червей или только сокращением мускулатуры у сосальщиков и ленточных червей.
    </p>
    <p>
        <strong>Внутреннее строение. Полость тела отсутствует,</strong> промежутки между стенкой тела и внутренними органами заполнены соединительнотканными паренхиматозными клетками (развиваются из мезодермы), выполняющими опорную и трофическую функции.
    </p>
    <p>
        <strong>Пищеварительная система </strong>состоит из двух отделов: <em>передний</em> (рот, глотка) и <em>средний</em> (ветви кишечника). Кишечник слепо замкнут, задний отдел кишечника и анальное отверстие отсутствуют, непереваренные остатки удаляются наружу через рот. Пищеварение полостное и частично внутриклеточное. Клетки кишечника выделяют ферменты для полостного пищеварения. Мелкие пищевые частицы поглощаются фагоцитирующими клетками, и процесс пищеварения заканчивается внутриклеточно.
    </p>
    <p>
        <strong>N.B!!!</strong> Ресничные черви и сосальщики поглощают пищу при помощи мускулистой глотки. У ленточных червей пищеварительная система ОТСУТСТВУЕТ, и питательные вещества всасываются всей поверхностью тела.
    </p>
    <p>
        <strong>Выделительная система</strong> представлена протонефридиями <em>(протонефридиального типа). </em>Начинается множественными звездчатыми клетками с пучком ресничек внутри <strong>(пламенные клетки)</strong> в паренхиме, от каждой клетки отходит каналец, впадает в выделительный проток. Протоки объединяются в один или два общих канала, заканчивающихся выделительными (экскреторными) порами. Стенка канальца, примыкающего к звездчатой клетке, имеет щелевидные просветы, через которые происходит <strong>фильтрация</strong> избытка воды и жидких продуктов обмена. Пучок ресничек, совершая постоянные движения, обеспечивает продвижение этих продуктов по выделительной системе. По мере их продвижения возможна <strong>реабсорбция</strong> – обратное всасывание определенных веществ в паренхиму.
    </p>
    <p>
        <strong>Кровеносная и дыхательная системы</strong> отсутствуют. Газообмен осуществляется через поверхность тела. Транспорт газов, питательных веществ и продуктов диссимиляции выполняет паренхима.
    </p>
    <p>
        <strong>Нервная система.</strong> <em>Стволового (ортогонального</em> – вид правильной решетки) <em>типа.</em> Образована парными ганглиями в переднем конце тела. От которых отходят боковые нервные стволы, соединенные между собой поперечными перемычками (комиссурами). Количество кольцевых комиссур варьирует и зависит от длины тела. От стволов отходят многочисленные нервы. У Ленточных червей один ганглий редуцирован.
    </p>
    <p>
        <strong>Органы чувств.</strong> <em>Органы осязания</em> (осязательные реснички) и <em>химического чувства</em> (чувствительные вкусовые клетки) развиты у всех плоских червей вне зависимости от образа жизни. Только у свободноживущих представителей имеются <em>органы зрения</em> (светочувствительные глазки) и <em>равновесия</em> (статоцисты).
    </p>
    <p>
        <strong>Половая система. </strong> Гермафродиты.
    </p>
    <p>
        <u>Мужская половая система</u> (парная): семенники, семяпроводы, семяизвергательный канал и копулятивный орган (циррус).
    </p>
    <p>
        <u>Женская половая система </u> (непарная, парная только у планарий): яичник, яйцевод, половая клоака, матка, желточники и скорлуповые железы. Желточники и скорлуповые железы обеспечивают яйцо питательными веществами и оболочками.
    </p>
    <p>
        <strong>Размножение</strong> в большинстве случаев половое (у ресничных червей встречается <strong>фрагментация</strong> – тело распадается на части, каждая из которых за счет регенерации восстанавливается до целостного организма). Осеменение внутреннее, перекрестное.
    </p>
    <p>
        <strong>Развитие:</strong> Класс Ресничные - прямое развитие, оплодотворенные яйца развиваются в коконе. Классы Сосальщики и Ленточные черви – непрямое развитие со сложным циклом развития и сменой хозяев.
    </p>
    <p>
        <strong>Регенерация</strong> возможна за счет клеток паренхимы.
    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>Многообразие плоских червей.</strong>
    </div>
    <p>
        <strong>Класс Ресничные. <u><em>Особенности:</em></u></strong> свободноживущий образ жизни; плоское листовидное тело; ресничный эпителий, покрывающий кожно-мускульный мешок; органы зрения; ярко выраженная способность к регенерации; прямое развитие. Некоторые виды планарий способны к бесполому размножению – деление материнской особи на несколько неравных частей, развивающихся в самостоятельные особи на основе регенерации <strong>(фрагментация или аутотомия).</strong>
    </p>
    <p>
        <strong>Молочная (белая) планария</strong> – свободноживущий организм, обитающий в пресных стоячих водоемах, на подводных растениях и предметах.
    </p>
    <div class="row">
        <div class="col">
            <p>
                <strong>Внешнее строение. </strong> Тело листовидной формы, размер: 25 мм в длину, окраска белая. Головной конец тела расширен, на нем имеются короткие щупальца (органы осязания) и два глазка. Задний конец тела заострен. Покровы тела представлены ресничным эпителием и тремя слоями гладких мышц. Планарии скользят по субстрату с помощью ресничек, ползают благодаря сокращению мышц, плавают, изгибая боковые края тела.
            </p>
            <p>
                <strong>Внутреннее строение. </strong> Пищеварительная система имеет два отдела. Передний отдел: рот, открывающийся на брюшной стороне тела, и глотка, способная выворачиваться наружу через рот. Средний отдел содержит три ветви кишечника (одна направлена вперед, две – назад).
            </p>
        </div>
        <div class="col justify-content-center">
            <img src="~/Images/thema18/планария внешнее строение.png" alt="планария внешнее строение" />
        </div>
    </div>
    <p>
        Планария – хищник; она глоткой проникает внутрь добычи и высасывает ее содержимое. Пища переваривается в кишечнике, непереваренные остатки удаляются через рот.
    </p>
    <p>
        Выделительная система протонефридиального типа, ее каналы открываются двумя экскреторными порами на спинной стороне тела.
    </p>
    <p>
        Дыхание осуществляется всей поверхностью тела.
    </p>
    <p>
        <img src="~/Images/thema18/планария поперечный срез.png" class="rounded mx-auto d-block" alt="планария поперечный срез" />
    <p class="text-center">
        Рис. Молочная планария (поперечный срез).
    </p>
    <p>
        Нервная система – парный головной нервный узел, два брюшных нервных ствола, периферические нервы.
    </p>
    <p>
        Органы чувств: зрения (парные глазки), осязания (реснички и щупальца), равновесия (статоцисты), химического чувства (чувствительные клетки).
    </p>
    <p>
        Половая система. Планария – гермафродит. В передней части тела имеются два яичника, вдоль тела – многочисленные семенники. Яйцеводы и семяпроводы открываются общим половым отверстием, расположенным на брюшной стороне задней части тела. Осеменение внутреннее, перекрестное. Развитие прямое: из яиц, отложенных в коконы, выходят молодые планарии. Характерна высокая способность к регенерации.
    </p>
</div>
<div class="container">
    <p class="text-center">
        <strong>Паразитические плоские черви (классы Сосальщики и Ленточные черви).</strong>
    </p>
    <p>
        <strong>Основные термины, приспособления для обитания паразитов теле организма-хозяина.</strong>
    </p>
    <p>
        <strong>Паразит</strong> – организм определенного вида, живущий внутри или на теле организма другого вида (хозяина), питающийся за его счет и причиняющий ему вред.
    </p>
    <p>
        <strong>Окончательный хозяин</strong> – организм, в котором живет половозрелый паразит или происходит его половое размножение.
    </p>
    <p>
        <strong>Промежуточный хозяин</strong> – организм, в котором обитает личинка паразита или идет его бесполое размножение.
    </p>
    <p>
        <strong>Приспособления для обитания паразитов теле организма-хозяина:</strong>
        <ol type="1">
            <li>Плотные защитные покровы и антипротеолитические ферменты предохраняют их от переваривания в организме хозяина. </li>
            <li>Органы фиксации (присоски (сосальщики, крючья (цепни), присасывательные щели/ботрии (лентец широкий)). </li>
            <li>Редукция нервной системы и органов чувств. </li>
            <li>Редукция пищеварительной системы, у ленточных червей пищеварительная система отсутствует.</li>
            <li>Преобладающее развитие половой системы. Характерна высокая плодовитость, сложные циклы развития со сменой хозяев и размножение на личиночной стадии.</li>
            <li>Способность к анаэробному дыханию.</li>
        </ol>
    </p>
    <p>
        <strong>Класс Сосальщики. <em><u>Особенности:</u></em></strong> листовидная форма тела; покровы тела представлены тегументом; наличие двух присосок – брюшной и ротовой; паразитический образ жизни; развитие непрямое (с неполным метаморфозом).
    </p>
    <p>
        <strong>Печеночный сосальщик.</strong> Заболевание: фасциолез.
    </p>
    <div class="row">
        <div class="col">
            <p>
                <strong>Морфологическая характеристика.</strong> Размеры тела 3–5 см. Форма тела – листовидная. Покровы: погружной эпителий (тегумент). Передняя часть тела вытянута в виде конуса. На ней расположены две присоски – ротовая и брюшная. Две ветви кишечника сильно разветвлены. Гермафродит. Многолопастная матка расположена за брюшной присоской, под ней лежит ветвистый яичник, по бокам тела расположены многочисленные желточники, а всю среднюю часть занимают ветвящиеся семенники.
            </p>
            <p>
                <strong>Цикл развития.</strong> Окончательные (основные) хозяева – травоядные животные (овцы, коровы, козы, олени, зубры), иногда человек. Паразитирует в половозрелой форме в желчных протоках печени. Промежуточный хозяин – пресноводный моллюск - малый прудовик.
            </p>
        </div>
        <div class="col justify-content-lg-center">
            <img src="~/Images/thema18/печеночный сосальщик.png" />
            <p class="picture_framing">
                1 – ротовая присоска; 2 – брюшная присоска; 3 – кишечник; 4 – матка; 5 – яичник; 6 – желточники; 7 – семенники.
            </p>
        </div>
    </div>
    <p>
        Яйца печеночного сосальщика (до 20000 в сутки) выделяются во внешнюю среду. Для дальнейшего развития яйца должны попасть в воду, где из них выходит личинка с ресничками – <strong>мирацидий.</strong> Мирацидий внедряется в тело промежуточного хозяина – брюхоногого моллюска малый прудовик. В теле моллюска происходит развитие трех личиночных стадий – <strong>спороциста, редия, церкарий.</strong> Из организма моллюска выходит подвижная личинка с хвостом (церкарий), которая прикрепляется к водным растениям, покрывается оболочкой (инцистируется) и превращается в <strong>адолескарий.</strong> Адолескарий является инвазионной стадией для окончательного хозяина и, будучи проглоченным им при поедании травы (для человека – зелень и овощи), развивается во взрослого червя. Паразиты проникают в печень, где разрушают ткани и закупоривают желчные протоки. Продукты их жизнедеятельности отравляют организм человека.
    </p>
    <p>
        <strong>Стадии развития: </strong> марита (взрослая особь) – яйцо – мирацидий – спороциста – редия – церкарий – адолескарий.
    </p>
    <p>
        <strong>Меры профилактики:</strong>
        <ol type="1">
            <li>Санитарнопросветительная работа среди населения;</li>
            <li>Не мыть овощи и зелень водой из открытых водоемов;</li>
            <li>Не пить воду из открытых водоемов;</li>
            <li>Уничтожение промежуточных хозяев – моллюсков;</li>
            <li>Охрана водоемов от загрязнения фекалиями животных и людей;</li>
            <li>Выявление и лечение зараженных людей.</li>
        </ol>
    </p>
    <p>
        <strong>Кошачий (сибирский) сосальщик. </strong> Заболевание: описторхоз.
    </p>
    <p>
        <strong>Морфологическая характеристика.</strong> Длина: 10 мм. В средней части тела расположена матка, в задней – 2 семенника, между которыми виден S-образный изогнутый канал выделительной системы.
    </p>
    <p>
        <strong>Цикл развития.</strong> Окончательные хозяева – человек, кошка, собака и др. Промежуточные хозяева – пресноводный моллюск малый прудовик (первый хозяин), рыбы (второй хозяин). Взрослый червь паразитирует в печени и поджелудочной железе. Стадии развития: яйцо – мирацидий – спороциста – редия – церкарий соответствуют таковым у печеночного сосальщика. Церкарий для дальнейшего развития должен попасть в тело второго промежуточного хозяина (рыбу). Заражение окончательного хозяина происходит при употреблении в пищу плохо термически обработанной пресноводной рыбы, в которой находятся метацеркарии.
    </p>
    <p>
        <strong>Стадии развития:</strong> марита (взрослая особь) – яйцо – мирацидий – спороциста – редия – церкарий – метацеркарий.
    </p>
    <p>
        <strong>Меры профилактики:</strong>
        <ol type="1">
            <li>Санитарнопросветительная работа среди населения;</li>
            <li>Термическая обработка рыбы;</li>
            <li>Соблюдение условий посола рыбы;</li>
            <li>Охрана водоемов от загрязнения фекалиями животных и людей;</li>
            <li>Выявление и лечение зараженных людей.</li>
        </ol>
    </p>
    <p>
        <strong>Класс Ленточные черви. <em><u>Особенности:</u></em></strong> наличие микроворсинок в покровном эпителии; плоское лентовидное тело головка, шейка, членики), органы фиксации – четыре присоски, крючья, присасывательные щели, расположенные на головке, паразитический образ жизни; развитие с метаморфозом, ПИЩЕВАРИТЕЛЬНАЯ СИСТЕМА ОТСУТСТВУЕТ.
    </p>

    <div class="row">
        <div class="col">
            <p>
                <strong>Бычий цепень (невооруженный). </strong>Заболевание: тениаринхоз.
            </p>
            <p>
                <strong>Морфологическая характеристика.</strong> Длина половозрелой формы - 4–10 м. Имеет вид ленты, в теле выделяют головку (сколекс), шейка и тело (стробила). На головке находятся органы фиксации (4 присоски), шейка является зоной роста члеников (количество члеников – до 1000).
            </p>
            <p>Членики, находящиеся вблизи головки (юные), содержат развивающиеся органы мужской половой системы, расположенные в середине (незрелые) – сформированную гермафродитную половую систему, а в конце (зрелые) – только матку, заполненную сформированными яйцами. Пищеварительная система отсутствует, питательные вещества всасываются всей поверхностью тела, которая увеличивается при помощи микроворсинок кожного эпителия.</p>
            <p>
                <strong>Цикл развития. </strong> Окончательный хозяин – человек, промежуточный – крупный рогатый скот.
            </p>
        </div>
        <div class="col justify-content-lg-center">
            <img src="~/Images/thema18/бычий цепень.png" />
            <p class="picture_framing">А — общий вид; Б — головка; В,Г — членики; 1 — присоска; 2 — шейка; 3 — семенники; 4 — семяпровод; 5 — яичник; 6 — желточник; 7 — матка; 8 — выделительный канал; 9 — матка, заполненная яйцами.</p>
        </div>
    </div>
    <p>
        Половозрелая стадия паразитирует в тонком кишечнике человека. Яйца цепня выводятся с фекалиями во внешнюю среду и попадают в траву. Крупный рогатый скот вместе с травой проглатывает яйца, и в кишечнике тракте из них образуется личинка с крючьями <strong>(онкосфера).</strong> Онкосфера пробуравливает стенку кишечника и с током крови попадает в мышцы животного, где превращается в пузырек с ввернутой внутрь головкой и шейкой червя <strong>(финну). </strong>
    </p>
    <p>
        Заражение человека происходит при употреблении термически плохо обработанной говядины, содержащей финны. В организме человека из финны образуется половозрелая стадия паразита. Цепень повреждает слизистую тонкого кишечника, поглощает питательные вещества и отравляет человека продуктами своей жизнедеятельности.
    </p>
    <p>
        <strong>Стадии развития:</strong> марита – яйцо – онкосфера – финна.
    </p>
    <p>
        <strong>Меры профилактики: </strong>
        <ol type="1">
            <li>Санитарнопросветительная работа среди населения;</li>
            <li>Осуществление ветеринарной экспертизы туш крупного рогатого скота;</li>
            <li>Термическая обработка говядины перед употреблением;</li>
            <li>Охрана окружающей среды от загрязнения фекалиями людей;</li>
            <li>Выявление и лечение зараженных людей.</li>
        </ol>
    </p>
    <p>
        <strong>Свиной цепень (вооруженный). </strong>Заболевания: тениоз (половозрелая форма) и цистицеркоз (личиночная стадия).
    </p>
    <p>
        <strong>Морфологическая характеристика.</strong> Длина: 2-3 м. Сколекс имеет 4 присоски и хоботок, вооруженный двумя рядами крючьев.
    </p>
    <p>
        <strong>Цикл развития:</strong> Основной хозяин – человек, промежуточный хозяин – домашние или дикие свиньи, редко – человек. Цикл развития совпадает с таковым у бычьего цепня. Заражение человека происходит при употреблении плохо термически обработанной свинины, содержащей финны (цистицерки). При попадании финн в тонкий кишечник они превращаются в половозрелых особей, а в личиночной форме цистицерки могут паразитировать в головном мозге, глазах, печени, легких и др. органах.
    </p>
    <p>
        <strong>Стадии развития:</strong> марита – яйцо – онкосфера – финна.
    </p>
    <p>
        <strong>Меры профилактики: </strong>
        <ol type="1">
            <li>Санитарнопросветительная работа среди населения;</li>
            <li>Осуществление ветеринарной экспертизы туш крупного рогатого скота;</li>
            <li>Термическая обработка говядины перед употреблением;</li>
            <li>Охрана окружающей среды от загрязнения фекалиями людей;</li>
            <li>Выявление и лечение зараженных людей.</li>
        </ol>
    </p>
    <p>
        <strong>Лентец широкий.</strong> Заболевание: дифиллоботриоз.
    </p>
    <p>
        <strong>Морфологическая характеристика.</strong> Длина: 10-18 м. На сколексе расположены 2 присасывательные щели (ботрии).
    </p>
    <p>
        <strong>Цикл развития.</strong> Основные хозяева – человек и плотоядные млекопитающие (кошки, собаки, песцы, медведи). Промежуточные хозяева: рачки – циклопы, дафнии (первый), рыбы (второй). Резервуарный хозяин – хищные рыбы. Заражение человека происходит при употреблении в пищу плохо термически оработанной рыбы или непросоленной икры, содержащей плероцеркоиды. Половозрелая форма паразитирует в тонком кишечнике.
    </p>
    <p>
        <strong>Стадии развития:</strong> марита – яйцо – корацидий (свободноплавающая личинка, покрытая ресничками) – процеркоид (личинка в теле рачка) – плероцеркоид (личинка в теле рыбы).
    </p>
    <p>
        <strong>Меры профилактики: </strong>
        <ol type="1">
            <li>Санитарнопросветительная работа среди населения;</li>
            <li>Осуществление ветеринарной экспертизы свиных туш;</li>
            <li>Недостаточная термическая обработка рыбы и просолка икры перед употреблением;</li>
            <li>Охрана окружающей среды от загрязнения фекалиями людей;</li>
            <li>Выявление и лечение зараженных людей.</li>
        </ol>
    </p>
</div>
<div class="container">
    <p>
        <strong>Эхинококк.</strong> Заболевание: эхинококкоз.
    </p>
    <p>
        <strong>Морфологическая характеристика.</strong> Размеры тела: – до 5 мм, состоит из 3–4 члеников. На головке расположены 4 присоски и хоботок с венчиком крючьев. Пищеварительная система отсутствует, питательные вещества всасываются всей поверхностью тела, чему способствуют микроворсинки кожного эпителия.
    </p>
    <p>
        <strong>Цикл развития.</strong> Окончательный хозяин – волки, собаки и лисицы (паразитирует в тонком кишечнике). Промежуточный хозяин – человек, крупный рогатый скот, овцы и свиньи. В организме промежуточного хозяина цепень находится в стадии финны (пузырь с множеством ввернутых головок), которая развивается в легких, печени, головном мозге и костях. Заражение человека происходит при проглатывании яиц цепня, попавших на руки после контакта с собаками и дикими животными.
    </p>
    <p>
        <strong>Стадии развития:</strong> марита – яйцо – онкосфера – финна.
    </p>
    <p>
        <strong>Меры профилактики:</strong>
        <ol type="1">
            <li>Санитарнопросветительная работа среди населения;</li>
            <li>Соблюдение правил личной гигиены, мытье рук после контакта с животными;</li>
            <li>Дегельминтизация служебных собак;</li>
            <li>Уничтожение бродячих собак;</li>
            <li>Выявление и лечение зараженных людей.</li>
        </ol>
    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>Значение плоских червей.</strong>
    </div>
    <ol type="1">
        <li>Компоненты биогеоценозов;</li>
        <li>Пища для более крупных животных;</li>
        <li>Могут быть возбудителями паразитарных заболеваний человека и животных.</li>
    </ol>
</div>
<div class="container">
    <a href=@Url.Action("Test18","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>
