<div class="container">
    <p><strong>Общая биология</strong> («bios» - жизнь, «logos» - наука) – комплексная наука, изучающая основные закономерности жизненных явлений, протекающих на различных уровнях организации живого. Термин <em>«общая биология»</em> предложен Ж.-Б. Ламарком.</p>
    <p><strong>Жизнь</strong> – способ существования открытых коллоидных систем, обладающих свойствами самовоспроизведения, саморегуляции и самообновления на основе совместного функционирования сложных комплексов биополимеров – белков и нуклеиновых кислот, вследствие преобразования поступивших из внешней среды веществ и заключенной в них энергии. </p>
    <p>
        <strong>Фундаментальные свойства живого:</strong>
        <ol type="1">
            <li><em>Самовоспроизведение</em> (деление клеток и размножение);</li>
            <li><em>Саморегуляция</em> (поддержание постоянства химического состава и интенсивности обменных процессов; недостаток поступления веществ мобилизует внутренние ресурсы организма, избыток – вызывает прекращение синтеза этих веществ);</li>
            <li><em>Самообновление</em> (физиологическая регенерация, связанная с делением и дифференцировкой клеток).</li>
        </ol>
    </p>
    <p>
        <strong>Основные признаки жизни:</strong>
        <ol type="1">
            <li><em>Обмен веществ и энергии</em> – совокупность всех химических реакций в организме, начинающихся с момента поступления веществ (питание), их ассимиляции и диссимиляции (метаболизм) и заканчивающийся выведением конечных продуктов жизнедеятельности (выделение).</li>
            <li><em>Раздражимость</em> – способность организмов отвечать на раздражение из внешней среды.</li>
            <li><em>Размножение</em> – воспроизведение себе подобных организмов, сопровождающееся увеличением числа особей.</li>
            <li><em>Рост и развитие</em> – ряд количественных (возрастает число клеток) и качественных (дифференцировка клеток, образование тканей и органов, старение) изменений, которые сопровождают организм в течение жизни.</li>
            <li><em>Онтогенез</em> – совокупность процессов индивидуального развития организма, начинающихся с момента образования зиготы и заканчивающихся гибелью особи.</li>
            <li><em>Наследственность</em> – способность организмов передавать в ряду поколений особенности строения, жизнедеятельности и онтогенеза.</li>
            <li><em>Изменчивость</em> – способность организмов приобретать новые особенности морфологии, физиологии и онтогенеза в определенных условиях среды.</li>
            <li><em>Гомеостаз</em> – способность организма поддерживать показатели внутренней среды на относительно постоянном уровне.</li>
            <li><em>Регенерация</em> – способность организма восстанавливать поврежденные или утраченные части тела и органы.</li>
            <li><em> Целостность и дискретность</em> – организм, с одной стороны, является целостной структурой, обладающей всеми признаками и свойствами живого; а, с другой стороны, - состоит из более мелких составляющих его образований: макромолекул, органоидов, клеток, тканей, органов и систем.</li>
            <li><em>Адаптированность </em> – способность организмов приспосабливаться к новым условиям существования.</li>
        </ol>
    </p>
    <p>
        <strong>Уровни организации биологических систем.</strong>
        <ol type="1">
            <li><em>Молекулярно-генетический уровень.</em> Изучение химического состава, биохимических и генетических процессов, протекающих в живых системах, в т.ч. хранение, изменение и реализация генетической информации. Элементарные единицы – биомолекулы (биополимеры) – нуклеиновые кислоты и белки. Элементарное явление – передача генетической информации дочерним молекулам ДНК при репликации и молекулам белка при транскрипции и трансляции. Воплощение генетической информации в конкретные процессы жизнедеятельности возможно только в клетке.</li>
            <li><em>Клеточный уровень.</em> Изучение строения и жизнедеятельности клеток, их специализации в процессе развития, механизмов деления клеток и их взаимодействия в многоклеточном организме. Элементарная единица – клетка, элементарное явление – реакции клеточного метаболизма, упорядоченное протекание которых обеспечивают белки-ферменты. Наука, изучающая клеточный уровень – <em>цитология.</em></li>
            <li><em>Органно-тканевой уровень.</em> Изучение совокупности клеток и межклеточного вещества, имеющих сходное строение и функции (ткани и органы). Наука, изучающая этот уровень – <em>гистология.</em></li>
            <li><em>Организменный уровень.</em> Изучение особенностей строения и функций отдельных особей, механизмов согласованного функционирования их органов и систем органов, приспособительных реакций особей на изменения окружающей среды. Элементарная единица – особь (организм), элементарное явление – закономерные изменения организма в индивидуальном развитии (формирование фенотипа). Науки, изучающие организменный уровень:<em>морфология, анатомия, физиология, генетика, эмбриология.</em></li>
            <li><em>Популяционно-видовой уровень.</em> Изучение взаимоотношений между особями популяций, их генофонд и взаимоотношения с окружающей средой. Элементарная единица– популяция, а элементарное явление – изменение ее генофонда.</li>
            <li><em>Биосферно-биогеоценотический уровень.</em> Изучение взаимоотношений между популяциями биогеоценозов, круговорот веществ и энергии, обусловленный жизнедеятельностью организмов. Элементарная единица – биогеоценоз, элементарное явление – круговорот вещества и энергии, обусловленный преимущественно жизнедеятельностью организмов. Совокупность всех живых организмов, населяющих Землю и окружающая их неживая природа, составляет биосферу.</li>
        </ol>
    </p>
    <p>Науки, изучающие популяционно-видовой и биосферно-биогеоценотический уровни:</p>
    <p><em>Эволюционное учение </em> – наука об историческом развитии и многообразии живой природы.</p>
    <p><em>Экология</em> – наука о взаимоотношении организмов между собой и с окружающей средой в образуемых ими сообществах.</p>
    <p><em>Биогеография</em> – наука, изучающая общие закономерности распространения организмов разных видов по территории Земли.</p>
    <p><em>Учение о биосфере</em> – наука о биотическом круговороте веществ и превращении энергии на планете, эволюции биосферы, границах распространения и биогеохимических функциях живого вещества. </p>
    <h3 class="text-center"><strong>Практическое значение биологии.</strong></h3>
    <ol type="1">
        <li><em>Теоретическая основа медицины.</em> Цитология выявляет нарушения в клетках, которые возникают при заболеваниях; генетика позволяет выявить причины наследственных заболеваний и разработать методы их диагностики и лечения; экология разрабатывает меры охраны окружающей среды.</li>
        <li><em>Биологическое моделирование в науке и медицине</em> (изучение сущности патологических процессов, выявление принципиальных возможностей восстановления клеток и тканей, обнаружение способов профилактики и лечения болезней человека).</li>
        <li><em>Трансплантация органов.</em></li>
        <li><em>Борьба с болезнетворными организмами и профилактика инфекций.</em></li>
        <li><em>Промышленное производство антибиотиков, ферментов, гормонов (инсулина, соматотропина), кормовых белков, стимуляторов роста</em> на основе генно-инженерных технологий (генная инженерия – комплекс методов, с помощью которых возможно конструирование про- и эукариотических клеток с новой генетической программой). </li>
        <li><em>Повышение продуктивности агроценозов.</em></li>
        <li><em>Создание новых сортов и пород.</em></li>
        <li><em> Разработка биологических методов борьбы с вредителями сельского хозяйства.</em></li>
        <li><em>Охрана окружающей среды.</em></li>
    </ol>
    <h3 class="text-center"><strong>Клетка – структурная и функциональная единица жизни.</strong></h3>
    <h3 class="text-center"><strong>Цитология как наука. Методы изучения клетки.</strong></h3>
    <p><strong>Цитология</strong> ( греч. «cytos» – клетка, «logos» – наука) – наука, изучающая строение, химический состав и функции клеток, их размножение, развитие и взаимодействие в многоклеточном организме.</p>
    <p>Предмет изучения цитологии: молекулярно-генетический и клеточный уровень организации живого вещества.</p>
    <p>
        <strong>Задачи цитологии:</strong>
        <ol type="1">
            <li>Изучение строения и функций клеток и их компонентов (мембран, органоидов, включений, ядра);</li>
            <li>Изучение химического состава клеток и биохимических реакций, протекающих в них;</li>
            <li>Изучение взаимоотношений клеток многоклеточного организма, деления клеток;</li>
            <li>Изучение возможностей приспособления клетки к изменениям условий окружающей среды.</li>
        </ol>
    </p>
    <p>
        <strong>Методы цитологии:</strong>
        <ol type="1">
            <li><em>Световая микроскопия.</em> Суть метода: получение увеличенного изображения объекта в лучах видимого света при помощи систем линз: объективов и окуляров. Максимальное увеличение – 1500-2000 раз. Метод позволяет изучить внешнее строение клетки и ее отдельные структуры (ядро, оболочка, вакуоли).</li>
            <li><em>Электронная микроскопия.</em> Суть метода: получение увеличенного изображения объекта на экране монитора в результате изменения физических свойств потока электронов, проходящих через срез объекта. Максимальное увеличение – 2x105-106 раз. Метод позволяет изучить ультраструктуру органоидов и структурных элементов клетки (биологические мембраны, рибосомы, детали строения митохондрий, пластид, хромосом).</li>
            <li><em>Люминесцентная микроскопия.</em> Суть метода: люминесценция специальных веществ, используемых для избирательного окрашивания изучаемых объектов. Люминесценция – свечение в видимой части спектра при облучении УФ-лучами. </li>
            <li><em>Гистохимический метод.</em> Суть метода: избирательное действие красителей на определенные химические вещества клетки. Метод позволяет изучить химический состав и локализацию различных химических компонентов (белков, ДНК, РНК, липидов, углеводов) в клетках. Для изучения тончайших.</li>
            <li><em>Биохимический метод.</em> Суть метода: использование качественных и количественных химических реакций, позволяющий изучать химический состав клеток и биохимические реакции, протекающие в них.</li>
            <li><em>Метод дифференциального центрифугирования.</em> Суть метода: при вращении пробирки в ультрацентрифуге различные органоиды выпадают в осадок, располагаясь на дне пробирки слоями в соответствии с их плотностью (более плотные компоненты осаждаются при более низких скоростях вращения, менее плотные – при более высоких). Метод позволяет выделить отдельные компоненты клетки (митохондрии, лизосомы, рибосомы и др.) для последующего изучения другими методами, например, биохимическими.</li>
            <li><em>Метод рентгеноструктурного анализа.</em> Суть метода: рассеивание R-лучей при их прохождении через кристалл изучаемого вещества, которое регистрируется на рентгеночувствительной пленке. Метод позволяет изучить пространственное расположение и физические свойства атомов в молекулах ДНК и белков, входящих в состав клеточных структур.</li>
            <li><em>Метод авторадиографии (метод меченых изотопов).</em> Суть метода: введение в клетку радиоактивных изотопов (3H, 32P, 14C). Метод позволяет проследить этапы превращения любых веществ во времени в клетке и во внутриклеточном пространстве. </li>
            <li><em>Метод кино- и фотосъемки.</em> Метод позволяет изучить процессы матричного синтеза и деления живых клеток.</li>
            <li><em>Метод микрургии.</em> Суть метода: оперативное воздействие на клетку (удаление или имплантирование отдельных органоидов, пересаживание их из клетки в клетку) Метод позволяет выяснить функции отдельных органоидов, получить гибридные клетки для клеточной инженерии.</li>
            <li><em>Метод культуры клеток.</em> Суть метода: выращивание отдельных клеток многоклеточных организмов на питательных средах в стерильных условиях. Метод позволяет изучить клетки различных органов и тканей растений и животных, процессы их деления, дифференцировку и специализацию клеток и получать клоны растительных организмов.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Клеточная теория.</strong></h3>
    <p>Впервые в 1665 г. английский естествоиспытатель Р. Гук, наблюдая под микроскопом срез пробки дерева, обнаружил пустые ячейки, которые он назвал «клетками». <em>Р.Гук</em> увидел фактически только оболочки растительных клеток.</p>
    <p>Голландец <em>А. Ван Левенгук</em> в 1674 г. многократно наблюдал под микроскопом в капле воды одноклеточные организмы, а также эритроциты и сперматозоиды.</p>
    <p>1675 г <em>М.Мальпиги</em> и в 1682 г. Н.Грю подтвердили клеточное строение растений.</p>
    <p>825 г. чешский ученый <em>Я. Пуркине</em> обратил внимание на полужидкое студенистое содержимое клеток и назвал его протоплазмой. </p>
    <p>Английский ботаник <em>Р. Броун</em> в 1831 г. обнаружил ядро в клетках растений.</p>
    <p>Немецкий ботаник <em>М. Шлейден</em> в 1837 г. установил, что все растительные клетки содержат ядро.</p>
    <p>Обобщив накопившиеся к этому времени данные, немецкий зоолог <em>Т.Шванн</em> в 1839 г. в работе «Микроскопические исследования о соответствии в структуре и росте животных и растений» сформулировал клеточную теорию.</p>
    <p>
        <strong>Положения клеточной теории:</strong>
        <ol type="1">
            <li>Клетка является главной структурной единицей всех живых организмов (вне клетки нет жизни);</li>
            <li>Клетки животных и растений сходны по своему строению;</li>
            <li>Процесс образования клеток обуславливает рост и развитие тканей и организмов.</li>
            <li>Клетка образуется из неклеточного вещества (ОШИБОЧНОЕ УТВЕРЖДЕНИЕ).</li>
        </ol>
    </p>
    <p>В 1858 г. немецкий патолог <em>Р. Вирхов</em> дополнил клеточную теорию: клетка может происходить только от материнской клетки в результате ее деления. </p>
    <p>
        <strong>Современная клеточная теория включает следующие положения:</strong>
        <ol type="1">
            <li>Клетка – основная структурно-функциональная и генетическая единица живых организмов, наименьшая единица живого;</li>
            <li>Клетки всех одноклеточных и многоклеточных организмов сходны по строению, химическому составу и важнейшим проявлениям процессов жизнедеятельности;</li>
            <li>Каждая новая клетка образуется в результате деления исходной (материнской) клетки;</li>
            <li>Клетки многоклеточных организмов специализированы: они выполняют разные функции и образуют ткани.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Содержание химических элементов в клетке, их функции.</strong></h3>
    <p>
        В зависимости от содержания элементы делят на три группы:
        <ol type="1">
            <li><em>Макроэлементы,</em> содержание в клетке составляет более 10<sup>–3</sup>% (кислород, углерод, водород, азот, фосфор, сера, кальций, калий, хлор, натрий и магний). Составляют вместе свыше 99% массы клеток, причем 98% приходится на долю первых четырех элементов;</li>
            <li><em>Микроэлементы</em>, содержание колеблется от 10<sup>–3</sup>% до 10<sup>–6</sup>% (железо, марганец, медь, цинк, кобальт, никель, йод, фтор, бор, селен, алюминий, кремний, молибден); на их долю приходится менее 1,0% массы клеток; </li>
            <li><em>Ультрамикроэлементы,</em> содержание менее 10 <sup>–6</sup>% (золото, серебро, уран, бериллий, цезий, бром, ртуть) – в сумме менее 0,01% массы клетки.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Важнейшие химические элементы клетки.</strong></h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Название элемента</td>
                <td colspan="2">Значение элемента для клетки и организма</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Кислород</td>
                <td colspan="2">Входит в состав воды и большинства органических веществ</td>
            </tr>
            <tr>
                <td>Водород</td>
                <td colspan="2">Входит в состав воды и большинства органических веществ</td>
            </tr>
            <tr>
                <td>Углерод</td>
                <td colspan="2">Входит в состав всех органических веществ</td>
            </tr>
            <tr>
                <td>Азот</td>
                <td colspan="2">Входит в состав аминокислот, белков, нуклеиновых кислот, АТФ, хлорофилла, витаминов</td>
            </tr>
            <tr>
                <td>Сера</td>
                <td colspan="2">Входит в состав аминокислоты цистеин, белков, некоторых витаминов</td>
            </tr>
            <tr>
                <td>Фосфор</td>
                <td colspan="2">Входит в состав костной ткани, зубной эмали, органических веществ (ДНК, РНК, АТФ и некоторых ферментов)</td>
            </tr>
            <tr>
                <td>Калий</td>
                <td colspan="2">Участвует в регуляции ритма сердечной деятельности, генерации нервных импульсов и фотосинтезе, активирует ферменты синтеза белка</td>
            </tr>
            <tr>
                <td>Натрий</td>
                <td colspan="2">Поддерживает осмотическое давление и кислотно-щелочное равновесие, участвует в генерации нервных импульсов, регуляции ритма сердечной деятельности, влияет на синтез гормонов</td>
            </tr>
            <tr>
                <td>Хлор</td>
                <td colspan="2">Поддерживает осмотическое давление, входит в состав соляной кислоты желудочного сока</td>
            </tr>
            <tr>
                <td>Кальций</td>
                <td colspan="2">Входит в состав костной ткани, зубной эмали, участвует в процессах свертывания крови и обеспечивает сократимость мышечных волокон, у растений входит в состав клеточной стенки</td>
            </tr>
            <tr>
                <td>Магний</td>
                <td colspan="2">Входит в состав костной ткани, зубной эмали, хлорофилла и ферментов, катализирующих реакции энергетического и пластического обмена</td>
            </tr>
            <tr>
                <td>Йод</td>
                <td colspan="2">Входит в состав гормонов щитовидной железы</td>
            </tr>
            <tr>
                <td>Железо</td>
                <td colspan="2">Входит в состав ферментов, гемоглобина и миоглобина, участвует в транспорте электронов в процессе дыхания, в биосинтезе хлорофилла</td>
            </tr>
            <tr>
                <td>Медь</td>
                <td colspan="2">Входит в состав гемоцианина, в состав некоторых ферментов; участвует в процессах кроветворения, фотосинтеза, синтеза гемоглобина</td>
            </tr>
            <tr>
                <td>Марганец</td>
                <td colspan="2">Входит в состав и повышает активность некоторых ферментов; участвует в развитии костей, ассимиляции азота и процессе фотосинтеза</td>
            </tr>
            <tr>
                <td>Молибден</td>
                <td colspan="2">Входит в состав фермента нитратредуктаза, участвует в процессе связывания атмосферного азота клубеньковыми бактериями</td>
            </tr>
            <tr>
                <td>Кобальт</td>
                <td colspan="2">Входит в состав витамина В12, участвует в фиксации атмосферного азота клубеньковыми бактериями, в развитии эритроцитов</td>
            </tr>
            <tr>
                <td>Бор</td>
                <td colspan="2">Влияет на рост растений, активирует ферменты дыхания</td>
            </tr>
            <tr>
                <td>Цинк</td>
                <td colspan="2">Входит в состав некоторых ферментов поджелудочной железы, участвует в синтезе фитогормонов (ауксинов) и гликолизе</td>
            </tr>
            <tr>
                <td>Фтор</td>
                <td colspan="2">Входит в состав костной ткани и зубной эмали</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center"><strong>Вода и минеральные соли, их роль в клетке.</strong></h3>
    <p>Вода – самое распространенное неорганическое соединение в клетках живых организмов. Количество воды в клетках зависит от характера обменных процессов: чем они интенсивнее, тем выше содержание воды. В среднем в теле многоклеточных содержится около 80% воды. </p>
    <p>Вода – необходимое условие жизнедеятельности, при потере большого количества воды многие организмы гибнут, а другие впадают в состояние анабиоза (процессы жизнедеятельности протекают на очень низком уровне).</p>
    <p>
        <strong>Физико-химические свойства воды:</strong>
        <ol type="1">
            <li>Высокая теплопроводность и теплоемкость (регуляция теплового режима клеток).</li>
            <li>Большая величина теплоты парообразования.</li>
            <li>Высокая химическая активность (диполь, водородные связи).</li>
            <li>Способность к диссоциации на Н<sup>+</sup> и ОН<sup>-</sup>.</li>
            <li>Большое поверхностное натяжение.</li>
        </ol>
    </p>
    <p>
        <strong>Значение Н<sub>О в клетке:</sub></strong>
        <ol type="1">
            <li><em>Определяет физические свойства клетки (объём, масса, тургор).</em></li>
            <li><em>Универсальный растворитель.</em> Молекулы воды способны ориентироваться в электрическом поле, присоединяться к различным ионам, и образовывать гидраты – это явление лежит в основе растворяющих свойств воды. <em>Гидрофильные вещества</em> – вещества, хорошо растворимые в воде (минеральные соли, кислоты, щелочи, белки, витамины группы В и витамин С, все моносахариды). <em>Гидрофобные вещества</em> – вещества, практически не растворимые в воде (жиры, полисахариды, белки, витамины А, Е, К и D).</li>
            <li><em>Основной компонент внутренней среды организма, место протекания большинства биохимических реакций в клетке.</em></li>
            <li><em>Участник реакций гидролиза: АТФ + Н<sub>2</sub>О = АДФ + Н<sub>3</sub>РО<sub>4</sub> + 40</em> кДж</li>
            <li><em>Источник свободного кислорода при фотосинтезе.</em></li>
            <li><em>Участвует в транспорте веществ:</em> поглощение питательных веществ, их передвижение и выведение конечных продуктов обмена происходит в виде водных растворов. </li>
            <li><em>Обеспечивает явление осмоса.</em> Проникновение молекул растворителя через полупроницаемую мембрану в раствор вещества называется <em>осмосом,</em> а давление, с которым растворитель (вода) проникает через мембрану, – <em>осмотическим.</em> Величина осмотического давления возрастает с увеличением концентрации раствора. Осмотическое давление жидкостей организма человека и большинства млекопитающих равно давлению 0,85%-го раствора хлорида натрия. Растворы с таким осмотическим давлением называются <em>изотоническими,</em> более концентрированные – <em>гипертоническими</em> (приводит к сморщиванию клеток), а менее концентрированные – <em>гипотоническими</em> (приводит к набуханию клеток). Явление осмоса лежит в основе напряжения стенок растительных клеток (тургор).</li>
            <li><em>Дипольный характер молекулы воды позволяет ей формировать вокруг молекул белков водную (сольватную) оболочку,</em> препятствующую склеиванию их друг с другом. Это связанная вода, составляющая 4–5% всего ее содержания. Остальную воду (около 95%) называют свободной. Гидрофильно-гидрофобные взаимодействия между различными частями белковой молекулы обеспечивают образование четвертичной структуры белка.</li>
            <li><em>Обеспечивает терморегуляцию,</em> поддерживая одинаковую температуру во всех частях тела организма (транспирация растений и потоотделение у млекопитающих).</li>
        </ol>
    </p>
    <p>
        <strong>Минеральные соли в клетке могут быть:</strong>
        <ol type="1">
            <li>В твердом состоянии в виде кристаллов – Са<sub>3</sub>(РО<sub>4</sub>)<sub>2</sub> в костной ткани, СаСО<sub>3</sub> в раковине моллюсков.</li>
            <li>В диссоциированном состоянии в виде катионов и анионов. Содержание катионов и анионов в клетке и окружающей ее среде (плазме крови, межклеточной жидкости, морской и пресной воде) различно вследствие полупроницаемости мембран. Например, в цитоплазме клеток много калия и мало натрия, а в межклеточной жидкости – наоборот. Анионы слабых кислот связывают ионы водорода (Н<sup>+</sup>), а катионы слабых щелочей – ионы и гидроксила (ОН<sup>-</sup>), вследствие чего в клетках и межклеточной жидкости на постоянном уровне поддерживается слабощелочная реакция. Это явление называется буферностью.</li>
        </ol>
    </p>
    <p>
        <strong>Буферные системы:</strong>
        <ol type="1">
            <li><em>Фосфатная буферная система</em> (Н<sub>2</sub>РО<sub>4</sub>/НРО<sub>4</sub><sup>2</sup>) поддерживает внутри клеток слабокислую среду (рН=6,9). </li>
            <li><em>Бикарбонатная буферная система</em> (НСО<sub>3</sub>/СО<sub>3</sub><sup>2</sup>) поддерживает вне клеток слабощелочную среду (рН=7,4).</li>
        </ol>
    </p>
    <p>
        <strong>Физиологическая роль ионов в клетке:</strong> участвуют в активации ферментов, создании осмотического давления в клетке (К<sup>+</sup>, Na<sup>+</sup>, Cl), в процессах мышечного сокращения и свертывания крови (Са<sup>2+</sup>); остатки фосфорной кислоты входят в состав нуклеотидов, АТФ, ион Fe<sup>2+</sup> - в состав гемоглобина, Mg<sup>2+</sup> - в состав хлорофилла. Ионы NO<sub>3</sub>, NH<sub>4</sub><sup>+</sup> являются источниками атомов азота, SO<sub>4</sub><sup>2</sup> – атомы серы, необходимые для синтеза молекул аминокислот.
    </p>
    <h3 class="text-center"><strong>Органические вещества клетки. Белки, липиды, углеводы, их роль в клетке.</strong></h3>
    <p>
        Органические соединения составляют около 20–30% массы живых клеток. К ним относятся биологические полимеры – белки, нуклеиновые кислоты и полисахариды, а также жиры, гормоны, пигменты, АТФ. Биологические полимеры – это высокомолекулярные органические соединения, относительная молекулярная масса которых составляет 10<sup>3</sup>-10<sup>9</sup>. Молекулы биополимеров состоят из большого количества повторяющихся звеньев – мономеров. По форме биополимеры – это линейные или ветвящиеся цепи. Биополимеры обладают свойствами: взаимодействуют по типу кооперативности (тесной взаимосвязи функциональных групп), способны образовывать комплексы между различными частями молекулы, либо различными молекулами.
    </p>
    <p>
        <strong><u>Белки (протеины).</u></strong> Мономер – аминокислоты. Содержание: 10–18% общей массы клетки (50–80% сухой массы). Молекулярная масса белков колеблется от десятков тысяч до многих миллионов единиц.
    </p>
    <p>Все белки живых организмов построены из 20 аминокислот. Несмотря на это, разнообразие белковых молекул огромно. Они различаются по величине, структуре и функциям, которые определяются составом, количеством и порядком расположения аминокислот.</p>
    <p>Помимо простых белков (альбумины, глобулины, гистоны) имеются и сложные, представляющие собой соединения белков с углеводами (гликопротеины), жирами (липопротеины) и нуклеиновыми кислотами (нуклеопротеины).</p>
    <p>Каждая аминокислота состоит из углеводородного радикала, соединенного с карбоксильной группой, имеющей кислотные свойства (–СООН), и аминогруппой (–NН<sub>2</sub>), обладающей основными свойствами. Аминокислоты отличаются одна от другой только радикалами.</p>
    <p>
        <strong>В зависимости от свойств радикала аминокислоты делят на 3 группы:</strong>
        <ol type="1">
            <li><em>Неполярные</em> (аланин, метионин, валин, пролин, лейцин, изолейцин, триптофан, фенилаланин).</li>
            <li><em>Полярные незаряженные</em> (аспарагин, глутамин, серин, глицин, тирозин, треонин, цистеин).</li>
            <li><em>Полярные заряженные</em> (аргинин, гистидин (заряжены положительно), аспарагиновая и глутаминовая кислоты (заряжены отрицательно).</li>
        </ol>
    </p>
    <p>Растения синтезируют все аминокислоты, необходимые для построения белков, из первичных продуктов фотосинтеза. Животные и человек не способны синтезировать следующие аминокислоты: валин, изолейцин, лейцин, лизин, метионин, треонин, триптофан и фенилаланин; эти аминокислоты называются <strong>незаменимыми.</strong> Аминокислоты, которые человек может синтезировать называются <strong>заменимыми.</strong></p>
    <p>Аминокислоты являются амфотерными соединениями, обладающими одновременно свойствами и кислот, и оснований. Данное явление обусловливает возможность соединения кислот в длинные цепочки. При этом устанавливаются прочные ковалентные (пептидные) связи между углеродом кислотной и азотом основной групп (–СО–NН–(пептидная связь)) с выделением молекулы воды. Соединения, состоящие из двух аминокислотных остатков, называются дипептидами, из трех – трипептидами, из многих – полипептидами.</p>
    <p>
        <strong>Уровни структурной организации белков:</strong>
        <ol type="1">
            <li><em>Первичная структура белка</em> – линейное соединение аминокислот в полипептид. Стабилизационные связи: <em>пептидные.</em></li>
            <li><em>Вторичная структура белка</em> – закручивание одной полипептидной цепи в α-спираль (пружина) – миозин, фибриноген, коллаген, кератин или β-складчатый слой (гармошка) – фиброин (основа шелка). Стабилизационные связи: α-спираль: <em>водородные связи,</em> образующиеся между атомами О и Н аминокислот, расположенных на соседних витках спирали; β-складчатый слой: 2 полипептидные цепи, расположенные параллельно в одной плоскости, соединенные <em>водородными связями.</em></li>
            <li><em>Третичная структура белка</em> – пространственная укладка белковой спирали в трехмерную глобулу (альбумины, глобулины). Стабилизационные связи: <em>ковалентные дисульфидные связи, ионные связи, водородные связи, гидрофильно-гидрофобные взаимодействия.</em></li>
            <li><em>Четвертичная структура белка</em> – соединение нескольных глобул в единую структуру (гемоглобин). Стабилизационные связи: <em>ионные связи, водородные связи, гидрофильно-гидрофобные взаимодействия.</em></li>
        </ol>
    </p>
    <p>Помимо простых белков (альбумины, фибрин, трипсин) существуют сложные белки (протеиды), содержащие белковую и небелковую (простетическую) части: ионы металлов (металлопротеиды), углеводы (гликопротеиды), липиды (липопротеиды) или нуклеиновые кислоты (нуклеопротеиды).</p>
    <p>
        <strong>Свойства белков.</strong>
        <ol type="1">
            <li><em>Видовая специфичность.</em> Каждая клетка способна к синтезу строго определенных белков. Первичная структура белка закодирована в ДНК.</li>
            <li><em>Способность переходить из состояния золя в гель.</em> Белки, растворенные в воде (гиалоплазма, кариолимфа), придают раствору коллоидные свойства.</li>
            <li><em>Денатурация и ренатурация.</em> Утрата белковой молекулой своей структурной организации называется денатурацией. Причиной ее могут быть различные химические (кислоты, щелочи, спирты, соли тяжелых металлов) и физические (высокая температура и давление, ионизирующие излучения) факторы. Вначале разрушается очень слабая – четвертичная, затем третичная и вторичная структуры. Если под действием денатурирующего фактора не затрагивается первичная структура, то при возвращении белковых молекул в нормальные условия среды их структура может восстанавливаться (ренатурация). </li>
            <li><em>Сократимость.</em> Молекулы актина и миозина способны взаимодействовать друг с другом, изменяя форму молекулы, и тем самым выполнять сокращение.</li>
            <li><em>Различная химическая активность.</em></li>
        </ol>
    </p>
    <p>
        <strong>Функции белков:</strong>
        <ol type="1">
            <li><em>Структурная.</em> Как строительный материал входят в состав всех клеточных мембран, хроматина, ядрышек, рибосом, формируют цитоскелет клетки (микрофиламенты и микротрубочки). Из кератина и коллагена состоит хрящ, сухожилия, волосы, ногти, кости, рога, копыта, паутина, перья.</li>
            <li><em>Каталитическая.</em> Все ферменты являются белками (трипсин, ДНК-полимераза).</li>
            <li><em>Транспортная.</em> Перенос веществ: кислорода и диоксида углерода (гемоглобин), свободных жирных кислот (сывороточный альбумин), некоторых биологически активных веществ (гормонов) и ионов металлов (глобулины). Транспортную функцию выполняют белки мембран – пермеазы, порины.</li>
            <li><em>Двигательная (сократительная).</em> Все виды двигательных реакций клеток и организмов обеспечиваются специальными сократительными белками – актином, миозином и тубулином. Они содержатся во всех мышцах, ресничках, жгутиках, микрофиламентах. Их нити способны сокращаться с использованием энергии АТФ.</li>
            <li><em>Защитная.</em> Иммуноглобулины (антитела) обеспечивают защиту в ответ на проникновение в организм генетически чужеродных белков или микроорганизмов. Протромбин и фибриноген обеспечивают защитную реакцию свертывания крови.</li>
            <li><em>Сигнальная (рецепторная).</em> Способность молекул изменять свою структуру (конформация) под влиянием химических и физических факторов, вследствие чего клетка или организм воспринимают эти изменения (родопсин палочек сетчатки глаза, фитохром – белок, регулирующий фотопериодизм растений).</li>
            <li><em>Регуляторная.</em> Некоторые гормоны имеют белковую природу (инсулин, АКТГ, глюкагон).</li>
            <li><em>Энергетическая.</em> Способность быть источником энергии в клетке (как правило, при отсутствии других источников). При полном ферментативном расщеплении 1 г белка выделяется 17,6 кДж энергии.</li>
        </ol>
    </p>
    <p>
        <strong><u>Липиды (жиры)</u></strong> – органические соединения, нерастворимые в воде, но хорошо растворимые в органических растворителях (эфире, бензине, хлороформе). Липиды (жиры) и липоиды являются обязательными компонентами всех клеток. Жиры представляют собой сложные эфиры высокомолекулярных жирных кислот и трехатомного спирта глицерола, а липоиды – жирных кислот с другими спиртами. Обладают наименьшей молекулярной массой из всех биополимеров. Содержание жиров в клетке колеблется от 5 до 15% массы сухого вещества, а в клетках подкожной жировой клетчатки – до 90%.
    </p>
    <p>
        Липиды могут образовывать сложные комплексы с белками (липопротеины), углеводами (гликолипиды), остатками фосфорной кислоты (фосфолипиды).
    </p>
    <p>
        Степень насыщенности и длина цепей высших карбоновых кислот определяют физические свойства жиров при комнатной температуре.
    </p>
    <p>
        <strong>Растительные (жидкие) жиры (масла)</strong> содержат остатки ненасыщенных жирных кислот. <strong>Животные (твердые) жиры</strong> содержат остатки насыщенных жирных кислот. Непредельными (ненасыщенными) жирными кислотами являются олеиновая, линолевая и линоленовая, предельными (насыщенными) – пальмитиновая, стеариновая, арахиновая.
    </p>
    <p>
        <strong>Фосфолипиды</strong> –молекулы, в которых одна из крайних цепей карбоновых кислот триацилглицерола замещена на остаток фосфорной кислоты, к которой могут присоединяться другие молекулы. Молекулы фосфолипидов имеют полярные головки и неполярные хвосты. Глицерол и фосфат, образующие полярные головки, гидрофильны, а неполярные хвостовые молекулы (остатки жирных кислот) – гидрофобны. Суммарно, соединение является <em>амфифильным,</em> что обуславливает роль фосфолипидов в организации биологических мембран.
    </p>
    <p>
        <strong>Воска</strong> – сложные эфиры одноатомных высокомолекулярных спиртов и высших карбоновых кислот, которые входят в состав липидных фракций нервной ткани, селезенки, лимфатических узлов и желчных протоков. Воск используется пчелами в строительстве сот.
    </p>
    <p>
        <strong>Стероиды</strong> <em>(стеролы:</em> желчные кислоты, половые гормоны, витамин D, холестерол; <em>терпены:</em> каротиноиды, фитол, фитогормоны, витамин К, ментол) построены на основе спирта холестерола, плохо растворимы в воде.
    </p>
    <p>
        <strong>Функции липидов:</strong>
        <ol type="1">
            <li><em>Структурная.</em> Фосфолипиды образуют основу биологических мембран клеток. Липиды входят в состав оболочек нервных волокон.</li>
            <li><em>Регуляторная.</em>  Производными холестерола являются мужской (тестостерон) и женский (прогестерон) половые гормоны и альдостерон (гормон коры надпочечников), витамин D.</li>
            <li><em>Энергетическая.</em> Являются источником энергии: при полном расщеплении 1 г жира высвобождается 38,9 кДж энергии. Являются запасным источником энергии, накапливаясь в жировой ткани животных и в плодах и семенах растений. </li>
            <li><em>Защитная.</em> Защищают органы от механических повреждений (почки, кишечник).</li>
            <li><em>Теплоизоляционная.</em> Благодаря низкой теплопроводности слой подкожного жира помогает сохранить тепло.</li>
            <li><em>Смазывающая и водоотталкивающая.</em> Воска покрывают кожу, шерсть, перья, делают их более эластичными и предохраняют от влаги. Восковым налетом покрыты листья и плоды многих растений.</li>
            <li><em>Источник метаболической воды.</em> При окислении 100 г жира выделяется примерно 105 г воды (горб верблюда, жировые отложения животных во время спячки). </li>
        </ol>
    </p>
    <p>
        <strong><u>Углеводы</u></strong> – обязательный компонент как животных, так и растительных клеток. В растительных клетках содержание достигает 90% сухой массы (в клубнях картофеля), а в животных – 5% (в клетках печени). В состав молекул углеводов входят углерод, водород и кислород, причем число атомов водорода в большинстве случаев вдвое превышает число атомов кислорода – С<sub>n</sub>(H<sub>2</sub>O)<sub>m</sub> , где n и m могут иметь разные значения. Представляют собой первичные продукты фотосинтеза и исходные компоненты для биосинтезадругих органических веществ. Термин «углеводы» предложил <em>Шмидт.</em> Все углеводы подразделяются на моно-, олиго- и полисахариды.
    </p>
    <p>
        <strong>Моносахариды (простые сахара).</strong> В зависимости от количества атомов углерода подразделяются на триозы (3) - глицеральдегид, тетрозы (4) - эритрозы, пентозы (5) – рибоза, дезоксирибоза и гексозы (6) – глюкоза, фруктоза. Моносахариды хорошо растворимы в воде, сладкие на вкус.
    </p>
    <p>
        <strong>Олигосахариды.</strong> Содержат от 2 до 10 остатков моносахаридов, соединенных гликозидными связями, которые соединяют атомы углерода соседних молекул через кислород.
    </p>
    <p>
        Наибольшее практическое значение имеют <em>дисахариды</em> (С<sub>12</sub>Н<sub>22</sub>О<sub>11</sub> ), которые объединяют в одной молекуле два моносахарида. Пищевой сахар (сахароза) состоит из молекул глюкозы и фруктозы, молочный сахар (лактоза) – из глюкозы и галактозы, мальтоза – из 2 молекул глюкозы. Дисахариды хорошо растворимы в воде и имеют сладкий вкус.
    </p>
    <p>
        <strong>Полисахариды</strong> – высокомолекулярные полимеры, образуются в результате поликонденсации моносахаридов, относительная молекулярная масса достигает 10<sup>7</sup> , общая формула (С<sub>6</sub>H<sub>10</sub>O<sub>5</sub>)<sub>n</sub>. Практически нерастворимы в воде и не обладают сладким вкусом.
    </p>
    <p>
        <strong>Виды полисахаридов:</strong>
        <ol type="1">
            <li><em>Крахмал.</em> Основной резервный углевод у растений. Состоит из нескольких тысяч остатков глюкозы, молекула слабо разветвлена, содержится в плодах, семенах и клубнях.</li>
            <li>
                <em>Гликоген.</em> Основной резервный углевод у грибов и животных. Содержит до 30000 остатков глюкозы, молекула сильно разветвлена. Содержится в клетках печени и мышечной ткани.
                <p>Крахмал и гликоген удобны в качестве запасных питательных веществ, т.к. не оказывают на клетку ни механического, ни химического влияния, находятся в твердом состоянии, что увеличивает полезную массу продукта. Твердое состояние не доступно болезнетворным бактериям (поглощают только растворенные вещества).</p>
            </li>
            <li><em>Целлюлоза.</em> Линейный полисахарид, состоящий из нескольких прямых параллельных цепей, образованных остатками глюкозы и соединенных между собой водородными связями. Цепи собраны в пучки – микрофибриллы. Прочная, что обеспечивает устойчивость оболочек растительных клеток. Служит пищей для многих животных, бактерий, грибов. Человек не усваивает целлюлозу (в ЖКТ отсутствует фермент целлюлаза, расщепляющий целлюлозу до глюкозы), частично целлюлозу расщепляют бактерии толстого кишечника.</li>
            <li>
                <em>Хитин.</em> Основной компонент клеточной стенки грибов и наружного скелета членистоногих. Образован молекулами глюкозы, в которой гидроксильная группа второго атома углерода замещена азотсодержащей группой (NH-CO-CH<sub>3</sub>). Цепи собраны в пучки – микрофибриллы.
                <p>Углеводы образуют сложные комплексы с белками (гликопротеины (гепарин (препятствует свертыванию крови)), жирами (гликолипиды (компонент клеточных мембран и основное вещество нервных клеток).</p>
            </li>
        </ol>
    </p>
    <p>
        <strong>Функции углеводов:</strong>
        <ol type="1">
            <li><em>Энергетическая.</em> При окислении 1 г углеводов высвобождается 17,6 кДж энергии.</li>
            <li><em>Запасающая.</em> Крахмал в растительных клетках, гликоген в мышцах и клетках печени откладываются в качестве запасного питательного вещества.</li>
            <li><em>Структурная.</em> Целлюлоза образует стенки растительных клеток; хитин – стенки клеток грибов и наружный скелет членистоногих.</li>
        </ol>
    </p>
    <p><strong><u>Ферменты (энзимы)</u></strong> – биологически активные вещества белковой природы, являющиеся катализаторами биохимических реакций. Обладают четвертичной структурой. Белковая часть фермента называется <em>апоферментом.</em> В состав многих ферментов могут входить и небелковые компоненты – <em>кофактор</em> (неорганические соединения, например, ионы металлов Zn<sup>2+</sup>, Mg<sup>2+</sup>) или <em>кофермент</em>   (коэнзим), если это низкомолекулярное органическое соединение (витамины).  </p>
    <p>
        <strong>Свойства ферментов:</strong>
        <ol type="1">
            <li>Высокая биохимическая активность;</li>
            <li>Действие при определенных температуре и рН среды;</li>
            <li>Специфичность (каждый фермент может катализировать только одну реакцию).</li>
        </ol>
    </p>
    <p><strong>Механизм действия ферментов:</strong> теория активного центра. В молекуле фермента имеется один или более участков, в которых происходит тесный контакт между молекулами фермента и специфического вещества (субстрата).</p>
    <p><em>Активный центр</em> – функциональная группа, отдельная аминокислота или сочетание нескольких аминокислотных остатков (3-12). Активный центр может формироваться металлами, витаминами.</p>
    <p>Форма и химическое строение активного центра соответствует пространственной структуре субстрата (как ключ-замок, рука-перчатка).</p>
    <p>Вокруг молекулы фермента возникает сильное электрическое поле, которое обеспечивает ориентацию и деформацию молекул субстрата, что приводит к ослаблению химических связей и реакция происходит с меньшими затратами энергии и большей скоростью. На заключительном этапе фермент-субстратный комплекс распадается с образованием конечных продуктов и свободного фермента. </p>
    <h3 class="text-center"><strong>Нуклеиновые кислоты, их строение и функции. Значение АТФ в клетке.</strong></h3>
    <p><strong>Нуклеиновые кислоты</strong> – сложные высокомолекулярные фосфорсодержащие биополимеры, мономерами являются нуклеотиды, обнаружены в 1868 г. швейцарским врачом И.Ф. Мишером в ядрах лейкоцитов, откуда и их название (от лат. nucleus – ядро).</p>
    <p><strong>ДНК (дезоксирибонуклеиновая кислота)</strong> входит в хроматин ядра, небольшое количество содержится в некоторых органоидах (митохондрии, пластиды). </p>
    <p><strong>Строение нуклеотида:</strong></p>
    <ol type="1">
        <li><em>Азотистое основание:</em> аденин и гуанин (пуриновые основания), цитозин и тимин (пиримидиновые основания);</li>
        <li><em>Дезоксирибоза</em> (пятиуглеродный моносахарид);</li>
        <li><em>Остаток фосфорной кислоты.</em></li>
        <li></li>
    </ol>
</div>
