<h3 class="text-center"><em><u>Плод, виды плодов. Семя, различия строения семян однодольного и двудольного растений. Состав семян, условия их прорастания. Значение цветков, плодов и семян в природе и жизни человека.</u></em></h3>
<div class="container">
    <p>
        После оплодотворения в цветке происходит ряд изменений: лепестки, тычинки, чашелистики засыхают, а завязь разрастается и превращается в плод. Иногда в образовании плода принимают участие цветоложе, основание тычинок, лепестков и чашелистиков.
        <div class="row">
            <div class="col">
                Из стенки завязи формируется околоплодник, состоящий из 3 слоев:
                <ol type="1">
                    <li>Внеплодник/<strong>экзокарпий</strong> (кожура);</li>
                    <li>Межплодник/<strong>мезокарпий</strong> (мякоть);</li>
                    <li>Внутриплодник/<strong>эндокарпий</strong> (может одревесневать: косточка (слива, вишня) или кожистые чешуйки (яблоко, груша)).</li>
                </ol>
            </div>
            <div class="col justify-content-center">
                <img src="~/Images/thema14/строение плода.png" />
            </div>
        </div>
    </p>
</div>
<div class="container">
    <p>
        <strong>Функции околоплодника:</strong> защита семян от высыхания, излишней влаги и других неблагоприятных факторов среды; привлечение животных для распространения семян.
    </p>
    <p>
        Одновременно с развитием околоплодника семяпочка после оплодотворения превращается в семя, состоящее из зародыша – 1 или 2 семядоли, зародышевые корешок, стебелек, почечка и листочки (развивается из зиготы), триплоидного эндосперма (развивается из диплоидной центральной клетки) и семенной кожуры (развивается из покровов семязачатка).
    </p>
    <p>
        <strong>Классификации плодов:</strong>
        <ol type="1">
            <li>
                <ul type="square">
                    <li>
                        <em>истинные</em> – развиваются из завязи пестика (вишня, слива, томат, горох);
                    </li>
                    <li><em>ложные</em> – в образовании плода принимают участие, кроме завязи, другие элементы цветка – цветоложе, основания тычинок, лепестков, чашелистиков (земляника, яблоко, шиповник, тыква, груша, арбуз).</li>
                </ul>
            </li>
            <li>
                <ul type="square">
                    <li><em>простые</em> – образуются из цветков, имеющих 1 пестик (боб, фасоль);</li>
                    <li><em>сложные (сборные)</em> – образуются из цветков, имеющих несколько пестиков (сборная костянка – малина, ежевика; сборный орешек – ветреница, лютик, лапчатка, шиповник, земляника).</li>
                    <li><em>соплодия</em> – несколько сросшихся между собой плодов, образовавшихся из зрелых плодов одного соцветия (ананас, шелковица, хлебное дерево, инжир, свекла).</li>
                </ul>
            </li>
            <li>
                <ul type="square">
                    <li><em>сухие</em> – содержат до 12% воды (горох, фасоль, лещина, подсолнечник);</li>
                    <li><em>сочные</em> – содержат более 12% воды (вишня, слива, абрикос).</li>
                </ul>
            </li>
            <li>
                <ul type="square">
                    <li><em>односемянные</em> – в завязи находится 1 семяпочка (лещина);</li>
                    <li><em>многосемянные</em> – в завязи находятся много семяпочек (горох, мак, яблоня, тыква).</li>
                </ul>
            </li>
            <li>
                <ul type="square">
                    <li><em>вскрывающиеся</em> (боб);</li>
                    <li><em>невскрывающиеся</em> (желудь, орех).</li>
                </ul>
            </li>
        </ol>
    </p>
</div>
<div class="container">
    <div class="justify-content-center">
        <strong>Виды плодов.</strong>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Схема плода</th>
                    <th scope="col">Название плода</th>
                    <th scope="col">Строение плода</th>
                    <th scope="col">Примеры</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4"><strong>Сочные многосемянные</strong></td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/ягода.png" />
                    </td>
                    <td>Ягода</td>
                    <td>Тонкий кожистый внеплодник и сочный межплодник, мелкие семена находятся внутри мякоти плода, нет деревянистого слоя (отл. от костянки)</td>
                    <td>Тонкий кожистый внеплодник и сочный межплодник, мелкие семена находятся внутри мякоти плода, нет деревянистого слоя (отл. от костянки)</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/яблоко.png" />
                    </td>
                    <td>Яблоко</td>
                    <td>Ложный, тонкий кожистый внеплодник, мясистый межплодник и хрящеватый внутриплодник</td>
                    <td>Яблоко, груша, рябина, айва</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/тыквина.png" />
                    </td>
                    <td>Тыквина</td>
                    <td>Одревесневающий при созревании внеплодник, мясистый меж-  и внутриплодник</td>
                    <td>Огурец, арбуз, тыква, дыня, кабачок</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/померанец.png" />
                    </td>
                    <td>Померанец</td>
                    <td>Многогнездный плод с плотным кожистым окрашенным внеплодником, губчатым межплодником, кожистым внутриплодником</td>
                    <td>Апельсин, мандарин, лимон</td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Сочные односемянные</strong></td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/костянка.png" />
                    </td>
                    <td>Костянка</td>
                    <td>Внеплодник – тонкая кожица, сочный межплодник и твердый внутриплодник (косточка) с одним семенем внутри</td>
                    <td>Вишня, слива, абрикос, черемуха, алыча, миндаль, грецкий орех</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/сборная костянка.png" />
                    </td>
                    <td>Сборная костянка</td>
                    <td>Сборный плод, состоящий из нескольких плодиков</td>
                    <td>Малина, ежевика, морошка</td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Сухие многосемянные вскрывающиеся</strong></td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/боб.png" />
                    </td>
                    <td>Боб</td>
                    <td>Семена прикреплены к створкам плода, плод вскрывается двумя закручивающимися створками от верхушки к основанию</td>
                    <td>Горох, фасоль, боб, люпин, соя, чечевица, белая акация</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/стручок.png" />
                    </td>
                    <td>Стручок, стручочек</td>
                    <td>Семена прикреплены к пленчатой перегородке между створками, вскрывается двумя створками</td>
                    <td>Редька, репа, капуста, пастушья сумка, ярутка, горчица</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/коробочка.png" />
                    </td>
                    <td>Коробочка</td>
                    <td>Имеет кубышкообразную форму, вскрывается: крышечкой, отверстиями, зубцами на верхушке, продольными трещинами (створками) от верхнего до нижнего конца</td>
                    <td>Мак, белена, льнянка, колокольчик, лилия, молочай, тюльпан, примула, дурман, гвоздика, каштан конский, хлопчатник, лен, табак</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/листовка.png" />
                    </td>
                    <td>Листовка</td>
                    <td>Одногнездный плод</td>
                    <td>Пион, живокость, водосбор, дельфиниум</td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Сухие односемянные невскрывающиеся</strong></td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/орех.png" />
                    </td>
                    <td>Орех, орешек</td>
                    <td>Жесткий деревянистый околоплодник</td>
                    <td>Лещина, липа, гречиха, граб, рогоз</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/крылатка.png" />
                    </td>
                    <td>Крылатка</td>
                    <td>Плод типа семянки с крыловидными перепончатыми придатками, способствующими планированию плода</td>
                    <td>Вяз, береза, ясень, клен</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/желудь.png" />
                    </td>
                    <td>Желудь</td>
                    <td>Менее жесткий, чем у ореха, кожистый околоплодник. У основания плод окружен чашевидным защитным покровом — плюской</td>
                    <td>Дуб</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/зерновка.png" />
                    </td>
                    <td>Зерновка</td>
                    <td>Кожистый околоплодник, сросшийся с семенем</td>
                    <td>Пшеница, кукуруза, рис, просо, овес, рожь, ячмень</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/thema14/семянка.png" />
                    </td>
                    <td>Семянка</td>
                    <td>Кожистый околоплодник, не срастающийся с семенем</td>
                    <td>Подсолнечник, одуванчик, череда, василек, бодяк</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <p>
        <strong>Приспособления растений к распространению плодов и семян.</strong>
        <ol>
            <li>Прицепки (лопух);</li>
            <li>Крючочки (череда);</li>
            <li>Дырочки для рассеивания семян (мак);</li>
            <li>Крылатки (липа);</li>
            <li>Двукрылатка (вяз, клен);</li>
            <li>Стручок (акация);</li>
            <li>Окраска плодов (рябина);</li>
            <li>Парашютики (одуванчик).</li>
        </ol>
    </p>
    <p>
        <strong>Способы распространения плодов:</strong>
        <ol>
            <li><em>Анемохория</em> (ветром) – береза, вяз, клен, ясень;</li>
            <li><em>При помощи «парашютиков»</em> (видоизмененные чашелистики) – одуванчик;</li>
            <li><em>Саморазбрасыванием семян</em> – недотрога, бешеный огурец;</li>
            <li><em>Гидрохория</em> (водой) – ольха;</li>
            <li><em>Орнитохория</em> (птицами) – рябина;</li>
            <li><em>Зоохория</em> (млекопитающими и человеком) – череда.</li>
        </ol>
    </p>
</div>
<div class="container">
    <p>
        <strong>Строение семени на примере однодольного и двудольного растений.</strong>
    </p>
    <p>
        <strong>Семя</strong> – новое зачаточное растение, снабженное запасом питательных веществ и защищенное семенной кожурой.
    </p>
    <p>
        Семена дают растениям возможность переносить неблагоприятные условия и занимать большие территории. Семена образуются у голосеменных и покрытосеменных растений. Семена имеют разнообразную форму (круглую, бобовидную, яйцевидную), размеры (от мкм до см), массу (от мг до 15 кг у пальмы).
    </p>
    <p>
        <strong>Строение семени однодольного растения на примере пшеницы (зерновка):</strong>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ol>
                        <li><em>Кожура</em>, сращенная с околоплодником, вдоль семени пролегает борозда, на которой находится рубчик;</li>
                        <li>
                            <em>Зародыш</em> – зачаток новой особи, миниатюрный спорофит:
                            <ol type="a">
                                <li>зачаточный корешок;</li>
                                <li>зачаточный стебелек;</li>
                                <li>зачаточная почечка (листочки);</li>
                                <li>одна семядоля <strong>(щиток)</strong> – расположена на границе между зародышем и эндоспермом, соединена с зародышевым стебельком и при прорастании зерновки способствует поступлению растворенных питательных веществ к зародышу;</li>
                            </ol>
                        </li>
                        <li><em>Эндосперм</em> – запас питательных веществ для зародыша, формируется практически у всех однодольных растений.</li>
                    </ol>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <img src="~/Images/thema14/семя однодольное.png" />
                    </div>
                </div>
            </div>
        </div>
    </p>
</div>
<div class="container">
    <p>
        <strong>Строение семени двудольного растения на примере фасоли:</strong>
        <ol>
            <li><em>Кожура,</em> НЕ сросшаяся с околоплодником, на боковой вогнутой стороне семени есть рубчик – место прикрепления семени к стенке плода и семявход – место, для прохождения воды при набухании;</li>
            <li>
                <em>Зародыш</em> – зачаток новой особи, миниатюрный спорофит:
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ol type="a">
                                <li>зачаточный корешок;</li>
                                <li>зачаточный стебелек (шейка); </li>
                                <li>зачаточная почечка (листочки);</li>
                                <li>2 мясистые семядоли (содержит запас питательных веществ у бобовых, розоцветных, сложноцветных, тыквенных, у остальных семейств – в эндосперме).</li>
                            </ol>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <img src="~/Images/thema14/семя фасоли.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </p>
</div>
<div class="container">
    <p>
        <strong>Состав семян (сухих):</strong>
        <ol>
            <li>Запасные питательные вещества находятся в семядолях или в эндосперме. Они обеспечивают зародыш энергией и строительным материалом.</li>
            <li>Вещества семян делят на неорганические (минеральные соли (2-4%) и вода (5-20%)) и органические (углеводы: крахмал (15-70%), целлюлоза (2-10%), инулин; белки: клейковина (10-25%); ферменты, жиры (1,5-4%)).</li>
            <li>В кожуре семян злаковых есть витамины группы В. В семенах масличных растений (подсолнечник, рапс, лен, конопля) содержится много ненасыщенных жирных кислот (растительные масла); в семенах бобовых растений (фасоль, бобы, горох) – много белков, мало углеводов; злаковых растений (пшеница, рожь, ячмень) – много углеводов, мало белков. </li>
        </ol>
    </p>
</div>
<div class="container">
    <p>
        <strong>Прорастание семян</strong> – сложный физиологический процесс перехода семян из состояния покоя к вегетативному росту зародыша и формированию из него проростка.
    </p>
    <p>
        <strong>Условия прорастания семян:</strong>
        <ol>
            <li>Перед прорастанием должен пройти период покоя (дозревание). Причины: физиологическая незрелость зародыша; непроницаемость семенной кожуры для воды и кислорода; наличие в семенах веществ, тормозящих прорастание; некоторые семена должны пройти через ЖКТ животных; некоторые прорастают только после повреждения семенной кожуры или после вымывания дождем ингибиторов – вещества, замедляющие протекание химических реакций;</li>
            <li>Наличие живого зародыша;</li>
            <li>Доступ кислорода (искл: рис, тимофеевка);</li>
            <li>Запас питательных веществ;</li>
            <li>Оптимальная температура почвы (рожь +2-4°С, огурцы +15-16°С, оптимально для большинства растений +10-15°С);</li>
            <li>Наличие воды. Потребность в воде зависит от состава семян (у богатых жирами – 30-40%, у богатых крахмалом – 50-70%, у богатых белками – 90%);</li>
            <li><em>Норма заделки семян</em> – высокое загущение посева приводит к плохой всхожести семян. Всхожесть – это отношение проросших семян к высеянному количеству. </li>
            <li>Глубина заделки семян определяется их величиной (мелкие семена (репа) – 1-2см, средних размеров (огурцы) – 2-4см, крупные семена (фасоль) – 4-5 см) и структуры почвы (песчаная, глинистая почва). В песчаных почвах (мало влаги) семена необходимо заделывать глубже, чем на глинистых. Для прорастания некоторых мелких семян (салат, мятлик, сорняки) необходим свет.</li>
        </ol>
    </p>
</div>
<div class="container">
    <p>
        <strong>Дыхание семян.</strong> Происходит постоянно, поэтому им необходим доступ кислорода. В период покоя дыхание очень слабое, при прорастании семян резко усиливается. Во время дыхания выделяются CO2 и тепло, следовательно, семена, сложенные для хранения толстым слоем «сгорают» (зародыш погибает) и теряют всхожесть. При посеве семена необходимо сеять в рыхлую, структурированную почву, где есть достаточное количество кислорода для дыхания.
    </p>
    <p>
        <strong>Питание и рост проростка.</strong>
    </p>
    <p>
        При прорастании семян происходят последовательно сменяющие друг друга процессы:
        <ol>
            <li>Вода проникает через семявход под кожуру семени – семя набухает – кожура лопается. Набухание сопровождается активацией фитогормонов, ферментов, усилением дыхания и гидролиза белков, жиров, углеводов;</li>
            <li>Вода попадает к зародышу и используется «для питания» проростка;</li>
            <li>
                Рост зародыша и превращение его в проросток происходит благодаря делению и росту его клеток – сначала растет корешок, укрепляется в почве, снабжает проросток водой и минеральными солями, затем растет побег.
                <ol type="a">
                    <li><em>надземное прорастание семян</em> – стебелек выносит из почвы на поверхность почечку с семядолями (огурец, тыква, фасоль, морковь);</li>
                    <li><em>подземное прорастание семян</em> – семядоли на поверхность не выносятся, а остаются в семени (горох, дуб, пшеница, ячмень).</li>
                </ol>
            </li>
        </ol>
    </p>
</div>
<div class="container">
    <p>
        <strong>Значение цветков, плодов и семян:</strong>
        <ol type="I">
            <li>
                <em>В природе:</em>
                <ol>
                    <li>Обеспечивают существование вида при половом размножении;</li>
                    <li>Осуществляют преемственность в ряду поколений;</li>
                    <li>Защищают семена растений от высыхания, влаги и других неблагоприятных факторов внешней среды;</li>
                    <li>Способствуют расселению растений на Земле;</li>
                    <li>Являются пищей для животных.</li>
                </ol>
            </li>
            <li>
                <em>В жизни человека:</em>
                <ol>
                    <li>Плоды и семена используются в пищу;</li>
                    <li>Плоды и семена используются на корм скоту;</li>
                    <li>Плоды и семена используются в пищевой промышленности;</li>
                    <li>Плоды и семена используются в медицине в качестве источника лекарственных препаратов, витаминов;</li>
                    <li>Эстетическое значение.</li>
                </ol>
            </li>
        </ol>
    </p>
</div>
<a href=@Url.Action("Test13","Test")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>