<h3 class="text-center"><em><u>Царство Протисты. Строение и жизнедеятельность гетеротрофных протистов (амеба обыкновенная, инфузория туфелька, фитофтора, малярийный плазмодий), одноклеточных и колониальных водорослей (эвглена зеленая, хламидомонада, хлорелла, вольвокс). Многоклеточные водоросли. Основные заболевания, вызываемые протистами.</u></em></h3>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Протисты (греч. протистос – просто устроенные) – неоднородная группа эукариотических организмов, которые невозможно отнести к растениям, животным и грибам. Термин «протистология» ввел Э. Геккель. Одни из них имеют микроскопические размеры, другие достигают десятков метров в длину. Общее у них одно — это ядерные, просто организованные существа. Протисты живут в пресных и морских водоемах, во влажной почве и на коре деревьев. Одни из них одноклеточные, другие — многоклеточные. Тело многоклеточных протистов не разделено на органы. По типу питания протисты разделяются на три большие группы: гетеротрофные, автотрофные и автогетеротрофные. Гетеротрофные протисты питаются готовыми органическими веществами. Автотрофные и автогетеротрофные протисты способны к фотосинтезу. Их называют водорослями.
</p>
<h4 class="text-center"><strong>Общая характеристика протистов:</strong></h4>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Клетка окружена цитоплазматической мембраной,<strong>ПОД</strong> которой у гетеротрофных протистов есть периферическая пленка – <strong>пелликула</strong> (уплотненный наружный слой цитоплазмы), а у одноклеточных и многоклеточных водорослей <strong>НАД</strong> цитоплазматической мембраной – жесткая клеточная стенка из целлюлозы. В отличие от бактерий, у протистов есть мембранные органоиды (митохондрии, ЭПС, КГ, лизосомы), а также есть органеллы специального назначения (пищеварительные вакуоли, порошица, сократительные вакуоли и т.д.).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Основные способы питания:</strong>фагоцитоз и пиноцитоз (захват твердых частиц и растворенных в них веществ), голозойный (через клеточный рот), осмотический (всасывание веществ поверхностью клетки/тела), паразитизм.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Газообмен</strong> происходит всей поверхностью клетки. <strong>Раздражимость</strong> в виде таксисов (движение к раздражителю или от него). В неблагоприятных условиях протисты покрываются плотной оболочкой – образуют <strong>цисту.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>N.B.!!!</strong> Бактерии в неблагоприятных условиях образуют СПОРУ, а протисты – ЦИСТУ.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Основные способы размножения:</strong> деление клетки надвое, шизогония (множественное деление), спорогония (спорами), почкование. Есть половой процесс: конъюгация (2 - 2) и копуляция (2 - 1).
</p>
<h4 class="text-center"><strong>Заболевания, вызываемые протистами:<u>малярия, амебиаз, балантидиаз, трипаносомоз (сонная болезнь), лейшманиоз, лямблиоз.</u></strong></h4>
<h4 class="text-center"><strong><u>Гетеротрофные протисты.</u></strong></h4>
<div class=" container">
    <div class="row">
        <div class="col">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;<u><em>Амеба обыкновенная.</em></u> Свободноживущий протист, размерами 0,2-0,5 мм. Среда обитания – пресные водоемы. Стенка тела представлена цитоплазматической мембраной, форма тела непостоянная <strong>(пелликула отсутствует).</strong>Внутренняя среда представлена цитоплазмой (внутренний слой–эндоплазма, наружный – эктоплазма) и 1 ядром, есть органоиды общего и специального назначения. Передвигается амеба при помощи <strong>ложноножек</strong> (псевдоподий). Тип питания: гетеротрофный, способ питания – фаго- и пиноцитоз. Питается бактериями и мелкими водорослями, захватывая их ложноножками. Вокруг пищевого комка формируется
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/амеба.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <strong>пищеварительная вакуоль,</strong> в которой под действием ферментов происходит внутриклеточное переваривание. Питательные вещества переходят из вакуоли в цитоплазму. Непереваренные остатки выбрасываются наружу через любой участок поверхности клетки. Выделение избытка воды (осморегуляция) и жидких продуктов обмена происходит через <strong>сократительную вакуоль.</strong> Размножается амеба путем <strong>деления клетки надвое (амитозом),</strong> размножение происходит 1 раз в сутки. Раздражимость – таксисы, в неблагоприятных условиях амеба образует цисту.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;<u><em>Инфузория туфелька.</em></u>Свободноживущий протист, размерами 0,1-0,3 мм. Среда обитания – загрязненные пресные водоемы. Форма тела постоянная в виде подошвы дамской туфельки, стенка тела представлена цитоплазматической мембраной, ПОД которой есть наружный уплотненный слой цитоплазмы – <strong>пелликула.</strong>Внутренняя среда представлена цитоплазмой (внутренний слой–эндоплазма, наружный – эктоплазма) и 2 ядрами, есть органоиды общего и специального назначения. <strong>Большое ядро (макронуклеус, вегетативное)</strong> регулирует обменные процессы в клетке, <strong>малое ядро (микронуклеус, генеративное)</strong>
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/инфузория.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                отвечает за конъюгацию. Передвигается амеба при помощи <strong>ресничек</strong> (плазматические выросты, расположенные по всей поверхности клетки). Волнообразные колебания всех ресничек способствуют передвижению туфельки. Среди ресничек расположены <strong>трихоцисты</strong> (органоиды защиты и нападения). Тип питания – гетеротрофный, способ питания – голозойный. Питается инфузория туфелька бактериями и мелкими водорослями. Пища поступает в клеточный рот <strong>(цитостом),</strong> далее в клеточную глотку <strong>(цитофарингс)</strong>, потом пищевой комок попадает в пищеварительную вакуоль и переваривается, питательные вещества переходят в цитоплазму. Непереваренные остатки выбрасываются наружу через <strong>порошицу.</strong> . Выделение избытка воды (осморегуляция) и жидких продуктов обмена происходит через <strong>приводящие канальцы</strong> и 2 <strong>сократительные вакуоли,</strong> которые сокращаются поочередно каждые 20-25 с. Размножение осуществляется путем <strong>поперечного деления клетки надвое,</strong> есть половой процесс – <strong>конъюгация.</strong> Раздражимость – таксисы, в неблагоприятных условиях образует цисту.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <em><u>Фитофтора.</u></em> Грибоподобный протист, ведущий <strong>паразитический</strong> образ жизни. Тело представлено мицелием, состоящим из бесцветных нитей (гиф), не имеющих перегородок. Мицелий проникает в клетки стебля и листьев томатов, картофеля и высасывает из них питательные вещества <strong>(заболевание фитофтороз).</strong> Размножается <strong>спорами,</strong> образующимися на слаборазветвленных вертикально расположенных гифах (спорангиеносцах).
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/фитофтора.png" height="300" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <em><u>Малярийный плазмодий.</u></em> Возбудитель малярии, распространен в регионах с теплым и влажным климатом. Жизненный цикл происходит со сменой хозяев. Половое размножение происходит в теле самки малярийного комара (основной хозяин). Бесполое – в эпителиальных клетках печени и в эритроцитах человека (промежуточный хозяин). Размножение малярийного плазмодия происходит путем шизогонии.Цикл развития: Со слюной паразиты попадают в кровь человека, затем в клетки печени, где происходит размножение (тканевая шизогония). Через 7-10 дней (инкубационный период) паразиты переходят в кровь и проникают в эритроциты, где повторно размножаются (эритроцитарная шизогония) и разрушают эритроциты.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/мал плазм.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Выход паразитов из разрушенных эритроцитов происходит периодически через 48 или 72 ч, что сопровождается ознобом, повышением температуры до 40°С, головной болью и слабостью – это приступ малярии, который будет повторяться вплоть до летального исхода. Для дальнейшего развития плазмодии должны попасть в желудок комара, где происходит половое размножение, после этого плазмодии накапливаются в слюне.
            </p>
        </div>
    </div>
</div>
<h4 class="text-center"><strong>Одноклеточные водоросли (автотрофные и автогетеротрофные протисты).</strong></h4>
<h4 class="text-center"><strong>Автогетеротрофные протисты.</strong></h4>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <em><u>Эвглена зеленая.</u></em> Свободноживущий протист, размерами 0,05 мм. Среда обитания – загрязненные пруды и лужи. Форма тела постоянная <strong>(есть пелликула).</strong>Внутренняя среда представлена цитоплазмой (эктоплазма и эндоплазма) и 1 ядром, есть органоиды общего и специального назначения. Движение осуществляется за счет колебания жгутика, при этом происходит вращение тела, и эвглена как бы ввинчивается в воду.  Тип питания автогетеротрофный, способы питания: <strong>фотосинтез и осмотический.</strong> В цитоплазме находятся хлоропласты, в которых находится хлорофилл, при участии которого в ходе фотосинтеза на свету образуются органические вещества.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/эвглена зеленая.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Продукт ассимиляции – <strong>парамил.</strong> Улавливать свет и осуществлять положительный фототаксис помогает светочувствительный глазок – <strong>стигма.</strong> В темноте эвглена поглощает органические вещества осмотически. Выделение избытка воды (осморегуляция) и жидких продуктов обмена происходит через <strong>сократительную вакуоль.</strong> Размножается эвглена путем продольного деления клетки надвое. В неблагоприятных условиях образуется <strong>циста.</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <em><u>Хламидомонада.</u></em> Свободноживущий протист, размерами 0,05 мм. Среда обитания – загрязненные водоемы, влажная почва. Клетка грушевидной формы, форма тела постоянная, <strong>(есть клеточная стенка из пектина).</strong> Движение осуществляется за счет колебания <strong>2 жгутиков</strong> на переднем конце тела. Тип питания автогетеротрофный, способы питания: <strong>фотосинтез и осмотический.</strong> Единственный <strong>хлоропласт имеет чашевидную форму,</strong> используемый для фотосинтеза; имеется стигма, 2 сократительные вакуоли, 1 ядро и <strong>пиреноид</strong>  — особое включение внутри хлоропласта, которое представляет собой центр синтеза сахаров.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/хламидомонада.png" width="500" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Вокруг пиреноида у зелёных водорослей откладываются запасные продукты (крахмал). Хламидомонада размножается бесполым и половым способами. В благоприятных условиях при бесполом размножении внутри хламидомонады образуется 4—16 подвижных спор со жгутиками <strong>(зооспоры).</strong> В неблагоприятных условиях (например, при подсыхании водоема) у хламидомонады происходит половое размножение. При этом ее содержимое делится на 32—64 мелкие подвижные половые клетки — гаметы <strong>(изогаметы).</strong> Они выплывают в воду и сливаются с гаметами другой особи. В результате образуются зиготы. При наступлении благоприятных условий зигота после нескольких делений дает начало 4—32 новым хламидомонадам.
            </p>
        </div>
    </div>
</div>
<h3 class="text-center"><strong>Автотрофные протисты.</strong></h3>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <em><u>Хлорелла.</u></em> Свободноживущий автотрофный протист, размеры 15 мкм. Среда обитания – влажная почва, пресные водоемы, кора деревьев. Форма тела шаровидная, постоянная (есть <strong>клеточная стенка из целлюлозы</strong> ). НЕТ ОРГАНОИДОВ ДВИЖЕНИЯ (не способна к таксисам). Тип питания автотрофный, способ питания – фотосинтез. В цитоплазме есть <strong>чашевидный хлоропласт,</strong> 1 ядро, мелкие вакуоли. Размножение бесполое: материнская клетка делится на 4-10 частей, и образуются неподвижные безжгутиковые споры <strong>(апланоспоры),</strong> которые в материнской клетке покрываются оболочками, что предохраняет их от высыхания. Споры выходят во внешнюю среду и превращаются в самостоятельные организмы.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/хлорелла.png" />
            <img src="~/Images/thema3/размножение хлореллы.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <em><u>Вольвокс.</u></em> Свободноживущий <strong>КОЛОНИАЛЬНЫЙ</strong> 500-600000 клеточный автотрофный протист, диаметр 1-2 мм. Среда обитания –пресные водоемы. Клетки в колонии располагаются в 1 слой по периферии (каждая клетка имеет по 2 жгутика), погруженный в студенистое полужидкое вещество. Клетки сращены боковыми стенками и соединены между собой цитоплазматическими мостиками. Клетки дифференцированы: <strong>вегетативные</strong> (не способны к размножению) и <strong>репродуктивные</strong> (клетки бесполого
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/вольвокс.png" height="300" width="500" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                размножения – 4-10 клеток). В летний период клетки многократно делятся и образуют дочерние колонии внутри материнской, которые впоследствии разрывают материнскую и выходят наружу. При половом размножении в <strong>генеративных клетках</strong> колонии развиваются гаметы, при слиянии которых образуется зигота, которая после периода покоя дает начало новой колонии.
            </p>
        </div>
    </div>
</div>
<a href=@Url.Action("Test4","Courses")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>
<h3 class="text-center"><strong>МНОГОКЛЕТОЧНЫЕ ВОДОРОСЛИ.</strong></h3>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;На сегодняшний день известно более 20000 видов водорослей, которые собраны в обособленные отделы.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Представители:</u></strong> <em>Отдел Зеленые водоросли:</em> <strong>улотрикс, спирогира, ульва.</strong> <em>Отдел Бурые водоросли:</em> <strong>алария, ламинария, ундария, гелидиум, фукус.</strong> <em>Отдел Харовые водоросли:</em> <strong>хара, нителла, толипелла.</strong> <em>Отдел Красные водоросли (багрянки):</em> <strong>порфира, филлофора.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Большинство водорослей обитают в водной среде (морские и пресные водоемы – выделяют свободноплавающие и прикрепленные формы), а также на скалах, влажных камнях, коре деревьев, заборах и крышах домов, во влажной почве, в горячих источниках и на ледниках.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Среди водорослей встречаются как микроскопически малые, так и гигантские, достигающие длины свыше 100 м (например, длина бурой водоросли <em>макроцистис грушевидный</em> 60—200 м).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Тело водорослей представлено <strong>талломом (слоевищем),</strong> которое у большинства водорослей прикрепляется к субстрату <strong>ризоидами</strong> (выростами таллома). Водоросли относятся к низшим растениям. <strong>Отличия от высших растений:</strong> 1. Органы полового размножения одноклеточные или отсутствуют (мужской – антеридий, женский – архегоний). 2. Нет органов и тканей.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Тип питания – автотрофный. Способ питания: фотосинтез. Для осуществления фотосинтеза водоросли имеют хлоропласты различной формы: ленты, пластинки, сеточки, звездочки (в матриксе хлоропласта находятся <strong>пиреноиды</strong> – место синтеза и накопления запасных питательных веществ), а также пигменты: хлорофилл и каротиноиды.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Водоросли отличаются разнообразием строения. Выделяют нитчатые (спирогира, улотрикс), разветвленные (хара), пластинчатые (ульва), а ткаже кустистые формы. <strong>Клеточная стенка</strong> водорослей состоит из <strong>целлюлозы</strong> и пектиновых веществ, иногда для придания дополнительной прочности оболочка клетки пропитывается карбонатом кальция, лигнином и кутином. Основное <strong>запасное питательное вещество – крахмал,</strong> в меньшей степени - масло, волютин, ламинарин, маннит.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;У некоторых водорослей (фукус) есть специальные <strong>воздухоносные пузыри,</strong> которые удерживают слоевище у воды для осуществления фотосинтеза.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;У многих водорослей в цикле развития присутствует <strong>чередование поколений</strong> – спорофита и гаметофита. Гаметофит представлен талломом, спорофит одноклеточный, представлен своеобразной зиготой на ножке, способной образовывать споры. (подробнее чередование поколений будет рассмотрено в теме «Отдел Моховидные»).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Для водорослей характерно половое и бесполое размножение. <strong>Способы бесполого размножения:</strong> деление слоевища (фукус), фрагментация - способ бесполого размножения, при котором особь делится на две или несколько частей (фрагментов), каждая из которых растет и образует новый организм (спирогира), зооспорами (улотрикс) и апланоспорами (бурые водоросли). <strong>Способы полового размножения:</strong> изогамия (идентичные гаметы), анизогамия (различие гамет размерами или подвижностью), оогамия (крупная, неподвижная гамета – женская; мелкая, подвижная – мужская).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Приспособления для выживания водорослей в приливно-отливной зоне:</strong>
    <ol type="*">
        <li>При недостатке влаги оболочки клеток водорослей значительно утолщаются и пропитываются неорганическими и органическими веществами.</li>
        <li>Тело морских водорослей прочно прикреплено к грунту, поэтому во время прибоя и ударов волн они сравнительно редко отрываются от грунта.</li>
        <li>У глубоководных водорослей имеются более крупные хлоропласты с высоким содержанием хлорофилла и других фотосинтезирующих пигментов.</li>
        <li>У некоторых водорослей есть воздухоносные пузыри.</li>
        <li>Выход спор и гамет у морских водорослей совпадает с приливом.</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Развитие зиготы происходит сразу после ее образования, что не позволяет отливу унести ее в океан.
</p>
<h3 class="text-center"><strong>Отделы водорослей:</strong></h3>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<em>Зеленые водоросли: спирогира, улотрикс, ульва. Пигменты: хлорофилл, каротиноиды.</em>
</p>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong><u>Спирогира.</u></strong> Распространена в стоячих и медленно текущих водах, где образует массы «тины» ярко-зеленого цвета. Представляет собой неветвящиеся тонкие нити, состоящие из клеток цилиндрической формы, расположенных в один ряд с целлюлозной клеточной стенкой. Снаружи нити толстый слой слизи. Ядро находится в центре клетки и заключено в цитоплазматический мешочек и подвешено на цитоплазматических нитях. <strong>Хлоропласт в виде спирально закрученной ленты,</strong> ризоиды отсутствуют. Способы размножения: фрагментация. Есть половой процесс – <strong>коньюгация:</strong> две нити располагаются параллельно друг другу.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/спирогира.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Между отдельными клетками образуются цитоплазматические мостики, через которые содержимое клетки одной нити перетекает в клетку другой нити и сливается с ее протопластом с образованием зиготы. Зигота покрывается плотной оболочкой и после периода покоя прорастает. Этому предшествует деление ядра мейозом: из 4 образовавшихся ядер 3 отмирает, а одно остается ядром единственного проростка, который выходит в месте разрыва оболочки зиготы и развивается во взрослую водоросль.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <strong><u>Улотрикс.</u></strong> Обитает преимущественно в пресных водоемах, реже в соленой воде, а также в почве. Представляет собой неразветвленные нити, состоящие из одного ряда клеток цилиндрической формы с толстой целлюлозной клеточной стенкой, прикрепляется к субстрату<strong>бесцветной конической базальной клеткой.</strong> Хлоропласт имеет форму <strong>незамкнутого пояска или кольца (цилиндра).</strong> Способы размножения: деление слоевища, зооспорами, изогамия. Для улотрикса характерно в жизненном цикле чередование поколений.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema3/улотрикс.png" />
        </div>
    </div>
    <div class="row">
        <p>
            <strong><u>Ульва («морской салат»).</u></strong> Среда обитания: морские водоемы. Представляет собой двухслойное пластинчатое слоевище ярко-зеленого цвета, состоящее из однотипных клеток, только у основания они укрупняются, имеют ризоиды. Способы размножения: зооспорами и половое.
        </p>
        <p>
            <em>&nbsp;&nbsp;&nbsp;&nbsp;Харовые водоросли: хара, нителла, толипелла. Пигменты: хлорофилл, каротиноиды. Пигменты: хлорофилл, каротиноиды.</em>
        </p>
        <div class="col">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Среда обитания: пресные водоемы. Внешний вид: кустистые, таллом расчленен на боковые ответвления (похожи на хвощи), главная ось имеет узлы и длинные междоузлия. От каждого узла отходит по нескольку боковых побегов. Крепятся бесцветными нитевидными ризоидами. <strong>Органы полового размножения у харовых водорослей МНОГОКЛЕТОЧНЫЕ.</strong> Способы размножения: участками таллома, при помощи клубеньков на ризоидах, оогамия. Харовые водоросли служат индикаторами чистоты водоемов.
            </p>
        </div>
        <div class="col-4">
            <img src="~/Images/thema3/хара.png" height="250" width="200" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;<em>Бурые водоросли: алария, ламинария, ундария, гелидиум, фукус. Пигменты: хлорофилл, каротиноиды, фукоксантин (пигмент бурого цвета).</em>
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Среда обитания: морские водоемы. Слоевище желтовато-бурого цвета, кустистой, пластинчатой или ленточной формы, прикрепляются к грунту <strong>ризоидами или базальным диском</strong> – дисковидное разрастание в основании слоевища. Для бурых водорослей характерен высокий уровень организации (выделяют ассимиляционные, запасающие и проводящие ткани). Способы размножения: делением слоевища, спорами и половым способом. При половом размножении зигота без периода покоя прорастает в новое растение.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;<em>Красные водоросли (багрянки): порфира, филлофора. Пигменты: хлорофилл, каротиноиды, фикобилины – фикоэритрин (пигмент красного цвета), фикоцианин (пигмент синего цвета). </em>
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Среда обитания: морские водоемы, изредка можно встретить в пресной воде. Слоевище либо нитчатой или пластичатой формы, от ярко-красной до голубовато-зеленой и желтой окраски. Одно- или многоядерные клетки, клеточная стенка из целлюлозы. Хлоропласты в виде зерен или пластинок. Прикрепляются к субстрату ризоидами, присосками или подошвой. Способы размножения: спорами и половым способом. Для красных водорослей характерно в жизненном цикле чередование поколений.
            </p>
        </div>
    </div>
</div>
<h3 class="text-center"><strong>Значение водорослей:</strong></h3>
<ol type="1">
    <li>Начальное звено всех пищевых цепей в водоемах и неиссякаемый источник органического вещества для гетеротрофов.</li>
    <li>Участвуют в почвообразовании и круговороте веществ. </li>
    <li>В процессе фотосинтеза выделяют большое количество кислорода, который обогащает воду.</li>
    <li>Сырье для промышленного получения спиртов, лака, аммиака, йода, брома (бурые), органических кислот, белков, витаминов, агар-агара (красные).</li>
    <li>Используются в пищу человеком (морская капуста – ламинария и порфира).</li>
    <li>. Являются компонентом «цветения воды».</li>
    <li>Агар-агар используется в микробиологии как среда для культивирования бактерий, грибов; в пищевой промышленности для изготовления мармелада, пастилы, мороженого.</li>
</ol>
<a href=@Url.Action("Test5","Courses")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>
