<h3 class="text-center"><em><u>Многообразие органического мира, основные таксономические категории. Принципы построения названий организмов.</u></em></h3>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Систематика (таксономия)</strong> – наука, изучающая принципы, правила и методы классификации организмов.</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;Задачи систематики:</strong>
    <ol type="1">
        <li>Определение и описание видов живых организмов</li>
        <li>Проведение классификации живых организмов.</li>
        <li>Создание эволюционной (филогенетической) системы органического мира.    </li>
    </ol>
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;Таксон (таксономическая категория)</strong> – группа организмов, обособленная от других групп, связанных той или иной степенью родства, которой можно присвоить таксономическую категорию определенного ранга.
    <strong>Последовательность основных таксономических категорий животных и растений:</strong>
</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table table-bordered text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">Растения</th>
                        <th scope="col">Животные</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Надцарство</td>
                        <td>Надцарство</td>
                    </tr>
                    <tr>
                        <td>Царство</td>
                        <td>Царство</td>
                    </tr>
                    <tr>
                        <td><p><u><em><strong>Отдел</strong></em></u></p></td>
                        <td><p><u><em><strong>Тип</strong></em></u></p></td>
                    </tr>
                    <tr>
                        <td>Класс</td>
                        <td>Класс</td>
                    </tr>
                    <tr>
                        <td><p><u><em><strong>Порядок</strong></em></u></p></td>
                        <td><p><u><em><strong>Отряд</strong></em></u></p></td>
                    </tr>
                    <tr>
                        <td>Семейство</td>
                        <td>Семейство</td>
                    </tr>
                    <tr>
                        <td>Род</td>
                        <td>Род</td>
                    </tr>
                    <tr>
                        <td>Вид</td>
                        <td>Вид</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Пример: вид – Медведь белый, род – Медведи, семейство – Медвежьи, отряд – Хищные, класс- Млекопитающие, тип – Хордовые, царство – Животные, надцарство – Эукариоты.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Существуют и другие таксономические категории: подтип, надкласс и т.д. Основная таксономическая категория – вид (термин ввел Д.Рей, 1688, дальнейшую разработку термину дал К.Линней).
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;Вид</strong>– совокупность особей, имеющих сходное строение, процессы жизнедеятельности, общее происхождение, занимающих в природе определенный ареал, свободно скрещивающихся и дающих плодовитое потомство.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;В современном мире для классификации организмов используется бинарная номенклатура К.Линнея.
</p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;Основные принципы, положенные в основу систематики К.Линнеем: </strong>
    <ol type="1">
        <li>Иерархичность (чаще всего в ЦТ, ЕГЭ, ОГЭ предлагают использовать таксономические категории, начиная с наименьшего ранга, т.е. от вида до царства или надцарства);</li>
        <li>Бинарность построения названий живых организмов (каждый вид имеет латинское название, состоящее из двух слов: первое слово – имя существительное (пишется с большой буквы) – это название рода; второе слово – прилагательное (пишется с маленькой буквы) – это видовой эпитет.)</li>
    </ol>
</p>
<h2>N.B.</h2>
<img src="~/Images/thema1/NB1.png" height="150" width="600" alt="NB" />
<img src="~/Images/thema1/Основные формы жизни.png" height="600" width="1200" alt="Основные формы жизни" class="img-fluid" />
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Царство Протисты относительно других царств выделено сравнительно недавно, в современном мире к нему относят все одноклеточные и колониальные организмы, вне зависимости от типа питания, строения, способа размножения и т.д. В результате царство Протисты объединяет чрезвычайно разнородную группу организмов, часть из которых ранее относили к царству Животные (напр. инфузория-туфелька), царству Растения (напр. эвглена зеленая), царству Грибы (напр. фитофтора).
</p>
<a href=@Url.Action("Test1","Test")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>
<br />
<br />
<h3 class="text-center"><em><u>Вирусы, бактериофаги: строение и жизнедеятельность. Роль вирусов в природе, медицине и жизни человека. Основные заболевания, вызываемые вирусами.</u></em></h3>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp; Вирусы (фаги)</strong>– частицы, представляющие собой переходную форму между живой и неживой материями, не имеющие клеточного строения, но способные проникать внутрь клетки и паразитировать в ней на молекулярно-генетическом уровне. Наука, изучающая вирусы - <strong>вирусология</strong>. В переводе с лат. virus=<strong>яд</strong>, термин «вирус» ввел в биологию в 1898 году голландский ученый М. Бейеринк.
</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table table-bordered text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col" colspan="2">ОТЛИЧИЯ ВИРУСОВ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><em>От неживой материи</em></td>
                        <td><em>От живой материи</em></td>
                    </tr>
                    <tr>
                        <td>
                            Наличие наследственности и изменчивости
                        </td>
                        <td>Неклеточная форма жизни</td>
                    </tr>
                    <tr>
                        <td>Способность к размножению</td>
                        <td>Нет роста, обмена веществ и других свойств живого</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;В 1892 году вирусы отрыл русский ботаник Д.И. Ивановский при изучении мозаичной болезни листьев табака. В 1915 году Ф. Туорт открыл <strong>бактериофаги</strong> (вирусы, паразитирующие в бактериальных клетках).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Вирусы – облигатный паразиты. В зависимости от локализации вируса выделяют 2 формы его существования:<strong> покоящаяся</strong> (вирус находится во внешней среде и не способен к размножению) и <strong>репродуцирующаяся</strong> (вирус находится в клетке организма-хозяина и способен к размножению).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Критерии паразитизма:
    <ol type="1">
        <li>Паразит живет за счет организма-хозяина.</li>
        <li>Паразит наносит вред организму-хозяину.</li>
    </ol>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <img src="~/Images/thema1/паразитизм.png" alt="паразитизм" height="350" width="650" />
            </div>
        </div>
    </div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;В настоящее время известно более 5000 вирусов, и ежегодно ученые открывают новые виды. Многие из них имеют кристаллическую форму (напр.: аденовирусы), а также могут иметь палочковидную, нитевидную, сферическую формы. Размеры вирусов колеблются от 20 до 500 нм.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Вирион</strong>– полностью сформированная инфекционная вирусная частица.
</p>
<p class="text-center">
    <strong> Строение вириона:</strong>
</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <img src="~/Images/thema1/Строение вариана.png" alt="строение вариана" height="300" width="600" title="(рисунок из учебника «Биология» 7 класс)" />
            <p><cite title="(рисунок из учебника «Биология» 7 класс)">Рис. Строение фага кишечной палочки. </cite></p>
        </div>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;В строении вириона выделяют головку и хвост. Головка представлена генетическим аппаратом (нуклеиновой кислотой) и окружающим ее капсидом. Генетический аппарат вируса может быть представлен ДНК или РНК, и в зависимости от типа нуклеиновой кислоты вирусы делятся на ДНК-содержащие и РНК-содержащие.
</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;Классификация вирусов в зависимости от строения капсида:</p>
<ol type="1">
    <li>Простые (однотипные белковые молекулы – капсомеры образуют белковый чехол –<strong>капсид</strong>);</li>
    <li>Сложные (имеют дополнительную липопротеидную оболочку - <strong>суперкапсид</strong>, сформированную из плазматической мембраны клетки-хозяина);</li>
    <li><strong>Вироиды</strong>– короткие одноцепочечные молекулы РНК без капсида</li>
</ol>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;От головки фага отходит хвост в виде полого стержня, окруженного чехлом из сократительного белка. Хвост заканчивается базальной пластинкой, на которой закреплены 6 нитей-отростков. Бактериофаг при помощи нитей-отростков прикрепляется к бактериальной клетке и при помощи ферментов растворяет клеточную стенку бактерии в месте соприкосновения. Белковый чехол сокращается, и нуклеиновая кислота впрыскивается в бактериальную клетку (<strong>способ инъекции</strong>). Возможен и другой вариант, когда бактериофаг со всеми оболочками попадает внутрь бактериальной клетки через дефект в оболочке последней. От способа проникновения зависит инкубационный период заболевания: способ инъекции определяет длительный инкубационный период заболевания, при проникновении вируса с оболочками заболевание проявляется практически сразу. Клетка, в которой находится вирус называется <strong>лизогенная клетка</strong>.
</p>
<p class="text-center"><strong>Способы проникновения вирусов в клетку-хозяина:</strong></p>
<ol type="1">
    <li>Фагоцитоз (захват твердых частиц) и пиноцитоз (захват жидкостей и растворенных в них веществ) – вирус бешенства.</li>
    <li>Встраивание суперкапсида в плазматическую мембрану клетки-хозяина – ВИЧ встраивает свой суперкапсид в плазмалемму Т-лимфоцита, в результате чего организм перестает бороться с инфекциями.</li>
    <li>Рецепторный. На поверхности большинства вирусов есть специфический белок способный «узнавать» белок-рецептор клетки-хозяина и связываться с ним. Участок цитоплазматической мембраны, к которому присоединился вирус, погружается в цитоплазму; образуется вакуоль, которая впоследствии сливается с ядром – большинство вирусов.</li>
    <li>В результате механического повреждения клеток, в т.ч. переносчиками вирусов – клещи переносят вирус клещевого энцефалита.</li>
</ol>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;После проникновения в клетку фаг подчиняет себе клеточный аппарат бактерии или другой клетки и она начинает воспроизводить генетический материал вируса, а не свой собственный, в результате чего образуются 200-1000 фаговых частиц.
</p>
<p class="text-center"><strong>Основные способы выхода вирусов из клетки-хозяина:</strong></p>
<ol type="1">
    <li>«Взрыв» клетки – клетка-хозяин погибает <strong>(вирулентный вирус (литический)).</strong></li>
    <li>Почкование. Образуется дополнительная оболочка из плазмалеммы клетки-хозяина – <u>клетка-хозяин не погибает</u><strong>(умеренный вирус (профаг, лизогенический)).</strong> Однако, если клетка-хозяин не погибла в ней высока вероятность повреждения клеточных структур, возникновения злокачественных опухолей, поэтому она чаще всего уничтожается путем апоптоза.</li>
</ol>
<p class="text-center"><strong>Значение вирусов:</strong></p>
<em><u>Положительное:</u></em>
<ol type="1">
    <li>Являются объектами генной и клеточной инженерии (участвуют в трансдукции - перенос генов от одной бактерии (донора) к другой (реципиенту) с помощью профагов.</li>
    <li>Некоторые бактериофаги используются для лечения заболеваний бактериальной природы (брюшной тиф, холера, дизентерия).</li>
    <li>Удобные объекты для расшифровки генетического кода.</li>
</ol>
<em><u>Отрицательное:</u></em>
<ol type="1">
    <li>Вызывают заболевания сельскохозяйственных растений (мозаичная болезнь табака, томатов, огурцов, скручивание листьев, карликовость и др.)</li>
    <li>Вызывают заболевания домашних животных (ящур, чума свиней и птиц, инфекционная анемия лошадей).</li>
    <li>Вызывают заболевания человека<strong>(оспа (черная и ветряная), эпидемический паротит (свинка), краснуха, корь, полиомиелит, грипп, гепатит, бешенство, герпес, ВИЧ).</strong></li>
</ol>
<a href=@Url.Action("Test2","Courses")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>

