<div class="container">
    <p>
        <strong>Количество видов: </strong> около 50000 видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> повсеместно (реки, озера, моря, океаны, все континенты, острова, почва, воздушная среда).
    </p>
    <p>
        <strong>Образ жизни:</strong> свободноживущие.
    </p>
    <p>
        <strong>Вторичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная,</strong> полость тела: <strong>вторичная.</strong>
    </p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol type="1">
            <li>Внутренний осевой скелет (хорда);</li>
            <li>Нервная система трубчатого типа;</li>
            <li>Кожа и ее производные;</li>
            <li>Туловищные или тазовые почки;</li>
            <li>Сердце (или сосуд его заменяющий) на брюшной стороне тела.</li>
        </ol>
    </p>
</div>
<div class="container">
    <p>
        <strong>Внешнее строение.</strong> Размеры тела: от 1 см (мелкие рыбы) до 33 м (синие киты). Для строения некоторых систем органов, особенно у низших хордовых, характерна метамерия. У наземных позвоночных она выражена только в строении позвоночного столба, отхождении спинномозговых нервов и расположении мускулатуры туловища.
    </p>
</div>
<div class="container">
    <p>
        <strong>Покровы тела.</strong> Кожа, состоит из эпидермиса и дермы, и ее производные: чешуя, железы, роговые щитки, перья, волосы.
    </p>
    <p>
        Внутренний осевой скелет – <strong>хорда</strong> – упругий хрящеподобный стержень, расположенный вдоль спинной стороны тела, образуется путем выпячивания спинной стороны кишечной трубки. У низших хордовых она сохраняется в течении всей жизни, у высших – замещается позвоночником, состоящим из отдельных позвонков. Эндоскелет не является надежной внешней защитой, но и не препятствует росту.
    </p>
</div>
<div class="container">
    <p>
        <strong>Пищеварительная система.</strong> Расположена под хордой. 3 отдела: передний, средний и задний.
    </p>
</div>
<div class="container">
    <p>
        <strong>Выделительная система.</strong> Нефридии или почки: туловищные (у низших позвоночных) или тазовые (у высших).
    </p>
</div>
<div class="container">
    <p>
        <strong>Кровеносная система.</strong> Замкнутая. Один или два круга кровообращения. Двух, трехили четырехкамерное сердце или сосуд, его заменяющий, располагается <strong>на брюшной стороне тела</strong> под пищеварительной трубкой.
    </p>
</div>
<div class="container">
    <p>
        <strong>Дыхательная система.</strong> Жаберные щели, пронизывающих стенку глотки. У водных представителей на их основе развиваются жабры. У наземных позвоночных жаберные щели имеют только зародыши, в ходе эмбриогенеза щели зарастают, а у взрослых особей развиваются легкие – парные выпячивания брюшной стороны задней части глотки.
    </p>
</div>
<div class="container">
    <p>
        <strong>Нервная система. Трубчатого типа.</strong> Закладывается в виде нервной трубки, которая располагается над хордой. Полость нервной трубки – <strong>невроцель</strong> – заполнена спинномозговой жидкостью. У высших хордовых нервная трубка дифференцируется на головной и спинной мозг. В эмбриогенезе на переднем конце нервной трубки образуются три вздутия – передний, средний и задний мозговые пузыри. Позднее передний мозговой пузырь подразделяется на два отдела, из которых образуется передний и промежуточный мозг. Из среднего мозгового пузыря формируется средний мозг. Разделившись на два отдела, задний мозговой пузырь развивается в мозжечок и продолговатый мозг, переходящий в спинной. Периферическая нервная система образована черепно-мозговыми и спинно-мозговыми нервами.
    </p>
</div>
<div class="container">
    <p>
        <strong>Органы чувств.</strong> Хорошо развиты слух, зрение, вкус, обоняние, осязание.
    </p>
</div>
<div class="container">
    <p>
        <strong>Половая система.</strong> Большинство раздельнополые. Размножение половое; развитие прямое или с метаморфозом.
    </p>
    <p class="text-center">
        <img src="~/Images/thema23/Схема классификация животного типа.jpg" />
    </p>
</div>
<div class="container">
    <p>
        <strong>Подтип Оболочники (Личиночнохордовые)</strong> – около 2000 видов. <em>Класс Асцидии.</em> Резко обособленная группа мелких животных, отличающаяся от других хордовых по своей организации и образу жизни. Живут в морях. Ведут прикрепленный или малоподвижный образ жизни. Являются одиночными или колониальными организмами. Признаки хордовых четко выражены только на личиночной стадии (хорда, нервная трубка, жаберные щели в стенке глотки). У взрослых особей в связи с прикрепленным образом жизни произошла редукция и преобразование ряда органов. Форма тела – мешковидная. Снаружи оно покрыто особой оболочкой (туникой), которая содержит вещество туницин, напоминающее по строению клетчатку. Хорды и развитой нервной системы у взрослых оболочников нет. Фильтрационный способ питания. Кровеносная система незамкнутая. Гермафродиты. Размножаются половым и бесполым путем (почкованием).
    </p>
</div>
<div class="container">
    <p>
        <strong>Подтип Бесчерепные (Головохордовые)</strong> – около 30-35 видов. Немногочисленная группа примитивных мелких морских животных. Основные признаки типа сохраняются у них в течение всей жизни. Хорда выполняет функцию внутреннего осевого скелета. Нервная трубка не дифференцирована на спинной и головной мозг, органы чувств развиты слабо. Глотка пронизана жаберными щелями. Кровеносная система замкнутая, сердце отсутствует. Метамерия выражена в сегментации мышц выделительной и половой систем. Черепа и парных конечностей нет.
    </p>
</div>

<div class="container">
    <p class="text-center">
        <strong>Класс Ланцетники.</strong>
    </p>
    <div class="container">
        <p>
            <strong>Среда обитания:</strong> прибрежные зоны теплых морей с песчаным грунтом на глубине до 100 м. Почти вертикально зарывается в грунт задним концом тела и выставляет наружу только переднюю часть.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Внешнее строение.</strong> Размеры тела – 6–8 см. Тело рыбообразное удлиненное, сжатое с боков и заостренное с обоих концов, имеется головной, туловищный и хвостовой отделы. На спинной стороне тела расположена кожная складка (спинной плавник), переходящая в хвостовой плавник ланцетовидной формы. На брюшной стороне тела находятся парные метаплевральные складки кожных покровов, которые, срастаясь, образуют околожаберную (атриальную) полость.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Покровы тела.</strong> Кожа, состоящая из <em>однослойного</em>  эпидермиса и студенистой дермы. Покровы тела прозрачны, пигментных клеток нет. Производные кожи: <em>одноклеточные железы,</em> выделяющие слизь.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Опорно-двигательная система.</strong> Внутренний осевой скелет – хорда, идущая вдоль спинной стороны всего тела.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Мускулатура.</strong> 2 продольные ленты, лежащие по бокам от хорды и состоящие из множества сегментов поперечнополосатой мышечной ткани. Сегменты отделены друг от друга соединительнотканными прослойками.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Пищеварительная система.</strong> Ротовое отверстие, окруженное 10–20 парами щупалец, за ним, околоротовая воронка, на дне которой начинается глотка. Стенка глотки пронизана жаберными щелями (100–150 пар), ведущими в околожаберную полость. Вместе с током воды, создаваемым щупальцами, в глотку поступают одноклеточные растения и животные, мелкие ракообразные (фильтрационный способ питания), которые оседают на ее дне в специальном углублении <strong>(желобе).</strong> Вода через жаберные щели выходит в околожаберную полость и далее через ее отверстие – <strong>атриопор</strong> – во внешнюю среду. Пища поступает в кишечник и переваривается. Непереваренные остатки выводятся через анальное отверстие наружу.
        </p>
        <img src="~/Images/thema23/Пищеварительная система.jpg" />
    </div>
    <div class="container">
        <p>
            <strong>Выделительная система.</strong> 100 пар метанефридий, посегментно расположенных по бокам глотки. Один конец нефридия открывается в целом, другой – в околожаберную полость.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Кровеносная система.</strong> <em>Замкнутая, один круг кровообращения.</em> Сердце отсутствует, его функцию выполняет пульсирующий сосуд – брюшная аорта, расположенная под глоткой. От брюшной аорты отходят жаберные артерии, которые несут венозную кровь к органам дыхания. В сосудах межжаберных перегородок кровь насыщается кислородом. Артериальная кровь поступает в спинную аорту, а затем ко всем органам и тканям, где она становится венозной. По четырем кардинальным венам (2 передние и 2 задние) венозная кровь собирается в брюшную аорту. Кровь бесцветна – не содержит дыхательных пигментов.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Дыхательная система. Жаберные щели</strong> глотки. Разделены узкими межжаберными перегородками, в которых проходят кровеносные сосуды. Газообмен происходит в сосудах межжаберных перегородок.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Нервная система. Трубчатого типа.</strong> От нервной трубки посегментно отходят периферические нервы. Полость нервной трубки <em>(невроцель)</em> имеет расширение в переднем отделе <em>(обонятельная ямка).</em>
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Органы чувств.</strong> По всей длине нервной трубки располагаются пигментные клетки – <strong>глазки Гессе,</strong> воспринимающие световые раздражения. В коже есть осязательные клетки. Обонятельная ямка является органом химического чувства.
        </p>
    </div>
    <div class="container">
        <p>
            <strong>Половая система.</strong> Ланцетники раздельнополые. Имеют около 25 пар половых желез (гонад), расположенных посегментно по бокам от глотки и не имеющих собственных протоков. Половой диморфизм не выражен. Размножение половое. Оплодотворение происходит в воде: через прорывы оболочек гонад половые клетки попадают в околожаберную полость и далее во внешнюю среду, где и происходит их встреча. Развитие непрямое (с неполным метаморфозом).
        </p>
    </div>
</div>
<div class="container">
    <p class="text-center">
        <strong>Черты сходства ланцетника с беспозвоночными.</strong>
    </p>
    <ol type="1">
        <li>Двусторонняя симметрия;</li>
        <li>Развитие из трех зародышевых листков; </li>
        <li>Однослойный кожный эпителий;</li>
        <li>Сегментация мышц, гонад и нефридий; </li>
        <li>Слабая дифференцировка пищеварительной трубки; </li>
        <li>Фильтрационный способ питания;</li>
        <li>Отсутствие головного мозга и сердца.</li>
    </ol>
</div>
<div class="container">
    <p class="text-center">
        <strong>Черты сходства ланцетника с позвоночными.</strong>
    </p>
    <ol type="1">
        <li>Внутренний осевой скелет – хорда;</li>
        <li>Нервная трубка расположена над хордой, а пищеварительная – под хордой;</li>
        <li>Глотка пронизана жаберными щелями;</li>
        <li>Центральный пульсирующий кровеносный сосуд на брюшной стороне тела.</li>
    </ol>
</div>
<div class="container">
    <a href=@Url.Action("Test23","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>