<div class="container">
    <p><strong>Эндокринный аппарат </strong> – это совокупность желез внутренней секреции, которые не имеют выводных протоков и выделяют свои продукты (гормоны) непосредственно в кровь и тканевую жидкость.</p>
    <p>Регуляция функций организма с помощью различных химических биологически активных веществ (БАВ), в частности гормонов, называется <em>гуморальной регуляцией.</em></p>
</div>