<div class="container">
    <p>
        <strong>Отряды и представители:</strong> Класс Пресмыкающиеся включает три отряды: <em>Чешуйчатые</em> (ящерицы: гекконы, агамы, хамелеоны, веретеница, живородящая ящерица, серый варан, варан гигантский; змеи: удавы, ужи, гюрза, эфа, кобра, анаконда, медянка, аспиды, гадюки, щитомордники), <em>Крокодилы</em> (гавиал, нильский крокодил, аллигатор, кайман болотный, тупорылый крокодил) и <em>Черепахи</em> (болотная, суповая, степная, среднеазиатская, кавказская).
    </p>
    <p>
        <strong>Количество видов:</strong> около 7000 видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> широты с умеренным и теплым тропическим климатом, практически отсутствуют в приполярных областях; первые настоящие наземные позвоночные животные. Некоторые виды (ужи) живут около водоемов: по берегам рек, озер и прудов. Крокодилы, морские черепахи и морские змеи вторично перешли к жизни в воде.
    </p>
    <p>
        <strong>Вторичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная симметрия.</strong>
    </p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol type="1">
            <li>Толстая сухая кожа с роговыми чешуями;</li>
            <li>Грудная клетка;</li>
            <li>Твердое небо;</li>
            <li>Пять отделов позвоночника (шейный, грудной, поясничный, крестцовый, хвостовой);</li>
            <li>Слюнные железы содержат пищеварительные ферменты;</li>
            <li>Зачаток слепой кишки;</li>
            <li>Дифференцировка дыхательных путей (гортань и трахея);</li>
            <li>Неполная перегородка в желудочке сердца (у крокодилов сердце четырехкамерное);</li>
            <li>Зачатки коры переднего мозга (3 островка);</li>
            <li> 12 пар черепно-мозговых нервов;</li>
            <li>Двойная аккомодация;</li>
            <li>Вторичные (тазовые) почки;</li>
            <li> Внутреннее осеменение;</li>
            <li>Скорлуповая оболочка яйца и зародышевые оболочки – серозная и амнион;</li>
            <li>Прямое развитие.</li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение.</strong> У ящериц, крокодилов и хамелеонов выражены все отделы тела: голова, шея, туловище, хвост, передние и задние пятипалые конечности. Плечевая и бедренная кости этих рептилий располагаются параллельно поверхности земли, поэтому тело провисает и касается земли, т. е. пресмыкается (отсюда и название класса).
    </p>
    <p>
        У змей цилиндрическое тело, лишено конечностей, туловищный и хвостовой отделы переходят друг в друга без резкой границы.
    </p>
    <p>
        У черепах тело уплощено в спинно-брюшном направлении и заключено в панцирь, состоящий из спинного и брюшного щитов. Конечности укороченные, шея длинная, подвижная.
    </p>
    <p>
        <strong>Покровы тела.</strong> Кожа состоит из эпидермиса и дермы <em>(кожа сухая, без желез).</em> Производные эпидермиса: роговые чешуи и щитки (защищают от механических повреждений и чрезмерной потери воды). Чешуи сдерживают рост пресмыкающихся, ороговевшая кожа сбрасывается в период линьки. У некоторых видов под роговыми чешуями в дерме располагаются костные пластинки, образующие панцирь (черепахи).
    </p>
    <p>
        <strong>Опорно-двигательная система.</strong> 3 отдела: скелет головы (череп), скелет туловища (позвоночник), скелет конечностей и их поясов.
    </p>
    <p>
        <em>Скелет головы (череп)</em> имеет вытянутую форму, увеличивается объем его мозгового отдела. Череп соединен с позвоночником с помощью одного мыщелка затылочной кости. Первые два шейных позвонка (атлант и эпистрофей) образуют подвижное соединение с черепом. Подвижность головы обеспечивается также гибкой шеей.
    </p>
    <p>
        <strong>N.B.!!!</strong> Впервые появляется твердое нёбо, отделяющее носовую полость от ротовой.
    </p>
    <p>
        <em>Скелет туловища (позвоночник)</em> состоит из 5 отделов: шейный (8–10 позвонков), грудной (5 позвонков), поясничный (17 позвонков), крестцовый (2 позвонка), хвостовой (несколько десятков позвонков). У змей позвоночник образован двумя отделами (туловищным и хвостовым), грудина, скелет конечностей и их поясов редуцированы.
    </p>
    <p>
        <strong>N.B!!!</strong> Нижние концы длинных ребер грудного отдела позвоночника соединяются с грудиной, образуя грудную клетку. В состав грудной клетки входят грудина, ребра и грудные позвонки.
    </p>
    <p>
        <em>Скелет пояса передних конечностей (плечевой пояс):</em> парные лопатки, парные ключицы и парные вороньи кости.
    </p>
    <p>
        <em>Скелет свободной передней конечности:</em> плечевая кость, кости предплечья (локтевая и лучевая) и кости кисти.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <em>Скелет пояса задних конечностей (тазовый пояс):</em> таз (2 тазовые кости (в составе каждой лобковая, подвздошная и седалищная кости, срастающиеся между собой) и крестцовые позвонки.
                </p>
                <p>
                    <em>Скелет свободной задней конечности:</em> бедренная кость, кости голени (большеберцовая и малоберцовая) и кости стопы.
                </p>
                <p>
                    <strong>Мускулатура:</strong> мышцы брюшного пресса, шеи, <em>межреберные,</em> сгибатели и разгибатели пальцев, а также подкожная мускулатура.
                </p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema26/Скелет.png" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <strong>Пищеварительная система.</strong>
    </p>
    <p>
        <em>Строение пищеварительной трубки:</em> ротовая полость – глотка – пищевод – желудок – тонкая кишка – толстая кишка (впервые появляется зачаток слепой кишки) – клоака.
    </p>
    <p>
        В ротовой полости находятся язык и челюсти с однородными коническими зубами. Зубы пресмыкающихся захватывают, удерживают, разрывают и умерщвляют добычу, но не пережевывают ее. Представители многих видов заглатывают пищу целиком. Зубы у большинства пресмыкающихся срастаются, а <em>у крокодилов зубы погружены в специальные ячейки (альвеолы).</em>
    </p>
    <p class="text-center">
        <img src="~/Images/thema26/крокодил.png" class="rounded" width="100%" height="100%" />
    </p>
    <p>
        Мускулистый язык может далеко выдвигаться изо рта – у ящериц и змей он раздвоен, служит органом осязания и вкуса, а у хамелеонов является приспособлением для захвата добычи.
    </p>
    <p>
        Секрет слюнных желез облегчат заглатывание пищи, содержит ферменты, а у некоторых змей и ящериц – ядовит.
    </p>
    <p>
        Далее следуют глотка, пищевод и желудок с толстыми мышечными стенками, тонкий кишечник, зачаток слепой кишки, толстый кишечник, клоака.
    </p>
    <p>
        Железы: слюнные железы, печень с желчным пузырем, поджелудочная железа
    </p>
    <p>
        <strong>Выделительная система. Вторичные (тазовые) почки</strong> – обеспечивают активную реабсорбцию и продуцируют концентрированную мочу.
    </p>
    <p>
        <em>Строение выделительной системы:</em> тазовые почки – мочеточники – клоака – мочевой пузырь – клоака.
    </p>
    <p>
        <em>Основной продукт обмена – </em> <strong>мочевая кислота.</strong>
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <strong>Кровеносная система.</strong> Замкнутая. Сердце трехкамерное (2 предсердия и 1 желудочек с неполной перегородкой). <strong>N.B.!!!</strong> У крокодилов сердце четырехкамерное. Два круга кровообращения.
                </p>
                <p>
                    От разных отделов желудочка отходят три сосуда (артериальный конус редуцирован).
                </p>
                <p>
                    <em>Малый круг кровообращения:</em> из правой части желудочка выходит легочная артерия, несущая венозную кровь к органам дыхания. Окисленная кровь по легочным венам возвращается в левое предсердие.
                </p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema26/кровеносная система.png" class="rounded" width="45%" height="100%" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/thema26/Сердце.png" class="rounded" width="70%" height="90%" />
            </div>
            <div class="col">
                <p>
                    <em>Большой круг кровообращения:</em> от левой части желудочка отходит правая дуга аорты, которая несет артериальную кровь в головной отдел и передние конечности), от середины желудочка – левая дуга аорты, в нее поступает смешанная кровь. Обогнув сердце, две дуги аорты сливаются в спинную аорту, по которой ко всем внутренним органам, мышцам туловища и задним конечностям поступает смешанная кровь с преобладанием артериальной. По системе полых вен венозная кровь собирается в правое предсердие.
                </p>
                <p>
                    Пресмыкающиеся <strong>– пойкилотермные (холоднокровные) животные,</strong> не имеющие постоянной температуры тела. Для обогрева они используют внешнее тепло (терморегуляция на основе поведения), а при сильном понижении температуры впадают в спячку.
                </p>
            </div>
        </div>
    </div>
    <p>
        <strong>Дыхательная система.</strong> Единственными органами дыхания являются легкие (мелкоячеистые – у отряда Чешуйчатые, губчатые – у Крокодилов и Черепах).
    </p>
    <p>
        <em>Дыхательные пути:</em> носовой полостью (наружные дыхательные отверстия (ноздри) и внутренние дыхательные отверстия (хоаны)) – ротовая полость – гортань – трахея – два бронха – легкие.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Стенки трахеи и бронхов не спадаются за счет развития в них хрящевых колец.</p>
                <p>Дыхательные движения обеспечиваются сокращением межреберных мышц, увеличивающих объем грудной клетки. Легкие при этом также растягиваются, и воздух засасывается через ноздри. Исключение составляют черепахи, обладающие твердым панцирем. Они утратили способность к такому дыханию; заполнение легких происходит у них путем заглатывания воздуха (сходство с земноводными).</p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema26/легкое.png" class="rounded" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <p>
        <strong>Нервная система.</strong> <em>ЦНС:</em> Головной мозг имеет 5 отделов: продолговатый, задний, средний, промежуточный, передний.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    Объем переднего мозга значительно больше, чем у земноводных, он содержит хорошо развитые полосатые тела. На поверхности больших полушарий появляется кора в виде трех островков.
                </p>
                <p>
                    Мозжечок развит лучше, он имеет большие размеры и устроен сложнее, поэтому рептилии обладают большей подвижностью и разнообразием движений.
                </p>
                <p>
                    <em>ПНС:</em> 12 пар черепно-мозговых нервов. Нервные сплетения, иннервирующие конечности, развиты лучше, чем у амфибий.
                </p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema26/нервная система.png" class="rounded" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <p>
        <strong>Органы чувств.</strong> Глаза защищены двумя подвижными веками (верхним и нижним) и мигательной перепонкой, а у некоторых видов (змеи, ящерицы) – сросшимися веками. 
    </p>
    <p>
        Выпуклая роговица, линзовидный хрусталик, двойная аккомодация (перемещение хрусталика относительно сетчатки, изменение кривизны хрусталика).
    </p>
    <p>
        Большинство видов, ведущих дневной образ жизни, имеют цветовое зрение. У некоторых пресмыкающихся, охотящихся ночью, есть теменной глаз, воспринимающий инфракрасные излучения.
    </p>
    <p>
        Орган слуха – внутреннее и среднее ухо с одной слуховой косточкой (стремечко) и барабанной перепонкой. У змей барабанная перепонка отсутствует.
    </p>
    <p>
        Органы обоняния – рецепторы носовой полости, осязания и вкуса – раздвоенный язык.
    </p>
    <p>
        <strong>Половая система.</strong> Раздельнополые. Половые железы (семенники и яичники) парные. Семяпроводы и яйцеводы выводят половые клетки в клоаку. У самцов имеются совокупительные органы. Осеменение внутреннее, оно происходит в верхнем отделе яйцеводов. Большинство видов откладывают яйца, для некоторых змей характерно
       <div class="container">
           <div class="row">
               <div class="col">
                   яйцеживорождение (зародыш развивается в яйце, которое задерживается в яйцеводах, поэтому сразу после откладки из него вылупливается молодь). Яйцо со держит большой запас питательных веществ (желток), имеет скорлуповую оболочку (у черепах и крокодилов) или кожистую (у змей и ящериц), которая защищает его от механических повреждений. Количество яиц в кладке от 1–2 до нескольких десятков (у ящерицы – 5–15). Их закапывают в землю в хорошо обогреваемых местах или в гниющем мусоре. Самки некоторых видов (питоны, крокодилы) охраняют кладку яиц. В отличие от рыб и земноводных развитие у пресмыкающихся прямое. Зародыш развивается внутри яйца в водной среде, сформированной зародышевой оболочкой амнионом. Питательные вещества, необходимые для его роста и развития, содержатся в желтке, а вода – в жидком белковом слое яйца. Газообмен зародыша с внешней средой осуществляется через серозную зародышевую оболочку.
               </div>
               <div class="col text-center" >
                   <img src="~/Images/thema26/половая система.png " class="rounded" width="100%" height="100%" />
               </div>
           </div>
       </div>    
    </p>
    <p>
        <div class="text-center">
            <strong>Многообразие пресмыкающихся.</strong>
        </div>
    </p>
    <p>
        <strong>Отряд Крокодилы</strong> (гавиал, нильский крокодил, аллигатор, кайман болотный, тупорылый крокодил, всего 21 вид). Обитают в тропических широтах. Длина тела до 2–7 м, покрыты крупными роговыми щитками. Ноздри и глаза располагаются на бугорках. Ведут водный образ жизни, охотятся ночью. Хищники, питаются крупными беспозвоночными и рыбой. Являются наиболее высокоорганизованными представителями класса: <em>четырехкамерное сердце;</em> хорошо развитое твердое нёбо; <em>зубы находятся в ячейках челюстей;</em> в легких много внутренних перегородок; более совершенная нервная система; сложное поведение. Откладывают 10–100 яиц. Половой зрелости достигают к 8–10 годам, живут 80–100 лет.
    </p>
    <p>
        <strong>Отряд Чешуйчатые</strong> (ящерицы и змеи, всего около 6500 видов). Имеют наружный покров в виде роговых чешуй. В Беларуси обитает прыткая ящерица, веретеница (безногая ящерица), уж, медянка, гадюка, относящиеся к двум подотрядам: Ящерицы и Змеи.
    </p>
    <p>
        <em>Ящерицы</em> (гекконы, агамы, хамелеоны, веретеница, живородящая ящерица, серый варан, варан гигантский) обитают в степях, пустынях, лесах, горах. Имеют хорошо развитые пятипалые конечности, подвижные веки и барабанные перепонки. Питаются насекомыми, живут в норах под камнями или корнями деревьев. Имеют малые размеры. Роговой покров меняется за лето 4–5 раз. Яйца покрыты плотной защитной оболочкой. Самка закапывает их в ямку. Характерна регенерация (отбрасывают при опасности хвост, который затем вновь отрастает).
    </p>
    <p>
        <em>Змеи</em> (удавы, ужи, гюрза, эфа, кобра, анаконда, медянка, аспиды, гадюки, щитомордники) имеют длинное цилиндрическое тело. <em>Грудина, конечности и их пояса, а также правое легкое редуцированы.</em> Шея не выражена, ползают на брюхе. При линьке кожа снимается целиком, как чулок. В позвоночнике до 400 позвонков (обеспечивают гибкость тела), позвонки несут свободно заканчивающиеся ребра. <em>Веки сросшиеся, прозрачные (немигающий взгляд), барабанная перепонка отсутствует.</em> Некоторые змеи находят добычу с помощью термолокатора, реагирующего на тепловое излучение животных. Имеются ядовитые зубы и железы. Добычу заглатывают целиком (челюсти соединены растяжимыми связками). Глотка, пищевод и желудок также способны растягиваться. Истребляют грызунов. Большинство змей – яйцекладущие, но есть и яйцеживородящие.
    </p>
    <p>
        <strong>Отряд Черепахи</strong> (болотная, суповая, степная, среднеазиатская, кавказская черепахи, всего 200 видов). Имеют костный панцирь. Верхняя его часть <em>(карапакс)</em> срастается с ребрами и позвоночником, кроме шейного и хвостового отделов, нижняя <em>(пластрон)</em> – с грудиной и ключицами. Голова, шея и хвостовой отдел тела свободны от панциря. У морских черепах конечности преобразованы в ласты. Сверху панцирь покрыт роговыми щитками или мягкой кожей. Зубов нет, их функцию выполняет роговой клюв. Ведут наземный или водный образ жизни (жаркие пустыни, влажные тропики). Наземные черепахи питаются растительной пищей, водные – хищники. Легкие губчатой структуры. Механизм дыхания связан с сокращением мышц шеи, плечевого пояса и ротовой полости. Интенсивность процессов жизнедеятельности низкая. Впадают в летнюю или зимнюю спячку. Для размножения могут совершать длительные миграции. Черепахи – яйцекладущие.
    </p>
    <p>
        <div class="text-center">
            <strong>Значение пресмыкающихся.</strong>
        </div>
    </p>
    <ol type="1">
        <li>Компоненты биогеоценозов, звенья пищевых сетей.</li>
        <li>Источники продуктов питания для человека (мясо и яйца черепах, мясо змей), сырья для промышленности (кожа змей и крокодилов), лекарственных веществ (змеиный яд).</li>
        <li>Ящерицы и змеи уничтожают насекомых, моллюсков и грызунов – вредителей сельскохозяйственных культур.</li>
        <li>Ядовитые животные (гадюка, гюрза, кобра, гремучая змея).</li>
        <li>Медянка и болотная черепаха занесены в Красную книгу Республики Беларусь.</li>
    </ol>
</div>
<div class="container">
    <a href=@Url.Action("Test26","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>
