<div class="container">
    <p>
        <strong>Отряды и представители:</strong> Класс Млекопитающие включает 2 подкласса: Первозвери/Клоачные (ехидна, проехидна, утконос) и Настоящие звери. <u>Отряды Настоящих зверей:</u> Отряд Сумчатые (кенгуру, коала, сумчатая мышь, опоссум, сумчатый волк, сумчатый крот); Отряд Насекомоядные (бурозубка, крот, еж, выхухоль); Отряд Рукокрылые (вампиры, рыжая вечерница, ушан, кожан, ночницы, крыланы, летучие мыши); Отряд Грызуны (мышь, крыса, суслик, бобр, соня, ондатра, нутрия, полевка, хомяк, белка); Отряд Зайцеобразные (заяц, кролик, пищуха); Отряд Хищные (медведь, кошка, собака, волк, куница, рысь, тигр, лев, леопард, шакал, лисица, енот, хорек, ласка, горностай, барсук, выдра); Отряд Ластоногие (настоящий тюлень, ушастый тюлень, морж); Отряд Китообразные (беззубые киты: синий кит, зубатые киты: дельфин, кашалот); Отряд Парнокопытные (олень, косуля, корова, свинья, верблюд, олень, лось); Отряд Непарнокопытные (носорог, осел, зебра, лошадь); Отряд Приматы (мартышка, гиббон, лемур, долгопят, павиан, орангутан, горилла, шимпанзе).
    </p>
    <p>
        <strong>Количество видов:</strong> около 4500 видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> заселяют все жизненные среды – наземновоздушную, водную и почвенную. В зависимости от среды обитания различают следующие экологические группы млекопитающих: наземные (кабаны, лисицы, лоси, волки), подземные (кроты), древесные (белки, ленивцы, коала), летающие (летучие мыши, вампиры), водные (ластоногие, киты и дельфины).
    </p>
    <p>
        <strong>Вторичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная.</strong>
    </p>
    <p>
        <strong>Основные ароморфозы: </strong>
        <ol type="1">
            <li>Подкожная, мимическая мускулатура и диафрагма;</li>
            <li>Расположение зубов в ячейках челюстей;</li>
            <li>Дифференцировка зубов на резцы, клыки и коренные;</li>
            <li>Мягкое небо;</li>
            <li>Борозды и извилины в коре головного мозга;</li>
            <li>Альвеолярные легкие;</li>
            <li>Безъядерные эритроциты;</li>
            <li>3 слуховые косточки в полости среднего уха (молоточек, наковальня, стремечко);</li>
            <li>Ушная раковина;</li>
            <li>Внутриутробное развитие.</li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение.</strong> Отделы тела: голова, шея, туловище, хвост, передние и задние конечности, находящиеся под туловищем. Такое расположение конечностей обеспечивает им лучшую опору при движении, возможность развивать большую скорость при беге и сохранение равновесия при изменении направления движения. Движения у млекопитающих разнообразные: бег, лазанье по деревьям, прыжки, полет, плавание и др.
    </p>
    <p>
        <strong>Покровы тела.</strong> Кожа состоит из многослойного эпидермиса, дермы и подкожной жировой клетчатки. <em>Производные эпидермиса:</em> волосы, вибриссы (чувствительные «усы» хищных, ластоногих и грызунов), щетина (свиньи), иглы (еж), роговые пластины (броненосцы), полые рога и копыта (копытные), когти (хищники), ногти (приматы). Костные рога оленей и лосей развиваются как производные дермы. Волос имеет стержень и корень, расположенный в волосяной сумке. Длинные волосы образуют ость, короткие волосы –подшерсток. Характерна линька. Кожа содержит потовые, сальные, пахучие и млечные железы. <em>Млечные и пахучие железы представляют собой видоизмененные потовые.</em>
    </p>
    <div class="row">
        <div class="col">
            <p>
                <strong>Опорно-двигательная система:</strong> <em>3 отдела: скелет головы (череп), скелет туловища (позвоночник), скелет конечностей и их поясов.</em> Скелет головы (череп): соединен с позвоночником с помощью двух мыщелков затылочной кости. Хорошо развито костное нёбо. Мозговой отдел по сравнению с пресмыкающимися имеет большие размеры и образован меньшим количеством костей. Скелет туловища (позвоночник) состоит из 5 отделов: шейный (7 позвонков, за исключением ленивца и ламантина), грудной (9–24 позвонка), поясничный (2–9 позвонков), крестцовый (4–9 позвонков), хвостовой (может иметь различную длину и содержать от 3 до 40 позвонков). Имеется грудная клетка и ребра.
            </p>
        </div>
        <div class="col text-center">
            <img src="~/Images/thema28/опорно-двигательный система.png" class="rounded" width="100%" height="100%" />
        </div>
    </div>
    <p>
        Скелет пояса передних конечностей: парные лопатки и ключицы. Вороньи кости, утратили самостоятельность и приросли к лопаткам.
    </p>
    <p>
        <em>Скелет свободной передней конечности:</em> плечевая кость, кости предплечья (локтевая и лучевая) и кости кисти.
    </p>
    <p>
        Скелет пояса задних конечностей: 2 тазовые кости (сросшиеся подвздошные, седалищные и лобковые кости) и крестцовый отдел позвоночника. Таз закрытого типа – лобковые и седалищные кости срастаются по средней линии.
    </p>
    <p>
        <em>Скелет свободной задней конечности:</em> бедренная кость, кости голени (большеберцовая и малоберцовая) и кости стопы.
    </p>
    <p>
        Мускулатура. Дифференцирована, развиты мышцы спины, конечностей и их поясов, впервые появились <em>подкожная, мимическая мускулатура и диафрагма.</em> Плоская мышца диафрагма делит вторичную полость тела на грудную и брюшную.
    </p>
    <div class="row">
        <div class="col">
            <p>
                <strong>Пищеварительная система. </strong> <em>Строение пищеварительной трубки:</em> ротовая полость – глотка – пищевод – желудок – тонкая кишка – толстая кишка – анальное отверстие. Ротовое отверстие окружено губами (это связано с выкармливанием детенышей молоком и обеспечивает сосательные движения). Зубы расположены в ячейках челюстей (альвеолах) и дифференцированы на клыки, резцы и коренные. Характерна смена молочных зубов на постоянные. Хорошо развиты язык, слюнные железы. Ротовая полость отделена от носовой твердым и мягким нёбом. Между тонким и толстым кишечником находится слепая кишка с червеобразным отростком – аппендиксом. Хорошо развиты печень и поджелудочная железа.
            </p>
        </div>
        <div class="col text-center">
            <img src="~/Images/thema28/пищквая система.png" class="rounded" width="90%" height="90%" />
        </div>
    </div>
    <p>
        Выделительная система. Вторичные (тазовые) почки имеют большее число капиллярных клубочков и длинные почечные канальцы.
    </p>
    <p>
        <em>Строение выделительной системы:</em> тазовые почки – мочеточники –мочевой пузырь – мочеиспускательный канал – мочевыделительное отверстие (уретра).
    </p>
    <p>
        <em>Основной продукт обмена</em> <strong>– мочевина.</strong>
    </p>
    <p>
        <strong>Кровеносная система.</strong> Замкнутая. Сердце четырехкамерное (два предсердия и два желудочка). Два круга кровообращения. Характерно полное разделение потоков артериальной и венозной крови. Эритроциты безъядерные.
    </p>
    <div class="row">
        <div class="col">
            <p>
                <em>Большой круг кровообращения:</em> левый желудочек (артериальная кровь) <em>– левая</em> дуга аорты (артериальная кровь) –капилляры органов и тканей (газообмен) – полые вены (венозная кровь) – правое предсердие (венозная кровь).
            </p>
            <p>
                <em>Малый круг кровообращения:</em> правый желудочек (венозная кровь) – легочной ствол (венозная кровь) – капилляры легких (газообмен) – легочные вены (артериальная кровь) – левое предсердие (артериальная кровь).
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema28/кровеносная система.png" class="rounded" width="100%" height="100%" />
        </div>
    </div>
    <p>
        Млекопитающие <em>– гомойотермные</em> животные.
    </p>
    <p>
        <strong>Дыхательная система.</strong> Альвеолярные легкие.
    </p>
    <p>
        <em>Дыхательные пути:</em> ноздри – носовая полость – хоаны – носоглотка –гортань – трахея – два бронха – альвеолярные легкие.
    </p>
    <p>
        Дыхательные движения (вдох – выдох) происходят за счет сокращения межреберных мышц и диафрагмы. С дыханием связано и воспроизведение звуков. В гортани имеются голосовые связки. Выдыхаемый из легких воздух вызывает их колебания, благодаря чему животные издают звуки.
    </p>
    <p>
        <strong>Нервная система.</strong> Центральная нервная система включает головной и спинной мозг. Периферическая нервная система представлена 12 парами черепно-мозговых нервов, спинномозговыми нервами и нервными сплетениями. В головном мозге 5 отделов: продолговатый, мозжечок, средний, промежуточный и передний. Хорошо развита кора больших полушарий переднего мозга. У многих млекопитающих она имеет борозды и извилины. Кора координирует работу нервной системы и организма в целом. В ней имеются сенсорные, ассоциативные и двигательные зоны. Сенсорные (чувствительные) зоны получают импульсы от большинства рецепторов тела (входные сигналы), обеспечивая определенные виды ощущений: зрительные, слуховые, обонятельные, осязательные. Ассоциативные зоны осуществляют запоминание, научение и мышление. Для высших млекопитающих характерна рассудочная деятельность. Только млекопитающим свойственны игры молодых животных, в которых они приобретают определенные навыки (ловкость, подвижность, приемы защиты и нападения). Из двигательных зон к эффекторам (произвольным мышцам) поступают нервные импульсы, контролируя их активность. В среднем мозге имеется четверохолмие (передние бугры –зрительные, задние – слуховые). Хорошо развит мозжечок, состоящий из двух полушарий, червя и выполняющий функции координации движений и поддержания равновесия тела.
    </p>
    <p>
        <strong>Органы чувств.</strong> Орган осязания – кожа и чувствительные волоски вибриссы, орган вкуса – язык, обоняния – рецепторы носовой полости, зрения – глаза, слуха – внутреннее, среднее и наружное ухо. В среднем ухе имеются три слуховые косточки (молоточек, наковальня и стремечко), наружное ухо представлено ушной раковиной и наружным слуховым проходом.
    </p>
    <p>
        Для некоторых млекопитающих (дельфины, летучие мыши) характерна эхолокация (ориентация с помощью ультразвука).
    </p>
    <p>
        <strong>Половая система.</strong> Млекопитающие раздельнополые, половые железы парные. Самка: яйцеводы, матки (матка) и влагалище. Влагалище открывается во внешнюю среду самостоятельным отверстием.
    </p>
    <p>
        Самец: семенники располагаются не в брюшной полости, а в специальном наружном половом органе – мошонке. Семяпроводы заканчиваются семяизвергательным каналом, проходящим внутри копулятивного органа – полового члена. Появляются дополнительные железы, выделяющие секреты, которые образуют семенную жидкость. У самцов семяизвергательный канал одновременно является и мочеиспускательным. Живородящи, отдельные виды яйцекладущие.
    </p>
    <p>
        <em>Осеменение внутреннее</em> – самец вводит семенную жидкость в половые пути самки. Оплодотворение происходит в яйцеводах. Развивающийся зародыш погружается в слизистую оболочку матки. Вокруг зародыша образуется амнион, формирующий водную среду для развития. Одной стороной оболочки срастаются со стенкой матки, образуя плаценту (детское место). В плаценте стенки кровеносных сосудов матери и плода тесно соприкасаются друг с другом. Через них от матери в зародыш поступают растворенные питательные вещества и кислород, а от плода в организм матери – диоксид углерода и вредные продукты жизнедеятельности. Зародыш с плацентой соединен пуповиной. Плод в течение определенного периода развивается в матке <em>(внутриутробное развитие).</em> После окончания срока беременности наступают роды: сокращение мышечных стенок матки выталкивает плод наружу. После рождения самка вскармливает детенышей молоком.
    </p>
    <p class="text-center">
        <strong>Многообразие млекопитающих.</strong>
    </p>
    <p>
        <em>Два подкласса:</em> Первозвери (Клоачные) и Настоящие звери (Живородящие).
    </p>
    <p>
        <strong>Подкласс Первозвери/Клоачные</strong> (ехидна, проехидна, утконос). Обитают в Южном полушарии (Австралии, Новой Гвинее, Тасмании). Наземные и полуводные виды. Характерные черты представителей подкласса: наличие кишечника, клюва, вороньих костей, волосяного покрова; протоки половых желез и мочевой пузырь открываются в клоаку; у взрослых особей нет зубов, губ, ушных раковин; редукция правого яичника; яйцекладущие, отсутствие плаценты; вскармливание детенышей молоком (детеныши слизывают молоко с кожи или шерсти, так как не имеют губ, а млечные железы не имеют сосков (млечное поле); непостоянная температура тела 26…34 °С (занимают промежуточное положение между теплокровными и холоднокровными животными).
    </p>
    <p>
        <strong>Подкласс Настоящие звери.</strong>
    </p>
    <p>
        <em>Отряд Сумчатые</em> (кенгуру, коала, сумчатая мышь, опоссум, сумчатый волк, сумчатый крот). Распространены в Австралии, Америке, Новой Гвинее. Большинство – растительноядные, некоторые – насекомоядные или хищные. Головной мозг примитивного строения <em>(кора не имеет борозд и извилин).</em> Температура тела 34…36 °С. Внутриутробное развитие непродолжительное. Детеныши рождаются недоразвитыми, так как <em>плацента не образуется.</em> Продолжают развитие в специальной выводковой сумке для вынашивания детенышей (до 250 дней). Кости таза (сумчатые кости) являются опорой для сумки. В нее открываются млечные железы. Детеныш кенгуру питается, плотно охватывая сосок матери, а молоко впрыскивается ему в рот при сокращении специальной мышцы.
    </p>
    <p>
        <em>Отряд Насекомоядные</em> (бурозубка, крот, еж, выхухоль). Распространены преимущественно в тропических областях. Размеры тела мелкие или средние. Головной мозг малых размеров, кора больших полушарий <em> не имеет извилин и борозд.</em> Зубы слабо дифференцированы. Для большинства видов характерна сумеречная активность (кроты). Передние конечности крота направлены в стороны, являются роющими, волосяной покров не имеет определенного направления (стоят торчком), <em>голова без ушных раковин, глаза недоразвиты,</em> сильно развито обоняние. Тело ежа покрыто толстыми и острыми иглами (видоизмененные волосы); зимой ежи впадают в спячку.
    </p>
    <p>
        <em>Отряд Рукокрылые</em> (вампиры, рыжая вечерница, ушан, кожан, ночницы, крыланы, летучие мыши). Обитают в дуплах деревьев, на чердаках и в пещерах. Образуют колонии. Питаются нектаром цветов, насекомыми, плодами деревьев, вампиры – кровью животных. Приспособлены к полету; между пальцами, между передними и задними конечностями и хвостом натянуты эластичные летательные кожистые перепонки (крылья). Скелет прочный и легкий, <em>грудина имеет киль.</em> Количество постоянных зубов всех видов уменьшено. Хорошо развит орган слуха, ушные раковины большие. Ведут ночной образ жизни, ориентируются в полете с помощью <em>эхолокации.</em> С наступлением холодов впадают в спячку.
    </p>
    <p>
        <em>Отряд Грызуны</em> (мышь, крыса, суслик, бобр, соня, ондатра, нутрия, полевка, хомяк, белка). Обитают на деревьях, в норах и водоемах. В основном растительноядны. Мелкие или средних размеров. На пальцах имеют когти. Развиты защечные мешки. Характерные особенности зубов: <em>клыки отсутствуют </em> (имеется промежуток между резцами и коренными зубами – <em>диастема); резцы не имеют корней,</em> растут в течение всей жизни; эмаль покрывает только переднюю поверхность резцов, задняя покрыта более мягким дентином, благодаря чему происходит их самозатачивание; коренные зубы имеют большую жевательную поверхность. Кишечник длинный, хорошо развита слепая кишка. Для них характерны раннее половое созревание, <em>двойная матка, высокая плодовитость.</em>
    </p>
    <p>
        <em>Отряд Зайцеобразные</em> (заяц, кролик, пищуха). Растительноядные. Особенности: длинные уши и удлиненные задние конечности; передние конечности пятипалые; задние –четырехпалые; <em>сдвоенные верхние резцы;</em> кишечник длинный, хорошо развита слепая кишка со спиральными складками, пища обычно дважды проходит через пищеварительный тракт <em>(копрофагия).</em> Целлюлоза переваривается в слепой или прямой кишке, которые могут быть сильно увеличены. Кролики живут в норах, зайцы не строят убежищ. Зайчиха приносит потомство 2–3 раза в год (по 3–8 зайчат), крольчиха – 5–7 раза в год (по 4–9 крольчат); крольчата рождаются слепыми и голыми, зайчата – зрячими и покрытыми шерстью.
    </p>
    <p>
        <em>Отряд Хищные</em> (медведь, кошка, собака, волк, куница, рысь, тигр, лев, леопард, шакал, лисица, енот, хорек, ласка, горностай, барсук, выдра). Ведут наземный образ жизни, иногда обитают в пресных и морских водоемах. Размеры крупные (до 3 м), масса до 1000 кг. Чаще плотоядные, но есть и всеядные. Имеют длинный, часто пушистый хвост. Четырех, пятипалые конечности с когтями. Особенности зубочелюстной системы: резцы мелкие, коренные зубы бугорчатые, с острыми режущими вершинами, наиболее выражены изогнутые заостренные клыки и <em>хищные (плотоядные) зубы.</em> Хорошо развиты борозды и извилины коры больших полушарий. <em>Ключицы рудиментарные. Матка двурогая,</em> семенники находятся в мошонке. Отряд Хищные включает несколько семейств: Кошачьи (рысь, тигр, лев, леопард, кошка), голова округлая, когти втяжные (за исключением гепарда), из органов чувств наиболее развиты зрение и слух, чаще подкарауливают жертву из засады, прыжком бросаются на нее и убивают; Волчьи (волк, собака, шакал, лисица, енот), морда острая, когти невтяжные; хорошо развито обоняние, настигают добычу гоном; Куньи (куница, хорек, ласка, горностай, барсук, выдра); Медвежьи (белый медведь, бурый медведь, белогрудый медведь).
    </p>
    <p>
        <em>Отряд Ластоногие</em> (настоящий тюлень, ушастый тюлень, морж). Обитают в холодных полярных морях, на сушу и лед выходят только для спаривания, деторождения, отдыха и линьки. Ведут стадный образ жизни. Размеры крупные (1–6 м), масса тела от 20 до 5000 кг. Имеют обтекаемую, веретенообразную форму тела, шея практически не выражена, <em>конечности видоизменены в ласты,</em>  кожа толстая, покрытая жесткой шерстью, толстый слой подкожного жира. Хорошо развит слух, <em>ушные раковины отсутствуют,</em> глаза большие, <em>хрусталик шаровидный</em> (приспособлен для видения в воде), <em>трубчатых костей и ключиц нет. Строение зубов как у хищных зверей,</em> питаются моллюсками, рыбой, ракообразными.
    </p>
    <p>
        <em>Отряд Китообразные</em> (беззубые киты: синий кит, зубатые киты: дельфин, кашалот). Постоянные обитатели морских водоемов. Самые крупные животные (длина тела до 33 м, масса до 150 т). Форма тела обтекаемая, рыбообразная. Голова большая, <em>шея отсутствует. Передние конечности превращены в ласты, задние редуцированы.</em> Имеется хвостовой плавник. Волосяной покров отсутствует, <em>сальных и потовых желез нет.</em> Хорошо развит подкожный слой жира. Головной мозг имеет сложное строение, скелет пропитан жиром. Хорошо развиты органы слуха и зрения (китообразные хорошо видят в воде благодаря <em> плоской роговице и шаровидному хрусталику),</em> обоняние развито слабо, <em>ушные раковины отсутствуют, зубы однородные или отсутствуют.</em> Зубатые китообразные питаются рыбой, проглатывая ее целиком. Беззубые китообразные питаются планктоном, процеживая воду через <em>китовый ус</em> (цедильный аппарат в виде эластичных роговых пластин длиной до 5 м, расположены на верхней челюсти). <em>Одна пара млечных желез.</em> Роды происходят в воде.
    </p>
    <p>
        <em>Отряд Парнокопытные </em> (олень, косуля, корова, свинья, верблюд, олень, лось). Крупные растительноядные животные (до 2–3 м). <em>Ключицы отсутствуют.</em> Характерное строение конечностей: первый палец атрофирован, второй и пятый недоразвиты, наиболее развиты третий и четвертый; количество пальцев четное (1–2 пары). Концевые фаланги пальцев покрыты роговым чехлом – копытом.
    </p>
    <p>
        Парнокопытных подразделяют на два подотряда: Нежвачные и Жвачные.
    </p>
    <p>
        У нежвачных (свинообразные) кожа толстая, без волосяного покрова либо покрыта щетиной, хорошо развит подкожный жировой слой; ноги короткие, клыки большие, постоянно растущие коренные зубы имеют бугорчатую поверхность, есть резцы, <em> желудок простой.</em> Всеядные. Целлюлоза у них переваривается в слепой кишке.
    </p>
    <p>
        У жвачных покрыта шерстью, подкожный жировой слой не развит; есть рога. Клыки нижней челюсти похожи на резцы, на верхней челюсти резцов и клыков нет, вместо них имеется роговая пластинка. Растительноядные. Желудок состоит из четырех отделов: <em>рубец, сетка, книжка</em> (эти отделы образуют преджелудок, в стенках его нет пищеварительных желез), <em>сычуг.</em> Кишечник длинный, хорошо развита слепая кишка. Грубая растительная масса, не измельченная зубами, вместе со слюной попадает в рубец и сетку. В рубце (слабощелочная среда) пища предварительно обрабатывается ферментами слюны, а также подвергается воздействию анаэробных бактерий и инфузорий. Их ферменты расщепляют клетчатку, пектиновые вещества и лигнин; полученные продукты сбраживаются, что создает подходящую ферментативную среду для жизнедеятельности микроорганизмов.
        <div class="row">
            <div class="col-8">
                Также микроорганизмы рубца синтезируют белок. Переваривание растительных волокон облегчается и измельчением в процессе дополнительного жевания. Животное отрыгивает содержимое рубца в ротовую полость и вновь начинает пережевывать («жевать жвачку»). Пища вторично проглатывается и на этот раз попадает сначала в книжку, а затем в сычуг, представляющий собой настоящий желудок (реакция кислая). Вместе с пищей в сычуг попадают и микроорганизмы. Под действием соляной кислоты и пепсина в нем происходит переваривание пищи и микроорганизмов. Это дает некоторое дополнительное количество белка, благодаря чему жвачные практически не нуждаются в белковой пище. Кроме того, жвачные получают от микроорганизмов витамины группы В. Из сычуга пища попадает в кишечник, где происходит окончательное ее переваривание и всасывание.
            </div>
            <div class="col-4 text-center">
                <img src="~/Images/thema28/млекопит пищевая система.png" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </p>
    <p>
        <em>Отряд Непарнокопытные</em> (носорог, осел, зебра, лошадь). Крупные растительноядные животные. Число пальцев на конечностях нечетное, наибольшего развития достигает третий палец, остальные развиты слабо или отсутствуют, Концевые фаланги пальцев покрыты роговыми копытами. <em>Ключицы отсутствуют.</em> Имеют резцы на верхней и нижней челюстях и коренные зубы с широкой складчатой поверхностью. <em>Желудок простой.</em>
    </p>
    <p>
        Отряд Хоботные (африканский и индийский слоны). Наземные животные самых крупных размеров (масса до 5 т). Ведут стадный образ жизни. <em>Волосяной покров отсутствует,</em> ушные раковины большие. Орган осязания, обоняния и хватания <em>–хобот – это сросшиеся нос и верхняя губа.</em> Клыков нет, имеются 4 коренных зуба и <em>бивни (видоизмененные резцы).</em> Под кожей подошвы ног находится эластичная желеобразная масса, делающая походку бесшумной.
    </p>
    <p>
        <em>Отряд Приматы</em> (мартышка, гиббон, лемур, долгопят, павиан, орангутан, горилла, шимпанзе). Древесные либо наземные, средних или небольших размеров. Теплолюбивы. Обитатели тропиков. Ведут дневной образ жизни, живут стадами, реже одиночно. Имеют конечности хватательного типа, 5 хорошо развитых гибких пальцев, <em>большой палец противопоставлен остальным</em> и на передних, и на задних конечностях. Плоские лопатки, наличие ключиц обеспечивают сложные движения передних конечностей. Пища приматов разнообразна, но предпочитают они сочные плоды. Развиты все типы зубов. Зрение бинокулярное, цветовое. Хорошо развит слух и <em>мимическая мускулатура,</em> слабо –органы обоняния. Способны к выражению эмоций. Наиболее высокая степень развития головного мозга. Характерно сложное поведение.
    </p>
    <p class="text-center">
        <strong>Значение млекопитающих.</strong>
    </p>
    <ol type="1">
        <li>Компоненты биогеоценозов и звенья пищевых цепей.</li>
        <li>«Санитары» природы (хищники и падальщики).</li>
        <li>Распространители плодов и семян растений (растительноядные). Некоторые из них – опылители растений (рукокрылые).</li>
        <li>Крупный и мелкий рогатый скот – источник ценных продуктов питания, лошади – транспортное средство, собаки – служебные животные.</li>
        <li>Источниками сырья для промышленности (шерсть, мех, кожа, рога) и фармакологии (сыворотка крови, рога оленей).</li>
        <li>Объекты промысла (ластоногие и грызуны (бобр, белки, ондатра)) и охоты (дикие кабаны, олени, лоси, зайцы).</li>
        <li>Экспериментальные животными (обезьяны, собаки, мыши, крысы, морские свинки).</li>
        <li>Эстетическое значение (кошки, собаки).</li>
        <li>Наносят вред сельскому хозяйству (мышевидные грызуны, хищники), источник ряда опасных заболеваний человека (грызуны, копытные, бродячие собаки).</li>
    </ol>
</div>

