
<div class="container">
    <p><strong>Витамины</strong>  – это низкомолекулярные вещества, обладающие большой биологической активностью и необходимые для жизнедеятельности организмов.</p>
    <p>Заслуга открытия витаминов принадлежит русскому врачу Лунину Н. И. в 1881 г. В 1911-1912 гг. польский ученый К. Функ выделил препарат из отрубей и назвал его витамином.</p>
    <p>Все витамины способны синтезировать большинство высших растений, многие бактерии и дрожжи. Натуральные (естественные) витамины содержатся в продуктах растительного и животного происхождения и, за редким исключением, не синтезируются в организме человека.</p>
    <p>
        <strong>Свойства витаминов и их роль в организме человека:</strong>
        <ol type="1">
            <li>Входят в состав молекул многих ферментов – коферменты – и некоторых физиологически активных веществ;</li>
            <li>Участвуют практически во всех физиолого-биохимических процессах, составляющих в совокупности обмен веществ;</li>
            <li>Являются непрочными соединениями, быстро разрушаются при нагревании пищевых продуктов;</li>
            <li>Действие витаминов проявляется в малых количествах и выражается в регулировании процессов обмена веществ.</li>
        </ol>
    </p>
    <p>Отсутствие витаминов в организме называется <em>авитаминозом,</em> недостаток – <em>гиповитаминозом.</em> Избыточное поступление витаминов в организм – <em>гипервитаминоз</em>  – наблюдается при употреблении синтетических препаратов витаминов. </p>
    <p>Гипервитаминоз А возникает при приеме в пищу продуктов, содержащих большое количество этого витамина (печень морских животных). Из водорастворимых витаминов наиболее токсичен В12 (в больших дозах он вызывает сильные аллергические реакции).</p>
    <p>
        <strong>Способы сохранения витаминов в пищевых продуктах:</strong>
        <ol type="1">
            <li>Консервирование (сохранение продуктов со сравнительно небольшими потерями витаминов); </li>
            <li>Замораживание (оптимальный способ сохранения витаминов; быстрое замораживание должно сочетаться с быстрым размораживанием);</li>
            <li>Квашение овощей и фруктов (в процессе молочнокислого брожения образуется молочная кислота, способствующая сохранению в заквашиваемых продуктах витамина С); </li>
            <li>Вакуумная сушка (проводится в условиях разряжения при температуре не выше 50 °С).</li>
        </ol>
    </p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Название витамина</td>
                <td>Физиологическая роль</td>
                <td>Источники</td>
                <td>Суточная потребность</td>
                <td>Признаки гипо- и авитаминоза</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5"><strong>Жирорастворимые витамины</strong></td>
            </tr>
            <tr>
                <td><strong>Витамин А (ретинол)</strong></td>
                <td>Рост, развитие костной, эпителиальной, нервной ткани, образование зрительного пигмента.</td>
                <td>
                    Сливочное масло, печень, яичный желток, молоко, рыбий жир. В овощах (морковь) содержится провитамин А – каротин (превращается в вит. А в печени).
                </td>
                <td>1,5 мг</td>
                <td>Замедление роста, сухость и помутнение роговицы, нарушение сумеречного зрения (куриная слепота), сухость кожи, снижение сопротивляемости организма заболеваниям.</td>
            </tr>
            <tr>
                <td><strong>Витамин D (антирахитический, кальциферол)</strong></td>
                <td>Регуляция образования костной ткани, обмена кальция и фосфора.</td>
                <td>Сливочное масло, печень трески, яичный желток, рыбий жир. Может образовываться в коже из эргостерина (провитамин D) под действием ультрафиолетовых лучей.</td>
                <td>0,01–0,02 мг</td>
                <td>Дети: <em>развитие рахита</em> (размягчение костей, искривление костей ног, уплощение груди, незарастание родничка, позднее появление зубов); взрослые – ломкость костей <em>(остеомаляция).</em></td>
            </tr>
            <tr>
                <td><strong>Витамин Е (токоферол)</strong></td>
                <td>Защита мембраны клеток и митохондрий от повреждений, участие в окислительно-восстановительных процессах, в обмене белков, сокращении мышц, укрепление стенки сосудов, разрушение свободных радикалов.</td>
                <td>Зеленые листья овощей, орехи, семечки, гречневая крупа, проростки пшеницы, яйца, растительное масло.</td>
                <td>10–12 мг</td>
                <td>Дистрофия скелетных мышц, нарушение половой функции (бесплодие), нарушение зрения у детей.</td>
            </tr>
            <tr>
                <td><strong>Витамин К (филлохинон)</strong></td>
                <td>Участие в свертывании крови.</td>
                <td>Капуста, зеленые томаты, шпинате, ягоды рябины,  печень.</td>
                <td>1 мг</td>
                <td>Замедление свертывания крови, самопроизвольные ровотечения.</td>
            </tr>
            <tr>
                <td colspan="5"><strong>Водорастворимые</strong></td>
            </tr>
            <tr>
                <td><strong>Витамин С (аскорбиновая кислота)</strong></td>
                <td>Участие в окислительно-восстановительных реакциях, синтезе коллагена.</td>
                <td>Черная смородина, лимон, шиповник, клюква, лук, чеснок, картофель.</td>
                <td>50 мг</td>
                <td><em>Цинга</em> (повышенная утомляемость, кровоточивость десен, выпадение зубов, кровоизлияния, снижение иммунитета).</td>
            </tr>
            <tr>
                <td><strong>Витамин В1 (тиамин)</strong></td>
                <td>Регуляции обмена белков, жиров и углеводов.</td>
                <td>Дрожжи, орехи, неочищенный рис, печень, яичный желтк.</td>
                <td>2,5 мг</td>
                <td><em>Бери-бери</em> (поражение нервной системы с параличом конечностей и атрофией мышц).</td>
            </tr>
            <tr>
                <td><strong>Витамин В2 (рибофлавин)</strong></td>
                <td>Регуляция обмена веществ; участие в окислительно-восстановительных реакциях, как кофермент – в развитии эритроцитов, обеспечивая кроветворную функцию организма; в регенерации нервных волокон; в нормализации функции печени.</td>
                <td>Молоко, мясо, печень, яичный белок, фрукты, овощи.</td>
                <td>2,5 мг</td>
                <td>Поражение роговицы, ангулярный стоматит <em>(заеды),</em> замедление роста.</td>
            </tr>
            <tr>
                <td>Витамин B3 (пантотеновая кислота)</td>
                <td>Является коферментом ключевых реакций метаболизма жиров.</td>
                <td>Пчелиное маточное молочко, пивные дрожжи,  печень, яичный желток, гречневая и овсяная крупы, бобовые.</td>
                <td>10–15 мг</td>
                <td>Психоэмоциональная неустойчивость, склонность к обморокам, изменение походки, чувство жжения стоп.</td>
            </tr>
            <tr>
                <td><strong>Витамин В5 (витамин РР, никотиновая кислота)</strong></td>
                <td>Входит в состав ферментов, являющихся катализаторами окислительно-восстановительных реакций, обмена белков и тРНК.</td>
                <td>Печень, мясо, рис, хлеб, картофель.</td>
                <td>10–20 мг</td>
                <td><em>Пеллагра</em> (дерматит (воспаление открытых участков кожи, диарея (понос), деменция (слабоумие)).</td>
            </tr>
            <tr>
                <td><strong>Витамин В6 (пиридоксин)</strong></td>
                <td>Регуляция обмена аминокислот.</td>
                <td>Мясо, молоко, дрожжи, рис, бобы.</td>
                <td>2,5 мг</td>
                <td>Дерматит и неврит.</td>
            </tr>
            <tr>
                <td><strong>Витамин В9 (фолиевая кислота, витамин Вс)</strong></td>
                <td>Участие в обмене белков и нуклеиновых кислот.</td>
                <td>Лиственные овощи (шпинат, салат), печень, мясо, яичный желток.</td>
                <td>0,3–1 мг</td>
                <td>Анемия.</td>
            </tr>
            <tr>
                <td><strong>Витамин В12 (антианемический, цианокобаламин)</strong></td>
                <td>Участие в регуляции обмена белков, жиров и углеводов.</td>
                <td>Печень, мясо, творог, яйца.</td>
                <td>2–3 мкг</td>
                <td>Злокачественная <em>(пернициозная)</em> анемия.</td>
            </tr>
            <tr>
                <td><strong>Витамин Н (биотин)</strong></td>
                <td>Участие в транспорте диоксида углерода, в обмене углеводов и жиров. Синтезируется бактериями кишечника.</td>
                <td>Молоко, яйца, печень, цветная капуста, грибы.</td>
                <td>Заболевания кожи, выпадение волос.</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <a href=@Url.Action("Test39","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>