<div class="container">
    <p>
        <strong>Покрытосеменные (Цветковые)</strong> – наиболее совершенная и обширная группа высших растений. Отдел включает более 500 семейств, 13000 родов и 250000 видов. В РБ насчитывается 112 семейств, 500 родов и 1750 видов.
    </p>
    <p>
        <strong>
            Отличительные признаки отдела Покрытосеменные (Цветковые):
        </strong>
        <ol>
            <li><strong>Наличие цветка</strong> – видоизмененного и ограниченного в росте спороносного побега, приспособленного для семенного размножения.</li>
            <li><strong>Семязачатки (семяпочки)</strong> заключены в полость завязи пестика и тем самым защищены. Пыльца попадает сначала на рыльце пестика, предназначенного именно для улавливания пыльцы.</li>
            <li><strong>Гаметофиты</strong> (женский – <strong>зародышевый мешок,</strong> мужской – <strong>пыльцевое зерно)</strong> утратили гаметангии (антеридии и архегонии). Гаметофит полностью утратил способность к самостоятельному существованию, полностью зависит от спорофита, питается за его счет.</li>
            <li>Характерно половое и <strong>вегетативное размножение.</strong></li>
            <li>
                <strong>Двойное оплодотворение:</strong> 1 спермий сливается с яйцеклеткой с образованием зиготы, из которой развивается зародыш, второй – с центральной клеткой, из которой формируется эндосперм.
            </li>
            <li><strong>Триплоидный эндосперм.</strong></li>
            <li><strong>Семена заключены в плод </strong> и надежно защищены от неблагоприятных условий внешней среды. Плод обеспечивает распространение семян при помощи птиц, млекопитающих, ветра, воды и т.д.</li>
            <li><strong>Спорофит представлен различными жизненными формами:</strong> деревьями, кустарниками, кустарничками, травами. Благодаря этому, они образуют сложные многоярусные <strong>фитоценозы</strong> (растительные сообщества), что способствует более полному использованию ресурсов среды, размещение на определенной территории большого количества видов и жизненных форм, успешному завоеванию и освоению новых территорий.</li>
            <li><strong>Симподиальное ветвление</strong></li>
            <li><strong>Высокоразвитая проводящая система:</strong> только у покрытосеменных растений в состав ксилемы входят сосуды, в состав флоэмы – ситовидные трубки с клетками-спутницами.</li>
            <li><strong>Параллельное развитие с животными-опылителями (коэволюция).</strong> Яркая окраска цветков, душистый аромат, съедобная пыльца и нектар – это средства для привлечения животных-опылителей.</li>
        </ol>
    </p>
</div>
<div class="container">
    <div class="justify-content-center">
        <strong>Сравнительная характеристика классов покрытосеменных растений.</strong>
    </div>
    <div class="container">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Признак</th>
                    <th>Класс Однодольные</th>
                    <th>Класс Двудольные</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Число семядолей в семени</td>
                    <td><strong>Одна семядоля</strong></td>
                    <td><strong>Две семядоли</strong></td>
                </tr>
                <tr>
                    <td>Корневая система</td>
                    <td>Мочковатая (главный корень не выражен)</td>
                    <td>Стержневая (главный корень хорошо выражен)</td>
                </tr>
                <tr>
                    <td>Стебель</td>
                    <td>Травянистый, нет камбия (не растет в толщину), ветвится редко, проводящие пучки расположены хаотично</td>
                    <td>Травянистый или деревянистый, есть камбий (утолщается по мере деления клеток), проводящие пучки расположены кольцом</td>
                </tr>
                <tr>
                    <td>Листья</td>
                    <td>Простые; пластинка цельная, линейной, овальной или ланцетной формы; сидячие или влагалищные; жилкование параллельное или дуговидное</td>
                    <td>Простые или сложные; пластинка цельная или рассеченная; сидячие или черешковые, часто с прилистниками; жилкование сетчатое </td>
                </tr>
                <tr>
                    <td>Цветок</td>
                    <td>Трехчленный, околоцветник простой, чаще само- или ветроопыляемый</td>
                    <td>Чаще пятичленный, околоцветник двойной, чаще насекомоопыляемый</td>
                </tr>
                <tr>
                    <td>Прорастание семян</td>
                    <td>Подземное</td>
                    <td>Надземное</td>
                </tr>
                <tr>
                    <td>Жизненные формы</td>
                    <td>Травянистые многолетние растения, мало однолетних; древовидные формы вторичного происхождения</td>
                    <td>Разнообразные древесные, травянистые (однолетние и многолетние) растения; древовидные формы первичного происхождения</td>
                </tr>
                <tr>
                    <td>Зерновые</td>
                    <td>Пшеница, рожь, ячмень, рис, овес, просо, кукуруза</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Овощные</td>
                    <td>Лук, спаржа, лук-порей, чеснок</td>
                    <td>Горох, картофель, петрушка, огурец, тыква, редис, морковь, репа, редька, капуста, свекла, томат</td>
                </tr>
                <tr>
                    <td>Кормовые</td>
                    <td>Тимофеевка, костер, полевица, мятлик, райграс, ежа сборная</td>
                    <td>Клевер, люцерна, турнепс, брюква, люпин</td>
                </tr>
                <tr>
                    <td>Масличные</td>
                    <td></td>
                    <td>Подсолнечник, рапс, клещевина, горчица</td>
                </tr>
                <tr>
                    <td>Прядильные</td>
                    <td></td>
                    <td>Лен, хлопчатник, конопля</td>
                </tr>
                <tr>
                    <td>Плодовые и плодово-ягодные</td>
                    <td></td>
                    <td>Груша, виноград, яблоня, вишня, слива, алыча, черешня, абрикос, крыжовник, малина, смородина, облепиха, земляника, цитрусовые</td>
                </tr>
                <tr>
                    <td>Сахароносные</td>
                    <td></td>
                    <td>Сахарная свекла</td>
                </tr>
                <tr>
                    <tb>Декоративные</tb>
                    <tb>Лилия, гладиолус, ирис, тюльпан, гиацинт, орхидея</tb>
                    <tb>Роза, хризантема, георгин, астра</tb>
                </tr>
                <tr>
                    <td>Травянистые </td>
                    <td>Майник, полевица, рогоз, мятлик, ландыш, любка, касатик, купена, щучка</td>
                    <td>Земляника, льнянка, яснотка, подорожник, одуванчик, калужница, чистотел, мать-и-мачеха, лапчатка, пастушья сумка, горец, василек, иван-чай, крапива, герань, цикорий, зверобой</td>
                </tr>
                <tr>
                    <td>Лекарственные</td>
                    <td></td>
                    <td>Шиповник, боярышник, рябина, черемуха, лавровишня, лапчатка, пастушья сумка, желтушник, сердечник луговой, термопсис, дрок, солодка, белена, дурман, беладонна, сушеница, девясил, мать-и-мачеха, череда, полынь, пижма, ромашка лекарственная, календула, тысячелистник</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        Растения каждого семейства отличаются признаками: строение цветка и плода, тип соцветий, а также особенности внешнего и внутреннего строения вегетативных органов (корня, стебля, листа).
    </p>
</div>
<div class="container">
    <div class="justify-content-center">
        <strong>Условные обозначения для составления формулы цветка:</strong>
    </div>
    *- цветок правильный;
    <br />
    ↑- цветок неправильный;
    <br />
    О – околоцветник простой;
    <br />
    ( ) – срастание частей цветка;
    <br />
    Ч – чашелистики;
    <br />
    Л – лепестки;
    <br />
    Т – тычинки;
    <br />
    П – пестик;
    <br />
    ∞ - число частей цветка превышает 12.
</div>
<div class="container">
    <div class="justify-content-center">
        <strong>Основные признаки некоторых семейств однодольных и двудольных растений.</strong>
    </div>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Семейство</th>
                <th>Формула цветка</th>
                <th>Типичные соцветия</th>
                <th>Типичные плоды</th>
                <th>Значение и представители</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5"><strong>Класс Однодольные</strong></td>
            </tr>
            <tr>
                <td>Лилейные</td>
                <td>*О3+3Т3+3П1 (правильный, околоцветник простой, имеет 6 свободных или сросшихся лепестков (3 наружных и 3 внутренних), 6 тычинок (по 3 в 2 круга), 1 пестик)</td>
                <td>Зонтик (лук, чеснок), кисть (лилия, ландыш, пролеска)</td>
                <td>Ягода (ландыш), коробочка (тюльпан) </td>
                <td>
                    Овощные: лук, чеснок, спаржа;
                    Лекарственные: ландыш, чеснок, купена, алоэ, вороний глаз;
                    Декоративные: тюльпан, ландыш, лилия, гиацинт
                </td>
            </tr>
            <tr>
                <td>Злаковые (Мятликовые)</td>
                <td>↑О(2)+2Т3П1 (неправильный, околоцветник простой, имеет 2 колосковые и 2 цветковые (пленочные) чешуи, 3 тычинки и 1 пестик с 2 перистыми рыльцами)</td>
                <td>Сложный колос (пшеница), метелка (просо), початок (кукуруза)</td>
                <td>Зерновка</td>
                <td>
                    Хлебные (пшеница, рожь, ячмень, овес);
                    Кормовые (пырей, тимофеевка, мятлик, кукуруза);
                    Лекарственные: кукурузные рыльца, корневище пырея;
                    Сорняки: пырей;
                    Декоративные: овсяница, полевица, мятлик.
                    Сырье для пищевой и химической промышленности (получение спирта, целлюлозы, синтетического каучука).
                </td>
            </tr>
            <tr>
                <td colspan="5"><strong>Класс Двудольные</strong></td>
            </tr>
            <tr>
                <td>Крестоцветные (Капустные)</td>
                <td>*Ч2+2Л4Т2+4П1 (правильный, 4 чашелистика, 4 лепестка, расположенные крест-накрест, 2 короткие и 4 длинные тычинки, 1 пестик)</td>
                <td>Кисть, метелка, щиток</td>
                <td>Стручок (редька, капуста), стручочек, односемянный орешек</td>
                <td>Овощные: капуста, редис, редька, хрен, репа; Кормовые: брюква, турнепс; Масличные: рапс, горчица; Лекарственные: пастушья сумка, желтушник, сердечник луговой; Декоративные: левкой, маттиола; Сорняки: сурепка, редька дикая, ярутка полевая. Многие крестоцветные – медоносы.</td>
            </tr>
            <tr>
                <td>Розоцветные (Розовые)</td>
                <td>*Ч5Л5Т∞П1 или ∞ (правильный, 5 чашелистиков, 5 лепестков, много тычинок, 1 (слива, вишня) или много (шиповник, малина) пестиков)</td>
                <td>Кисть (черемуха), щиток (рябина, груша), простой зонтик (яблоня, вишня)</td>
                <td>Яблоко (яблоня, груша, боярышник), костянка (вишня), сборная костянка (малина), орешек (лапчатка)</td>
                <td>
                    Плодово-ягодные культуры: яблоня, груша, слива, миндаль, вишня, малина, земляника;
                    Лекарственные: шиповник, рябина, черемуха, боярышник, лавровишня, лапчатка;
                    Декоративные: роза, черемуха, гравилат.
                    Эфирные масла роз используются в парфюмерной промышленности
                </td>
            </tr>
            <tr>
                <td>Бобовые (Мотыльковые)</td>
                <td>↑Ч(5)Л(2),2,1Т(9)+1П1 (неправильный, 5 сросшихся чашелистиков, венчик из 5 лепестков: верхний (парус), 2 боковых (весла), 2 сросшихся нижних (лодочка), 1 пестик, окруженный 10 тычинками: 9 сросшихся, 1 свободная)</td>
                <td>Головка (клевер), кисть (люпин)</td>
                <td>Боб</td>
                <td>
                    Овощные: горох, фасоль, соя, арахис, бобы, чечевица;
                    Кормовые: клевер, люпин, люцерна, чина, вика;
                    Масличные: арахис, соя;
                    Лекарственные: донник, солодка, софора, термопсис, дрок;
                    Медоносы (донник);
                    Декоративные: акация, душистый горошек, цветная фасоль, люпин.
                    Корни бобовых растений + клубеньковые бактерии – пример мутуализма.
                    Бобовые - важный источник растительных белков для человека. Семена сои и арахиса содержат значительный процент жира.
                </td>
            </tr>
            <tr>
                <td>Пасленовые</td>
                <td>*Ч(5)Л(5)Т5П1 (правильный, 5 сросшихся чашелистиков, 5 сросшихся лепестков, 5 тычинок, приросших к лепесткам и 1 пестик)</td>
                <td>Кисть, завиток</td>
                <td>Ягода (томат, картофель, паслен), коробочка (табак, петуния, белена)</td>
                <td>
                    Овощные: картофель, перец, баклажан, томат;
                    Лекарственные: паслен, белена, дурман, белладонна (последние 3 ядовиты);
                    Декоративные: петуния, душистый табак;
                    Из никотина табака получают никотиновую кислоту.
                </td>
            </tr>
            <tr>
                <td>Сложноцветные (Астроцветные)</td>
                <td>*Ч()Л5Т(5)П1<sup>1</sup></td>
            </tr>
        </tbody>
    </table >
</div>
<div class="container">
    <div class="justify-content-center">
        <strong><sup>1</sup>Виды цветков по форме венчика:</strong>
    </div>
    <ol type="1">
        <li><em>Трубчатый</em> (ромашка, бодяк). 5 сросшихся лепестков венчика образуют длинную трубочку; чашечка представлена волосками или щетинками, прирастающими к завязи, пыльники пяти тычинок срастаются в общую трубочку, а свободные их нити прикрепляются к трубке венчика; в центре находится пестик с раздвоенным рыльцем.</li>
        <li><em>Воронковидный</em> (краевые цветки у василька). Венчик имеет вид косо срезанной воронки с краевыми зубчиками; тычинки и пестик отсутствуют, цветки служат для привлечения насекомых.</li>
        <li><em>Язычковый настоящий</em> (одуванчик, осот). Венчик спайнолепестной в виде язычка с 5 зубчиками по краю (по количеству лепестков); 5 тычинок окружают 1 пестик.</li>
        <li><em>Ложноязычковый</em> (краевые цветки у корзинки подсолнечника и ромашки): венчик имеет вид язычка с 3 зубчиками (по числу лепестков); тычинки всегда отсутствуют, могут иметь пестик, тогда могут образовывать плоды. </li>
    </ol>
</div>