<div class="container">
    <p>В 1911–1912 гг. Т. Морган и сотрудники проверили проявление третьего закона Менделя, проводя опыты на мухах дрозофилах.</p>
    <p>
        <strong>Преимущества плодовой мухи дрозофилы как объекта для генетических исследований:</strong>
        <ol type="1">
            <li>Небольшое число хромосом (8);</li>
            <li>Большое число потомков;</li>
            <li>Быстрая смена поколений;</li>
            <li>Раннее половое созревание;</li>
            <li>Возможность применить гибридологический метод.</li>
        </ol>
    </p>
    <h3 class="text-center><strong>Генетическая запись опытов Т. Моргана.</strong></h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Опыт 1. <em>Скрещивание дигомозиготных особей с серым телом и длинными крыльями с особями с черным телом и короткими крыльями.</em></strong></p>
                <p>Получено единообразие гибридов первого поколения (подтвердился первый закон Менделя).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema50/опыт 1.png" class="rounded" width="100%" height="100%" alt="опыт 1" />
            </div>
        </div>
        <div class="row">
            <p><strong>Опыт 2. <em>Анализирующее скрещивание дигетерозиготного самца.</em></strong></p>
            <p>При свободном комбинировании генов, согласно третьему закону Менделя, в поколении должны были бы появиться в равном количестве 1:1:1:1 (по 25%) мухи четырех разных фенотипов, а получили два фенотипа по 50% (третий закон Менделя не выполнился). </p>
            <div class="col">
                <p>Морган пришел к выводу, что поскольку у организмов генов много, а хромосом относительно мало, то гены, определяющие цвет тела и длину крыльев расположены в одной паре гомологичных хромосом и наследуются вместе. </p>
                <p>Таким образом, Морган открыл явление <strong>сцепления генов</strong> (закон Моргана) – совместное наследование признаков, за которые отвечают гены, расположенные в одной паре гомологичных хромосом. <strong>Совокупность всех генов одной пары гомологичных хромосом образуют группу сцепления.</strong></p>
            </div>
            <div class="col">
                <img src="~/Images/thema50/опыт 2.png" class="rounded" width="100%" height="100%" alt="опыт 2" />
            </div>
        </div>
        <div class="row">
            <p><strong>Опыт 3. <em>Анализирующее скрещивание дигетерозиготной самки.</em></strong></p>
            <p>Ожидаемый результат, согласно закону Моргана – 1:1, согласно законам Менделя – 1:1:1:1.</p>
            <div class="col">
                <p>Получено 4 типа потомков: 2 типа потомков (83%) с признаками родителей (41,5% особей с серым телом и длинными крыльями, 41,5% с черным телом и короткими крыльями и 2 типа потомков (17%) с новым сочетанием признаков (8,5% мух с серым телом и короткими крыльями и 8,5% мух с черным телом и длинными крыльями).</p>
                <p>Наблюдалось частичное выполнение третьего закона Менделя (комбинирование родительских признаков у потомков было, но оно не было независимым). Сцепление генов также было неполным, т.е. оно было нарушено (в 17% случаях наблюдалось комбинирование признаков).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema50/опыт 3.png" class="rounded" width="100%" height="100%" alt="опыт 3" />
            </div>
            <p>Таким образом, Морган сделал вывод, что у самки мухи дрозофилы, в отличие от самца, происходит процесс, который нарушает сцепление генов и способствует перекомбинации генетического материала.</p>
        </div>
    </div>
    <p><strong>Неполное сцепление генов</strong> – тенденция к совместному наследованию признаков, за которые отвечают гены, расположенные в одной паре гомологичных хромосом (совместное наследование признаков происходит не в 100% случаев. При полном сцеплении генов признаки наследуются совместно в 100% случаев. </p>
    <p>В последующем было установлено, что у дигетерозиготной самки мухи дрозофилы образуется 4 типа гамет вследствие явления кроссинговера.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Кроссинговер</strong>  – образование перекреста и обмен одинаковыми участками несестринских хромосом (профаза мейоза I).</p>
                <p><strong>N.B.!!!</strong> Кроссинговер происходит у большинства растений и животных, кроме самца мухи дрозофилы и самки тутового шелкопряда. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema50/Кроссинговер.png" alt="Кроссинговер" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>Если в гамету попадает хроматида, принимавшая участие в кроссинговере, то гамета называется <em>кроссоверной;</em> если в гамету попадает хроматида, не принимавшая участие в кроссинговере, то гамета называется <em>некроссоверной.</em></p>
    <p>При сцепленном наследовании максимальная величина кроссинговера не превышает 50%.</p>
    <p>Биологической значение кроссинговера: является механизмом возникновения комбинативной изменчивости, которая дает материал для отбораи способствует адаптации особей вида к изменяющимся условиям окружающей среды.</p>
    <p>Зная расстояние между генами, можно картировать хромосомы. </p>
    <p><strong>Генетическая карта хромосомы.</strong> Представляет собой отрезок прямой, на котором схематично обозначен порядок расположения генов и указано расстояние между ними в морганидах. Генетическая карта строится на основе результатов анализирующего скрещивания.</p>
    <p><strong>Цитологическая карта хромосомы.</strong> Отражение морфологической структуры хромосомы: фотография или точный рисунок хромосомы, на котором отмечается последовательность расположения генов. Цитологическая карта строится на основе сопоставления результатов анализирующего скрещивания и хромосомных перестроек. Такие карты построены для гигантских (политенных) хромосом мух дрозофил.</p>
    <h3 class="text-center"><strong>Хромосомная теория наследственности.</strong></h3>
    <ol type="1">
        <li>Гены расположены в хромосомах линейно в определенных локусах (участках). Аллельные гены занимают одинаковые локусы в гомологичных хромосомах.</li>
        <li>Гены одной пары гомологичных хромосом образуют группу сцепления; число их равно гаплоидному набору хромосом.</li>
        <li>Между гомологичными хромосомами возможен обмен аллельными генами (кроссинговер).</li>
        <li>Расстояние между генами пропорционально проценту кроссинговера между ними и выражается в морганидах (1 морганида равна 1% кроссинговера).</li>
    </ol>
</div>

<div class="container">
    <a href=@Url.Action("Test50","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>