<div class="container">
    <p><strong>Высшая нервная деятельность</strong> – это совокупность условных рефлексов, которые лежат в основе поведения высокоорганизованных животных и человека и позволяют им лучше приспосабливаться к условиям окружающей среды.</p>
    <p>В 1863 г. русский физиолог И.М. Сеченов в работе «Рефлексы головного мозга» описал разнообразные сложные формы поведения и психику животных и человека с точки зрения рефлекторной теории как проявление одних рефлексов и торможение других. Позднее русский физиолог И.П. Павлов развил учение И.М. Сеченова и создал учение о физиологии высшей нервной деятельности человека и животных. Он считал, что высшая нервная деятельность – это деятельность коры больших полушарий, которая является материальной основой условных рефлексов. Кора больших полушарий, собирая информацию от всех сенсорных и двигательных систем, осуществляет анализ и становится аппаратом тонкой условно-рефлекторной деятельности и органом психической деятельности, сознательного мышления.</p>
    <p class="text-center"><strong>Условные и безусловные рефлексы.</strong></p>
    <p><em>Безусловный рефлекс</em> – это врожденная реакция организма, сложившаяся в процессе эволюции и передающаяся по наследству (чихание, сосание, кашель, пищевые, половые).</p>
    <p><em>Условный рефлекс</em> – это рефлекс, приобретаемый в течение жизни на базе безусловных рефлексов под влиянием определенных факторов внешней среды (слюноотделение на свет, слово)</p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Безусловные рефлексы</td>
                <td>Условные рефлексы</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Врожденные, сформированы к моменту рождения</td>
                <td>Приобретенные, образуются в течение всей жизни</td>
            </tr>
            <tr>
                <td>Видовые</td>
                <td>Индивидуальные</td>
            </tr>
            <tr>
                <td>
                    Относительно постоянны (стойки и неизменны в течение всей жизни)
                </td>
                <td>Непостоянны (одни исчезают, другие появляются)</td>
            </tr>
            <tr>
                <td>Уровень замыкания: спинной мозг, ствол и подкорковые ядра головного мозга</td>
                <td>Уровень замыкания: кора больших полушарий</td>
            </tr>
            <tr>
                <td>Обеспечивают жизнедеятельность и оборонительные реакции</td>
                <td>Адаптация организма к изменяющимся условиям внешней среды</td>
            </tr>
        </tbody>
    </table>
    <p class="text-center">
        <strong>Условия формирования условных рефлексов:</strong>
        <ol type="1">
            <li>Бодрствующее состояние коры;</li>
            <li>Отсутствие отвлекающих раздражителей;</li>
            <li>Сочетание условного и безусловного раздражителей;</li>
            <li>Действие условного раздражителя должно совпадать во времени с действием безусловного, но несколько предшествовать ему;</li>
            <li>Действие условного раздражителя должно многократно сочетаться с действием безусловного раздражителя.</li>
        </ol>
    </p>
    <p class="text-center">
        <strong>Опыты И.П. Павлова.</strong>
    </p>
    <p><em>Цель:</em> выработать условный рефлекс (выделение слюны на включение света).</p>
    <p><em>Принципы проведения:</em></p>
    <ol type="1">
        <li>Объект опытов – собаки;</li>
        <li>Условный раздражитель (безразличный для жизнедеятельности) – свет;</li>
        <li>Безусловный раздражитель (важный для жизнедеятельности) – пища;</li>
        <li>Безусловный рефлекс – выделение слюны при попадании пищи в ротовую полость.</li>
    </ol>
    <p><em>Механизм образования:</em> установление временной функциональной связи между двумя очагами возбуждения, соответствующими безусловному и условному раздражителям.</p>
    <p>При действии условного раздражителя (свет) возникает ориентировочный рефлекс: возбуждаются фоторецепторы сетчатки глаза, и в них образуются нервные импульсы, которые по центростремительным (чувствительным) нервным волокнам достигают затылочной доли коры больших полушарий, где находится центральный отдел зрительного анализатора. Возникает очаг возбуждения № 1 – собака ждет, что последует дальше.</p>
    <p>При действии безусловного раздражителя (попадание пищи в ротовую полость) проявляется безусловный рефлекс: возбуждаются вкусовые рецепторы, в них образуются нервные импульсы, которые по центростремительным (чувствительным) нервным волокнам достигают височной доли коры больших полушарий, где находится центральный отдел вкусового анализатора. Возникает более сильный очаг возбуждения № 2. </p>
    <p>Импульсы, исходящие от него, поступают в продолговатый мозг, где находится центр слюноотделения, и активируют его. От этого центра импульсы по центробежным (двигательным) нервным волокнам достигают слюнных желез, и они выделяют слюну.</p>
    <p>После нескольких сочетаний условного и безусловного раздражителей в коре головного мозга возникает временная функциональная связь между очагами возбуждения № 1 и № 2, и при многократном повторении она становится прочной. Благодаря такой связи действие только условного раздражителя (без подкрепления безусловным) вызывает возникновение реакции организма, соответствующей безусловному рефлексу. При включении света возбуждаются фоторецепторы сетчатки глаза, и в них образуются нервные импульсы, которые по центростремительным (чувствительным) нервным волокнам достигают затылочной доли коры больших полушарий, где возникает очаг возбуждения № 1. Между ним и очагом возбуждения № 2 возникает временная функциональная связь. Затем импульсы от очага возбуждения № 2 достигают продолговатого мозга, где находится центр слюноотделения, и активируют его. Отсюда импульсы по центробежным (двигательным) нервным волокнам поступают в слюнные железы, и те выделяют слюну. Образуется условный рефлекс – выделение слюны на включение света.</p>
    <p>Важным средством формирования условно-рефлекторной деятельности является <strong>доминанта</strong> (устойчивый очаг возбуждения). Она способна изменять (подавлять) работу других очагов возбуждения. Доминанта определяет поведение человека, делает его активным и творческим. Учение о доминанте разработал в 1923 г. русский физиолог А.А. Ухтомский.</p>
    <p><strong>Динамический стереотип</strong> - система осуществления отдельных условных рефлексов (реакции коры больших полушарий головного мозга), основанная на его способности обеспечивать точность и своевременность ответной реакции организма на привычные, повторяющиеся в определенной последовательности раздражители. Привычки человека, распорядок дня являются проявлением стереотипа.</p>
    <p><strong>Торможение</strong> – это процессы, приводящие к ослаблению или прекращению возбуждения в центральной нервной системе.</p>
    <p>
        <strong>Виды торможения:</strong>
        <ol type="1">
            <li><em>Внешнее торможение</em> развивается в результате действия нового внешнего относительно сильного раздражителя, который приводит к возникновению нового очага возбуждения в коре (выработанный у животного условный рефлекс (слюноотделение на свет) не проявляется при внезапном шуме). Развивается быстро. </li>
            <li>
                <em>Внутреннее торможение.</em>
                <ol type="a">
                    <li>Угасание. Развивается постепенно при отсутствии подкрепления условного раздражителя безусловным (если выработанный слюноотделительный рефлекс на свет не подкреплять кормлением, то рефлекс начнет угасать и исчезнет (разрушится временная функциональная связь между двумя центрами). </li>
                    <li>Дифференцировка. Возникает только на подкрепляемый раздражитель (если один из условных раздражителей (удары метронома с частотой 60 раз в минуту) подкреплять безусловным раздражителем, а другой, близкий к нему (удары метронома с частотой 100 раз в минуту), не подкреплять, то условный рефлекс возникает только на подкрепляемый раздражитель.</li>
                </ol>
            </li>
            <li><em>Запредельное (охранительное) торможение.</em> При действии чрезмерно сильного раздражителя в коре возникает не возбуждение, а торможение, предохраняющее нервные клетки от гибели.</li>
        </ol>
    </p>
    <p><strong>Интегративная деятельность мозга – как основа сознания, внимания, памяти.</strong></p>
    <p><strong>Сознание</strong> – высшая функция человеческого мозга, сущность которой заключается в отражении действительности и направленном регулировании взаимоотношений личности с окружающим миром.</p>
    <p>Сознание – это знание, которое в абстрактной форме может быть передано другим людям. Оно возникло на основе потребности к общению, передаче знаний.</p>
    <p>В понятие сознания включаются познавательные процессы, с помощью которых человек постоянно пополняет, обогащает свои знания: ощущение, восприятие, память и мышление.</p>
    <p><strong>Ощущение</strong> – это отражение мозгом предметов и явлений при воздействии их на рецепторы органов чувств. В нем отражаются только отдельные признаки, свойства и качества предметов. </p>
    <p><strong>Восприятие</strong> – это определяемый внешними причинами процесс познания, в котором явления окружающего мира отражаются в виде ощущений, образов или словесных символов и формируются целостные представления о данном предмете. Восприятие заключается в интеграции и сопоставлении полученной информации (в виде ощущений) с той, которая была накоплена ранее и представляет собой определенный жизненный опыт.</p>
    <p><strong>Внимание</strong> – состояние психики, выраженное в сосредоточенности на чем-либо. </p>
    <p><strong>Память</strong> – это накопление, хранение и воспроизведение прошлого опыта.</p>
    <p>
        <strong>Виды памяти:</strong>
        <ol type="1">
            <li><em>Эмоциональная</em> (сохранение пережитых человеком чувства) – развита у всех людей;</li>
            <li><em>Смысловая</em> (запоминание, сохранение и воспроизведение прочитанных, услышанных и произнесенных слов) – развита у актеров, певцов;</li>
            <li><em>Образная</em> (запоминание зрительных и звуковых образов) – развита у музыкантов, писателей и художников;</li>
            <li><em>Двигательная</em> (запоминание и воспроизведение движений) – развита у спортсменов, танцоров.</li>
        </ol>
    </p>
    <p>
        <strong>Классификация видов памяти в зависимости от времени хранения полученной информации:</strong>
        <ol type="1">
            <li><em>Кратковременная</em> – информация хранится в течение нескольких секунд, что дает возможность запомнить очень небольшой объем информации (2–3 предложения);</li>
            <li><em>Промежуточная</em> – информация хранится несколько минут или часов. Запечатлеваются важные события, происходившие в последнее время;</li>
            <li><em>Долговременная</em> – информация может храниться всю жизнь.</li>
        </ol>
    </p>
    <p>
        На основе долговременной памяти возможно <em>научение.</em> Адаптивное изменение индивидуального поведения в результате предшествующего опыта (научение) подразделяют на несколько видов: метод проб и ошибок, запечатление (импринтинг), привыкание, подражание, мышление. Память является основой мышления.
    </p>
    <p>
        <strong>Мышление</strong> – это способность человека с помощью слов и образов представить и выразить свое отношение к предметам и явлениям, а также различным состояниям своего организма. Физиологическим аппаратом мышления является формирование временных функциональных связей.
    </p>
    <p>
        <strong>Виды мышления:</strong>
        <ol type="1">
            <li><em>Словесно-логическое (абстрактное) мышление</em> – способность мыслить путем отвлеченных (абстрактных) понятий. Позволяет устанавливать общие закономерности, определяющие развитие природы и общества, самого человека. Благодаря этому виду мышления человеку удается наиболее обобщенно решать мыслительные задачи;</li>
            <li><em>Наглядно-образное (конкретное) мышление</em> характеризуется тем, что содержание мыслительной задачи основано на конкретных ощущениях и образах. Человек, решая задачу, анализирует, сравнивает, стремится обобщить различные образы предметов, явлений, событий.</li>
        </ol>
    </p>
    <p>
        Левое полушарие головного мозга обеспечивает словесно-логическое (обрабатывает информацию аналитически и последовательно), а правое – наглядно-образное мышление (обрабатывает информацию одновременно и целостно). Абстрактное мышление характерно только для человека. Оно позволяет ему развивать свои способности, науку, создавать культурные ценности, активно преобразовывать окружающую среду и общаться с другими людьми с помощью речи.
    </p>
    <p>
        <strong>Речь</strong> регулируется левым полушарием головного мозга. Большей частью речевые функции локализованы в височной доле, где находятся зоны, ответственные за обработку звуковой информации и понимание смысла речи. В лобной доле расположены двигательные центры речи, связанные с произношением слов.
    </p>
    <p>
        <strong>Виды речи:</strong>
        <ol type="1">
            <li><em>Внешняя</em> – устная (диалогическая и монологическая) и письменная;</li>
            <li><em>Внутренняя</em> – разговор человека с самим собой.</li>
        </ol>
    </p>
    <p>
        <strong>Функции речи:</strong>
        <ol type="1">
            <li><em>Коммуникативная.</em> Язык слов выступает как средство общения между людьми.</li>
            <li><em>Семантическая.</em> Язык слов является средством выражения мыслей, их образования и развития. </li>
        </ol>
    </p>
    <p>
        <strong>Функции речи:</strong>
        <ol type="1">
            <li><em>Коммуникативная.</em> Язык слов выступает как средство общения между людьми.</li>
            <li><em>Семантическая.</em> Язык слов является средством выражения мыслей, их образования и развития. </li>
        </ol>
    </p>
    <p><strong>Значение слова.</strong></p>
    <p><strong>Сигнальная система</strong> – совокупность процессов, происходящих в нервной системе и осуществляющих восприятие и анализ информации, а также формирование ответной реакции организма.</p>
    <p><em>Первая сигнальная система.</em> Характерна для животных и человека. Центры находятся в коре головного мозга. Воспринимает конкретные раздражители (сигналы) внешнего мира (предметы или явления), обеспечивает конкретное (наглядно-образное) мышление и является основой для образования условных рефлексов.</p>
    <p>Человек в раннем возрасте может научиться воспринимать информацию в виде символов, например, букв и слов. Они дают ему представление о внешнем мире, обеспечивают возможность общения между людьми и накопление знаний в различных областях. Слово (условный раздражитель) стало для человека <em>второй сигнальной системой</em> (она существует только у человека). На основе слова возникает возбуждение, воспринимаемое и перерабатываемое корой переднего мозга. Слова являются сигналами для работы первой сигнальной системы («сигналы сигналов» по И.П. Павлову).</p>
    <p>У животных также можно выработать условные рефлексы на слова (например, собака выполняет приказы хозяина), но для них слова – это просто звуковые раздражители (смысла слов они не понимают). Слова и речь обеспечили человеку сознание и мышление.</p>
    <p><strong>Сон и его значение.</strong></p>
    <p><strong>Сон</strong> – это своеобразное состояние центральной нервной системы, характеризующееся выключением сознания, угнетением двигательной активности, обменных процессов, снижением всех видов чувствительности. Во время сна заторможены условные рефлексы и значительно ослаблены безусловные.</p>
    <p><strong>Сон</strong> – физиологическое явление (глубокое охранительное торможение), предотвращающее переутомление и гибель нервных клеток. Процесс торможения частично охватывает большие полушария, средний и промежуточный мозг. Во время сна падает активность многих физиологических процессов, но продолжают свою деятельность стволовые отделы, обеспечивающие кровообращение, дыхание и другие процессы. Изучению сновидений посвящены работы австрийского врача-психиатра и психолога З. Фрейда.</p>
    <p>Сон – сложное циклическое явление. Обычно он состоит из 5–6 циклов, закономерно сменяющих друг друга. Длительность цикла – 1,5 ч.</p>
    <p>
        <strong>Фазы сна:</strong>
        <ol type="1">
            <li><em>Фаза медленного сна</em> (50–70 мин). Начинается сразу после засыпания. Физиологические эффекты: урежение дыхания, пульса, расслабление мышц, снижение температуры тела, уровня обменных процессов, высокоамплитудный медленный ритм активности головного мозга (парасимпатическая иннервация). Сновидения неяркие. Проявлениями психических процессов в эту фазу сна могут быть разговоры во сне и лунатизм. </li>
            <li><em>Фаза быстрого (парадоксального) сна</em> (10–15 мин, к утру увеличивается до 20–25 мин.). Физиологические эффекты: частое, глубокое дыхание, усиливается работа сердца, ускоряются реакции обмена веществ, появляются сокращения отдельных групп мышц, высокочастотные ритмы активности головного мозга, сходные с ритмами бодрствующего мозга (симпатическая иннервация). Сновидения яркие, реалистичные со зрительными, звуковыми и обонятельными образами.</li>
        </ol>
    </p>
    <p>
        <strong>Теории сна:</strong>
        <ol type="1">
            <li><em>Теория нервных центров</em> – объясняет чередование бодрствования и сна сменой активности подкорковых центров (передние ядра гипоталамуса – центры сна, задние ядра – центры бодрствования);</li>
            <li><em>Кортикальная</em> – сон наступает в результате распространения по коре процесса торможения.</li>
        </ol>
    </p>
    <p><strong>Человек – личность.</strong></p>
    <p><strong>Индивид</strong> – это отдельный человек, личность с совокупностью свойств и особенностей, отличающих его от других людей.</p>
    <p><strong>Личность</strong> – это индивид, который имеет активную жизненную позицию, принимает осознанные решения и несет за них ответственность, управляет своим развитием и поведением.</p>
    <p>
        <strong>Характеристики личности:</strong>
        <ol type="1">
            <li><em>Активность</em> –  стремление выходить за пределы собственных возможностей, расширять сферу своей деятельности.</li>
            <li><em>Направленность</em> – система побуждений (интересов, убеждений, идеалов, вкусов), в которых проявляются потребности человека, определяющие его сознание и поведение.</li>
        </ol>
    </p>
    <p>Потребности нашего организма в пище, воде, продолжении рода и другие называются органическими (они есть и у животных), а потребности, связанные с развитием личности, – духовными.</p>
    <p>Возникшие потребности побуждают личность к активному поиску путей их удовлетворения, становятся внутренними направляющими его деятельности – мотивами.</p>
    <p>Потребности лежат в основе <em>интересов.</em>  Интерес заставляет действовать в определенном направлении, выступает в качестве мотива.</p>
    <p><strong>Самосознание личности</strong> – собственный образ себя, выступающий как установка по отношению к самому себе.</p>
    <p>
        <strong>Компоненты самосознания:</strong>
        <ol type="1">
            <li><em>Когнитивный</em> – образ своих качеств, способностей, внешности, социальной значимости;</li>
            <li><em>Эмоциональный</em> – самоуважение, себялюбие, самоуничижение;</li>
            <li><em>Оценочно-волевой</em> – стремление повысить самооценку, завоевать уважение.</li>
        </ol>
    </p>
    <p>
        Фазы становления личности в процессе вхождения индивида в новую социальную среду:
        <ol type="1">
            <li><em>Адаптация</em> – усвоение действующих ценностей и норм и овладение соответствующими средствами и формами деятельности (т. е. уподобление индивида другим членам той же общности). На последнем этапе этой фазы у человека формируется способность различать главное и второстепенное;</li>
            <li>
                <em>Индивидуализация</em> – стремление человека к максимальной персонализации, т. е. к мобилизации всех ресурсов для утверждения себя в качестве достойного и уважаемого всеми члена общества. Осуществление этой фазы невозможно без самоактуализации и творчества.
                <div class="container">
                    <p><strong>Самоактуализация</strong> – главный стимул развития личности, стремление человека к возможно более полному проявлению и развитию своих личностных возможностей.</p>
                    <p><strong>Творчество</strong> – деятельность, которая дает новые, впервые создаваемые оригинальные продукты (открытие новых закономерностей в науке, технические изобретения, создание произведений искусства);</p>
                </div>
            </li>
            <li>
                <em>Интеграция</em> – это процесс, при котором новое, вносимое личностью в деятельность группы людей, принимается и в результате ее статус в этой группе повышается. Если новое, вносимое личностью, обществом не принимается и статус личности в группе понижается, происходит дезинтеграция и изоляция личности. Если же личность не предпринимает никаких попыток для своего становления, наступает ее деградация.
            </li>
        </ol>
    </p>
    <p><strong>Индивидуальность</strong> – это сочетание особенностей индивида, которые делают его отличным от других людей и проявляются в своеобразии психики, темперамента и характера.</p>
    <p><strong>Интеллект</strong> – это способность мышления, познания, умение ставить проблемы и решать их.</p>
    <p><strong>Психологический возраст</strong> – это определенная качественная ступень развития индивида, характеризующаяся анатомо-физиологическими изменениями сознания. </p>
    <p>
        <strong>Этапы психического развития:</strong>
        <ol type="1">
            <li>Новорожденный – первые 10 суток;</li>
            <li>Младенческий – до 1 года;</li>
            <li>Преддошкольный (ясельный) – 2–3 года;</li>
            <li>Дошкольный – 3–6 лет;</li>
            <li>Младший школьный – 6–10 лет;</li>
            <li>Подростковый – 11–16 лет;</li>
            <li>Первый период юности – 16–17 лет;</li>
            <li>Второй период юности – 18–22 года;</li>
            <li>Первый период зрелости – 22–35 лет;</li>
            <li>Второй период зрелости – 35–60 лет;</li>
            <li>Пожилой возраст – 60–75 лет;</li>
            <li>Старческий возраст – 75–90 лет;</li>
            <li>Долгожители – более 90 лет.</li>
        </ol>
    </p>
    <p><strong>Сенситивные периоды развития</strong> – это возрастные периоды, во время которых условия для формирования определенных свойств психики становятся наиболее благоприятными (например, сенситивный период развития речи – от года до шести лет). Если сенситивный период упущен и навык не развит, то в дальнейшем соответствующее качество развивается с трудом.</p>
</div>
<div class="container">
    <a href=@Url.Action("Test32","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>
