<h3 class="text-center">
    <em>
        <u>
            Отдел Голосеменные: общая характеристика, основные представители, чередование поколений. Значение голосеменных в природе и жизни человека.
        </u>
    </em>
</h3>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Характерные черты голосеменных:</strong>
    <ol>
        <li>Моноподиальный тип ветвления;</li>
        <li>Развивается пыльцевая трубка;</li>
        <li>Размножение семенами;</li>
        <li>Не образует цветов и плодов;</li>
        <li>Редукция гаметофита, нет антеридиев;</li>
        <li>Дальнейшее усиление роли спорофита;</li>
        <li>Появление семязачатка (семяпочки).</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Особенности семян:</strong>
    <ol>
        <li>Опыление ветром (анемофилия);</li>
        <li>Оплодотворение без участия воды;</li>
        <li>В оплодотворении участвует 1 спермий (у покрытосеменных – 2);</li>
        <li>Эндосперм формируется до оплодотворения (у покрытосеменных – после).</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Представители:<em>ель, сосна, тисс, кипарис, секвойя (красная древесина), туя, пихта, лиственница. Пихта белая – единственный представитель отдела Голосеменные в Красной книге РБ.</em></u></strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Отдел насчитывает около 650 видов.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Среда обитания:</strong> широко распространены по всему земному шару. В умеренных широтах Северного полушария образуют хвойные леса (тайга).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Жизненные формы:</strong> древесные растения, кустарники (можжевельник), очень редко лианы, трав нет.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;В современном мире существует 4 класса отдела Голосеменные: Хвойные, Саговниковые, Гингковые и Гнетовые. Большинство видов относится к классу Хвойные. Большинство растений вечнозеленые, редко листопадные (лиственница).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Сосна обыкновенная</strong> – светолюбивое растение, неприхотлива к почве. Может расти на песке, на болотах, на скалах.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ель европейская</strong> – теневыносливое растение, предпочитает влажные, хорошо удобренные почвы, корневая система поверхностная.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Морфологическая характеристика отдела Голосеменные.</strong>  Стебель, прямостоячий, с моноподиальным типом ветвления, представлен <strong>корой, камбием, древесиной и слаборазвитой сердцевиной.</strong> В коре и древесине имеются смоляные ходы, заполненные эфирными маслами и смолой (живицей), которые окружены клетками паренхимы. <strong>Живица</strong> – это смесь твердых (канифоль) и жидких веществ, образующихся в стебле хвойных растений.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Функции живицы:</strong>
    <ol>
        <li>Защищает растение от проникновения микроорганизмов и насекомых.</li>
        <li>Пропитывает стенки трахеид и повышает устойчивость растения к гниению.</li>
        <li>Застывшая в бескислородных условиях живица превращается в янтарь. </li>
        <li>Летучие вещества (фитонциды) обладают бактерицидным (обеззараживающим) действием.</li>
        <li>Сырье для получения скипидара, канифоли, лаков, взрывчатых веществ, нитроглицерина (сердечное лекарство).</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Проводящая система представлена:</strong> ситовидными клетками флоэмы и трахеидами древесины. Особенности древесины: мало основной ткани, 90% древесины приходится на долю проводящей ткани, <strong>ДРЕВЕСИННЫХ ВОЛОКОН НЕТ.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Листья (хвоя)</strong> мелкие, игловидные или чешуйчатые (туя, кипарис), многолетние. Хвоя у сосны располагается парами или пучками на укороченных побегах; у ели – поодиночке на удлиненных побегах. Хвоя покрыта кутикулой. Клетки эпидермиса утолщены, устьиц мало. Устьица погружены глубоко в ткань листа, что уменьшает испарение воды.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Впервые развивается главный корень, от которого отходят боковые корни (стержневая корневая система), способные вступать в симбиоз с грибами (образуют <strong>микоризу</strong>).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Физиологическая характеристика отдела Голосеменные.</strong> В жизненном цикле наблюдается чередование поколений: бесполого <strong>(спорофита)</strong> – представлен <strong>листостебельным растением</strong> (превалирует в жизненном цикле) и полового (гаметофита) – <strong>мужской гаметофит</strong> представлен <strong>пыльцевым зерном, женский – 2 архегониями</strong> (у сосны, или несколько у других голосеменных), <strong>в каждом по 1 яйцеклетке и многоклеточным гаплоидным эндоспермом</strong> (запасом питательных веществ для зародыша).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Гаметофит полностью утратил способность к самостоятельному образу жизни и все его развитие протекает на спорофите в генеративных органах – стробилах <strong>(микростробилы – </strong> мужские шишки, <strong>мега(макро)стробилы </strong> – женские шишки). Голосеменные – раздельнополые однодомные (реже – двудомные) растения. Оплодотворение происходит без наличия воды: спермии попадают к яйцеклеткам благодаря образованию пыльцевой трубки, что является важнейшим приспособлением к наземному образу жизни.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Важнейшая особенность голосеменных – появление семени, служащего для размножения и расселения. Семена защищены ТОЛЬКО семенной кожурой <strong>(нет околоплодника</strong> по сравнению с покрытосеменными).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Морфологическая характеристика сосны обыкновенной.</strong> Морфологическая характеристика сосны обыкновенной.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Размножение сосны обыкновенной.</strong> На верхушке молодых побегов весной (апрель-май) образуется 2 вида шишек (кроме того есть женские шишки второго года со зреющими семенами и женские шишки третьего года без семян). Женские шишки (мега(макро)стробилы) красноватого цвета. На их главной оси располагается 2 вида чешуй: внутренние –семенные и наружные – сухие, кроющие чешуйки. В основании каждой чешуи лежат 2 семязачатка (семяпочки).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Семязачаток представляет собой макро(мега)спорангий, состоящий из ядра (нуцеллуса), окруженного покровами <strong>(интегументами)</strong> Покровы на вершине семязачатка не смыкаются и образуют пыльцевход <strong>(микропиле).</strong> В спорангии формируется одна макро(мега)спора, которая многократно делится, образуя эндосперм и 2 архегония, содержащие по яйцеклетке. Формируется женский гаметофит = яйцеклетка и эндосперм, образованный из остатков спорогенной ткани до оплодотворения. <strong>ЖЕНСКИЙ ГАМЕТОФИТ НИКОГДА НЕ ПОКИДАЕТ ПРЕДЕЛОВ СПОРАНГИЯ!!!</strong>
</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <img src="~/Images/thema8/шишки с подписями 2.png" alt="шишки"/>
        </div>
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Мужские шишки (микростробила) зеленовато-желтые, собраны в пучки длиной 4-6мм, диаметром 3-4мм, образуются у основания молодых побегов. Каждая шишка состоит из оси и чешуй. С нижней стороны чешуи находятся по 2 микроспорангия (пыльцевые мешки), где образуются микроспоры. Из микроспор формируется пыльцевое зерно (мужской гаметофит). Пыльцевое зерно овальной формы, имеет 2 оболочки (наружная – экзина, внутренняя – интина), между которыми имеется 2 воздушных пузырька (воздушная камера, облегчающая перенос пыльцы ветром на большие расстояния) и 2 ядра (вегетативное и генеративное), которые впоследствии превращаются в вегетативную и генеративную клетки. <strong>МУЖСКОЙ ГАМЕТОФИТ НЕ СОДЕРЖИТ АНТЕРИДИЕВ!!!</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Опыление (перенос пыльцы) у сосны происходит в конце весны – начале лета. Микропорангии разрываются, и пыльца ветром переносится на семяпочки женских шишек. После опыления чешуи женских шишек смыкаются, заполняются смолой и шишки опускаются верхушкой вниз. Это предохраняет шишки от попадания воды и их загнивания. После опыления мужские шишки усыхают и опадают, а женские шишки усиленно растут, образуя более крупные зеленые шишки второго года.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Оплодотворение происходит только через 12-14 месяцев, в мае следующего (второго) года. Пыльцевое зерно образует 2 клетки: <strong> вегетативную</strong> (образует пыльцевую трубку) и <strong>генеративную</strong>  (образует 2 спермия). Пыльцевая трубка проникает через пыльцевход внутрь семязачатка. Спермии спускаются по пыльцевой трубке, один из которых сливается с яйцеклеткой и образуется зигота; другой спермий и 1 архегоний погибает.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Из образовавшейся зиготы образуется зародыш семени, а из покровов семязачатка – семенная кожура, т.е. в целом семя формируется из семяпочки. К осени формируются семена с крылатыми придатками. В декабре второго года (спустя 1 год и 8 месяцев после опыления) женские шишки становятся бурыми и раскрываются, семена выпадают из них и подхваченные животными или ветром, переносятся на большие расстояния. В благоприятных условиях семена прорастают, образуя вначале проросток, а затем – молодое растение.
</p>
<div class="container">
    <div class="row justify-content-center">
        <img src="~/Images/thema8/1.png" />
    </div>
    <div class="row justify-content-center">
        12-14 месяцев спустя
    </div>
    <div class="row justify-content-center">
        <img src="~/Images/thema8/2.png" />
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Значение голосеменных в природе:</strong>
    <ol>
        <li>Являются звеном цепи питания – продуцентами.</li>
        <li>Поддерживают стабильность газового состава атмосферы.</li>
        <li>Участвуют в круговороте веществ в природе.</li>
        <li>Укрепляют почву, предупреждая ее эрозию.</li>
        <li>Регулируют водный состав почвы (задерживают таяние снега и сохраняют влагу).</li>
        <li>Выделяют фитонциды, обладающие бактерицидным действием.</li>
        <li>Среда для обитания и источник питания (семена, витаминная мука из ветвей) для животных.</li>
        <li>Хвойные леса образуют тайгу (северные «легкие» планеты).</li>
    </ol>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Значение голосеменных для человека:</strong>
    <ol>
        <li>Являются источником строительного материала («корабельные» сосны, «красное дерево» древесина секвойи).</li>
        <li>Используются для изготовления мебели и музыкальных инструментов (лиственница, тисс, ель).</li>
        <li>Являются сырьем для получения топлива, бумаги, метилового спирта, пластмасс, лака, канифоли, скипидара, янтаря, искусственного шелка.</li>
        <li>В медицине – кустарник Эфедра (класс Гнетовые) является сырьем для получения эфедрина (действие на ЦНС и противоаллергическое).</li>
        <li>В пищу используются семена сибирской (кедр), корейской и итальянской сосен.</li>
        <li>Некоторые представители класса Хвойные (пихта, туя, кипарисы, кедры) -декоративные растения.</li>
        <li>Хвоя сосны и пихты используется для изготовления зубной пасты, мыла, одеколона.</li>
    </ol>
</p>