<div class="container">
    <p><strong>Обмен веществ (метаболизм)</strong>  – совокупность реакций пластического и энергетического обмена (ассимиляции и диссимиляции), обеспечивающих рост, деление, дифференцировку и функционирование клеток, и их взаимосвязь с окружающей средой.</p>
    <p>Процесс приобретения организмами вещества и энергии называется <strong>питанием.</strong></p>
    <p>
        <strong>Этапы обмена веществ:</strong>
        <ol type="1">
            <li>Поступление веществ в клетку;</li>
            <li>Изменение веществ в ходе ассимиляции и диссимиляции;</li>
            <li>Выведение конечных продуктов обмена.</li>
        </ol>
    </p>
    <p>
        <strong>Функции обмена веществ:</strong>
        <ol type="1">
            <li>Обеспечивает клетку строительным материалом в реакциях пластического обмена;</li>
            <li>Обеспечивает клетку энергией в реакциях энергетического обмена (клеточного дыхания). При этом недоступная для выполнения работы энергия химических связей органических веществ превращается в энергию макроэргических связей АТФ и энергию мембранного потенциала.</li>
        </ol>
    </p>
    <p>Ассимиляция и диссимиляция неразрывно связаны между собой: для ассимиляции необходима энергия, которая образуется в реакциях энергетического обмена: для реакций диссимиляции необходимы ферменты, которые образуются в реакциях пластического обмена; ассимиляция и диссимиляция протекают в клетке одновременно и заключительные этапы одного вида обмена являются начальными стадиями для другого.</p>
    <h3 class="text-center"><strong>Пластический обмен.</strong></h3>
    <p><strong>Пластический обмен (анаболизм, ассимиляция)</strong> – совокупность реакций биологического синтеза, при котором из поступивших в клетку веществ образуются вещества, специфические для данной клетки. Происходит в органеллах анаболической системы клетки (ЭПС, КГ, рибосомы, пластиды). Реакции – эндотермические (протекают с поглощением энергии).</p>
    <p>К пластическому обмену относятся фотосинтез, биосинтез белков, синтез нуклеиновых кислот, жиров и углеводов.</p>
    <p>По типу ассимиляции живые организмы делятся на две группы – автотрофные и гетеротрофные.</p>
    <p><em>Гетеротрофными</em> называются организмы, не способные синтезировать органические вещества из неорганических и использующие в качестве пищи (источника энергии) готовые органические соединения. К гетеротрофам относятся большинство бактерий и протистов, грибы и животные.</p>
    <p>Известны 4 способа гетеротрофного питания: <em>голозойный</em> (поглощение питательных веществ через ротовое отверстие), <em>сапротрофный</em> (питание мертвыми организмами или выделениями других живых организмов), <em>симбионтный</em> (получение органических веществ от другого организма без причинения ему вреда) и <em>паразитический</em> (получение органических веществ от другого организма с причинением ему вреда).</p>
    <p><em>Автотрофными</em> называются организмы, способные синтезировать из неорганических веществ органические, служащие строительным материалом и источником энергии. К ним относятся пигментированные бактерии, некоторые протисты и все зеленые растения.</p>
    <p>Автотрофные организмы подразделяются на хемосинтезирующие и фотосинтезирующие. <em>Хемосинтезирующие</em> организмы (бактерии) потребляют энергию, выделяющуюся при окислении некоторых неорганических веществ (нитрифицирующие бактерии последовательно окисляют аммиак до нитритов, а затем нитриты до нитратов). <em>Фотосинтезирующие</em> организмы (зеленые растения) используют энергию света.</p>
    <h3 class="text-center"><strong>Фотосинтез – синтез первичного органического вещества.</strong></h3>
    <p><strong>Фотосинтез</strong> – процесс преобразования энергии света в энергию химических связей органических веществ. Это синтез сложных органических веществ из углекислого газа, воды и минеральных солей, происходящих в хлоропластах клеток растений под действием солнечного света, сопровождающийся выделением кислорода.</p>
    <p>Фотосинтез – окислительно-восстановительный процесс, в котором углекислый газ восстанавливается до углеводов:</p>
    <p class="text-center">6СО<sub>2</sub> + 6Н<sub>2</sub>О = С<sub>6</sub>Н<sub>12</sub>О<sub>6</sub> + 6О<sub>2</sub></p>
    <p>Главную роль в процессе фотосинтеза играют фотосинтезирующие пигменты: <em>хлорофиллы, каротиноиды</em> (каротин, ксантофиллы), а у цианобактерий и красных водорослей и <em>фикобилины</em> (фикоэритрин и фикоцианин). Существует около 10 видов хлорофиллов. У высших растений содержатся хлорофиллы а и b, у ряда водорослей и протистов есть хлорофиллы c и d, у зеленый и пурпурных бактерий есть бактериохлорофиллы а и b.</p>
    <p>Свет поглощают все пигменты, но непосредственное участие в фотохимических реакциях принимают фотосинтетически активные. </p>
    <p>Основной пигмент – <strong>хлорофилл а (С<sub>55</sub>Н<sub>72</sub>О<sub>5</sub>N<sub>4</sub>Mg).</strong> Вспомогательные пигменты передают поглощенную энергию хлорофиллу а, который выполняет роль активного (реакционного) центра. </p>
    <p>Хлорофиллы поглощают свет в синей и красной части спектра, каротиноиды – в синей и сине-зеленой. В зеленой и желтой областях спектра солнечный свет высшими растениями практически не поглощается и фотосинтез не происходит.</p>
    <p>Процесс фотосинтеза связан с улавливанием и преобразованием солнечной энергии. Совокупность <em>фотосинтетической единицы</em> (200-400 молекул хлорофилла) и ферментов, обеспечивающих транспорт электронов, образует <strong>фотосистему.</strong></p>
    <p><strong>Фотосистема I</strong> имеет максимум поглощение света с длиной волны 700 нм (Хл<sub>700</sub>), <strong>фотосистема II</strong> – 680 нм (Хл<sub>680</sub>). Обе фотосистемы работают согласованно.</p>
    <p>
        <strong>Фазы фотосинтеза:</strong>
        <ol type="1">
            <li><em>Световая фаза.</em> Протекает в гранах хлоропласта. Образуются <strong>АТФ</strong> (аденозинтрифосфорная кислота), <strong>НАДФ*Н+Н+</strong> (никотинамиддинуклеотид фосфат восстановленный) и <strong>кислород.</strong> Солнечная энергия преобразуется в электрохимическую в результате <em>хемиосмоса</em> (перенос электронов и ионов водорода через мембрану тилакоида специальными переносчиками), а далее в химическую энергию макроэргических связей АТФ.</li>
            <li><em>Темновая фаза.</em> Протекает в строме хлоропласта, не зависит от наличия солнечного света. Образуются <strong>ФГК</strong> (фосфоглицериновая кислота), <strong>ФГА</strong> (фосфоглицериновый альдегид) и <strong>глюкоза.</strong> Химическая энергия АТФ преобразуется в химическую энергию органических веществ.</li>
        </ol>
    </p>
    <p>
        <strong>Световая фаза.</strong>
        <ol type="1">
            <li>При попадании кванта солнечного света в молекуле Хл<sub>700</sub> (фотосистема I) происходит смещение электронной плотности от двух атомов азота к атому магния, в результате чего атом магния переходит в возбужденное состояние. Электрон внешнего энергетического слоя атома магния переходит к <em>акцептору</em> (ферментная система, принимающая и транспортирующая электроны). Молекула Хл<sub>700</sub> окисляется и превращается в Хл<sub>700</sub>+. По системе переносчиков электрон попадает на внешнюю сторону тилакоида (обращена в строму.</li>
            <li>При попадании кванта солнечного света в молекуле Хл<sub>680</sub> (фотосистема II) происходит смещение электронной плотности от двух атомов азота к атому магния, в результате чего атом магния переходит в возбужденное состояние. Электрон внешнего энергетического слоя атома магния переходит к <em>акцептору</em> (ферментная система, принимающая и транспортирующая электроны). Молекула Хл<sub>680</sub> окисляется и превращается в Хл<sub>680</sub>+. По системе переносчиков электрон переходит в фотосистему I и восстанавливает молекулу Хл<sub>700</sub>+. Молекула Хл<sub>700</sub> возвращается в исходное состояние и становится вновь способной поглощать свет и возбуждаться.</li>
            <li>
                Для восстановления молекулы Хл<sub>680</sub>+ используются электроны, получаемые при фотолизе молекул воды:
                <p class="text-center">2Н<sub>2</sub>О = 4Н<sup>+</sup> + 4е + <strong>О<sub>2</sub></strong></p>
            </li>
            <li>Благодаря фотолизу воды внутри тилакоида образуются протоны и молекулярный кислород (побочный продукт фотосинтеза), который выходит в атмосферу. Протоны, образовавшиеся при фотолизе, не могут проникнуть через мембрану тилакоида, поэтому накапливаются внутри него.</li>
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            По разные стороны мембраны накапливаются протоны и электроны – возникает электрохимический мембранный потенциал. При достижении разности потенциалов в 200 мВ протоны силой электрического поля проходят через канал фермента АТФ-синтетазы и попадают на наружную сторону мембраны тилакоида. При этом они отдают энергию, которая используется для синтеза АТФ из АДФ и остатка фосфорной кислоты:
                            АДФ + Н<sub>3</sub>РО<sub>4</sub> = <strong>АТФ</strong> + Н<sub>2</sub>О
                        </div>
                        <div class="col">
                            <img src="~/Images/thema46/мембрана.png" class="rounded" width="80%" height="80%" alt="мембрана" />
                        </div>
                    </div>
                </div>
            </li>
            <li>
                Перенесенные протоны взаимодействуют с электронами и молекулой НАДФ<sup>+</sup>, образуя ее восстановленную форму: НАДФ<sup>+</sup> + 2е + 2Н<sup>+</sup> = <strong>НАДФ*Н<sup>+</sup></strong>
            </li>
        </ol>
    </p>
    <p>
        <strong>Темновая фаза.</strong>
    </p>
    <p>Существуют разные пути восстановления СО<sub>2</sub> до уровня органических соединений (С<sub>3-</sub> цикл, С<sub>4-</sub>цикл, кислотный метаболизм толстянковых).</p>
    <p>Основным из них является <strong>цикл Кальвина</strong> (С<sub>3-</sub> цикл). Для синтеза 1 молекулы глюкозы необходимо <strong>18 молекул АТФ и 12 молекул НАДФ*Н<sup>+</sup>.</strong></p>
    <ol type="1">
        <li>Из атмосферы через устьица листа в строму поступает СО<sub>2</sub>, который присоединяется к рибулозадифосфату (5-углеродное соединение), образуя нестойкое 6-углеродное соединение), которое при участии энергии АТФ расщепляется на 2 молекулы <strong>ФГК</strong>.</li>
        <li>ФГК при участии НАДФ*Н<sup>+</sup> восстанавливается до <strong>ФГА</strong>.</li>
        <li>Две молекулы ФГА соединяется в <strong>глюкозу</strong> и другие сахара.</li>
    </ol>
    <p><strong>С<sub>4-</sub> цикл</strong> характерен для растений жарких и засушливых мест (кукуруза, сорго, сахарный тростник). Фотосинтез протекает при низких содержаниях СО<sub>2</sub>. В клетках основной ткани листа есть особый фермент, который способствует присоединению СО<sub>2</sub> к фосфоенолпировиноградной кислоте (3-углеродное соединение) с образованием щавелевоуксусной кислоты (4-углеродное соединение). В таком состоянии СО<sub>2</sub> временно удерживается, а затем отщепляется и используется для фотосинтеза в условиях высокой температуры.</p>
    <p><strong>Кислотный метаболизм толстянковых</strong> характерен для суккулентов (кактусы, молочаи, алоэ, каланхоэ, молодило, очиток). Растения пустынь запасают СО<sub>2</sub> ночью в виде органических кислот (устьица листа открыты). Днем эти растения осуществляют фотосинтез, отщепляя от органических кислот СО<sub>2</sub>.</p>
    <h3 class="text-center"><strong>Бактериальный фотосинтез.</strong></h3>
    <p>Фотосинтезирующие бактерии (зеленые серные, пурпурные серные и пурпурные несерные) обитают в пресной и морской воде, во влажной и илистой почве, в прудах и озерах со стоячей водой, в серных источниках. Для них характерны древнейшие формы фотосинтеза. Бактерии не способны использовать воду в качестве субстрата для синтеза, поэтому бактериальный фотосинтез протекает без выделения кислорода.</p>
    <p>
        <strong>Световая фаза фотосинтеза протекает в мезосомах, темновая в цитоплазме.</strong>
    </p>
    <p>Пигментные системы фотосинтезирующих бактерий – <em>бактериохлорофиллы (a,b,c,d,e).</em> Также в реакционных центрах бактерий обнаружены <em>бактериофеофетин и каротиноиды.</em></p>
    <p>Энергия света поглощается бактериохлорофиллом и каротиноидами, затем путем миграции электронного возбуждения передаются реакционному центру, содержащему 2 или 4 молекулы бактериохлорофилла. Разделенные заряды переносятся через мембрану их молекул, запуская электронный транспорт, усиливающий образование АТФ, <em>НАД*Н+Н<sup>+</sup> или восстановленного ферредоксина.</em> Почти у всех фотосинтезирующих бактерий найдены ферменты цикла Кальвина, поэтому они способны фиксировать СО<sub>2</sub> в реакциях этого цикла. </p>
    <p>Зеленые бактерии используют в качестве донора электронов сероводород, серу или тиосульфат; пурпурные бактерии – карбоновые и дикарбоновые кислоты, спирты.</p>
    <p><strong>Значение фотосинтеза.</strong> Главный процесс синтеза первичного органического вещества, протекающий в биосфере. Энергия Солнца аккумулируется в химических связях органических соединений, которые идут на питание всех гетеротрофов. При этом атмосфера обогащается кислородом и очищается от избытка диоксида углерода.</p>
    <h3 class="text-center"><strong>Генетический код и его свойства. Реакции матричного синтеза.</strong></h3>
    <p><strong>Ген</strong> – участок молекулы ДНК, определяющий расположение нуклеотидов в молекуле иРНК, последовательность аминокислот в полипептиде и соответствующий признак организма.</p>
    <p><strong>Генетический код</strong> – способ записи генетической информации в виде последовательности нуклеотидов ДНК или РНК.</p>
    <p>
        <strong>Свойства генетического кода:</strong>
        <ol type="1">
            <li>
                <em>Триплетность</em> – одной аминокислоте в полипептидной цепочке соответствуют три расположенных рядом нуклеотида молекулы ДНК (иРНК), называемые триплетом, или кодоном;
                <p>Соответствие кодов иРНК аминокислотам.</p>
                <img src="~/Images/thema46/Соответствие кодов иРНК аминокислотам..png" alt="Соответствие кодов иРНК аминокислотам." class="rounded" width="100%" height="100%" />
            </li>
            <li><em>Универсальность</em> – одинаковые кодоны кодируют одну и ту же аминокислоту у всех живых организмов;</li>
            <li><em>Неперекрываемость</em> – один нуклеотид не может входить одновременно в состав нескольких кодонов;</li>
            <li><em>Избыточность (вырожденность)</em> – одну аминокислоту могут кодировать несколько различных триплетов;</li>
            <li><em>Однозначность</em> – каждый триплет кодирует только одну аминокислоту;</li>
            <li><em>Однонаправленность</em> – код читается только в одном направлении;</li>
            <li><em>Наличие нонсенс (стоп) – кодонов</em> – триплеты, которые не кодируют аминокислоту. Когда рибосома в процессе трансляции доходит до таких кодонов, то биосинтез белка прекращается. <strong>N.B.!!!</strong> Искать в молекуле иРНК: УАА, УГА, УАГ.</li>
            <li><em>Непрерывность (без знаков препинания)</em> – при выпадении одного нуклеотида в процессе считывания его место занимает нуклеотид из соседнего кодона. Правильное считывание кода обеспечивается только в том случае, если считывание начинается со строго определенного кодона. <strong>Стартовыми кодонами в молекуле иРНК являются АУГ и ГУГ.</strong></li>
        </ol>
    </p>
    <p>Генетическая информация о структуре белка записана в ДНК в виде определенной последовательности нуклеотидов. Молекула ДНК имеет большие размеры и не способна выйти через поровые комплексы ядерной оболочки в цитоплазму к рибосоме. Необходим посредник между ДНК и рибосомой, роль которого выполняет иРНК, которая образуется в результате транскрипции.</p>
    <p><strong>Реакции матричного синтеза</strong> – синтез белков и нуклеиновых кислот, происходящий на основе уже имеющегося образца – матрицы. Происходит точная передача информации от матрицы к новой молекуле. Примеры таких реакций: репликация, транскрипция, трансляция.</p>
    <h3 class="text-center"><strong>Биосинтез белка.</strong></h3>
    <p><strong>Биосинтез белка</strong> – разновидность пластического обмена (ассимиляции). В биосинтезе принимают участие ДНК, иРНК, тРНК, аминокислоты, полисомы, ферменты.</p>
    <p>
        <strong>Этапы биосинтеза:</strong>
        <ol type="I">
            <li>
                <em>Репликация</em> – удвоение молекулы ДНК.
                <ol type="1">
                    <li>Происходит в ядре в синтетической период интерфазы.</li>
                    <li>Является реакцией матричного синтеза (порядок нуклеотидов в «старой» цепочке ДНК определяет порядок нуклеотидов в «новой», т. е. «старая» цепочка ДНК является матрицей для синтеза «новой»).</li>
                    <li>Осуществляется по принципу комплементарности.</li>
                    <li>Полуконсервативный способ (в состав дочерней молекулы ДНК входит одна цепочка материнской молекулы и одна вновь синтезированная).</li>
                    <strong>Механизм репликации:</strong> Под действием специального фермента (ДНК-геликазы) происходит раскручивание спирали ДНК и разрыв водородных связей между нуклеотидами двух цепочек. Поскольку комплементарные цепи в молекуле ДНК направлены в противоположные стороны, а фермент ДНК-полимераза может двигаться вдоль цепи ДНК только в направлении 3′→5′, то синтез новых цепей идет антипараллельно (принцип антипараллельности), причем первая, лидирующая, дочерняя цепочка синтезируется непрерывно по мере раскручивания молекулы ДНК, а вторая, отстающая, – отдельными фрагментами, которые затем сшиваются ферментом лигазой.
                </ol>
            </li>
            <li>
                <em>Транскрипция</em> – процесс синтеза молекулы иРНК, происходит в кариолимфе.
                <p><strong>Механизм транскрипции:</strong> фермент РНК-полимераза подходит к молекуле ДНК и разрывает водородные связи, молекулы ДНК раскручивается на 2 цепочки. Одна из цепей ДНК является кодирующей (кодогенной, транскрибирующей). Она начинается с 3’ конца, т.к. РНК-полимераза движется именно в этом направлении, и транскрипция осуществляется в направлении 3' – 5’, иРНК образуется в направлении 5’ – 3’.</p>
                <img src="~/Images/thema46/Механизм транскрипции.png" class="rounded text-center" alt="Механизм транскрипции" width="100%" height="100%"/>
                <p>Из свободных нуклеотидов РНК, которые есть в кариолимфе, фермент строит новую молекулу иРНК по принципу комплементарности (А-У, Т-А, Ц-Г, Г-Ц). Генетическая информация молекул ДНК, преобразованная в последовательность нуклеотидов молекулы иРНК, выходит из ядра и направляются к рибосомам.</p>
                <p><strong>Рекогниция</strong> – процесс узнавания молекулами тРНК своих аминокислот и присоединение их к одному их своих активных центров (акцепторный конец) тРНК.</p>
                <p>Активацию аминокислот осуществляют ферменты <strong>аминоацил-тРНК-синтетазы</strong> (для каждой аминокислоты свой фермент).</p>
                <p><strong>Механизм активации:</strong> фермент одновременно взаимодействует с соответствующей аминокислотой и АТФ, которая теряет при этом фосфат. Тройной комплекс (АТФ, аминокислота и фермент аминоацил-тРНК-синтетаза) называется <em>активированной (богатой энергией) аминокислотой,</em> которая способна спонтанно образовать в процессе трансляции пептидную связь с соседней аминокислотой. Свободные неактивированные аминокислоты не могут присоединяться к полипептидной цепи.</p>
                <p>Тройной комплекс соединяется с тРНК, и образовавшаяся аминоацил-тРНК идет в рибосому.</p>
            </li>
            <li>
                <em>Трансляция</em> – образование полипептидной цепи (первичная структура белка).
                <ol type="1">
                    <li><strong>Инициация</strong> – объединение малой субъединицы рибосомы, инициирующего триплета иРНК (АУГ), метионин-аминоацил-тРНК и большой субъединицы рибосомы.</li>
                    <li>
                        <strong>Элонгация</strong> – наращивание полипептидной цепи. Включает все реакции с момента образования первой пептидной связи до присоединения последней аминокислоты.
                        <p>Внутри рибосомы находятся 2 кодона иРНК (в аминоацильном и пептидильном центрах). После инициации тРНК-1 с менионином расположена в пептидильном центре, аминоацильный центр свободен. К аминоацильному центру подходит тРНК-2 с АК-2 и устанавливается там, если антикодон тРНК комплементарен кодону иРНК. С помощью ферментов между АК-1 и АК-2, находящимися в рибосоме, образуется пептидная связь. Для освобождения аминоацильного центра рибосома «перепрыгивает» на 1 триплет иРНК вперед. Следовательно, тРНК-2 с АК-2 и АК-1 переходят в пептидильный центр рибосомы. </p>
                        <p>К освободившемуся аминоацильному центру приходит тРНК-3 с АК-3 и устанавливается там, если антикодон тРНК комплементарен кодону иРНК, находящемуся в этом центре. В рибосоме находятся: в аминоацильном центре – тРНК-3 с АК-3, в пептидильном – тРНК-2 с АК-2 и АК-1. Между АК-1, АК-2 и АК-3 образуется пептидная связь, одновременно с этим рвется связь между АК-2 и тРНК-2 и тРНК-2 уходит из рибосомы.</p>
                        <img src="~/Images/thema46/движение рибосомы.png" alt="движение рибосомы" class="rounded" width="100%" height="100%" />
                    </li>
                    <li><strong>Терминация</strong> – обрыв цепи. Происходит, когда в аминоацильном центре появляется стоп-кодон (УАА, УГА, УАГ).</li>
                    <div class="container">
                        <p>После высвобождения синтезированного полипептида и тРНК, рибосома диссоциирует на субъединицы, готовые для трансляции новых иРНК. Образовавшийся полипептид попадает в каналы ЭПС, затем в КГ, где формируется вторичная, третичная и четвертичная структуры белка. </p>
                    </div>
                </ol>
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Энергетический обмен (катаболизм). Внутриклеточное переваривание. Гликолиз. Клеточное дыхание.</strong></h3>
    <p><strong>Энергетический обмен (катаболизм, диссимиляция)</strong> – совокупность реакций ферментативного расщепления сложных органических соединений, сопровождающихся выделением энергии.</p>
    <p>
        <strong>Этапы энергетического обмена:</strong>
        <ol type="I">
            <li><em>Внутриклеточное переваривание (подготовительный этап).</em> Протекает в пищеварительном тракте животных и человека или в цитоплазме клеток (вторичных лизосомах – внутриклеточное переваривание) всех живых существ. На этом этапе крупные органические молекулы под действием ферментов расщепляются на мономеры: белки до аминокислот, жиры до глицерина и жирных кислот, крахмал и гликоген до моносахаридов, нуклеиновые кислоты до нуклеотидов. Распад веществ сопровождается выделением небольшого количества энергии, рассеивающейся в виде тепла.</li>
            <li>
                <em>Гликолиз (анаэробный/бескислородный этап).</em> Протекает в <em>цитоплазме клеток, без участия кислорода.</em> Мономеры, образовавшиеся на первом этапе, подвергаются дальнейшему многоступенчатому расщеплению. Наиболее распространенным питательным веществом, которое используется для анаэробного высвобождения энергии, является глюкоза. При недостатке в клетке глюкозы в гликолиз могут вовлекаться жиры и белки.
                <p><strong>Гликолиз</strong> – многоступенчатое бескислородное расщепление глюкозы. Одна молекула глюкозы расщепляется на две молекулы пировиноградной кислоты (С<sub>3</sub>H<sub>4</sub>O<sub>3</sub>), которая в определенных клетках (мышечных), восстанавливается до молочной кислоты. От каждой молекулы глюкозы отщепляется 4 атома водорода, которые присоединяются к переносчику НАД<sup>+</sup> (никотинамиддинуклеотид), который переходит в восстановленную форму (НАД*Н+Н<sup>+</sup>).</p>
                <p>Суммарное уравнение реакции:</p>
                <p><strong>С<sub>6</sub>Н<sub>12</sub>О<sub>6</sub> + 2АДФ + 2Н<sub>3</sub>РО<sub>4</sub> + 2НАД<sup>+</sup> → 2С<sub>3</sub>Н<sub>4</sub>О<sub>3</sub> + 2АТФ + 2НАД*Н+Н<sup>+</sup> + 2Н<sub>2</sub>О.</strong></p>
                <p>На этом этапе выделяется около 200 кДж энергии. Часть ее (около 80 кДж) идет на синтез <sub>двух молекул АТФ,</sub> а остальная (около 120 кДж) рассеивается в виде тепла.</p>
                <p>В клетках растительных организмов и некоторых дрожжевых грибов распад глюкозы идет путем спиртового брожения. При этом пировиноградная кислота, образовавшаяся в процессе гликолиза, декарбоксилируется с образованием уксусного альдегида, а затем восстанавливается до этилового спирта. </p>
                <p>Суммарное уравнение спиртового брожения:</p>
                <p><strong>С<sub>6</sub>Н<sub>12</sub>О<sub>6</sub> + 2АДФ + 2Н<sub>3</sub>РО<sub>4</sub> + 2НАД<sup>+</sup> → 2С<sub>2</sub>Н<sub>5</sub>ОН + 2АТФ + 2СО<sub>2</sub> + НАД*Н+Н<sup>+</sup></strong></p>
                <p>У анаэробных организмов (некоторые бактерии, внутрикишечные паразиты) этот этап является конечным. Гликолиз протекает и в некоторых тканях многоклеточных организмов, способных функционировать в анаэробных условиях, например в поперечно-полосатых мышцах во время больших нагрузок. При этом в мышцах накапливается молочная кислота, что является одной из причин их утомления.</p>
            </li>
            <li>
                <em>Клеточное дыхание (кислородный этап).</em> Протекает в митохондриях при наличии кислорода. Обязательными условиями являются наличие ферментов (цикла Кребса, тканевого дыхания и окислительного фосфорилирования) и неповрежденная мембрана митохондрий для создания разности потенциалов.
                <p>Образовавшаяся в процессе гликолиза пировиноградная кислота соединяется с коферментом А и в таком виде (ацетил КоА) поступает в матрикс митохондрий.</p>
                <p>Пировиноградная кислота поступает в цикл Кребса, ферменты которого (дегидрогеназы) постепенно отщепляют от нее протоны и электроны, а углерод образует диоксид углерода.</p>
                <p>Диоксид углерода выделяется из митохондрии в цитоплазму, а затем в окружающую среду. Протоны и электроны поступают в систему ферментов тканевого дыхания (дыхательной цепи) и, накапливаясь по разные стороны внутренней мембраны митохондрии (на наружной поверхности – положительный, на внутренней – отрицательный), создают разность потенциалов. </p>
                <p>Когда разность потенциалов достигает критического значения (около 200 мВ), протоны проходят через специальные ионные каналы в АТФ-сомах, содержащие ферменты окислительного фосфорилирования (АТФ-азы). В этот момент протоны присоединяют электроны, превращаются в водород, который соединяется с кислородом с образованием воды, а выделяющаяся при этом энергия идет на присоединение остатка фосфорной кислоты к АМФ или АДФ.</p>
                <img src="~/Images/thema46/цикл кребса.png" alt="цикл Кребса" class="rounded" width="100%" height="100%" />
                <p>Данный процесс сопровождается выделением 2600 кДж энергии (при расщеплении двух молей пировиноградной кислоты, образовавшихся при анаэробном распаде одного моля глюкозы), из которых 1440 кДж идет на синтез <strong>36 молекул АТФ.</strong></p>
                <p>Уравнение кислородного этапа:</p>
                <p><strong>2С<sub>3</sub>Н<sub>6</sub>О<sub>3</sub> + 6О<sub>2</sub> + 36Н<sub>3</sub>РО<sub>4</sub> + 36АДФ → 36АТФ + 6СО<sub>2</sub> + 42Н<sub>2</sub>О</strong></p>
                <p>Суммарное уравнение анаэробного и аэробного этапов энергетического обмена:</p>
                <p><strong>2С<sub>6</sub>Н<sub>12</sub>О<sub>6</sub> + 6О<sub>2</sub> + 36Н<sub>3</sub>РО<sub>4</sub> + 36АДФ → 36АТФ + 6СО<sub>2</sub> + 44Н<sub>2</sub>О</strong></p>
                <p>Таким образом, в ходе второго и третьего этапов энергетического обмена <strong>при расщеплении одного моля глюкозы образуется 38 молекул АТФ.</strong> На это расходуется 1520 кДж (40 кДж⋅38), а всего выделяется 2800 кДж энергии. </p>
                <p>Следовательно, 55% энергии, высвобождаемой при расщеплении глюкозы, аккумулируется клеткой в молекулах АТФ, а 45% рассеивается в виде тепла. Основную роль в обеспечении клеток энергией играет кислородный этап.</p>
                <p>Аналогичным образом в энергетический обмен могут вступать аминокислоты и жирные кислоты. При расщеплении аминокислот помимо диоксида углерода и воды образуются азотсодержащие продукты (аммиак, мочевина), выводящиеся через выделительную систему.</p>
            </li>
        </ol>
    </p>
</div>
<div class="container">
    <a href=@Url.Action("Test46","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>