<div class="container">
    <p><strong>Классы и представители:</strong> Тип Кольчатые черви включает три класса: Многощетинковые (нереида/нереис, пескожил, палоло, серпула, морская мышь), Малощетинковые (дождевой червь, трубочник) и Пиявки (медицинская, ложноконская, улитковая и рыбья пиявки).</p>
    <p><strong>Количество видов:</strong> около 12000 видов.</p>
    <p><strong>Среда обитания:</strong> морские и пресные водоемы, почва.</p>
    <p><strong>Образ жизни:</strong> в основном – свободноживущие, реже – паразиты (пиявки).</p>
    <p><strong>Первичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная.</strong></p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol type="1">
            <li>Вторичная полость тела (целом);</li>
            <li>Органы движения (параподии);</li>
            <li>Тело разделено на отделы (головная лопасть, туловище, анальная лопасть).</li>
            <li>Замкнутая кровеносная система;</li>
            <li>Органы дыхания – кожные жабры (у многощетинковых);</li>
            <li>Выделительная система метанефридиального типа;</li>
            <li>Узловая (лестничная, ганглионарная) нервная система;</li>
            <li>Гомономная сегментация тела.</li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение.</strong>
    </p>
    <p>
        Размеры тела колеблются в пределах от 0,5 мм до 3 м (австралийский земляной червь).
    </p>
    <p>
        <strong>Отделы тела:</strong>
        <ol type="1">
            <li><em>Головная лопасть</em> (расположены разнообразные органы чувств: глаза, щупальца и усики). </li>
            <li>
                <em>Туловище</em> содержит от 5 до 800 одинаковых сегментов, имеющих форму колец. Сегменты имеют одинаковое строение и выполняют сходные функции – <em>гомономная сегментация (метамерия).</em> Метамерное строение тела кольчецов определяет их высокую способность к регенерации, поскольку метамерия выражена не только во внешнем, но и во внутреннем строении (ИСКЛ. Пиявки).
                <p>По бокам сегментов туловища (у многощетинковых) располагаются лопастевидные выросты кожно-мускульного мешка - <em>параподии</em> – органы движения. Параподии имеют спинную и брюшную ветви, каждая из которых несет пучок щетинок. У малощетинковых сохраняются только пучки щетинок.</p>
            </li>
            <li><em>Анальная лопасть (пигидий)</em> – расположены чувствительные придатки <em>(анальные усики)</em> и анальное отверстие.</li>
        </ol>
    </p>
    <div class="row">
        <div class="col">
            <p>
                <strong>Стенка тела</strong> образована <em>кожно-мускульным мешком.</em> Компоненты:
                <ol type="1">
                    <li>Тонкая кутикула;</li>
                    <li>Однослойный эпителий;</li>
                    <li>Два слоя гладких мышц: наружный (кольцевой) и внутренний (продольный).</li>
                </ol>
            </p>
            <p>
                <strong>Внутреннее строение.</strong>
            </p>
            <p>
                <strong>Полость тела.</strong> Вторичная <em>(целом),</em> имеет собственную эпителиальную выстилку, покрывающую кожно-мускульный мешок изнутри и органы пищеварительной системы снаружи. Полость тела разделена перегородками соответственно сегментам тела. В каждом сегменте целом представлен двумя камерами <em>(правым и левым целомическими мешками),</em> которые разделены продольной перегородкой над и под кишечником. На границе между сегментами целомический эпителий образует перегородки – септы, идущие поперек тела. Функции полостной жидкости: гидроскелет, внутренняя среда организма, участие в транспорте продуктов обмена, питательных веществ и половых клеток.
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema20/внешнее строение.png" />
            <p class="picture_framing">Внешнее строение многощетинкового червя: 1 – сегменты туловища; 2 – параподии; 3 – глаза; 4 –усики головной лопасти; 5 – анальные усики</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="~/Images/thema20/поперечный срез.png" />
        </div>
        <div class="col">
            <p class="picture_framing">
                Поперечный срез многощетинкового червя: 1 – спинная ветвь параподии; 2 – брюшная ветвь параподии; 3 – покровный эпителий; 4 – брюшной кровеносный сосуд; 5 – брюшная нервная цепочка; 6 – метанефридий; 7 – щетинки; 8 – параподия; 9 – кровеносные капилляры; 10 – полость тела; 11 – спинной кровеносный сосуд; 12 – полость кишечника; 13 – целомический эпителий; 14 – продольные мышцы; 15 – кольцевые мышцы
            </p>
        </div>
    </div>
</div>
<div class="container">
    <p>
        <strong>Пищеварительная система. </strong>
        <ol>
            <li><em>Передний отдел</em> (ротовая полость, мускулистая глотка (у хищников снабжена кутикулярными зубцами), пищевод, зоб, трубчатый желудок с мускулистыми стенками).</li>
            <li><em>Средний отдел</em> (средняя кишка). У многих видов в переднем отделе кишки есть пищеварительные железы, секрет которых способствует пищеварению. Всасывание питательных веществ происходит в средней кишке.</li>
            <li><em>Задний отдел</em> (задняя кишка и анальное отверстие).</li>
        </ol>
    </p>
    <p>
        <strong>Выделительная система.</strong> <em>Метанефридиального типа.</em> Нефридии - трубочки с воронками (расположены попарно в каждом сегменте тела). Внутренний конец (воронка с ресничками) обращен в целом, из которого в него поступают продукты обмена. Канал нефридия проходит через септу в следующий сегмент, на боковой стенке которого открывается наружу выделительной порой.
    </p>
    <p>
        <strong>Кровеносная система.</strong> <em>Замкнутая</em> (кровь не покидает полости кровеносных сосудов). Представлена спинным и брюшным сосудами, кольцевыми сосудами и подкожными капиллярами. По спинному пульсирующему сосуду кровь движется от заднего конца тела к переднему, по брюшному – спереди назад. Спинной и брюшной сосуды в каждом сегменте соединяются кольцевыми сосудами. Газообмен происходит в подкожных капиллярах.
    </p>
    <p>
        Спинной сосуд и 5-7 кольцевых сосудов в области глотки имеют мышечные стенки и клапаны, и выполняют функцию «кольцевых сердец», так как движение крови происходит благодаря их ритмичным сокращениям.
    </p>
    <p>
        Эритроцитов нет, кровь может быть красного цвета (пигмент <strong>гемоэритрин,</strong> по строению близок к гемоглобину позвоночных животных), зеленого или бесцветная.
    </p>
    <p>
        <strong>Дыхательная система</strong> отсутствует. Газообмен осуществляется всей поверхностью тела. Только у класса Многощетинковые есть перистые или листовидные <strong>кожные жабры</strong> (видоизмененные спинные усики параподий или головной лопасти).
    </p>
    <p>
        <strong>Нервная система.</strong> <em>Узловая (лестничная, ганглионарная).</em> Содержит парные (надглоточный и подглоточный) нервные ганглии, соединенные в окологлоточное нервное кольцо, и брюшную нервную цепочку (состоящая из повторяющихся в каждом сегменте парные нервные ганглиев, соединенных между собой перемычками.
    </p>
    <p>
        <strong>Органы чувств.</strong> <em>Органы осязания и химического чувства</em> присутствуют у всех классов кольчатых червей. У многощетинковых есть <em>органы равновесия и зрения</em> (2 или 4 глаза).
    </p>
    <p>
        <strong>Половая система.</strong> Многощетинковые черви: <em>раздельнополые.</em> Половые клетки выводятся в полостную жидкость и далее в воду через <em>специальные половые воронки</em> или чаще через воронки метанефридиев (осеменение наружное). Размножение половое. Развитие непрямое (личинка – <em>трохофора</em>). Малощетинковые и пиявки: <em>гермафродиты.</em> Осеменение внутреннее, оплодотворение перекрестное. Размножение половое и бесполое (почкование и фрагментация). Развитие прямое, в <em>коконе</em> из слизи, выделяемой <em>пояском</em> (специализированный участок покровов тела, который вырабатывает слизистый секрет, идущий на образование кокона).
    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>Многообразие кольчатых червей</strong>
    </div>
    <p>
        Класс <strong>Многощетинковые</strong> (нереида/нереис, пескожил, палоло, серпула, морская мышь). <strong>Среда обитания:</strong> морская вода, песчаный грунт. Питаются детритом, нередко хищники. Каждый сегмент их тела несет пару параподий. Хорошо развита головная лопасть, на которой расположены органы зрения. Органы дыхания: кожные жабры. Кровь часто окрашена в красный цвет. Раздельнополые, осеменение наружное (происходит в воде). Развитие с метаморфозом (личинка трохофора).
    </p>
    <p>
        Класс <strong>Малощетинковые</strong> (дождевой червь, трубочники). Среда обитания: почва и пресные водоемы. Детритофаги (питаются гниющими остатками). Параподии отсутствуют, щетинки отходят непосредственно от стенки тела. Головная лопасть выражена слабо. Органы дыхания отсутствуют. Гермафродиты. Осеменение внутреннее, оплодотворение перекрестное. Развитие прямое, происходит в коконе, который образуется после оплодотворения.
    </p>
    <p>
        <strong>Дождевой червь. Среда обитания:</strong> влажная, богатая перегноем почва, выходит на поверхность только после дождя.
    </p>
    <div class="row">
        <div class="col">
            <p>
                <strong>Внешнее строение.</strong> Длина тела – 10–30 см. Головная лопасть не выражена, лишена глаз, щупалец и усиков. Тело состоит примерно из 100 сегментов. Каждый сегмент несет 4 пучка упругих коротких щетинок, способствующих передвижению. Одна пара – на брюшной, а другая – на боковых поверхностях сегмента. Анальная лопасть не содержит придатков, на ней открывается анальное отверстие. На передней трети тела находится
            </p>
            <p>
                <strong>Внутреннее строение.</strong> Органы дыхания отсутствуют, дыхание происходит через кожу, пронизанную густой сетью капилляров. Пищеварительная система: передний отдел (рот, мускулистая глотка, пищевод (открываются протоки <em>известковых желез,</em> секреты которых нейтрализуют гумусовые кислоты почвы), зоб и мышечный желудок. Дождевые черви – гермафродиты, половая система находится в нескольких сегментах передней части тела. Осеменение перекрестное, в ходе его две особи обмениваются семенной жидкостью. К моменту откладки яиц на пояске червя выделяется слизь, охватывающая тело в виде <em>муфты.</em>
            </p>
        </div>
        <div class="col">
            <img src="~/Images/thema20/дождевой червь.png" alt="дождевой червь" />
            <p class="picture_framing">
                Дождевые черви в процессе осеменения: 1 – анальная лопасть; 2 – головная лопасть; 3 – поясок; 4 – сегменты туловища
            </p>
        </div>
    </div>
    При сокращении мышц муфта постепенно перемещается к головному концу тела, в нее сначала поступают яйцеклетки, а затем семенная жидкость партнера. Затем муфта соскальзывает с головного конца тела, преобразуется в кокон, внутри которого развиваются молодые особи (развитие прямое). Для дождевых червей характерна высокая способность к регенерации.
    <p>
        <strong>Значение дождевых червей: </strong> улучшают плодородие почвы: проделывают в почве ходы (способствуют рыхлению, улучшают ее структуру, облегчают движение воды, обогащают кислородом и перегноем, нейтрализуют избыточную закисленность почвы, способствуют росту корней.
    </p>
    <div class="row">
        <div class="col ">
            <p>Класс <strong>Пиявки</strong> (медицинская, ложноконская, улитковая и рыбья пиявки). – свободноживущие хищники или эктопаразиты позвоночных и беспозвоночных животных, питаются кровью. Среда обитания: стоячие пресноводные водоемы (болота, пруды, заводи), влажная почва. Параподии и щетинки отсутствуют. Тело снаружи покрыто плотной кутикулой. Наружная кольчатость не соответствует внутренней сегментации. На переднем и заднем концах тела имеются присоски. Головная и анальная лопасти не выражены. Полость тела редуцирована. В ротовой полости есть <em>хитиновые зубцы,</em> разрезающие кожу жертвы при питании пиявки. Слюна содержит <em>гирудин</em> – вещество, разжижающее кровь (препятствующее свертыванию крови и образованию тромбов) и способствующее рассасыванию гематом. Средняя кишка образует <em>карманы,</em> которые при питании заполняются кровью. Метанефридии находятся лишь в нескольких сегментах. Органы дыхания отсутствуют. Пиявки – гермафродиты. Осеменение внутреннее, оплодотворение перекрестное. Развитие прямое.</p>
        </div>
        <div class="col">
            <img src="~/Images/thema20/пиявка.png" />
            <p class="picture_framing">
                Внешнее строение пиявки: 1 – передняя присоска; 2 – задняя присоска; 3 – сегменты туловища
            </p>
        </div>
    </div>
    <p>
        <strong>Значение кольчатых червей. </strong>
        <ol type="1">
            <li>Многощетинковые черви – звено цепей питания (основная пища для морских рыб).</li>
            <li>Океанический червь палоло используется человеком в пищу.</li>
            <li>Дождевые черви улучшают плодородие почвы.</li>
            <li>Медицинские пиявки используются в нетрадиционной медицине для кровопускания (гирудотерапия).</li>
        </ol>
    </p>
</div>
<div class="container">
    <a href=@Url.Action("Test20","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>