<div class="container">
    <p>
        Бактерии относятся к империи Клеточные, надцарство Прокариоты, т.е они имеют клеточное строение, но <u>клетка не содержит ядра</u>. К царству бактерии относятся примерно 3000 видов. Размеры бактериальных клеток колеблются в пределах 0,1-30 мкм. Открыл бактерии А. ван Левенгук в 1675 г. Наука, изучающая бактерии, называется <strong>микробиология (бактериология).</strong>
    </p>
    <p><strong>Формы бактериальной клетки:</strong></p>
    <ol type="1">
        <li>
            Кокки – шаровидные бактерии
            <ol type="a">
                <li>диплококки – 2 шаровидных клетки, объединенные одной капсулой;</li>
                <li>тетракокки - 4 шаровидных клетки, объединенные одной капсулой;</li>
                <li>стрептококки – бактерии соединены в виде цепочки;</li>
                <li>стафилококки – бактерии, соединенные в виде грозди винограда.</li>
            </ol>
        </li>
        <li>Бациллы – палочковидные бактерии (кишечная палочка, микробактерия туберкулеза).</li>
        <li>Сарцины – пакеты, содержащие от 8 до 54 бактерий.</li>
        <li>Вибрионы – бактерии в форме запятой (холерный вибрион).</li>
        <li>
            Извитые формы:
            <ol type="a">
                <li>спириллы – спирально извитые;</li>
                <li>спирохеты – винтообразно закрученные (бледная трепонема – возбудитель сифилиса).</li>
            </ol>
        </li>
        <li>Нитевидные, жгутиковые и реснитчатые формы.</li>
    </ol>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <img src="~/Images/thema2/форма бактерий.png" alt="Форма бактерий" class="img-fluid" />
            </div>
        </div>
    </div>
    <h3 class="text-center"><strong>Среда обитания:</strong></h3>
    <p>Бактерии – виды-космополиты (виды, распространенные повсеместно). Особенно много бактерий встречается в почве (до 100 млн в 1г), из продуктов питания наибольшее количество бактерий содержит свежее парное молоко. Также бактерии встречаются и на дне океана, и на вершинах снежных гор, некоторые виды бактерий живут в желудочно-кишечном тракте человека, в теле человека весом 70 кг может находиться до 5 кг бактерий.</p>
    <h3 class="text-center"><strong>Строение бактериальной клетки:</strong></h3>
    <ol type="1">
        <li>
            <strong>1. Оболочка </strong>бактериальной клетки выполняет защитную функцию, определяет форму бактериальной клетки, а также препятствует разрушению клетки в гипотонической среде и участвует в осмотическом питании бактерии.
            <u>Компоненты оболочки клетки (изнутри кнаружи):</u>
            <ol type="a">
                <li>
                    <em>Цитоплазматическая мембрана:</em> обеспечивает избирательную проницаемость и выделение из клетки продуктов обмена, а также формирует<strong>мезосомы</strong> - впячивания цитоплазматической мембраны внутрь клетки, которые выполняют функции отсутствующих органелл (комплекса Гольджи, эндоплазматической сети, митохондрий и пластид).
                    <br /><strong>N.B!!!</strong> В бактериальной клетке световая фаза фотосинтеза протекает в мезосомах, темновая - в цитоплазме (основной пигмент – бактериохлорофилл, выделения кислорода не происходит!!!).
                </li>
                <li>
                    <em>Клеточная стенка</em>, содержащая в своем составе пептидогликан (сложный углевод) – <strong>муреин.</strong> Функции: формообразующая, защитная, участвует в транспорте веществ.
                </li>
                <li>
                    <em>Слизистая капсула</em> – необязательный компонент оболочки, состоит из белков или полисахаридов. Функции: защита клетки от высыхания, участие в образовании колоний.
                </li>
            </ol>
        </li>
        <li>
            <strong>Цитоплазм</strong> -– внутренняя среда бактериальной клетки, в которой расположен генетический аппарат бактерии, органоиды и включения.
            <p>
                Генетический аппарат бактерии представлен<strong> нуклеоидом и плазмидами</strong> (необязательный компонент). <strong>Нуклеоид («бактериальная хромосома»)</strong> – кольцевая двухцепочечная молекула ДНК, не связанная с белками-гистонами. <strong>Плазмиды</strong> – короткие кольцевые молекулы ДНК, расположенные в цитоплазме и обуславливающие отдельные признаки бактерии (лекарственная устойчивость, участие в коньюгации.)
            </p>
            <p>
                Органоиды: единственными органоидами бактериальной клетки являются <strong>рибосомы </strong>(функция – биосинтез белка).
            </p>
            <p>
                <strong>Включения</strong> – непостоянный компонент клетки, который представляет собой гранулы запасных питательных веществ (гликогена, белка, жира).
            </p>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <img class="img-fluid" src="~/Images/thema2/включение.png" alt="Включение" />
                    </div>
                </div>
            </div>
        </li>
    </ol>
    <h3 class="text-center"><strong>Подвижность бактерии:</strong></h3>
    <p>
        Среди бактерий встречаются как неподвижные формы, так и подвижные, которые имеют специальные приспособления для передвижения:
        <ol type="1">
            <li>
                жгутики – длинные тонкие отростки, в состав которых входит белок – <strong>флагеллин.</strong> Жгутик одним концом встроен в цитоплазматическую мембрану. Основание жгутика вращается так, что жгутик как бы ввинчивается в среду, не совершая беспорядочных движений, тем самым продвигая клетку вперед (принцип колеса);
            </li>
            <li>
                реснички;
            </li>
            <li>
                реактивным способом: выбрасывая слизь или при участии газовых вакуолей (у почвенных бактерий);
            </li>
            <li>
                с помощью ритмичного сокращения клетки;
            </li>
            <li>
                скользящим типом движения.
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Раздражимость:</strong></h3>
    <p>
        Бактерии отвечают на раздражители при помощи <strong>таксисов</strong> – движений к раздражителю или от него. Положительный таксис- движение к раздражителю, отрицательный таксис – движение от раздражителя. Аэробные бактерии обладают <strong>положительным аэротаксисом</strong> (движение в сторону среды, богатой кислородом), фотосинтезирующие бактерии – <strong>положительным фототаксисом</strong> (движение в сторону света).
    </p>
    <h3 class="text-center"><strong>Типы питания (типы ассимиляции):</strong></h3>
    <p>
        <strong>N.B.!!!</strong> В биологии существует 2 типа питания: автотрофный и гетеротрофный, все остальное способы (фотосинтез, фагоцитоз и др.).
        <ol type="1">
            <li>
                <strong><em><u>Автотрофы</u></em></strong> – организмы, синтезирующие для питания органические вещества из неорганических.
                <ol type="a">
                    <li><strong>фототрофы</strong> – синтезируют из неорганических веществ органические, используя энергию солнечного света. В основе жизнедеятельности таких организмов лежит процесс фотосинтеза (зеленые и пурпурные бактерии содержат пигмент бактериохлорофилл)</li>
                    <li><strong>хемотрофы</strong>– синтезируют из неорганических веществ органические, используя энергию окислительно-восстановительных реакций. В основе жизнедеятельности таких организмов лежит процесс хемосинтеза (нитрифицирующие бактерии окисляют аммиак до нитратов, железобактерии – Fe<sub>2+</sub> до Fe<sub>3+</sub>, серобактерии – сероводород и серу до сульфатов и др.).</li>
                </ol>
                <br />
                <strong>Азотфиксация</strong> – усвоение молекулярного азота воздуха некоторыми бактериями и образование соединений, доступных для использования другими организмами (цианобактерии, азотобактерии и клубеньковые бактерии). Клубеньковые бактерии поселяются на корнях гороха, фасоли, люпина. Клетки корней растений в месте проникновения бактерии разрастаются и образуют клубеньки, в которых живут бактерии. Клубеньковые бактерии усваивают азот из воздуха и обеспечивают растения этим важным питательным веществом. От растений в качестве «ответной услуги» они получают необходимые для жизни вещества, например углеводы. Таким образом, клубеньковые бактерии находятся в симбиотических отношениях с растениями.
                <br />
                <strong>Симбиоз</strong>(от греч. син — вместе и биос — жизнь) — сожительство. На данном этапе мы рассматриваем только 2 варианта симбиоза, необходимые для понимания биологических процессов:<strong> мутуализм</strong> (взаимовыгодное сожительство) и <strong>паразитизм</strong>  (польза-вред).
                <br />
                <strong>Нитрификация</strong>— процесс окисления аммиака до азотистой кислоты или до азотной кислоты.
                <br />
                <strong>Денитрификация</strong>- процесс восстановления нитратов до нитритов и далее до газообразных оксидов и молекулярного азота.
                <br />
                <strong>Аммонификация</strong>— процесс разложения азотсодержащих органических соединений (белков, нуклеиновых кислот и др.) с выделением аммиака или окисление их до солей аммония.
            </li>
            <li>
                <strong><u><em>Гетеротрофы</em></u></strong>  – организмы, питающиеся готовыми органическими веществами.
                <ol type="a">
                    <li>
                        <strong>сапротрофы</strong> – организмы, питающиеся органическими веществами отмерших организмов или выделениями живых.<strong>Бактерии гниения </strong>(минерализация удобрений (навоз, компост) с образованием перегноя путем расщепления азотсодержащих соединений до аммиака). <strong>Бактерии брожения</strong> (<em>молочнокислые</em> (образование молочнокислых продуктов, закваска капусты и др. овощей),<em>маслянокислые </em>(приготовление сыров, масла), уксуснокислые (образование уксусной, лимонной кислот, спиртов)).
                    </li>
                    <li>
                        <strong>паразиты</strong> – организмы, питающиеся органическими веществами живых организмов (болезнетворные бактерии).
                    </li>
                </ol>
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Типы дыхания (типы диссимиляции):</strong></h3>
    <p>
        <strong>Аэробные организмы </strong>– организмы, обитающие в условиях свободного доступа кислорода, энергию получают в процессе дыхания.
    </p>
    <p>
        <strong>Анаэробные организмы</strong> – организмы, кислород, для жизнедеятельности которых, не нужен или даже вреден, энергию получают в результате процессов гниения и брожения.
    </p>
    <p>
        <strong>Факультативные анаэробы</strong> – организмы, которые могут существовать и в кислородной, и бескислородной среде.
    </p>
    <p>
        При наступлении неблагоприятных условий большинство бактерий способны образовывать<strong> спору (микроцисту).</strong>
    </p>
    <p>
        Функции споры: перенесение неблагоприятных условий и распространение бактерий.
    </p>
    <p>
        Спора образуется внутри бактериальной клетки. Большая часть воды (примерно 60%) переходит в связанное состояние, ферментативная активность снижается, протопласт сжимается и покрывается очень плотной оболочкой. В споре бактерия может существовать до нескольких лет и обладает повышенной устойчивостью к действию температур, излучения и т.д. При наступлении благоприятных условий спора набухает, оболочка разрывается и бактерия выходит наружу.
    </p>
    <h3 class="text-center"><strong>Размножение:</strong></h3>
    <p>
        Основным способом размножения бактерий является <strong>простое (бинарное) деление</strong> клетки надвое. В благоприятных условиях бактерия делится каждые 20-30 минут. Крайне редко может встречаться <strong>почкование </strong>-  тип бесполого размножения, при котором дочерние особи формируются из выростов тела материнского организма (почек).
    </p>
    <p>
        Делению клетки может предшествовать половой процесс – <strong>коньюгация</strong>  – однонаправленный обмен плазмидами или частями нуклеоида между двумя бактериями.
    </p>
    <p>
        <strong>N.B.!!!</strong> Не путайся понятия «способ размножения» и «половой процесс». Во время размножения ВСЕГДА происходит увеличение числа особей, а во время полового процесса число особей либо остается постоянным (коньюгация) либо даже уменьшается (копуляция).
    </p>
    <h3 class="text-center"><strong>Значение бактерий:</strong></h3>
    <ol type="1">
        <li>Являются звеном цепи питания (редуценты), участвуют в круговороте веществ;</li>
        <li>Участвуют в почвообразовании (бактерии гниения, образуя перегной, повышают плодородие почвы);</li>
        <li>Связывают атмосферный азот, обогащая почву азотными удобрениями;</li>
        <li>Участвуют в образовании полезных ископаемых (железорудные, торфо- и угольные месторождения);</li>
        <li>В симбиозе с жвачными животными кишечная палочка разлагает целлюлозу, в кишечнике млекопитающих синтезируют витамины группы В и витамин К.</li>
        <li>Вызывают инфекционные заболевания человека<strong><u>(тиф, паратиф, дизентерия, бруцеллез, холера, чума, сибирская язва, коклюш, туберкулез, дифтерия, скарлатина, столбняк, сифилис, гонорея).</u></strong></li>
    </ol>
    <h3 class="text-center"><strong>Болезнетворные бактерии и способы борьбы с ними.</strong></h3>
    <p>
        <em>Пути попадания бактерий в организм человека: </em>
        <ol type="1">
            <li>Воздушно-капельный;</li>
            <li>Контактно-бытовой;</li>
            <li>Алиментарный (через воду и продукты питания);</li>
            <li>Половой;</li>
            <li>Трансплацентарный (через плаценту от матери к ребенку);</li>
            <li>Вертикальный (от матери к ребенку во время родов);</li>
            <li>Трансмиссионный (через укусы насекомых).</li>
        </ol>
    </p>
    <p>
        <em>Меры борьбы:</em>
        <ol type="1">
            <li><strong>Пастеризация</strong> -  процесс уничтожения основных болезнетворных в жидких средах, пищевых продуктах путём однократного и непродолжительного их нагрева до температур ниже 100 °C,[1] обычно путём нагревания до 60-70° в течение 20-30 минут.</li>
            <li>
                <strong>Стерилизация</strong> - полное освобождение различных веществ, предметов, пищевых продуктов от бактерий.
            </li>
            <li>
                <strong>Автоклавирование</strong>  – обработка хирургических инструментов, перевязочного материала, химической посуды и других материалов горячим паром при повышенном давлении. Автоклавирование – частный случай стерилизации.
            </li>
            <li>
                <strong>Дезинфекция</strong> – уничтожение бактерий с помощью различных химических веществ (формалин, перекись водорода, спирт, йод и др.).
            </li>
            <li>
                Проведение медикаментозного лечения, используя <strong>нтибиотики, вакцины, сыворотки.</strong>
            </li>
            <li>
                Ликвидация очагов заболевания, соблюдение правил гигиены и проведение санитарно-просветительской работы среди населения.
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong><u><em>Цианобактерии (оксифотобактерии).</em></u></strong></h3>
    <p>
        Древнейшая группа фотосинтезирующий прокариот, окрашенных в сине-зеленый цвет. <strong>Среда обитания: </strong> пресные и соленые водоемы, горячие источники, поверхность почвы, скалы.
    </p>
    <p>
        <strong>Представители: </strong>носток, анабена, ривулярия, микроцистис, лингбия, хроококк, осциллятория, глеокапса.
    </p>
    <p>
        <em>Отличия от настоящих бактерий:</em>
        <ol type="1">
            <li>Не имеют жгутиков;</li>
            <li>Имеют хлорофилл, каротиноиды (пигменты желто-оранжевого цвета) и фикобилины (красный пигмент фикоэритрин и синий пигмент фикоцианин) и способны выделять кислород в процессе фотосинтеза;</li>
            <li>Есть колониальные и многоклеточные (нитчатые) формы.</li>
        </ol>
    </p>
    <p>
        У нитчатых форм есть специализированные клетки <strong>гетероцисты</strong> – клетки с сильно утолщенными, бесцветными, двухслойными оболочками. Функции: участвуют в фиксации атмосферного азота, участвуют в размножении. Цианобактерии, обитающие в поверхностных слоях воды имеют в клетках <strong>газовые вакуоли </strong>(функция: регулируют плавучесть), а при потере плавучести всплывают и окрашивают воду в сине-зеленый цвет («цветение воды»), при этом выделяя в большом количестве токсичные вещества, вызывая массовую гибель других организмов («замор рыбы»).
    </p>
    <h3 class="text-center"><strong>Размножение:</strong></h3>
    <p>
        Основными способами размножения являются<strong> деление клетки надвое</strong> (одноклеточные и колониальные формы), <strong>деление нити надвое</strong> (нитчатые формы).
    </p>
    <h3 class="text-center"><strong>Значение цианобактерий:</strong></h3>
    <p>
        <ol type="1">
            <li>Источники стоматолитов – слоистых меловых отложений, образующихся при поглощении цианобактериями кальция.</li>
            <li>Являются компонентами лишайников (в симбиозе с грибами).</li>
            <li>Вызывают «цветение воды».</li>
            <li>Выделяют в процессе фотосинтеза кислород.</li>
            <li>Носток и спирулина используются в пищу животными и человеком.</li>
            <li>Фиксируют атмосферный азот и обогащают им почву.</li>
            <li>Корм для зоопланктона и рыб.</li>
            <li>Используются для получения аминокислот и витамина В<sub>12</sub></li>
        </ol>
    </p>
</div>

<div class="container">
    <a href=@Url.Action("Test2","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>