<div class="container">
    <p><strong>Выделение</strong> – совокупность физиологических процессов, обеспечивающих удаление из организма продуктов диссимиляции.</p>
    <p>В выделении продуктов обмена участвуют почки, легкие, потовые железы и желудочно-кишечный тракт. Диоксид углерода и пары воды выделяются с выдыхаемым воздухом через легкие. Основное количество воды и растворенные в ней мочевина, мочевая кислота и минеральные соли выводятся с мочой через почки, в меньшем количестве – через потовые железы с потом и в небольшом количестве – с калом.</p>
    <p><em><u>Ход мочи по выделительной системе от места образования до места выделения:</u></em> почки – мочеточники – мочевой пузырь – мочеиспускательный канал – мочевыделительной отверстие (уретра).</p>
    <p><strong>Почки</strong> – парный орган бобовидной формы. Расположены в поясничном отделе по бокам от позвоночника, длина 10–12 см, ширина 5–6 см, толщина 4 см, масса 120–200 г.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>На вогнутой стороне находятся <em>ворота почки,</em> через которые входят почечные артерии, нервы, лимфатические сосуды; выходят мочеточник, почечные вены, нервы, лимфатические сосуды.</p>
                <p>К верхним полюсам обеих почек прилежат надпочечники. Почка покрыта <em>фиброзной капсулой</em> – плотной соединительно-тканной оболочкой, которая сращена с веществом почки. Строму почки составляет рыхлая соединительная ткань. Паренхима органа представлена нефронами. На продольном разрезе почки виден более темный наружный – корковый – слой и более светлый внутренний <em>мозговой.</em> Мозговой слой (лежит кнутри от коркового) образует 15–20 пирамид, вершины которых обращены в полость <em>– почечную лоханку.</em> Между пирамидами в виде столбиков располагается корковое вещество. Пирамида с прилежащим участком коркового вещества образует <em>долю почки.</em></p>
            </div>
            <div class="col">
                <img src="~/Images/thema40/Почка.png" alt="Почка" class="rounded" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <p><strong>N.B.!!!</strong> В корковом находятся капсулы нефронов, сосудистые клубочки, извитые канальцы, в мозговом – петли нефронов и собирательные трубочки.</p>
    <p>От почечной лоханки отходит мочеточник, длина составляет 30–35 см. Мочеточники открываются в мочевой пузырь – полый гладкомышечный орган, расположенный в полости малого таза, служит для накопления и выведения мочи, объем– около 750 мл. По мере наполнения мочой мочевой пузырь растягивается, а затем периодически опорожняется. </p>
    <p>От мочевого пузыря начинается мочеиспускательный канал, заканчивающийся выводным отверстием. Женский мочеиспускательный канал короткий (длина 3–4 см), относительно широкий (7–8 мм), имеет почти прямолинейный ход, хорошо растяжим. Мужской мочеиспускательный канал имеет длину до 18 см, он уже, менее растяжим, образует S-образный изгиб.</p>
    <p>
        Функции почек:
        <ol type="1">
            <li>Образование и выведение мочи, содержащей продукты распада, которые удаляются из организма;</li>
            <li>Участие в регуляции объема крови, лимфы и тканевой жидкости, кислотно-щелочного равновесия, в поддержании артериального давления, обмене белков углеводов и жиров;</li>
            <li>Синтез биологически активных веществ <strong>(ангиотензин</strong> (регулирует АД), <strong>эритропоэтин</strong> (отвечает за созревание эритроцитов: превращение ретикулоцита (молодой эритроцит, содержащий ядро в зрелый безъядерный эритроцит)), <strong>простагландины</strong> (запускают процесс воспаления), <strong>ренин</strong> (регулирует АД, <strong>N.B.!!!</strong> не путать с ферментом реННином));</li>
            <li>Являются регуляторами системы свертывания крови и фибринолиза;</li>
            <li>Поддержание гомеостаза.</li>
        </ol>
    </p>
    <p>Структурно-функциональная единица почки – <em>нефрон.</em> В почке содержится около 1 млн нефронов.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Строение нефрона.</strong> Капсула Шумлянского – Боумена (в виде двухслойной чаши), в которой находится клубочек капилляров, и системы канальцев. От капсулы нефрона отходит извитой каналец первого порядка (нисходящая часть нефрона), который идет к мозговому слою и, выпрямляясь, образует петлю Генле (средняя часть нефрона). Петля возвращается в корковое вещество и там образует извитой каналец второго порядка (восходящая часть нефрона), впадающий в собирательную трубочку. Собирательные трубочки сливаются и открываются в полость лоханки. </p>
                <p><em><u>Ход мочи по нефрону:</u></em> капиллярный (сосудистый) клубочек (процесс фильтрация, образование первичной мочи) – извитой каналец первого порядка (процесс реабсорбция) – петля Генле (процесс реабсорбция) – извитой каналец второго порядка (процесс реабсорбция, образование вторичной мочи) – собирательная трубочка.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema40/Строение нефрона.png" alt="Строение нефрона" class="rounded" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <p><u>Ход мочи по нефрону:</u> капиллярный (сосудистый) клубочек (процесс фильтрация, образование первичной мочи) – извитой каналец первого порядка (процесс реабсорбция) – петля Генле (процесс реабсорбция) – извитой каналец второго порядка (процесс реабсорбция, образование вторичной мочи) – собирательная трубочка.</p>
    <p><strong>Кровоснабжение нефрона.</strong> Почечная артерия – артериолы – капиллярная сеть первого порядка – выносящая артериола – капиллярная сеть второго порядка – венулы – почечная вена. </p>
    <p>Отходящая от брюшной аорты почечная артерия распадается на большое число более мелких приносящих артерий. Подходя к нефрону, приносящая артерия внутри капсулы Шумлянского – Боумена образует клубочек капилляров (капиллярная сеть первого порядка). Клубочки собираются в выносящую артерию (диаметр в 2 раза меньше, чем у приносящей артериолы), которая выходит из капсулы. Выносящая артерия вокруг извитых канальцев образует капиллярную сеть второго порядка. Капилляры сливаются в венулы, венулы в мелкие вены, а те – в почечную вену.</p>
    <p>
        <strong>Этапы образования мочи:</strong>
        <ol type="1">
            <li><em>Фильтрация.</em> Через стенки капилляров клубочка (капиллярная сеть первого порядка) в полость капсулы Шумлянского – Боумена фильтруется плазма крови <strong>(без белков).</strong> В результате фильтрации образуется<em>первичная моча</em> (по составу она сходна с плазмой крови, но в ней отсутствуют белки и содержатся продукты диссимиляции и необходимые организму вещества – глюкоза, аминокислоты, минеральные соли, витамины). В сутки ее образуется 150–180 л. Из капсулы клубочка первичная моча поступает в извитой каналец.</li>
            <li><em>Реабсорбция.</em> Из первичной мочи, находящейся в просвете канальца, в капиллярную сеть второго порядка происходит всасывание большей части воды и необходимых организму веществ (глюкозы, аминокислот, ионов натрия, калия, витаминов). Клетки канальцевой части нефрона обладают способностью выделять некоторые вещества (органические кислоты, лекарственные препараты) непосредственно из крови. В результате реабсорбции и канальцевой секреции образуется <em>вторичная моча.</em> В сутки образуется около 1,5 л вторичной мочи.</li>
        </ol>
    </p>
    <p><em>Состав вторичной мочи:</em> вода, мочевина, мочевая кислота, аммиак, сульфаты. </p>
    <p>з канальцев вторичная моча собирается в почечную лоханку, затем по мочеточнику поступает в мочевой пузырь, из него по мочеиспускательному каналу периодически выводится наружу.</p>
    <p><strong>Нервная регуляция работы почек.</strong> Осуществляется вегетативной нервной системой: почки иннервируются волокнами симпатической и парасимпатической частей. Возбуждение симпатических нервов почки приводит к сужению почечных сосудов. Если происходит сужение приносящих артериол, то фильтрация плазмы замедляется; если сужаются выносящие артериолы, то фильтрация плазмы усиливается. Центр мочеиспускания находится в крестцовом отделе спинного мозга.</p>
    <p>
        <strong>Гуморальная регуляция работы почек.</strong>
        <ol type="1">
            <li>Гормон гипофиза вазопрессин (антидиуретический гормон) усиливает процесс реабсорбции и уменьшает мочеотделение;</li>
            <li>Гормон надпочечников альдостерон (антагонист вазопрессина);</li>
            <li>Гормон щитовидной железы тироксин усиливает мочеотделение; </li>
            <li>Гормон мозгового вещества надпочечников адреналин уменьшает мочеотделение.</li>
        </ol>
    </p>
</div>

<div class="container">
    <a href=@Url.Action("Test40","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>