<div class="container">
    <h3 class="text-center"><strong>Современная (синтетическая) теория эволюции.</strong></h3>
    <p>
        <u>Основные постулаты:</u>
        <ol type="1">
            <li>Элементарный эволюционный материал – <em>мутации</em> (носят случайный и ненаправленный характер).</li>
            <li>Элементарные эволюционные факторы – <em>мутации и рекомбинации</em> (комбинативная изменчивость), <em>изоляция, популяционные волны, дрейф генов, определенную роль играют модификации.</em></li>
            <li>Элементарная эволюционирующая единица – <em>популяция.</em></li>
            <li>Элементарное эволюционное явление – <em>изменение генофонда популяции на протяжении нескольких поколений в одном и том же направлении.</em></li>
            <li>Движущие силы эволюции – <em>борьба за существование и естественный отбор. </em></li>
            <li>Эволюция носит <em>дивергентный характер</em> (один таксон может стать предком нескольких дочерних таксонов).</li>
            <li>Эволюция носит постепенный и длительный характер.</li>
            <li><em>Вид</em> существует как <em>целостное и замкнутое образование.</em> Целостность поддерживается миграциями особей, при которых наблюдается обмен аллелями (поток генов).</li>
            <li>Закономерности <em>макроэволюции</em> (образование крупных таксонов) и микроэволюции (эволюционный процесс внутри вида) идентичны. </li>
        </ol>
    </p>
    <p>
        <strong>Элементарные эволюционные факторы. </strong>
        <ol type="1">
            <li>
                <em>Генотипическая изменчивость.</em>
                <p><em>Рекомбинации</em> – появление новых признаков у потомков, в результате новых сочетаний генов родителей.</p>
                <p><em>Мутации</em> – внезапное, скачкообразное и устойчивое изменение структуры генетического материала. Частота мутирования одного гена – 10<sup>-5</sup>–10<sup>-7</sup> на поколение. Поскольку у высших организмов большое количество генов (десятки тысяч) до 10% всех гамет несут мутантные гены. Большинство мутаций являются рецессивными и не проявляются фенотипически. Только после достаточного накопления в популяции с появлением рецессивных гомозигот мутации начинают подвергаться действию естественного отбора.</p>
                <p><em>Доминантные</em> мутации сразу проявляются фенотипически и подпадают под действие естественного отбора. Если данная мутация повышает приспособленность организма к среде обитания, она будет поддерживаться естественным отбором, а если снижает – элиминироваться (удаляться). Появившиеся в популяции наследственные изменения составляют резерв наследственной изменчивости. Они постепенно распространяются среди особей благодаря скрещиванию, и популяция оказывается насыщенной ими.</p>
                <p><strong>Мутации и рекомбинации являются материалом для естественного отбора.</strong></p>
                <p><em>Модификации.</em> Широкая норма реакции способствует адаптации отдельных особей и вида в целом. Более высокая выживаемость увеличивает вероятность передачи генетической информации в следующее поколение и повышает генетическое разнообразие. </p>
            </li>
            <li>
                <em>Миграция (поток генов)</em> – изменение генетической структуры популяции, вследствие эмиграции – расселения особей популяции за ее пределы, и иммиграции – притока особей из других популяций.
            </li>
            <li><em>Популяционные волны (волны жизни)</em> – это регулярные колебания численности популяций, связанные с периодическими изменениями интенсивности факторов внешней среды (сменой времен года, засухой, заморозками, количеством пищи). Впервые изучены С.С. Четвериковым. При снижении численности популяции из ее генофонда могут исчезнуть редкие аллели, а при возрастании численности популяции частота редких аллелей может значительно возрасти. Таким образом, популяционные волны способствуют изменению частот генов в популяциях, т.е являются поставщиком эволюционного материала. </li>
            <li>
                <em>Дрейф генов</em> – это случайные колебания частот генов в малых популяциях. Примером дрейфа генов может служить рождение нескольких (5–10) девочек в семье, хотя теоретическая частота рождения девочки или мальчика 1:1. Преждевременная случайная гибель одной особи в малой популяции, обладающей единственным конкретным геном, приведет к исчезновению этого гена из популяции, что изменит ее генофонд. Дрейф генов в малых популяциях непредсказуем, он может привести популяцию к гибели или повысить ее приспособленность к конкретным условиям среды.
                <p><strong>Популяционные волны, поток генов и дрейф генов возникают в результате случайных процессов и вносят вклад в эволюционные преобразования генетической структуры популяции.</strong></p>
            </li>
            <li><em>Изоляция</em> – важный элементарный эволюционный фактор, который предотвращает свободное скрещивание (панмиксию) особей разных популяций и подвидов между собой и приводит к расхождению признаков в пределах одного вида.</li>
        </ol>
    </p>
    <p>
        <u>Виды изоляции:</u>
        <ol type="I">
            <li><em>Географическая (пространственная/территориально-механическая)</em> разделяет единый ареал вида на разобщенные между собой части и препятствует свободному скрещиванию (появление гор, рек, проливов, перешейков, межвидовая борьба за существование). Вследствие невозможности скрещивания особей из отдельных изолированных популяций в каждой из них возникает свое направление эволюционного процесса, изменяющее генетическую структуру и приводящее в конечном итоге к видообразованию.</li>
            <li>
                <em>Биологическая</em> определяется всевозможными различиями организмов внутри вида, препятствующими к скрещиванию.
                <ol type="1">
                    <li>
                        <u>Экологическая изоляция.</u> Потенциальные партнеры по спариванию не встречаются.
                        <ol type="a">
                            <li><em>биотопическая</em> – выбор популяциями разных мест для размножения (популяции Севанской форели нерестятся в верховьях разных рек, впадающих в озеро).</li>
                            <li><em>сезонная</em> – половое созревание потенциальных партнеров по спариванию наступает не одновременно, либо особи размножаются в разное время (популяции четных и нечетных лет тихоокеанских лососей).</li>
                        </ol>
                    </li>
                    <li>
                        <u>Морфофизиологическая изоляция.</u> Невозможность оплодотворения вследствие несоответствия брачного ритуала <em>(поведенческая/этологическая),</em> отличий в строении половых органов <em>(морфологическая)</em> либо гибели гамет в половых путях другого вида <em>(физиологическая).</em>
                    </li>
                    <li><u>Генетическая изоляция.</u> Существенные отличия скрещивающихся пар в строении и числе хромосом, в результате чего наблюдается нежизнеспособность или бесплодность гибридных организмов.</li>
                </ol>
            </li>
        </ol>
    </p>
    <p><strong>Движущие силы эволюции</strong> – борьба за существование и естественный отбор, который является следствием борьбы за существование.</p>
    <p><u>Борьба за существование</u> – сложный процесс противоречивых взаимодействий особей одного и разных видов, которых через уничтожение менее приспособленных организмов ведет к естественному отбору. Закономерным следствием борьбы за существование является снижение численности особей каждого поколения.</p>
    <p><em>Главная причина борьбы за существование по Ч. Дарвину:</em> размножение организмов в геометрической прогрессии и ограниченность средств существования (пища, территория). По современным представлениям, борьба за существование – явление очень сложное и многогранное.</p>
    <p>
        <strong>Формы борьбы за существование:</strong>
        <ol type="1">
            <li><u>Прямая борьба</u> – непосредственное столкновение организмов друг с другом (хищник–жертва, паразит–хозяин, самцов за самку).</li>
            <li><u>Конкуренция</u> – взаимодействие между живыми организмами, которым необходимы одинаковые биологические потребности при невозможности их полного удовлетворения.</li>
        </ol>
    </p>
    <p>
        <em>Разновидности конкуренции:</em>
        <ol type="1">
            <li>
                <strong>Трофическая конкуренция</strong> – вид конкуренции, который обусловлен потребностями в одинаковой пище при ее недостатке.
                <ol type="a">
                    <li><em>Внутривидовая.</em> Наиболее острая, т.к. в нее вступают особи с практически одинаковыми потребностями. Внутривидовая конкуренция может быть индивидуальной и групповой (конкуренция за пищу между двумя семьями волков).</li>
                    <li><em>Межвидовая.</em> Происходит между особями разных видов за одинаковую пищу при ее недостатке. Принцип Гаузе: виды с одинаковыми биологическими потребностями не могут длительно существовать на одной территории. </li>
                </ol>
            </li>
            <li>
                <strong>Топическая конкуренция</strong> – вид конкуренции, который охватывает отношения между организмами, обитающими в одной среде, когда они подвергаются действию общих абиотических факторов (высокая или низкая температура, засуха). Происходит НЕ между организмом и фактором, а между самими организмами на фоне общего фактора.
            </li>
            <li>
                <strong>Репродуктивная конкуренция</strong> – вид конкуренции, который выражается в борьбе за воспроизведение потомства (борьба особей одного вида за партнера для спаривания, за пищу для потомства). Является причиной совершенствования первичных и вторичных половых признаков, способов оплодотворения, увеличения запаса питательных веществ в яйцеклетках, улучшения выкармливания и защиты потомства.
            </li>
        </ol>
    </p>
    <p><strong>Борьба за существование является предпосылкой и необходимым условием для естественного отбора. </strong></p>
    <p><strong>Естественный отбор</strong> – движущая сила эволюции; единственный фактор, имеющий направление. Многообразие форм и направлений отбора обуславливает его творческую роль в процессе эволюции.</p>
    <p>
        <strong>Формы естественного отбора:</strong>
        <div class="container">

            <div class="row">
                <div class="col">
                    <ol type="1">
                        <li><em>Движущий отбор</em> – форма естественного отбора, наблюдающаяся при постоянном изменении факторов внешней среды в определенном направлении. Устраняет неприспособленные формы и сохраняет отклонения, приспосабливающие организмы к изменяющимся условиям; происходит постепенная смена нормы реакции (вытеснение темноокрашенной формой бабочки березовой пяденицы исходной светлой формы, происходящее в окрестностях промышленных городов Англии вследствие потемнения стволов берез от сажи и копоти – индустриальный меланизм; редукция глаз у кротов; редукция пищеварительной системы у ленточных червей; адаптация сорняков к ядохимикатам).</li>
                    </ol>
                </div>
                <div class="col">
                    <img src="~/Images/thema54/Движ.отбор.png" class="rounded" width="100%" height="100%" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ol type="1" start="2">
                        <li><em>Стабилизирующий отбор</em> – форма естественного отбора, наблюдающаяся при постоянстве условий окружающей среды, направленная на сохранение в популяции среднего значения признака и удаление крайних вариантов – норма реакции сужается (в тропиках сохранились растения, способные существовать в узком диапазоне температур (25…35 °С); формирование покровительственной окраски, сохранение длительное время реликтовых видов (латимерия, акулы, скорпионы).</li>
                    </ol>
                </div>
                <div class="col">
                    <img src="~/Images/thema54/Стабилизирующий отбор.png" class="rounded" width="100%" height="100%" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ol type="1" start="3">
                        <li><em>Дизруптивный (разрывающий) отбор</em> – форма естественного отбора, протекающая на фоне резкого изменения условий существования, направленная против среднего значения признака и благоприятствующая двум или нескольким направлениям изменчивости (сохранение на открытых океанических островах либо бескрылых насекомых, либо насекомых с мощными крыльями, позволяющими противостоять порывам ветра). Дизруптивный отбор способствует дивергенции (расхождению признаков). </li>
                    </ol>
                </div>
                <div class="col">
                    <img src="~/Images/thema54/Дизруптивный (разрывающий) отбор.png" class="rounded" width="100%" height="100%" />
                </div>
            </div>
        </div>
    </p>
    <p>
        <strong>Различия между естественным и искусственным отборами:</strong>
        <ol type="1">
            <li>Предпосылками и движущими силами эволюции культурных форм являются наследственная изменчивость и искусственный отбор, а эволюции видов в природе – наследственная изменчивость и естественный отбор.</li>
            <li>Темпы эволюции культурных форм значительно выше, чем видов в природе.</li>
            <li>Результатом эволюции культурных форм является многообразие сортов растений и пород животных, а природных форм – многообразие видов.</li>
            <li>Культурные формы приспособлены к нуждам человека, а природные формы – к условиям окружающей среды.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Виды адаптации организмов к среде обитания как результат эволюции.</strong></h3>
    <p><strong>Адаптация</strong> – результат отбора генов, способствующих лучшему выживанию в данных условиях.</p>
    <p>Адаптированный (приспособленный) организм характеризуется <strong>адаптативной нормой реакции,</strong> которая включает в себя <em>конкурентоспособность</em> (победа в борьбе за существование), <em>жизнеспособность</em> (нормальное развитие в привычной среде обитания) и фертильность (способность к нормальному размножению).</p>
    <p>
        <strong>Виды адаптаций:</strong>
        <ol type="I">
            <li>
                <strong><em>Организменные</em></strong> – виды адаптаций, присущие каждому организму данного вида и обеспечивающие выживание организма в определенных условиях среды.
                <ol type="1">
                    <li>
                        <em>Морфологические адаптации</em> – средства пассивной защиты и особенности строения конечностей, ормы тела и т.д.
                        <ul>
                            <li>твердые защитные покровы животных (хитиновый покров членистоногих, раковина моллюсков, роговые чешуи рептилий, панцирь черепах);</li>
                            <li>жгучие волоски (крапива, шалфей, боярышник);</li>
                            <li>иглы и колючки (кактус, молочай, шиповник, акация, еж, дикобраз);</li>
                            <li>наличие покровных тканей у растений;</li>
                            <li>обтекаемая форма тела (рыбы, птицы, дельфины);</li>
                            <li><u>покровительственная окраска</u> – вид окраски, которая делает организмы менеезаметными на фоне окружающей местности (белый цвет зайца-беляка и горностаев зимой, темная окраска бабочек березовых пядениц в окрестностях больших городов);</li>
                            <li><u>маскировка</u> – приспособления, при которых форма тела и окраска сливаются с окружающей средой (гусеницы некоторых бабочек по форме тела и окраске напоминают сучки; насекомые, живущие на коре деревьев, похожи на лишайники);</li>
                            <li><u>мимикрия</u> – уподобление менее защищенного организма одного вида более защищенному организму другого вида (один из видов тараканов очень похож на божью коровку (она несъедобна); многие виды неядовитых змей и насекомых похожи на ядовитых, осовидные мухи);</li>
                            <li><u>предупреждающая (предостерегающая) окраска</u> характерна для некоторых относительно защищенных организмов (яркие пятна или полосы ядовитых и жалящих животных (осы, пчелы, змеи);</li>
                            <li><u>угрожающая окраска</u> (яркие пятна на брюшке хомяка, глазчатого бражника).</li>
                        </ul>
                    </li>
                    <li><em>Физиологические адаптации</em> – приспособления по физиологически процессам (постоянная температура тела теплокровных животных обеспечивает возможность жизни в различных климатических условиях; жабры позволяют рыбам использовать для дыхания растворенный в воде кислород, а легкие наземным животным – кислород воздуха, большая плодовитость – приспособление к значительному уничтожению (тля, мелкие рыбы).</li>
                    <li><em>Биохимические адаптации</em> – приспособления на уровне отдельных молекул, обеспечивающие упорядоченный обмен веществ (фотосинтез, биосинтез белков) и синтез веществ, облегчающих защиту от врагов или нападение на другие организмы (яды змей и скорпионов, антибиотики грибов и бактерий).</li>
                    <li><em>Поведенческие (этологические) адаптации</em> – адаптативное поведение: врожденное (инстинкты, безусловные рефлексы) и приобретенное (условные рефлексы, навыки). </li>
                </ol>
            </li>
            <li>
                <strong><em>Видовые адаптации</em></strong> – это морфофизиологические и поведенческие признаки особей и особенности организации вида, способствующие существованию его как целостной системы.
                <ul>
                    <li>соответствие в строении половых органов самцов и самок;</li>
                    <li>поведение в брачный период (скопление особей на нерестилищах, токах, лежбищах);</li>
                    <li>объединение хищников в стаи для добывания пищи, животных – в стада при неблагоприятных условиях (пингвины в холодную зиму).</li>
                </ul>
                <p>Появляющиеся в ходе эволюции приспособления не абсолютны; их целесообразность относительна, так как они полезны только в определенных условиях (белая окраска некоторых животных спасает их от хищников только на снегу, а если снег не выпал, они очень хорошо видны; жабры рыб обеспечивают дыхание только в водной среде и совершенно непригодны для газообмена на суше).</p>
            </li>
        </ol>
    </p>
    <h3><strong>Видообразование. Способы видообразования.</strong></h3>
    <p><strong>Видообразование</strong> – историческая смена видов во времени, массовый процесс адаптации, осуществляемый в популяции или группе популяций под контролем естественного отбора. Это процесс превращения генетически открытых систем (популяции), в генетически закрытые системы (виды).</p>
    <p>
        <u>Условия, способствующие видообразованию:</u>
        <ol type="1">
            <li>Интенсивный мутационный процесс в популяциях вида;</li>
            <li>Большая плодовитость особей вида;</li>
            <li>Широкое расселение вида в природе;</li>
            <li>Изменение условий обитания;</li>
            <li>Изоляция (географическая или экологическая разобщенность вида).</li>
        </ol>
    </p>
    <p><strong>Главный признак нового вида</strong> – репродуктивная изоляция (нескрещиваемость с особями другого вида). </p>
    <p>
        <u>Формы видообразования:</u>
        <ol type="1">
            <li><em>Прямолинейная</em> (новый вид образуется в результате постепенного преобразования исходного вида);</li>
            <li><em>Дивергентная</em> (расхождение признаков в пределах популяции или вида, возникающее под действием естественного отбора).</li>
        </ol>
    </p>
    <p>
        <u>Последовательность событий при видообразовании:</u>
        <ol type="1">
            <li>Изменение среды обитания или положения вида (популяции) в ней;</li>
            <li>Изменение направлений естественного отбора соответственно новым условиям борьбы за существование;</li>
            <li>Отбор особей, наследственные изменения которых позволяют им осваивать новые территории (место обитания).</li>
        </ol>
    </p>
    <p>
        <strong>Способы видообразования:</strong>
        <ol type="1">
            <li>
                <em>Аллопатрическое (географическое) видообразование.</em> Новые виды возникают из популяций, занимающих <strong>РАЗНЫЕ</strong> географические ареалы (разрыв ареала на части реками, горами, ледниками, расселение вида на новые территории).
                <p>
                    Этапы:
                    <ul>
                        <li>расселение вида за пределы ареала;</li>
                        <li>географическая изоляция между популяциями;</li>
                        <li>возникновение подвидов;</li>
                        <li>биологическая изоляция подвидов;</li>
                        <li>возникновение новых видов.</li>
                    </ul>
                </p>
                <p>
                    Примеры:
                    <ul>
                        <li>уникальная флора и фауна о. Байкал, т.к. оно не сообщается с другими водоемами 20 млн. лет;</li>
                        <li>ландыш майский (европейский, закавказский, дальневосточный);</li>
                        <li>подвиды синицы большой (евроазиатский, южноазиатский, восточноазиатский).</li>
                    </ul>
                </p>
            </li>
            <li>
                <em>Симпатрическое (экологическое) видообразование.</em> Новый вид зарождается <strong>В ПРЕДЕЛАХ ТОГО ЖЕ</strong> ареала, на котором существовал предковый вид в результате приспособления к существованию в разных экологических нишах: разделение популяций из-за разного времени цветения, нереста, различного питания.
                <p>
                    Этапы:
                    <ul>
                        <li>освоение новых экологических ниш;</li>
                        <li>отбор в новых условиях среды;</li>
                        <li>возникновение подвидов;</li>
                        <li>биологическая изоляция подвидов;</li>
                        <li>возникновение новых видов.</li>
                    </ul>
                </p>
                <p>
                    Примеры:
                    <ul>
                        <li>образование нового вида речного окуня при расширении его ареала в более глубокие слои воды той же реки;</li>
                        <li>образование новых подвидов фитопатогенных грибов в результате их приспособления к новым питающим хозяевам;</li>
                        <li>возникновение подвидов погремка большого в результате скашивания травы в середине лета, что приводит к образованию разных популяций погремка, изолированных по срокам цветения;</li>
                        <li>полиплоидия (3n, 4n) и отдаленная гибридизация (мул, тритикале).</li>
                    </ul>
                </p>
            </li>
        </ol>
    </p>
    <h3><strong>Основные направления эволюционного процесса. Арогенез, аллогенез, катагенез.</strong></h3>
    <p><strong>Макроэволюция</strong> – это процесс эволюционных преобразований надвидового масштаба, который приводит к возникновению высших систематических групп: из видов – новых родов, из родов – новых семейств и т. д.</p>
    <p>Макроэволюция совершается на основе микроэволюционных процессов, происходящих на больших пространствах в течение длительного времени. В основе макро- и микроэволюции лежат одни и те же эволюционные процессы.</p>
    <p>Историческое развитие живой природы проходило по восходящей линии от низших форм к высшим, от простого к сложному, т. е. носило прогрессивный характер. Наряду с этим эволюционный процесс непрерывно шел в направлении максимального приспособления организмов к условиям окружающей среды. Смена условий существования сопровождалась заменой одних приспособлений на другие. А.Н. Северцов и И.И. Шмальгаузен разработали учение о главных направлениях эволюционного процесса – биологическом прогрессе и биологическом регрессе.</p>
    <p><strong>Биологический прогресс</strong> – возрастание приспособленности организмов к окружающей среде.</p>
    <p>
        <u>Характерные черты биологического прогресса:</u>
        <ol type="1">
            <li>Увеличение численности особей вида;</li>
            <li>Расширение ареала обитания;</li>
            <li>Образование новых популяций, подвидов, видов.</li>
        </ol>
    </p>
    <p><strong>Биологический регресс</strong> – снижение уровня приспособленности к условиям обитания.</p>
    <p>
        <u>Характерные черты биологического регресса:</u>
        <ol type="1">
            <li>Снижение численности особей вида;</li>
            <li>Сужение ареала обитания;</li>
            <li>Уменьшение числа и разнообразия популяций;</li>
            <li>Конкурентное исключение видов из занимаемых экологических ниш;</li>
            <li>Упрощение организации организмов;</li>
            <li>Ведет к вымиранию (древовидные папоротники, древние земноводные и пресмыкающиеся).</li>
        </ol>
    </p>
    <p>Биологический прогресс может быть достигнут следующими путями: морфофизиологическим прогрессом (арогенез и аллогенез) или морфофизиологическим регрессом (катагенез).</p>
    <p><strong>Арогенез</strong> (от греч. airo – поднимаю и genesis – развитие) – это путь развития группы организмов, которые приобрели эволюционные изменения, ведущие к усложнению строения и функций организмов, повышающие общий уровень их организации, что позволило им выйти в другую адаптивную зону. Конкретные морфофизиологические изменения, определяющие арогенез, называются <em>ароморфозами</em> (развитие кровеносной системы от пульсирующей брюшной аорты ланцетника к двух-, трех- и четырехкамерному сердцу у высших позвоночных).</p>
    <p>
        <u>Свойства ароморфозов:</u>
        <ol type="1">
            <li>Всегда ведут к биологическому прогрессу.</li>
            <li>Дают возможность перехода в новую адаптативную зону.</li>
            <li>Не являются приспособлением к конкретным условиям среды.</li>
            <li>Сохраняются при дальнейшей эволюции группы.</li>
            <li>Лежат в основе появления крупных систематических групп (типов, классов, отделов).</li>
        </ol>
        <img src="~/Images/thema54/ароморфоз.png" class="rounded" width="100%" height="100%" />
    </p>
    <p><strong>Аллогенез</strong> (от греч. allo – разный и genesis – развитие) – это путь эволюции группы организмов, представляющий собой мелкие эволюционные изменения, приспосабливающие организмы к конкретным условиям существования, но не повышающие общий уровень организации. Их называют <em>идиоадаптациями/алломорфозами</em> (разнообразие видов птиц, связанное преимущественно с преобразованиями клюва и крыльев).</p>
    <p>
        <u>Свойства алломорфозов:</u>
        <ol type="1">
            <li>Не поднимают общий уровень организации.</li>
            <li>Обычно не сохраняются при дальнейшей эволюции группы.</li>
            <li>Являются основой для возникновения мелких таксономических единиц (видов, родов и семейств).</li>
            <li>Возникают на основе ароморфоза, при выходе в новую адаптативную зону.</li>
            <li>Приспособление к конкретным условиям среды.</li>
        </ol>
    </p>
    <p><em>Специализация</em> – крайняя степень приспособления к ограниченным условиям существования. Приводит к биологическому прогрессу, но подавляет эволюционные возможности вида и при быстром изменении условий среды может вести к регрессу (вымирание древних ящеров).</p>
    <p><strong>Катагенез</strong> – особый путь эволюции, сопровождающийся упрощением организации организмов, связанный с проникновением их в более простую среду обитания (переход многих видов к паразитическому образу жизни приводит к потере большинства органов чувств, упрощению строения нервной системы, утрате пищеварительной системы). Этот путь эволюции А.Н. Северцов назвал <em>общей дегенерацией.</em></p>
    <p><strong>Закон А. Северцова:</strong> За арогенезом всегда следует аллагенез.</p>
    <p>Арогенезы возникают в процессе эволюции сравнительно редко и всегда ведут к появлению новых, более высокоорганизованных форм, способных приспосабливаться к другим средам обитания. Далее эволюционный процесс идет по пути аллогенезов, которые позволяют организмам обживать новые экологические ниши. Например, класс птиц произошел в результате арогенезов (четырехкамерное сердце, совершенная система терморегуляции), а приспособление их к конкретным условиям существования осуществлялось в результате аллогенезов (различное строение крыльев, клюва и т.п.). В некоторых случаях биологический прогресс достигается катагенезом (паразиты).</p>
    <h3><strong>Способы осуществления эволюционного процесса: дивергенция, конвергенция, параллелизм.</strong></h3>
    <p>
        <ol type="1">
            <li><strong>Филетическая эволюция (прямолинейное развитие)</strong> – постепенное изменение исходной группы организмов и превращение ее в новый таксон (филогенетический ряд лошади: лошадь: эогиппус – мезогиппус – меригиппус – плиогиппус – современная лошадь).</li>
            <li><strong>Дивергенция (расхождение признаков)</strong> – независимое приобретение различных признаков <strong>особями одной систематической группы</strong> в результате приспособления к разным условиям среды, вследствие изменения направления естественного отбора. Разделяет однородную группу организмов на самостоятельные ветви, отличающиеся друг от друга вариантом приспособления (различные виды вьюрков, обитающие на Галапагосских островах, отличающиеся формой клюва, как приспособление к питанию различной пищей). Дивергенция любого надвидового масштаба – результат действия изоляции и естественного отбора, <strong>приводит к возникновению гомологичных органов.</strong></li>
            <li>
                <strong>Параллелизм</strong> – независимое развитие сходных признаков в эволюции близкородственных групп. Обеспечивается реализацией закона гомологичных рядов. 
                <ol type="a">
                    <li><em>Синхронный параллелизм</em> – независимое развитие в сходном направлении родственных групп, живших в одно и то же время.</li>
                    <li><em>Асинхронный параллелизм</em> – независимое развитие в сходном направлении родственных групп, живших в разное время (саблезубость у кошачьих в процессе эволюции подсемейств возникала как минимум 4 раза).</li>
                </ol>
            </li>
            <li><strong>Конвергенция</strong> – процесс эволюционного развития <strong>в сходном направлении двух или нескольких неродственных групп организмов,</strong> в результате приспособления к сходным условиям среды (сходство обтекаемых форм тела акуловых и китообразных), приводит к появлению <strong>аналогичных органов.</strong></li>
            <li><strong>Коэволюция</strong> – процесс взаимного приспособления разных видов. Сопровождается биоценотическими ароморфозами: формирование микоризы, появление лишайников, возникновение фитоценозов, системы «паразит-хозяин», «хищник-жертва».</li>
        </ol>
    </p>
    <p><strong>Происхождение человека. Место человека в зоологической системе.</strong></p>
    <p>Человек как биологическое существо имеет следующее систематическое положение:</p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Тип</td>
                <td><strong>Хордовые</strong></td>
                <td>Подотряд</td>
                <td><strong>Антропоидные (человекоподобные)</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Подтип</td>
                <td><strong>Позвоночные</strong></td>
                <td>Группа</td>
                <td><strong>Узконосые обезьяны</strong></td>
            </tr>
            <tr>
                <td>Класс</td>
                <td><strong>Млекопитающие</strong></td>
                <td>Семейство</td>
                <td><strong>Гоминиды</strong></td>
            </tr>
            <tr>
                <td>Подкласс</td>
                <td><strong>Настоящие звери (Плацентарные)</strong></td>
                <td>Род</td>
                <td><strong>Человек</strong></td>
            </tr>
            <tr>
                <td>Отряд</td>
                <td><strong>Приматы (Князья)</strong></td>
                <td>Вид</td>
                <td><strong>Человек разумный</strong></td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Видовые признаки Человека разумного:</strong>
        <ol type="1">
            <li>Особенности строения скелета: преобладание мозгового отдела черепа над лицевым; высокий лоб; прямохождение, что обусловило ряд изменений в строении скелета (изгибы позвоночника, уплощенная грудная клетка, широкий таз, сводчатая стопа) и мускулатуры (сильное развитие мышц пояса и самих нижних конечностей: ягодичных, икроножных и др.); высокая степень противопоставления большого пальца на руке.</li>
            <li>Способность к изготовлению орудий труда, что позволяет современному человеку переходить от подчинения себе природы к разумному управлению ею;</li>
            <li>Высокая степень развития головного мозга (его масса в 2–2,5 раза больше массы мозга человекообразных обезьян), особенно коры переднего мозга с большим количеством борозд и извилин; значительное развитие теменных, лобных и височных долей, где сосредоточены важнейшие центры психической деятельности и речи.</li>
            <li>Способность к абстрактному мышлению, появление сознания и членораздельной речи (наличие второй сигнальной системы).</li>
            <li>Кариотип (44+XX у женщин, 44+XY у мужчин).</li>
        </ol>
    </p>
    <p><strong>Доказательства животного происхождения человека.</strong></p>
    <p>Современная система доказательств происхождения человека от животных основана на данных многих естественных наук: эмбриологии, сравнительной анатомии, палеонтологии.</p>
    <p>
        <u>Эмбриологические доказательства:</u>
        <div class="container">
            <p>Зародыш человека проходит стадии, имеющие признаки сходства с зародышами животных:</p>
            <ol type="1">
                <li>Строение зиготы напоминает строение протистов;</li>
                <li>Строение бластулы напоминает строение колониальных форм (вольвокс);</li>
                <li>Строение гаструлы напоминает строение кишечнополостных;</li>
                <li>На стадии закладки осевых органов зародыш имеет комплекс органов, характерный для хордовых: хорда – внутренний осевой скелет, над хордой – нервная трубка, под хордой – пищеварительная трубка;</li>
                <li>На стадии гисто- и органогенеза зародыш проходит стадии, характерные для филогенетически близких классов позвоночных (закладка жаберных щелей в глотке, как у рыб, задний отдел кишечника проходит стадию клоаки, как у земноводных и рептилий и др.).</li>
            </ol>
        </div>
    </p>
    <p>
        <u>Сравнительно-анатомические доказательства:</u>
        <ol type="I">
            <li>
                <strong>Сходства строения организмов взрослого человека и животных.</strong>
                <ol type="1">
                    <li><em><strong>Общие черты с типом Хордовые:</strong></em> закладка хорды; развитие над хордой нервной трубки; закладка под хордой кишечной трубки, передний конец которой (глотка) пронизан жаберными щелями; расположение сердца на брюшной стороне. </li>
                    <li><em><strong>Общие черты с подтипом Позвоночные:</strong></em> наличие позвоночника, черепа и челюстей, наличие головного и спинного мозга, наличие двух пар конечностей.</li>
                    <li><em><strong>Общие черты с классом Млекопитающие:</strong></em> наличие млечных, сальных и потовых желез; волосяного покрова; дифференцированных зубов; левой дуги аорты и четырехкамерного сердца; диафрагмы; хорошо развитой коры головного мозга; выкармливание детенышей молоком; 7 позвонков в шейном отделе; альвеолярные легкие; 3 слуховых косточки в полости среднего уха; наличие ушной раковины.</li>
                    <li><em><strong>Общие черты с подклассом Настоящие звери (Плацентарные):</strong></em> наличие плаценты; внутриутробное развитие зародыша.</li>
                    <li><em><strong>Общие черты с отрядом Приматы:</strong></em> относительно большая масса головного мозга, хорошо развитая кора переднего мозга с большим количеством борозд и извилин; бинокулярное зрение; общие группы крови; противопоставление большого пальца остальным; редукция хвостового отдела позвоночника; наличие папиллярных узоров на пальцах, ладонях и стопах, ногтей на пальцах; наличие мимических мышц; наличие менструального цикла у самок; продолжительность беременности около девяти месяцев; сходство кариотипов; общие болезни и паразиты.</li>
                </ol>
            </li>
            <li>
                <strong>Наличие рудиментов и атавизмов.</strong> Рудименты (аппендикс, ушные мышцы, 3-е веко, зубы мудрости, волосяной покров тела); атавизмы (хвост, гипертрихоз, многососковость).
                <p><u>Молекулярно-генетические доказательства:</u></p>
                <p>Данные молекулярной биологии доказывают сходство человека и человекообразных обезьян.</p>
                <ol type="1">
                    <li>Сходство кариотипа и генотипа более чем на 90%.</li>
                    <li>Одинаковые моногенно наследуемые признаки (группы крови).</li>
                    <li>Методом сравнения аминокислотных последовательностей доказано сходство белков.</li>
                    <li>Методами гибридизации ДНК доказана возможность гибридизации одноцепочечных фрагментов ДНК человека и человекообразных обезьян (негомологичные участки не соединяются и образуют петли).</li>
                    <li>Иммунологическими методами доказана агглютинация эритроцитов человека кроличьей сывороткой, полученной в результате иммунизации кролика эритроцитами обезьян.</li>
                </ol>
                <p><u>Палеонтологические доказательства:</u></p>
                <p>Ископаемые предки человека: австралопитеки, древнейшие люди (питекантропы и синантропы), древние люди (неандертальцы) и люди современного типа (кроманьонцы). Ископаемые останки предков человека относятся к разным историческим эпохам и отличаются друг от друга объемом головного мозга, строением черепа, способностью к членораздельной речи и изготовлению орудий труда.</p>
            </li>
        </ol>
    </p>
    <h3><strong>Этапы эволюции человека.</strong></h3>
    <p>По современным данным палеонтологии, предшественниками человека являются примитивные древние млекопитающие – насекомоядные, сходные с современными <em>тупайями,</em> от которых произошли древесные обезьяны – парапитеки, давшие около 35 млн лет тому назад ветвь, ведущую к человекообразным обезьянам. </p>
    <p>Древнейшие высшие приматы разделились на две группы – широконосых и узконосых обезьян. Около 30 млн лет назад среди узконосых обезьян появился <em>египтопитек</em> – обезьяна, обладавшая относительно прогрессивно развитым головным мозгом.</p>
    <p>Около 20 млн лет назад выделилась группа полудревесных, полуназемных обезьян – <em>дриопитеков,</em> от которых произошли современные человекообразные обезьяны (горилла и шимпанзе) и человек.</p>
    <p>Около 5 млн лет назад в безлесных степных просторах Африки появились высокоразвитые обезьяны – <em>протоантропы</em> (предшественники человека). Ископаемыми протоантропами являются <em>австралопитеки, парантропы и зинджантропы.</em> Их рост составлял 130–150 см, масса тела – 36–55 кг, объем мозга – до 550 см<sup>3</sup>.</p>
    <p>Передвигались протоантропы в полувыпрямленном положении на двух ногах. Передние конечности были свободны, и они могли брать ими палки, камни и другие предметы, используя их для охоты и защиты от врагов. Изготовление орудий труда протоантропами не установлено. Питались они преимущественно мясной пищей. Имели мощные челюсти и зубы, сплошной надбровный валик.</p>
    <p>В 1959 г. в Олдовайском ущелье (Африка) английский ученый М. Лики обнаружила останки существ (зинджантропов), живших одновременно с австралопитеками (около 2 млн лет назад), но обладавших довольно крупным мозгом (около 700 см<sup>3</sup>); особенно увеличены были лобные и теменные доли мозга. Рядом с их останками обнаружены и примитивные, изготовленные из гальки орудия труда (олдовайская культура), поэтому было предложено считать эти существа первым видом людей – <em>Человеком умелым.</em> Именно тогда произошел качественный скачок в превращении обезьяны в человека, связанный с изготовлением первых примитивных орудий труда.</p>
    <p>К древнейшим людям <em>(Человек прямоходящий)</em> относят питекантропа, синантропа и других ископаемых предков. Останки <em>питекантропа</em> были обнаружены в 1891 г. на острове Ява. Питекантропы были более схожи с австралопитеками, чем с современными людьми. Они жили 1 млн–500 тыс. лет назад; их рост достигал 150–170 см. Для них характерны низкий, сильно скошенный назад лоб, сплошной надбровный валик, массивная, не имеющая подбородочного выступа нижняя челюсть. Объем мозга составлял 750–900 см<sup>3</sup>, причем преимущественно были развиты отделы головного мозга, управляющие психической деятельностью. Изготавливаемые питекантропом орудия труда были более разнообразны и отличались лучшей обработкой, чем у Человека умелого. Считают, что у питекантропов были зачатки речи, жили они преимущественно в пещерах и вели стадный образ жизни.</p>
    <p>Останки <em>синантропа</em> были обнаружены в Китае близ Пекина. Синантроп жил в период оледенения (600–400 тыс. лет назад). Объем его мозга достигал 1200 см<sup>3</sup>. Череп синантропа сходен с черепом питекантропа, но отличается меньшими размерами лицевого отдела. Синантропы пользовались огнем, изготавливали орудия труда из камня и кости. Использование синантропами огня позволило сделать пищу более усвояемой, способствовало расширению ареала распространения и защите от хищников и холода.</p>
    <p>Для древнейших людей характерны изменения скелета, обусловленные прямохождением: появился небольшой изгиб позвоночника и зачатки свода стопы, бедренный сустав сместился к центру таза.</p>
    <p>К настоящему времени в различных частях света обнаружено и изучено большое число ископаемых останков древнейших людей.</p>
    <p>К древним людям относят <em>неандертальцев,</em> расселившихся в Африке, Азии и Европе 200–100 тыс. лет назад. Древние люди по сравнению с древнейшими представляли собой более прогрессивный тип человека. Объем их мозга составлял 1200–1400 см<sup>3</sup>. У них еще сохранились надбровные валики, относительно низкий лоб, массивная нижняя челюсть с зачатком подбородочного выступа. Древние люди жили в период оледенения в пещерах, умели добывать и поддерживать огонь, питались растительной и животной пищей, изготавливали разнообразные каменные, костяные и деревянные орудия труда (ножи, скребки, рубила, палки и т. п.). У них уже существовало определенное разделение труда: мужчины охотились, изготавливали орудия труда, женщины обрабатывали туши животных, собирали съедобные растения. Приобретенные трудовые навыки охоты, изготовления орудий труда, ведения хозяйства они передавали потомству посредством показа и речи.</p>
    <p>Неандертальцы были неоднородной группой. По морфологическим признакам и времени существования их разделяют на ранних (появились около 300 тыс. лет назад), поздних (около 70 тыс. лет), или классических, и прогрессивных. Хотя классические неандертальцы жили небольшими группами, однако, имея массивный скелет и сильно развитую мускулатуру, они побеждали в борьбе за существование. Прогрессивные неандертальцы имели высокий свод черепа, менее развитые мышцы и хорошо выраженный подбородочный выступ. Они объединялись в большие группы, благодаря чему сумели выжить в конкурентной борьбе. Большинство исследователей считают предками современного человека именно прогрессивных неандертальцев.</p>
    <p>Коллективные действия уже в первобытном сообществе древних людей играли решающую роль. В борьбе за существование победили те группы, которые лучше обеспечивали себя пищей, заботились о сохранении потомства, преодолевали тяжелые условия существования. Следовательно, социальные факторы все сильнее влияли на дальнейшее развитие неандертальцев.</p>
    <p>Неандертальцев сменили люди современного типа – <em>кроманьонцы,</em> которые появились около 50 тыс. лет тому назад. Они отличались высоким ростом (до 180 см) и большим объемом головного мозга (до 1600 см<suo>3</suo>). Для них характерны высокий лоб, сглаженные надбровные валики, хорошо выраженный подбородочный выступ, который указывает на развитую членораздельную речь. Кроманьонцы строили жилища, одевались в одежды из шкур, сшитых костяными иглами. Техника изготовления орудий труда стала совершеннее. Изделия из рога, кости, кремня украшались резьбой. Кроманьонцы научились шлифовать, сверлить, знали гончарное дело. Они жили родовым обществом, начали приручать животных, заниматься земледелием. У них появились зачатки религии и культуры (наскальная живопись).</p>
    <p>Высокая степень развития мозга и коллективный труд привели к резкому уменьшению зависимости человека от внешней среды. Эволюция человека вышла из-под ведущего контроля биологических факторов и приобрела социальный характер. Это доказывает, что человек занимает совершенно особое положение в природе, являясь одновременно и биологическим, и социальным существом.</p>
    <h3><strong>Движущие силы антропогенеза: биологические и социальные факторы.</strong></h3>
    <p><strong>Биологические факторы антропогенеза</strong> (Ч. Дарвин «Происхождение человека и половой отбор»): наследственная изменчивость, борьба за существование, естественный отбор. <strong>N.B.!!!</strong> К биологическим факторам антропогенеза относятся МОРФОЛОГИЧЕСКИЕ изменения человека по сравнению с животными: прямохождение, изгибы позвоночника, уплощенная грудная клетка, широкий таз, сводчатая стопа и др.</p>
    <p><strong>Социальные факторы антропогенеза</strong> (Ф. Энгельс «Роль труда в процессе превращения обезьяны в человека»). <strong>N.B.!!!</strong> К социальным факторам антропогенеза относятся все изменения, возникшие в результате взаимодействия человек-человек: общественный характер труда, мышление, сознание, речь, использование огня для обогрева жилищ и приготовления пищи и др. </p>
    <h3><strong>Человеческие расы, их происхождение и единство.</strong></h3>
    <p><strong>Раса</strong> – это исторически сложившаяся группа людей, объединенная общностью происхождения и сходством некоторых второстепенных морфологических признаков, возникших как результат приспособления к жизни в конкретных условиях среды. Раса – биологическое понятие, в характеристику расы не входит язык, уровень культуры, политика.</p>
    <p>
        <strong>Виды рас:</strong>
        <ol type="1">
            <li><em>Европеоидная (евразийская) раса.</em> Морфологические характеристики: узкое лицо, узкий выступающий нос, тонкие губы, мягкие прямые или волнистые волосы, цвет кожи от белого до смуглого, цвет глаз от светло-голубых до черных, хорошо развитый волосяной покров на лице мужчин, относительно сильная обволошенность тела.</li>
            <li><em>Монголоидная (азиатско-американская) раса.</em> Морфологические характеристики: плоское широкое лицо с выступающими скулами, косой разрез глаз, складка кожи у внутреннего угла глаз – эпикант, средняя толщина губ, жесткие черные прямые волосы, желтовато-смуглый цвет кожи, слабая обволошенность тела.</li>
            <li><em>Негроидная (австрало-негроидная).</em> Морфологические характеристики: черный цвет кожи, черные курчавые волосы, широкий плоский нос, темные глаза, толстые губы, средняя степень обволошенности тела.</li>
        </ol>
    </p>
    <p>Механизм образования рас – <em>географическая изоляция</em> популяций древних людей в различных климатогеографических условиях (сильная пигментация кожи у негроидов служит защитным приспособлением от ожогов ультрафиолетовыми лучами, шапка курчавых волос предохраняет голову от перегрева; плоское лицо монголоидов уменьшает возможность отморожения; белая кожа европеоидов способствует поглощению ультрафиолетовых лучей, необходимого для синтеза в коже витамина D). </p>
    <p>Ни одна из рас не достигла видового обособления. Все человечество – единый биологический вид (Homo sapiens). Единство вида Человека разумного подтверждается плодовитостью потомства при смешанных браках.</p>
    <p>С развитием общественных связей, ростом миграционных процессов, межрасовых браков обособленность человеческих рас постепенно сглаживалась и морфологические различия между ними уменьшались. В связи с этим в настоящее время помимо трех основных выделяют до 30 вторичный (малых) рас.</p>
    <p>Между расами не существует никаких принципиальных различий в способностях к обучению, творческой и трудовой деятельности, т. е. все расы биологически равноценны. Различия в уровне развития культуры и техники народов разных рас зависят не от биологических причин, а от общественно-экономических условий.</p>
</div>
