<div class="container">
    <p><strong>Экология</strong> (от греч. oikos – жилище, дом и logos – наука) общебиологическая наука, изучающая закономерности взаимоотношений организмов друг с другом и с окружающей средой. Термин предложен немецким биологом <em>Э. Геккелем</em> в 1866 г.</p>
    <p><strong>Предмет изучения экологии:</strong> взаимоотношения между организмами и средой их обитания на различных уровнях организации живого: популяционно-видовом, биогеоценотическом и биосферном.</p>
    <p>
        <strong>Разделы экологии: </strong>
        <ol type="1">
            <li><em>Аутэкология</em> – раздел экологии, изучающий взаимоотношения между организмами одной популяции.</li>
            <li><em>Популяционная экология (дэмэкология, специесэкология) </em> – раздел экологии, изучающий взаимоотношения между популяциями одного вида.</li>
            <li><em>Синэкология</em> – раздел экологии, изучающий взаимоотношения между популяциями в экосистеме.</li>
        </ol>
    </p>
    <p>
        <strong>Задачи экологии:</strong>
        <ol type="1">
            <li>Изучение закономерностей взаимоотношений различных групп организмов с факторами внешней среды и их влияние на среду обитания;</li>
            <li>Изучение взаимоотношений популяций разных видов в сообществе;</li>
            <li>Разработка основ рационального использования природных ресурсов человеком, прогноз антропогенных изменений среды;</li>
            <li>Внедрение биологических методов борьбы с вредителями и сорняками и изучение их эффективности;</li>
            <li>Разработка безотходных технологий производства как предотвращение неблагоприятного воздействия человека на окружающую среду (оборотное водоснабжение, переработка отходов).</li>
        </ol>
    </p>
    <p>
        <strong>Методы экологии:</strong>
        <ol type="1">
            <li><em>Полевые методы</em> (длительное наблюдение за взаимоотношениями в природе, за миграцией животных – экологический мониторинг) изучают конкретное влияние комплекса факторов среды на развитие и жизнедеятельность популяций.</li>
            <li><em>Экспериментальные методы </em> (создание моделей, т. е. искусственных экологических систем, аналогичных естественным: аквариум – модель реального водоема) позволяют устанавливать влияние отдельных факторов на развитие организмов. </li>
            <li><em>Методы математического моделирования</em> (количественный анализ наблюдений многих специалистов: биологов, гидрологов, микробиологов, климатологов, гидрохимиков; полученные данные обрабатываются на компьютере и позволяют предсказывать реакцию данной экосистемы на воздействие среды и человека на многие десятилетия вперед) дают возможность прогнозировать развитие экосистем в зависимости от изменений климата и антропогенных воздействий. </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Экологические факторы. Понятие о лимитирующих факторах.</strong></h3>
    <p><strong>Среда обитания</strong> – это совокупность элементов окружающей среды, которые способны прямо или косвенно оказывать воздействие на организмы.</p>
    <p>Совокупность жизненно необходимых факторов среды (свет, тепло, влага, воздух), без которых живые организмы не могут существовать, называется <strong>условиями существования.</strong></p>
    <p><strong>Экологический фактор</strong> – элемент окружающей среды, способный прямо или косвенно оказывать влияние на живые организмы; на действие такого фактора организмы отвечают приспособительными реакциями.</p>
    <p>Экологические факторы могут выступать как раздражители, ограничители или модификаторы.</p>
    <p>
        <strong>Классификация экологических факторов по происхождению и характеру воздействия:</strong>
        <ol>
            <li><em>Абиотические</em> – факторы неживой природы (действие одностороннее – организм не может оказать обратное влияние);</li>
            <li><em>Биотические</em> – факторы живой природы (обоюдное влияние организмов друг на друга, в результате возникают коадаптации);</li>
            <li><em>Антропогенные </em> – факторы, обусловленные деятельностью человека.</li>
        </ol>
    </p>
    <p>
        <strong>Степень влияния факторов окружающей природы на организм зависит от интенсивности воздействия.</strong>
        <ol type="1">
            <li><em>Оптимальное значение</em> – значение, при котором жизнедеятельность организма и способность к размножению максимальны.</li>
            <li><em>Зона нормальной жизнедеятельности</em> – диапазон значений экологического фактора, близких к оптимуму, при которых жизнедеятельность и способность к размножению близка к максимуму и существование организма не сопровождается адаптивными реакциями.</li>
            <li><em>Зона угнетения жизнедеятельности (пессимальности)</em> – два диапазона значений фактора (справа и слева от зоны нормальной жизнедеятельности), при которых жизнедеятельность организма возможна только при наличии специальных приспособлений, размножение не происходит.</li>
            <li><em>Верхний и нижний пределы выносливости</em> – максимальное и минимальное значения факторов, при которых жизнедеятельность еще возможна, за пределами которых наступает гибель организма. </li>
        </ol>
    </p>
    <img src="~/Images/thema55/факторы окружающей природы.png" class="rounded" width="100%" height="100%" alt="факторы окружающей природы" />
    <p>Оптимальное значение фактора, как и пределы выносливости, неодинаково для разных видов и даже для отдельных особей одного и того же вида. Организмы, которые могут переносить значительные отклонения от оптимального значения фактора, т. е. обладают широким диапазоном выносливости, называются <strong>эврибионтами</strong> (от греч. eurys – широкий и biontos – живущий). Организмы, для существования которых необходимы относительно постоянные условия окружающей среды, называются <strong>стенобионтами</strong> (от греч. stenos – узкий).</p>
    <p>Существуют факторы среды, которые оказывают существенное влияние на организмы, но не являются жизненно необходимыми: ионизирующее излучение, ветер, магнитное поле Земли. Если экологический фактор в конкретной ситуации влияет на численность особей, он называется <strong>регулирующим.</strong></p>
    <p><strong>Лимитирующий (ограничивающий) фактор</strong> – фактор, напряженность которого приближается к пределу выносливости или превосходит его. Понятие о лимитирующих факторах введено в 1840 году Либихом <em>(бочка Либиха).</em></p>
    <p>Ограничивающие факторы среды определяют географический критерий (ареал обитания) вида (продвижение вида в районы пустынь и степей может лимитироваться недостатком влаги, высокими температурами, недостатком опылителей для цветковых растений, занятостью территории более сильным конкурентом). Ограничивающее действие лимитирующих факторов проявляется и при благоприятном уровне остальных факторов внешней среды.</p>
    <p><strong>Экологическая пластичность</strong> – способность организмов адаптироваться к определенному диапазону изменчивости факторов среды.</p>
    <p>
        <strong>Комплексное воздействие факторов на организм:</strong>
        <ol type="1">
            <li>В естественных условиях среды на организм действует множество экологических факторов.</li>
            <li>Результат суммарного (комплексного) воздействия всех факторов не равен простой сумме действия каждого из них в отдельности.</li>
            <li>При комплексном влиянии нескольких факторов они оказывают взаимное влияние друг на друга (усиление или ослабление).</li>
            <li>Комплекс экологических факторов, обеспечивающих наиболее успешный рост, развитие и размножение организмов – <em>биологический оптимум.</em> </li>
            <li>Комплекс факторов, которые требуются для существования вида, включая его связи с другими видами в сообществе – <em>экологическая ниша.</em></li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Абиотические экологические факторы.</strong></h3>
    <p>
        Группы абиотических экологических факторов:
        <ol type="1">
            <li>Физические (климатические): свет, температура, влажность, осадки, ветер, атмосферное давление, радиационный фон;</li>
            <li>Химические: газовый состав атмосферы, соленость воды и почвы;</li>
            <li>Почвенно-грунтовые (эдафические): механический состав почвы, ее влаго- и воздухоемкость;</li>
            <li>Топографические: особенности рельефа местности.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Солнечный свет.</strong></h3>
    <p>Является основным источником энергии, необходимой для протекания всех жизненных процессов на Земле. Благодаря энергии солнечных лучей в зеленых растениях происходит первичный синтез органических веществ – фотосинтез, в результате которого обеспечивается питание всех гетеротрофных организмов.</p>
    <p>
        <strong>Биологическое действие фактора обуславливают:</strong>
        <ol type="I">
            <li>
                <strong><u>Спектральный состав.</u></strong> Солнечное излучение неоднородно по своему составу. В нем различают инфракрасные (длина волны более 0,75 мкм), видимые (0,40–0,75 мкм) и ультрафиолетовые (менее 0,40 мкм) лучи.
                <p>
                    Инфракрасные лучи составляют около 45% лучистой энергии, достигающей Земли, и являются главным источником тепла, поддерживающего температуру окружающей среды.
                </p>
                <p>Видимые лучи составляют около 50% лучистой энергии, которая особенно необходима растениям для процесса фотосинтеза, а также для обеспечения видимости и ориентации в пространстве всех живых существ. Хлорофилл поглощает преимущественно оранжево-красные (0,6–0,7 мкм) и сине-фиолетовые (0,5 мкм) лучи. Растения используют на фотосинтез менее 1% солнечной энергии, остальная ее часть рассеивается в виде тепла или отражается. </p>
                <p>Большая часть ультрафиолетового излучения с длиной волны менее 0,29 мкм задерживается своеобразным «экраном» – озоновым слоем атмосферы, который образуется под воздействием этих же лучей. Данное излучение является губительными для живого. Ультрафиолетовые лучи с большей длиной волны (0,3–0,4 мкм) достигают поверхности Земли и в умеренных дозах оказывают благоприятное воздействие на животных – стимулируют синтез витамина D, пигментов кожи (загар).</p>
                <p>Большинство животных способны воспринимать световые раздражения. Уже у некоторых протистов могут быть светочувствительные органоиды (стигма у эвглены зеленой), с помощью которых они способны реагировать на световое воздействие (фототаксисы). Почти все многоклеточные обладают разнообразными светочувствительными органами.</p>
            </li>
            <li>
                <strong><u>Интенсивность.</u></strong> По требовательности к интенсивности освещения различают светолюбивые, теневыносливые и тенелюбивые растения.
                <p><strong>Светолюбивые растения (гелиофиты)</strong> могут нормально развиваться только при полном освещении (хлебные злаки, луговые травы, чабрец, тюльпан, шалфей). </p>
                <p>
                    <em>Черты приспособленности светолюбивых растений:</em>
                    <ol type="1">
                        <li>Мелкие листья с почти вертикальной пластинкой по отношению к солнечным лучам;</li>
                        <li>Поверхность листовой пластинки блестящая, покрыта светлым восковым налетом, густо опушена;</li>
                        <li>Листья с характерной дифференцировкой мезофилла на столбчатый и губчатый, высокая степень жилкования, большое количество устьиц;</li>
                        <li>Количество хлоропластов на единицу площади листовой поверхности в несколько раз больше, чем у тенелюбивых растений.</li>
                    </ol>
                </p>
                <p><strong>Теневыносливые растения (факультативные гелиофиты)</strong> лучше растут при прямом освещении солнечными лучами, однако способны выносить и затенение. (береза, осина, сосна, дуб, ель, зверобой, земляника).</p>
                <p>
                    <em>Черты приспособленности теневыносливых растений:</em>
                    <ol type="1">
                        <li>Относительно большая поверхность листовой пластинки;</li>
                        <li>Листья тонкие, ориентированные к свету;</li>
                        <li>Снижение интенсивности дыхания и уменьшение относительной массы нефотосинтезирующей ткани;</li>
                        <li>Увеличение размеров хлоропласта и концентрации хлорофилла.</li>
                    </ol>
                </p>
                <p><strong>Тенелюбивые растения (сциофиты)</strong> не выносят прямого солнечного излучения и нормально развиваются в условиях затенения (кислица, мхи).</p>
                <p>
                    <em>Черты приспособленности тенелюбивых растений:</em>
                    <ol type="1">
                        <li>Тонкие стебли с малым количеством хлоропластов;</li>
                        <li>Плохое развитие механической ткани;</li>
                        <li>Клетки эпидермиса с тонкими стенками и кутикулой.</li>
                    </ol>
                </p>
            </li>
            <li>
                <strong><u>Фотопериодизм</u></strong> – реакция организмов на изменение продолжительности светового дня, проявляющиеся в изменении процессов жизнедеятельности.
                <p>Продолжительность светового дня неодинакова в различных частях земного шара. На экваторе она постоянна на протяжении всего года и равна 12 ч. По мере передвижения от экватора к полюсам длительность светового дня изменяется.</p>
                <p>У растений фотопериодические реакции регулируют набухание и распускание почек, рост побегов, цветение и плодоношение, листопад.</p>
                <p>
                    <strong>В зависимости от наступления периода цветения выделяют:</strong>
                    <ol type="1">
                        <li><em>Длиннодневные растения</em> – цветение наступает при продолжительности светового дня более 12ч (рожь, овес, ячмень, картофель).</li>
                        <li><em>Короткодневные растения</em> – цветение наступает при продолжительности светового дня менее 12ч (кукуруза, соя, георгины, просо, рис, конопля, перец).</li>
                        <li><em>Нейтральные растения</em>  – цветение не зависит от длины светового дня (горох, гречиха, томат, одуванчик).</li>
                    </ol>
                </p>
                <p>Фотопериодизм у животных проявляется в чередовании периодов жизненного цикла: подготовка к размножению, брачный период, выведение потомства, линька, миграция, подготовка к зимовке.</p>
            </li>
            <li>
                <strong><u>Суточная ритмичность</u></strong> – ответная реакция организма на смену дня и ночи.
                <p>уточная ритмичность у растений проявляется в периодическом открытии и закрытии цветков (хлопчатник, лен, душистый табак), усилении или ослаблении физиологических и биохимических процессов фотосинтеза, повышения и снижения скорости деления клеток. </p>
                <p>Суточные ритмы, проявляющиеся в периодическом чередовании активности и отдыха, характерны и для животных, и для человека. Всех животных можно подразделить на дневных и ночных. Многие из них проявляют наибольшую активность днем (бабочки, стрекозы, жаворонки, волки, зайцы), однако некоторые (сверчки, летучие мыши, совы, крыланы) приспособились к жизни только в ночных условиях. Ряд животных обитают постоянно в полной темноте (аскарида, крот).</p>
                <p>У человека обнаружены суточные колебания более трехсот показателей. Так, температура тела выше в дневные часы, достигает максимального значения к 18 часам, а ночью снижается. Артериальное давление днем выше, а ночью ниже. В дневное время свертываемость крови выше, в периферической крови увеличено содержание кровяных пластинок, эритроцитов, лейкоцитов, адреналина. У большинства людей наивысшая биоэлектрическая активность мозга наблюдается утром (с 8 до 12 ч) и вечером (между 17 и 19 ч). </p>
                <p>Людей, способных к наиболее активной работе утром, называют <em>«жаворонками».</em> Однако встречаются лица, наиболее высокая работоспособность которых приходится на вечерние и даже ночные часы <em>(«совы»).</em> Большинство людей может работать производительнее в дневное время суток, поэтому в ночные смены снижается производительность труда и ослабевает внимание, что приводит к росту травматизма.</p>
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Температура.</strong></h3>
    <p>Важным абиотический фактор среды, обуславливающий скорость протекания химических реакций в организме, влияющий на их физиологическую активность. Предельные колебания температуры на земном шаре – от +50…+60 °С в пустынях до –70…–80 °С в Антарктиде, однако жизнь существует и в таких экстремальных условиях (водоросли в горячих источниках, пингвины в Антарктиде). Наиболее стабильные температурные условия сохраняются в океане, а наиболее изменчивые характерны для наземно-воздушной среды. У большинства организмов процессы жизнедеятельности протекают при температурах от –4 °С до +40…+45 °С.</p>
    <p>Различные климатические зоны Земли заселяют организмы с разной нормой реакции на температурный фактор. В умеренных зонах обитают эвритермные виды, способные переносить значительные колебания температуры, в тропиках – стенотермные теплолюбивые, в арктических поясах – стенотермные холодолюбивые виды, которые не переносят больших колебаний температур.</p>
    <p>
        <strong>Классификация организмов по формам терморегуляции:</strong>
        <ol type="1">
            <li><em>Холоднокровные (пойкилотермные).</em> Температура тела непостоянна и зависит от температуры окружающей среды (рыбы, земноводные, пресмыкающиеся и беспозвоночные).</li>
            <li><em>Теплокровные (гомойотермные).</em> Способны поддерживать постоянную температуру тела (птицы, млекопитающие и человек) благодаря интенсивному обмену веществ, появлению теплоизолирующих покровов (перья, мех, подкожная жировая клетчатка) и выработке в процессе эволюции особых механизмов регуляции (потовые железы, нервные механизмы регуляции).</li>
        </ol>
    </p>
    <p>Одним из приспособлений животных к колебаниям температуры является <em>миграция</em>  – переселение в более благоприятные условия (перелеты птиц, миграции рыб, насекомых).</p>
    <p>Многие виды животных приобрели способность переживать неблагоприятные условия (высокую или низкую температуру, отсутствие воды, пищи) в состоянии оцепенения (характеризуется неподвижностью животного, прекращением питания, снижением всех физиологических функций) или <em>спячки</em> (пониженный уровень обмена веществ поддерживается у них за счет запасов энергии (жира), накопленных ранее).</p>
    <p><em>Анабиоз</em> (от греч. аnаbiosis – оживление) – наиболее глубокое оцепенение; такое состояние живых организмов, при котором все жизненные процессы почти прекращены или настолько снижены, что видимые проявления жизни отсутствуют.</p>
    <p><u>Приспособления растений к высоким температурам:</u> усиленная транспирация, блестящая поверхность и густое опушение листьев, вертикальное положение листьев, уменьшение их поверхности. Растения способны переносить и низкие температуры благодаря листопаду, отмиранию наземных частей, утолщению пробкового слоя, высокой концентрации углеводов и других органических веществ в цитоплазме клеток, способности связывать значительное количество воды.</p>
    <p>
        <u>Приспособления животных к изменению температур:</u>
        <ol type="1">
            <li>химическая терморегуляция (усиление образования тепла при снижении температуры и ослабление при ее повышении);</li>
            <li>физическая терморегуляция (изменение уровня теплоотдачи – при повышенных температурах теплоотдача увеличивается, а при низких – уменьшается);</li>
            <li>поведенческая терморегуляция (перемещение в более благоприятные условия – перелеты птиц, зимовка в берлоге).</li>
        </ol>
    </p>
    <p>
        <strong>Классификация животных в зависимости от способности обеспечить нагрев собственного тела:</strong>
        <ol type="1">
            <li><em>Эндотермные животные</em> – животные, температура тела которых обычно превышает окружающую и обусловлена генерацией собственного тепла (птицы, млекопитающие крупные рыбы, некоторые летающие насекомые). Важное значение для поддержания температурного баланса у таких животных имеет отношение поверхности тела к его объему, т.к. количество выработанного тепла зависит от массы тела, а отдача тепла происходит через покровы. Виды гомойотермных животных, обитающие в холодных климатических зонах, имеют большие размеры, чем животные, обитающие в теплых местах <em>(правило Бергмана)</em>  а выступающие части тела в холодных условиях имеют меньшие, чем у животных, обитающих в теплом климате <em>(правило Аллена).</em></li>
            <li><em>Эктотермные животные</em> – животные, почти полностью зависящие от внешних источников тепла, метаболическая теплопродукция относительно невелика, поэтому температура тела определяется за счет теплообмена с окружающей средой (для повышения температуры должны поглощать тепло из окружающей среды) – большинство беспозвоночных, земноводных, пресмыкающихся. </li>
            <li><em>Гетеротермные животные</em> – животные, способные изменять интенсивность собственной теплопродукции, но не способны поддерживать температуру тела в узких рамках (летающие насекомые, питоны, некоторые рыбы). Температура тела может намного превышать температуру окружающей среды, что сопряжено с выделением тепла при интенсивной мышечной работе. </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Влажность.</strong></h3>
    <p>Вода является универсальным растворителем, все обменные процессы в клетках протекают в растворах; вода непосредственно участвует в биохимических реакциях; многие организмы способны существовать только в воде. Ее содержание в клетках достигает 70–90%.</p>
    <p>Источником воды для растений и животных служат атмосферные осадки, водоемы, подземные воды, роса и туман. Влажность воздуха определяется содержанием в нем водяного пара. </p>
    <p>Обеспеченность влагой различных географических районов Земли неодинакова. Существуют <em>аридные</em> (сухие, засушливые) места, где обитающие организмы испытывают недостаток влаги и <em>гумидные</em> (влажные), где недостатка в воде нет. Наибольшая влажность отмечается на побережьях морей и океанов (до 100%), а наименьшая – в пустынях (2–4%).</p>
    <p>
        <strong>Классификация растений по отношению к воде:</strong>
        <ol type="1">
            <li><em>Гидатофиты</em> – водные растения, большей частью погруженные в воду (кувшинка, элодея, ряска). Особенности: низкое осмотическое давление клеточного сока; листья плавающие, с развитой аэренхимой; корни сильно редуцированы; цветки располагаются над водой; плоды созревают под водой.</li>
            <li><em>Гидрофиты</em> – водно-наземные растения, прикрепленные к грунту и погруженные в воду своей нижней частью (тростник, аир, камыш). Особенности: хорошо развитые проводящие и механические ткани; хорошо развита аэренхима; наличие дыхательных корней; незначительная водоудерживающая способность клеток и тканей.</li>
            <li><em>Гигрофиты</em> – растения, населяющие места с высокой влажностью воздуха и почвы (осока, рис, росянка, подмаренник). Особенности: тонкие листовые пластинки с небольшим числом широко открытых устьиц; наличие аэренхимы; высокая интенсивность транспирации; слаборазвитая ксилема; тонкие, слаборазветвленные корни, часто без корневых волосков; могут быть воздушные корни (орхидея).</li>
            <li><em>Мезофиты</em> – растения, произрастающие в местах с умеренной влажностью почвы и воздуха (ландыш). Особенности: при похолодании или наступлении жаркого сухого сезона происходит листопад.</li>
            <li>
                <em>Ксерофиты</em> – растения сухих мест (полупустынь и пустынь).
                <ol type="A">
                    <li><u>Суккуленты</u> – растения, запасающие воду в сочных мясистых листьях <em>– листовые суккуленты</em> (алоэ) или стеблях – <em>стеблевые суккуленты</em> (кактусы). Особенности: наличие водоносной паренхимы; хорошо развитый восковой покров эпидермиса; погруженные в ткань немногочисленные устьица, закрытые в дневное время; низкий уровень транспирации.</li>
                    <li><u>Склерофиты</u> – растения, имеют мелкие жесткие листья, покрытые толстой кутикулой, препятствующей испарению воды, иногда листья видоизменяются в колючки (верблюжья колючка, ковыли, саксаулы, чертополох). Особенности: либо поверхностная корневая система (улавливает влагу утренней росы или редких осадков), либо проникающая на большую глубину до грунтовых вод; высокое осмотическое давление клеточного сока; высокая водоудерживающая способность клеток и тканей; низкий уровень транспирации.</li>
                </ol>
            </li>
        </ol>
    </p>
    <p>
        <strong>Классификация животных по отношению к влажности среды:</strong>
        <ol type="1">
            <li><em>Гидрофилы</em> – водные животные.</li>
            <li><em>Гигрофилы</em> – животные, живущие в очень влажных местах (наземные моллюски, дождевые черви, амфибии).</li>
            <li><em>Мезофилы</em> – животные с умеренными потребностями в воде (млекопитающие, птицы средней полосы).</li>
            <li><em>Ксерофилы</em>  – животные, живущие в местах с недостатком влаги (пустынные животные).</li>
        </ol>
    </p>
    <p><u>Приспособления животных к недостатку влаги:</u> мелкие животные (грызуны, пресмыкающиеся, членистоногие) довольствуются водой, поступающей вместе с пищей; резервуаром воды для ряда животных засушливых районов служат отложения жира (горб у верблюда, курдюк у овец, жировое тело у насекомых), при окислении которого образуется необходимое количество воды; ряд животных пустынных районов обладают способностью к длительному быстрому бегу (антилопы, куланы, сайгаки), позволяющему им совершать дальние миграции на водопой; некоторые виды (преимущественно грызуны) перешли к ночному образу жизни, тем самым избегая перегрева и большого испарения воды.</p>
    <h3 class="text-center"><strong>Соленость среды обитания.</strong></h3>
    <p>Зависит от концентрации растворимых солей. Минеральные соли почвы служат источником питания растений (удобрения), однако их избыток, наблюдающийся на засоленных почвах, на растения действует губительно (солончаки). </p>
    <p>
        <strong>Классификация водных животных по отношению к солености среды:</strong>
        <ol type="1">
            <li><em>Пресноводные</em> – животные, живущие в пресной воде (карповые рыбы).</li>
            <li><em>Морские</em>  – животные, живущие в соленой воде.</li>
            <li><em>Проходные</em> – животные, в разные периоды нуждающиеся в разных условиях солености (взрослые угри в пресных водоемах, личинки – в морях).</li>
        </ol>
    </p>
    <h3 class="><strong>Барометрическое давление и состав атмосферного воздуха.</strong></h3>
    <p>Большинство живых организмов на нашей планете приспособлено к существованию при барометрическом давлении 720–740 мм рт. ст. (на уровне Мирового океана). При подъеме на высоту давление воздуха падает, что неблагоприятно сказывается на снабжении организмов кислородом.</p>
    <p>Главной составной частью воздуха является кислород (21%), который необходим для нормального протекания окислительных процессов в клетках большинства живых существ (аэробов). Некоторые организмы (в основном бактерии и кишечные паразиты) могут существовать в бескислородной среде (анаэробы). Даже один и тот же организм на разных этапах своего развития может менять отношение к кислороду (яйца аскариды для своего развития нуждаются в кислороде, а взрослые паразиты приспособились к существованию в бескислородной среде (кишечник человека)). </p>
    <p>Содержание диоксида углерода составляет всего 0,03–0,04%, но он имеет существенное значение для жизни на Земле, так как непосредственно используется в процессе фотосинтеза. </p>
    <p>Больше всего в атмосфере содержится азота (78,08%), однако он не имеет особого биологического значения, так как непосредственно не усваивается растениями. </p>
    <p>В атмосфере содержится также небольшое количество инертных газов, газообразных и пылевидных примесей, микроорганизмов.</p>
    <h3 class="text-center"><strong>Биотические экологические факторы.</strong></h3>
    <p><strong>Биотические экологические факторы</strong> – совокупность всех живых организмов, оказывающих прямое или косвенное действие на другие живые организмы в результате своей жизнедеятельности. </p>
    <p>
        <strong>Внутривидовые биотические факторы:</strong>
        <ol type="1">
            <li>
                <em>Внутривидовая конкуренция (-/-)</em>  – борьба между особями одного вида за общие источники пищи, воды и места обитания.
                <p>Факторы, влияющие на напряженность внутривидовой конкуренции: численность особей вида, плотность (количество особей на единицу площади), плодовитость (коэффициент рождаемости), продолжительность жизни, этологический (поведенческий) фактор, влияющий на другие организмы (брачные турниры).</p>
            </li>
            <li><em>Каннибализм (+/-)</em> – внутривидовое хищничество.</li>
        </ol>
    </p>
    <p>
        <strong>Межвидовые биотические факторы:</strong>
        <ol type="1">
            <li><em><u>Межвидовая конкуренция (-/-)</u></em>  – вид взаимоотношений, возникающий между организмами в том случае, если для их существования необходимы одинаковые или сходные условия (саранча, грызуны и травоядные парнокопытные вступают между собой в конкурентные отношения из-за пищи; растения конкурируют друг с другом за свет, влагу, защиту от поедания животными.</li>
            <li><em><u>Нейтрализм (0/0)</u></em> – вид взаимоотношений, при котором совместно обитающие популяции разных видов не оказывают видимого влияния друг на друга (белка и волк прямо не взаимодействуют, хотя живут в одном лесу).</li>
            <li>
                <em><u>Хищничество (+/-)</u></em> – вид взаимоотношений, при котором наблюдается прямое уничтожение жертвы и, как правило, использование ее в качестве пищи. Хищники являются регуляторами численности жертв, не давая им беспредельно размножаться. Между количествами хищников и жертв устанавливается динамическое равновесие.
                <p>
                    <u>Классификация хищников:</u>
                    <ol type="I">
                        <li>
                            <ol title="1">
                                <li><em>Истинные</em> (убивают жертву сразу после нападения и съедают ее целиком или частично) – тигры, волки, божьи коровки, насекомоядные растения.</li>
                                <li><em>С пастбищным способом питания</em> (длительно используют жертву, съедая ее часть) – пиявки, травоядные позвоночные.</li>
                            </ol>
                        </li>
                        <li>
                            <ol type="1">
                                <li><em>Неспециализированные</em> (много различных источников пищи).</li>
                                <li><em>Специализированные</em> (один или несколько источников пищи).</li>
                                <li><em>Антибиоз (0/-)</em>  – вид взаимоотношений, при котором особи одного вида, чаще путем выделения особых веществ, оказывают угнетающее воздействие на жизнедеятельность особей других видов (антибиотики грибов, фитонциды высших растений оказывают бактерицидное действие).</li>
                                <li>
                                    <em>Симбиоз </em> – любое сожительство организмов разных видов.
                                    <p>
                                        Виды симбиоза:
                                        <ol type="A">
                                            <li><em>Мутуализм (+/+)</em> – сожительство организмов разных видов, приносящее взаимную пользу (лишайники, микориза, симбиоз клубеньковых бактерий с корнями бобовых растений).</li>
                                            <li>
                                                <em>Комменсализм (+/0).</em> Выделяют 2 вида:
                                                <p><u>Нахлебничество</u> – сожительство организмов разных видов, при котором один организм использует другой как жилище и источник питания, но не причиняет вреда партнеру (морские рыбы-прилипалы, присасываясь к крупным рыбам (акулам), используют их как средство передвижения и питаются их испражнениями или остатками пищи; в желудочно-кишечном тракте человека находится большое количество бактерий и протистов, питающихся остатками пищи и не причиняющих вреда хозяину).</p>
                                                <p><u>Квартирантство (синойкия)</u> – сожительство, при котором особь одного вида использует особь другого вида только как жилище, не принося своему «живому дому» ни пользы, ни вреда (пресноводная рыбка горчак откладывает икринки в мантийную полость двустворчатых моллюсков).</p>
                                            </li>
                                            <li><em>Паразитизм (+/-)</em> – форма антагонистического сожительства организмов, относящихся к разным видам, при котором один организм (паразит), поселяясь на теле или в теле другого организма (хозяина) питается за его счет и причиняет ему вред.</li>
                                        </ol>
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </p>
            </li>
        </ol>
    </p>
    <h3 class="text-center">
        <strong>Антропогенные факторы.</strong>
    </h3>
    <p><strong>Антропогенные факторы</strong> – различные формы деятельности человека.</p>
    <p>Человек в отличие от животных не пассивно приспосабливается к окружающей среде, а изменяет ее в соответствии со своими потребностями. Антропогенный фактор начал действовать при переходе человечества от собирательства к земледелию и охоте, но его влияние на природу особенно возросло в последние десятилетия в связи с интенсивным развитием промышленности и сельского хозяйства и может быть, как положительным, так и отрицательным. </p>
    <p><em>Положительное влияние человека на природу:</em> посадка лесов, парков, садов, создание и разведение высокопродуктивных новых сортов растений и пород животных, создание и охрана заповедников, заказников, сохранение видов («Красная книга»).</p>
    <p><em>Отрицательное влияние человека на природу:</em> вырубка лесных массивов, осушение вековых болот, эрозия почв, загрязнение воды, почвы воздуха отходами, нефтепродуктами, синтетическими веществами, радиоактивными изотопами (авария на Чернобыльской АЭС в 1986 г.) и др.</p>
    <h3 class="text-center"><strong>Среды жизни.</strong></h3>
    <p><strong><u>Водная среда (гидросфера)</u></strong> – первичная среда жизни, занимает 71% площади нашей планеты. </p>
    <p><em>Вода обладает большой плотностью</em> (в 1300 раз плотнее воздуха), вследствие чего она оказывает сильное сопротивление движению, характеризуется большой выталкивающей силой и ее давление значительно увеличивается с возрастанием глубины погружения. Наибольшую плотность (1 г/мл) вода имеет при температуре +4 °С. При повышении и понижении температуры ее плотность уменьшается. </p>
    <p><em>Вода обладает большой удельной теплоемкостью</em> (в 500 раз больше, чем у воздуха), что обусловливает ее медленное нагревание и остывание.</p>
    <p><em>У воды высокая теплопроводность</em> (в 30 раз выше, чем у воздуха), что обеспечивает относительно равномерное распределение температуры в водной среде.</p>
    <p><em>Вода является универсальным растворителем.</em> В зависимости от содержания растворенных солей воды подразделяют на <u>пресные </u> (до 0,5 г/л), <u>солоноватые</u> (0,6–16 г/л), <u>морские</u> (17–47 г/л) и <u>пересоленные</u> (48–350 г/л).</p>
    <p>Кислорода в воде содержится в 30 раз меньше, чем в воздухе.</p>
    <p>
        В водоемах гидросферы выделяют 2 <strong>экологические зоны:</strong>
        <ol type="1">
            <li><em>Пелагиаль</em> – толща воды.</li>
            <li><em>Бенталь</em> – донная область.</li>
        </ol>
    </p>
    <p><strong>Лимитирующие факторы жизни в водной среде обитания:</strong> солнечный свет, давление толщи воды, насыщенность воды кислородом, солевой состав воды.</p>
    <p><strong>Адаптации к недостатку кислорода в водной среде:</strong> относительно низкий уровень процессов жизнедеятельности; непостоянная температура тела; способность впадать в анабиоз. Высокоорганизованные водные гомойотермные животные (киты, тюлени, дельфины и др.) являются вторично-водными, и интенсивный обмен веществ обусловлен тем, что дышат они атмосферным воздухом.</p>
    <p>
        <strong>Адаптации к высокой плотности воды:</strong> 
        <ol type="1">
            <li><em>Планктон</em> (от греч. planktos – парящий) – организмы, способные быть во взвешенном состоянии: они имеют небольшую удельную массу тела и перемещаются течениями воды (протисты, мелкие ракообразные); взвешенные организмы растений образуют фитопланктон, а животных – зоопланктон.</li>
            <li><em>Нектон</em> (от греч. nektos – плавающий) – активно плавающие животные, имеющие обтекаемую форму тела и способные преодолевать силу течения (рыбы, головоногие моллюски).</li>
            <li><em>Бентос</em> – (от греч. bentos – глубина) организмы, населяющие дно водоемов (растения, моллюски, раки, пиявки).</li>
        </ol>
    </p>
    <p><strong><u>Наземно-воздушная среда</u></strong> характеризуется низкой плотностью, малой подъемной силой, низким сопротивлением движению. </p>
    <p>Воздух обладает низкой теплоемкостью и высокой подвижностью как в горизонтальном, так и в вертикальном направлении, что обусловливает быстрое изменение влажности и температуры в широких пределах (суточные и сезонные колебания). </p>
    <p><strong>Лимитирующие факторы в наземно-воздушной среде:</strong> влажность и температура.</p>
    <p><strong>Адаптации организмов к наземно-воздушной среде обитания:</strong> слоистые, сильно утолщенные клеточные стенки; наличие опорных систем, поддерживающих тело; ограничение предельной массы и размеров организмов; высокая скорость передвижения и расселение с помощью потоков воздуха; приспособления к недостатку влаги: спячка, использование жира как источника эндогенной воды, миграции к водоему.  </p>
    <p><strong>Почвенная среда</strong> состоит из твердых частиц, между которыми находятся газы и вода. </p>
    <p>Верхний слой почвы содержит перегной, средний – вымытые из верхнего слоя вещества, нижний – представлен материнской породой.</p>
    <p>С глубиной меняется состав почвенного воздуха: увеличивается содержание диоксида углерода и уменьшается содержание кислорода. В почве сглажены температурные колебания как суточные, так и сезонные. </p>
    <p><strong>Адаптации организмов к почвенной среде обитания:</strong> компактное тело; несмачиваемые покровы тела (почвенные клещи); копательные конечности (медведки, кроты); слабо развитые органы чувств (кроты, слепыши); гидроскелет и изгибание тела (круглые и дождевые черви).</p>
    <p><strong><u>Другой живой организм</u></strong> может служить средой обитания для организмов других видов – паразитов.</p>
    <p><em>Паразит</em> –организм, который поселяется на другом организме (хозяине), питается за его счет и причиняет вред, т. е. хозяин является средой обитания для паразита.</p>
    <p>
        <strong>Классификации паразитов:</strong>
        <div class="container">
            <p>
                <em>По времени обитания:</em>
                <ol type="1">
                    <li><em><u>Временные паразиты.</u></em> Нападают на хозяина в основном для питания (комары, клещи). </li>
                    <li><em><u>Постоянные паразиты.</u></em> Весь цикл развития или большую его часть проводят на теле либо в теле хозяина (аскарида, печеночный сосальщик, вши).</li>
                </ol>
            </p>
        </div>
    </p>
    <p>
        <em>По месту обитания:</em>
    <ol type="1">
        <li><em><u>Эктопаразиты.</u></em> Обитают НА теле хозяина (вши, блохи, клещи).</li>
        <li><em><u>Эндопаразиты.</u></em> Обитают В теле хозяина (аскарида, малярийный плазмодий, бычий цепень).</li>
    </ol>
    </p>
    <p><strong>Адаптации к паразитическому образу жизни:</strong> наличие специальных органов прикрепления (присоски, крючья); развитие защитных покровов (кутикула) и выделение антиферментов, защищающих паразита от действия пищеварительных соков хозяина; высокая степень развития половой системы, продуцирующей громадные количества яиц; появление гермафродитизма и размножения на личиночной стадии; упрощение строения нервной системы и органов чувств; в ряде случаев – отсутствие пищеварительной системы (ленточные черви); способность к смене хозяев.</p>
    <p>Борьба за существование и естественный отбор заставили организмы занимать разнообразные среды обитания и соответствующие экологические ниши, тем самым снижая накал борьбы за существование. Таким образом, приспособленность организмов к жизни в разных средах является результатом их длительного исторического развития.</p>
</div>