<h3 class="text-center"><em><u>Опыление, виды опыления. Особенности ветроопыляемых и насекомоопыляемых цветков. Двойное оплодотворение. Образование семени и плода.</u></em></h3>
<div class="container">
    <p><strong>Опыление </strong> – перенос пыльцы с тычинки на рыльце пестика.</p>
    <div class="centered">
        <img src="~/Images/thema13/опыление.png" />
    </div>

    <div class="container">
        <p>
            <strong>Виды естественного опыления.</strong>
            <ol type="1">
                <li><em>Анемофилия</em> (опыление ветром);</li>
                <li><em>Гидрофилия</em> (опыление водой);</li>
                <li><em>Энтомофилия</em> (опыление насекомыми);</li>
                <li><em>Зоофилия</em> (опыление животными);</li>
                <li><em>Орнитофилия</em> (опыление птицами);</li>
                <li><em>Териофилия</em> (опыление млекопитающими);</li>
                <li><em>Хироптерофилия</em> (опыление летучими мышами).</li>
            </ol>
        </p>

        <p>
            <ol type="I">
                <li>
                    <strong>Самоопыление.</strong> Характерно для растений, подверженных сильным колебаниям численности в разные периоды года, позволяет популяциям легче и быстрее восстанавливать свою численность. Повышает уровень гомозиготности и сохраняет жизнеспособность растений только в стабильных условиях среды. Не зависит от погодных условий и посредников. <em>Приспособления:</em>
                    <ol type="1">
                        <li>Цветки обоеполые;</li>
                        <li>Одновременное созревание тычинок и пестиков;</li>
                        <li>Соответствие размеров тычинок и пестиков;</li>
                        <li>Оплодотворение до раскрытия цветка;</li>
                        <li>Отсутствие стерильности пыльцы.</li>
                    </ol>
                </li>
                <li>
                    <strong>Перекрестное опыление.</strong> Повышает уровень комбинативной изменчивости, что увеличивает разнообразие генотипов и обеспечивает лучшую приспособленность к условиям внешней среды, дает более выносливое потомство. <em>Приспособления:</em>
                    <ol type="1">
                        <li>Однополость цветков (огурец, тыква, кукуруза);</li>
                        <li>Разное время созревания мужского и женского гаметофитов;</li>
                        <li>Несоответствие размеров тычинок и пестиков;</li>
                        <li>Пыльник вскрывается на стороне, противоположной рыльцу пестика;</li>
                        <li>Стерильность пыльцы (неспособность прорастать на рыльце собственного пестика);</li>
                        <li>Двудомные растения (ива, тополь, облепиха).</li>
                    </ol>
                </li>
            </ol>
        </p>
        <p>
            <div class="justify-content-center">
                <strong>Приспособления растений к перекрестному опылению.</strong>
            </div>
            <ol type="I">
                <li>
                    <strong>Ветром</strong> (анемофилия) – рожь, ольха, береза:
                    <ol type="1">
                        <li>Цветки мелкие, невзрачные, лишены запаха; часто собраны в соцветия;</li>
                        <li>Околоцветник плохо развит или отсутствует;</li>
                        <li>Тычинки на длинных свисающих нитях; пыльники подвижные;</li>
                        <li>Пыльца сухая, мелкая, легкая;</li>
                        <li>Рыльца пестиков длинные, перистые;</li>
                        <li>Большинство ветроопыляемых растений образуют сплошные массивы.</li>
                    </ol>
                </li>
                <li>
                    <strong>Насекомыми</strong> (энтомофилия) – клевер, ландыш, тыква, огурец, яблоня:
                    <ol type="1">
                        <li>Яркая окраска цветков;</li>
                        <li>Цветки крупные, хорошо заметны, могут быть собраны в соцветия;</li>
                        <li>Цветки выделяют нектар и имеют сильный аромат;</li>
                        <li>Пыльца крупная, шероховатая, липкая;</li>
                        <li>Соответствие размеров и формы цветка размерам насекомого-опылителя.</li>
                    </ol>
                </li>
                <li>
                    <strong>Птицами</strong> (орнитофилия) – цветки яркие; не имеют запаха; имеют вытянутую форму венчика.
                </li>
                <li>
                    <strong>Летучими мышами</strong> (хироптерофилия) – цветки тусклые, зеленовато-желтые или фиолетовые; распускаются вечером; имеют запах, имитирующий запах секреции желез самих летучих мышей.
                </li>
            </ol>
        </p>
    </div>

    <div class="container">
        <div class="justify-content-center">
            <strong>Двойное оплодотворение цветковых растений.</strong>
        </div>
        <p>
            <strong>Двойное оплодотворение</strong> – процесс слияния одного спермия с яйцеклеткой с образованием зиготы с диплоидным набором хромосом, из которой развивается зародыш, второго спермия – с диплоидной центральной клеткой с образованием триплоидной клетки, из которой развивается эндосперм.
        </p>
        <p>
            Процесс двойного оплодотворения у покрытосеменных растений впервые описан в 1898 г. русским ученым С.Г.Навашиным.
        </p>
        <p>
            Процессу оплодотворения предшествуют процессы образования мужского и женского гаметофитов и опыление.
        </p>
        <div class="justify-content-center">
            <strong>Образование мужского гаметофита и гамет.</strong>
        </div>
        <p>
            <strong>Мужским гаметофитом является пыльцевое зерно.</strong> Образование пыльцевых зерен происходит в пыльцевых гнездах пыльников тычинок.
            <ol type="1">
                <li>Диплоидные клетки пыльцевого гнезда делятся митозом, образуя  <strong>микроспороциты</strong> (материнские клетки микроспор), которые делятся мейозом и превращаются в гаплоидные микроспоры. Из каждого микроспороцита образуется 4 микроспоры.</li>
                <li>
                    Микроспора делится митозом с образованием пыльцевого зерна (мужского гаметофита).
                    <div class="container">
                        <br />
                        <strong>Строение пыльцевого зерна:</strong> две оболочки:
                        <ol type="1">
                            <li><strong>Интина</strong> – внутренняя оболочка (тонкая, гладкая, эластичная).
                            <li>
                            <li><strong>Экзина</strong> – наружная оболочка (толстая, шероховатая, имеет поры).</li>
                        </ol>
                    </div>
                </li>
                <li>Пыльцевое зерно делится митозом с образованием вегетативной и генеративной клеток.</li>
                <li>Из генеративной клетки у однодольных растений образуются митозом 2 спермия (мужские неподвижные половые клетки, лишенные жгутиков), а из вегетативной – пыльцевая трубка для движения спермиев. У двудольных растений образование спермиев происходит только после попадания пыльцы на рыльце пестика.</li>
            </ol>
        </p>
        <img src="~/Images/thema13/схема образования мужского гемотофита и гамет.png" />
        <div class="container">
            <div class="justify-content-center">
                <strong>Образование женского гаметофита и гамет.</strong>
            </div>
            <p>
                <strong>Женским гаметофитом является зародышевый мешок.</strong> Образование женского гаметофита и гамет происходит в семязачатке завязи пестика.
            </p>
            <p>
                <strong>Семязачаток</strong> (семяпочка) – это видоизмененный микроспорангий (нуцеллус), защищенный покровами <strong>(интегументами)</strong> со всех сторон, за исключением верхушки, где расположен пыльцевход <strong>(микропиле).</strong>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ol type="1">
                                <li>
                                    Соматические диплоидные клетки нуцеллусSа семязачатка делятся митозом с образованием <strong>макро(мега)спороцитов</strong> (диплоидных материнских клеток макроспор).
                                </li>
                                <li>
                                    Мегаспороцит делится мейозом, образуя 4 гаплоидные клетки – макро(мега)споры, но развитие из них получает только 1 – материнская (3 других разрушается).
                                </li>
                                <li>
                                    Материнская макроспора трехкратно делится митозом, образуя 8 гаплоидных ядер (2 тетрады) <strong>– 8-миядерный зародышевый мешок.</strong>
                                </li>
                                <li>От каждой тетрады отделяется по 1 ядру, которые сливаются, и образуется диплоидное ядро, остальные ядра остаются без изменений <strong>(7-миядерный зародышевый мешок).</strong></li>
                            </ol>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <img src="~/Images/thema13/семязачаток.png" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ol type="1" start="4">
                            <li>Происходит цитокинез (деление цитоплазмы), образуя <strong>7-миклеточный зародышевый мешок. </strong></li>
                        </ol>
                    </div>
                </div>
            </p>
        </div>
        <div class="container">
            <strong>Строение зародышевого мешка:</strong>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <ol>
                            <li><strong>Диплоидная (центральная) клетка.</strong></li>
                            <li><strong>Антиподы</strong> (3 клетки) – гаплоидные, расположены на противоположном полюсе от пыльцевхода; обеспечивают доставку запаса питательных веществ к зародышевому мешку.</li>
                            <li><strong>Яйцеклетка</strong> (1 клетка) – располагается между клетками-синергидами возле пыльцевхода. </li>
                            <li><strong>Синергиды/клетки-спутницы</strong> (2 клетки) – располагаются по бокам от яйцеклетки; выделяют сигнальные вещества, направляющие продвижение пыльцевой трубки к пыльцевходу; растворяют переднюю стенку пыльцевой трубки, облегчая выход спермиев в зародышевый мешок.</li>
                        </ol>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="container">
                                <div class="card">
                                    <img src="~/Images/thema13/зарод мешок.png" class="card-img-top">
                                    <div class="card-body">
                                        <p class="card-text">
                                            Семязачаток с зародышевым мешком: C — яйцеклетка; D — клетки-синергиды; E— центральная диплоидная клетка (видны два ядра); F — антиподы
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="justify-content-center">
                <img src="~/Images/thema13/схема образования женского гемотофита и гамет.png" />
            </div>
        </div>
        <div class="container">
            <p>
                <strong>Механизм двойного оплодотворения.</strong>
                <ol>
                    <li>Попав на рыльце пестика пыльцевое зерно начинает прорастать благодаря клеткам эпидермиса, которые выделяют сахарозу, стимулирующую прорастание. Через поры экзины выпячивается интина и образуется пыльцевая трубка, по которой продвигаются 2 спермия.</li>
                    <li>Пыльцевая трубка входит через пыльцевход в семяпочку и разрывается. Один спермий сливается с яйцеклеткой, образуя диплоидную зиготу, из которой развивается зародыш будущего семени, а второй – с диплоидной центральной клеткой, образуя триплоидную клетку, из которой развивается эндосперм.</li>
                    <li>Первое поперечное деление зиготы в зародышевом мешке приводит к образованию двух клеток: верхней (апикальной) и нижней (базальной). Из базальной клетки развивается <strong>суспензор (подвесок)</strong> – ножка, которая продвигает развивающийся зародыш вглубь зародышевого мешка, где образуется питательная ткань (эндосперм).</li>
                    <li>Из апикальной клетки после ряда превращений развивается предзародыш, а затем <strong>зародыш.</strong> Из покровов семязачатка формируется <strong>семенная кожура,</strong> которая, сливаясь с зародышем, образует <strong>семя.</strong> Из стенки завязи образуется околоплодник. <strong>Семя + околоплодник = плод.</strong></li>
                    <li>Из верхушечных частей эмбриона формируются зародышевые листья (семядоли) и почечка, состоящая из зародышевого стебелька и конуса прорастания. Из базальных частей эмбриона развивается зародышевый корешок с конусом нарастания и корневым чехликом.</li>
                </ol>
            </p>
        </div>
    </div>
</div>
<a href=@Url.Action("Test13","Test")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>

