<div class="container">
    <p><strong>Пищевые продукты</strong> – это то, чем питается человек (хлеб, мясо, молоко, яйца, фрукты, овощи и др.).</p>
    <p>Продукты животного происхождения являются источниками преимущественно белков и жиров. Большое количество белков содержится в мясе (от 14 до 21%), рыбе, молоке и продуктах его переработки. Животные белки наиболее ценны (содержат незаменимые аминокислоты: триптофан, фенилаланин и др.). Они усваиваются на 96%. Животные жиры поступают в организм в виде сливочного масла, сыра, сметаны, свиного сала.</p>
    <p>Продукты растительного происхождения, благодаря высокому содержанию в них углеводов (около 80% сухих веществ), являются источниками энергии. Они содержат также 8–23% белков. Однако растительные белки бедны незаменимыми аминокислотами. Растительные жиры поступают в организм в виде растительного масла. Овощи, фрукты, ягоды и соки из них – источники витаминов, ферментов и микроэлементов.</p>
    <p>Питательные вещества (белки, жиры, углеводы) – это органические соединения, являющиеся для организма строительным материалом и источником энергии (при окислении 1 г белка или 1 г углеводов выделяется 17,6 кДж; 1 г жира – 38,9 кДж энергии).</p>
    <p><strong>Пищеварение</strong> – это процессы механического и химического изменения продуктов и питательных веществ, протекающие в пищеварительной системе.</p>
    <p><em>Механическая обработка пищи</em> – это измельчение, перетирание, перемешивание пищи до состояния кашицы.</p>
    <p><em>Химическая обработка пищи</em> осуществляется с помощью пищеварительных соков, содержащих пищеварительные ферменты.</p>
    <p><strong>Ферменты</strong> – это биологически активные вещества белковой природы, способные ускорять биохимические реакции (биологические катализаторы).</p>
    <p>
        <strong>Свойства пищеварительных ферментов:</strong>
        <ol type="1">
            <li>
                <em><u> Специфичность.</u></em> Каждый фермент расщепляет питательные вещества только определенной группы:
                <ul>
                    <li><em>протеолитические</em> (пепсин и химозин желудочного сока, трипсин и химотрипсин сока поджелудочной железы, энтерокиназа, аминопептидаза, карбоксипептидаза кишечного сока) – расщепляют белки до полипептидов и полипептиды до аминокислот;</li>
                    <li><em>липолитические (липазы</em> желудочного сока, сока поджелудочной железы и тонкого кишечника) – расщепляют жиры до глицерола и жирных кислот;</li>
                    <li><em>амилолитические</em> (амилаза и мальтаза слюны, амилаза, мальтаза, лактаза, сахараза сока поджелудочной железы и тонкого кишечника) – расщепляют полисахариды до дисахаридов и дисахариды до моносахаридов (глюкоза);</li>
                    <li><em>нуклеолитические (нуклеазы</em> сока поджелудочной железы и тонкого кишечника) – расщепляют нуклеиновые кислоты до нуклеотидов. </li>
                </ul>
            </li>
            <li><em><u>Действие только в определенной химической среде.</u></em> Например, пепсин (фермент желудочного сока) активен только в кислой среде, а для работы ферментов кишечника необходима щелочная среда.</li>
            <li><em><u>Действие только при определенной температуре.</u></em> Оптимальная температура – 36...37 °С. При изменении этих условий снижается активность ферментов, что приводит к нарушению пищеварения и к различным заболеваниям.</li>
            <li><em><u>Высокая биохимическая активность.</u></em> Небольшое количество фермента может расщеплять большую массу органического вещества.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Отделы и функции пищеварительной системы.</strong></h3>
    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <td>Ротовая полость</td>
                <td>Смачивание пищи слюной, перетирание, измельчение, формирование пищевого комка, начальное расщепление углеводов, всасывание некоторых лекарств</td>
            </tr>
            <tr>
                <td>Глотка</td>
                <td>Проглатывание пищи</td>
            </tr>
            <tr>
                <td>Пищевод</td>
                <td>Продвижение пищи</td>
            </tr>
            <tr>
                <td>Желудок</td>
                <td>Пропитывание пищи желудочным соком, перетирание, расщепление белков, эмульгированных жиров молока, всасывание воды, лекарств</td>
            </tr>
            <tr>
                <td>Двенадцатиперстная кишка</td>
                <td>Обработка пищи желчью и соком поджелудочной железы, расщепление белков, жиров и углеводов</td>
            </tr>
            <tr>
                <td> Тощая и подвздошная кишка</td>
                <td>Окончательное расщепление белков, жиров и углеводов, всасывание воды, аминокислот, моносахаридов, жирных кислот и глицерола </td>
            </tr>
            <tr>
                <td>Толстый кишечник (слепая кишка – восходящая ободочная кишка – поперечная ободочная кишка – нисходящая ободочная кишка – сигмовидная кишка)</td>
                <td>Формирование каловых масс, всасывание воды и минеральных солей </td>
            </tr>
            <tr>
                <td>Прямая кишка</td>
                <td>Выведение каловых масс </td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center"><strong>Строение и функции ротовой полости. Регуляция слюноотделения.</strong></h3>
    <p>Ротовая полость образована губами, щеками, нёбом, языком и мышцами дна ротовой полости. Стенки полости рта выстланы слизистой оболочкой, содержащей многочисленные мелкие железы, выделяющие слюну.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><em>Губы</em> представляют собой складки, основу которых составляет круговая мышца рта. Спереди они покрыты кожей, сзади – слизистой оболочкой. Основу щеки составляет щечная мышца, к которой снаружи прилежит жировое тело щеки, хорошо выраженное у грудных детей (играет важную роль при сосании).</p>
                <p><em>Небо</em>состоит из твердого нёба и мягкого нёба. Твердое нёбо представлено отростками верхних челюстей и горизонтальными пластинками нёбных костей. Является дном полости носа. Слизистая оболочка твердого нёба содержит большое количество мелких слюнных желез. Мягкое нёбо является продолжением твердого нёба и представлено слизистой оболочкой и двумя парными мышцами. Задняя часть мягкого нёба свисает вниз, является задней стенкой полости рта, образует нёбную занавеску, которая заканчивается нёбным язычком.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema38/Строение рта.png" alt="Строение полости рта" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><em>Зубы</em> верхней и нижней челюсти являются границей преддверия ротовой полости и собственно полости рта. Зачатки зубов закладываются в период эмбрионального развития. На 5–6-м месяце после рождения развивается первая генерация зубов – молочные, которые с 6 лет начинают заменяться постоянными. Малые коренные и зубы мудрости (третьи большие коренные) вырастают, минуя стадию молочных.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><em>Зубная формула молочных зубов </em> по половинам верхней и нижней челюстей (20 зубов): 2 резца, 1 клык, 0 малых коренных зубов и 2 больших коренных зуба.</p>
                <p><em>Зубная формула постоянных зубов</em> по половинам верхней и нижней челюстей (32 зуба): 2 резца, 1 клык, 2 малых коренных зуба и 3 больших коренных зуба.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema38/Формула молочных зубов.png" alt="Формула молочных зубов" class="rounded" height="100%" width="100%" />
            </div>
        </div>
        <p>Резцы и клыки обеспечивают откусывание пищи (отрезание и разрывание), малые (премоляры) и большие (моляры) коренные зубы – размельчение и растирание пищи.</p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Зуб состоит из <em>коронки</em> (отдел, выступающий над десной), <em>шейки</em> (суженная часть в области перехода коронки в корень) и <em>корня</em>  (часть, которая помещается в альвеоле и соединена с ней надкостницей). </p>
                    <p><em>Количество корней зубов:</em> резцы, клыки, малые коренные – 1; большие коренные нижней челюсти – 2; большие коренные верхней челюсти – 3.</p>
                    <p>Вещество зуба образовано твердыми тканями: дентином, эмалью и зубным цементом. Основу зуба составляет <em>дентин,</em> покрытый на коронке <em>эмалью</em> (видоизмененная эпителиальная ткань), а на шейке и корне <em>зубным цементом.</em> В полости коронки и в канале корня находится мякоть – <em>пульпа зуба,</em> представленная рыхлой соединительной тканью, сосудами и нервами.</p>
                    <p>Смыкание верхних резцов с нижними резцами называется <em>прикусом.</em> При правильном прикусе (ортогнатия) верхние резцы находятся впереди нижних резцов.</p>
                </div>
                <div class="col">
                    <img src="~/Images/thema38/Строение зуба.png" alt="Строение зуба" class="rounded" height="100%" width="100%" />
                </div>
            </div>
        </div>
    </div>
    <p>
        <em>Язык</em> – мышечный орган, образованный поперечно-полосатой мышечной тканью, покрытой слизистой оболочкой, в которой находятся вкусовые рецепторы. Состоит из корня, тела и верхушки. На верхушке языка расположены рецепторы, воспринимающие сладкое, по бокам языка – кислое и соленое, на корне – горькое.
    </p>
    <p>В ротовую полость открываются протоки трех пар крупных слюнных желез: <em>околоушных, поднижнечелюстных и подъязычных.</em> С глоткой она сообщается зевом, по бокам которого расположены миндалины – скопление лимфоидной ткани, выполняющие защитную функцию в борьбе с болезнетворными микроорганизмами. Миндалины и более мелкие лимфатические узлы ротовой полости образуют лимфоидное кольцо (кольцо Пирогова).</p>
    <p><em>Функции ротовой полости:</em> определение вкусовых качеств пищи; измельчение, пропитывание слюной и первоначальная химическая обработка.</p>
    <p> Секрет слюнных желез – <em>слюна</em> – содержит 99% воды, минеральные и органические вещества, обладает слабощелочной реакцией. В сутки вырабатывается 500–1500 мл слюны (в зависимости от вида пищи).</p>
    <p>
        <strong>Функции слюны:</strong>
        <ol type="1">
            <li>Увлажняет пищу, придает ей полужидкую консистенцию и склеивает частицы пищи (белок <em>муцин).</em></li>
            <li>Бактерицидное действие (белок <em>лизоцим).</em></li>
            <li>Расщепление крахмала до мальтозы (фермент <em>амилаза (птиалин))</em> и мальтозы до глюкозы (фермент <em>мальтаза).</em></li>
            <li>Формирование пищевого комка и глотание.</li>
        </ol>
    </p>
    <p><strong>Глотание</strong> – рефлекторный акт (центр расположен в продолговатом мозге), обеспечивающий прохождение пищевого комка в пищевод. Сокращение мышц мягкого нёба приподнимает его и закрывает вход в носовую полость; одновременно надгортанник закрывает вход в гортань, и пища за счет сокращения мышц глотки продвигается в пищевод.</p>
    <h3 class="text-center"><strong>Глотка. Пищевод.</strong></h3>
    <p><strong>Глотка</strong> – непарный трубчатый (полый) орган, входящий в состав дыхательной и пищеварительной систем.</p>
    <p>Располагается позади полостей носа (хоан), рта (зева) и гортани, на передней поверхности глубоких мышц шеи от основания черепа до VI–VII шейных позвонков. Полость глотки подразделяют на три части: верхнюю – носовую (носоглотку), среднюю – ротовую (ротоглотку) и нижнюю – гортанную. Стенка глотки состоит из трех оболочек: <em>слизистой</em> (ресничный эпителий в области носоглотки и многослойный плоский эпителий в остальных отделах), <em>мышечной</em> (поперечно-полосатая мышечная ткань) и <em>соединительнотканной.</em></p>
    <p><strong>Пищевод</strong> – мышечная трубка длиной 25–30 см, сплющенная в переднезаднем направлении. Обеспечивает продвижение пищевого комка из глотки в желудок. Располагается на уровне от VI–VII шейных позвонков до Х–ХI грудных позвонков. В пищеводе выделяют три части: шейную, грудную и брюшную. Стенка пищевода имеет толщину около 4 мм и состоит из трех оболочек: <em>слизистой</em> (многослойный плоский эпителий), <em>мышечной</em> (поперечно-полосатая мышечная ткань в верхней трети и гладкая – в нижней) и <em>соединительнотканной.</em></p>
    <h3 class="text-center"><strong>Строение и функции желудка. Регуляция отделения желудочного сока.</strong></h3>
    <p><strong>Желудок</strong>– расширенная часть пищеварительного канала объемом 1,5–3 л (у новорожденного около 7 см<sup>3</sup>), расположенная под диафрагмой в левом подреберье. Имеет форму изогнутого рога или удлиненного мешка, различают малую (верхнюю) и большую (нижнюю) кривизну. Слева у начала малой кривизны находится вход в желудок – кардиальное отверстие.</p>
    <p><em>Части желудка:</em> верхняя – дно (свод), средняя – тело и нижняя – пилорическая (привратниковая) область.</p>
    <p>Слои стенки желудка: наружный <em>– соединительнотканный,</em> средний – <em>мышечный</em> (гладкая мышечная ткань) и внутренний – <em>слизистый.</em></p>
    <p>Внутренняя поверхность желудка покрыта слизистой оболочкой, которая образует складки. В толще слизистой оболочки находятся железы (около 14 000 000), вырабатывающие желудочный сок. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Железы состоят из главных, обкладочных клеток. <em>Главные клетки</em> вырабатывают <em>пепсиноген,</em> а <em>обкладочные – соляную кислоту</em> (функции: создает кислую среду, превращает неактивный пепсиноген в активный пепсин, бактерицидное действие). В железах малой кривизны, дна и тела желудка имеются <em>добавочные клетки,</em>в которых вырабатывается слизеподобное вещество <em>(муцин)</em> для защиты стенок желудка от раздражения кислотой. </p>
                <p>Мышцы стенки желудка (гладкая мышечная ткань) состоят из трех слоев: продольного, кольцевого и косого. В месте перехода желудка в двенадцатиперстную кишку кольцевой слой утолщается и образует сфинктер. Вследствие сокращений стенок желудка пища перемешивается с желудочным соком, приобретает жидкую консистенцию <em>(химус)</em> и переваривается.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema38/Строение жклудка.png" alt="Строение желудка" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>Мышцы стенки желудка (гладкая мышечная ткань) состоят из трех слоев: продольного, кольцевого и косого. В месте перехода желудка в двенадцатиперстную кишку кольцевой слой утолщается и образует сфинктер. Вследствие сокращений стенок желудка пища перемешивается с желудочным соком, приобретает жидкую консистенцию <em>(химус)</em> и переваривается.</p>
    <p><em>Состав желудочного сока:</em> 97–98% воды, 1% органических веществ (ферменты), 0,5% минеральных солей, около 0,7% соляной кислоты (рН=1,5–2,2). В сутки выделяется около 2 л желудочного сока.</p>
    <p>
        <strong>Ферменты желудочного сока:</strong>
        <ol type="I">
            <li>
                <em><u>Протеолитические.</u></em>
                <ol type="1">
                    <li><em>Пепсин</em> (расщепляет белки до полипептидов);</li>
                    <li><em>Химозин/реннин</em> (створаживает белки молока у детей в период молочного вскармливания).</li>
                </ol>
            </li>
            <li>
                <em><u>Липолитические.</u></em>
                <ol type="1">
                    <li><em>Липаза</em> (расщепляет естественно эмульгированные жиры молока до глицерола и жирных кислот).</li>
                </ol>
            </li>
            <li><em><u>Амилолитические.</u></em> НЕТ, но за счет ферментов слюны, которые сохраняются в толще пищевых комков, продолжается переваривание углеводов. </li>
        </ol>
    </p>
    <p>
        В желудке всасываются в небольшом количестве глюкоза, вода, растворенные соли и некоторые лекарственные препараты.
    </p>
    <p>
        <strong>Фазы образования желудочного сока:</strong>
        <ol type="1">
            <li><em>Рефлекторная.</em> Обусловлена раздражением пищей рецепторов полости рта, глотки, пищевода, а также рецепторов зрительного или слухового анализатора; происходит выделение запального (аппетитного) желудочного сока, который подготавливает желудок к восприятию пищи;</li>
            <li><em>Желудочная (нейрогуморальная).</em> Обусловлена раздражением пищей рецепторов слизистой оболочки желудка (механическое и химическое раздражение); слизистая желудка выделяет в кровь гормон <em>гастрин,</em> который активирует секрецию желез желудка и регулирует двигательную активность желудка и кишечника.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Строение и функции кишечника.</strong></h3>
    <p>Тонкий кишечник живого человека имеет длину 3–5 м (у мертвого человека из-за отсутствия тонуса гладкой мускулатуры его длина достигает 6–7 м). Состоит из <em>двенадцатиперстной, тощей и подвздошной кишок.</em></p>
    <p>Оболочки стенки тонкой кишки: слизистая, мышечная и серозная (соединительнотканная), покрытая однослойным эпителием.</p>

    @*плохая одаптация на картинку проверить на другом ПК нач *@
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Слизистая оболочка образует круговые складки и ворсинки, которые увеличивают всасывающую поверхность тонкой кишки. <em>Ворсинки</em> – это выпячивания в слизистой оболочке пальцевидной или листовидной формы в просвет кишки, содержат большое количество кровеносных и лимфатических капилляров и снаружи покрыты однослойным эпителием. </p>
                <p>Мышечная оболочка тонкой кишки состоит из гладких мышц, образующих два слоя: внутренний (кольцевой) и наружный (продольный). Сокращение кольцевого слоя ведет к сужению просвета кишки, продольного – к расширению, в результате чего возникают перистальтические поступательные движения, обеспечивающие перемешивание и продвижение <em>химуса</em> пищевой кашицы) в направлении толстой кишки.</p>
                <p>Серозная оболочка кроме двенадцатиперстной кишки покрывает всю тонкую кишку, <em>образуя брыжейку</em> тонкого кишечника.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema38/Строение и функции кишечника..png" alt="Строение и функции кишечника." class="rounded" width="75%" height="75%" />
            </div>
        </div>
    </div>
    @*конец*@

    <p>Двенадцатиперстная кишка имеет длину 17–20 см, диаметр 3–5 см. Подковообразно изгибается. В двенадцатиперстную кишку открываются протоки печени и поджелудочной железы, происходит пропитывание пищи желчью и соком поджелудочной железы (панкреатическим соком), где содержатся все группы пищеварительных ферментов.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>При попадании пищи из желудка в двенадцатиперстную кишку соляная кислота стимулирует выделение клетками кишечника гормона секретина. Секретин поступает в кровь и разносится по всему телу. При этом часть его попадает в поджелудочную железу и стимулирует выделение панкреатического сока.</p>
                <p>Диаметр тощей кишки 3,5–4,5 см, длина ее составляет около 40% длины всего тонкого кишечника, диаметр подвздошной кишки – 2,0–2,5 см, ее длина составляет около 60% длины всего тонкого кишечника.</p>
                <p>Железы стенки тонкой кишки вырабатывают кишечный сок, представляющий собой мутную, вязкую жидкость. За сутки выделяется около 2 л кишечного сока. Реакция среды сока щелочная: в ней нейтрализуется кислая среда поступающего содержимого желудка. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema38/Двенадцатиперснастная кишка.png" alt="Двенадцатиперснастная кишка" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>Кишечный сок содержит 22 фермента (протеолитические: энтерокиназа, аминопептидаза, карбоксипептидаза; липолитические: липаза; амилолитические: амилаза, мальтаза, лактаза; нуклеолитические: нуклеазы). </p>
    <p>Виды пищеварения в тонком кишечнике: <em>пристеночное и полостное</em>  (в просвете). На поверхности ворсинок находятся микроворсинки, которые увеличивают всасывательную поверхность тонкой кишки в 30–40 раз и являются местом пристеночного пищеварения (расщепление и транспорт всосавшихся веществ). </p>
    <p>В тонком кишечнике происходит также всасывание (путем осмоса, диффузии, активного транспорта. Ворсинки всасывают воду, аминокислоты, глюкозу, глицерол. Жирные кислоты соединяются со щелочами и желчными кислотами, омыляются, образуя растворимые соли, которые всасываются через стенки ворсинок. В клетках ворсинок из глицерола и жирных кислот синтезируются <em>жиры,</em> поступающие в <em>лимфатические капилляры</em> ворсинок. <em>Аминокислоты, нуклеотиды и моносахариды</em> всасываются в <em>кровеносные капилляры</em> ворсинок.</p>
    <p><strong>Толстый кишечник:</strong> длина 1,5–2 м, большего диаметра (4–8 см), имеет характерные вздутия (гаустры).</p>
    <p><em>Отделы толстого кишечника:</em> слепая кишка (длина 6–7 см) с червеобразным отростком, восходящая ободочная (длина 10–20 см), поперечная ободочная (длина 30–50 см), нисходящая ободочная (длина 10–12 см), сигмовидная (длина 20–70 см) и прямая кишка (длина 12–20 см), которая заканчивается анальным отверстием. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Оболочки стенки толстого кишечника: слизистая, мышечная и соединительнотканная. </p>
                <p>Слизистая толстого кишечника образует складки, ворсинок нет.</p>
                <p>Мышечная оболочка более развита, чем в тонком кишечнике. </p>
                <p><em>Функции толстого кишечника:</em> секреция большого количества слизи, всасывание воды (до 1 л в сутки), минеральных солей, глюкозы и некоторых лекарств, а также ряда ядовитых веществ, образующихся в результате гниения остатков белков, которые затем обезвреживаются в печени. В толстом кишечнике содержатся микроорганизмы (кишечная микрофлора), среди которых преобладает кишечная палочка. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema38/Толстая кишка.png" alt="Отделы толстого кишечника" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <em>Функции кишечной микрофлоры:</em>
        <ol type="1">
            <li>Расщепление клетчатки;</li>
            <li>Разложение непереваренных остатков пищи;</li>
            <li>Синтез витаминов группы В, H и К;</li>
            <li>Подавление деятельности патогенных микроорганизмов.</li>
        </ol>
    </p>
    <p>От пищевой кашицы остается 130–150 г сформировавшегося кала, в состав которого входят вода, непереваренные остатки пищи, соли и органические вещества, слизь, отмершие клетки эпителия и большое количество бактерий толстой кишки. Каловые массы скапливаются в прямой кишке. У взрослого человека дефекация (опорожнение кишечника) происходит 1–2 раза в сутки.</p>
    <h3 class="text-center"><strong>Печень, поджелудочная железа и их роль в организме человека.</strong></h3>
    <p><strong>Печень</strong> – самая большая пищеварительная железа, масса 1,5–2 кг. Расположена в правом подреберье, под диафрагмой. Окружена фиброзной капсулой, а поверх нее покрыта брюшиной. Верхняя поверхность печени выпуклая, нижняя немного вогнутая. На нижней поверхности печени, в центре, находятся ворота печени, через которые проходят сосуды, нервы и желчные протоки. В углублении на нижней поверхности располагается желчный пузырь объемом 40–70 мл.</p>
    <p>
        <strong>Функции печени:</strong>
        <ol type="1">
            <li>Образование желчи;</li>
            <li>Детоксикационная (обезвреживание ядовитых веществ, которые попадают в воротную вену печени из вен органов брюшной полости (желудка, кишечника));</li>
            <li>Дезаминирование аминокислот с образованием аммиака, который превращается в мочевину, доставляется к почкам и выводится из организма;</li>
            <li>Выведение желчных пигментов (билирубин, биливердин), образующихся при расщеплении гемоглобина старых эритроцитов. В составе желчи эти пигменты поступают в двенадцатиперстную кишку и далее выводятся из организма по кишечному тракту с каловыми массами, придавая им характерный цвет;</li>
            <li>Синтез белков плазмы крови (альбумин, фибриноген, протромбин), образование из глюкозы гликогена <em>(гликогенез).</em> При необходимости гормон надпочечников адреналин регулирует превращение гликогена в глюкозу, и она поступает в кровь;</li>
            <li>Синтез витамина А из провитамина А;</li>
            <li>Разрушение эритроцитов;</li>
            <li>Инактивация гормонов и других биологически активных веществ, а также лекарственных препаратов;</li>
            <li>участие в обмене холестерина;</li>
            <li>Депо крови;</li>
            <li>Является кроветворным органом ( в эмбриональном периоде).</li>
        </ol>
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Структурно-функциональной единицей печени являются печеночные дольки, из которых образуются 4 доли печени. Дольки имеют форму шестигранной призмы и состоят из печеночных клеток. Гепатоциты (печеночные клетки) в дольках образуют балки (пластинки), с одной стороны которых располагаются кровеносные капилляры, с другой – мелкие желчные протоки. Эти протоки начинаются слепо вблизи центра печеночной дольки; по ним поступает вырабатываемая печеночными клетками желчь, которая попадает в междольковые протоки, они сливаются друг с другом и формируют правый и левый печеночные протоки, которые в воротах печени соединяются в общий печеночный проток длиной около 5 см. В воротах печени он сливается с протоком желчного пузыря, и образуется общий желчный проток (длина 6–7 см), который открывается в двенадцатиперстную кишку. Печень вырабатывает в сутки от 500 до 1500 мл желчи.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema38/Печень.png" alt="Печень" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Желчь</strong> – это жидкость желтого цвета, состоящая из воды, желчных пигментов и кислот, холестерина, минеральных солей. Образуется непрерывно, но поступает в кишечник во время приема пищи. Реакция желчи слабощелочная. Через общий желчный проток она попадает в двенадцатиперстную кишку.</p>
    <p>
        <em>Функции желчи:</em>
        <ol type="1">
            <li>Эмульгирует (дробит на капельки) жиры, облегчая их расщепление;</li>
            <li>Способствует всасыванию жиров и жирорастворимых витаминов (А, D, Е, К);</li>
            <li>Активирует ферменты кишечного сока и сока поджелудочной железы;</li>
            <li>Усиливает сокращения гладких мышц стенок тонкого и толстого кишечника;</li>
            <li>Создает щелочную среду в кишечнике;</li>
            <li>Бактерицидная.</li>
        </ol>
    </p>
    <p><strong>Поджелудочная железа.</strong> Расположена позади желудка, в изгибе двенадцатиперстной кишки, длина 12–15 см, ширина около 4 см. Состоит из головки, тела, хвоста и имеет дольчатое строение.</p>
    <p>В области хвоста начинается выводной проток, который, расширяясь, идет к головке железы. Поджелудочная железа покрыта соединительнотканной капсулой, которая срастается с брюшиной. Соединительнотканные прослойки, отходящие от капсулы, делят паренхиму железы на дольки.</p>
    <p>Структурно-функциональная единица экзокринной части железы – <em>ацинус</em> (секреторный концевой отдел и вставочный проток); в совокупности из ацинусов образуются дольки.</p>
    <p> Пищеварительный сок из концевых отделов поджелудочной железы поступает во вставочные протоки, затем во внутридольковые протоки, в междольковые протоки, впадающие в проток поджелудочной железы, по которому пищеварительный сок выделяется в двенадцатиперстную кишку. Поджелудочная железа является железой смешанной секреции. Ее экзокринная часть, на долю которой приходится 97% массы железы, вырабатывает пищеварительный сок. Сок поджелудочной железы имеет щелочную реакцию. В течение суток выделяется около 800 мл сока поджелудочной железы </p>
    <p>
        <strong>Ферменты панкреатического сока:</strong>
        <ol type="I">
            <li>
                <u>Протеолитические.</u>
                <p><em>Трипсин и химотрипсин</em> (расщепляют полипептиды до аминокислот);</p>
            </li>
            <li>
                <u>Липолитические.</u>
                <p><em>Липаза</em> (расщепляет нейтральные жиры до глицерола и жирных кислот).</p>
            </li>
            <li>
                <u>Амилолитические.</u>
                <p><em>Амилаза и мальтаза.</em> (расщепляеют крахмал до мальтозы <em>(амилаза (птиалин))</em> и мальтозу до глюкозы <em>(мальтаза)).</em></p>
            </li>
            <li>
                <u>Нуклеолитические.</u>
                <p><em>Нуклеазы</em> (расщепляют нуклеиновые кислоты до нуклеотидов).</p>
            </li>
        </ol>
    </p>
    <p>Эндокринная часть железы (на ее долю приходится 3% массы) – островки Лангерганса – вырабатывает гормоны (инсулин, глюкагон), регулирующие углеводный обмен.</p>
    <h3 class="text-center"><strong>Гигиена питания.</strong></h3>
    <p>Гигиена питания – наука о рациональном питании, обеспечивающем сохранение здоровья. Рассматривает вопросы соблюдения режима питания и правил личной гигиены, правильного хранения продуктов и приготовления пищи.</p>
    <p>Суточное количество пищи, необходимое для покрытия энергетических затрат в организме, называется <em>нормой питания.</em></p>
    <p>
        <em>4 группы профессий, характеризующихся различными энергетическими затратами и нормами питания:</em>
        <ol type="1">
            <li>Связанные с тяжелым физическим трудом (12 000–12 600 кДж/ сут);</li>
            <li>Связанные с физическим трудом средней тяжести (11 000–12 000 кДж/ сут);</li>
            <li>Связанные с легким физическим трудом (10 000–11 000 кДж/ сут);</li>
            <li>Не связанные с физическим трудом (9240–9500 кДж/ сут).</li>
        </ol>
    </p>
    <p>У детей в связи с высокой интенсивностью обменных процессов повышены и энергетические затраты. Суточная потребность в энергии у них меняется со временем и составляет в возрасте от одного года до двух лет 376–418 кДж на 1 кг массы тела, а в возрасте от 14 до 17 лет – 209–272 кДж.</p>
    <p>При составлении норм питания следует учитывать соотношение белков, жиров и углеводов (1:1,1:4,8). В сутки человеку необходимо 72–92 г белков, 81–110 г жиров и 358–484 г углеводов в зависимости от энергетических затрат.</p>
    <p>Кроме энергетической ценности необходимо учитывать и качественный состав пищи. Пища должна содержать достаточное количество витаминов и минеральных солей. Для обеспечения нормальных процессов обмена необходимы незаменимые аминокислоты, поэтому животные белки должны составлять до 60% общего их количества.</p>
    <p><em>Режим питания:</em> частота приема пищи – не менее 4 раз в день; интервалы между приемами пищи – не более 5 ч; распределение суточного рациона: 25–30% на завтрак, 35–40% на обед, 10–15% на полдник, 20–25% на ужин.</p>
    <p>При несоблюдении правил приготовления пищи и личной гигиены, а также в результате приема несвежей пищи возникают пищевые отравления. Они могут быть вызваны патогенной кишечной палочкой, палочкой ботулизма, стафилококками, сальмонеллами, ядовитыми веществами, содержащимися в пищевых продуктах.</p>
    <p><em>Ботулизм.</em> Поражается центральная нервная система, наступает паралич шейных и дыхательных мышц, расстройство зрения.</p>
    <p><em>Сальмонеллез.</em> Источник заражения – домашние птицы, кошки, собаки, крупный и мелкий рогатый скот, инфицированные продукты. Поражаются желудок и тонкий кишечник. </p>
</div>


<div class="container">
    <a href=@Url.Action("Test38","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>
