<h3 class="text-center"><em><u>Тип Кишечнополостные: основные ароморфозы, общая характеристика. Многообразие кишечнополостных. Значение кишечнополостных.</u></em></h3>
<div class="container">
    <p>
        <u>Три класса: </u> Гидроидные, Сцифоидные и Коралловые полипы.
    </p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol type="1">
            <li>Появление нервной системы диффузного типа и рефлексов.</li>
            <li>Дифференцировка клеток и образование тканей.</li>
            <li>Возникновение полостного пищеварения.</li>
        </ol>
    </p>
    <p>
        <strong>Количество видов: </strong> около 10000.
    </p>
    <p>
        <strong>Среда обитания: </strong> морские (преимущественно) и пресные водоемы.
    </p>
    <p>
        <strong>Развитие ротового аппарата: </strong> первичноротые.
    </p>
    <p>
        <strong>Тип симметрии: </strong>радиальная (лучевая). В зависимости от количества таких плоскостей различают четырех-, шести- или восьмилучевую симметрию. Радиальная симметрия является результатом обитания в водной среде и сидячего образа жизни.
    </p>
    <p>
        <strong>Двухслойные</strong> животные, их развитие происходит из двух зародышевых листков: эктодермы и энтодермы.
    </p>

</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Кишечнополостные существуют в виде двух жизненных форм (полип и медуза). <strong>Полип</strong> – прикрепленная форма мешковидной формы, вытянута в продольном направлении, основанием крепится к субстрату <strong>(подошва),</strong> на противоположной стороне ротовое отверстие, окруженное венчиком щупалец, которое ведет в слепо замкнутую <strong>кишечную (гастральную) полость.</strong> Кишечная полость у полипа простая, неразветвленная. Прикрепленные формы могут быть как одиночные (гидра), так и колониальные (морские гидроидные и коралловые полипы). Размножаются полипы в основном бесполым путем, однако возможно и половое размножение (гидра, кораллы). Колониальные формы образуются из одиночного полипа в результате его многократного почкования, не сопровождающегося отделением дочерних особей.
            </p>
        </div>
        <div class="col justify-content-center">
            <img src="~/Images/thema17/строение гидры.png" />
        </div>
    </div>
</div>
<div class="container">
    <p>
        <strong>Медуза</strong> – свободноплавающая форма в виде колокола, зонтика или блюдца, расширенного в поперечном направлении, на вогнутой стороне расположено ротовое отверстие, окруженное ротовыми лопастями, которые служат для захвата пищи. По краю зонтика располагаются щупальца. Плавающие формы всегда одиночные, размножаются только половым путем. Кишечная полость чаще сложная, представлена радиально расходящимися каналами.
    </p>
    <p>
        <strong>Размеры тела</strong> колеблются от 1 мм до 2 м и более.
    </p>
    <p>
        Тело взрослой особи (как и у зародыша) состоит из двух слоев: наружного (эктодерма) и внутреннего (энтодерма), которые ограничивают кишечную (гастральную) полость. Эта особенность предопределила одно из названий типа –Кишечнополостные. Гастральная полость сообщается с внешней средой ртом, который окружен щупальцами. Между слоями находится неклеточное студневидное вещество – <strong>мезоглея</strong> мезоглея (у медуз и гидроидных полипов) или опорная пластинка, выполняющая функцию внутреннего скелета (у коралловых полипов). <strong>Функции мезоглеи:</strong> опорная; механическая и химическая связи между зародышевыми листками. Коралловые полипы и колониальные гидроидные имеют скелет минерального (известковый) или органического (роговой) происхождения.
    </p>
    <p>
        Клетки слоев тела морфологически и функционально дифференцированы.
    </p>
</div>
<div class="container">
    <p>
        <ol type="I">
            <li>
                <strong>I. Клетки эктодермы.</strong>
                <ol type="1">
                    <li>Эпителиально-мускульные (покровно-мускульные, кожно-мускульные) – состоят из эпителиальной клетки (покровная функция) и мышечного волокна (двиигательная функция), расположенного параллельно его продольной оси. Они выполняют покровную и двигательную функции. </li>
                    <li>Пигментные клетки содержат окрашивающие пигменты (гидра серая, бурая, зеленая) - обеспечивают окраску тела. </li>
                    <li>Нервные клетки - клетки звездчатой формы, соединяются между собой отростками, их совокупность образует примитивную нервную систему диффузного типа (нервная сеть/сетчатая). На щупальцах у гидроидных и по краю зонтика у медуз имеются скопления нервных клеток – ганглии. </li>
                    <li>
                        Стрекательные клетки (обусловили второе название типа – Стрекающие – живые клетки, содержат ядра, органоиды и капсулу со стрекательной нитью и парализующим веществом. На поверхности клетки есть чувствительный волосок <strong>(книдоциль),</strong> воспринимающий раздражение. Стрекательные клетки постоянно обновляются за счет промежуточных клеток, так как после выстреливания погибают.

                        <p>
                            <em><u>Виды стрекательных клеток:</u></em>
                            <ol type="a">
                                <li>Пенетранты содержат нити, усеянные шипиками для пробивания покровов, поражения и обездвиживания добычи, а также защиты от врагов. </li>
                                <li>Вольвенты имеют короткие обвивающиеся нити, опутывающие жертву.</li>
                                <li>Глютинаты содержат удлиненные липкие нити для удержания добычи. </li>
                            </ol>
                        </p>
                    </li>
                    <li>Промежуточные (резервные, интерстициальные) клетки - мелкие, малодифференцированные клетки, участвуют в размножении и регенерации, так как из них могут образовываться любые клетки тела. </li>
                    <li>Половые клетки (у гидроидных) – это яйцеклетки и сперматозоиды, образуются в определенные периоды жизненного цикла из промежуточных клеток и обеспечивают половое размножение.</li>
                    <li>
                        Чувствительные клетки – клетки, расположенные в области ротового отверстия и на щупальцах.
                        <img src="~/Images/thema17/клетки гидры.png" />
                    </li>
                </ol>
            </li>
            <li>
                <strong>Клетки энтодермы.</strong>
                <ol type="1">
                    <li>Эпителиально-мускульные пищеварительные клетки имеют 2–5 жгутиков, способны образовывать ложноножки (псевдоподии), способны к фагоцитозу, мышечные волокна располагаются перпендикулярно к продольной оси тела. Выстилают внутреннюю стенку тела (гастральную полость), обеспечивают движение и внутриклеточное пищеварение.</li>
                    <li>Железистые клетки секретируют и выделяют в кишечную полость пищеварительные ферменты, которые обеспечивают полостное пищеварение.</li>
                    <li>Нервные клетки (в небольшом количестве).</li>
                    <li>Резервные клетки.</li>
                    <li>Половые клетки (у сцифоидных).</li>
                </ol>
                <p>
                    <strong>Нервная система диффузного типа</strong> и осуществляет элементарные рефлексы (в ответ на укол иглой все тело гидры сжимается). Имеет вид нервной сети, покрывает все тело животного. У более высокоорганизованных (медузы) имеются скопления нервных клеток в виде двойного кольца по краю зонтика.
                </p>
                <p>
                    <strong>Органы чувств.</strong> Светочувствительные глазки (светочувствительные и пигментные клетки); органы равновесия (укороченные щупальца с полостью <strong>(статоцисты)</strong> у основания, в которой находятся известковые камушки (статолиты)); органы осязания (стрекательные клетки).
                </p>
                <p>
                    <strong>Движение</strong> кишечнополостных происходит благодаря: 1) сокращению мышечных элементов эпителиально-мускульных клеток наружного и внутреннего слоев тела. Сокращение продольных мышечных волокон клеток эктодермы приводит к укорочению тела и щупалец, а сокращение поперечных волокон леток энтодермы вытягивает тело в длину; 2) реактивный способ движения (медузы); 3) «кувыркание» - поочередное прикрепление к субстрату то подошвой, то ротовыми щупальцами (одиночные полипы); 4) «шагание» - прикрепление к субстрату ротового полюса и подтягивание подошвы.
                </p>
                <p>
                    <strong>Пищеварение. Смешанное (полостное</strong> (обеспечивают ферменты, выделяемые железистыми клетками) <strong>и внутриклеточное </strong> (обеспечивают эпителиально-мускульные пищеварительные клетки)). Ртом служит отверстие, окруженное 10-20 парами щупалец. Пища через рот попадает в пищеварительную (гастральную) полость, где и происходит ее переваривание. Выделение непереваренных остатков пищи происходит через рот. Ход пищеварения медуз несколько усложнен: рот – глотка – желудок, от которого радиально расходятся 4-8 каналов, соединяющихся между собой по краю зонтика общим кольцевым каналом.
                </p>
                <p>
                    У коралловых полипов: рот – глотка – кишечная полость, которая имеет большое количество неполных перегородок, значительно увеличивающих поверхность пищеварительной полости.
                </p>
                <p>
                    <strong>Дыхание и выделение:</strong> всей поверхностью тела.
                </p>
                <p>
                    <strong>Регенерация</strong> возможна благодаря делению и дифференцировке промежуточных клеток. Регенерация – восстановление утраченных или поврежденных частей тела.
                </p>
                <p>
                    <strong>Размножение.</strong> Бесполое и половое. В жизненном цикле наблюдается метагенез - чередование бесполого (полип) и полового (медуза) поколения. У коралловых полипов <strong>НЕТ МЕДУЗОИДНОГО ПОКОЛЕНИЯ.</strong>
                </p>
                <div class="row">
                    <div class="col">
                        <p>
                            <u><em>Бесполое размножение. </em></u>Происходит в благоприятных условиях. Фрагментация, почкование и стробиляция (упорядоченное поперечное деление полипа на несколько частей).
                        </p>
                        <p>
                            <em><u>Половое размножение. </u></em> Происходит в неблагоприятных условиях. В основном все кишечнополостные раздельнополы, гермафродиты есть только у гидроидных. Осеменение наружное (созревшие половые клетки выделяются в воду, где и происходит оплодотворение).
                        </p>
                    </div>
                    <div class="col justify-content-center">
                        <img src="~/Images/thema17/бесполое размножение гидры.png" />
                    </div>
                </div>
                <p>
                    Развитие прямое (гидра) или непрямое (с неполным метаморфозом) – медузы – личинка <strong>(планула)</strong> – двухслойный мешочек, покрытый ресничками.
                </p>
                <img src="~/Images/thema17/половое размножение.png" />
            </li>
        </ol>
    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>Многообразие кишечнополостных.</strong>
    </div>
    <p>
        <strong>Класс Гидроидные. Представители: <u><em>гидра, крестовичок</em></u></strong> – одиночные особи; <strong><em><u>обелия, физалия</u></em></strong> (португальский кораблик) – колониальные организмы.
    </p>
    <p>
        <strong>Пресноводные гидроидные (Гидроиды)</strong> – гидра (впервые описал в 1744 г А.Трамбле).
    </p>
    <p>
        Длина тела – около 1 см. Характерна многолучевая симметрия. Гидра -одиночный свободноживущий прикрепленный полип, медузоидная форма и чередование поколений отсутствует.
    </p>
    <p>
        Тело мешковидное, фиксируется к субстрату подошвой и состоит из двух слоев клеток (эктодермы и энтодермы), разделенных опорной пластинкой (мембраной).
    </p>
    <p>
        <strong>Пищеварение.</strong> Ротовое отверстие окружают 6–12 щупалец, которые используются для захвата жертвы (гидра – хищник). Заглатывает инфузорий, низших ракообразных (дафнии, циклопы) щупальцами рта, направляя их в кишечную полость. Под действием ферментов железистых клеток осуществляется полостное пищеварение, пища распадается на мелкие частицы, которые захватываются ложноножками эпителиально-мускульных пищеварительных клеток с образованием пищеварительной вакуоли (внутриклеточное пищеварение). Непереваренные остатки выделяются наружу через рот.
    </p>
    <p>
        <strong>Дыхание и выделение</strong> происходит всей поверхностью тела. <strong>Нервная система</strong> диффузного типа. <strong>Регенерация</strong> осуществляется за счет резервных клеток.
    </p>
    <p>
        <strong>Размножение</strong> бесполое и половое. Бесполое размножение (почкование) происходит летом (почка состоит из клеток эктодермы и энтодермы), а половое – осенью при наступлении неблагоприятных условий. В эктодерме формируются половые железы (гонады), в которых образуются гаметы (сперматозоиды со жгутиками и амебоидная яйцеклетка), оплодотворение происходит на теле материнской гидры. С наступлением зимы материнская особь погибает, а весной из оплодотворенной яйцеклетки развивается молодая гидра; развитие прямое.
    </p>
    <p>
        В пресных водоемах РБ встречаются 4 вида гидр: обыкновенная, длинностебельчатая, зеленая, тонкая.
    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>Морские гидроидные (Гидрозои).</strong>
    </div>
    <p>Колониальные или одиночные организмы.</p>
    <p>Характерен метагенез. Бесполое поколение (полипы), образуют колонии в виде деревьев или кустиков, прикрепленных к подводным предметам. Колонии образованы совокупностью отдельных особей (гидрантов), которые возникают в результате почкования, без последующего отделения от общего ствола и ветвей. Пищеварительные полости гидрантов соединяются в общий канал, проходящий через ствол и ветви колонии. Колония покрыта защитной оболочкой, представляющей совокупность колпачков отдельных гидрантов, которые образуются клетками эктодермы. Полипы размножаются вегетативным способом (отделением частей колонии).</p>
    <div class="row">
        <div class="col">
            <p>
                Гидроидные медузы (половое поколение) – небольшие, до 1 см; они имеют просто устроенные пищеварительные каналы (неразветвленные). Возникают путем почкования, как части колонии, а в дальнейшем отделяются от нее и некоторое время ведут свободноплавающий образ жизни. Характерны адаптации к активному движению: органы чувств (глазки и статоцисты) и орган движения – <strong>парус</strong> складка эктодермы по краю зонтика, способная к сокращению. Размножение у гидроидных медуз половое (гонады располагаются на нижней поверхности зонтика). Осеменение наружное (половые клетки выделяются в воду); развитие с метаморфозом (личинка – планула).
            </p>
        </div>
        <div class="col justify-content-lg-center">
            <img src="~/Images/thema17/обелия.png" />
            <p class="picture_framing">
                Гидроид обелия. 1 –развивающиеся медузы; 2 – гидрант; 3 –основной ствол колонии; 4 – почкующийся гидрант; 5 - щупальца
            </p>
        </div>
    </div>
</div>
<div class="container">
    <p>
        <strong>Класс Сцифоидные. Представители: <em><u>корнерот, аурелия, цианея, ропилема съедобная.</u></em></strong>
    </p>
    <p>
        Обитают в морских водоемах.
    </p>
    <p><strong>Размеры тела:</strong> крупные организмы (диаметр зонтика достигает 2м, щупалец – до 10-15м).</p>
    <p><strong>Форма тела</strong> – в виде зонтика или купола. На вогнутой поверхности зонтика имеется рот, окруженный ротовыми лопастями, по краю зонтика расположены щупальца. Основную массу тела составляет мезоглея (содержит до 98% воды) - <strong>ОТЛИЧИЕ ОТ ПОЛИПОВ.</strong> Функция: незаметны для хищников и жертв (покровительственная окраска). </p>
    <div class="row">
        <div class="col">
            <p>Кишечная полость представлена системой сообщающихся каналов (4–8 радиальных ветвящихся и 1 кольцевой). На ротовых лопастях и щупальцах имеется множество стрекательных клеток. <strong>Движение</strong> осуществляется реактивным способом, за счет выталкивания воды из-под купола при сокращении стенок зонтика (парус отсутствует). По краю зонтика имеется скопление нервных клеток в виде краевого нервного кольца и 8 ганглиев.</p>
            <p>
                Характерны <strong>органы чувств:</strong> равновесия – статоцисты, расположенные по краю зонтика, зрения – глаза, находящиеся в видоизмененных щупальцах зонтика – <strong>ропалиях.</strong>
            </p>
        </div>
        <div class="col justify-content-center">
            <img src="~/Images/thema17/медуза корнерот.png" />
            <p class="picture_framing"> 
                Медуза корнерот. 1 –зонтик; 2 – ротовые лопасти
            </p>
        </div>
    </div>
    <p>Для жизненного цикла характерно чередование поколений, преобладает половое (медузоидное) поколение, а стадия полипа – кратковременная. Медузоидные формы раздельнополые, половые клетки развиваются в энтодерме. После оплодотворения образуется зигота, которая превращается в подвижную личинку – планулу; из нее формируется полип. Размножение полипа происходит стробиляцией, образующиеся <strong>эфиры</strong> (маленькие медузы) растут и превращаются в половозрелые формы.</p>
</div>
<div class="container">
    <p>
        <strong>Класс Коралловые полипы. Представители: <em><u>актиния</u></em></strong> – одиночная особь, <strong><em><u>красный благородный коралл, черный коралл, роговой коралл</u></em></strong> колониальные особи.
    </p>
    <p>
        <strong>Среда обитания:</strong> тропическая часть Мирового океана при температуре воды не ниже 20 °С и солености 3,5%.
    </p>
    <p>
        Одиночные особи имеют цилиндрическое тело, прикрепляется к субстрату широким основанием – подошвой. Яркая окраска и многочисленные подвижные щупальца на свободном конце делают их похожими на цветы. Рот окружен либо 8 щупальцами (восьмилучевые кораллы), либо кратным 6 числом щупалец (шестилучевые кораллы). Кишечная полость разделена перегородками (септирована). Мышечные клетки обособляются, образуя сплошной слой. У большинства видов хорошо развит скелет: наружный (роговой или известковый), образующийся за счет выделений клеток эктодермы, или внутренний, образующийся в мезоглее. В цикле развития отсутствуют медузоидная форма и метагенез. Размножение бесполое (почкование) и половое.
    </p>
    <p>
        Кораллы – раздельнополые животные, гаметы образуются в энтодерме; развитие прямое или с метаморфозом (личинка – планула). Колониальные формы образуют береговые рифы, которые со временем могут превращаться в барьерные, кольцевые рифы и <strong>атоллы</strong> – острова с лагуной внутри.
    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>Значение кишечнополостных.</strong>
    </div>
    <ol type="I">
        <li>
            <strong>Положительное:</strong>
                <ol type="1">
                    <li>Являются компонентами пищевой сети Мирового океана (пища для некоторых морских животных). </li>
                    <li>Активно участвуют в очищении морской воды. </li>
                    <li>Коралловые полипы – основа для формирования уникальных экосистем – коралловых рифов, в «зарослях» которых поселяются иглокожие, моллюски, черви, рыбы. </li>
                    <li>Образуют месторождения известняка (строительный материал).</li>
                    <li>Эстетическое (используются для изготовления украшений (красный благородный коралл)). </li>
                    <li>Медузы – объект промысла как пищевой продукт («хрустальное мясо» медузы корнерот).</li>
                </ol>
        </li>
        <li>
            <strong>Отрицательное:</strong>
            <ol type="1">
                <li>Могут быть ядовитыми (крестовичок, физалия, цианея и др.).</li>
                <li>Береговые рифы, коралловые острова, атоллы затрудняют прохождение судов.</li>
            </ol>
        </li>
    </ol>
</div>
