<div class="container">
    <p>
        Опорно-двигательный аппарат состоит из скелета и мышц. Скелет является пассивной частью опорно-двигательного аппарата. Он образован костями, хрящами и связками. В скелете человека более 200 костей (у новорожденных количество костей несколько больше).
    </p>
    <p>
        <strong>Функции скелета:</strong>
        <ol type="1">
            <li><em>Опорная</em> (прикрепление мышц к костям скелета, сохранение формы тела и поддержание его равновесия);</li>
            <li><em>Защитная</em> (защита от повреждений жизненно важных органов – головного мозга, сердца, легких);</li>
            <li><em>Участие в минеральном обмене</em> (содержание в костях солей кальция, фосфора, магния, железа);</li>
            <li><em>Кроветворная</em> (образование форменных элементов крови в красном костном мозге).</li>
        </ol>
    </p>
    <p>
        <strong>Кость</strong> – это орган, состоящий в основном из пластинчатой костной ткани, покрытый <em>надкостницей</em> (плотная волокнистая соединительная ткань) и имеющий внутри полость, в которой находится костный мозг.
    </p>
    <p><strong>Мышцы</strong> – это активная часть опорно-двигательного аппарата; их сокращения обусловливают движение организма и отдельных его частей.</p>
    <p><strong>Химический состав кости:</strong> живая кость содержит 50% воды, 12,5% белков (оссеин (костная плотность), <em>коллаген</em> (прочность)), 21,8% неорганических солей (фосфат и карбонат кальция) и 15,7% жиров и углеводов.</p>
    <p><em>Стадии развития кости</em> (за исключением мозгового отдела черепа): соединительно-тканная, хрящевая и костная.</p>
    <p>
        <strong>Клеточный состав кости:</strong>
        <ol type="1">
            <li><em>Остеоциты</em> – основные клетки, обеспечивающие обменные процессы;</li>
            <li><em>Остеобласты</em> – недифференцированные делящиеся клетки, из которых образуются остеоциты;</li>
            <li><em>Остеокласты</em> – клетки, участвующие в рассасывании поврежденных и регенерирующих участков костной ткани.</li>
        </ol>
    </p>
    <p>Межклеточное вещество (костный матрикс) представлено коллагеновыми волокнами и основным веществом, состоящим из минеральных солей и гликопротеинов.</p>
    <h3><strong>Микроскопическое строение кости.</strong></h3>
    <p> Различают два вида вещества костной ткани: компактное и губчатое.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <em>Компактное вещество</em> состоит из слоев пластин и слоя остеонов. Пластины охватывают кость целиком, образуя концентрические слои; состоят из основного вещества, в котором параллельными слоями располагаются пучки коллагеновых волокон; между пластинами находятся остеоциты. <em>Остеон (гаверсова система)</em> – структурная единица костной ткани, представляющая собой систему тонких, концентрически расположенных вокруг сосудов пластин в виде цилиндров, вставленных один в другой. Центральный (гаверсов) канал остеона содержит кровеносные сосуды (артерия и вена).
                </p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema34/строение кости.png" class="rounded" alt="Строение кости" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <em>Губчатое вещество</em> образовано костными перекладинами (балками), расположенными рыхло с промежутками между ними. Оно состоит из пластинок в плоских костях, в эпифизах трубчатых и в губчатых костях. Расположение костных перекладин соответствует направлениям, по которым кость испытывает нагрузки в виде сжатия и растяжения. Губчатое вещество – ячеистое, по виду напоминает губку, его ячейки заполнены красным костным мозгом (кроветворный орган).
    </p>
    <h3><strong>Макроскопическое строение кости.</strong></h3>
    <ol type="1">
        <li>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <em>Трубчатые кости</em> короткие (кости кисти и стопы) и длинные (кости плеча, предплечья, бедра, голени)). Длинная трубчатая кость имеет тело (диафиз) и две головки (эпифизы). Между телом и головками кости расположен эпифизарный хрящ <em>(метафиз)</em>, обеспечивающий <em>рост кости в длину.</em> Наружный слой диафиза образован толстой пластинкой компактного костного вещества, а внутренний – губчатым веществом. Внутри диафиза расположена костно-мозговая полость, заполненная <em>желтым костным мозгом</em> (жировая ткань). Головки трубчатых костей образованы губчатым костным веществом и заполнены <em>красным костным мозгом</em> (кроветворная функция), содержат суставные поверхности, покрытые гиалиновым хрящом. Кроме суставных поверхностей снаружи кость покрыта <em>надкостницей.</em> Она состоит из двух слоев: наружного – волокнистого и внутреннего – клеточного, где находятся остеобласты, обеспечивающие <em>рост кости в толщину</em> и заживление костных переломов, и остеокласты, разрушающие кости. Через надкостницу проходят нервы и сосуды, обеспечивающие питание кости, ее рост и регенерацию.
                    </div>
                    <div class="col text-center">
                        <img src="~/Images/thema34/Макроскопическое строение кости.png" class="rounded" width="100%" height="100%" alt="Макроскопическое строение кости" />
                    </div>
                </div>
            </div>
        </li>
        <li><em>Губчатые кости</em> (короткие (кости запястья, предплюсны) и длинные (ребра, грудина)). Состоят преимущественно из губчатого вещества, покрытого тонким слоем компактного. </li>
        <li><em>Плоские кости</em> (кости черепа, лопатки). Образованы двумя пластинками компактного вещества с тонким слоем губчатого вещества между ними; ограничивают полости, в которых помещаются органы, или служат для прикрепления мышц.</li>
        <li><em>Смешанные кости</em> (тело позвонка – губчатая кость, отростки позвонка – плоские кости). Состоят из нескольких частей, имеющих разное строение и выполняющих различные функции.</li>
    </ol>
    <h3><strong>Типы соединения костей.</strong></h3>
    <ol type="1">
        <li><em>Неподвижное</em> (непрерывное) соединение. Осуществляется двумя способами: швами (соединение костей черепа) и срастанием костей (кости таза с крестцом, крестцовые позвонки).</li>
        <li><em>Полуподвижное</em> (полупрерывное) соединение. Соединение с помощью хрящей (грудные позвонки, ребра с грудиной).</li>
        <li>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <em>Подвижное</em> (прерывное) соединение костей – сустав. Сустав состоит из суставных поверхностей сочленяющихся костей, суставной сумки, суставной полости и суставной жидкости. <em>Суставные поверхности костей</em> покрыты гладким гиалиновым хрящом (облегчение движения костей в суставе). Суставная поверхность одной из костей сустава (головка) – выпуклая, а суставная поверхность другой (впадина) – вогнутая. <em>Суставная сумка</em> охватывает суставные поверхности сочленяющихся костей, образуя замкнутую <em>суставную полость,</em> заполненную <em>суставной жидкостью.</em> Суставы укрепляются связками, которые располагаются вне суставной сумки или внутри нее.
                    </div>
                    <div class="col text-center">
                        <img src="~/Images/thema34/соединения костей.png" class="rounded" width="100%" height="100%" alt="соединения костей" />
                    </div>
                </div>
            </div>
        </li>
    </ol>
    <h3><strong>Классификация суставов по форме суставных поверхностей:</strong></h3>
    <ol type="1">
        <li><em>Плоские</em> (между костями запястья и пястья);</li>
        <li><em>Цилиндрические</em> (между локтевой и лучевой костями);</li>
        <li><em>Эллипсоидные</em> (между костями предплечья и кисти);</li>
        <li><em>Шаровидные</em> (плечевой сустав).</li>
    </ol>
    <h3><strong>Классификация суставов по движению вокруг осей:</strong></h3>
    <ol type="1">
        <li><em>Одноосные</em> (межфаланговые) – движение вокруг одной оси: сгибание и разгибание;</li>
        <li><em>Двухосные</em> (лучезапястные) – движение вокруг двух осей: сгибание и разгибание, приведение и отведение;</li>
        <li><em>Трехосные</em> (плечевые) – движения вокруг трех осей: сгибание и разгибание, приведение и отведение, вращение внутрь и наружу и круговые движения.</li>
    </ol>
    <h3><strong>Классификация суставов по строению:</strong></h3>
    <ol type="1">
        <li><em>Простые</em> – только две суставные поверхности (межфаланговые);</li>
        <li><em>Сложные</em> – больше двух суставных поверхностей (локтевой, коленный).</li>
    </ol>
    <h3><strong>Строение скелета человека и его особенности.</strong></h3>
    <p><strong>Скелет</strong> – это совокупность костей тела, соединенных между собой с помощью хрящей и связок.</p>
    <p>
        <strong>Отделы скелета человека:</strong>
        <ol type="I">
            <li>
                <em><u>Скелет головы (череп)</u></em>  Состоит из мозгового и лицевого отделов. Верхняя часть мозгового отдела черепа – крыша, нижняя – основание. В основании имеется большое затылочное отверстие, через которое соединяются спинной и головной мозг.
                <p><strong>Кости мозгового отдела черепа (8 костей):</strong> 2 парных (теменная и височная); 4 непарные (лобная, затылочная, решетчатая и клиновидная).</p>
                <p><strong>Кости лицевого отдела черепа (15 костей):</strong> 6 парных (верхнечелюстная, скуловая, носовая, слезная, нёбная, нижняя носовая раковина); 3 непарные (нижняя челюсть, сошник, подъязычная кость).</p>
                <p>Верхнечелюстные и нёбные кости срастаются и образуют перегородку между носовой и ротовой полостями – твердое нёбо. Верхнечелюстные кости и нижняя челюсть содержат ячейки (альвеолы), в которых располагаются корни зубов.</p>

                <img src="~/Images/thema34/Кости мозгового отдела черепа.png" class="rounded" width="100%" height="100%" alt="Кости мозгового отдела черепа" />

            </li>
            <li>
                <em><u> Скелет туловища.</u></em> Состоит из позвоночника и грудной клетки.
                <ol type="1">
                    <li>
                        <em>Позвоночник</em> образован 33–34 позвонками и имеет 5 отделов: шейный – 7 позвонков; грудной – 12 позвонков; поясничный – 5 позвонков; крестцовый – 5 позвонков и копчиковый – 4–5 позвонков.
                        <p>
                            Все позвонки делятся на свободные (истинные) – их 24 и сросшиеся (ложные) – их 9–10. Каждый позвонок состоит из тела и дуги, от которой отходят несколько отростков. Между телом позвонка и дугой находится позвоночное отверстие. При наложении позвонков друг на друга эти отверстия образуют позвоночный канал, в котором располагается спинной мозг. Между позвонками находятся межпозвонковые диски (хрящевая и плотная волокнистая соединительная ткани). Крестцовые и копчиковые позвонки срастаются, образуя крестец и копчик.
                        </p>
                        <p>
                            <strong>Физиологические изгибы позвоночника:</strong>
                            <ol type="1">
                                <li><em>Лордозы</em> –  изгибы обращены выпуклостью вперед (шейный и поясничный отделы;</li>
                                <li><em>Кифозы</em> – изгибы обращены выпуклостью назад (грудной и крестцовый отделы).</li>
                                <li><em>Грудная клетка</em> образована грудиной, грудными позвонками и 12 парами ребер.</li>
                            </ol>
                        </p>
                        <img src="~/Images/thema34/Позвоночник.png" class="rounded" width="100%" height="100%" alt="Позвоночник" />
                        <p>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <strong>Виды ребер:</strong>
                                        <ol type="1">
                                            <li><em>Истинные ребра.</em> Соединены передними концами при помощи хряща непосредственно с грудиной (1–7-я пары);</li>
                                            <li><em>Ложные ребра.</em> Соединены передними концами с хрящом вышележащего ребра (8–10-я пары); </li>
                                            <li><em>Колеблющиеся ребра.</em> Лежат свободно и передние их концы оканчиваются в мягких тканях (11–12-я пары).</li>
                                        </ol>
                                    </div>
                                    <div class="col">
                                        <img src="~/Images/thema34/Ребра.png" class="rounded" width="100%" height="100%" alt="Ребра" />
                                    </div>
                                </div>
                            </div>
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <em><u>Скелет конечностей.</u></em> Состоит из скелета пояса конечностей (прикрепляет конечности к осевому скелету) и скелета свободной конечности.
                <ol type="1">
                    <li><em>Скелет пояса верхней конечности</em> – парные лопатки и ключицы.</li>
                    <li>
                        <em>Скелет свободной верхней конечности</em> – плечевая кость, 2 кости предплечья (локтевая и лучевая) и кости кисти (8 костей запястья, 5 костей пястья и 14 фаланг пальцев).
                        <img src="~/Images/thema34/Скелет.png" class="rounded" width="100%" height="100%" alt="Скелет" />
                    </li>
                    <li><em>Скелет пояса нижней конечности</em> – тазовые кости (образованы срастанием подвздошной, седалищной и лобковой костей (срастание происходит в возрасте 17–18 лет)) и крестцовый отдел позвоночника.</li>
                    <li><em>Скелет свободной нижней конечности</em> – бедренная кость, надколенник, кости голени (большая и малая берцовой) и кости стопы (7 костей предплюсны, 5 костей плюсны и 14 фаланг пальцев).</li>
                </ol>
            </li>
        </ol>
    </p>
    <h3>Особенности скелета человека, связанные с прямохождением и трудовой деятельностью: </h3>
    <ol type="1">
        <li>Вертикальное расположение позвоночника;</li>
        <li>Увеличение массы позвонков от шейного отдела к поясничному; </li>
        <li>Наличие физиологических изгибов позвоночника (амортизационная функция: смягчают толчки при ходьбе, прыжках и беге, увеличивают размеры грудной клетки и таза); </li>
        <li>Грудная клетка плоская и широкая; </li>
        <li>Широкий и массивный таз, который поддерживает внутренние органы; </li>
        <li>Массивные нижние конечности; </li>
        <li>Сводчатая стопа (амортизационная функция: смягчает толчки тела при ходьбе); </li>
        <li>Преобладание мозгового отдела черепа над лицевым; </li>
        <li>Сглаживание надглазничных дуг; </li>
        <li>Подвижная кисть, высокая степень противопоставления большого пальца всем остальным; </li>
        <li>Хорошо развитые ключицы, обеспечивающие круговые движения рук; </li>
        <li>Наличие подбородочного выступа на нижней челюсти, что связано с речевой функцией.</li>
    </ol>
    <h3>Строение скелетной мышцы.</h3>
    <p>Скелетная мышца состоит из поперечно-полосатой мышечной ткани. Поперечно-полосатые мышечные волокна объединяются в пучки, покрытые соединительно-тканными оболочками <em>(сарколеммой).</em> Между мышечными пучками проходят кровеносные и лимфатические сосуды, мелкие нервы. В совокупности мышечные пучки образуют скелетную мышцу, покрытую более плотной оболочкой – фасцией. В каждой мышце различают сокращающуюся часть – <em>мышечное брюшко (тело)</em> и несокращающуюся – <em>сухожилие</em>  (плотная волокнистая соединительная ткань), с помощью которого мышцы прикрепляются к костям обоими концами (искл. мимические мышцы прикреплены одним концом к кости, а другим – к коже). Сокращаясь, мышца укорачивается, утолщается и движется относительно соседних мышц. Укорочение мышцы сопровождается сближением ее концов и костей, к которым она прикрепляется.</p>
    <img src="~/Images/thema34/Строение скелетной мышцы.png" class="rounded" width="100%" height="100%" />
    <p>
        <em>Классификация мышц в зависимости от величины:</em> <u>длинные</u>  (мышцы конечностей) и <u>короткие</u> (между ребрами и позвонками); в зависимости от формы – <u>широкие</u> (мышцы туловища) и <u>веретенообразные.</u> веретенообразные.
    </p>
    <p>
        <em>Классификация мышц в зависимости от функции:</em> <u>сгибатели</u> (обеспечивают движение вперед); <u>разгибатели</u> (обеспечивают движение назад – все, кроме коленного и голеностопного суставов); <u>отводящие</u> (обеспечивают движение наружу); <u>приводящие</u> (обеспечивают движение внутрь); <u>вращающие</u> (мышцы, расположенные косо).
    </p>
    <p><em> Классификация мышц по характеру взаимодействия:</em> <u>синергисты</u> (группы мышц, выполняющие одновременно одну функцию (жевательные и височная)) и <u>антагонисты</u> – мышцы, выполняющие противоположные функции (двухглавая мышца плеча – сгибатель, а трехглавая мышца плеча – разгибатель).</p>
    <h3>Основные группы мышц:</h3>
    <ol type="1">
        <li><em> Мышцы головы и шеи</em>  (жевательная, височная, круговые мышцы глаза и рта, мимические, грудино-ключично-сосцевидная, челюстно-подъязычная);</li>
        <li><em>Мышцы туловища</em>  (мышцы спины – трапециевидная, широчайшая; мышцы груди – большая грудная, межреберные, диафрагма; мышцы живота – наружная и внутренняя косые, прямая);</li>
        <li><em>Мышцы плечевого пояса и верхней конечности</em> (дельтовидная, подлопаточная, двух- и трехглавая, плечевая, сгибатели и разгибатели кисти и пальцев);</li>
        <li><em>Мышцы тазового пояса и нижней конечности</em> (ягодичные, грушевидная, портняжная, икроножная, большеберцовая, малоберцовая, сгибатели и разгибатели пальцев).</li>
    </ol>
    <h3><em>Функции мышц:</em></h3>
    <ol type="1">
        <li>Двигательная (вместе с костями обеспечивают движение тела и отдельных его частей, определяют положение тела в пространстве и равновесие);</li>
        <li>Защитная (мышцы живота защищают от повреждений органы брюшной полости);</li>
        <li>Фиксация суставов (предотвращают ненужные движения);</li>
        <li>Участие в дыхательных движениях, образовании звуков, движении глаз; </li>
        <li>Обеспечение жевания, глотания, образования тепла, мимики, речи, активное нагнетание венозной крови по направлению к сердцу.</li>
    </ol>
    <h3><strong>Работа мышц. Утомление мышц.</strong></h3>
    <p>Любое мышечное сокращение связано с расходом энергии. Ее источником служат органические вещества, которые поступают в мышцу с артериальной кровью. Кровь приносит также кислород, необходимый для кислородного этапа энергетического обмена. Поступившие в мышцу питательные вещества (глюкоза, жирные кислоты) расщепляются до молочной кислоты, которая затем окисляется до диоксида углерода и воды с выделением энергии, аккумулирующейся в аденозинтрифосфат (АТФ) – универсальный источник энергообеспечения мышечного сокращения. </p>
    <p>Мышечное сокращение связано со следующими реакциями: </p>
    <p>Гликоген → глюкоза → молочная кислота + энергия (АТФ);</p>
    <p>Молочная кислота + O<sub>2</sub> = CO<sub>2</sub> + H<sub>2</sub>O + энергия (АТФ);</p>
    <p>АТФ → АДФ + Н3РО4 + 40 кДж (используемая для сокращения).</p>
    <h3><strong>Механизм нервно-мышечного сокращения:</strong></h3>
    <ol type="1">
        <li>Нервный импульс приводит мышцу в возбужденное состояние и увеличивает проницаемость мембраны мышечного волокна для ионов кальция;</li>
        <li>Са<sup>2+</sup> активизирует миозин;</li>
        <li>Активированный миозин отщепляет от АТФ остаток фосфорной кислоты, при этом освобождается энергия, которая способствует соединению миозина с актином и образованию актин-миозинового комплекса (мышца сокращается и выполняет работу);</li>
        <li>После сокращения мышцы актин-миозиновый комплекс разрушается, Са<sup>2+</sup> выходят из миофибрилл, мышца расслабляется, кровь уносит диоксид углерода и воду.</li>
    </ol>
    <p>Мышцы никогда, даже в покое, не бывают полностью расслаблены, они находятся в состоянии некоторого напряжения – тонуса. Сокращение скелетной мышцы происходит в ответ на раздражение, передающееся из нервной системы по двигательному нервному волокну, т. е. носит рефлекторный характер. Мышечный рефлекс может начинаться с раздражения зрительных, слуховых, осязательных рецепторов или рецепторов, находящихся в самой мышце либо в сухожилиях.</p>
    <h3>Отделы центральной нервной системы, участвующие в регуляции работы мышц:</h3>
    <ol type="1">
        <li>Передняя центральная извилина коры больших полушарий (произвольные движения);</li>
        <li>Подкорковые центры больших полушарий (автоматические движения (бег, ходьба));</li>
        <li>Мозжечок (поддержание равновесия и координация движений).</li>
    </ol>
    <p><strong>Динамическая работа</strong>- это поочередное сокращение скелетных мышц, обеспечивающих движение тела и его частей (утомление наступает медленно). </p>
    <p><strong>Статическое напряжение мышц</strong> – это напряжение скелетных мышц, обеспечивающее поддержание тела в пространстве или удержание груза (утомление наступает быстро).</p>
    <p>Мышца не может работать непрерывно. При длительном сокращении наступает постепенное снижение ее работоспособности, сокращения становятся замедленными <em> (мышечное утомление).</em></p>
<h3><strong>Причины утомления мышц: </strong></h3>
    <ol type="1">
        <li>Торможение нервных центров (центральной нервной системы), регулирующих работу мышц; </li>
        <li>Нарушение передачи нервных импульсов от нервных центров к мышцам по двигательным (центробежным) нервным волокнам; </li>
        <li>Нарушение питания мышцы и доставки кислорода, вследствие чего в ней накапливаются недоокисленные продукты обмена (молочная кислота).</li>
    </ol>
    <p>
        <em>Осанка</em> – это привычное положение тела при различных состояниях (стояние, походка, работа). Формирование осанки происходит в возрасте 6–7 лет. При нарушении функции мышц-разгибателей (мышц спины) возникают нарушения осанки (например, <em>сутулость</em> ). Это приводит к нарушению работы сердца и легких. В детском возрасте, когда хрящевая ткань в позвонках еще не заменилась костной, могут возникать разнообразные искривления позвоночника: <em>боковое (сколиоз); избыточный грудной кифоз (горб); избыточный поясничный лордоз.</em> Они нарушают нормальную деятельность сердечно-сосудистой системы, органов дыхания и пищеварения. Еще одним нарушением развития скелета является плоскостопие – уплощение свода стопы.
    </p>
    <p>Чрезмерная физическая нагрузка, неосторожные движения, падения могут привести к вывихам и переломам костей. При вывихе происходит смещение костей в суставе, растяжение и разрыв связок, при переломе – нарушение целостности костей.</p>
    <h3><strong>Первая медицинская помощь при вывихах и переломах.</strong></h3>
    <p>При вывихе необходимо придать конечности положение, при котором боль не ощущается, зафиксировать сустав и приложить холодный компресс (снег, лед). </p>
    <p>При переломе необходимо остановить кровотечение (если перелом открытый), обезболить пострадавшего и наложить на поврежденный участок повязку с шиной, захватывающей два соседних с переломом сустава.</p>
</div>

<div class="container">
    <a href=@Url.Action("Test34","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>
