<div class="container">
    <p><strong>Анализатор (сенсорная система)</strong> – функциональная система, обеспечивающая восприятие, передачу и переработку информации из внешней и внутренней среды организма.</p>
    <p>Учение об анализаторах разработано И.П. Павловым.</p>
    <h2 class="text_center_bord"><u>Отделы анализатора:</u></h2>
    <p>
        <ol type="1">
            <li>
                <strong>Периферический отдел (орган чувств, рецептор).</strong> Воспринимает внешнюю и внутреннюю информацию в виде химических, механических и световых раздражителей и преобразует полученный сигнал в нервный импульс.
                <div class="container">
                    <p><strong>Рецептор</strong> - это клетка или специальный чувствительный орган, способный воспринять определенный раздражитель.</p>
                    <p><strong>Виды рецепторов:</strong> хеморецепторы (вкус, обоняние); механорецепторы (осязание, слух); фоторецепторы (зрение); терморецепторы (холод, тепло); ноцицепторы (боль). </p>
                    <p><strong>Орган чувств</strong> – совокупность рецепторов, сконцентрированных в определенных участках тела и структурах тканей (определяют основные виды чувствительности: осязание, обоняние, вкус, зрение, слух, равновесие).</p>
                </div>
            </li>
            <li>
                <strong>Проводниковый отдел.</strong> Представлен нервами, отходящими от рецепторов органов чувств. Передает полученную от рецептора информацию, закодированную в форме нервного импульса, в соответствующий отдел центральной нервной системы.
            </li>
            <li><strong>Центральный отдел (мозговой центр)</strong> – определенный участок коры больших полушарий головного мозга, где происходит декодирование (расшифровка) информации с языка нервного импульса и преобразование в форму соответствующего ощущения (зрительного, слухового, вкусового и т. п.), анализ возбуждения, формирование ощущения и ответной реакции на раздражение, выработка адекватного поведения.</li>
        </ol>
    </p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Вид анализатора</td>
                <td>Вид чувствительности</td>
                <td>Периферический отдел</td>
                <td>Центральный отдел</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Зрительный</td>
                <td>Восприятие формы, размера, цвета и яркости предметов окружающей среды.</td>
                <td>Фоторецепторы сетчатки глаза</td>
                <td>Зрительная зона затылочной доли коры больших полушарий</td>
            </tr>
            <tr>
                <td>Слуховой</td>
                <td>Восприятие частоты и силы и направления звуковых колебаний</td>
                <td>Рецепторы кортиева органа внутреннего уха</td>
                <td>Слуховая зона височной доли коры больших полушарий</td>
            </tr>
            <tr>
                <td>Вестибулярный (равновесия)</td>
                <td>Восприятие положения тела в пространстве, изменение скорости и направления движений</td>
                <td>
                    Полукружные каналы и два мешочка (овальный и круглый) преддверья улитки внутреннего уха, в которых расположены волосковые клетки
                </td>
                <td>Зона равновесия в височной доле коры больших полушарий</td>
            </tr>
            <tr>
                <td>Вкусовой</td>
                <td>Восприятие вкусовых свойств веществ, поступающих в ротовую полость </td>
                <td>Вкусовые почки слизистой языка, стенок ротовой полости, нёба, глотки, надгортанника </td>
                <td>Зона вкуса височной доли коры больших полушарий</td>
            </tr>
            <tr>
                <td>Обонятельный</td>
                <td>Восприятие запахов различных веществ, попадающих в носовую полость</td>
                <td>Слизистая оболочка верхнего носового хода</td>
                <td>Зона обоняния височной доли коры больших полушарий</td>
            </tr>
            <tr>
                <td>Двигательный</td>
                <td>Восприятие мышечного напряжения, совершение разнообразных движений</td>
                <td>Рецепторы мышц и суставов</td>
                <td>Передняя центральная извилина лобной доли коры больших полушарий</td>
            </tr>
            <tr>
                <td>Кожная чувствительность (осязание)</td>
                <td>Восприятие формы, величины, плотности, температуры различных предметов. Виды кожной чувствительности: тактильная, температурная и болевая </td>
                <td>Рецепторы губ, кончиков языка, пальцев и ладоней </td>
                <td>Задняя центральная извилина теменной доли коры больших полушарий</td>
            </tr>
        </tbody>
    </table>
    <h2 class="text_center_bord">Значение органов чувств:</h2>
    <ol type="1">
        <li>Восприятия изменений окружающей среды;</li>
        <li>Обеспечение ориентации организма в окружающей среде;</li>
        <li>Обеспечение адекватной реакции на изменения в окружающей среде;</li>
        <li>Участие в образовании условных рефлексов.</li>
    </ol>
    <h2 class="text_center_bord">Строение, функции и гигиена органов зрения</h2>
    <p>
        <strong>Зрение</strong> – процесс, обеспечивающий восприятие формы, размеров, цвета окружающих предметов и помогающий ориентироваться в пространстве.
    </p>
    <p><strong>Зрительный анализатор</strong> – система, обеспечивающая получение зрительной информации из окружающей среды.</p>
    <p>
        Отделы: <strong>периферический</strong> (фоторецепторы сетчатки глаза), <strong>проводниковый</strong> (зрительный нерв) и <strong>центральный</strong> (зрительная зона затылочной доли коры больших полушарий).
    </p>
    <h3 class="text-center"><em>Строение периферического отдела зрительного анализатора.</em></h3>
    <p>
        <strong>Глаз</strong> расположен в глазнице - углублении лицевой части черепа.
    </p>
    <p>
        <strong>Составные части:</strong> глазное яблоко и вспомогательный аппарат.
    </p>
    <p>
        <strong>Вспомогательный аппарат.</strong> Компоненты:
        <ol type="1">
            <li>
                <em>6 глазодвигательных мышц</em> (обеспечивают движение глазного яблока);
            </li>
            <li>
                <em>Веки</em> (изнутри выстланы слизистой оболочкой – конъюнктивой);
            </li>
            <li>
                <em>Ресницы, брови</em> (отводят пот и защищают глазное яблоко от повреждений);
            </li>
            <li>
                <em>Жировая клетчатка</em> (амортизатор - предохраняет глазное яблоко от толчков и повреждений);
            </li>
            <li>
                <em>Слезный аппарат</em> <strong>(слезные железы</strong> (верхний наружный угол глаза) и <strong>слезовыводящие протоки</strong> (нижний внутренний угол глаза).
            </li>
        </ol>
    </p>
    <p>
        <strong>Функции слезной жидкости:</strong>
        <ol type="1">
            <li>Увлажнение поверхности глазного яблока;</li>
            <li>Смывает посторонние частицы;</li>
            <li>Бактерицидная (содержит <strong>лизоцим).</strong></li>
        </ol>
    </p>
    <p>
        <strong>Глазное яблоко.</strong> 3 оболочки:
        <ol type="1">
            <li>
                <strong>Наружная оболочка (фиброзная, белочная).</strong>
                <ol type="a">
                    <li><em>роговица</em> – прозрачная, светопреломляющая оболочка на передней поверхности глаза, не содержит кровеносных сосудов (питание обеспечивается влагой передней камеры глаза и сосудами в прилежащих участках склеры). В роговице имеются чувствительные нервные окончания, вызывающие мигание и слезоотделение при самом незначительном прикосновении к роговице;</li>
                    <li><em>склера</em> – непрозрачная (белая или слегка голубоватая) часть оболочки на боковых и задней поверхностях глаза (образована белыми коллагеновыми волокнами), содержит сосуды. Передняя часть склеры, обращенная в глазную щель, покрыта <em>конъюнктивой.</em> Функция: защитная.</li>
                </ol>
            </li>
            <li>
                <strong>Средняя оболочка (сосудистая).</strong>
                <ol type="a">
                    <li><em>радужка</em> – передняя, окрашенная поверхность оболочки, содержит пигмент <em>меланин,</em> определяет цвет глаз. В радужке имеется круглое отверстие <em>(зрачок),</em> которое рефлекторно меняет свои размеры в зависимости от интенсивности освещения за счет мышечных волокон: <em>радиальные</em> – расширяют зрачок, <em>кольцевые</em> – сужают.</li>
                    <li>
                        <em>ресничное тело</em> – расположено по бокам от радужки и включает в себя:
                        <ol>
                            <li>ресничные мышцы – прикрепляются к хрусталику и изменяют его кривизну;</li>
                            <li>протоки, по которым выделяется водянистая влага и поступает в камеру глаза. </li>
                        </ol>
                    </li>
                    <li><em>собственно сосудистая оболочка</em> (изнутри собственно сосудистая оболочка выстлана клетками, содержащими меланин).</li>
                </ol>

                <p><strong>Передняя камера глаза</strong> – пространство между роговицей и радужкой, заполненное жидкостью (водянистой влагой), питает роговицу.</p>
                <p><strong>Хрусталик</strong> – прозрачная эластичная двояковыпуклая линза (d~10 мм), находится позади радужки, не содержит сосудов и нервов. Кривизна меняется благодаря сокращению мышц ресничного тела.</p>
                <p><strong>Задняя камера глаза</strong> - пространство между радужкой и хрусталиком, заполненное жидкостью (водянистой влагой), питает хрусталик.</p>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>
                                <strong>Функции водянистой влаги:</strong>
                                <ol type="1">
                                    <li>Поддержание глазного давления (~25 мм.рт.ст.);</li>
                                    <li>Трофическая (питает роговицу и хрусталик);</li>
                                    <li>Пропускает и преломляет солнечные лучи.</li>
                                </ol>
                            </p>
                            <p><em>Функции сосудистой оболочки:</em> защитная и трофическая.</p>
                        </div>
                        <div class="col text-center">
                            <img src="~/Images/thema33/глаз.png" class="rounded" width="100%" height="100%" alt="Глаз" />
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <strong>Внутренняя оболочка (сетчатка).</strong> 2 листка:
                <ol>
                    <li><em>наружный,</em> содержит черный пигмент, поглощающий свет; </li>
                    <li><em>внутренний,</em> содержит <em>светочувствительные рецепторы</em> – палочки и колбочки.</li>
                </ol>
            </li>
        </ol>
    </p>
    <p>
        <strong>Палочки.</strong> Количество - 125–130 млн. Содержат зрительный пигмент <em>родопсин</em> и воспринимают свет в условиях сумеречного и ночного освещения.
    </p>
    <p>
        <strong>Колбочки.</strong> Количество - 6–7 млн. Содержат зрительный пигмент <em>иодопсин</em> и воспринимают дневной свет и цвета при ярком освещении. <em>3 типа колбочек</em> - воспринимают красный, зеленый и синий цвета. Промежуточные цвета воспринимаются при одновременном раздражении колбочек двух или более типов.
    </p>
    <p><strong>Желтое пятно</strong> - место наибольшей остроты зрения, в его центральной ямке сосредоточены только колбочки, расположено напротив зрачка.</p>
    <p><strong>Слепое пятно</strong> - участок, лишенный зрительных рецепторов, место выхода зрительного нерва, находятся сбоку от желтого пятна.</p>
    <p><strong>Стекловидное тело</strong> – прозрачная бессосудистая масса, заполняющая полость глаза между хрусталиком и сетчаткой. Функции: участвует в поддержании внутриглазного давления, участвует в поддержании формы глаза (опорная), светопреломляющая.</p>
    <p><strong>Оптическая система глаза</strong> – это совокупность сред, через которые проходят световые лучи: роговица-влага передней камеры-зрачок-влага задней камеры-хрусталик-стекловидное тело.</p>
    <p>
        <strong>Функции:</strong>
        <ol type="1">
            <li>Формирует на сетчатке уменьшенное, перевернутое изображение;</li>
            <li>Каждая преломляющая среда имеет свою оптическую силу, измеряемую в диоптриях. <em>Диоптрия</em> – преломляющая сила линзы с фокусным расстоянием в 1 м. Главные преломляющие среды – роговица и хрусталик</li>
            <li>Обладает <em> аккомодацией</em> – способностью за счет изменения кривизны хрусталика создавать на сетчатке резкое изображение предметов, расположенных как на близком, так и на дальнем расстоянии от глаза.</li>
        </ol>
    </p>
    <p>
        <em>Световоспринимающая часть глаза</em> (на ней фокусируется изображение) – сетчатка. Желтое пятно является местом наилучшего видения и обеспечивает <strong>центральное зрение.</strong> Остальная часть сетчатки обеспечивает <strong>боковое (периферическое) зрение.</strong>
    </p>
    <p><strong>Механизм восприятия света.</strong> Каждый квант света приводит к расщеплению молекулы зрительного пигмента родопсина с образованием ретиналя (альдегидная форма витамина А) и белка (опсина) – деполяризуется мембрана фоторецепторов – формируется нервный импульс, который передается на окончание зрительного нерва. В темноте происходит ресинтез пигмента, однако, при нехватке витамина А родопсин не восстанавливается (куриная слепота).</p>
    <p><em>Роговица – влага передней камеры – зрачок - влага задней камеры-хрусталик – стекловидное тело – фоторецепторы сетчатки глаза – зрительный нерв – средний мозг/верхние холмики (подкорковый центр зрения) – таламус/зрительные бугры промежуточного мозга (высший подкорковый центр зрения – затылочная доля коры больших полушарий.</em></p>
    <p>
        Совместная работа обоих глаз (бинокулярное зрение) обеспечивает стереоскопическое (объемное) зрение. В случаях, когда световые лучи, пройдя через оптическую систему глаза, фокусируются не на сетчатке, развиваются <strong>аномалии зрения:</strong>
        <ol type="1">
            <li><strong>Близорукость (миопия)</strong> – нарушение формирования изображения предмета на сетчатке, при котором предмет проецируется перед сетчаткой глаза (человек четко видит предметы только на близком расстоянии). Причины: врожденные (хрусталик выпуклый и сильно преломляет лучи или удлинено глазное яблоко), приобретенные (ослаблена функции ресничной мышцы). Коррекция: двояковогнутые линзы.</li>
            <li><strong>Дальнозоркость (гиперметропия)</strong> – нарушение формирования изображения предмета на сетчатке, при котором предмет проецируется позади сетчатки глаза (человек хорошо видит предметы на дальнем расстоянии). Причины: врожденные (хрусталик плоский и слабо преломляет лучи или укорочено глазное яблоко), приобретенные (потеря эластичности хрусталиком или ослабление функции ресничной мышцы). Коррекция: двояковыпуклые линзы.</li>
        </ol>
    </p>
    <p><strong>Катаракта</strong> – помутнение хрусталика глаза, вызванное кристаллизацией его тканей.</p>
    <p><strong>Глаукома</strong> – повышение внутриглазного давления с повреждением зрительного нерва, вызванное нарушением оттока внутриглазной жидкости.</p>
    <p>
        <strong>Гигиена зрения</strong> – это комплекс требований, направленных на обеспечение нормального функционирования органа зрения.
        <ol type="1">
            <li>При чтении освещение должно быть достаточным.</li>
            <li>Свет должен падать слева.</li>
            <li>Расстояние от глаза до предмета должно составлять 30–35 см.</li>
            <li>Нельзя читать в транспорте, так как в результате постоянно меняющегося расстояния между предметом и хрусталиком ослабевают его эластичность и функция ресничной мышцы. </li>
            <li>Необходимо защищать глаза от попадания пыли, инородных предметов, слишком яркого света, разрушающего светочувствительные рецепторы.</li>
            <li>Пользоваться защитными очками при ярких источниках света.</li>
            <li>Авитаминоз А приводит к развитию «куриной слепоты».</li>
            <li>Никотин и смолы табака вызывают тяжелые поражения зрительного нерва. </li>
        </ol>
    </p>
</div>
<div class="container">
    <a href=@Url.Action("Test32","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>