<div class="container">
    <p><strong>Кожа</strong> – наружный покров тела, являющийся барьером между внешней и внутренней средой организма. Площадь кожи – 1,5–1,6 м<sup>2</sup>.</p>
    <p>
        <strong>Слои кожи:</strong>
        <ol type="1">
            <li><u>Наружный – эпидермис</u> (многослойный плоский эпителий), толщина 0,07–2,5 мм. 5 слоев: <em> роговой, блестящий, зернистый, шиповатый, базальный.</em> Верхний слой – ороговевающий, нижний – ростковый (базальный). Ороговевшие клетки слущиваются и заменяются новыми. Роговой слой кожи полностью обновляется в течение 7–11 дней. Клетки росткового слоя делятся и образуют новые клетки, восполняя верхние слои кожи. В эпидермисе содержатся пигментные клетки, которые вырабатывают пигмент <strong>меланин,</strong> придающий коже определенный цвет, и защищающий организм от воздействия ультрафиолетовых лучей. <em>Производные эпидермиса:</em> ногти, кожные железы и волосы;</li>
            <li>
                <em><u>Средний – дерма (собственно кожа),</u></em> толщина 0,5–5 мм. 2 слоя: сосочковый и сетчатый.
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ol type="A">
                                <li><em>Сосочковый слой,</em> состоит из рыхлой волокнистой соединительной ткани и образует выпячивания (сосочки) в эпидермис. Содержит волокна, придающие коже прочность и упругость, кровеносные и лимфатические сосуды, нервные сплетения и окончания нервных волокон (рецепторы), а также гладкомышечные клетки. <u>Функция:</u> трофическая (питание эпидермиса).</li>
                            </ol>
                        </div>
                        <div class="col">
                            <img src="~/Images/thema41/Строение кожи.png" alt="Строение кожи" class="rounded" width="100%" height="100%" />
                        </div>
                    </div>
                </div>
                <ol type="A" start="2">
                    <li><em>Сетчатый слой,</em> состоит из плотной неоформленной волокнистой соединительной ткани. Содержит много коллагеновых и эластических волокон, располагающихся по определенным направлениям. В сетчатом слое находятся потовые и сальные железы. <u>Функция:</u> обеспечение прочности и эластичности кожи.</li>
                </ol>
                <p>
                    <em>Потовая железа</em> имеет тело (свернутая железистая трубочка) и выводной проток, открывающийся на поверхности кожи; видоизмененными потовыми железами являются молочные железы. Пот, образующийся в потовых железах, содержит воду, аммиак, мочевину, минеральные соли и другие продукты обмена веществ.
                </p>
                <p><em>Сальные железы</em> выделяют в сутки до 20 г кожного жира, который смазывает волосы, кожу и делает их эластичными. Сальные железы отсутствуют на ладонях и подошвах. Протоки желез открываются в волосяные сумки, сами железы после выделения кожного жира разрушаются.</p>
                <p><em>Волос</em> состоит из волосяной луковицы, корня и стержня. Волосяная луковица и корень окружены волосяной сумкой. К волосяной луковице подходят сосуды и нервы. К волосяной сумке прикрепляется мышца (пучок гладкомышечных клеток), сокращение которой обусловливает появление «гусиной кожи» и поднимает волос. Волосы бывают длинные (волосы головы, бороды, усов), щетинистые (волосы бровей, ресниц, ноздрей) и пушковые (покрывают большую часть тела). </p>
            </li>
            <li>
                <em><u>Внутренний – подкожная жировая клетчатка,</u></em> состоит из рыхлой соединительной ткани, в которой много жировых клеток (жира). Толщина этого слоя зависит от образа жизни, питания, обмена веществ. Жир является запасным питательным веществом и защищает ткани и органы от механических воздействий, а также от переохлаждения.
            </li>
        </ol>
    </p>
    <p>
        <strong>Функции кожи:</strong>
        <ol type="1">
            <li>Защитная – защищает организм от вредных воздействий различных факторов внешней среды (механических, химических, проникновения микроорганизмов);</li>
            <li>Депо крови;</li>
            <li>Участие в обмене веществ (витамина D, мочевины, водно-солевом);</li>
            <li>Орган осязания (тактильные рецепторы, воспринимающие прикосновение и давление).</li>
        </ol>
    </p>
    <p><strong>Терморегуляция</strong> – физиологическая реакция организма, направленная на поддержание постоянной оптимальной температуры тела в непрерывно меняющихся условиях внешней среды.</p>
    <p>Образование тепла происходит за счет химических процессов в печени, мышцах, почках и других органах.</p>
    <p>Отдача тепла осуществляется путем теплоизлучения, теплопроведения и испарения воды с поверхности кожи.</p>
    <p>При повышении температуры внешней среды обмен веществ в организме рефлекторно снижается и образование тепла уменьшается.</p>
    <p>При понижении температуры внешней среды активизируются обменные процессы и увеличивается теплопродукция.</p>
    <p>Терморегуляция происходит с участием кожи (потовые железы, сосуды кожи, подкожная жировая клетчатка) и контролируется нервной и эндокринной системами. При низкой температуре просвет сосудов кожи рефлекторно сужается, уменьшается количество циркулирующей в них крови и теплоотдача уменьшается. С повышением температуры окружающей среды расширяются сосуды кожи, в них усиливается циркуляция крови, что ведет к повышению теплоотдачи.</p>
    <p>Если температура воздуха выше температуры тела, расширение сосудов кожи не может усилить теплоотдачу. В этом случае температура тела регулируется усиленным потоотделением. Чем теплее и суше воздух, тем быстрее испаряется пот <strong>(во влажном воздухе испарение прекращается).</strong></p>
    <p>Потоотделение происходит рефлекторно: при повышении температуры окружающей среды возбуждаются терморецепторы. Возникающие при этом нервные импульсы по чувствительным нервным волокнам передаются в спинной мозг, гипоталамус промежуточного мозга (центр терморегуляции) и в кору больших полушарий. В центре терморегуляции происходит их анализ, и возникает ответная реакция на раздражение. По двигательным нервным волокнам импульсы достигают потовых желез, и они выделяют пот, что способствует охлаждению тела.</p>
    <p>Интенсивность теплоотдачи зависит от толщины подкожной жировой клетчатки. При тонком ее слое теплоотдача увеличивается, а при толстом – уменьшается.</p>
    <p>При нарушении терморегуляции может возникнуть тепловой или солнечный удар (частный случай теплового удара).</p>
    <p><em><u>Первая медицинская помощь при тепловом или солнечном ударе.</u></em></p>
    <p>Пострадавшего следует поместить в прохладное затемненное помещение, освободить его от тесной одежды, сделать холодный компресс, дать холодной воды, а затем сделать влажное холодное обертывание.</p>
    <h3 class="text-center"><strong>Гигиена кожи.</strong></h3>
    <p>Гигиена кожи – это комплекс мер, направленных на оптимальное выполнение кожей своих функций.</p>
    <p>Кожа, ногти, волосы всегда должны быть чистыми. При загрязнении кожи нарушаются ее функции, создаются условия для развития различных кожных заболеваний (например, гнойничковых). При загрязнении рук (особенно ногтей), можно занести в организм возбудителей различных болезней, в первую очередь кишечных. При загрязнении кожи и волос создаются условия для развития головных вшей.</p>
    <p>Тренировка и совершенствование терморегуляторных механизмов выполняется путем закаливания организма.</p>
    <p>Основные элементы закаливания – пребывание на свежем воздухе, водные процедуры и солнечные ванны.</p>
    <p>Свежий воздух содержит больше кислорода и губительно действует на болезнетворные бактерии.</p>
    <p>Водные процедуры повышают способность сосудов быстро сужаться или расширяться в зависимости от температуры воды, а также нервный тонус, улучшают кровообращение. При проведении водных процедур недопустимо переохлаждение.</p>
    <p>Солнечные ванны усиливают кровообращение, пигментацию кожи, способствуют образованию в организме витамина D. </p>
    <h3 class="text-center"><strong>Ожоги и обморожения.</strong></h3>
    <p>При ожогах и обморожениях I степени наблюдается покраснение и припухлость кожи; II степени – образуются пузыри, наполненные жидкостью; III степени –  участки кожи некротизируются и обугливаются.</p>
    <p><u>Первая медицинская помощь при ожогах.</u></p>
    <p>При ожоге щелочью поврежденный участок промывают водой и орошают 1–2%-м раствором борной или уксусной кислоты. </p>
    <p>При ожоге кислотой поврежденный участок также промывают водой и орошают 2%-м раствором питьевой соды.</p>
    <p><u>Первая медицинская помощь при обморожении.</u></p>
    <p>При обморожении I степени необходимо растереть кожу пострадавшего чистыми руками или носовым платком и дать ему горячее питье.</p>
    <p>При обморожении II степени нельзя растирать кожу и вскрывать пузыри.</p>
    <p>При общем переохлаждении, обморожении III степени пострадавшего следует положить в теплое помещение и укутать теплым одеялом или одеждой.</p>
</div>

<div class="container">
    <a href=@Url.Action("Test41","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>
