<div class="container">
    <p><strong>Пол</strong> – это совокупность морфологических, физиологических, биохимических и других признаков организма, обусловливающих воспроизведение себе подобного.</p>
    <p>
        <strong>Признаки пола:</strong>
        <ol type="1">
            <li><em>Первичные.</em> Наружные и внутренние половые органы. Сформированы к моменту рождения, принимают непосредственное участие в процессах воспроизведения (гаметогенеза, осеменения, оплодотворения).</li>
            <li><em>Вторичные.</em> Особенности развития скелета, подкожной жировой клетчатки, волосяного покрова, степень развития половых желез, тембр голоса, особенности поведения. Развиваются под воздействием половых гормонов (у человека 11-15 лет), не принимают непосредственного участия в репродукции, но способствуют привлечению особей противоположного пола и образованию супружеских пар.</li>
        </ol>
    </p>
    <p><strong>Аутосомы</strong> – пары хромосом, имеющие одинаковое строение у мужчин и у женщин.</p>
    <p><strong>Гетерохромосомы (половые хромосомы) </strong>– пары хромосом, имеющие различное строение у особей мужского и женского пола.</p>
    <p>В диплоидном наборе человека содержится 46 хромосом (23 пары), 22 пары аутосом и одна пара половых хромосом. У женского организма это две Х-хромосомы, а у мужского – Х и Y. Женский кариотип может быть представлен следующей записью: 44А+2Х, мужской – 44А+ХY.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>В половых хромосомах имеются гомологичные участки (А), содержащие аллельные гены и негомологичные участки (В и С), содержащие неаллельные гены. Признаки, за которые отвечают гены, расположенные в негомологичных участках гетерохромосом, передаются из поколения в поколение по-разному, в зависимости от пола организма.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema51/половые хромосомы.png" alt="половые хромосомы" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Сцепленные с полом (с X-хромосомой) признаки –</strong> признаки, детерминирующиеся генами, расположенными в негомологичном участке Х-хромосомы (гены, определяющие нормальную свертываемость крови (Х<sup>Н</sup>) и несвертываемость – гемофилию (Х<sup>h</sup>), нормальное цветоощущение (Х<sup>D</sup>) и цветовую слепоту – дальтонизм (Х<sup>d</sup>). При записи браков по признакам, сцепленным с полом, соответствующий ген обозначают в виде индекса.</p>
    <p>Сцепленные с полом признаки передаются от матери дочерям и сыновьям, а от отца – только дочерям. У мужских организмов единственный рецессивный ген, содержащийся в Х-хромосоме, проявляется всегда (Х<sup>h</sup>Y), так как в Y-хромосоме нет аллельного гена <em>(гемизиготность).</em>Рецессивные Х-сцепленные признаки проявляются чаще у сыновей, а Х-сцепленные доминантные – у дочерей, так как больной отец передает их всем дочерям.</p>
    <div class="container">
        <div class="row">
            <img src="~/Images/thema51/Сцепление с половыми признаками.png" alt="Сцепление с половыми признаками" class="rounded" width="100%" height="100%" />
        </div>
    </div>
    <p><strong>Голандрический признак</strong> – признак, детерминирующийся генами, расположенными в негомологичном участке Y-хромосомы (обволошенность наружного слухового прохода, средних фаланг пальцев рук). Проявляются только у мужчин. </p>
    <p><strong>Хромосомное определение пола (хромосомная теория пола, К. Корренс, 1907 г):</strong> пол определяется сочетанием половых хромосом в зиготе в момент оплодотворения.</p>
    <p>Пол, имеющий одинаковые половые хромосомы и образующий один тип гамет по половым хромосомам, называется <em>гомогаметным;</em> имеющий разные половые хромосомы и образующий два типа гамет – <em>гетерогаметный.</em></p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>У всех млекопитающих, человека и мухи дрозофилы гомогаметным является женский пол, а гетерогаметным – мужской.</p>
                <p><strong>N.B.!!!</strong> У птиц, бабочек, рептилий мужской пол гомогаметен, а женский – гетерогаметен (содержание половых хромосом ZZ и ZW соответственно).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema51/хромосомные половые признаки.png" alt="хромосомные половые признаки" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>У некоторых насекомых (жуки, кузнечики) и пауков женский пол содержит две Х-хромосомы (ХХ), а мужской – одну (Х0), т. е. в кариотипе самцов отсутствует вторая половая хромосома.</p>
    <h3 class="text-center"><strong>Цитоплазматическая наследственность.</strong></h3>
    <p>Наряду с ядерными генами, локализованными в хромосомах, имеются факторы наследственности, находящиеся в цитоплазме. Это ДНК пластид, митохондрий, чужеродная ДНК вирусов и бактерий. Их называют плазмогенами (плазмидами). Внеядерная ДНК способна реплицироваться независимо от репликации хромосом, но под контролем ядерных генов, однако, часть плазмид (эписомы) могут включаться в ядерную ДНК и удваиваться вместе с ней. </p>
    <h3 class="text-center"><strong>Критерии цитоплазматической наследственности:</strong></h3>
    <ol type="1">
        <li>Наследование по материнской линии, так как сперматозоид почти не содержит цитоплазмы;</li>
        <li>Отсутствие количественного менделевского расщепления в потомстве;</li>
        <li>Невозможность выявить сцепление;</li>
        <li>Различные результаты реципрокных скрещиваний.</li>
    </ol>
    <h3 class="text-center"><strong>Виды цитоплазматической наследственности:</strong></h3>
    <ol type="1">
        <li>
            <em>Пластидная наследственность</em> (К. Корренс, 1908 г. описал пестролистность у растения ночная красавица.). Совокупность пластид клетки, как структур, содержащих и передающих наследственную информацию называется пластидом, а совокупность генов пластид – пластом.
            <p>У пестролистных растений часть пластид не способна образовывать хлорофилл. Пластиды при мейозе могут распределяться неравномерно: часть клеток получит только нормальные пластиды (листья будут зеленые), часть клеток – только аномальные (листья будут белые, растение без хлорофилла погибнет), часть клеток – нормальные и аномальные пластиды (листья будут пестрые – зеленые с белыми пятнами).</p>
        </li>
        <li><em>Митохондриальная наследственность</em> (Б.Эфрусси, 1949 г.). Обнаружил, что около 1% хлебных дрожжей дают карликовые колонии. Оказалось, что клетки карликовых колоний не имеют в митохондриях полного набора дыхательных ферментов вследствие мутации плазмогенов и поэтому растут очень медленно. Объем собственной наследственной информации митохондрий недостаточен для воспроизведения всей совокупности РНК и белков органоида. Многие белки, запрограммированные ядерными генами, включаются в структуру митохондрий.</li>
    </ol>
</div>

<div class="container">
    <a href=@Url.Action("Test51","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>