<div class="container">
    <h3 class="text-center"><strong>Современная (синтетическая) теория эволюции.</strong></h3>
    <p>
        <u>Основные постулаты:</u>
        <ol type="1">
            <li>Элементарный эволюционный материал – <em>мутации</em> (носят случайный и ненаправленный характер).</li>
            <li>Элементарные эволюционные факторы – <em>мутации и рекомбинации</em> (комбинативная изменчивость), <em>изоляция, популяционные волны, дрейф генов, определенную роль играют модификации.</em></li>
            <li>Элементарная эволюционирующая единица – <em>популяция.</em></li>
            <li>Элементарное эволюционное явление – <em>изменение генофонда популяции на протяжении нескольких поколений в одном и том же направлении.</em></li>
            <li>Движущие силы эволюции – <em>борьба за существование и естественный отбор. </em></li>
            <li>Эволюция носит <em>дивергентный характер</em> (один таксон может стать предком нескольких дочерних таксонов).</li>
            <li>Эволюция носит постепенный и длительный характер.</li>
            <li><em>Вид</em> существует как <em>целостное и замкнутое образование.</em> Целостность поддерживается миграциями особей, при которых наблюдается обмен аллелями (поток генов).</li>
            <li>Закономерности <em>макроэволюции</em> (образование крупных таксонов) и микроэволюции (эволюционный процесс внутри вида) идентичны. </li>
        </ol>
    </p>
    <p>
        <strong>Элементарные эволюционные факторы. </strong>
        <ol type="1">
            <li>
                <em>Генотипическая изменчивость.</em>
                <p><em>Рекомбинации</em> – появление новых признаков у потомков, в результате новых сочетаний генов родителей.</p>
                <p><em>Мутации</em> – внезапное, скачкообразное и устойчивое изменение структуры генетического материала. Частота мутирования одного гена – 10<sup>-5</sup>–10<sup>-7</sup> на поколение. Поскольку у высших организмов большое количество генов (десятки тысяч) до 10% всех гамет несут мутантные гены. Большинство мутаций являются рецессивными и не проявляются фенотипически. Только после достаточного накопления в популяции с появлением рецессивных гомозигот мутации начинают подвергаться действию естественного отбора.</p>
                <p><em>Доминантные</em> мутации сразу проявляются фенотипически и подпадают под действие естественного отбора. Если данная мутация повышает приспособленность организма к среде обитания, она будет поддерживаться естественным отбором, а если снижает – элиминироваться (удаляться). Появившиеся в популяции наследственные изменения составляют резерв наследственной изменчивости. Они постепенно распространяются среди особей благодаря скрещиванию, и популяция оказывается насыщенной ими.</p>
                <p><strong>Мутации и рекомбинации являются материалом для естественного отбора.</strong></p>
                <p><em>Модификации.</em> Широкая норма реакции способствует адаптации отдельных особей и вида в целом. Более высокая выживаемость увеличивает вероятность передачи генетической информации в следующее поколение и повышает генетическое разнообразие. </p>
            </li>
            <li>
                <em>Миграция (поток генов)</em> – изменение генетической структуры популяции, вследствие эмиграции – расселения особей популяции за ее пределы, и иммиграции – притока особей из других популяций.
            </li>
            <li><em>Популяционные волны (волны жизни)</em> – это регулярные колебания численности популяций, связанные с периодическими изменениями интенсивности факторов внешней среды (сменой времен года, засухой, заморозками, количеством пищи). Впервые изучены С.С. Четвериковым. При снижении численности популяции из ее генофонда могут исчезнуть редкие аллели, а при возрастании численности популяции частота редких аллелей может значительно возрасти. Таким образом, популяционные волны способствуют изменению частот генов в популяциях, т.е являются поставщиком эволюционного материала. </li>
            <li>
                <em>Дрейф генов</em> – это случайные колебания частот генов в малых популяциях. Примером дрейфа генов может служить рождение нескольких (5–10) девочек в семье, хотя теоретическая частота рождения девочки или мальчика 1:1. Преждевременная случайная гибель одной особи в малой популяции, обладающей единственным конкретным геном, приведет к исчезновению этого гена из популяции, что изменит ее генофонд. Дрейф генов в малых популяциях непредсказуем, он может привести популяцию к гибели или повысить ее приспособленность к конкретным условиям среды.
                <p><strong>Популяционные волны, поток генов и дрейф генов возникают в результате случайных процессов и вносят вклад в эволюционные преобразования генетической структуры популяции.</strong></p>
            </li>
            <li><em>Изоляция</em> – важный элементарный эволюционный фактор, который предотвращает свободное скрещивание (панмиксию) особей разных популяций и подвидов между собой и приводит к расхождению признаков в пределах одного вида.</li>
        </ol>
    </p>
    <p>
        <u>Виды изоляции:</u>
        <ol type="I">
            <li><em>Географическая (пространственная/территориально-механическая)</em> разделяет единый ареал вида на разобщенные между собой части и препятствует свободному скрещиванию (появление гор, рек, проливов, перешейков, межвидовая борьба за существование). Вследствие невозможности скрещивания особей из отдельных изолированных популяций в каждой из них возникает свое направление эволюционного процесса, изменяющее генетическую структуру и приводящее в конечном итоге к видообразованию.</li>
            <li>
                <em>Биологическая</em> определяется всевозможными различиями организмов внутри вида, препятствующими к скрещиванию.
                <ol type="1">
                    <li>
                        <u>Экологическая изоляция.</u> Потенциальные партнеры по спариванию не встречаются.
                        <ol type="a">
                            <li><em>биотопическая</em> – выбор популяциями разных мест для размножения (популяции Севанской форели нерестятся в верховьях разных рек, впадающих в озеро).</li>
                            <li><em>сезонная</em> – половое созревание потенциальных партнеров по спариванию наступает не одновременно, либо особи размножаются в разное время (популяции четных и нечетных лет тихоокеанских лососей).</li>
                        </ol>
                    </li>
                    <li>
                        <u>Морфофизиологическая изоляция.</u> Невозможность оплодотворения вследствие несоответствия брачного ритуала <em>(поведенческая/этологическая),</em> отличий в строении половых органов <em>(морфологическая)</em> либо гибели гамет в половых путях другого вида <em>(физиологическая).</em>
                    </li>
                    <li><u>Генетическая изоляция.</u> Существенные отличия скрещивающихся пар в строении и числе хромосом, в результате чего наблюдается нежизнеспособность или бесплодность гибридных организмов.</li>
                </ol>
            </li>
        </ol>
    </p>
    <p><strong>Движущие силы эволюции</strong> – борьба за существование и естественный отбор, который является следствием борьбы за существование.</p>
    <p><u>Борьба за существование</u> – сложный процесс противоречивых взаимодействий особей одного и разных видов, которых через уничтожение менее приспособленных организмов ведет к естественному отбору. Закономерным следствием борьбы за существование является снижение численности особей каждого поколения.</p>
    <p><em>Главная причина борьбы за существование по Ч. Дарвину:</em> размножение организмов в геометрической прогрессии и ограниченность средств существования (пища, территория). По современным представлениям, борьба за существование – явление очень сложное и многогранное.</p>
    <p>
        <strong>Формы борьбы за существование:</strong>
        <ol type="1">
            <li><u>Прямая борьба</u> – непосредственное столкновение организмов друг с другом (хищник–жертва, паразит–хозяин, самцов за самку).</li>
            <li><u>Конкуренция</u> – взаимодействие между живыми организмами, которым необходимы одинаковые биологические потребности при невозможности их полного удовлетворения.</li>
        </ol>
    </p>
    <p>
        <em>Разновидности конкуренции:</em>
        <ol type="1">
            <li>
                <strong>Трофическая конкуренция</strong> – вид конкуренции, который обусловлен потребностями в одинаковой пище при ее недостатке.
                <ol type="a">
                    <li><em>Внутривидовая.</em> Наиболее острая, т.к. в нее вступают особи с практически одинаковыми потребностями. Внутривидовая конкуренция может быть индивидуальной и групповой (конкуренция за пищу между двумя семьями волков).</li>
                    <li><em>Межвидовая.</em> Происходит между особями разных видов за одинаковую пищу при ее недостатке. Принцип Гаузе: виды с одинаковыми биологическими потребностями не могут длительно существовать на одной территории. </li>
                </ol>
            </li>
            <li>
                <strong>Топическая конкуренция</strong> – вид конкуренции, который охватывает отношения между организмами, обитающими в одной среде, когда они подвергаются действию общих абиотических факторов (высокая или низкая температура, засуха). Происходит НЕ между организмом и фактором, а между самими организмами на фоне общего фактора.
            </li>
            <li>
                <strong>Репродуктивная конкуренция</strong> – вид конкуренции, который выражается в борьбе за воспроизведение потомства (борьба особей одного вида за партнера для спаривания, за пищу для потомства). Является причиной совершенствования первичных и вторичных половых признаков, способов оплодотворения, увеличения запаса питательных веществ в яйцеклетках, улучшения выкармливания и защиты потомства.
            </li>
        </ol>
    </p>
    <p><strong>Борьба за существование является предпосылкой и необходимым условием для естественного отбора. </strong></p>
    <p><strong>Естественный отбор</strong> – движущая сила эволюции; единственный фактор, имеющий направление. Многообразие форм и направлений отбора обуславливает его творческую роль в процессе эволюции.</p>
    <p>
        <strong>Формы естественного отбора:</strong>
        <div class="container">

            <div class="row">
                <div class="col">
                    <ol type="1">
                        <li><em>Движущий отбор</em> – форма естественного отбора, наблюдающаяся при постоянном изменении факторов внешней среды в определенном направлении. Устраняет неприспособленные формы и сохраняет отклонения, приспосабливающие организмы к изменяющимся условиям; происходит постепенная смена нормы реакции (вытеснение темноокрашенной формой бабочки березовой пяденицы исходной светлой формы, происходящее в окрестностях промышленных городов Англии вследствие потемнения стволов берез от сажи и копоти – индустриальный меланизм; редукция глаз у кротов; редукция пищеварительной системы у ленточных червей; адаптация сорняков к ядохимикатам).</li>
                    </ol>
                </div>
                <div class="col">
                    <img src="~/Images/thema54/Движ.отбор.png" class="rounded" width="100%" height="100%"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ol type="1" start="2">
                        <li><em>Стабилизирующий отбор</em> – форма естественного отбора, наблюдающаяся при постоянстве условий окружающей среды, направленная на сохранение в популяции среднего значения признака и удаление крайних вариантов – норма реакции сужается (в тропиках сохранились растения, способные существовать в узком диапазоне температур (25…35 °С); формирование покровительственной окраски, сохранение длительное время реликтовых видов (латимерия, акулы, скорпионы).</li>
                    </ol>
                </div>
                <div class="col">
                    <img src="~/Images/thema54/Стабилизирующий отбор.png" class="rounded" width="100%" height="100%"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ol type="1" start="3">
                        <li><em>Дизруптивный (разрывающий) отбор</em> – форма естественного отбора, протекающая на фоне резкого изменения условий существования, направленная против среднего значения признака и благоприятствующая двум или нескольким направлениям изменчивости (сохранение на открытых океанических островах либо бескрылых насекомых, либо насекомых с мощными крыльями, позволяющими противостоять порывам ветра). Дизруптивный отбор способствует дивергенции (расхождению признаков). </li>
                    </ol>
                </div>
                <div class="col">
                    <img src="~/Images/thema54/Дизруптивный (разрывающий) отбор.png" class="rounded" width="100%" height="100%"/>
                </div>
            </div>
        </div>
    </p>
    <p>
        <strong>Различия между естественным и искусственным отборами:</strong>
        <ol type="1">
            <li>Предпосылками и движущими силами эволюции культурных форм являются наследственная изменчивость и искусственный отбор, а эволюции видов в природе – наследственная изменчивость и естественный отбор.</li>
            <li>Темпы эволюции культурных форм значительно выше, чем видов в природе.</li>
            <li>Результатом эволюции культурных форм является многообразие сортов растений и пород животных, а природных форм – многообразие видов.</li>
            <li>Культурные формы приспособлены к нуждам человека, а природные формы – к условиям окружающей среды.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Виды адаптации организмов к среде обитания как результат эволюции.</strong></h3>
    <p><strong>Адаптация</strong> – результат отбора генов, способствующих лучшему выживанию в данных условиях.</p>
    <p>Адаптированный (приспособленный) организм характеризуется <strong>адаптативной нормой реакции,</strong> которая включает в себя <em>конкурентоспособность</em> (победа в борьбе за существование), <em>жизнеспособность</em> (нормальное развитие в привычной среде обитания) и фертильность (способность к нормальному размножению).</p>
</div>