<div class="container">
    <p>В 1911–1912 гг. Т. Морган и сотрудники проверили проявление третьего закона Менделя, проводя опыты на мухах дрозофилах.</p>
    <p>
        <strong>Преимущества плодовой мухи дрозофилы как объекта для генетических исследований:</strong>
        <ol type="1">
            <li>Небольшое число хромосом (8);</li>
            <li>Большое число потомков;</li>
            <li>Быстрая смена поколений;</li>
            <li>Раннее половое созревание;</li>
            <li>Возможность применить гибридологический метод.</li>
        </ol>
    </p>
    <h3 class="text-center><strong>Генетическая запись опытов Т. Моргана.</strong></h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Опыт 1. <em>Скрещивание дигомозиготных особей с серым телом и длинными крыльями с особями с черным телом и короткими крыльями.</em></strong></p>
                <p>Получено единообразие гибридов первого поколения (подтвердился первый закон Менделя).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema49/опыт 1.png" class="rounded" width="100%" height="100%" alt="опыт 1" />
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>

</div>
<div class="container">
    <a href=@Url.Action("Test50","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>