<div class="container">
    <p><strong>Популяция</strong> – совокупность особей одного вида, занимающая часть ареала, свободно скрещивающихся между собой, дающее плодовитое потомство и относительно изолированных от других особей данного вида.</p>
    <p>Биологический вид представлен множеством популяций, находящихся в той или иной форме изоляции.</p>
    <p><strong>Местная популяция</strong> – популяция, занимающая часть ареала вида, на которой отсутствуют факторы, препятствующие свободному скрещиванию особей.</p>
    <p><strong>Экологическая популяция (экотип)</strong> – совокупность местных популяций, обладающих сходными наследственными признаками и свойствами, обусловленными отбором адаптаций к существованию в определенных экологических условиях.</p>
    <p><strong>Географическая раса (популяция)/подвид</strong> – экотипы, населяющие территории с однородным комплексом природных условий.</p>
    <p>
        <strong>Экологическая характеристика популяции:</strong>
        <ol type="I">
            <li>
                <strong><em>Численность</em></strong> – общее количество особей в популяции. Различают малые и большие (свыше 5000 особей) популяции. Устойчивая популяция содержит не менее нескольких сотен особей, так как случайные причины (ранние заморозки, засуха, наводнение и др.) могут вызвать ее гибель. В больших популяциях.
                <p>Численность особей в популяциях варьирует в зависимости от интенсивности размножения, гибели и миграций. Эти показатели определяются абиотическими, биотическими и антропогенными факторами. В относительно постоянных условиях численность популяции остается примерно на одном уровне. Изменения среды обитания (холодная зима, засушливое лето) могут резко снизить численность популяции, но затем обычно устанавливается новый относительно стабильный уровень.</p>
            </li>
            <li>
                <strong><em>Динамика численности</em></strong> – изменения численности популяций во времени.
                <p>
                    <strong>Типы динамики численности:</strong>
                    <ul>
                        <li><em>Сезонный тип динамики</em> обусловлен сменой времен года в умеренных широтах и характерен для относительно мелких организмов, способных быстро размножаться и давать многочисленное потомство (бактерии, инфузории, травянистые растения, дафнии, насекомые, грызуны).</li>
                        <li><em>Многолетний (периодический) тип динамики</em> обусловлен периодическими (в течение несколько лет) колебаниями факторов среды и характеризуется фазами минимума, подъема и максимума численности популяций, которые периодически повторяются (вредители сельскохозяйственных культур (саранча, колорадский жук)). </li>
                        <li><em>Устойчивый тип динамики</em> обуславливает относительное постоянство численности популяций в течение длительного времени (крупные животные с большой продолжительностью жизни и малочисленным, но с высокой степенью выживаемости потомства (китообразные, копытные)).</li>
                    </ul>
                </p>
                <p>
                    <strong>Причины динамики численности: </strong>
                    <ul>
                        <li><em>Не зависящие от плотности популяции</em> (абиотические факторы): в суровые зимы погибают многие насекомые вне зависимости от их численности. </li>
                        <li>
                            <em>Зависящие от плотности популяции</em> (биотические факторы: хищники, паразиты и пищевые ресурсы). Их количество зависит от количества особей в популяции. Увеличение численности популяции приводит к росту численности паразитов и хищников и к уменьшению пищевых ресурсов и наоборот. Даже отсутствие паразитов может привести к значительному росту численности популяции, вследствие чего возможно истощение кормовых ресурсов и гибель или существенное снижение численности популяции.
                        </li>
                    </ul>
                </p>
                <p>Большое влияние на численность популяций оказывает деятельность человека. </p>
                <p>Изучение причин динамики численности популяций в биогеоценозах дает возможность предвидеть и предотвратить вспышки распространения травоядных насекомых, насекомых-вредителей и паразитов. Однако вмешиваться в регуляцию численности популяций биогеоценозов следует обдуманно и осторожно (истребление воробьев в Китае привело к интенсивному размножению их жертв – насекомых, которые уничтожали посевы; неконтролируемая охота явилась причиной уничтожения ряда видов крупных млекопитающих (мамонтов, бизонов, морских коров), а другие находятся на грани почти полного уничтожения (зубры, бобры, соболи)). </p>
                <p>
                    <strong>Классификация популяций по динамике численности:</strong>
                    <ol type="1">
                        <li><em>Стабильные</em> – популяции, имеющие относительно небольшие изменения средней численности.</li>
                        <li><em>Растущие</em> – популяции, в которых увеличение численности происходит при преобладании особей репродуктивного возраста, благоприятном соотношении полов, преобладании рождаемости над смертностью, притоке особей из других популяций и оптимальном значении всех экологических факторов.</li>
                        <li><em>Сокращающиеся</em> – популяции, в которых уменьшение численности происходит при преобладании особей пострепродуктивного возраста, нарушении соотношения полов, преобладании смертности над рождаемостью, расселении особей популяции за пределы ее ареала и при наличии лимитирующих экологических факторов.</li>
                    </ol>
                </p>
            </li>
            <li>
                <strong><em>Плотность популяции</em></strong> – численность особей или биомассы на единицу площади или объема. Важнейшим фактором, регулирующим плотность популяции, являются кормовые ресурсы. Популяция обычно насчитывает столько особей, сколько их может прокормиться на занимаемой территории. Количество особей вида, которое среда может обеспечить всем необходимым в течение неопределенно долгого времени, называется <em>емкостью среды.</em>
            </li>
            <li>
                <strong><em>Местобитание (биотоп)</em></strong> – занимаемое популяцией пространство со всей совокупностью абиотических экологических факторов.
            </li>
            <li>
                <em><strong>Экологическая ниша</strong></em> – положение популяции в сообществе, включая участие в трофических цепях.
            </li>
            <li>
                <strong><em>Пространственное размещение особей популяции</em></strong> – особенности размещения особей на занимаемой площади.
                <p>
                    <strong>Способы распределения особей:</strong>
                    <ol type="1">
                        <li><em>Случайное распределение</em> встречается редко, в однородной среде обитания при невысокой численности особей (гидры, планарии).</li>
                        <li><em>Равномерное распределение</em> характерно для видов с жесткой конкуренцией и сильным территориальным инстинктом (пауки, птицы, млекопитающие). </li>
                        <li><em>Групповое распределение</em> встречается чаще всего. Группе животных (семья, стадо, колония, гарем) легче защищаться от хищников, добывать корм и т. п.</li>
                        <li><em>Комбинированное</em> – сочетание трех основных способов размещения.</li>
                    </ol>
                </p>
            </li>
            <li>
                <strong><em>Расселение</em></strong> – распространение особей за пределы популяции.
                <p><strong>Миграция</strong> – передвижения животных, вызванные изменением условий существования или связанные с их циклами развития.</p>
                <p><strong>Виды миграций:</strong> <em>регулярные</em> (суточные, сезонные) и <em>нерегулярные</em> (связанные с неблагоприятными условиями существования).</p>
            </li>
            <li>
                <strong><em>Рождаемость и смертность.</em></strong>
                <p>
                    <strong>Рождаемость</strong> – частота появления дочерних особей при размножении родительских.
                </p>
                <p><em>Абсолютная рождаемость</em> – количество особей, рожденных за единицу времени.</p>
                <p><em>Удельная рождаемость</em> – количество особей, рожденных в популяции за единицу времени, в расчете на 1 особь (на 1000 особей).</p>
                <p><strong><em>Смертность</em></strong> – частота гибели особей в популяции.</p>
                <p><em>Абсолютная смертность</em> – количество особей, умерших за единицу времени.</p>
                <p><em>Удельная смертность</em> – количество особей, умерших в популяции за единицу времени, в расчете на 1 особь (на 1000 особей).</p>
                <p>Разница между рождаемостью и смертностью – <em>прирост численности популяции.</em> Если рождаемость превышает смертность, численность популяции увеличивается, а если рождаемость меньше смертности – численность популяции сокращается. На эти показатели влияют все экологические факторы.</p>
            </li>
            <li>
                <em><strong>Половая структура</strong></em> отражает соотношение мужских и женских особей в популяции. Генетический механизм определения пола обеспечивает равное соотношение полов (1:1). Вследствие большей жизнеспособности женских особей в популяциях, например, млекопитающих, в процессе жизни количество самцов снижается быстрее, чем самок. Преобладание количества самок над самцами обеспечивает интенсивное воспроизведение потомков и рост популяции.
                <p>Соотношение полов бывает <em>первичное</em> (в момент оплодотворения), <em>вторичное</em> (при рождении) и <em>третичное</em> (в постэмбриональный период). Для человека первичное соотношение составляет 1,4:1, вторичное – 1,05:1, третичное (к 75 годам) – 0,5:1 (мужчины:женщины).</p>
            </li>
            <li>
                <strong><em>Возрастная структура</em></strong> отражает соотношение различных возрастных групп в популяциях. Зависит от продолжительности жизни, времени наступления половой зрелости, числа потомков в помете, количества пометов за сезон.
                <p>
                    <strong>Варианты экологического возраста:</strong>
                    <ol type="1">
                        <li><em>Дорепродуктивный</em> (размножение еще невозможно).</li>
                        <li><em>Репродуктивный</em> (период размножения).</li>
                        <li><em>Пострепродуктивный</em> (размножение уже невозможно).</li>
                    </ol>
                </p>
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Биоценоз, биотоп, биогеоценоз, экосистема. Структура биогеоценоза.</strong></h3>
    <p><strong>Биотоп</strong> – однородный участок суши или акватории, характеризующийся сходными абиотическими факторами.</p>
    <p><strong>Биоценоз</strong> (Мебиус, 1877) – исторически сложившееся сообщество организмов разных видов, населяющих определенную территорию (биотоп).</p>
    <p><strong>Биогеоценоз</strong> (Сукачев, 1940) – устойчивая саморегулирующаяся и самовоспроизводящаяся экологическая система, состоящая из совокупности растений, животных, грибов, микроорганизмов, почвы, атмосферы на однородном участке суши, объединенных обменов веществ и энергии в единый природный комплекс. Особенность биогеоценоза: связан с определенным участком земной поверхности (наземная экосистема). </p>
    <p><strong>Экосистема</strong> (Тенсли, 1935) – совокупность живых организмов (биоценоз) и среды их обитания (биотоп), в которой осуществляется круговорот веществ. Термин «экосистема» применим как к природным комплексам, так и к искусственным комплексам, созданным человеком (агроценозы). </p>
    <p><em>Классификация экосистем:</em> микроэкосистема (кочка на болоте), мезоэкосистема (болото), макроэкосистема (океан).</p>
    <p><u>Характеристики устойчивой экосистемы:</u> устойчива во времени; является совокупностью неживых и живых организмов; осуществляется полный круговорот веществ. </p>
    <p>Биогеоценоз, в отличие от экосистемы, всегда имеет конкретные границы (определяются фитоценозом – нет фитоценоза, нет биогеоценоза). Текущий ручей, кочка на болоте – экосистемы, но не биоценозы. Море, тундра (места, где существует несколько фитоценозов) – экосистемы, т.к. это более крупные образования, чем биогеоценоз. Понятия «экосистема» и «биогеоценоз» тождественны только для таких природных объектов как лес, луг, болото, когда они обозначают конкретный природный объект суши. </p>
    <p>
        <strong>Компоненты биогеоценоза:</strong>
        <ol type="I">
            <li>
                <em><strong>Биотоп</strong></em> (абиотическая среда, видоизмененная живыми организмами):
                <ol type="1">
                    <li><em>Неорганические вещества</em> (соединения углерода, азота, кислорода, вода, минеральные соли).</li>
                    <li><em>Органические вещества</em> (белки, углеводы, липиды, нуклеиновые кислоты).</li>
                    <li><em>Эдафотоп</em> – участок суши (почва, грунт) – почвенно-грунтовые условия. </li>
                    <li>
                        <em>Климатоп</em> – комплекс климатических факторов (температура, освещенность, влажность).
                        <p><strong>Эдафотоп+климатоп=экотоп</strong> (первичный комплекс факторов физико-химической среды, без участия живых организмов).</p>
                    </li>
                    <li><em>Гидротоп</em> – поверхностные и почвенные воды.</li>
                </ol>
            </li>
            <li>
                <em><strong>Биоценоз.</strong></em>
                <ol type="1">
                    <li><em>Фитоценоз</em>– совокупность растений.</li>
                    <li><em>Зооценоз</em> – совокупность животных.</li>
                    <li><em>Микоценоз</em> – совокупность грибов.</li>
                    <li><em>Микробоценоз</em> – совокупность микроорганизмов.</li>
                </ol>
            </li>
        </ol>
    </p>
    <p>Живые организмы образуют трофические уровни:</p>
    <p><strong>Продуценты</strong> – автотрофные организмы, синтезирующие органические вещества из неорганических (в основном растения).</p>
    <p><strong>Консументы</strong> – гетеротрофные организмы, растительноядные и плотоядные потребители готового органического вещества (преимущественно животные).</p>
    <p><strong>Редуценты</strong> – гетеротрофные организмы, разрушающие остатки мертвых растений и животных и превращающие их в минеральные соединения (бактерии, грибы и др.), используемые продуцентами.</p>
    <p>Биоценозы чаще всего не имеют четких границ, переходная зона между смежными физиономически различающимися сообществами (лес → увлажненный луг → болото) называется <em>экотоном.</em></p>
    <p>
        <strong>Характеристики биогеоценоза:</strong>
        <ol type="I">
            <li>
                <em>Видовое разнообразие.</em> Видовая структура биогеоценоза представлена всеми организмами, составляющими его (фитоценоз, зооценоз, микоценоз и микробоценоз).
                <p><strong>Доминантные виды</strong> – виды, преобладающие в биоценозе по численности особей или биомассе (березы в березовых рощах).</p>
                <p><strong>Виды-эдификаторы</strong> – виды, которые своей жизнедеятельностью в наибольшей степени создают среду для всего сообщества (ели в еловом лесу: затеняют почву, и на земле растут только теневыносливые растения – кислица, мхи; для степей эдификаторы – это ковыли, для болот – осоки).</p>
            </li>
            <li>
                <em>Пространственная структура биогеоценоза</em> – распределение в пространстве видов, составляющих биоценоз.
                <p><u>Вертикальная структура</u> (ярусность) – совместно произрастающие группы различных видов растений, различающиеся по высоте и положению ассимилирующих вегетативных органов.</p>
                <p>
                    Ярусность в лесах умеренного пояса:
                    <ul>
                        <li>Первый ярус: самые высокие деревья (дуб, липа, ель);</li>
                        <li>Второй ярус: деревья второй величины (рябина, черемуха);</li>
                        <li>Третий ярус: кустарники (лещина, крушина);</li>
                        <li>Четвертый ярус: высокие травы (крапива, сныть);</li>
                        <li>Пятый ярус: низкие травы (осока, копытень);</li>
                        <li>Шестой ярус: мхи и лишайники.</li>
                    </ul>
                </p>
                <p>Ярусность прослеживается и в распределении животных: в почве, на почве, в воздухе, в биоценозах морей и океанов.</p>
                <p><u>Горизонтальная структура</u> (мозаичность) – распределение организмов в горизонтальном направлении. Определяется неравномерным распределением живых организмов – образованием группировок (косяки рыб, перемещающиеся в морях и океанах; стаи птиц, готовящиеся к перелетам).</p>
                <p>Особи группировок эффективнее используют пищевые ресурсы, у них относительно высокая выживаемость. Это способствует увеличению численности и разнообразию видов в биоценозе, что повышает его устойчивость.</p>
            </li>
            <li>
                <em>Виды отношений между организмами в биогеоценозе.</em>
                <ol type="1">
                    <li><strong>Трофические отношения.</strong> Представители одних видов питаются другими видами или их останками (травоядные животные питаются травой, хищные животные – травоядными).</li>
                    <li><strong>Топические отношения.</strong> Изменение условий обитания одного вида является результатом жизнедеятельности другого (в еловых лесах вытесняются светолюбивые растения, поселение лишайников на коре деревьев, поселение мелких ракообразных на коже китов, отсутствие растительности под кроной каштана конского).</li>
                    <li><strong>Форические отношения.</strong> Участие одних видов в расселении других (животные и птицы переносят семена, споры и пыльцу растений).</li>
                    <li><strong>Фабрические отношения.</strong> Особи одного вида используют для <strong>СТРОИТЕЛЬСТВА ЖИЛИЩ</strong> продукты выделения, мертвые остатки или даже живых особей другого вида (птицы строят гнезда из сухих веток, травы, шерсти; рыбка горчак откладывает икринки в мантийную полость моллюсков).</li>
                </ol>
            </li>
            <li><em>Экологическая структура биогеоценоза</em> – соотношение различных экологических групп организмов: фитофаги и сапрофаги; гигрофиты, мезофиты и ксерофиты; гигрофилы, мезофилы и ксерофилы.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Закономерности движения вещества и энергии в экосистеме. Цепи питания.</strong></h3>
    <p>Движение вещества и энергии и энергии в экосистеме – основное условие ее устойчивости. Основу связей между популяциями в биогеоценозе обуславливает характер питания особей и способы получения энергии. Для круговорота необходим приток энергии извне. Источник – энергия Солнца, эта энергия преобразуется в энергию химических связей, механическую и потенциальную.</p>
    <p>Основа биогеоценоза – автотрофные растения <em>(продуценты),</em> которые преобразуют энергию Солнца в энергию химических связей органических веществ. С популяцией продуцентов тесно связаны группы травоядных животных <em>– консументов I порядка. Консументы II порядка</em> – плотоядные животные, использующие в пищу травоядных, но и сами хищники часто становятся источником пищи для <em>консументов III порядка.</em> Остатки продуцентов и консументов разрушаются <em>редуцентами</em> (бактерии, грибы), которые превращают их в минеральные соединения, вновь доступные организмам.</p>
    <p>
        <strong>Осуществляя пищевые связи, организмы экосистемы осуществляют следующие функции:</strong>
        <ol type="1">
            <li>Энергетическая. Перевод солнечной энергии в энергию химических связей органических веществ (продуценты).</li>
            <li>Перераспределение и перенос энергии (консументы).</li>
            <li>Разложение органических веществ до минеральных веществ (редуценты).</li>
        </ol>
    </p>
    <p><strong>Цепь питания</strong> – перенос потенциальной энергии пищи, созданной растениями, через ряд организмов путем поедания одних видов другими. </p>
    <p>
        <strong>Типы цепей питания:</strong>
        <ol type="1">
            <li>
                <strong><em>Пастбищная (цепь выедания)</em></strong> – цепь питания, начинающаяся с фотосинтезирующих организмов.
                <p><em>Пример пастбищной цепи питания</em> (пищевая цепь луга): травянистая растительность →бабочка →стрекоза →лягушка →уж.</p>
            </li>
            <li>
                <strong><em>Детритная</em></strong> – цепь питания, начинающаяся с мертвых остатков растений, трупов животных и их экскрементов (детрит).
                <p><em>Пример детритной цепи питания</em> (лес умеренной зоны): листовая подстилка → дождевой червь → черный дрозд → ястреб.</p>
                <p>Каждое звено цепи питания называется трофическим уровнем; он представляет собой совокупность организмов, занимающих определенное положение в цепи питания.</p>
            </li>
        </ol>
    </p>
    <img src="~/Images/thema56/Детритная.png" class="rounded" width="100%" height="100%" alt="Детритная" />
    <p>
        <strong>Типы трофических уровней:</strong>
        <ol type="1">
            <li>Первый трофический уровень (уровень продуцентов) – автотрофы (зеленые растения, цианобактерии), преобразующие в процессе фотосинтеза световую энергию в энергию химических связей органических соединений.</li>
            <li>Второй трофический уровень (уровень консументов I порядка) –травоядные животные (кузнечик).</li>
            <li>Третий трофический уровень (уровень консументов II порядка) – хищники, поедающие травоядных животных (лягушка).</li>
            <li>Четвертый трофический уровень (уровень консументов III порядка) – вторичные хищники, поедающие первичных хищников (уж, беркут).</li>
        </ol>
    </p>
    <p>Такая последовательность и соподчиненность организмов трофических уровней составляет трофическую структуру экосистемы, которую изображают в виде <strong>экологической пирамиды</strong> (Элтон, 1927). Основанием пирамиды служит первый трофический уровень, а последующие этажи представляют уровни, образованные консументами различных порядков.</p>
    <p>При схематическом изображении пищевой цепи отдельные ее уровни изображают в виде прямоугольников, площадь которых соответствует численным значениям звеньев.</p>
    <p>
        <strong>Типы экологических пирамид:</strong>
        <ol type="1">
            <li><em>Чисел</em> (на каждом трофическом уровне отмечают численность организмов); </li>
            <li><em>Биомасс</em> (откладывают значения общей сухой или сырой массы организмов разных трофических уровней);</li>
            <li><em>Энергии</em> (показывает величину потока энергии на последовательных трофических уровнях). </li>
        </ol>
    </p>
    <p>Экологическая пирамида обычно имеет вид треугольника с широким основанием, суживающимся кверху. Пирамиды биомасс более наглядны, так как точнее показывают количественные соотношения отдельных уровней.</p>
    <p>Закономерности переноса энергии по трофическим уровням экологической пирамиды впервые установил американский эколог Р. Линдеман (1942 г.), назвав его правилом 10% <em>(правило Линдемана):</em> <em>на каждый последующий уровень переходит только около 10% потенциальной энергии.</em></p>
    <p>Передача энергии по пищевым цепям подчиняется второму закону термодинамики: преобразование одного вида энергии в другой идет с потерей ее части. Поэтому биогеоценозы должны постоянно пополняться энергией, что и происходит за счет энергии Солнца. В биогеоценозах наблюдается круговорот веществ – от продуцентов к консументам и к редуцентам, а затем опят к продуцентам. Круговорот веществ никогда не бывает полностью замкнутым. Неполная замкнутость круговоротов в масштабах геологического времени приводит к накоплению полезных ископаемых – угля, нефти, известняка.</p>
    <h3 class="text-center"><strong>Продуктивность биогеоценозов.</strong></h3>
    <p><strong>Продуктивность</strong> – биомасса, производимая биогеоценозом на единицу площади в единицу времени.</p>
    <p><strong>Первичная продуктивность биогеоценоза</strong> – биомасса, синтезируемая растениями в единицу времени. Суммарная химическая энергия фото- и хемосинтеза называется <strong>первичной валовой продукцией.</strong> Примерно 20–25% ее расходуется самими растениями на процессы дыхания, а остальная часть идет на прирост их биомассы, называемой <strong>чистой первичной продукцией.</strong></p>
    <p>Потребляя другие организмы, гетеротрофы переносят вещество и энергию с одного трофического уровня на другой, не вся пища идет на увеличение биомассы консументов. Часть энергии расходуется на процессы жизнедеятельности (дыхание); а часть выделяется с продуктами метаболизма (экскреты); потребленная консументами пища переваривается не полностью – часть энергии выделяется в виде фекалий (экскременты). Энергия экскретов и экскрементов используется редуцентами.</p>
    <p><strong>Вторичная продуктивность биогеоценоза</strong> – биомасса, образуемая всеми гетеротрофными организмами (консументами) биогеоценоза в единицу времени.</p>
    <h3 class="text-center"><strong>Динамика биогеоценозов. Понятие о экологической сукцессии.</strong></h3>
    <p>В процессе жизни биогеоценозы подвергаются непрерывным изменениям. Старые организмы отмирают, на их место поселяются новые. Изменение биогеоценозов во времени в результате внешних и внутренних воздействий – <strong>динамика экосистемы.</strong></p>
    <p><em>Суточная динамика</em> наблюдается во всех климатических зонах, обусловлена сменой дня и ночи. Большинство животных (насекомые, птицы,) активны днем, некоторые (комары, совы) активны ночью. Суточная динамика прослеживается и у растений. Некоторые покрытосеменные раскрывают цветки только в дневное время (лен).</p>
    <p><em>Сезонная динамика</em> обусловлена сменой времен года. Особенно выражена сезонная динамика в зонах умеренного и холодного климата. При наступлении холодов многие виды животных (птицы) мигрируют в районы с лучшими условиями существования; деревья и кустарники сбрасывают листву; у многолетних трав жизнеспособными сохраняются только корни; некоторые животные впадают в спячку.</p>
    <p><em>Многолетняя динамика (сукцессия)</em> является механизмом образования новых сообществ.</p>
    <p><strong>Сукцессия</strong> – постепенная, необратимая, направленная смена одних биоценозов другими на одной и той же территории под влиянием природных факторов или деятельности человека.</p>
    <p>
        <strong>Факторы, определяющие смену биогеоценозов (сукцессию):</strong>
        <ol type="1">
            <li>Изменение климатических условий.</li>
            <li>Изменение свойств среды под влиянием жизнедеятельности организмов экосистемы.</li>
            <li>Упорядоченность процесса развития сообщества – установление стабильных взаимоотношений между видами.</li>
            <li>Деятельность человека.</li>
        </ol>
    </p>
    <p>
        <strong>Виды сукцессий:</strong>
        <ol type="1">
            <li>
                <strong><em>Первичная сукцессия.</em></strong> Развитие сообщества происходит на вновь образовавшихся, <strong>РАНЕЕ НИКЕМ НЕ ЗАСЕЛЕННЫХ</strong> местах (застывших потоках лавы, песчаных дюнах).
                <p>При первичных сукцессиях сериальные стадии сменяют одна другую в течение значительного промежутка времени. Достижение климаксовой (конечной)стадии занимает длительный период (столетия и тысячелетия). <u>Начальные стадии значительно продолжительнее конечных.</u></p>
                <p>Первичная сукцессия на песчаных дюнах происходит следующим образом. На голых песках поселяются некоторые злаки, ива остролистная и другие растения-псаммофиты (песколюбы). Они способны жить в условиях засухи. Вместе с ними будут заселяться норные пауки, кузнечики, роющие осы. Потом появляется разнотравье. Создается органическое вещество, обогащающее субстрат. Появляется сосна, которая закрепляет пески, потом лиственные породы. Богаче становится животный мир. Новые места заселяют муравьи, кобылки, жуки, дождевые черви, моллюски, грызуны и другие обитатели лиственного леса. </p>
            </li>
            <li>
                <em><strong>Вторичная сукцессия.</strong></em> Развитие сообщества происходит на местности, <strong>где РАНЕЕ СУЩЕСТВОВАЛА РАСТИТЕЛЬНОСТЬ,</strong> но по каким-то причинам (пожар) она была уничтожена (восстановление заброшенного поля, образование торфяного болота на месте лесного озера). Смена сериальных стадий и достижение климакса в этом случае происходит значительно быстрее (десятки и сотни лет), чем при первичных сукцессиях. В разрушенных экосистемах, в отличие от мест лишенных жизни, сохраняется почва, семена растений, некоторое количество живых обитателей. Благодаря этому начальные стадии вторичных сукцессий менее продолжительные, чем у первичных.
                <p><em>Этапность смены биогеоценозов:</em> однолетние травы – многолетние травы – сосновый лес – широколиственный лес (дуб, бук, клен).</p>
            </li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Агроценозы, их отличия от естественных экосистем.</strong></h3>
    <p><strong>Агроценоз</strong> – это созданное и поддерживаемое человеком в результате сельскохозяйственной деятельности искусственное сообщество (поля, пастбища, сенокосы, лесные посадки, парки, сады).</p>
    <p>Наряду с возделываемыми культурами в агроценозах произрастают сопутствующие сорные виды, которые испытывают мощный антропогенный пресс; в состав агроценозов входят бактерии, водоросли, грибы, животные. Относительно высокая по сравнению с биогеоценозами продуктивность агроценозов обеспечивается внедрением интенсивных технологий, подбором высокоурожайных сортов, внесением удобрений, мелиорацией.</p>
    <p>В агроценозах присутствуют цепи питания, обязательным звеном пищевой цепи является человек.</p>
    <p class="text-center"><strong>Отличия агроценоза и биогеоценоза.</strong></p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td><strong>Признак</strong></td>
                <td><strong>Агроценоз</strong></td>
                <td><strong>Биогеоценоз</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Баланс питательных элементов</td>
                <td>Не сохранен (большую часть изымает человек с урожаем)</td>
                <td>Сохранен (большая часть элементов возвращается в почву)</td>
            </tr>
            <tr>
                <td>Сбалансированный круговорот веществ</td>
                <td>Нет</td>
                <td>Есть</td>
            </tr>
            <tr>
                <td>Источник энергии</td>
                <td>Солнце, удобрения, работа сельскохозяйственных машин и человека</td>
                <td>Солнце</td>
            </tr>
            <tr>
                <td>Форма отбора</td>
                <td>Искусственный </td>
                <td>Естественный</td>
            </tr>
            <tr>
                <td>Направление отбора</td>
                <td>Максимальная продуктивность</td>
                <td>Адаптация к условиям существования</td>
            </tr>
            <tr>
                <td>Устойчивость</td>
                <td>Низкая</td>
                <td>Высокая</td>
            </tr>
            <tr>
                <td>Саморегуляция</td>
                <td>Отсутствует (состав видов ограничен, связи между видами очень слабые)</td>
                <td>Характерна</td>
            </tr>
            <tr>
                <td>Количество видов</td>
                <td>Небольшое (доминирование одного вида)</td>
                <td>Большое</td>
            </tr>
        </tbody>
    </table>  
</div>
