<h3 class="text-center"><em><u>Тип Круглые черви (Нематоды): основные ароморфозы, общая характеристика. Многообразие круглых червей. Миграция личинки аскариды по организму. Значение круглых червей.</u></em></h3>
<div class="container">
    <p>
        <strong>Классы и представители:</strong> Тип Круглые черви включает пять классов. По численности и значению самым важным является класс Собственно круглые черви <em>(аскарида, власоглав, острица, трихинелла).</em>
    </p>
    <p>
        <strong>Количество видов:</strong> около 20000 видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> морские и пресные водоемы, влажная почва, организм человека, животных и растений.
    </p>
    <p>
        <strong>Образ жизни:</strong> свободноживущие (морские нематоды) или паразиты.
    </p>
    <p>
        <strong>Первичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная.</strong>
    </p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol type="1">
            <li>Первичная полость тела (псевдоцель), наличие гидроскелета; </li>
            <li>Появление заднего отдела пищеварительной трубки (задняя кишка и анальное отверстие);</li>
            <li>Раздельнополость, половой диморфизм (внешние различия самки и самца). </li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение. </strong> Размеры тела колеблются в широких пределах – от нескольких миллиметров (почвенные черви) до нескольких метров (нематода кашалота). Форма тела – цилиндрическая или веретеновидная (по направлению к обоим концам тело сужается). Тело несегментированное, на поперечном разрезе круглое.
    </p>
    <p>
        На его переднем конце расположено ротовое отверстие и основные органы чувств. Позади головной области на брюшной стороне тела находится экскреторная пора. У самок ближе к середине тела на брюшной стороне расположено половое отверстие. Вблизи заднего конца тела находится анальное отверстие.
    </p>
    <p>
        <strong>Покровы тела</strong> представлены <strong>кожно-мускульным мешком. </strong>
    </p>
    <p>
        <strong>Компоненты</strong> (снаружи-внутрь):
        <ol type="1">
            <li>Кутикула (многослойная плотная нерастяжимая неклеточного строения); </li>
            <li>Гиподерма (эпителиальная ткань), образует 4 продольные складки (валики); </li>
            <li>Один слой продольных гладких мышц в виде 4 лент, разделенных валиками гиподермы. </li>
        </ol>
    </p>
    <p>
        Кутикула – своеобразный наружный скелет – вместе с полостной жидкостью создает опору для мышц. Функция: защитная (защищает от механических повреждений и действия различных химических веществ). Гиподерма представлена симпластической тканью, образованной в результате слияния клеток эпителия.
    </p>
    <p>
        <strong>Полость тела – первичная (псевдоцель)</strong> ) – пространство между стенкой тела и внутренними органами, соответствует бластоцели зародыша, заполнена жидкостью, <strong>НЕ ИМЕЕТ СОБСТВЕННОЙ ЭПИТЕЛИАЛЬНОЙ ВЫСТИЛКИ.</strong> <u>Функции:</u> опорную (гидроскелет), транспортная и обмен веществ (внутренняя среда организма).
    </p>
    <p>
        Для круглых червей характерна <strong>эвтелия</strong> (строго определенное число клеток, входящих в состав ткани или органа). Следовательно, они не способны к регенерации и их рост ограничен.
    </p>
    <p>
        <strong>Пищеварительная система.</strong> 3 отдела:
        <ol type="1">
            <li><em>Передний.</em> Рот (окружен кутикулярными губами, могут быть режущие пластинки и кутикулярные выросты – зубцы), глотка и пищевод (у острицы имеется бульбус – расширение нижнего отдела пищевода);</li>
            <li><em>Средний.</em> Средняя кишка (образована однослойным эпителием).</li>
            <li><em>Задний.</em> Задняя кишка и анальное отверстие. У некоторых видов ротовое </li>
        </ol>
        <div class="row">
            <div class="col">
                <p>Пищеварение преимущественно полостное. Пища - детрит (однородная масса разлагающихся органических веществ) и мелкие беспозвоночные. Паразиты питаются тканями и жидкостями внутренней среды организма хозяина. Кишечные паразиты поглощают содержимое кишечника хозяина. Непереваренные остатки пищи удаляются через анальное отверстие.</p>
                <p><strong>Нервная система. </strong> <em>Стволовая (ортогональная).</em> Надглоточный и подглоточный ганглии соединены между собой и образуют окологлоточное нервное кольцо, от которого вдоль тела отходят 4 нервных ствола (спинной, брюшной и 2 боковых), проходящие в валиках гиподермы и соединенные друг с другом перемычками (комиссурами). Наиболее развиты спинной и брюшной нервные стволы. </p>
            </div>
            <div class="col justify-content-center">
                <img src="~/Images/thema19/аскарида поп срез.png" class="rounded mx-auto d-block"/>
                <p class="picture_framing">
                    <strong>Поперечный срез аскариды:</strong> 1 - спинной валик гиподермы; 2 - яйцеводы, заполненные яйцами; 3 - выделительный канал в боковом валике гиподермы; 4 - матки, заполненные яйцами; 5 - яичники; 6 - кутикула; 7 - полость кишечника; 8 - мышечные клетки
                </p>
            </div>
        </div>
    </p>
    <p>
        <strong>Органы чувств.</strong> <em>Органы осязания</em> (осязательные бугорки или щетинки) и <em>химического чувства</em> (чувствительные вкусовые клетки) развиты у всех круглых червей вне зависимости от образа жизни. Только у морских свободноживущих представителей имеются органы зрения (просто устроенные глаза (пигментные пятна, в которых есть пигментный бокал и кутикулярная линза)) и <em>равновесия</em> (статоцисты).
    </p>
    <p>
        <strong>Выделительная система.</strong> <em>Видоизмененные протонефридии: 1–2 кожные железы + 2 пары фагоцитарных клеток.</em>
    </p>
    <p>
        Кожные железы - гигантские клетки гиподермы, от них отходят два канала, расположенных в боковых валиках гиподермы, которые в задней части тела заканчиваются слепо, а в передней сливаются и открываются наружу выделительной порой на брюшной стороне тела за ротовым отверстием.
    </p>
    <p>
        Фагоцитарные клетки – клетки, расположенные по ходу выделительных каналов, захватывают и удерживают плотные частицы, образовавшиеся в полостной жидкости из продуктов обмена.
    </p>
    <p>
        <strong>Кровеносная и дыхательная системы отсутствуют.</strong> Важнейшую роль в метаболизме нематод играют процессы анаэробного расщепления гликогена, большие запасы которого откладываются в гиподерме. Конечные продукты обмена нематод – органические кислоты (валериановая, масляная) – в большом количестве присутствуют в полостной жидкости червей, что определяет ее высокую токсичность.
    </p>
    <p>
        <strong>Половая система.</strong> Раздельнополые, выражен <strong>половой диморфизм</strong> – самцы меньше самок и задний конец тела самцов загнут или закручен на брюшную сторону.
    </p>
    <p>
        Гонады имеют трубчатое строение.
    </p>
    <p>
        <u>Самец</u> половая система непарная): семенник, семяпровод, семяизвергательный канал (открывается в заднюю кишку), спикулы (вспомогательные органы, которые облегчают фиксацию самца в районе полового отверстия самки при совокуплении). Сперматозоиды лишены жгутиков.
    </p>
    <p>
        <u>Самка</u> (половая система парная): яичники (заполнены половыми клетками), яйцеводы, матки (соединены между собой) и непарное влагалище.
        Размножение половое. Осеменение внутреннее. Развитие у нематод непрямое (с неполным метаморфозом), без смены хозяев. Личинка развивается в почве или воде и сопровождается линькой. Отдельным видам (трихинелла) свойственно живорождение.

    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>Многообразие круглых червей.</strong>
    </div>
    <p>Паразитические черви называются <strong>глисты (гельминты).</strong></p>
    <p><strong>Аскарида человеческая.</strong> Заболевание –аскаридоз.</p>
    <p><strong>Морфологическая характеристика.</strong> Длина тела самки – 30-40 см, самца – 15-25 см. Тело бело-розовое, цилиндрическое, заостренное на концах.</p>
    <p>
        <strong>Цикл развития.</strong> Паразитируют в тонком кишечнике. Оплодотворенная самка откладывает в сутки до 240 тыс. яиц, которые вместе с фекалиями попадают во внешнюю среду. Развитие яиц происходит в почве, через 21 день в яйцах развиваются инвазионные личинки. Заражение происходит с загрязненными овощами, фруктами или водой. В тонком кишечнике личинки выходят из яиц, пробуравливают стенку кишечника и совершают <strong>миграцию по организму:</strong>
    </p>
    <div class="row">
        <div class="col">
            капилляры тонкого кишечника – вены тонкого кишечника – портальная вена – печень – нижняя полая вена – правое предсердие – правый желудочек – легочной ствол – капилляры легких – альвеолы – бронхиолы – бронхи – трахея – гортань –ротовая полость (повторно заглатываются) – глотка – пищевод – желудок – тонкий кишечник.
            <p>
                Через 2-2,5 месяца они превращаются в половозрелые особи. Миграция личинок длится около двух недель. Продолжительность жизни взрослых аскарид – около 1 года.
            </p>
            <p>
                <strong>Влияние на организм.</strong> Повреждение слизистой оболочки кишечника, нарушение пищеварения, закупорка просвета тонкого кишечника, могут заползать в желчный проток, аппендикс, пищевод и дыхательные пути; поглощение значительного количества питательных веществ и интоксикация организма.
            </p>
            <p>
                <strong>Меры профилактики:</strong>
                <ol type="1">
                    <li>Санитарнопросветительная работа среди населения;</li>
                    <li>Соблюдение правил личной гигиены;</li>
                    <li>Тщательное мытье овощей, фруктов и ягод;</li>
                    <li>Уничтожение механических переносчиков яиц аскариды – мух;</li>
                    <li>Охрана водоемов от загрязнения фекалиями животных и людей;</li>
                    <li>Выявление и лечение зараженных людей.</li>
                </ol>
            </p>
        </div>
        <div class="col justify-content-center">
            <img src="~/Images/thema19/аскарида внешнее.png" class="rounded mx-auto d-block"/>
            <p class="picture_framing">
                <strong>Вскрытая самка аскариды:</strong> 1 - кутикулярные губы; 2 - нервное кольцо; 3 - влагалище; 4 - яичники; 5 - матки; 6 - яйцеводы; 7 - средняя кишка; 8 - пищевод; 9 - глотка
            </p>
        </div>
    </div>
    <p>
        <strong>Власоглав.</strong> Заболевание: трихоцефалез.
    </p>
    <p><strong>Внешнее строение.</strong> Длина тела самки – до 5 см, самцы – до 4 см. Передний отдел тела тонкий, нитевидный, в нем расположен только пищевод; задний – утолщен, содержит все остальные органы. Задний конец у самца спирально закручен на брюшную сторону.</p>
    <p><strong>Цикл развития.</strong> Паразитирует в верхнем отделе толстого кишечника человека (слепая кишка) и его отростке (аппендиксе). Тонким передним концом власоглавы пронизывают слизистую оболочку кишечника и питаются клетками крови и эпителием кишечника. Оплодотворенная самка откладывает в сутки до 60 тыс. яиц. Вместе с фекалиями они выделяются во внешнюю среду. Развитие яиц происходит в почве.</p>
    <p>
        Заражение происходит при употреблении в пищу загрязненных яйцами паразита овощей, ягод, фруктов и воды. В кишечнике из яиц выходят личинки, которые без миграции через месяц превращаются в половозрелые особи. Продолжительность жизни власоглава в организме человека – свыше пяти лет.
    </p>
    <p><strong>Влияние на организм.</strong> Повреждает слизистую оболочку кишечника, отравляет организм токсическими веществами, вызывает анемию.</p>
    <p><strong>Меры профилактики</strong> те же, что и при аскаридозе.</p>
    <p><strong>Острица.</strong> Заболевание: энтеробиоз.</p>
    <p><strong>Внешнее строение.</strong> Длина тела самки около 10 мм, самца – 5 мм, белого цвета. На переднем конце тела находится вздутие кутикулы – везикула, а в задней части пищевода шаровидное расширение – <strong>бульбус,</strong> участвующие в фиксации паразита к стенкам кишечника.</p>
    <p><strong>Цикл развития.</strong> Паразитирует в прямой кишке. Питаются преимущественно содержимым кишечника. После оплодотворения самцы погибают, а самки ночью, когда расслаблены сфинктеры, выползают из анального отверстия и откладывают яйца вокруг анального отверстия (15 тыс.). Личинка созревает в течении 6 ч. Белковая клейкая жидкость вызывает зуд; больные расчесывают зудящие места, и под ногти попадают яйца, которые легко могут быть занесены в рот и рассеяны по окружающим предметам. В кишечнике из яиц выходят личинки, которые через две недели достигают половой зрелости. Продолжительность жизни острицы – около месяца. Характерно самозаражение.</p>
    <p><strong>Влияние на организм.</strong> Повреждает слизистую оболочку кишечника, вызывают аллергические реакции, раздражают кожу промежности.</p>
    <p>
        <strong>Меры профилактики:</strong>
        <ol type="1">
            <li>Санитарнопросветительная работа с родителями и воспитателями дошкольных учреждений;</li>
            <li>Соблюдение правил личной гигиены, особенно чистоты рук и постельного белья;</li>
            <li>Прививание гигиенических навыков детям;</li>
            <li>Периодическое обследование обслуживающего персонала детских учреждений;</li>
            <li>Проведение систематической влажной уборки помещений и санитарная обработка игрушек;</li>
            <li>Выявление и лечение зараженных людей.</li>
        </ol>
    </p>
    <p>
        <strong>Трихинелла (трихина человеческая).</strong> Заболевание: трихинеллез.
    </p>
    <div class="row">
        <div class="col">
            <p>
                <strong>Внешнее строение.</strong> Мелкий паразит, основную часть своего цикла развития проводит в виде личинки, окруженной капсулой, которая находится в поперечнополосатой мышечной ткани хозяина (домашние и дикие свиньи, медведи, лисы, крысы, мыши-полевки и другие теплокровные позвоночные, в том числе и человек).
            </p>
            <strong>Цикл развития.</strong> Заражение человека происходит при употреблении зараженного личинками мяса домашнего или дикого животного. В желудке нового хозяина трихинеллы выходят из капсулы, а в тонком кишечнике они превращаются в половозрелые особи. После оплодотворения самка проникает в стенку кишечника и отрождает в кровь около 2000 живых личинок
        </div>
        <div class="col justify-content-center">
            <img src="~/Images/thema19/круглые.png"  class="rounded mx-auto d-block"/>
        </div>
    </div>
    <strong>(ХАРАКТЕРНО ЖИВОРОЖДЕНИЕ). </strong> После миграции по организму личинки избирательно оседают в поперечнополосатых мышцах (диафрагма, межреберные, жевательные, язык, икроножная и др.), питаются, через месяц скручиваются в спираль и покрываются оболочкой (капсулой).

    <p>
        <strong>Влияние на организм.</strong> Повышение температуры, аллергические реакции, мышечные боли и может закончиться смертью.
    </p>
    <p>
        <strong>Меры профилактики:</strong>
        <ol type="1">
            <li>Санитарнопросветительная работа среди сельского населения и охотников;</li>
            <li>Осуществление ветеринарного контроля мясных туш на бойнях, мясокомбинатах и колхозных рынках;</li>
            <li>Борьба с грызунами.</li>
        </ol>
    </p>
    <p>
        <strong>Фитопатогенные нематоды</strong> – паразиты растений.
    </p>
    <p>
        <strong>Картофельная нематода</strong>  небольшой (около 1 мм) подвижный червь, заселяющие клубни картофеля. Длительное паразитирование разрушает клубень, превращает его в комок коричневой трухи <strong>(сухая гниль).</strong>
    </p>
    <p>
        <strong>Луковая нематода </strong> паразитирует в тканях луковиц чеснока и лука.
    </p>
    <p>
        <strong>Пшеничная нематода</strong> поражает ткани представителей семейства Злаковые. Вместо нормального зерна в колосе пораженного растения образуются разрастания, содержащие до 17 тыс. личинок паразита.
    </p>
    <p>
        <strong>Земляничная нематода</strong> – питается на корневых волосках земляники, клубники. Растение ослабевает и перестает плодоносить.
    </p>
    <p>
        <strong>Меры профилактики:</strong>
        <ol type="1">
            <li>Смена культур в севообороте.</li>
        </ol>
    </p>
    <p>
        <strong>Значение круглых червей.</strong>
        <ol type="1">
            <li>Компоненты биогеоценозов;</li>
            <li>Являются пищей для более крупных животных;</li>
            <li>Участвуют в почвообразовании;</li>
            <li>Возбудители паразитарных заболеваний (нематодозов).</li>
        </ol>
    </p>
</div>
