<div class="container">
    <p>
        <strong>Организм</strong> – целостная, саморегулирующаяся, самовоспроизводящаяся система, состоящая из клеток, тканей, органов и систем органов, которой присущи все свойства и признаки живого.
    </p>
    <p>
        В основе жизнедеятельности организма лежит обмен веществ, включающий два взаимосвязанных процесса: синтез органических веществ (ассимиляция) и их расщепление и окисление (диссимиляция), объединяющиеся в единый процесс обмена вещества и энергии (метаболизм).
    </p>
    <p>
        Как целостная система организм обладает <em>свойствами живого:</em>
        <ol type="1">
            <li>Наследственность и изменчивость;</li>
            <li>Рост, развитие и размножение;</li>
            <li>Раздражимость;</li>
            <li>Целостность, дискретность;</li>
            <li>Обмен вещества и энергии с окружающей средой.</li>
        </ol>
    </p>
    <p>
        <em>Целостность организма обеспечивает:</em>
        <ol type="1">
            <li>Структурное объединение всех частей организма между собой (клеток, тканей, органов, систем органов);</li>
            <li>Нервную регуляцию функций органов и систем (с помощью нервных импульсов);</li>
            <li>Гуморальную регуляцию функций органов и систем (с помощью циркулирующих в жидкостях внутренней среды организма биологически активных веществ, которые вырабатывают в процессе своей жизнедеятельности клетки, ткани, органы, железы внутренней секреции).</li>
        </ol>
    </p>
    <p>
        Нервная и эндокринная системы обеспечивают согласованную работу сложного многоклеточного организма, осуществляя единую нейрогуморальную регуляцию процессов жизнедеятельности. Регуляция происходит автоматически по принципу саморегуляции, за счет чего поддерживается <strong>гомеостаз</strong> (постоянство внутренней среды организма). В 1878 г. французский физиолог К. Бернар обосновал значение постоянства внутренней среды организма. В 1929 г. американский физиолог У. Кеннон предложил термин «гомеостаз».
    </p>
    <p>
        Для приспособления к различным условиям внешней среды в организме формируются <strong>функциональные системы</strong> – временное объединение различных органов для достижения определенного результата (потовые железы, сосуды кожи – для поддержания определенной температуры тела при разной температуре окружающей среды). Теорию функциональных систем разработал в 1968 г. советский физиолог П.К. Анохин.
    </p>
    <p>
        <strong>Клетка</strong> – наименьшая структурно-функциональная и генетическая единица всего живого. На уровне клетки происходят важнейшие процессы: обмен веществ, рост, размножение. Основные компоненты клетки: клеточная оболочка, ядро, цитоплазма с органоидами и включениями.
    </p>
    <p>
        Наряду с клетками в организме имеются производные клеток:
        <ol type="1">
            <li><strong>Симпласт</strong> – крупные образования, возникающие в результате слияния отдельных клеток, состоящие из цитоплазмы с множеством ядер (мышечные волокна);</li>
            <li><strong>Синтиций</strong> – структура, характеризующаяся тем, что после деления дочерние клетки остаются связанными друг с другом посредством цитоплазматических мостиков (перемычек);</li>
            <li><strong>Межклеточное вещество</strong> – продукт жизнедеятельности отдельных клеток, выполняет опорную, трофическую функции и осуществляет передачу информации между клетками.</li>
        </ol>
    </p>
    <p>
        <strong>Ткань</strong> – совокупность клеток и межклеточного вещества, имеющих общее происхождение, сходное строение и выполняющих одинаковые функции.
    </p>
    <p>
        <strong>Общие принципы строения тканей:</strong>
        <ol type="1">
            <li>Состоят из специализированных клеток (выполняют главные функции ткани); созревающих клеток данной ткани на разных стадиях дифференцировки; камбиальных клеток (малодифференцированные), обеспечивающие обновление (регенерацию); мигрирующих клеток (лейкоцитов), вышедших из кровеносного русла в ткань;</li>
            <li>Имеют механическую опору (базальные мембраны, межклеточный матрикс);</li>
            <li>Характеризуются постоянным расположением, определенной клеточной массой и конфигурацией;</li>
            <li>Имеют определенные источники кровоснабжения (кроме эпителия и хряща) и иннервации в зависимости от особенностей функции.</li>
        </ol>
    </p>
    <p>
        <strong>Типы тканей: </strong>
        <ol type="I">
            <li>
                <strong>Эпителиальная ткань</strong> (эпителий) развивается из эктодермы, энтодермы и мезодермы.
                <p>
                    Классификация эпителиальной ткани:
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ol type="1">
                                    <li>
                                        <em>Покровный эпителий</em> – пограничная ткань (находится на границе с внешней средой).
                                        <ol>
                                            <li>однослойный (плоский (стенки капилляров и альвеол), кубический (канальцы почек), цилиндрический (желудок, трахея));</li>
                                            <li>переходный (мочевой пузырь);</li>
                                            <li>многослойный (плоский неороговевающий (ротовая полость, роговица глаза, верхняя треть пищевода), плоский ороговевающий (кожа));</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <em>Железистый эпителий:</em>

                                        <ol>
                                            <li>экзокринные железы (железы внешней секреции) – железы, имеющие выводные протоки и выделяющие свой секрет на поверхность тела (потовые, сальные, молочные) или в полости организма (кишечные, слюнные); </li>
                                            <li>эндокринные железы (железы внутренней секреции) – железы, не имеющие выводных протоков и выделяющие свой секрет непосредственно в тканевую жидкость, а оттуда в кровь;</li>
                                            <li>железы смешанной секреции – железы, выполняющие одновременно экзо- и эндокринные функции (поджелудочная железа, половые железы).</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <em>Атипический эпителий</em> (отдельные клетки чередуются с элементами соединительной ткани и не образуют сплошного пласта).
                                        <p>
                                            <em>Особенности морфологии эпителиальной ткани:</em>
                                            <ol>
                                                <li> Клетки плотно прилегают друг к другу, образуя сплошной пласт (межклеточного вещества практически нет) и связаны друг с другом; </li>
                                                <li> Клетки всегда располагаются на слое соединительной ткани <em>(базальной мембране);</em></li>
                                                <li>Покровный эпителий не содержит кровеносных и лимфатических сосудов; питание осуществляется диффузно через базальную мембрану со стороны прилежащей соединительной ткани.</li>
                                                <li>Клетки активно делятся, ткань обладает высокой способностью к регенерации.</li>
                                            </ol>
                                        </p>
                                    </li>
                                </ol>
                            </div>
                            <div class="col text-center">
                                <img src="~/Images/thema30/Железистый эпителий.png" class="rounded" width="100%" height="100%" />
                            </div>
                        </div>
                    </div>
                <p>
                    <em>Функции эпителиальной ткани:</em>
                    <ol type="1">
                        <li>Защитная (защита нижележащих структур от механических повреждений, инфекции, потери тепла и влаги);</li>
                        <li>Участие в обмене веществ (всасывание питательных веществ, газообмен);</li>
                        <li>Секреторная (железистый эпителий);</li>
                        <li>Экскреторная (выделение продуктов обмена).</li>
                    </ol>
                </p>
            </li>
            <li>
                <strong>Соединительная ткань,</strong> за исключением нейроглии, развивается из мезодермы.
                <p>
                    <em>Классификация соединительной ткани:</em>
                    <ol type="1">
                        <li>
                            <em>Трофическая</em> (жидкая). <strong>N.B.!!!</strong> Ткани внутренней среды организма.

                            <ol>
                                <li>кровь (форменные элементы крови, плазма крови); </li>
                                <li>лимфа (лимфоциты, плазма).</li>
                            </ol>
                        </li>
                        <li>
                            <em>Опорно-трофическая.</em>
                            <ol type="a">
                                <li>
                                    Собственно соединительная ткань:
                                    <ol>
                                        <li>рыхлая волокнистая соединительная ткань (прослойки между органами, наружная часть стенки кровеносных сосудов);</li>
                                        <li>плотная волокнистая соединительная ткань (связки, сухожилия, дерма, твердая мозговая оболочка, надкостница, склера, межпозвонковые диски).</li>
                                    </ol>
                                </li>
                                <li>
                                    Специальная собственно соединительная ткань:
                                    <ol>
                                        <li>жировая (подкожная жировая клетчатка, желтый костный мозг);</li>
                                        <li>ретикулярная (селезенка, красный костный мозг, лимфатические узлы);</li>
                                        <li>пигментная (красная кайма губ).</li>
                                    </ol>
                                </li>
                            </ol>
                            <img src="~/Images/thema30/Соединительная ткань.png" class="rounded" width="100%" height="100%" />
                        </li>
                        <li>
                            <em>Опорная.</em>
                            <ol type="a">
                                <li>
                                    Костная:
                                    <ol>
                                        <li>компактная (кости черепа);</li>
                                        <li>губчатая (ребра, грудина);</li>
                                        <li>дентин (зубы).</li>
                                    </ol>
                                </li>
                                <li>
                                    Хрящевая (ушная раковина, носовая перегородка, надгортанник, евстахиева труба).
                                </li>
                            </ol>
                        </li>
                    </ol>
                </p>
                <p>
                    <em>Особенности морфологии соединительной ткани:</em>
                    <ol type="1">
                        <li>
                            Клетки расположены рыхло; хорошо выражено межклеточное вещество, состоящее из волокон и основного вещества.
                            <p>
                                <em>Основное (аморфное) вещество</em> – коллоидная система, содержащая жидкостный компонент для транспорта метаболитов между клетками и кровью (гликоген, гликопротеины, липиды, альбумины, глобулины, соли натрия и калия).
                            </p>
                            <p>
                                Волокна: <em>коллагеновые</em> (фибриллярный белок <em>коллаген</em> придает высокую <em>прочность</em> кани и эластические (белок <em>эластин</em> придает ткани <em>упругость).</em> Волокна расположены беспорядочно, параллельно друг другу (в сухожилиях) или крест-накрест (в фасциях).
                            </p>
                        </li>
                        <li>
                            Обладает высокой способностью к регенерации;
                        </li>
                        <li>Во всех соединительных тканях (кроме жировой) межклеточное вещество преобладает над клетками.</li>
                    </ol>
                </p>
                <p>
                    <em>Функции соединительной ткани:</em>
                    <ol type="1">
                        <li>Трофическая (эритроциты);</li>
                        <li>Защитная (лейкоциты, тромбоциты);</li>
                        <li>Механическая (костная);</li>
                        <li>Образование стромы паренхиматозных органов;</li>
                        <li>Кроветворная (красный костный мозг);</li>
                        <li>Регенераторная (стволовые клетки);</li>
                        <li>Запасающая (жировая).</li>
                    </ol>
                </p>
            </li>
            <li>
                <strong>Мышечная ткань</strong> развивается из мезодермы.
                <p>
                    Свойства:
                    <ol>
                        <li><em>возбудимость</em> (способность отвечать на раздражение);</li>
                        <li><em>сократимость</em> (способность волокон укорачиваться и удлиняться);</li>
                        <li><em>проводимость</em> (способность проводить возбуждение).</li>
                    </ol>
                </p>
                <p>
                    Классификация и морфологические особенности мышечной ткани:
                </p>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <td>Гладкая</td>
                            <td colspan="2">Поперечно-полосатая</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Скелетная</td>
                            <td>Сердечная</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Images/thema30/Мышечная ткань, гладкая.png" class="rounded img-right" />
                            </td>
                            <td>
                                <img src="~/Images/thema30/Мышечная ткань, скелетная.png" class="rounded img-right" />
                            </td>
                            <td>
                                <img src="~/Images/thema30/Мышечная ткань, сердечная.png" class="rounded img-right" />
                            </td>
                        </tr>
                        <tr>
                            <td>Мелкие (от 20 мкм до 1 мм длиной) веретеновидные клеток <em>(миоциты) с одним ядром</em> и тонкими, по всей длине клетки, миофибриллами, <em>не имеют поперечной исчерченности</em></td>
                            <td>
                                Длинные, вытянутые <em>мышечные волокна</em> (до 10–12 см), <em>расположены параллельными пучками;</em> каждое волокно имеет форму цилиндра и состоит из цитоплазмы, большого числа ядер и специальных органоидов – миофибрилл, диаметр которых не превышает 1 мкм. В каждом волокне находится до 1000 миофибрилл, состоящих из продольных нитей: <em>толстых миозиновых и тонких актиновых.</em> Под микроскопом мышечное волокно выглядит разделенным на чередующиеся темные и светлые диски <em>(поперечная исчерченность).</em> Скелетные мышцы состоят из «быстрых» и «медленных» волокон. «Быстрые» волокна содержат меньше <em>миоглобина</em> (транспортный белок, который переносит кислород в мышцах), поэтому называются белыми, а «медленные», с большим количеством миоглобина, — красными.
                            </td>
                            <td>
                                <em>Соединенные друг с другом конец в конец</em> ветвящиеся клетки <em>(кардиомиоциты),</em> образуют множество щелевых контактов, которые позволяют нервным импульсам распространяться по всей мышечной массе, обеспечивая одновременное сокращение, а затем – расслабление. Содержит <em>поперечно-исчерченные</em> миофибриллы, большое число митохондрий.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Свойства:
                                <ol type="1">
                                    <li>Сокращается непроизвольно (сокращения не зависит от воли человека;</li>
                                    <li>Сокращается медленно (время сокращения 3–180 с), с небольшой силой, способна к длительному тоническому сокращению;</li>
                                    <li>Утомляется медленно;</li>
                                    <li>Обладает высокой способностью к растяжению;</li>
                                    <li>Характерна небольшая потребность в энергии и кислороде;</li>
                                    <li>Иннервируется вегетативной нервной системой;</li>
                                    <li>
                                        Клетки способны гипертрофироваться (внутриклеточная
                                        регенерация).
                                    </li>
                                </ol>
                            </td>
                            <td>
                                Свойства:
                                <ol type="1">
                                    <li>Сокращается произвольно (сокращения подчинены воле человека);</li>
                                    <li>Сокращается быстро, с большой силой и скоростью (сокращаются и расслабляются за 0,1 с);</li>
                                    <li>Утомляется быстро;</li>
                                    <li>Не обладает значительной растяжимостью;</li>
                                    <li>Иннервируется соматической нервной системой. </li>
                                    <li>Ткань способна к регенерации за счет особых клеток (миосателлитоцитов).</li>
                                </ol>
                            </td>
                            <td>
                                Свойства:
                                <ol type="1">
                                    <li>Сокращается непроизвольно;</li>
                                    <li>Сокращается быстро;</li>
                                    <li>Утомляется медленно;</li>
                                    <li>Обладает автоматией (способностью самостоятельно генерировать нервные импульсы);</li>
                                    <li>Иннервируется вегетативной нервной системой. </li>
                                    <li>Не регенерирует (на месте погибших клеток после инфаркта миокарда образуются соединительно-тканные рубцы).</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Локализация: средняя часть стенки кровеносных сосудов и полых внутренних органов.</td>
                            <td>Локализация: скелетная мускулатура, мышцы рта, языка, глотки, верхней части пищевода, гортани, мимические мышцы и диафрагма.</td>
                            <td>Локализация: миокард (средний слой стенки сердца).</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <em>Функция мышечной ткани </em> – двигательная.
                </p>
            </li>
            <li>
                <strong>Нервная ткань</strong> развивается из эктодермы.
                Свойства:
                <ol>
                    <li><em>возбудимость</em> (способность отвечать на раздражение);</li>
                    <li><em>проводимость</em> (способность проводить возбуждение).</li>
                </ol>
                <p>
                    <em>Особенности морфологии и физиологии нервной ткани:</em>
                </p>
                <p>
                    Состоит из нервных клеток – <em>нейронов</em> и расположенных между ними клеток нейроглии (соединительная ткань). Большинство нейронов являются мультиполярными (имеют звездчатую форму, три и более отростков).
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>
                                Нейрон состоит из тела и отростков двух типов: коротких ветвящихся – <em>дендритов </em> (обычно их много) и одного длинного – <em>аксона (нейрита),</em> как правило, неразветвляющегося. Дендриты проводят возбуждение к телу нервной клетки. Аксон, имеющий миелиновую оболочку (состоит из белка миелина), передает импульс от клетки к другим нервным клеткам и рабочим органам (скорость прохождения импульсов по волокнам соматической нервной системы – до 120 м/с).
                            </p>
                        </div>
                        <div class="col text-center">
                            <img src="~/Images/thema30/Нейрон.png" class="rounded" width="100%" height="100%" />
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col">
                            <p>
                                Передача информации в нервной системе осуществляется посредством специализированных межклеточных контактов – <em>синапсов,</em> которых в нервной системе насчитывается около 1015–1016. Синапс образован двумя мембранами и узкой щелью между ними. Одна из мембран <em>(пресинаптическая)</em> принадлежит клетке, посылающей сигнал, а другая <em>(постсинаптическая) –</em> клетке, принимающей сигнал. Информация передается от одной клетки к другой при участии <em>медиаторов</em>
                            </p>
                        </div>
                        <div class="col text-center">
                            <img src="~/Images/thema30/Синапс.png" class="rounded" width="100%" height="100%" />
                        </div>
                    </div>
                    – биологически активных химических веществ для передачи нервного импульса от одной клетки к другой (ацетилхолин, норадреналин). Они выделяются из передающей клетки (расширенная часть конца отростка нейрона называется <em>синаптической бляшкой) в синаптическую щель,</em> а затем взаимодействуют с мембраной принимающей клетки, которая приходит в состояние возбуждения, изменяет свою проницаемость и способствует передаче нервного импульса.
                </div>
                <p>
                    <em>Виды клеток нейроглии:</em>
                    <ol type="1">
                        <li>
                            Макроглия:
                            <ol type="a">
                                <li>Олигодендроциты – покрывают миелиновой оболочкой некоторые аксоны;</li>
                                <li>Астроциты – обеспечивают доставку питательных веществ к нейрону;</li>
                                <li>Эпендимные клетки – образуют выстилку желудочков мозга и принимают участие в образовании спинномозговой жидкости.</li>
                            </ol>
                        </li>
                        <li>
                            Микроглия – мелкие клетки, выполняющие фагоцитарную функцию;
                        </li>
                    </ol>
                </p>
                <p>
                    <em>Функции нервной ткани:</em>
                    <ol type="1">
                        <li>Рецепторная (способность воспринимать раздражение);</li>
                        <li>Проводниковая (восприятие, переработка, хранение и передача информации, поступающей как из окружающей среды, так и от внутренних органов).</li>
                    </ol>
                </p>
            </li>
        </ol>
    </p>
    <p>
        <div class="text-center">
            <strong>Органы и системы органов.</strong>
        </div>
    </p>
    <p>
        <strong>Орган</strong> – это часть организма, имеющая определенное происхождение (зародышевые листки), форму, строение, расположение, кровоснабжение, лимфоотток, иннервацию и выполняющая характерные, присущие ей функции.
    </p>
    <p>
        Орган состоит из нескольких типов тканей, но обычно одна ткань преобладает (в сердце – мышечная ткань, в головном мозге – нервная) и определяет его специализацию.
    </p>
    <p>
        <strong>Варианты строения органов:</strong>
        <ol type="1">
            <li><em>Трубчатые (полые)</em> – органы, имеюшие полость и слоистое строение стенки (глотка, пищевод, желудок, тонкая и толстая кишка, выводящие протоки крупных пищеварительных желез, гортань, трахея, бронхи, лоханка, мочеточники, мочевой пузырь, мочеиспускательный канал, матка, маточные трубы, влагалище, семявыводящие протоки);</li>
            <li><em>Паренхиматозные</em> – органы, окруженные капсулой, не имеют полости, состоят из функциональных элементов (паренхима) и соединительно-тканных структур (строма), обеспечивающих опору и питание (головной мозг, печень, слюнные железы, поджелудочная железа, селезенка, почки, яичко, яичник, эндокринные железы);</li>
            <li><em>Атипичные</em> – органы, которые не похожи по строению на первые два типа (орган зрения, орган слуха).</li>
        </ol>
    </p>
    <p>
        Особенности строения и функциональную специализацию органа определяет <em>структурно-функциональная единица</em> – минимальная часть органа; совокупность таких частей обеспечивает функцию органа (мышечное волокно мышцы, ацинус легкого, нефрон почки, остеон кости).
    </p>
    <p>
        <strong>Аппарат органов</strong> – группа органов, связанных единой функцией, но имеющих разное строение и происхождение (опорно-двигательный (скелет и мышцы); эндокринный (железы внутренней секреции – гипофиз, эпифиз, щитовидная железа, околощитовидные железы, тимус, надпочечники, поджелудочная железа, половые железы); мочеполовой.
    </p>
    <p>
        <strong>Система органов</strong> – группа органов, выполняющих определенную функцию, развивающихся из общего эмбрионального зачатка и топографически связанных между собой (костная, мышечная, нервная, сердечно-сосудистая, дыхательная, пищеварительная, мочевыделительная, половая, сенсорная, лимфатическая.
    </p>
</div>
