<h3 class="text-center"><em><u>Вегетативные органы растений: лист. Внешнее строение, основные классификации. Поперечный срез листа. Листопад и его значение. Вегетативное размножение растений: естественное и искусственное.</u></em></h3>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Лист</strong> – боковой пластинчатый наземный вегетативный орган высших растений, образующийся на стебле, имеющий двухстороннюю симметрию, обладающий положительным гелиотропизмом (отрицательным геотропизмом), ограниченным верхушечным ростом.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Функции листа: </strong>
    <ol type="1">
        <li><em>Фотосинтез</em> – образование из неорганических веществ органических.</li>
        <li><em>Транспирация</em> – удаление избытка воды.</li>
        <li><em>Газообмен</em> – поглощение CО<sub>2</sub> и выделение О<sub>2</sub> на свету, поглощение О<sub>2</sub> и выделение СО<sub>2</sub> в темноте</li>
        <li><em>Запасающая</em> – накопление питательных веществ (лук, капуста) и воды (алоэ).</li>
        <li><em>Защитная</em> – видоизменение в колючки (кактус, барбарис) защищает от поедания животными и активной транспирации.</li>
        <li><em>Видоизменение в ловчий аппарат</em> – улавливание и переваривание насекомых (росянка, пузырчатка, венерина мухоловка).</li>
        <li><em>Опорная (механическая)</em> – укрепление стеблей на субстрате (усики гороха).</li>
        <li><em>Выделительная</em> – выделение фитонцидов (лук, чеснок).</li>
        <li><em>Удаление конечных продуктов обмена </em> – листопад.</li>
        <li><em>Орган вегетативного размножения</em> (фиалка, бегония).</li>
    </ol>
</p>
<div class="container">
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Компоненты листа:</strong>
    <div class="row ">
        <div class="col">
            <ol type="1">
                <li><em>Основание листа</em> – место крепление листа к стеблю. <em>Функция:</em> соединение листа и стебля.</li>
                <li><em>Черешок</em> – суженная стеблевидная часть листа между основанием и листовой пластинкой; содержит проводящие пучки, способен менять положение. <em>Функции:</em> крепление листа к стеблю; поворот листовой пластинки к свету.</li>
                <li><em>Листовая пластинка</em> – расширенная пластинчатая часть листа. <em>Функции:</em> фотосинтез, транспирация, газообмен.</li>
                <li><em>Прилистники</em> – листовидные образования у основания листа. <em>Функции</em> защита пазушной почки и молодых листьев; фотосинтез (горох, чина); защита от поедания – видоизменены в колючки (акация, карагана).</li>
            </ol>
        </div>
        <div class="row justify-content-center">
            <img src="~/Images/thema11/внешнее строение листа.png" title="внешнее строение листа"/>
        </div>
    </div>
</div>