<div class="container">
    <p><strong>Дыхание</strong> – совокупность физиологических процессов, обеспечивающих газообмен между организмом и внешней средой (внешнее дыхание) и окислительные процессы в клетках, в результате которых выделяется энергия (внутреннее дыхание).</p>
    <p><strong>Дыхательные пути:</strong> ноздри, носовая полость, носоглотка, ротоглотку, гортань, трахею, бронхи, бронхиолы. Имеют хрящевой остов (за исключением бронхиол) и выстилку мерцательным (цилиндрический эпителий с ресничками) эпителием.</p>
    <p><strong>Строение носовой полости:</strong> Костно-хрящевой перегородкой делится на</p> <em>левую и правую половины.</em> В каждой половине полости носа различают преддверие носа и собственно полость носа. Слизистая оболочка преддверия носа покрыта многослойным плоским эпителием, содержит потовые и сальные железы и корни жестких волос (вибрисс). На боковых стенках располагаются <em>верхняя, средняя и нижняя носовые раковины.</em> Раковины участвуют в образовании верхнего, среднего и нижнего носовых ходов. <em>Верхний носовой ход</em> располагается между верхней и средней носовыми раковинами. <em>Средний носовой ход</em> ограничен нижней и средней носовой раковинами. <em>Нижний носовой ход</em> ограничен дном полости носа и нижней носовой раковиной; в переднем отделе этого хода находится отверстие носослезного канала. </p>
    <p>С носовой полостью связаны <em>воздухоносные пазухи</em> соседних костей (придаточные пазухи носа: верхнечелюстная (гайморова), лобная, ячейки решетчатой кости и клиновидная пазуха). Околоносовые (придаточные) пазухи открываются в носовые ходы. Нередко придаточные пазухи являются очагами воспалительных процессов – синуситов (гайморит). Сзади носовая полость сообщается через внутренние отверстия <em>(хоаны)</em> </p>
    <h3><strong>Функции носовой полости: </strong></h3>
    <ol type="1">
        <li>Очищение воздуха от пыли и микроорганизмов (благодаря мерцательному эпителию и лейкоцитам);</li>
        <li>Согревание и увлажнение воздуха (благодаря большому количеству кровеносных сосудов и слизистых желез);</li>
        <li>В слизистой верхнего носового хода находятся обонятельные рецепторы.</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p>Из носовой полости через хоаны воздух проходит в носоглотку, затем в потоглотку, в которой пересекаются дыхательные и пищеварительные пути. Далее воздух поступает в гортань, вход в которую во время проглатывания пищи закрывает надгортанник.</p>
                <p><strong>Гортань</strong> – полый орган воронкообразной формы, вверху прикреплен к подъязычной кости, а внизу переходит в трахею. Гортань образована хрящами, поперечно-полосатыми мышцами и выстлана слизистой оболочкой.</p>
            </div>
            <div class="col d-block">
                <img src="~/Images/thema35/строение дыхательной системы.png" alt="строение дыхательной системы" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Хрящи гортани:</strong> 3 непарных <em>(щитовидный, перстневидный и надгортанник)</em> и 3 парных <em>(черпаловидные, рожковидные и клиновидные). </em>Щитовидный хрящ состоит из двух четырехугольных пластинок, соединенных спереди под определенным углом. У мужчин этот угол меньше, чем у женщин, поэтому хрящ выступает вперед, образуя кадык.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>На боковых стенках полости гортани имеются 2 парные складки слизистой, выступающие в просвет полости гортани: верхние – преддверные и нижние – голосовые складки, в которых находятся голосовые связки и голосовые мышцы.<em>Голосовые связки натянуты от черпаловидных хрящей к внутренней поверхности щитовидного хряща.</em> Между ними находится <em>голосовая щель.</em> Звуки возникают в результате натяжения и колебания голосовых связок во время выдоха. В формировании звуков также участвуют язык, мягкое нёбо, надгортанник, щеки и зубы. У мужчин голосовые складки длиннее и толще, чем у женщин (поэтому голос у них более грубый и низкий).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema35/Гортань.png" alt="Гортань" class="rounded" width="100%" height="100%">
            </div>
        </div>
    </div>
    <p>На уровне VI–VII шейных позвонков гортань переходит в трахею (длина 10–13 см и диаметр 1,5–2,5 см), которая состоит из <em>16–20 хрящевых полуколец</em> (сзади со стороны пищевода хрящевые полукольца соединены плотной соединительно-тканной перепонкой). Спереди к трахее прилежат перешеек щитовидной железы, вилочковая железа, кровеносные сосуды, с боков – доли щитовидной железы.</p>
    <p>На уровне IV–V грудных позвонков трахея делится на 2 главных <em>бронха (построены из хрящевых колец).</em> Длина правого главного бронха около 3 см (6–8 хрящевых колец), диаметр 1,5–2,5 см, длина левого главного бронха 4–6 см, диаметр 1–2 см (9–12 хрящевых колец). Правый бронх расположен более вертикально, чем левый и является продолжением трахеи. Бронхи входят в легкие.</p>
    <p>Легкие занимают почти всю грудную полость. Правое легкое короче и шире, левое –длиннее и уже. Правое легкое состоит из трех долей (верхней, средней и нижней), левое – из двух (верхней и нижней). Каждое легкое имеет форму неправильного конуса; в нем различают суженную часть – верхушку и нижнюю расширенную часть, прилежащую к диафрагме, – основание. На внутренней поверхности легких находятся ворота легких, через которые в них входят бронхи, нервы и легочные сосуды. Комплекс этих образований называют корнем легкого.</p>
    <p>Главные бронхи в воротах легкого делятся на долевые бронхи (второго порядка): три – в правом легком и два – в левом. Долевые бронхи дихотомически ветвятся на сегментарные бронхи (третьего порядка), которые в свою очередь делятся на ветви с постепенным убыванием диаметра (образуется 8–10 порядков ветвления). Бронхи диаметром около 1 мм (11–13-й порядки) называются дольковыми (в стенке есть хрящ); дольковые бронхи дают 18–20 концевых бронхиол (их стенка представлена слизистой оболочкой, которая покрыта реснитчатым эпителием, и мышечной оболочкой). Вся совокупность бронхов в легких называется <em>бронхиальным деревом.</em> Концевые бронхиолы дихотомически делятся на дыхательные бронхиолы (на стенках имеются легочные альвеолы). Каждая дыхательная бронхиола образует 8–9 альвеолярных ходов, которые, расширяясь, образуют слепо заканчивающиеся альвеолярные мешочки; стенки последних состоят из многочисленных легочных альвеол, где непосредственно происходит газообмен. Дыхательные бронхиолы, альвеолярные ходы, альвеолярные мешочки и легочные альвеолы в совокупности составляют <em>альвеолярное дерево.</em></p>
    <img src="~/Images/thema35/бронхи.png" alt="Бронхи" class="rounded" width="100%" height="100%" />
    <p><strong>Строение альвеол:</strong> однослойный эпителий, тонкий слой эластических волокон и густое оплетение капиллярами. Их диаметр 0,2–0,3 мм. В легких насчитывается 300–400 млн альвеол.</p>
    <p><strong><em>АЦИНУС</em></strong> (структурно-функциональная единица легкого): конечная бронхиола – дыхательные бронхиолы – альвеолярные ходы – альвеолы.</p>
    <p>Снаружи легкие покрыты плеврой, состоящей из двух листков: наружного –  <em>пристеночного (париетального),</em> выстилающего грудную клетку изнутри и срастающегося с диафрагмой и межреберными мышцами, и внутреннего, <em>легочного (висцерального),</em> покрывающего все легкое. Между листками находится плевральная полость, в которой имеется жидкость (2–5 мл), увлажняющая листки плевры, благодаря чему уменьшается ее трение во время дыхания. В полости плевры воздуха нет и давление там отрицательное!!!</p>
    <h3><strong>Функции легких:</strong></h3>
    <ol type="1">
        <li>Газообмен между внешней средой и организмом;</li>
        <li>Секреторно-выделительная функция;</li>
        <li>Участие в обмене веществ (водном, липидном и солевом с регуляцией хлорного баланса).</li>
    </ol>
    <h3 class="text-center"><strong> Газообмен в легких и тканях.</strong></h3>
    <p><strong>Внешнее (легочное) дыхание.</strong> При спокойном вдохе в организм человека поступает около 500 мл вдыхаемого воздуха <em>(дыхательный объем).</em> </p>
    <p><em>Газовый состав вдыхаемого воздуха:</em> 21% кислорода и 0,03% диоксида углерода.</p>
    <p>360 мл вдыхаемого воздуха заполняет альвеолы легких, а 140 мл остается в дыхательных путях <em>(воздух мертвого пространства).</em></p>
    <p>Между вдыхаемым воздухом и венозной кровью газообмен происходит путем диффузии (разность парциального давления газов обеспечивает переход их из области большего в область меньшего давления), поэтому кислород поступает в кровь, и она становится артериальной, а диоксид углерода идет в альвеолы (альвеолярный воздух).</p>
    <p><em>Газовый состав альвеолярного воздуха:</em> 14,4% кислорода, 5,6% диоксида углерода).</p>
    <p>360 мл альвеолярного воздуха соединяется со 140 мл воздуха мертвого пространства (с неизмененным газовым составом) и образуется 500 мл выдыхаемого воздуха.</p>
    <p><em>Газовый состав выдыхаемого воздуха:</em> 16,3% кислорода и 4% диоксида углерода.</p>
    <p><strong>Внутреннее (тканевое) дыхание.</strong> Между артериальной кровью и клетками газообмен происходит по принципу диффузии, диоксид углерода поступает в кровь, и она становится венозной; кислород же идет в межклеточную жидкость, а из нее в клетки и ткани. Диоксид углерода поступает в альвеолы и выходит наружу в составе выдыхаемого воздуха.</p>
    <h3 class="text-center"><strong>Механизм дыхательных движений.</strong></h3>
    <p>Газообмен в легких происходит в результате ритмичных дыхательных движений – вдоха и выдоха, непрерывно следующих один за другим. У взрослого человека происходит <em>16–18 дыхательных движений в минуту.</em> Легкие не содержат мышечной ткани, и дыхательные движения совершаются с помощью мышц грудной клетки: межреберных, грудных и диафрагмы. <em>Дополнительно для глубокого вдоха:</em> сокращения мышц шеи, плечевого пояса и грудных мышц.</p>
    <p><strong>Вдох:</strong> увеличение объема грудной полости за счет поднятия ребер (сокращение наружных межреберных мышц) и опускания купола диафрагмы (сокращение диафрагмы); отрицательное давление в плевральной полости; объем легких увеличивается; давление в легких становится ниже атмосферного.</p>
    <p><strong>Выдох:</strong> объем грудной клетки и легких самопроизвольно уменьшается вследствие расслабления наружных межреберных мышц, опускания ребер и подъема купола диафрагмы (расслабление диафрагмы); давление в альвеолах возрастает. <em>Дополнительно для глубокого выдоха:</em> сокращения внутренних межреберных, грудных мышц и мышц живота.</p>
    <p><strong>Жизненная емкость легких (ЖЕЛ)</strong> – максимальное количество воздуха, которое можно выдохнуть после глубокого вдоха.</p>
    <p>
        <strong><em>Компоненты жизненной емкости:</em></strong>
        <ol type="1">
            <li><em>Дыхательный объем (ДО)</em> – количество воздуха, которое человек может вдохнуть при спокойном вдохе и выдохнуть при спокойном вдохе (500 мл). </li>
            <li><em>Резервный объем вдоха (РОвд)</em> – количество воздуха, которое человек может вдохнуть после спокойного вдоха (2000 мл).</li>
            <li><em>Резервный объем выдоха (РОвыд)</em> – количество воздуха, которое человек может выдохнуть после спокойного выдоха (1500 мл).</li>
        </ol>
        <img src="~/Images/thema35/Диаграмма.png" alt="Диаграмма" class="rounded" width="100%" height="100%" />
    </p>
    <p> <strong>ЖЕЛ = РОВ+ДО+РОВыд </strong> (2000+500+1500=4000 мл)</p>
    <p>Жизненная емкость легких колеблется от 3500 до 4800 мл у мужчин и от 3000 до 3500 мл у женщин. У физически тренированных лиц она достигает 6000–7000 мл. Жизненную емкость легких определяют с помощью прибора спирометра.</p>
    <p>После максимального выдоха в легких (альвеолах) остается около 1000 мл воздуха <em>(остаточный объем (ОО)).</em></p>
    <p><strong>Общая емкость легких (ОЕЛ) = ЖЕЛ+ОО</strong> (4000+1000=5000 мл)</p>
    <p><em>Функциональная остаточная емкость</em> (ФОЕ) – объем воздуха, который остается в легких после спокойного выдоха.</p>
    <p><strong>ФОЕ = РОвыд+ОО</strong> (1500+1000=2500 мл)</p>
    <p>Уменьшение объема альвеол при выдохе не приводит к их спадению (слипанию) благодаря <em>сурфактанту</em> – комплексу поверхностно-активных веществ (смесь белков и фосфолипидов), смачивающему альвеолы изнутри, поэтому легкие полностью не спадаются и находятся в расправленном состоянии.</p>
    <h3 class="text-center"><strong>Нервная и гуморальная регуляция дыхания.</strong></h3>
    <ol type="1">
        <li>
            <strong>Нервная регуляция.</strong>
            <p><em>Продолговатый мозг (дыхательный центр)</em>  координирует ритмическую деятельность мышц, принимающих участие в дыхании (сокращение и расслабление), вызывая поочередно вдох и выдох. </p>
            <p><em>Кора больших полушарий головного мозга:</em> сознательное изменение ритма и глубины дыхания при разговоре, пении, физических упражнениях.</p>
            <p><em>Автоматия дыхательного центра</em> (регуляция дыхания) обусловлена импульсами от нервных окончаний легких, сосудов, мышц.</p>
            <p><em>Вдох:</em>растяжение легких, в рецепторах стенок альвеол возникает возбуждение, которое трансформируется в нервные импульсы и по центростремительным волокнам передается в дыхательный центр. В дыхательном центре тормозится центр вдоха и активируется центр выдоха. Межреберные мышцы и диафрагма перестают получать возбуждение от дыхательного центра и расслабляются, ребра опускаются, купол диафрагмы поднимается, объем грудной клетки уменьшается и происходит выдох.</p>
            <p><em>Выдох:</em> сжатие легких, возбуждение рецепторов альвеол, и в них возникают нервные импульсы. Импульсы по центростремительным (афферентным) волокнам передаются в дыхательный центр. В дыхательном центре активируется центр вдоха и тормозится центр выдоха. От центра вдоха импульсы по центробежным (эфферентным) волокнам поступают к диафрагме и межреберным мышцам. Они сокращаются, купол диафрагмы опускается, ребра поднимаются, объем грудной клетки увеличивается и происходит вдох. Таким образом, вдох рефлекторно вызывает выдох, а выдох стимулирует вдох.</p>
        </li>
        <li><strong>Гуморальная регуляция.</strong> Гуморальная регуляция дыхания осуществляется за счет разности парциальных напряжений диоксида углерода в крови. Увеличение его содержания в крови, омывающей дыхательный центр, повышает его возбудимость, – и дыхание становится более частым и глубоким. Такое дыхание продолжается до тех пор, пока содержание диоксида углерода в крови не снизится до нормального уровня. На уменьшение содержания диоксида углерода в крови дыхательный центр отвечает понижением возбудимости вплоть до полного прекращения своей деятельности на некоторое время, до установления нормального уровня содержания диоксида углерода. Повышение возбудимости дыхательного центра и углубление дыхания также могут вызвать снижение содержания кислорода в крови и применение некоторых лекарственных препаратов, поступающих в кровь.</li>
    </ol>
    <h3 class="text-center"><strong>Гигиена дыхания.</strong></h3>
    <p><strong>Гигиена дыхания</strong> – комплекс требований, направленных на поддержание нормального функционирования дыхательной системы.</p>
    <p>При несоблюдении требований гигиены дыхания развиваются различные заболевания: бронхит, пневмония, туберкулез. Основной путь передачи этих заболеваний – воздушно-капельный, иногда возбудители заболеваний попадают в организм с пылью.</p>
    <p><em>Никотин</em> вызывает хронические воспалительные процессы в легких и бронхах. </p>
    <p><em>Табачный дым</em> содержит канцерогенные вещества (бензопирен), поэтому у курящих людей часто развивается рак легких.</p>
    <p>Негативное воздействие на дыхательную систему оказывает <em>отравление угарным и бытовым (пропан-бутановой смесью) газами:</em> головная боль, рвота, судороги, потеря сознания; при остановке дыхания через 4–5 мин погибают клетки головного мозга. </p>
    <p>В случае потери сознания и остановки дыхания необходимо применять <em>искусственное дыхание</em> (рот в рот, рот в нос), при котором частота поступления воздуха в организм пострадавшего должна составлять 16–18 раз в минуту. </p>
</div>