<div class="container">
    <p>
        <strong>Отряды и представители:</strong> Класс Земноводные включает три отряда: Бегногие (червяги, цейлонский рыбозмей), Хвостатые (тритоны, саламандры) и Бесхвостые (чесночница, квакша, жерлянка, камышовая жаба, озерная лягушка, голиаф).
    </p>
    <p>
        <strong>Количество видов:</strong> около 4100 видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> влажные тропики и на берегах пресных водоемов, в умеренных широтах зимуют в водоемах и различных укрытиях на суше, находясь в состоянии оцепенения.
    </p>
    <p>
        <strong>Вторичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная симметрия.</strong>
    </p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol type="1">
            <li>Парные пятипалые конечности наземного типа;</li>
            <li>Многоклеточные кожные железы;</li>
            <li>Четыре отдела позвоночника (шейный, туловищный, крестцовый, хвостовой);</li>
            <li>Слюнные железы, секрет которых не содержит пищеварительных ферментов;</li>
            <li>Зачаток 12-престной кишки;</li>
            <li>Трехкамерное сердце;</li>
            <li>Два круга кровообращения;</li>
            <li>Мелкоячеистые легкие;</li>
            <li>Подвижные веки и мигательная перепонка;</li>
            <li>Среднее ухо с 1 слуховой косточкой (стремечко) и барабанная перепонка;</li>
            <li>Разделение переднего мозга на 2 полушария.</li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение.</strong> Размеры тела – от 1,5 см у чесночницы до 33 см у лягушки голиаф и 120 см у гигантской саламандры. <em>Хвостатые</em> имеют вытянутое тело с хорошо развитым хвостом, передние и задние конечности развиты примерно одинаково. У <em>бесхвостых</em> тело массивное, укороченное, слегка уплощенное в спинно-брюшном направлении. Хвост отсутствует, задние конечности развиты значительно сильнее передних, имеются плавательные перепонки между пальцами. Передняя часть головы клинообразно вытянута, на ней расположены выпуклые глаза и ноздри. У <em>безногих</em> тело вытянутое червеобразное, без конечностей и хвоста.
    </p>
    <p>
        <strong>Покровы тела.</strong> Кожа, состоит из эпидермиса и дермы. Кожа тонкая, имеет богатое кровоснабжение и большое количество <em>многоклеточных желез.</em> В дерме имеются пигментные клетки, придающие телу земноводных определенный цвет: у обитателей умеренных широт – зеленовато-бурая покровительственная окраска, у ядовитых тропических видов окраска яркая, предупреждающая.
    </p>
    <p>
        <strong>Опорно-двигательная система.</strong> Скелет состоит из трех отделов: скелет головы, скелет туловища и скелет конечностей.
    </p>
    <p>
        <ol type="I">
            <li><em>Скелет головы (череп)</em> - два отдела – мозговой и лицевой, содержит небольшое число костей, сочленяется с позвоночником относительно подвижно. </li>
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <em>Скелет туловища (позвоночник)</em> - четыре отдела: шейный (1 позвонок), туловищный (7 позвонков), крестцовый (1 позвонок) и хвостовой. У бесхвостых – 12 хвостовых позвонков срастаются в <em>уростиль.</em> <strong><em>Ребер нет либо они не доходят до грудины (нет грудной клетки!!!).</em></strong>
                        </div>
                        <div class="col text-center">
                            <img src="~/Images/thema25/опорно-двигательная система.png" class="rounded" width="100%" height="100%" />
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <em>Скелет конечностей и их поясов.</em> Скелет пояса передних конечностей (плечевой) – 7 <em>костей: парные лопатки, ключицы, вороньи кости (коракоиды) и грудина.</em> Скелет свободной передней конечности: плечевая кость, костей предплечья (локтевая и лучевая) и кости кисти.
            </li>
        </ol>
    </p>
    <p>
        Скелет пояса задних конечностей: 2 тазовые кости (лобковая + подвздошная + седалищная), сросшиеся друг с другом, и крестцовый отдел позвоночника. Скелет свободной задней конечности: бедренная кость, кости голени (большеберцовая и малоберцовая) и кости стопы.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <strong>Мускулатура.</strong> Развиты мышцы задних конечностей, головы, брюшной стенки (участвуют в дыхании), ротовой полости.
                </p>
                <p>
                    <strong>Пищеварительная система.</strong><em>Ход пищеварительной трубки:</em> ротоглоточная полость – пищевод – желудок – 12-перстная кишка – тонкий кишечник – толстый кишечник – прямая кишка – клоака (углубление, в которое открываются прямая кишка, мочеточники и яйцеводы).
                </p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema25/легушка.png" class="rounded" height="100%" width="100%" />
            </div>
        </div>
    </div>

    <p>
        В ротоглоточной полости находятся однородные конические зубы и язык. <em>Появляются слюнные железы, секрет которых не содержит ферментов.</em> Добывают пищу, захватывая ее челюстями или липким длинным языком. Заглатыванию помогают глаза, вдвигающиеся в ротоглоточную полость и проталкивающие пищу в пищевод <strong>(твёрдое небо отсутствует).</strong> Хорошо развиты печень и поджелудочная железа.
    </p>
    <p>
        <strong>Выделительная система.</strong> Органы выделения: первичные (туловищные) почки. <em>Строение мочевыделительной системы:</em> почки – мочеточники- клоака – мочевой пузырь – клоака. Продукт обмена <em>– мочевина</em> (уреотелические животные).
    </p>
    <p>
        <strong>Кровеносная система.</strong> Замкнутая. Два круга кровообращения (большой и малый (легочной)). Трехкамерное сердце, состоит из двух предсердий (правого и левого) и одного желудочка.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <em>Последовательность движения крови по сосудам.</em> 1. Малый круг: желудочек (смешанная кровь) – артериальный конус (смешанная кровь) – кожно-легочные артерии (венозная кровь) -– капилляры легких (происходит газообмен: +O2, -CO2) – легочные вены (артериальная кровь) – правое предсердие (артериальная кровь).
                </p>
                <p>
                    2а. Большой круг (кровоснабжение головного мозга): желудочек (смешанная кровь) – артериальный конус (смешанная кровь) – сонные артерии (артериальная кровь) -– капилляры головного мозга (происходит газообмен: -O2, +CO2) – полые вены (венозная кровь) – левое предсердие (венозная кровь).
                </p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema25/кровеносная система лягушки.png" class="rounded" width="100%" height="100%" />
            </div>
        </div>
        <p>
            2б. Большой круг (кровоснабжение органов туловища): желудочек (смешанная кровь) – артериальный конус (смешанная кровь) – правая и левая дуги аорты (смешанная кровь) -– капилляры органов туловища (происходит газообмен: -O2, +CO2) – полые вены (венозная кровь) – правое предсердие (венозная кровь).
        </p>
    </div>
    <p>
        У земноводных с хорошо развитым кожным дыханием небольшое количество артериальной крови по кожным венам также попадает в правое предсердие, поэтому там кровь не чисто венозная, а частично смешанная. Земноводные – пойкилотермные животные, цвет крови красный (эритроциты содержат гемоглобин).
    </p>
    <p>
        <strong>Дыхательная система.</strong> У личинок газообмен происходит через кожу, внутренние и наружные жабры, у взрослых животных – в мелкоячеистых легких, через слизистую оболочку ротоглоточной полости и кожу.
    </p>
    <p>
        <em>Воздухоносные пути:</em> ноздри – ротоглоточная полость – гортанно-трахейная камера (содержит голосовой аппарат: две складки слизистой оболочки, натянутые между хрящами, окружающими голосовую щель) – мелкоячеистые легкие.
    </p>
    <p>
        По бокам головы самцов имеются особые расширения <em>– резонаторные мешки,</em> усиливающие звук. Издаваемые звуки помогают распознать животных противоположного пола в период размножения.
    </p>
    <p>
        <em>Механизм дыхательного движения:</em> нагнетание воздуха в легкие происходит за счет сокращения мышц дна ротоглоточной полости. Сокращение брюшных мышц выталкивает воздух назад в ротовую полость, а при открытых ноздрях –наружу.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    Дыхательная поверхность легких невелика (она меньше общей поверхности кожи на 30%) и не может обеспечить газообмен в полном объеме, поэтому в газообмене участвует кожа. Кожное дыхание преобладает у обитателей водоемов и влажных мест – оно составляет у них более 50% и снижается у обитателей сухих мест.
                </p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema25/механизм дыхательного движения ,.png" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <img src="~/Images/thema25/нервная система.png" class="rounded" width="100%" height="100%" />
                </p>
            </div>
            <div class="col text-center">
                <strong>Нервная система.</strong> Центральная нервная система состоит из головного и спинного и мозга. Головной мозг имеет 5 отделов: передний, промежуточный, средний (интегрирующий центр), задний (мозжечок) и продолговатый.
            </div>
        </div>
    </div>
    <p>
        Передний мозг имеет большие размеры и <em>разделен на два полушария.</em> Мозжечок развит хуже, чем у рыб, что обусловлено более примитивными движениями земноводных.
    </p> 
    <p>
        Периферическая нервная система – 10 пар черепно-мозговых нервов и спинномозговые нервы, образующими сплетения.
    </p>
    <p>
        <strong>Органы чувств.</strong> Орган зрения – глаза, имеющие <em>линзовидный хрусталик и выпуклую роговицу.</em> Впервые появляются <em>верхние и нижние веки и мигательная перепонка,</em> защищающие глаза от высыхания.
    </p>
    <p>
        <em>Аккомодация достигается перемещением хрусталика относительно сетчатки</em> с помощью специальной мышцы. У многих земноводных развито цветовое зрение.
    </p>
    <p>
        Орган слуха <em>– внутреннее и среднее ухо </em> (представлено полостью, закрытой от внешней среды барабанной перепонкой, сообщающейся евстахиевой трубой с ротоглоточной полостью и содержащей одну слуховую косточку – стремечко).
    </p>
    <p>
        Орган обоняния – обонятельные мешки, наружные и внутренние ноздри (хоаны), вкуса – язык, осязания – кожа.
    </p>
    <p>
        У личинок и взрослых животных, постоянно обитающих в воде, выражена боковая линия.
    </p>
    <p>
        <strong>Половая система.</strong> Раздельнополые, выражен половой диморфизм (яркая раскраска самцов в период размножения). Половые железы (яичники и семенники) парные, расположены вблизи почек. Семявыносящие каналы открываются в мочеточники, яйцеводы – непосредственно в клоаку. Размножение половое. Осеменение наружное. Развитие с неполным метаморфозом (личинка – <em>головастик).</em> 
    </p>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <em>Морфологическая характеристика головастика:</em>  вытянутая обтекаемая форма тела, жабры, боковая линия, двухкамерное сердце, один круг кровообращения, основной продукт обмена – аммиак. По мере роста у головастика появляются сначала задние, а потом и передние конечности, сердце становится трехкамерным, развиваются легкие и малый круг кровообращения. Личиночные органы редуцируются.
                </p>
                <p>
                    Личинка хвостатых земноводных амбистом <em>(аксолотль) </em> обладает способностью к <em>неотении </em> способности к половому размножению до завершения периода метаморфоза.
                </p>
            </div>
            <div class="col text-center">
                <img src="~/Images/thema25/аксолотль.png" class="rounded" width="100%" height="100%"/>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center">
          <p>
              <strong>Многообразие земноводных.</strong>
          </p>
    </div>
    <p>
        <strong>Отряд Безногие</strong> (червяги, цейлонский рыбозмей). Особенности: ведут подземный, роющий образ жизни; форма тела червеобразная, у многих видов – с кольцевидными перетяжками, что придает этим животным внешнее сходство с земляными червями; <em>конечности и их пояса отсутствуют;</em> глаза рудиментарные; <em>осеменение внутреннее;</em> некоторые виды живородящие; питаются почвенными беспозвоночными; представители ряда видов живут в муравейниках, где питаются личинками муравьев; встречаются только в тропиках.
    </p>
    <p>
        <strong>Отряд Хвостатые</strong> (тритоны, саламандры). Особенности: удлиненное тело с хорошо развитыми головным, туловищным и хвостовым отделами; по внешнему виду напоминают ящериц, но их кожа не имеет чешуй; хвост в поперечном сечении круглый или сжатый с боков, иногда окантован кожной складкой; передние и задние конечности одинаковой длины; основной орган дыхания – легкие, у некоторых видов пожизненно сохраняются жабры, чаще наружные, развито кожное дыхание; у многих хвостатых имеются органы боковой линии; у водных особей нет подвижных век; осеменение у многих видов внутреннее. В Беларуси встречается два вида хвостатых – обыкновенный и гребенчатый тритоны.
    </p>
    <p>
        <strong>Отряд Бесхвостые</strong> (чесночница, квакша, жерлянка, камышовая жаба, озерная лягушка, голиаф). Особенности: широкая, плоская голова, короткое туловище, отсутствие хвоста, наличие хорошо развитых передних и задних конечностей, причем задние в 2–3 раза длиннее передних и имеют 5 пальцев, между которыми натянуты плавательные перепонки; лягушка в водоеме плавает, на суше передвигается короткими прыжками; у жаб кожа грубая, выделяет ядовитую жидкость, они более медлительны в движениях, ведут ночной образ жизни.
    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>Значение земноводных.</strong>
    </div>
    <p>
        <ol type="1">
            <li>Компоненты биогеоценозов, звенья пищевых сетей.</li>
            <li>Уничтожают вредных насекомых (жабы).</li>
            <li>В некоторых странах используются в пищу человеком (лягушачьи лапки). </li>
            <li>Являются экспериментальными животными (лягушка – классический объект научных исследований).</li>
            <li>В Красную книгу Республики Беларусь занесена камышовая жаба.</li>
        </ol>
    </p>
</div>
