<div class="container">
    <p>
        <strong>Зоология</strong> – наука, изучающая строение, процессы жизнедеятельности, размножение, распространение животных, их развитие, взаимосвязь с окружающей средой, происхождение, классификации и практическое значение.
    </p>
    <p>
        <ol type="square">
            <li><em>анатомия</em> – наука, изучающая внешнее и внутреннее строение животных;</li>
            <li><em>физиология</em> – наука, изучающая процессы жизнедеятельности организма животных;</li>
            <li><em>экология</em> – наука, изучающая взаимосвязь животных со средой обитания и формы их приспособления к среде обитания;</li>
            <li><em>зоогеография</em> – наука, изучающая распространение животных на Земле;</li>
        </ol>
    </p>
</div>
<div class="container">
    <p>
        <strong>Разделы частной зоологии:</strong>
        <ol type="square">
            <li><em>гельминтология</em> - наука, изучающая паразитических червей;</li>
            <li><em>малакология</em> - наука, изучающая представителей типа Моллюски;</li>
            <li><em>карцинология</em> - наука, изучающая представителей класса Ракообразные;</li>
            <li><em>арахнология</em> - наука, изучающая представителей класса Паукообразные;</li>
            <li><em>энтомология</em> - наука, изучающая представителей класса Насекомые;</li>
            <li><em>ихтиология</em> - наука, изучающая представителей надкласса Рыбы;</li>
            <li><em>батрахология</em> – наука, изучающая представителей класса Земноводные;</li>
            <li><em>герпетология</em> - наука, изучающая представителей класса Пресмыкающиеся;</li>
            <li><em>орнитология</em> - наука, изучающая представителей класса Птицы;</li>
            <li><em>териология (маммология)</em> - наука, изучающая представителей класса Млекопитающие.</li>
        </ol>
    </p>
</div>
<div class="container">
    <div class="justify-content-center">
        <strong>Сходства и отличия растений и животных:</strong>
    </div>
    <p>
        <em><u>Сходства:</u></em> сходный химический состав, клеточное строение, общие свойства живых систем (обмен веществ, рост, раздражимость, наследственность, изменчивость и др.)
    </p>
    <p>
        <em><u>Отличия:</u></em>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Признак</th>
                    <th>Растения</th>
                    <th>Животные</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3"><strong>Молекулярно-генетический и клеточный уровни</strong></td>
                </tr>
                <tr>
                    <td>Основные пигменты</td>
                    <td>Хлорофилл, каротиноиды, фикобилины</td>
                    <td>Меланин</td>
                </tr>
                <tr>
                    <td>Запасное питательное вещество</td>
                    <td>Крахмал</td>
                    <td>Гликоген</td>
                </tr>
                <tr>
                    <td>Основные продукты обмена</td>
                    <td>Уксусная, щавелевая кислоты</td>
                    <td>Мочевина, мочевая кислота, аммиак</td>
                </tr>
                <tr>
                    <td>Соединение клеток между собой</td>
                    <td>Плазмодесмы (каналы ЭПС)</td>
                    <td>Коннексоны (щелевые контакты из белка коннектина)</td>
                </tr>
                <tr>
                    <td>Вакуоли</td>
                    <td>Есть (содержат клеточный сок)</td>
                    <td>Нет</td>
                </tr>
                <tr>
                    <td>Клеточная стенка</td>
                    <td>Есть</td>
                    <td>Нет</td>
                </tr>
                <tr>
                    <td>Пластиды</td>
                    <td>Есть</td>
                    <td>Нет</td>
                </tr>
                <tr>
                    <td>Клеточный центр</td>
                    <td>Нет</td>
                    <td>Есть</td>
                </tr>
                <tr>
                    <td>Лизосомы</td>
                    <td>Нет</td>
                    <td>Есть</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Тканевой уровень</strong>
                    </td>
                </tr>
                <tr>
                    <td>Количество тканей</td>
                    <td>6 (образовательная, покровная, основная, механическая, проводящая, выделительная)</td>
                    <td>4 (нервная, мышечная, эпителиальная, соединительная)</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Органный уровень</strong>
                    </td>
                </tr>
                <tr>
                    <td>Виды органов</td>
                    <td>Вегетативные, генеративные</td>
                    <td>Органы движения, пищеварения, дыхания, выделения и др.</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Организменный уровень</strong>
                    </td>
                </tr>
                <tr>
                    <td>Тип питания</td>
                    <td>Автотрофный</td>
                    <td>Гетеротрофный</td>
                </tr>
                <tr>
                    <td>Способ питания</td>
                    <td>Осмотический</td>
                    <td>Активное заглатывание</td>
                </tr>
                <tr>
                    <td>Рост</td>
                    <td>Неограниченный</td>
                    <td>Ограниченный</td>
                </tr>
                <tr>
                    <td>Способ передвижения</td>
                    <td>Неактивный</td>
                    <td>Активный</td>
                </tr>
                <tr>
                    <td>Размножение (преобладающий способ)</td>
                    <td>Бесполое</td>
                    <td>Половое</td>
                </tr>
                <tr>
                    <td>Расселение</td>
                    <td>Споры, семена</td>
                    <td>Личинки, взрослые формы</td>
                </tr>
                <tr>
                    <td>Раздражимость </td>
                    <td>Тропизмы, настии</td>
                    <td>Рефлексы</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Биосферный уровень</strong>
                    </td>
                </tr>
                <tr>
                    <td>Роль в цепи питания</td>
                    <td>Продуценты</td>
                    <td>Консументы</td>
                </tr>
            </tbody>
        </table>
    </p>
</div>
<div class="container">
    <div class="text-center">
        <strong>
            Основные классификации животного мира.
        </strong>
    </div>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Признак</th>
                <th>Группа животных</th>
                <th>Характеристика</th>
                <th>Представители</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">Образ жизни</td>
                <td>Свободноживущие</td>
                <td>Обитают во внешней среде</td>
                <td>Планария, медуза, позвоночные животные и др.</td>
            </tr>
            <tr>
                <td>Паразитирующие</td>
                <td>Живут на теле или внутри организма другого животного или растения</td>
                <td>Острица, бычий цепень, вошь и др.</td>
            </tr>
            <tr>
                <td rowspan="3">Перемещение в пространстве</td>
                <td>Прикрепленные</td>
                <td>Фиксированы на субстрате</td>
                <td>Губки, коралловые и гидроидные полипы</td>
            </tr>
            <tr>
                <td>Свободно передвигающиеся</td>
                <td>Передвигаются самостоятельно при помощи органов движения</td>
                <td>Большинство животных</td>
            </tr>
            <tr>
                <td>Планктонные</td>
                <td>Передвигаются благодаря течению воды</td>
                <td>Мелкие ракообразные и др.</td>
            </tr>
            <tr>
                <td rowspan="4">Среда обитания</td>
                <td>Водные</td>
                <td>Живут на поверхности, в толще или на дне водоемов</td>
                <td>Кишечнополостные, ракообразные, китообразные и др.</td>
            </tr>
            <tr>
                <td>Наземные</td>
                <td>Обитают на суше</td>
                <td>Паукообразные, пресмыкающиеся и др.</td>
            </tr>
            <tr>
                <td>Почвенные</td>
                <td>Живут в почве, лесной подстилке, норах</td>
                <td>Насекомые, черви и др.</td>
            </tr>
            <tr>
                <td>Летающие</td>
                <td>Приспособлены к полету, имеют крылья</td>
                <td>Птицы, рукокрылые и др.</td>
            </tr>
            <tr>
                <td rowspan="3"><strong>Тип симметрии</strong></td>
                <td>Радиальная (лучевая)</td>
                <td>Через тело можно провести несколько осей симметрии</td>
                <td>Кишечнополостные</td>
            </tr>
            <tr>
                <td>Билатеральная (двухсторонняя)</td>
                <td>Через тело можно провести только одну ось симметрии</td>
                <td>Большинство животных</td>
            </tr>
            <tr>
                <td>Ассиметричные</td>
                <td>Невозможно провести ни одной оси симметрии</td>
                <td>Губки, брюхоногие моллюски</td>
            </tr>
            <tr>
                <td rowspan="2"><strong>Количество зародышевых листков</strong></td>
                <td>Двухслойные</td>
                <td>Органы и ткани развиваются из двух зародышевых листков: наружного (эктодермы) и внутреннего (энтодермы)</td>
                <td>Губки, кишечнополостные</td>
            </tr>
            <tr>
                <td>Трехслойные</td>
                <td>Органы и ткани развиваются из трех зародышевых листков: наружного (эктодермы), среднего (мезодермы) и внутреннего (энтодермы)</td>
                <td>Большинство животных</td>
            </tr>
            <tr>
                <td rowspan="2"><strong>Развитие ротового отверстия</strong></td>
                <td>Первичноротые</td>
                <td>Рот формируется на месте бластопора</td>
                <td>Беспозвоночные животные</td>
            </tr>
            <tr>
                <td>Вторичноротые</td>
                <td>Бластопор преобразуется в анальное отверстие, рот формируется на противоположном конце</td>
                <td>Хордовые</td>
            </tr>
            <tr>
                <td rowspan="4"><strong>Полость тела</strong></td>
                <td>Полость отсутствует (бесполосные)</td>
                <td>Полость тела отсутствует, промежутки между органами заполнены паренхимой</td>
                <td>Плоские черви</td>
            </tr>
            <tr>
                <td>Первичная (псевдоцель)</td>
                <td>Не имеет собственной эпителиальной выстилки, ограничена кожно-мускульным мешком и стенками внутренних органов</td>
                <td>Круглые черви</td>
            </tr>
            <tr>
                <td>Вторичная (целом)</td>
                <td>Ограничена однослойным эпителием, выстилает покровы тела изнутри и покрывает полые внутренние органы</td>
                <td>Кольчатые черви, моллюски и хордовые</td>
            </tr>
            <tr>
                <td>Смешанная (миксоцель)</td>
                <td>Образована участками первичной и вторичной полостей</td>
                <td>Членистоногие</td>
            </tr>
            <tr>
                <td rowspan="2"><strong>Интенсивность обменных процессов</strong></td>
                <td>Холоднокровные (пойкилотермные)</td>
                <td>Температура тела непостоянна и зависит от температуры окружающей среды, интенсивность обменных процессов низкая</td>
                <td>Большинство животных</td>
            </tr>
            <tr>
                <td>Теплокровные (гомойотермные)</td>
                <td>Температура тела постоянна и не зависит от температуры окружающей среды, интенсивность обменных процессов высокая</td>
                <td>Птицы, млекопитающие</td>
            </tr>
            <tr>
                <td rowspan="3">Типы скелета</td>
                <td>Гидростатический</td>
                <td>Жидкость находится в полости под давлением</td>
                <td>Круглые и кольчатые черви</td>
            </tr>
            <tr>
                <td>Внешний (экзоскелет)</td>
                <td>Состоит из рогового вещества или хитина, покрытого воскоподобным веществом или солями кальция. Является защитой и опорой, предохраняет организм от обезвоживания, ограничивает рост</td>
                <td>Коралловые полипы, брюхоногие и двустворчатые моллюски (раковина), членистоногие</td>
            </tr>
            <tr>
                <td>Внутренний (эндоскелет)</td>
                <td>Образован хрящевой или костной тканями, не препятствует росту</td>
                <td>Головоногие моллюски, хордовые</td>
            </tr>
            <tr>
                <td rowspan="2">Наличие позвоночника</td>
                <td>Беспозвоночные</td>
                <td>Внутренний скелет отсутствует</td>
                <td>Губки, кишечнополостные, черви, моллюски, членистоногие</td>
            </tr>
            <tr>
                <td>Позвоночные</td>
                <td>Внутренний скелет представлен позвоночником</td>
                <td>Рыбы, земноводные, пресмыкающиеся, птицы, млекопитающие</td>
            </tr>
            <tr>
                <td rowspan="2"><strong>Наличие зародышевых оболочек (только для позвоночных)</strong></td>
                <td>Анамнии</td>
                <td>Осеменение наружное, развитие зародыша идет в воде, он лишен зародышевых оболочек и имеет только тонкие яйцевые оболочки</td>
                <td>Рыбы, земноводные</td>
            </tr>
            <tr>
                <td>Амниоты</td>
                <td>Осеменение внутреннее, зародыш развивается в яйце или внутриутробно. Серозная оболочка (хорион) предохраняет яйцо от механических повреждений и высыхания.  Амнион обеспечивает водную среду для развития зародыша.</td>
                <td>Пресмыкающиеся, птицы, млекопитающие</td>
            </tr>
            <tr>
                <td rowspan="7">Способы питания</td>
                <td>Фильтрационный</td>
                <td>Мелкие пищевые частицы потребляются с помощью щетинок, ресничек, роговых пластинок</td>
                <td>Ланцетник, двустворчатые моллюски, дафнии, сельдевые рыбы, усатые киты, фламинго, буревестники</td>
            </tr>
            <tr>
                <td>Заглатывание пассивных пищевых частиц</td>
                <td>Перерабатывают детрит (отмершие части организмов), захватывают пищевые фрагменты, находящиеся в почке или на ее поверхности</td>
                <td>Дождевые черви, мокрицы, ногохвостки, круглые черви</td>
            </tr>
            <tr>
                <td>Соскабливание, перетирание, жевание, сверление</td>
                <td>Имеется терка (радула), роговые челюсти, грызущий ротовой аппарат, роговые пластинки, зубы</td>
                <td>Садовая улитка, морские ежи, жуки-листоеды, позвоночные</td>
            </tr>
            <tr>
                <td>Ловля и заглатывание жертвы</td>
                <td>Пища не подвергается измельчению, заглатывается целиком</td>
                <td>Кишечнополостные, рыбы, змеи, летучие мыши</td>
            </tr>
            <tr>
                <td>Питание жидкой пищей и мягкими тканями</td>
                <td>Лижущий, сосущий, лакающий ротовые аппараты, свернутый в трубочку тонкий язык</td>
                <td>Мухи, бабочки, пчелы, колибри</td>
            </tr>
            <tr>
                <td>Питание кровью</td>
                <td>Колюще-сосущий ротовой аппарат, мускулистый хоботок, сосательный желобчатый конус</td>
                <td>Комары, мошки, москиты, пиявки, клещи</td>
            </tr>
            <tr>
                <td>Поглощение пищи всей поверхностью тела</td>
                <td>Отсутствие пищеварительной системы</td>
                <td>Ленточные черви</td>
            </tr>
            <tr>
                <td rowspan="5"><strong>Пищевой рацион</strong></td>
                <td>Фитофаги</td>
                <td>Питаются растительной пищей</td>
                <td>Многие насекомые, парнокопытные, непарнокопытные, млекопитающие</td>
            </tr>
            <tr>
                <td>Зоофаги</td>
                <td>Питаются животной пищей</td>
                <td>Хищные птицы и млекопитающие, рептилии и черви-паразиты</td>
            </tr>
            <tr>
                <td rowspan="3">Сапрофаги</td>
                <td>Копрофаги (питаются экскрементами млекопитающих)</td>
                <td>Жуки-навозники, личинки многих двукрылых насекомых</td>
            </tr>
            <tr>
                <td>Некрофаги (питаются трупами животных)</td>
                <td>Жуки-могильщики, гиены, шакалы, грифы</td>
            </tr>
            <tr>
                <td>Детритофаги (питаются детритом – мертвым и частично разложившимся органическим веществом)</td>
                <td>Личинки многих насекомых, малощетинковые черви, некоторые рыбы (лини, бычки)</td>
            </tr>
            <tr>
                <td rowspan="4"><strong>Пищевая специализация</strong></td>
                <td>Монофаги</td>
                <td>Питаются организмами только одного вида</td>
                <td>Тля филлоксера, гороховая зерновка</td>
            </tr>
            <tr>
                <td>Олигофаги</td>
                <td>Питаются представителями родственных видов одного рода</td>
                <td>Колорадский жук</td>
            </tr>
            <tr>
                <td>Полифаги</td>
                <td>Питаются представителями многих видов одного царства</td>
                <td>Хищные млекопитающие, травоядные копытные</td>
            </tr>
            <tr>
                <td>Пантофаги</td>
                <td>Питаются представителями разных царств</td>
                <td>Большинство млекопитающих</td>
            </tr>
            <tr>
                <td rowspan="6"><strong>Пищеварение</strong></td>
                <td>Внутриклеточное</td>
                <td>Пищеварительные ферменты расщепляют питательные вещества в клетках</td>
                <td>Губки</td>
            </tr>
            <tr>
                <td>Внеклеточное</td>
                <td>Ферменты синтезируются в клетках, выделяются во внешнюю среду и осуществляют расщепление веществ за пределами клетки</td>
                <td>Круглые и кольчатые черви, ракообразные, насекомые, хордовые</td>
            </tr>
            <tr>
                <td>Смешанное (внутри- и внеклеточное)</td>
                <td>Непереваренные остатки пищи выделяются наружу через рот</td>
                <td>Кишечнополостные, сосальщики</td>
            </tr>
            <tr>
                <td>Полостное (происходит в полости кишечника)</td>
                <td>Ферменты образуются в железистых клетках кишечного эпителия, ротовой полости и т.д. Пища передвигается в одном направлении (сквозной кишечник)</td>
                <td>Круглые и кольчатые черви, моллюски, членистоногие, хордовые</td>
            </tr>
            <tr>
                <td>Мембранное (полостное и пристеночное)</td>
                <td>Пищеварение происходит на поверхности эпителиальных клеток кишечника и в просвете кишечника</td>
                <td>Ракообразные, насекомые, моллюски, позвоночные</td>
            </tr>
            <tr>
                <td>Только мембранное</td>
                <td>Пищеварение происходит на поверхности эпителиальных клеток кишечника</td>
                <td>Аскарида</td>
            </tr>
            <tr>
                <td rowspan="6">Органы выделения</td>
                <td>Протонефридии</td>
                <td>Фильтрация и обратное всасывание (реабсорбция)</td>
                <td>Плоские, круглые черви, личинки кольчатых червей и моллюсков</td>
            </tr>
            <tr>
                <td>Метанефридии</td>
                <td>Фильтрация и обратное всасывание (реабсорбция)</td>
                <td>Кольчатые черви, моллюски, членистоногие</td>
            </tr>
            <tr>
                <td>Зеленые железы</td>
                <td>Фильтрация, обратное всасывание (реабсорбция) и секреция</td>
                <td>Ракообразные</td>
            </tr>
            <tr>
                <td>Мальпигиевы сосуды</td>
                <td>Реабсорбция и секреция. НЕТ ФИЛЬТРАЦИИ</td>
                <td>Паукообразные и насекомые</td>
            </tr>
            <tr>
                <td>Первичные (туловищные) почки</td>
                <td>Фильтрация, реабсорбция и канальцевая секреция</td>
                <td>Рыбы, земноводные</td>
            </tr>
            <tr>
                <td>Вторичные (тазовые) почки</td>
                <td>Клубочковая фильтрация, канальцевые реабсорбция, синтез и секреция</td>
                <td>Пресмыкающиеся, птицы, млекопитающие</td>
            </tr>
            <tr>
                <td rowspan="4"><strong>Продукты выделение</strong></td>
                <td>Гуанотелические</td>
                <td>
                    Выделяют гуанин
                    <br />
                    <img src="~/Images/thema16/гуанин.png" />
                </td>
                <td>Паукообразные</td>
            </tr>
            <tr>
                <td>Аммониотелические</td>
                <td>
                    Выделяют аммиак
                    NH<sub>3</sub>
                </td>
                <td>Водные беспозвоночные, костистые рыбы, личинки и постоянно живущие в воде земноводные</td>
            </tr>
            <tr>
                <td>Уреотелические</td>
                <td>
                    Выделяют мочевину
                    <br />
                    <img src="~/Images/thema16/мочевина.png" />
                </td>
                <td>Наземные ресничные черви, взрослые земноводные, млекопитающие</td>
            </tr>
            <tr>
                <td>Урикотелические</td>
                <td>
                    Выделяют мочевую кислоту
                    <br />
                    <img src="~/Images/thema16/мочевая кислота.png" />
                </td>
                <td>Наземные насекомые, птицы, пресмыкающиеся</td>
            </tr>
            <tr>
                <td rowspan="4">Нервная система</td>
                <td>Диффузная</td>
                <td>Нервные клетки расположены без определенной закономерности, нет разделения на ЦНС и ПНС</td>
                <td>Кишечнополостные</td>
            </tr>
            <tr>
                <td>Стволовая (ортогон)</td>
                <td>Наличие продольных и кольцевых нервных стволов</td>
                <td>Плоские и круглые черви</td>
            </tr>
            <tr>
                <td>Узловая (лестничная, ганглионарная)</td>
                <td>Наличие ганглиев (скопления нейронов), нервных стволов (брюшной нервной цепочки), концентрация ганглиев в переднем конце тела. Наличие ЦНС и ПНС</td>
                <td>Кольчатые черви и членистоногие</td>
            </tr>
            <tr>
                <td>Разбросанно-узловая</td>
                <td>Наличие ганглиев в различных частях тела, соединенных нервными стволами</td>
                <td>Моллюски</td>
            </tr>
            <tr>
                <td>Трубчатая</td>
                <td>Нервная трубка преобразуется в головной и спинной мозг. Наличие ЦНС и ПНС</td>
                <td>Хордовые</td>
            </tr>
            <tr>
                <td rowspan="3">Кровеносная система</td>
                <td>Отсутствует</td>
                <td></td>
                <td>Кишечнополостные, плоские и круглые черви</td>
            </tr>
            <tr>
                <td>Замкнутая</td>
                <td>Кровь перемещается только по сосудам, высокое давление, быстрое возвращение крови к сердцу</td>
                <td>Кольчатые черви, хордовые</td>
            </tr>
            <tr>
                <td>Незамкнутая</td>
                <td>Кровь выходит из сосудов в полость тела и промежутки между органами (лакуны и синусы). Давление низкое, медленное возвращение крови к сердцу. </td>
                <td>Моллюски, членистоногие</td>
            </tr>
            <tr>
                <td rowspan="5">Дыхательная система</td>
                <td>Жаберного типа</td>
                <td>В основе извлечения кислорода из воды лежит диффузия и противоток: кровь в капиллярах жаберных лепестков течет в направлении противоположном току воды</td>
                <td>Многощетинковые кольчатые черви, моллюски, ракообразные, рыбы</td>
            </tr>
            <tr>
                <td>Трахейного типа</td>
                <td>Не нуждается в транспортной функции крови, дыхание осуществляется ритмичным сокращением всех органов</td>
                <td>Насекомые, пауки</td>
            </tr>
            <tr>
                <td>Трахейно-жаберного типа</td>
                <td>Трахейная система не имеет дыхалец и связана с «жабрами», осуществляющими газообмен между водой и воздухом трахей</td>
                <td>Водные личинки стрекоз, поденок</td>
            </tr>
            <tr>
                <td>Легочного типа</td>
                <td>Диффузионные легкие: газообмен только за счет диффузии. Вентиляционные легкие: приток свежего воздуха происходит за счет ритмичных дыхательных движений</td>
                <td>Пауки, скорпионы, некоторые моллюски (диффузионные); наземные позвоночные (вентиляционные)</td>
            </tr>
            <tr>
                <td>Кожное дыхание</td>
                <td>Газообмен происходит через тонкую кожу, имеющую богатое кровоснабжение</td>
                <td>Малощетинковые кольчатые черви, земноводные</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="text-center">
        <strong>Значение животных в природе:</strong>
    </div>
    <ol type="I">
        <li>
            <i>Положительное</i>
            <ol>
                <li>Компоненты биогеоценозов.</li>
                <li>Опылители растений и распространители семян.</li>
                <li>Участвуют в почвообразовании (черви, личинки насекомых, роющие грызуны).</li>
                <li>Уничтожают вредных насекомых.</li>
                <li>Являются пищей для других животных.</li>
                <li>Способствуют оздоровлению популяций (животные-санитары).</li>
            </ol>
        </li>
        <li>
            <i>Отрицательное:</i>
            <ol>
                <li>Уничтожают посадки растений.</li>
                <li>Являются переносчиками и возбудителями заболеваний в популяциях животных других видов.</li>
            </ol>
        </li>
    </ol>
    <div class="text-center">
        <strong>Значение животных в жизни человека:</strong>
    </div>
    <ol type="I">
        <li>
            <i>Положительное:</i>
            <ol>
                <li>Обеспечивают продуктами питания.</li>
                <li>Являются сырьем для промышленности (кости, кожа, шерсть, мясо).</li>
                <li>Используются для передвижения и физических работ (лошадь, буйвол).</li>
                <li>Конечные продукты обмена являются хорошими удобрениями.</li>
                <li>Биомодели для экспериментальных исследований.</li>
                <li>Являются объектом охоты, промысла; имеют эстетическое значение.</li>
                <li>Служат источником получения лекарственных препаратов (змеиный яд, мед, прополис), лечебных сывороток (лошади), гормональных препаратов (железы животных).</li>
            </ol>
        </li>
        <li>
            <i>Отрицательное:</i>
            <ol>
                <li>Вызывают заболевания (паразитические черви).</li>
                <li>Являются переносчиками возбудителей заболеваний (клещи).</li>
                <li>Некоторые ядовиты (змеи, медузы).</li>
            </ol>
        </li>
    </ol>
</div>
<a href=@Url.Action("Test13","Test")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>
<h3 class="text-center"><em><u>Тип Губки. Общая характеристика, практическое значение.</u></em></h3>
<div class="container">

</div>