<div class="container">
    <p>Термин <em>«внутренняя среда организма»</em> предложил в 1878 г. французский физиолог К. Бернар. <strong>К тканям внутренней среды организма относятся кровь, тканевая жидкость, лимфа.</strong></p>
    <p><strong>Кровь</strong> – жидкая соединительная ткань, циркулирующая в замкнутой системе кровеносных сосудов. Состоит из клеток <em>(форменных элементов)</em> и жидкого вещества <em>(плазмы)</em> и является основой для образования других жидкостей внутренней среды (лимфы и тканевой жидкости). Средний объем крови взрослого человека – 5–6 л. Кровь составляет 7–8% массы тела. </p>
    <p>В организме циркулирует не вся кровь, а только ее часть (в состоянии покоя кровью заполнено около 30% капилляров), другая часть находится в депо: в селезенке, печени, легких и подкожной клетчатке – и пополняет кровоток, когда возникает необходимость в восстановлении объема циркулирующей крови (во время мышечной работы и при кровопотерях). </p>
    <p>Плазма путем диффузии проникает из крови через стенки капилляров к клеткам и образует <strong>тканевую жидкость.</strong>По составу тканевая жидкость напоминает плазму, НО без белков, которые, имея большие размеры молекул, не проходят через стенки капилляров при диффузии. Количество тканевой жидкости в организме человека составляет примерно 20 л.</p>
    <p><em>Функция тканевой (межклеточной) жидкости:</em> клетки выделяют в нее диоксид углерода и другие продукты диссимиляции и получают из этой жидкости кислород и питательные вещества. Часть тканевой жидкости возвращается в кровеносные капилляры.</p>
    <p>Меньшая часть тканевой жидкости поступает в лимфатические капилляры, образуя лимфу. <strong>Лимфа</strong> – это молочно-белая жидкость, сходная по составу с плазмой крови, но с меньшим (в 3–4 раза) содержанием белка. В небольшом количестве в ней имеются лимфоциты.</p>
    <p>Лимфатические капилляры слепо начинаются между клетками тканей, имеют более проницаемую стенку, чем кровеносные капилляры, больший диаметр, и переходят в лимфатические сосуды. По ходу лимфатических сосудов располагаются лимфатические узлы – биологические фильтры, которые задерживают чужеродные вещества и бактерии, и лимфа, проходя через них, обогащается лимфоцитами.</p>
    <p>Самые крупные лимфатические сосуды образуют грудной лимфатический проток (впадает в левую подключичную вену) и правый лимфатический проток (впадает в правую подключичную вену, а затем в верхнюю полую вену). В сутки в кровь возвращается около 1–3 л лимфы.</p>
    <p>
        <em>Функции лимфы:</em>
        <ol type="1">
            <li>Перераспределение воды и белков, которые отфильтровались в ткани через стенки капилляров.</li>
            <li>Поступление в кровь высокомолекулярных веществ, в частности жиров, всосавшихся в кишечнике, и гормонов.</li>
            <li>Защита организма от инфекций.</li>
        </ol>
    </p>
    <p>Количество и состав крови, физико-химические свойства (Рн (7,34-7,44)), кислотно-щелочное равновесие, концентрация различных химических компонентов, осмотическое давление) у здорового человека относительно постоянны: они могут претерпевать небольшие колебания, но быстро выравниваются. Относительное постоянство состава крови является необходимым условием жизнедеятельности всех тканей организма.</p>
    <p>В поддержании постоянства внутренней среды организма <em>– гомеостаза</em> – принимают участие кровеносная, дыхательная, пищеварительная и выделительная системы, а регулируют постоянство нервная и эндокринная системы (нервная и гуморальная регуляция).</p>
    <p>При некоторых состояниях организма наблюдается смещение реакции крови в щелочную <em>(алкалоз)</em> или в кислую <em>(ацидоз)</em> сторону. При усиленном дыхании из крови удаляется большое количество угольной кислоты, что приводит к сдвигу реакции в щелочную сторону; при нормализации дыхания рН крови быстро возвращается к норме.</p>
    <h3 class="text-center"><strong>Состав и функции крови: плазма, форменные элементы.</strong></h3>
    <p>Кровь состоит из плазмы и форменных элементов. На плазму приходится 55–60% объема крови, клетки крови составляют 40–45%.</p>
    <p><em>Гематокрит</em> – часть объема крови, занимаемая форменными элементами (44–46% у мужчин, 41–43% у женщин). </p>
    <p><em>Состав плазмы крови:</em> желтоватая полупрозрачная жидкость (90–92% воды, 7–8% белков, 0,12% глюкозы, 0,9% солей, 0,7–0,8% жиров, небольшое количество аминокислот, витаминов, гормонов).</p>
    <p>Осмотическое давление плазмы крови равно давлению, оказываемому 0,85%-м раствором натрия хлорида. Растворы с таким осмотическим давлением называются <em>изотоническими (физиологическими).</em> Раствор с массовой долей ниже 0,85%, оказывает давление ниже осмотического <em>(гипотонический раствор),</em> что приводит к <strong>набуханию клеток.</strong> Раствор с массовой долей выше 0,85%, оказывает давление выше осмотического <em>(гипертонический раствор),</em> что приводит к <strong>сморщиванию клеток.</strong></p>
    <h3><strong>Белки плазмы крови:</strong></h3>
    <ol type="1">
        <li><em>Глобулины</em> (α-, β- и γ-глобулины). α-глобулин связывает тироксин и билирубин, β-глобулин – железо, холестерол и витамины A, D и К, γ-глобулин обеспечивает иммунологические реакции организма, связывая антигены (γ-глобулины обычно называют антителами).</li>
        <li><em>Альбумин</em> – поддержание коллоидно-осмотического давления, придает крови вязкость, связывает присутствующий в крови кальций.</li>
        <li><em>Фибриноген, протромбин</em> – свертывание крови.</li>
    </ol>
    <p><strong>Сыворотка</strong> – плазма крови без белка фибриногена.</p>
    <h3><strong>Форменные элементы крови:</strong> </h3>
    <ol type="I">
        <li>
            <em>Эритроциты (красные кровяные тельца).</em>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li> Безъядерные, имеют вид двояковогнутого диска диаметром 7–8 мкм; толщина эритроцита примерно 1–2 мкм.</li>
                            <li>Образуются в красном костном мозге плоских костей грудины, черепа, в ребрах, позвонках, ключицах и лопатках, в головках длинных трубчатых костей. На стадии эмбриона – в печени и селезенке. Разрушаются в печени и селезенке.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1" start="3">
                            <li>Количество: 4–5⋅10<sup>12</sup>эритроцитов в 1 л крови. (в 1 мм<sup>3</sup> – 4–5 млн). Увеличение количества – эритроцитоз; снижение – эритропения (анемия).</li>
                            <li>Средняя продолжительность жизни – 120 суток.</li>
                            <li>Содержат специфический пигмент – гемоглобин (Hb). В состав входят четыре молекулы гема, которые присоединены к четырем полипептидным цепям глобина и придают крови красный цвет. Каждый гем имеет один атом двухвалентного железа, непрочно связывающий одну молекулу кислорода. В норме в крови содержится 130–160 г/л гемоглобина.</li>
                        </ol>
                    </div>
                    <div class="col">
                        <img src="~/Images/thema36/эротроцит.png" alt="эротроцит" class="rounded" width="100%" height="100%" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1" start="6">
                            <li>Функция – транспорт кислорода и диоксида углерода.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <p>Физиологические и патологические соединения гемоглобина:</p>
            <ol type="А">
                <li>
                    Физиологические:
                    <ol type="1">
                        <li><em>Оксигемоглобин</em> (Hb+кислород) – транспорт кислорода к органам к тканям;</li>
                        <li><em>Карбгемоглобин</em> (Hb+углекислый газ) – транспорт углекислого газа к органам дыхания).</li>
                    </ol>
                </li>
                <li>
                    Патологические:
                    <ol type="1" start="3">
                        <li><em>Карбоксигемоглобин</em> (Hb+угарный газ). Повышение концентрации угарного газа в воздухе до 0,1% опасно для жизни, так как 80% Hb превращается в карбоксигемоглобин (НbСО) – стойкое химическое соединение, вследствие чего клетки организма не получают достаточного количества кислорода для обеспечения процессов жизнедеятельности.</li>
                        <li><em>Метгемоглобин</em> (Hb+сера) – разрушение эритроцитов.</li>
                    </ol>
                </li>
            </ol>
            <p>Если предотвратить свертывание крови и на некоторое время оставить ее в особых капиллярных трубочках, то с определенной скоростью произойдет оседание эритроцитов. Этот показатель – СОЭ – имеет важное диагностическое значение, так как при воспалительных процессах он значительно превышает показатели нормы (3–12 мм/ч).</p>
        </li>
        <li>
            <em>Лейкоциты (белые клетки крови).</em>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li>Не имеют постоянной формы, содержат ядро, способны к амебоидному движению и диапедезу (проникновению через небольшие отверстия в стенках капилляров в межклеточное пространство). Размеры лейкоцитов составляют 6–25 мкм.</li>
                            <li>Образуются в красном костном мозге, селезенке, вилочковой железе (тимусе), лимфатических узлах. Разрушаются в селезенке, в очагах воспаления.</li>
                            <li>Количество – 4–9⋅10<sup>9</sup> в 1 л крови (в 1 мм<sup>3</sup> – 4–9 тыс.). Увеличение содержания – лейкоцитоз, уменьшение – лейкопения. В редких случаях в красном костном мозге образуются патологически измененные лейкоциты (содержание их в 1 мм<sup>3</sup> крови достигает 500 000 и более) – лейкоз.</li>
                        </ol>
                    </div>
                    <div class="col">
                        <img src="~/Images/thema36/Лейкоциты.png" alt="Лейкоциты" class="rounded" width="100%" height="100%" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1" start="4">
                            <li>Продолжительность жизни – 2–4 суток (лимфоциты могут жить на протяжении десяти и более лет). </li>
                            <li>Функция – защита организма от бактерий, генетически чужеродных белков, инородных тел.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <img src="~/Images/thema36/Строение лейкоцитов.png" alt="Стороение лейкочитов" class="rounded" width="100%" height="100%" />
        </li>
        <li>
            <em>Тромбоциты.</em>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol type="1">
                            <li>Кровяные пластинки округлой или овальной формы, не имеют ядра, содержат тромбопластин; размеры – 2–5 мкм. </li>
                            <li>Образуются в красном костном мозге. Разрушаются в селезенке.</li>
                            <li>Количество – 180–320⋅10<sup>9</sup> в 1 л крови (в 1 мм<sup>3</sup> – 180–320 тыс.).</li>
                            <li>Продолжительность жизни 7–10 суток.</li>
                            <li>Функция – свертывание крови.</li>
                        </ol>
                    </div>
                    <div class="col">
                        <img src="~/Images/thema36/Трамбоциты.png" alt="Трамбоциты" class="rounded" width="70%" height="70%" />
                    </div>
                </div>
            </div>
            <h3><strong>Функции крови:</strong></h3>
            <ol type="1">
                <li><em>Дыхательная</em> – перенос от органов дыхания к тканям кислорода и перенос диоксида углерода от клеток тканей к органам дыхания;</li>
                <li><em>Трофическая</em> – перенос питательных веществ от пищеварительной системы к тканям;</li>
                <li><em>Выделительная</em> – перенос продуктов диссимиляции от клеток к органам выделения; </li>
                <li><em>Регуляторная</em> – перенос гормонов и биологически активных веществ от желез внутренней секреции к тканям;</li>
                <li><em>Защитная</em> – способность лейкоцитов к фагоцитозу и образованию антител и способность крови к свертыванию;</li>
                <li><em>Терморегуляторная</em> – высокие теплоемкость и теплопроводность крови и регуляция ее тока через капилляры кожи;</li>
                <li><em>Гомеостатическая</em> – способность крови поддерживать постоянство внутренней среды организма.</li>
            </ol>
        </li>
    </ol>
    <h3 class="text-center"><strong>Группы крови.</strong></h3>
    <p>Основоположниками учения о группах крови являются австрийский ученый <em>К. Ландштейнер</em> и чешский врач <em>Я. Янский.</em></p>
    <p>Классификация групп крови по системе антигенов АВ0: 4 группы с учетом содержания в эритроцитах агглютиногенов А и В и в плазме – агглютининов α и β.</p>
    <p><em>Агглютиногены</em> (антигены) – склеиваемые вещества белковой природы, находящиеся в мембранах эритроцитов.</p>
    <p><em>Агглютинины</em> (антитела) – склеивающие вещества белковой природы, находящиеся в плазме крови.</p>
    <div class="container">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <td>Группа крови</td>
                    <td>Агглютиногены в эритроцитах</td>
                    <td>Агглютинины в плазме</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>I (0)</td>
                    <td>Отсутствуют</td>
                    <td>α и β</td>
                </tr>
                <tr>
                    <td>II (A)</td>
                    <td>А</td>
                    <td>β</td>
                </tr>
                <tr>
                    <td>III (B)</td>
                    <td>В</td>
                    <td>α</td>
                </tr>
                <tr>
                    <td>IV (AB)</td>
                    <td>А и В</td>
                    <td>Отсутствуют </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>В эритроцитах приблизительно 85% людей имеется белковое вещество (ген D на мембране эритроцитов), названное <em>резус-фактором</em> (впервые оно было обнаружено в крови обезьян – макак семейства резус). Кровь таких людей резус-положительная (Rh+), при отсутствии резус-фактора – кровь резус-отрицательная (Rh–).</p>
    <p>В случае большой потери крови для восстановления объема плазмы и Hb, а также при некоторых заболеваниях человеку необходимо переливание крови. Обычно переливают одногруппную кровь, однако в редких случаях возможно переливание крови других групп, но с учетом совместимости.</p>
    <p>Люди с I группой крови являются универсальными донорами (донор – человек, дающий кровь), поскольку в их эритроцитах нет агглютиногенов (донорские эритроциты в крови реципиента не склеиваются).</p>
    <p>Людям с IV группой крови можно переливать кровь всех групп, поэтому они являются универсальными реципиентами (реципиент – человек, получающий кровь), так как у них в плазме крови нет склеивающих веществ агглютининов.</p>
    <img src="~/Images/thema36/Система групп крови ABO.png" alt="Система групп крови ABO" class="rounded" width="100%" height="100%" />
    <p>При неправильном подборе донора и реципиента может наступить агглютинация. В этом случае донорские эритроциты склеиваются, закупоривая мелкие сосуды и нарушая кровообращение, поскольку в эритроцитах донора и в плазме крови реципиента имеются соответствующие друг другу агглютиногены и агглютинины (А и α; В и β).</p>
    <p>При переливании резус-положительной крови людям с отрицательным резус-фактором у них вырабатывается небольшое количество антител по отношению к резус-фактору. Повторное переливание такой крови приведет к несовместимости.</p>
    <h3 class="text-center"><strong>Свертывание крови.</strong></h3>
    <p><strong>Свертывание крови (гемостаз)</strong> – совокупность реакций, приводящих к образованию фибринового тромба при повреждении целостности стенки сосуда. </p>
    <p><em>Вещества, препятствующие свертыванию крови:</em> тепло, гепарин, гирудин, лимоннокислый натрий и калий, фибринолизин.</p>
    <p>
        <em>Механизм свертывания крови:</em>
        <ol type="1">
            <li>У поврежденной стенки сосуда разрушаются тромбоциты, освобождая тромбопластин, способствующий образованию фермента протромбиназы.</li>
            <li>Тромбопластин в присутствии витамина К и ионов Са<sup>2+</sup> взаимодействует с белком плазмы крови протромбином, образуя тромбин.</li>
            <li>Тромбин расщепляет молекулы растворимого глобулярного белка плазмы фибриногена на более мелкие единицы, которые затем полимеризуются и образуют сеть, состоящую из длинных перепутанных нитей фибрина – нерастворимого фибриллярного белка.</li>
            <li> В нитях фибрина задерживаются форменные элементы крови, образуя сгусток – тромб.</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Иммунитет, органы иммунной системы, формы иммунитета.</strong></h3>
    <p>Учение о защитных свойствах крови разработано русским физиологом И.И. Мечниковым. </p>
    <p><strong>Иммунитет</strong> – врожденная или приобретенная невосприимчивость организма к действию инфекционных и других чужеродных агентов, обладающих антигенной активностью.</p>
    <p>Данное явление известно с конца ХVIII в., открыто английским врачом Э. Дженнером при наблюдении больных натуральной оспой (он стал основоположником вакцинации).</p>
    <p>
        <strong>Органы иммунной системы:</strong>
        <ol type="0">
            <li>Центральные (вилочковая железа (тимус), красный костный мозг); формирование и созревание иммунокомпетентных клеток;</li>
            <li>Периферические (селезенка, лимфатические узлы, миндалины, лимфатические скопления в слизистых оболочках и внутренних органах);</li>
        </ol>
    </p>
    <h3 class="text-center"><strong>функционирование иммунокомпетентных клеток.</strong></h3>
    <p>Иммунитет может вырабатываться за счет клеток (клеточный иммунитет) и антител (гуморальный иммунитет).</p>
    <p>Клеточный иммунитет осуществляют В- и Т-лимфоциты, а также А-клетки – крупные долгоживущие клетки с высоким содержанием лизосом. На их поверхности имеются рецепторы к В- и Т-лимфоцитам. Существуют подвижные (моноциты крови) и фиксированные (локализуются в дыхательных путях, печени, брюшине, селезенке, лимфатических узлах) макрофаги. Они накапливают и подвергают переработке проникающие антигены и представляют их для распознавания Т-лимфоцитов; стимулируют дифференцировку В-лимфоцитов в антителообразующие плазмоциты. Макрофаги цитотоксически действуют на опухолевые клетки. Они выделяют интерферон, препятствующий размножению вирусов, лизоцим, вещества, способствующие дифференцировке стволовых клеток в гранулоциты, которые стимулируют размножение и созревание Т-лимфоцитов.</p>
    <p>Гуморальный иммунитет осуществляют антитела, которые образуют лимфоциты и плазматические клетки (плазмоциты). Одни антитела склеивают проникшие микроорганизмы, другие осаждают склеенные частицы, третьи разрушают болезнетворные агенты до более простых веществ, уже не опасных для организма.</p>
    <p>Оба вида лимфоцитов образуются в красном костном мозге из стволовых клеток-предшественниц. В-лимфоциты проходят дифференцировку в лимфоидной ткани кишечника, аппендикса, нёбно-глоточного кольца, печени и селезенки. Они вырабатывают антитела. Когда поверхностные рецепторы (иммуноглобулины) В-лимфоцитов «узнают» комплементарные им антигены, В-лимфоциты начинают делиться и дифференцироваться, образуя клоны плазматических клеток (плазмоциты) и «клетки памяти». Плазмоциты живут несколько дней, «клетки памяти» – 20 и более лет (сохраняются и распространяют информацию об антигене по всей иммунной системе). Т-лимфоциты антитела не вырабатывают, а с помощью рецепторов, находящихся на их поверхности, распознают инфицированные или злокачественные клетки (антигены) и либо уничтожают их, используя специальные вещества, либо включают В-лимфоциты в антителообразование. Cпособность выполнять свои защитные функции Т-лимфоциты приобретают только после того, как пройдут через ткань тимуса.</p>
    <p>
        <strong>Формы иммунитета:</strong>
        <ol type="I">
            <li>
                <em>Естественный</em>
                <ul>
                    <li><em> врожденный</em>  – невосприимчивость к инфекционному заболеванию, обусловленная наследственно закрепленными особенностями вида (человек не болеет чумкой собак);</li>
                    <li><em>приобретенный пассивный </em>– невосприимчивость к инфекционному заболеванию, обусловленная тем, что ребенок получает антитела после рождения с молоком матери (дети в первый год жизни не болеют корью, краснухой, свинкой и т. п., так как у них есть антитела к возбудителям этих заболеваний, полученные от матери). </li>
                    <li><em>приобретенный активный</em>– невосприимчивость к инфекционному заболеванию у лиц, перенесших это заболевание (человек, переболевший корью, больше ею не болеет);</li>
                </ul>
            </li>
            <li>
                <em>Искусственный</em>
                <ul>
                    <li><em>пассивный</em> – введение сыворотки зараженных животных или переболевшего человека, содержащей готовые антитела. Данная форма иммунитета нестойкая (сохраняется 4–6 недель), после чего антитела разрушаются и необходимо повторное введение сыворотки. Например, введение сыворотки при дифтерии останавливает развитие возбудителей заболевания и способствует легкому его течению и быстрому выздоровлению;</li>
                    <li><em>активный</em> – введение в организм вакцины (препараты из ослабленных или убитых возбудителей), на которую организм вырабатывает антитела. Он стойкий и сохраняется годами.</li>
                </ul>
            </li>
        </ol>
    </p>
</div>

<div class="container">
    <a href=@Url.Action("Test36","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>