<div class="container">
    <p><strong>Кровообращение</strong> – движение крови по замкнутой системе кровеносных сосудов и сердцу.</p>
    <p>Система, обеспечивающая кровообращение, называется кровеносной (сердечно-сосудистой). Она состоит из сердца и сосудов.</p>
    <p>Центральный орган кровеносной системы – <em>сердце.</em> Это полый мышечный орган массой 200–300 г, имеющий форму конуса. Сердце располагается в грудной клетке позади грудины и окружено околосердечной сумкой <em>(перикардом)</em> Перикард защищает сердце, а его секрет (небольшое количество серозной жидкости) уменьшает трение при сокращении. Расширенная часть сердца – <em>основание</em> – обращено кзади и вправо, а узкая часть – верхушка – вниз, кпереди и влево. Две трети сердца лежат в левой половине грудной клетки, а одна треть – в правой.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Сплошной продольной перегородкой сердце разделено на правую и левую половины. Каждая половина состоит из предсердия и желудочка, между которыми имеются отверстия, снабженные створчатыми клапанами. </p>
                <p>В правой половине сердца находится <em>трехстворчатый (трипуспидальный) клапан,</em> а в <em>левой – двустворчатый (митральный) клапан.</em> Клапаны открываются только в сторону желудочков.</p>
                <p>Открыванию клапанов в сторону предсердий препятствуют сухожильные нити, с помощью которых края створок клапанов прикрепляются к сосочковым мышцам. Эти мышцы, являясь выростами стенок желудочков, сокращаются вместе с ними, натягивают сухожильные нити и не допускают обратного тока крови.</p>
            </div>
            <div class="col">
                <img src="~/Images/Thema37/Сердце.png" alt="Сердце" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        К правому предсердию подходят 2 полые вены, к левому – 4 легочные. От правого желудочка отходит легочный ствол, от левого – дуга аорты. От аорты отделяются 2 коронарные (венечные) артерии, питающие кровью мышцу сердца. В месте отхождения легочного ствола и аорты от желудочков имеются <em>полулунные клапаны</em> в виде трех карманов, открывающихся по направлению тока крови. Они не пропускают кровь из сосудов обратно в желудочки.
    </p>
    <p>
        <strong>Строение стенки сердца:</strong>
        <ol type="1">
            <li><em>Эпикард</em> – наружный соединительно-тканный слой;</li>
            <li><em>Миокард</em> – средний слой, образован поперечно-полосатой сердечной мышечной тканью. Он обладает свойствами возбудимости, проводимости, сократимости и автоматии. Волокна миокарда соединены между собой отростками, благодаря чему возбуждение, возникшее в одном месте, охватывает всю мышцу сердца. Этот слой наиболее развит в стенке левого желудочка;</li>
            <li><em>Эндокард</em> – внутренний слой стенки сердца, представлен эндотелиальными клетками.</li>
        </ol>
    </p>
    <p>
        <strong>Фазы сердечного цикла:</strong>
    </p>
    <p>
        <strong>При сокращении сердца 75 раз в минуту длительность сердечного цикла составляет 0,8 с.</strong>
    </p>
    <ol type="1">
        <li><em>Сокращение предсердий (систола предсердий)</em>  – 0,1 с; кровь выталкивается из предсердий в желудочки, створчатые клапаны открыты, полулунные закрыты;</li>
        <li><em>Сокращение желудочков (систола желудочков)</em> – 0,3 с; кровь выталкивается из желудочков в артериальные стволы, створчатые клапаны закрыты, полулунные открыты;</li>
        <li><em>Одновременное расслабление предсердий и желудочков (диастола)</em> – 0,4 с; створчатые клапаны открыты, полулунные закрыты, кровь течет из полых и легочных вен в предсердия и на 70% наполняет желудочки.</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>За одно сокращение выбрасывается около 65 мл крови <em>(ударный, или систолический, объем),</em> за одну минуту – около 5 л крови <em>(минутный объем),</em> при тяжелой физической нагрузке – до 20 л. </p>
                <p><strong>Автоматия сердца</strong> – периодическое возникновение импульсов в самой сердечной мышце, вызывающее ее ритмическое сокращение.</p>
                <p>Импульсы возникают в определенном видоизмененном (атипичном) участке миокарда правого предсердия – синусно-предсердном узле, а затем последовательно передаются в предсердно-желудочковый узел, желудочковый пучок (пучок Гиса), состоящий из двух ножек и волокна Пуркине.</p>
            </div>
            <div class="col">
                <img src="~/Images/Thema37/Автоматия сердца.png" alt="Автоматия сердца" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <h3 class="text-center"><strong>Нервная и гуморальная регуляция работы сердца.</strong></h3>
    <p><strong>Нервная регуляция.</strong> Симпатическая часть ВНС увеличивает частоту сердечных сокращений, усиливает их, способствует проведению возбуждения, повышает возбудимость сердца, а парасимпатическая – уменьшает частоту сердечных сокращений и их силу, замедляет проведение возбуждения, снижает возбудимость сердца.</p>
    <p><strong>Гуморальная регуляция.</strong> Адреналин (гормон надпочечников), тироксин (гормон щитовидной железы) и ионы кальция увеличивает частоту и силу сердечных сокращений и действует аналогично симпатической части вегетативной нервной системы. Аналогично парасимпатической части вегетативной нервной системы действуют ацетилхолин (образуется в синапсах) и ионы калия.</p>
    <h3 class="text-center"><strong>Строение артерий, капилляров, вен.</strong></h3>
    <p><strong>Артерии</strong> – сосуды, которые несут кровь от сердца к органам и тканям. Самая крупная артерия в организме человека – аорта (диаметр до 2,5 см).</p>
    <p><em>Строение стенки артерий.</em>  3 слоя: наружный – соединительно-тканный, средний – хорошо развитый мышечный (гладкомышечные клетки и эластические волокна) и внутренний – эпителиальный (эндотелиальная оболочка). </p>
    <p>Крупные артерии разветвляются на более мелкие, а те – на артериолы (диаметр менее 0,1 мм) и капилляры.</p>
    <p><strong>Капилляры</strong> представляют собой микроскопические сосуды: диаметр около 7 мкм, толщина стенок около 1 мкм, длина 0,2–0,7 мм. Общее количество всех капилляров составляет примерно 40 млрд, общая длина – около 100 000 км, а общая площадь сечения – около 6300 м<sup>2</sup></p>
    <img src="~/Images/Thema37/Капиляры.png" alt="Капиляры" class="rounded" width="100%" height="100%" />
    <p>Каждая клетка отделена от ближайшего капилляра не более чем двумя-тремя клетками. Стенки капилляров состоят из одного слоя клеток, причем между соседними клетками имеются узкие щели, благодаря чему вода с растворенными в ней солями, питательными и другими веществами поступает в межклеточные пространства (тканевую жидкость) и далее в клетки.</p>
    <p>Именно в капиллярах кровь выполняет свои основные функции: отдает тканям кислород, питательные вещества и уносит диоксид углерода и другие продукты диссимиляции. Наряду с очень тонкими стенками капилляров этому способствует незначительная скорость движения крови в них.</p>
    <p>Капилляры образуют сети, связывающие мелкие артериолы и венулы. Капиллярные сети соединены между собой параллельно, и благодаря этому возможна точная регуляция перераспределения крови между различными тканями.</p>
    <p><strong>Вены</strong> – это сосуды, которые несут кровь от органов и тканей к сердцу. Их стенки, так же, как и у артерий, состоят из трех слоев, но они гораздо тоньше и слабее, поскольку средний слой содержит меньше гладкомышечных клеток и эластических волокон. В просвете вен (в основном, нижних конечностей) имеются полулунные клапаны, препятствующие обратному току крови. Стенки вен легко сжимаются окружающими мышцами, что способствует продвижению крови к сердцу.</p>
    <h3 class="text-center"><strong>Круги кровообращения.</strong></h3>
    <p>Большой круг кровообращения начинается от левого желудочка аортой, в которой различают восходящую часть, дугу и нисходящую часть. От восходящей части отходят коронарные артерии, снабжающие кровью сердце.</p>
    <p>От дуги аорты отходят: слева – левые общая сонная и подключичная артерии, справа – плечеголовной ствол, разделяющийся на правые общую сонную и подключичную артерии. По этим артериям кровь идет к голове и верхним конечностям.</p>
    <p>От нисходящей части аорты отходят артерии к органам грудной и брюшной полостей; на уровне IV поясничного позвонка аорта разделяется на 2 общие подвздошные артерии, каждая из которых делится на наружную и внутреннюю, от них идут артерии к нижним конечностям.</p>
    <p>При сокращении левого желудочка кровь выбрасывается в аорту, а затем по артериям и артериолам попадает в капилляры внутренних органов, где происходит газообмен. Из капилляров после отдачи кислорода и питательных веществ и насыщения диоксидом углерода и продуктами диссимиляции венозная кровь собирается в венулы, затем в вены (яремные, подключичные, плечеголовные, кишечную, воротную, почечные, подвздошные и коронарный синус). Через верхнюю и нижнюю полые вены кровь попадает в правое предсердие.</p>
    <h3><strong>Во всех артериях большого круга кровообращения течет артериальная кровь, а в венах – венозная.</strong></h3>
    <p><em>Большой круг кровообращения: левый желудочек – аорта – артерии – артериолы – капилляры органов и тканей – венулы – вены – полые вены (верхняя и нижняя) – правое предсердие.</em></p>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <p>Малый круг кровообращения начинается от правого желудочка легочным стволом, который делится на 2 легочные артерии, несущие венозную кровь к легким. Артерии входят в легкие через ворота и распадаются на более мелкие артерии, артериолы, а затем на капилляры. Капилляры густо оплетают стенки альвеол, где происходит газообмен. Насыщенная кислородом артериальная кровь по 4 легочным венам поступает в левое предсердие.</p>
            </div>
            <div class="col">
                <img src="~/Images/Thema37/Большой круг кровообращения.png" alt="Большой круг кровообращения" class="rounded" width="85%" height="85%" />
            </div>
        </div>
    </div>
    <p><strong>В артериях малого круга кровообращения течет венозная кровь, а в венах – артериальная.</strong></p>
    <p><em>Малый круг кровообращения: правый желудочек – легочной ствол – 2 легочные артерии – артериолы легких – капилляры легких – венулы легких – 4 легочные вены – левое предсердие.</em></p>
    <h3 class="text-center"><strong>Движение крови по сосудам. Кровяное давление. Пульс.</strong></h3>
    <p>Закономерности движения крови по сосудам были открыты в 1628 г. английским анатомом и врачом В. Гарвеем.</p>
    <p><em>Причины движения крови по сосудам:</em></p>
    <ol type="1">
        <li>Ритмичная работа сердца;Ритмичная работа сердца;</li>
        <li>Присасывающее действие грудной клетки;</li>
        <li>Наличие клапанов в венах;</li>
        <li>Сокращение скелетной мускулатуры, сдавливающей вены.</li>
    </ol>
    <p>В сосудах кровь встречает сосудистое (периферическое) сопротивление, которое зависит от их просветов: чем меньше диаметр сосуда, тем больше сопротивление. Поэтому скорость тока крови зависит от суммарного просвета сосудов. <strong>Скорость кровотока:</strong> в аорте – 0,5 м/с, в полых венах – 0,25 м /с, в артериях – 0,2 м/с, в венах – 0,1–0,2 м/с, в капиллярах – 0,5 мм/с.</p>
    <p><strong>Кровяное давление</strong> – давление крови на стенки сосудов, создаваемое силой сокращения желудочков сердца.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>В аорте давление равно 150 мм рт. ст., в артериях – 120 мм рт. ст., в капиллярах – 20 мм рт. ст., а в полых венах оно отрицательное (ниже атмосферного). </p>
                <p>Величина артериального давления (АД) зависит от объема циркулирующей крови, состояния стенок (тонуса) сосудов и миокарда, вязкости крови. Артериальное давление подвержено колебаниям, связанным с фазами работы сердца. Во время систолы желудочков оно более высокое – это максимальное – <em>систолическое</em> – давление, во время расслабления – минимальное – <em>диастолическое.</em></p>
            </div>
            <div class="col">
                <img src="~/Images/Thema37/Диаграмма кровяного давления.png" alt="Диаграмма кровяного давления" class="rounded" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Артериальное давление измеряется обычно в плечевой артерии. В норме у взрослого человека систолическое давление равно 120–140 мм рт. ст., диастолическое – 65–80 мм рт. ст. (у пожилых людей оно повышается). Повышение АД называется <em>гипертензией,</em> а понижение – <em>гипотензией.</em></p>
                <p>Если нарушена нервная регуляция и преобладает влияние симпатической части вегетативной нервной системы, АД у человека повышается, если преобладает влияние парасимпатической части вегетативной нервной системы – АД понижается. </p>
            </div>
            <div class="col">
                <img src="~/Images/Thema37/Артериальное давление.png" alt="Артериальное давление"  class="rounded" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <p>Сосудодвигательный центр находится в <em>продолговатом мозге.</em></p>
    <p>Гуморальная регуляция осуществляется гормоном надпочечников адреналином. Он вызывает усиление работы сердца и сужение сосудов, что приводит к повышению АД.</p>
    <p><em>Пульс</em> – ритмические колебания стенок артерий, вызываемые повышением давления в период систолы. Скорость пульсовой волны по сравнению со скоростью тока крови во много раз больше. Пульс определяют на артериях, которые лежат поверхностно на костях (лучевая, височная артерии). У здорового человека пульс ритмичный, 60–80 ударов в минуту. Учащение пульса называется <em>тахикардией,</em> а урежение – <em>брадикардией.</em> При некоторых заболеваниях у человека наблюдается нарушение ритма сердечных сокращений – <em>аритмия.</em></p>
    <h3 class="text-center"><strong>Гигиена сердечно-сосудистой системы.</strong></h3>
    <p>Гигиена сердечно-сосудистой системы – это комплекс условий, при которых сердце и сосуды обеспечивают нормальную циркуляцию крови и выполнение ею своих функций.</p>
    <p>Неблагоприятное воздействие на функцию сердечно-сосудистой системы оказывают гиподинамия, возникновению которой способствуют снижение физической активности и увеличение умственной нагрузки; избыточное питание, алкоголь и никотин.</p>
    <p><strong>Алкоголь</strong> вызывает сужение сосудов, нарушает использование тканями кислорода в процессе тканевого дыхания и приводит к ухудшению питания ткани сердца, способствуя развитию ишемической болезни сердца, атеросклероза (уплотнение коронарных сосудов за счет накопления холестерина), инфаркта миокарда (омертвение участка сердца в области миокарда), артериальной гипертензии (стойкое повышение артериального давления).</p>
    <p><strong>Никотин</strong> стимулирует выделение надпочечниками гормонов, что приводит к спазму сосудов. Вследствие этого повышается АД, и сердце затрачивает больше энергии, чтобы обеспечивать движение крови по сосудам. В крови при курении накапливается карбоксигемоглобин, что ухудшает снабжение сердца и других органов кислородом. Вещества, всасывающиеся из табачного дыма, нарушают усвоение витаминов (недостаток витамина С способствует отложению холестерина в стенках сосудов). В результате просвет сосудов уменьшается (курение – фактор риска развития ишемической болезни сердца).</p>
    <p>Для диагностики заболеваний сердца применяют электрокардиографию (запись электрических потенциалов работающего сердца).</p>
    <h3 class="text-center"><strong>Кровотечение. Виды кровотечений.</strong></h3>
    <p>Кровотечения бывают <em>внешние</em> (кровь изливается наружу) <em>и внутренние</em> (кровь изливается в орган, полость, межтканевые промежутки). При внутренних кровотечениях образуется <em>гематома</em>  (ограниченное скопление крови, являющееся результатом повреждения кровеносных сосудов).</p>
    <p><strong>Виды кровотечений:</strong></p>
    <ol type="1">
        <li><em>Венозное кровотечение.</em> Кровь темная, не пульсирует. Первая помощь: края раны обработать дезинфицирующими средствами, наложить давящую повязку; в случае сильного кровотечения наложить жгут ниже раны.</li>
        <li><em>Артериальное кровотечение.</em> Кровь алая, пульсирует. Первая помощь: наложить жгут выше раны. Жгут накладывают зимой не более чем на 1 ч, летом не более чем на 2 ч.</li>
        <li><em>Капиллярное кровотечение.</em> Рана небольшая и кровь как бы сочится. Первая помощь: промыть рану дезинфицирующим средством и зажать марлевым тампоном (повязку можно не накладывать).</li>
    </ol>
</div>

<div class="container">
    <a href=@Url.Action("Test37","Test")
       class="btn btn-primary">
        <span class="glyphicon glyphicon-shoppingcart">
        </span>
        Задания для самоконтроля
    </a>
</div>