<div class="container">
    <h3 class="text-center"><strong>Биологическая мембрана: строение и функции.</strong></h3>
    <p><em>Элементарная биологическая мембрана</em> – один из наиболее важных структурных компонентов клетки. Биологическая мембрана при рассмотрении в электронном микроскопе выглядит трехслойной – два темных слоя, разделенных светлым. Наружный и внутренний слои мембраны (темные) образованы молекулами белков, а средний (светлый) – двумя слоями молекул жидких фосфолипидов (липидное море). Мембрана может иметь отверстия – поровые комплексы. </p>
    <p>
        <strong>Модели строения биологической мемраны:</strong>
        <ol type="1">
            <li><em>«Бутербродная модель»</em> (Даниэл и Доусон, 1943). Основу мембраны составляет билипидный слой (двойной слой фосфолипидов), поверх которого расположены два сплошных слоя белка. Модель не объясняет избирательной проницаемости биологической мембраны.</li>
            <li>
                <em>«Жидкостно-мозаичная модель»</em>  (Зингер и Николсон, 1972). Основу мембраны составляет двойной слой фосфолипидов, находящихся в жидкой фазе. Молекулы фосфолипидов ориентированы гидрофильными головками наружу (к водной среде), гидрофобными хвостиками внутрь, друг к другу. Белки не покрывают фосфолипиды сплошными слоями, а располагаются как мозаика – 1 молекула белка приходится на 30-40 молекул фосфолипидов. Белки могут полностью пронизывать фосфолипидный слой (интегральные), частично пронизывать его <em>(полуинтегральные)</em> или быть расположенными на поверхности <em>(периферические).</em>
                <img src="~/Images/thema45/Жидкостно-мозаичная модель.png" alt="Жидкостно-мозаичная модель" class="IMG_centr" width="100%" height="100%" />
                <p>Молекулы липидов и белков мембран удерживаются гидрофильно-гидрофобными взаимодействиями.</p>
            </li>
        </ol>
    </p>
    <p>
        <strong>Свойства биологической мембраны:</strong>
        <ol type="1">
            <li><em>Пластичность (текучесть).</em> Позволяет мембране изменять свою форму;</li>
            <li><em>Способность к самозамыканию.</em> Позволяет быстро восстанавливаться после повреждения; позволяет отграничивать отдельные участки клетки (митохондрии, пластиды, каналы ЭПС)</li>
            <li><em>Избирательная проницаемость.</em> Молекулы и ионы проходят через мембрану с различной скоростью (чем больше размер молекулы, тем меньше скорость). Избирательная проницаемость мембраны связана с наличием на поверхности мембраны особой разветвленной структуры – гликокаликса (слоя гликопротеинов и гликолипидов), представляющая собой рецепторы, которые воспринимают («узнают») определенные химические вещества, окружающие клетку. Гликокаликс обеспечивает взаимосвязь клеток многоклеточного организма, иммунный ответ и другие реакции.</li>
        </ol>
    </p>
    <p>
        <strong>Функции биологической мембраны:</strong>
        <ol type="1">
            <li><em>Структурная.</em> Образует плазмалемму, кариолемму и стенки мембранных органоидов;</li>
            <li><em>Регуляторная (транспортная).</em> Регулирует поступление веществ в клетку, ядро и органоиды и выведение из них;</li>
            <li><em>Защитная (барьерная).</em> Защищает клетку и органоиды от воздействия факторов внешней среды;</li>
            <li><em>Рецепторная.</em> «Узнает» определенные вещества и сигналы;</li>
            <li><em>Ферментативная (каталитическая).</em> Некоторые белки мембран являются ферментами и многие биохимические реакции протекают на мембранах;</li>
            <li><em>Разграничительная (компартментализация).</em> Разделяет цитоплазму клетки на отсеки (компартменты).</li>
            <li><em>Образование электрических потенциалов.</em></li>
        </ol>
    </p>
    <h3 class="text-center"><strong>Оболочка клетки, строение и функции.</strong></h3>
    <ol type="1">
        <li>
            <strong>Надмембранный комплекс.</strong>
            <p>В животных клетках – <em>гликокаликс,</em> в клетках растений – клеточная стенка, состоящая из целлюлозы, у грибов – клеточная стенка из хитина.</p>
            <p>Молекулы целлюлозы объединяются в пучки <em>(микрофибриллы)</em>, которые составляют каркас клеточной оболочки. Микрофибриллы погружены в матрикс клеточной стенки, который составляет 60% сухого вещества клеточной оболочки. В матриксе преобладают <em>гемицеллюлозы</em> (полимеры ксилозы, галактозы, маннозы, глюкозы) и <em>пектиновые вещества</em> (полимеры, состоящие из метилового спирта, галактуроновой кислоты и арабинозы или галактозы), содержащие большое количество карбоксильных групп и способные соединяться с Mg<sup>2+</sup> и Ca<sup>2+</sup>, образуя клейкие структуры.</p>
            <p>Помимо углеводных компонентов в состав матрикса клеточной стенки входит белок <em>экстенеин</em> (гликопротеин, близок по составу к коллагену). Основным инкрустирующим веществом клеточной стенки растений является белок <em>лигнин</em> (неразветвленный полимер, состоящий из различных спиртов), который скрепляет целлюлозные волокна и приводит к одревеснению клеточной оболочки. </p>
            <p>На клеточную оболочку могут откладываться жироподобные вещества: <em>воск</em> (образует восковой налет); <em>кутин</em> (образует кутикулу); <em>суберин/бетулин</em> (откладываются на оболочку изнутри, практически не пропускает воду и вызывает опробковение клетки (протопласт отмирает и содержимое клетки заполняется воздухом)).</p>
            <p><strong>Клеточная стенка (оболочка)</strong> – продукт жизнедеятельности растительной клетки. Она придает клетке прочность, выполняет защитную функцию, поддерживает форму и размер клетки. <em>Первичная</em> клеточная стенка образуется во время деления и роста, <em>вторичная</em> – после прекращения роста. В образовании клеточной стенки участвуют ЭПС и КГ.</p>
            <p>Клеточная стенка прокариот (бактерий) состоит из пептидогликана <em>муреин</em> (правильная сеть полисахаридных нитей, расположенных параллельно друг другу и сшитых пептидными цепочками). Снаружи клеточная стенка прокариот часто окружена слизистой капсулой.</p>
        </li>
        <li>
            <strong>Цитоплазматическая мембрана (плазмалемма)</strong> – элементарная мембрана, покрывающая клетку, участвует в обменных процессах клетки с окружающей средой. Она образует выросты, выпячивания, складки, микроворсинки, которые многократно увеличивают поверхность клетки.
        </li>
        <li>
            <strong>Подмембранный комплекс</strong> – микротрубочки цитоскелета гиалоплазмы, прикрепленные к плазмалемме.
        </li>
    </ol>
    <p>
        <strong>Функции оболочки клетки:</strong>
        <ol type="1">
            <li><em>Барьерная</em> – отграничивает содержимое клетки от внешней среды;</li>
            <li><em>Регуляторная (транспортная)</em> – регулирует поступление веществ в клетку и из клетки;</li>
            <li><em>Рецепторная</em> – «узнает» определенные вещества и обеспечивает межклеточные взаимодействия;</li>
            <li><em>Структурная</em> – принимает участие в построении ворсинок, жгутиков, ресничек;</li>
            <li><em>Опорная</em> – поддерживает определенную форму и размер клетки, регулирует ее рост (клеточная стенка);</li>
            <li><em>Защитная</em>  – предупреждает разрыв клетки, вследствие осмотического проникновения воды (клеточная стенка), снижает потери воды и предупреждает проникновение болезнетворных микроорганизмов (кутикула);</li>
            <li><em>Образование межклеточных контактов</em> (клеточная стенка и гликокаликс).</li>
        </ol>
    </p>
    <p>
        <strong>Виды межклеточных контактов:</strong>
        <ol type="1">
            <li><em>Плазмодесмы</em> – тонкие трубчатые каналы, которые через поры клеточной стенки соединяются с ЭПР другой клетки (растительные клетки);</li>
            <li><em>Коннексоны</em> – тонкие каналы из белка коннектина, проникающие через мембраны соседних клеток; коннексон одной клетки строго соответствует коннексону другой (животные клетки).</li>
            <li><em>Синапс</em> – структура, образованная двумя мембранами и щелью между ними (нервные клетки).</li>
        </ol>
    </p>
    <p><strong>Строение синапса:</strong> Одна мембрана <em>(пресинаптическая)</em> принадлежит клетке, посылающей сигнал; вторая <em>(постсинаптическая)</em> – клетке, принимающей сигнал. Информация передается от одной клетки другой при участии медиаторов (норадреналин, ацетилхолин), которые выделяются из передающей клетки (расширенная часть отростка нейрона называется <em>синаптической бляшкой) в синаптическую щель,</em> а затем взаимодействуют с мембраной принимающей клетки, она приходит в состояние возбуждения, изменяет свою проницаемость и способствует передаче нервного импульса.</p>
    <p>Через плазмалемму происходит поступление веществ в клетку –  <strong>эндоцитоз</strong> (мембрана впячивается и окружает твердую (фагоцитоз) или жидкую (пиноцитоз) частицу; в цитоплазме образуется мембранная (фагоцитарная) вакуоль – эндосома, которая сливается с лизосомой, ферменты которой расщепляют макромолекулы до мономеров) и выведение их из клетки <strong>– экзоцитоз</strong> (вакуоль, содержащая выводимые продукты, сливается с цитоплазматической мембраной, а содержимое выделяется во внешнюю среду).</p>
    <h3 class="text-center"><strong>Способы поступления веществ в клетку.</strong></h3>
    <ol type="1">
        <li><em>Пассивный транспорт (диффузия)</em> – перенос веществ по градиенту концентрации (из области большей концентрации в область меньшей) без затрат энергии. Поступление в клетку растворителя (воды) называется осмосом. Неполярные (гидрофобные) мелкие молекулы (азот, аммиак, углекислый газ, кислород, мочевина) могут проходить через билипидный слой мембраны. В клетку и из клетки ионы и мелкие полярные (гидрофильные) молекулы могут диффундировать по ионным каналам, образованным интегральными белками мембран.</li>
        <li><em>Облегченная диффузия</em> – перенос веществ по градиенту концентрации без затрат энергии при помощи интегральных белков-«переносчиков». Мембранные белки-«переносчики» (пермеазы) соединяются с молекулой вещества и проводят ее через мембрану. Так переносятся некоторые аминокислоты и моносахариды (глюкоза). Скорость перемещения выше, чем при диффузии. </li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col">
                <ol type="1" start="3">
                    <li><em>Активный транспорт</em> – перенос веществ против градиента концентрации с затратой энергии АТФ при помощи транспортных белков (порины, АТФ-азы), образующих мембранные насосы.</li>
                </ol>
                <p>Натрий-калиевый насос (интегральный белок) поддерживает в клетке более высокую концентрацию К<sup>+</sup> и более низкую концентрацию Na <sup>+</sup>, чем в межклеточной жидкости. В результате активного транспорта при помощи мембранного насоса происходит регуляция в клетке Mg<sup>2+</sup> и Ca<sup>2+</sup> Также путем активного транспорта в клетку проникают нуклеотиды и некоторые аминокислоты. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Строение растительной клетки.png" alt="Строение растительной клетки" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <h3 class="text-center"><strong>Цитоплазма: гиалоплазма, органоиды, включения.</strong></h3>
    <p>Цитоплазма – многокомпонентная система, состоящая из гиалоплазмы, органоидов (органелл) и включений.</p>
    <p><strong>Гиалоплазма (цитоплазматический матрикс)</strong> – однородная мелкозернистая структура, состоящая из двух фаз – жидкой и твердой и обеспечивающая вязкость, эластичность, сократимость и движение цитоплазмы. </p>
    <p><em>Жидкая фаза</em> – коллоидный раствор, состоящий из воды, минеральных солей, ионов (натрия, калия, хлора и др.), аминокислот, белков, РНК, липидов и углеводов.</p>
    <p><em>Твердая фаза</em> – система тонких (2 нм) белковых нитей (микротрабекул), пересекающих цитоплазму в различных направлениях.</p>
    <p><em>Микротрабекулярная система</em> связывает мембранные органеллы, фибриллярные и трубчатые компоненты (опорно-двигательная система клетки) и плазмалемму. В местах пересечения или соединения концов трабекул расположены группы рибосом. Вместе с трубчатыми <em>(микротрубочки)</em> и фибриллярными <em>(микрофиламенты)</em> компонентами цитоплазмы микротрабекулярная система образует внутриклеточный цитоплазматический скелет (цитоскелет), который упорядочивает размещение всех структурных компонентов клетки. </p>
    <p>Микротрабекулярная система динамична: при изменении внешних и внутренних условий ее нити могут легко распадаться на отдельные молекулы белка, которые переходят в раствор и изменяют физические свойства гиалоплазмы (изменяется агрегатное состояние отдельных участков цитоплазмы с жидкого (золь) на плотное (гель), и наоборот.</p>
    <p>
        <strong>Функции гиалоплазмы:</strong>
        <ol type="1">
            <li>Является внутренней средой клетки, в которой происходят химические процессы;</li>
            <li>Объединяет все клеточные структуры и обеспечивает химическое взаимодействие между ними;</li>
            <li>Определяет расположение органелл в клетке;</li>
            <li>Обеспечивает внутриклеточный транспорт веществ (аминокислот, сахаров) и перемещение органелл (движение хлоропластов в растительных клетках);</li>
            <li>Является основным вместилищем и зоной перемещения молекул АТФ;</li>
            <li>Определяет форму клетки.</li>
        </ol>
    </p>
    <p><strong>Включения</strong> – непостоянные компоненты цитоплазмы, содержание которых меняется в зависимости от функционального состояния клетки.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <strong>Виды включений:</strong>
                    <ol type="1">
                        <li><em>Секреторные.</em> Продукты функциональной активности желез внешней и внутренней секреции (гормоны, ферменты, слизь);</li>
                        <li><em>Экскреторные.</em> Включения, содержащие продукты жизнедеятельности, подлежащие выведению из клетки (кристаллы щавелевокислого натрия);</li>
                        <li><em>Трофические.</em> Запасные питательные вещества клетки: углеводы (крахмал (растительная клетка) и гликоген (животная клетка), жиры, белки).</li>
                    </ol>
                </p>
                <p><strong>Органоиды (органеллы)</strong> – это специализированные участки цитоплазмы клетки, имеющие определенную структуру и выполняющие определенные функции в клетке. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Строение животной клетки.png" alt="Строение животной клетки" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <strong>Классификации органелл:</strong>
        <ol type="I">
            <li>
                <u>По назначению в клетке:</u>
                <ol type="1">
                    <li><em>Органеллы общего назначения.</em> Имеются в большинстве клеток (митохондрии, комплекс Гольджи, эндоплазматическая сеть, рибосомы, клеточный центр, лизосомы, пластиды и вакуоли);</li>
                    <li><em>Органеллы специального назначения.</em> Имеются только в специализированных клетках (миофибриллы – в мышечных клетках; жгутики, реснички, сократительные и пищеварительные вакуоли – в клетках протистов). </li>
                </ol>
            </li>
            <li>
                <u>По строению:</u>
                <ol type="1">
                    <li>
                        <em>Мембранные.</em> Имеют в своем составе одну или несколько биологических мембран.
                        <ol type="A">
                            <li>Одномембранные (имеют одну биологическую мембрану) – ЭПС, КГ, лизосомы, вакуоли. </li>
                            <li>Двумембранные (имеют две биологические мембраны) – митохондрии, пластиды.</li>
                        </ol>
                    </li>
                    <li><em>Немембранные.</em> Не имеют в своем составе биологической мембраны (рибосомы и органеллы опорно-двигательной системы клетки).</li>
                </ol>
            </li>
            <li>
                <u>По участию в обмене веществ:</u>
                <ol type="1">
                    <li><em>Анаболической системы</em> (синтез веществ) – ЭПС, КГ, рибосомы, пластиды;</li>
                    <li><em>Катаболической системы</em> (расщепление веществ) – митохондрии, лизосомы.</li>
                </ol>
            </li>
        </ol>
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Эндоплазматическая сеть (ретикулум)</strong> – органелла общего назначения, мембранного строения, анаболической системы. Представлена системой каналов и полостей, образованных элементарными мембранами и пронизывающих всю гиалоплазму клетки.</p>
                <p>Имеются два типа ЭПС – <em>гладкая (агранулярная) и шероховатая (гранулярная).</em> На мембранах гранулярной ЭПС находятся рибосомы.</p>
                <p>Синтезируемые на шероховатой ЭПС белки обычно не используются клеткой, а проходят через мембрану в каналы и полости ЭПС, где изолируются от цитоплазмы, накапливаются, дозревают, затем перемещаются в другие части клетки, в т.ч. комплекс Гольджи.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Эндоплазматический ретикулум.png" alt="Эндоплазматический ретикулум" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>На рибосомах гранулярной ЭПС синтезируются интегральные и периферические белки мембран клетки, белки цитоплазмы. Цистерны гранулярной ЭПС связаны с ядерной оболочкой и являются ее продолжением. </p>
    <p>
        <strong>Функции ЭПС:</strong>
        <ol type="1">
            <li>Синтез жиров и углеводов (гладкая);</li>
            <li>Синтез жиров, углеводов (гликоген) и белков (шероховатая);</li>
            <li>Компартментализация (деление мембранами ЭПС клетки на отсеки);</li>
            <li>Транспорт веществ;</li>
            <li>Связывание компонентов клетки в единое целое;</li>
            <li>Образование новых ядерных оболочек после деления клетки.</li>
        </ol>
    </p>
    <p><strong>Комплекс (аппарат) Гольджи</strong> – органелла общего назначения, мембранного строения, анаболической системы. Был открыт итальянским ученым К. Гольджи в 1898 г. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Выявляется под световым микроскопом в животных клетках в виде сложной сети, расположенной вокруг ядра (сетчатый комплекс). В клетках протистов и растений представлен отдельными серповидными или палочковидными тельцами <em>(диктиосомы).</em> Электронно-микроскопические исследования показали, что комплекс Гольджи состоит из элементарных мембран и напоминает стопку рулонов, которые образуют узкие каналы, расширяющиеся на концах в цистерны, от которых отпочковываются пузырьки. Каналы и цистерны комплекса Гольджи соединены с каналами эндоплазматической сети.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Комплекс Гольдж.png" alt="Комплекс Гольдж" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <strong>Функции комплекса Гольджи:</strong>
        <ol type="1">
            <li>Концентрация, обезвоживание и уплотнение синтезированных в клетке белков, жиров, полисахаридов и веществ, поступивших извне, сборка сложных комплексов органических веществ и подготовка их к выведению из клетки, либо к использованию в самой клетке.</li>
            <li>Синтез пектиновых веществ, слизи корневого чехлика, гемицеллюлозы, и целлюлозы, используемых для построения клеточной стенки растений.</li>
            <li>Синтез гликопротеинов и гликолипидов гликокаликса, секрета поджелудочной железы, амилазы слюны, гормонов гипофиза, коллагена.</li>
            <li>Образование сложных белков молока в молочных железах, желчи в печени, вещества хрусталика, зубной эмали.</li>
            <li><em>Образование первичных лизосом.</em></li>
            <li>Формирование биологических мембран и стенок клеток растения после деления.</li>
            <li><em>Образование вакуолей.</em></li>
        </ol>
    </p>
    <p>КГ и ЭПС тесно связаны между собой и образуют транспортную систему клетки: их совместная деятельность обеспечивает синтез и преобразование веществ в клетке, их наполнение и транспорт.</p>
    <p><strong>Рибосома</strong> – органелла общего назначения, немембранного строения, анаболической системы.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Представляет собой мелкую сферическую структуру (размером от 15 до 35 нм), состоящую из двух субъединиц (большой и малой, соединяющихся при помощи ионов Mg<sup>2+</sup>), содержащие около 60% белка и 40% рРНК. Субъединицы рибосом синтезируются в ядрышках и через поры ядерной мембраны поступают в цитоплазму, где располагаются либо на мембранах эндоплазматической сети, либо свободно и в митохондриях и хлоропластах.</p>
                <p>Имеется два активных центра: <em>аминоацильный</em> (фиксация тРНК с аминокислотой) и <em>пептидильный</em> (образуются пептидные связи между аминокислотами). </p>
                <p>В эукариотических клетках рибосомы крупнее, чем у прокариот. При синтезе белков они могут объединяться на иРНК в группы (полисомы) числом от 5 до 70. </p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Рибосона.png" alt="Рибосона" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Функция:</strong> синтез белка (трансляция).</p>
    <p><strong>Лизосома</strong> – органелла общего назначения, мембранного строения, катаболической системы.</p>
    <p><em>Первичная лизосома</em> – шаровидное тельце диаметром от 0,2 до 2 мкм, покрыта элементарной мембраной и содержит около 40 гидролитических ферментов, способных в кислой среде (рН 4,5–5,0) расщеплять белки, нуклеиновые кислоты, жиры и углеводы. Образование лизосом происходит в комплексе Гольджи. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>При попадании пищевых веществ или микроорганизмов в составе эндосомы в цитоплазму клетки первичные лизосомы сливаются с ними, образуя <em>вторичные лизосомы (фагосомы),</em> внутри которых происходит их переваривание <strong>(гетерофагия</strong> – переваривание чужеродных веществ). Лизосома с остатком непереваренных веществ называется <em>микротельце (остаточное тельце).</em></p>
                <p><strong>Аутофагия</strong> – разрушение собственных материалов клетки (временных органов эмбрионов и личинок (хвоста и жабр в процессе развития головастиков лягушек), запасных питательных веществ, органелл, утративших функциональную активность).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Структура Лизосомы.png" alt="Структура Лизосомы" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p><strong>Автолиз</strong> – самопереваривание клетки. При патологических изменениях клетки или при ее старении мембраны лизосом могут разрушаться, ферменты выходят в цитоплазму и разрушают структуры самой клетки. Продукты лизиса через мембрану лизосом поступают в цитоплазму и включаются в дальнейший обмен веществ.</p>
    <p>
        <strong>Функции лизосом:</strong>
        <ol type="1">
            <li>Внутриклеточное пищеварение;</li>
            <li>Внутриклеточная регенерация;</li>
            <li>Участие в онтогенезе.</li>
        </ol>
    </p>
    <p><strong>Митохондрия</strong> – органелла общего назначения мембранного строения катаболической системы. Видна в световой микроскоп в виде гранул, палочек, нитей величиной от 0,5 до 7 мкм. Имеются во всех клетках, число их от 50 до 5000 в зависимости от функциональной активности клетки. </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Структура митохондрии (электронная микроскопия). Оболочка состоит из двух мембран – наружной гладкой и внутренней, образующей выросты – <em>кристы,</em> которые вдаются во внутреннее гомогенное содержимое митохондрии <em>(матрикс).</em> Между мембранами находится <em>перимитохондриальное пространство</em> (место скопления ионов водорода). На кристах расположены грибовидные тела – <em>АТФ-сомы.</em> В матриксе содержатся вода, соли, аминокислоты, имеется автономная система биосинтеза белков: <em>кольцевая молекула митохондриальной ДНК,</em> не связанная с белками-гистонами, различные виды РНК, рибосомы (мельче, чем в цитоплазме клеток) и ферменты кислородного этапа энергетического обмена (ферменты цикла Креббса, тканевого дыхания и окислительного фосфорилирования).</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Метохондрия.png" alt="Метохондрия" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>
        <strong>Функции митохондрий:</strong>
        <ol type="1">
            <li>Окисление органических соединений до диоксида углерода и воды и накопление химической энергии в макроэргических фосфатных связях АТФ (кислородный этап энергетического обмена);</li>
            <li>Синтез стероидных гормонов;</li>
            <li>Синтез специфических белков (рибосомы);</li>
            <li>Участие в цитоплазматической наследственности (кольцевая молекула ДНК).</li>
        </ol>
    </p>
    <p><strong>Вакуоли</strong> –участки гиалоплазмы растительных клеток и протистов, ограниченные элементарной мембраной. Образуются из расширений эндоплазматической сети и пузырьков комплекса Гольджи.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>В клетках образовательной ткани растений из пузыревидных расширений ЭПС образуются небольшие вакуоли, увеличиваясь, сливаются в центральную вакуоль, занимающую 70-90% объема клетки. Окружающая мембрана <em>(тонопласт)</em> имеет толщину 4-6 нм.</p>
                <p>Содержимое вакуоли растительной клетки – клеточный сок. В клеточном соке содержатся пигменты <em>антоцианы,</em> придающие ему различную окраску (пурпурную, красную, синюю или фиолетовую). Близкие к антоцианам <em>флавоны и флавоноиды </em> окрашивают клеточный сок в желтый или кремовый цвет и придают окраску плодам, листьям, корнеплодам.</p>
            </div>
            <div class="col">
                <img src="~/Images/thema45/Строение вакуоли.png" alt="Строение вакуоли" class="IMG_centr" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <p>Клеточный сок растительных клеток может содержать <em>фитогормоны (регуляторы роста), фитонциды и ферменты.</em></p>
    <p><strong>Функции вакуолей растительной клетки:</strong> осморегуляция (поддержание тургорного давления). </p>
    <p>Вакуоли протистов можно разделить на две группы: <em>пищеварительные,</em> в которые поступают гидролитические ферменты лизосом и происходит внутриклеточное пищеварение, и <em>сократительные,</em> собирающие и выводящие за пределы клетки продукты диссимиляции и излишки воды и тем самым поддерживающие осмотическое давление клетки.</p>
    <p><strong>Пластиды</strong> – органеллы общего назначения, мембранного строения анаболической системы. Содержатся только в растительных клетках. Родоначальником любых пластид являются <em>пропластиды.</em></p>
    <p>
        <strong>Виды пластид:</strong>
        <ol type="I">
            <li>
                <p><em>Хлоропласты (зеленые).</em> По форме напоминают двояковыпуклую линзу и содержат зеленый пигмент хлорофилл и вспомогательные пигменты – каротиноиды. Их размеры 5–10 мкм. Хлоропласты имеются в листьях, молодых побегах, незрелых плодах.</p>
                <p>Стенка хлоропласта образована двумя мембранами, под которыми находится бесструктурное содержимое – <em>строма.</em> Строма пронизана системой параллельно расположенных элементарных мембран, являющихся продолжением внутренней мембраны – <em>тилакоидами.</em> В некоторых местах парные мембраны тилакоидов диаметром около 0,3 мкм плотно прилегают друг к другу, образуя стопки, содержащие хлорофилл, – <em>граны.</em> Граны связаны между собой особыми удлиненными тилакоидами —  <em>ламеллами.</em></p>
                <p>На мембранах тилакоидов и гран протекает световая фаза фотосинтеза, а в строме – темновая. В строме хлоропластов имеется автономная система синтеза белков (ДНК, РНК и мелкие рибосомы).</p>
                <p>
                    <strong>Функции хлоропластов:</strong>
                    <ol type="1">
                        <li>Фотосинтез;</li>
                        <li>Синтез специфических белков (рибосомы);</li>
                        <li>Участие в цитоплазматической наследственности (молекула ДНК).</li>
                    </ol>
                </p>
                <img src="~/Images/thema45/пласть хлоропласт.png" alt="пласть хлоропласт" class="IMG_centr" width="100%" height="100%"/>
            </li>
            <li>
                <em>Хромопласты (чаще желтые или оранжевые).</em> Пластиды, содержащие растительные пигменты <em>(каротиноиды),</em> придающие желтую, оранжевую или красную окраску цветкам, плодам, стеблям и другим частям растений (томаты, рябина, шиповник, корнеплоды моркови).
            </li>
            <li>
                <em>Лейкопласты (бесцветные).</em> Не имеют гран и не содержат пигментов. В лейкопластах накапливаются запасные питательные вещества и в зависимости от вида вещества называются: <em>протеинопласты</em> (белки), <em>элайопласты</em> (жиры), <em>амилопласты</em> (крахмал).
            </li>
        </ol>
    </p>
    <p>Пластиды имеют сходное строение и при определенных условиях могут переходить из одного вида в другой (при хранении картофеля и моркови на свету лейкопласты и хромопласты превращаются в хлоропласты (овощи зеленеют).</p>
</div>
