<div class="container">
    <p>
        <strong>Отряды и представители:</strong> Класс Птицы включает 2 надотряда: Пингвины (императорский, адели) и Типичные птицы: Бескилевые (страусы, нанду, казуары, эму, киви) и Килевые. Отряды Килевых птиц: Дятлообразные (большой и малый пестрый дятлы, черный дятел (желна), зеленый дятел), Отряд Куриные (рябчики, тетерева, глухари, куропатки, цесарки), Отряд Воробьинообразные (жаворонки, синицы, ласточки, скворцы, вороны, галки, грачи, сороки, воробьи), Отряд Гусеобразные (гуси, утки, лебеди), Отряд Аистообразные (аисты, цапли, фламинго), Отряд Журавлеобразные (журавли, дрофы), Отряд Соколообразные (стервятники, грифы, соколы, орлы, ястребы, канюки, луни), Отряд Совообразные (совы, филины, сычи).
    </p>
    <p>
        <strong>Количество видов:</strong> около 9000 видов.
    </p>
    <p>
        <strong>Среда обитания:</strong> наземно-воздушная, приспособлены к полету (летающие). Нелетающие птицы обитают в воде (плавающие) или на суше (бегающие).
    </p>
    <p>
        <strong>Вторичноротые; трехслойные;</strong> симметрия тела: <strong>билатеральная.</strong>
    </p>
    <p>
        <strong>Основные ароморфозы:</strong>
        <ol type="1">
            <li>Передние конечности превращены в крылья – орган полета;</li>
            <li>Перьевой покров (маховые и рулевые перья);</li>
            <li>Прочный скелет (срастание костей черепа, позвонков, ключиц);</li>
            <li>Прочный скелет (срастание костей черепа, позвонков, ключиц);</li>
            <li>Отсутствие зубов;</li>
            <li>Воздушные полости в трубчатых костях;</li>
            <li>Воздушные мешки, двойное дыхание;</li>
            <li>Отсутствие мочевого пузыря;</li>
            <li>Четырехкамерное сердце, полное разделение артериальной и венозной крови;</li>
            <li>Гомойотермные животные;</li>
            <li>Зачаток наружного слухового прохода;</li>
            <li>Редукция правого яичника и яйцевода.</li>
        </ol>
    </p>
    <p>
        <strong>Внешнее строение.</strong> Тело компактное, обтекаемой формы; отделы: голова, шея, туловище, хвост, крылья (передние конечности) и ноги (задние конечности). Масса тела самых мелких птиц (колибри) 1,6 г, у самых крупных она не превышает 16 кг (лебеди), а размах крыльев – до 4 м (альбатросы). Нелетающие птицы значительно тяжелее: пингвины – до 40 кг, страусы – до 120 кг.
    </p>
    <div class="text-center">
        <img src="~/Images/thema27/внешнее строение.png" class="rounded" width="100%" height="100%" />
    </div>
    <p>
        <strong>Покровы тела.</strong> Кожа тонкая, сухая, <em>единственная копчиковая железа</em> расположена над основанием хвоста (жироподобный секрет используется птицами для смазывания перьев, что сохраняет их эластичность и упругость, а также придает водоотталкивающие свойства перьям водоплавающих птиц. <em>Роговые производные кожи:</em> перья, роговые чехлы клюва, роговые чешуйки кожи, покрывающие клюв, пальцы, цевку, часть голени и когти на пальцах ног. Функционально поверхность кожи птиц разделена на два участка: <em>птерилии</em> (несут перьевой покров) и аптерии (лишены перьев).
    </p>
    <p>
        <div class="row">
            <div class="col">
                <em>Классификация перьев:</em> <u>контурные, пуховые и пух</u> (имеется не у всех птиц). Составные части <em>контурного пера: очин</em> (нижняя часть пера, расположенная в толще кожи и укрепленная в перьевой сумке), <em>стержень и опахало.</em> От стержня отходят тонкие длинные роговые пластинки – <em>бородки,</em> образующие <em>опахало</em> (упругую эластичную плоскость). На бородках первого порядка расположены более мелкие бородки второго порядка, имеющие на концах крючки, которые скрепляют друг с другом соседние бородки опахала.
            </div>
            <div class="col text-center">
                <img src="~/Images/thema27/перо.png" class="rounded" width="100%" height="100%" />
            </div>
        </div>
        Контурные перья, расположенные по заднему краю крыла, называются маховыми. Они формируют лопасть крыла, поддерживают птицу в полете. Длинные перья хвоста –рулевые, они управляют полетом и тормозят его при посадке.
    </p>
    <p>
        <em>Пуховые перья:</em> тонкий стержень и бородки только первого порядка.
    </p>
    <p>
        <em>Пух:</em> бородки первого порядка, отходящими одним пучком от конца очина.
    </p>
    <p>Контурные перья туловища (кроющие), пуховые перья и пух хорошо сохраняют тепло и защищают птиц от механических воздействий; заменяются во время линьки.</p>
    <p>
        <strong>Опорно-двигательная система:</strong> <em>3 отдела: скелет головы (череп), скелет туловища (позвоночник), скелет конечностей и их поясов.</em>
    </p>
    <p>
        <em>Скелет головы (череп):</em> легкий и прочный, имеет увеличенный мозговой отдел и большие глазницы. Челюсти вытянуты, не содержат зубов. Все кости, образующие череп, срастаются до полного исчезновения швов.
    </p>
    <p>
        <em>Скелет головы (череп):</em> легкий и прочный, имеет увеличенный мозговой отдел и большие глазницы. Челюсти вытянуты, не содержат зубов. Все кости, образующие череп, срастаются до полного исчезновения швов.
    </p>

    <div class="row">
        <div class="col">
            <p>
                <em>Скелет туловища (позвоночник)</em> состоит из 5 отделов: шейный (до 25 позвонков), грудной, поясничный, крестцовый и копчиковый. Высокая подвижность характерна только для шейного отдела. Позвонки грудного отдела срастаются, образуя спинную кость. Каждый позвонок этого отдела несет пару ребер, подвижно соединенных с грудиной. Грудина большинства птиц (летающих!!!) имеет высокий гребень <em>– киль,</em> являющийся местом прикрепления мышц, участвующих в полете. Все поясничные, крестцовые и часть хвостовых позвонков срастаются и образуют <em>сложный крестец.</em> Часть хвостовых позвонков свободна, обеспечивает подвижность хвоста и, следовательно, рулевых перьев. Несколько последних хвостовых позвонков, срастаясь, образуют <em>копчиковую кость.</em>
            </p>

        </div>
        <div class="col text-center">
            <img src="~/Images/thema27/скелет.png" class="rounded" width="100%" height="100%" />
        </div>
    </div>
    <p>
        <em>Скелет пояса передних конечностей (плечевой)</em> состоит из 6 костей: лопатки, вороньи кости (коракоиды) и ключицы. Лопатка длинная саблевидная. Воронья кость неподвижно срастается с грудиной. Ключицы свободными концами срастаются друг с другом, образуя <em>вилочку,</em> которая выполняет роль амортизатора.
    </p>
    <p>
        <em>Скелет свободной передней конечности (скелет крыла):</em> массивная плечевая кость с уплощенной головкой, 2 кости предплечья (локтевая и лучевая) и кости кисти: пястно-запястная кость (пряжка) и 3 редуцированных несвободных пальцев.
    </p>
    <p>
        <em>Скелет пояса задних конечностей:</em> 2 тазовые кости, каждая из которых является результатом сращения 3 костей: подвздошной, седалищной и лобковой. Вверху подвздошные кости прирастают к сложному крестцу, а книзу и кпереди концы лобковых и седалищных костей лежат свободно и не срастаются по средней линии, поэтому таз у птиц <em>открытый,</em> что позволяет им нести крупные яйца.
    </p>
    <p>
        <em>Скелет свободной задней конечности (скелет ноги):</em> бедренная кость, кости голени (большая берцовая и редуцированная малая берцовая), цевка (результат срастания костей предплюсны и плюсны) и фаланги пальцев. Три пальца в большинстве случаев направлены вперед, а один – назад, возможна редукция числа пальцев (у эму их 3, у страуса – 2).
    </p>
    <p>
        <strong>Мускулатура.</strong> Хорошо развиты мышцы шеи, межреберные (участвуют в дыхании), подкожные (изменяют положение перьев) и ног (у бегающих).
    </p>
    <p>
        <strong>N.B!!!!</strong> Подключичные мышцы (поднимают крыло), большие грудные (опускают); их масса составляет 25% массы тела птицы.
    </p>
    <p>
        <em>Виды полета:</em>  машущий (птица ритмично поднимает и опускает крылья) и парящий (птица с неподвижными крыльями парит в вышине, используя восходящие потоки теплого воздуха (гриф)).
    </p>
    <p>
        <strong>Пищеварительная система.</strong> <em>Строение пищеварительной трубки:</em> клюв – ротовая полость – глотка – пищевод с зобом– желудок – тонкая кишка – толстая кишка – клоака.
    </p>
    <p>
        Клюв образован роговыми чехлами, покрывающими челюсти (зубы отсутствуют). Верхняя его часть называется <em>надклювьем,</em> а нижняя – <em>подклювьем.</em> У основания надклювья открываются ноздри, у некоторых птиц (голубь) они прикрыты мягкой вздутой кожей – <em>восковицей,</em> выполняющей осязательную функцию. <em>Слюнные железы в ротовой полости отсутствуют или недоразвиты,</em> язык короткий. За ротовой полостью следует глотка, длинный пищевод с зобом, желудок, состоящий из двух отделов <em>(железистого и мышечного).</em> В железистом отделе желудка пища подвергается ферментативному воздействию желудочного сока, в мышечном – механическому измельчению с помощью сокращения толстых мышечных стенок и заглатываемых камешков, имеющихся в этом отделе. В тонкий кишечник открываются протоки <em>печени и поджелудочной железы.</em> Толстый кишечник короткий, <em>не имеет прямой кишки</em> и заканчивается клоакой.
    </p>
    <p>
        <strong>Выделительная система. Вторичные (тазовые) почки</strong> – обеспечивают активную реабсорбцию и продуцируют концентрированную мочу.
    </p>
    <p>
        <em>Строение выделительной системы:</em> тазовые почки – мочеточники – клоака.
    </p>
    <p>
        <em>Основной продукт обмена – </em> <strong>мочевая кислота.</strong>
    </p>
    <div class="text-center">
        <img src="~/Images/thema27/выделительная система.png" class="rounded" width="100%" height="100%" />
    </div>
    <p>
        <strong>Кровеносная система.</strong> Замкнутая. Сердце четырехкамерное (два предсердия и два желудочка). Два круга кровообращения. Характерно полное разделение потоков артериальной и венозной крови.
    </p>
    <p>
        <em>Большой круг кровообращения:</em> левый желудочек (артериальная кровь) <em>– правая</em> дуга аорты (артериальная кровь) –капилляры органов и тканей (газообмен) – полые вены (венозная кровь) – правое предсердие (венозная кровь).
    </p>
    <div class="text-center">
        <img src="~/Images/thema27/Кровеносная система.png" class="rounded" width="100%" height="100%" />
    </div>
    <p>
        <em>Малый круг кровообращения:</em> правый желудочек (венозная кровь) – легочной ствол (венозная кровь) – капилляры легких (газообмен) – легочные вены (артериальная кровь) – левое предсердие (артериальная кровь).
    </p>
    <p>
        Птицы – <em>гомойотермные</em> животные. Температура тела у разных видов птиц колеблется от 38 до 43,5 °С.
    </p>
    <p>
        <strong>Дыхательная система.</strong> Губчатые легкие.
    </p>
    <p>
        <em>Дыхательные пути:</em> ноздри – носовая полость – хоаны – ротовая полость –гортань – трахея (в нижней части находится голосовой аппарат (нижняя (певчая) гортань) – два бронха – губчатые легкие.
    </p>
    <div class="row">
        <div class="col">
            <p>Бронхи ветвятся и образуют бронхиолы, в которых и происходит газообмен. Часть крупных бронхов не ветвится и выходит за пределы легких, образуя 5 пар тонкостенных выростов (расширений) <em>– воздушные мешки.</em> Они расположены между внутренними органами и мышцами, под кожей и в трубчатых костях. <u>Функции воздушных мешков:</u>  временные резервуары для воздуха; обеспечение вентиляции легких; защита от перегрева в полете. В покое дыхательные движения осуществляются только за счет грудной клетки. В полете, когда стенки грудной клетки фиксированы, используются воздушные мешки, которые при взмахах крыльев сжимаются и расправляются. Воздушные мешки играют роль мехов, продувающих воздух через легкие. </p>
        </div>
        <div class="col text-center">
            <img src="~/Images/thema27/дыхатльная система.png" class="rounded" width="100%" height="100%" />
        </div>
    </div>
    При подъеме крыльев воздух из трахеи и бронхов попадает в легкие и задние воздушные мешки, а из легких проходит в передние воздушные мешки. При опускании крыльев богатый кислородом воздух выдавливается из задних воздушных мешков в легкие. Из передних воздушных мешков участвовавший в газообмене воздух попадает в трахею и во внешнюю среду. Такое дыхание называется <strong>двойным</strong> – газообмен происходит и на вдохе и на выдохе.
    <div class="row">
        <div class="col">
            <p>
                <strong>Нервная система.</strong> Центральная нервная система состоит из головного и спинного мозга. В головном мозге 5 отделов: продолговатый, мозжечок, средний, промежуточный и передний. По сравнению с пресмыкающимися мозг имеет более крупные размеры, увеличенные большие полушария, огромный мозжечок и маленькие обонятельные доли. Наиболее развит передний мозг, имеющий крупные полосатые тела и участки коры, что обусловливает более сложное поведение птиц. Хорошо развиты зрительные доли среднего мозга и мозжечок, координирующий сложные движения птиц в полете.
            </p>
        </div>
        <div class="col text-center">
            <img src="~/Images/thema27/нервная система.png" class="rounded" width="100%" height="90%"/>
        </div>
    </div>
    <p>Спинной мозг имеет меньшие размеры вследствие срастания позвонков и образования крестца и копчика.</p>
    <p>Периферическая нервная система: 12 пар черепно-мозговых нервов.</p>
    <p>
        <strong>Органы чувств.</strong> Глаза имеют верхнее, нижнее и внутреннее (третье) веко или мигательную перепонку. Характерна двойная аккомодация (обеспечивается изменением кривизны хрусталика и перемещением хрусталика относительно сетчатки). Цветовое зрение.
    </p>
    <p>
        Орган слуха: внутреннее и среднее ухо с одной слуховой косточкой (стремечко) и барабанной перепонкой, наружное ухо (появляется впервые) в виде зачатка наружного слухового прохода. Функцию ушной раковины у них выполняют подвижные ушные перья.
    </p>
    <p>
        Вкусовые рецепторы расположены на языке и стенках ротовой полости.
    </p>
    <p>
        Нервные окончания, находящиеся в коже, выполняют функцию органа осязания, воспринимают боль и изменения температуры. Обоняние у птиц развито плохо.
    </p>
    <p class="text-center">
        <strong>Половая система.</strong> Раздельнополые.
    </p>
    <p>
        Самка (непарная) – только левый яичник и яйцевод, открывающийся в клоаку.
    </p>
    <p>
        Самец (парная) – семенники и семяпроводы.
    </p>
    <p>
        Размножение половое, осеменение внутреннее, яйцекладущие.
    </p>
    <p>
        <em>Строение яйца.</em> В центре расположен желток с зародышевым диском (собственно яйцеклетка), его окружают 5 оболочек: белковая, 2 подскорлуповые (образуют воздушную камеру), скорлуповая (содержит соли кальция), надскорлуповая (образуется в яйцеводе и предохраняет яйцо от бактерий). Развитие прямое. Зародыш развивается в яйце.
    </p>
    <p>
        В период гнездования развиваются признаки полового диморфизма. Характерны брачные игры и турниры, брачное пение, появляется яркое оперение и происходит образование пар <em>– токование.</em> Токование завершается спариванием и откладкой яиц. Толщина скорлупы яйца к концу периода насиживания уменьшается, так как частично используется на формирование скелета зародыша. Объем воздушной камеры подскорлуповой оболочки при развитии зародыша увеличивается. К концу периода насиживания птенец начинает дышать, с помощью рогового бугорка надклювья (яйцевой зуб) пробивает скорлупу и выходит из яйца.
    </p>
    <p>
        <strong>Классификация птенцов по степени развития:</strong> выводковые и гнездовые (птенцовые).
    </p>
    <p>
        <em>Выводковые:</em> зрячие, покрыты пухом, способны к передвижению и самостоятельному склевыванию корма (куры, гуси, страусы, лебеди). Родители защищают выводок, обогревают птенцов и помогают им в поиске пищи.
    </p>
    <p>
        <em>Гнездовые (птенцовые):</em>  голые, слепые и беспомощные (воробьи, голуби, попугаи, дятлы) и остаются в гнезде от 10 до 60 суток. Забота родителей о птенцах состоит в их кормлении, чистке гнезда и регулировании температуры в нем.
    </p>
    <p>
        <strong>Классификация птиц по характеру сезонных миграций:</strong> оседлые, кочующие и перелетные.
    </p>
    <p>
        <em>Оседлые птицы</em> (поползень, сойка, синица, галка, воробей, рябчик) не мигрируют, зимуют в пределах того района, где обитали летом.
    </p>
    <p>
        <em>Кочующие птицы</em> (снегирь, клест, полярная сова, грач) собираются в стаи и постепенно продвигаются к югу; постоянных мест зимовки они не имеют.
    </p>
    <p>
        <em>Перелетные птицы</em> (соловей, ласточка, стриж, аист, кулик, кукушка, утка, лебедь, гусь) покидают гнездовья и мигрируют на большие расстояния. Сигналом для осеннего отлета служит сокращение длины светового дня (фотопериодизм).
    </p>
</div>