<h3 class="text-center"><em><u>Отдел Моховидные, общая характеристика, основные представители. Чередование поколений у мхов. Сравнительная характеристика кукушкина льна и сфагнума. Значение моховидных в природе и жизни человека.</u></em></h3>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Мхи – древняя, наиболее примитивная группа высших споровых растений, живущих на Земле. Количество видов – около 27000 видов. Наука, изучающая мхи, называется <strong>бриология.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong><u>Представители: <em>бриум, мниум, дикранум, политрихум обыкновенный (кукушкин лен), гипнум, климациум, акрокладиум, птилиум (страусово перо), сфагнум, фунария, маршанция.</em></u></strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Среда обитания:</strong> области холодного и умеренного климата, лесотундра, леса, болота, воды рек и озер, скалы, стены и крыши домов. Нет мхов в соленых водоемах, ледниках и сыпучих песках.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Морфологическая характеристика отдела Моховидные.</strong>Большинство мхов – многолетние растения (редко однолетние) размером от 1 мм до нескольких см, реже до 40 см и более (маленькие размеры объясняются отсутствием механических тканей). <strong>Тело мха</strong> представлено <strong>листостебельным растением</strong> (простые или разветвленные стебли, покрытые простыми листьями), у примитивных печеночных мхов (маршанция) тело представляет собой многоклеточный таллом (слоевище). Мхи не имеют корней и прикрепляются к субстрату при помощи ризоидов, при помощи которых поглощают из почвы воду и минеральные соли. <strong>Ризоиды</strong> – вытянутая клетка или несколько клеток нижней части стебля. Вегетативные органы состоят из специализированных клеток, образующих ткани: ассимиляционную, проводящую, запасающую и покровную. <strong>МЕХАНИЧЕСКИЕ ТКАНИ ОТСУТСТВУЮТ, ПРОВОДЯЩИЕ ТКАНИ СЛАБО РАЗВИТЫ (ксилема и флоэма отсутствуют).</strong> Моховидные не цветут, не образуют плодов и семян.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Физиологическая характеристика отдела Моховидные.</strong> В ходе жизненного цикла (от зиготы одного поколения до зиготы следующего поколения) наблюдается чередование поколений: гаметофит сменяется спорофитом и наоборот.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Гаметофитная стадия</strong> – основная жизненная форма (длится от споры до зиготы) отдела Моховидные (содержит гаплоидный набор хромосом), представлена <strong>листостебельным растением</strong> или слоевищем (ТОЛЬКО у печеночных мхов). Гаметы формируются в многоклеточных органах полового размножения (гаметангиях) – антеридиях и архегониях.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Антеридии</strong> – небольшие овальные тельца, внешняя стенка которых образована одним или несколькими слоями стерильных клеток. В антеридиях формируются подвижные сперматозоиды, которые выходят из созревшего антеридия наружу и активно <strong>передвигаются при наличии достаточного количества воды.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Архегонии</strong> – небольшие колбообразные тельца, состоящие из нижней расширенной части (брюшка) и верхней удлиненной части (шейки). Снаружи архегоний окружают стерильные клетки, защищающие его от высыхания. В брюшке находится неподвижная яйцеклетка. Над ней располагается брюшная канальцевая клетка, а внутри шейки – шейковые канальцевые клетки. При созревании яйцеклетки брюшная и шейковые канальцевые клетки превращаются в слизь, и архегоний вскрывается на верхушке. При наличии воды сперматозоиды проникают в архегонии, и один из них сливается с яйцеклеткой и образуется диплоидная зигота. Из зиготы вырастает диплоидный спорофит, способен к бесполому размножению.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Спорофитная стадия</strong> – этап жизненного цикла от зиготы до начала спорообразования (содержит диплоидный набор хромосом), представлена <strong>коробочкой на ножке,</strong> нижняя расширенная часть которой (стопа) внедряется в ткань гаметофита и доставляет спорофиту воду и питательные вещества. Спорофит полностью зависит от гаметофита и питается за его счет. В коробочке образуются мейозом гаплоидные споры. Споры созревают, рассеиваются и при благоприятных условиях прорастают. В почве из проросшей споры развивается длинная тонкая ветвящаяся зеленая нить <strong>(протонема, предросток),</strong> напоминающая зеленую водоросль, на которой формируются почки, из которой вырастает молодое листостебельное растение (гаметофит).
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>N.B.!!! ГАМЕТОФИТ В ЖИЗНЕННОМ ЦИКЛЕ МОХОВИДНЫХ И ВОДОРОСЛЕЙ ПРЕОБЛАДАЕТ НАД СПОРОФИТОМ.</strong>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Развитие жизненного цикла моховидных по пути возрастания самостоятельности гаметофита и морфологического упрощения спорофита привело к эволюционному тупику, так как их размножение возможно только при наличии воды, иначе сперматозоиды не могут подплыть к архегониям с яйцеклетками; только при наличии достаточного количества влаги антеридии вскрываются и сперматозоиды высвобождаются. Крупные размеры гаметофита неизбежно привели бы к их постепенному вымиранию по причине исчезновения полового размножения.
</p>
<div class="text-center">
    <strong>Жизненный цикл моховидных:</strong>
</div>
<div class="container">
    <div class="row justify-content-center">
        <img src="~/Images/thema6/Жизненный цикл моховидных.png" alt="Жизненный цикл моховидных" title="Жизненный цикл моховидных" />
    </div>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Строение кукушкина льна.</strong><br />
    &nbsp;&nbsp;&nbsp;&nbsp;Многолетний зеленый листостебельный мох, высотой до 20 см. Стебель тонкий, неветвящийся, направлен вертикально вверх, покрыт эпидермисом, под которым располагается кора. Кора состоит из двух типов клеток: одни толстостенные, другие – мягкие тонкостенные. <strong>Есть проводящий пучок</strong> (тяж). Функцию проводящей ткани выполняют специальные клетки: <strong>гидроиды</strong> (мертвые клетки, лишенные протопласта, обеспечивают транспорт воды и минеральных солей) и <strong>лептоиды</strong> (живые клетки, обеспечивают транспорт органических веществ). На стебле расположены узкие зеленые листья, состоящие из нескольких рядов клеток с хлоропластами <strong>(клетки-ассимиляторы).</strong> Посередине листа проходит <strong>жилка.</strong> Прикрепление к субстрату осуществляется при помощи <strong>ризоидов.</strong> Кукушки лен – <strong>двудомное</strong>раздельнополое растение. Мужские растения имеют на верхушке красноватые листочки, между которыми находятся антеридии, в которых развиваются 2-жгутиковые подвижные сперматозоиды. У женских растений все листочки зеленые, между зелеными листочками образуются архегонии, в которых формируются неподвижные яйцеклетки. При наличии воды сперматозоиды достигают яйцеклеток, происходит оплодотворение, и образуется зигота. На следующий год из зиготы вырастает спорофит (коробочка на ножке, накрытая колпачком). Это спорангий, внутри него образуются споры. Внешне эта коробочка, накрытая колпачком, похожа на сидящую на ветке кукушку,
    <div class="container">
        <div class="row justify-content-center">
            <img src="~/Images/thema6/Thema6.1.png" alt="Кукушкиен лен" />
        </div>
    </div>
    <br />отсюда и название мха. Когда споры созревают, колпачок сваливается, споры высыхают и рассеиваются ветром. В благоприятных условиях споры прорастают в протонему, а затем из почки на протонеме вырастает листостебельное растение.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Строение сфагнума.</strong><br />
    &nbsp;&nbsp;&nbsp;&nbsp;Многолетний серебристо-белый мох. Стебель длинный, слабоветвящийся, <strong>не имеет проводящих пучков и ризоидов.</strong> Всасывание воды и минеральных солей происходит как у водорослей – всей поверхностью стебля и листьев. Листья – крохотные чешуйки <strong>без средней жилки,</strong> состоящие из 1 слоя клеток: одни – живые, мелкие, зеленые, с хлоропластами <strong>(клетки-ассимиляторы),</strong> другие – крупные, бесцветные, мертвые <strong>(водоносные клетки),</strong> их оболочки имеют отверстия, через которые впитывается и удерживается вода. Сфагнум, насыщенный водой, приобретает ярко-зеленую окраску. При высыхании водоносные клетки наполняются воздухом и приобретают серебристо-белую окраску. Сфагнум – <strong>однодомное растение,</strong> в жизненном цикле наблюдается чередование поколений (гаметофит представлен листостебельным растением, спорофит – круглой коробочкой на ножке).
    <br />&nbsp;&nbsp;&nbsp;&nbsp;Сфагнум растет верхушкой стебля, расположенной над водой, а нижняя часть его, погруженная в воду, постепенно отмирает. Скорость роста составляет около 3 см в год. Отмирающие части побегов сфагнума вместе с другими растениями (кукушкин лен, маршанция) постепенно преобразуется в торф. Торф образуется вследствие неполного разложения растительных остатков в условиях недостатка кислорода. Кроме того, сфагнум выделяет гуминовые кислоты (напр. <strong>сфагнол</strong> – используется как антисептик, т.к. угнетает жизнедеятельность бактерий).
</p>
<div class="text-center">
    <strong>
        Отличия кукушкина льна и сфагнума:
    </strong>
</div>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col"><strong>Кукушкин лен</strong></th>
                    <th scope="col"><strong>Сфагнум</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Зеленый мох</td>
                    <td>Серебристо-белый мох, при накоплении воды становится зеленым</td>
                </tr>
                <tr>
                    <td>Есть ризоиды</td>
                    <td>Нет ризоидов</td>
                </tr>
                <tr>
                    <td>Есть проводящий пучок</td>
                    <td>Нет проводящего пучка</td>
                </tr>
                <tr>
                    <td>Двудомное растение</td>
                    <td>Однодомное растение</td>
                </tr>
                <tr>
                    <td>Есть клетки-ассимиляторы</td>
                    <td>Есть клетки-ассимиляторы и водоносные клетки</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <strong>
        Значение мхов:
    </strong>
</div>
<ol>
    <li>Улучшают структуру почвы, участвуют в образовании торфа (торф является топливом, источником органических удобрений, используется в качестве подстилки для животных, в народной медицине как перевязочный материал, является сырьем для получения метанола, карболовых кислот, уксусной кислоты, парафина, аммиака, фенола, воска).</li>
    <li>Регулирует водный баланс в почве лесов (удерживают воду в почве), способствуют возобновлению леса.</li>
    <li>Создают условия для поселения других организмов.</li>
    <li>Накапливают соли тяжелых металлов, радионуклиды.</li>
</ol>
<a href=@Url.Action("Test5","Courses") class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>