<h3 class="text-center"><em><u>Генеративные органы растений: цветок. Строение цветка. Соцветия, их биологическое значение.</u></em></h3>
<div class="container">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Цветок</strong> – генеративный орган цветковых растений, представляет собой укороченный видоизмененный побег с ограниченным верхушечным ростом, предназнеченный для полового размножения: образования гамет, опыления, оплодотворения, развития плодов и семян.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Функции цветка:</strong>
        <ol type="1">
            <li>Место образования микро- и макроспор, мужского и женского гаметофитов, гамет;</li>
            <li>Опыление, оплодотворение и образование плодов и семян.</li>
        </ol>
        &nbsp;&nbsp;&nbsp;&nbsp; <strong>Видоизменения стебля в цветке:</strong>
        <ol type="1">
            <li><strong>Цветоножка</strong> – тонкий стебель, на котором расположен цветок. При отсутствии цветоножки цветок называется сидячим. На цветоножке могут располагаться 1-2 маленьких листочка <strong>(прицветники).</strong></li>
            <li><strong>Цветоложе</strong> – верхняя расширенная чать цветоножки. На цветоложе располагаются все остальные элементы цветка.</li>
        </ol>
        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Видоизменения листьев в цветке:</strong>
        <ol type="1">
            <li><strong>Чашелистики</strong> (зеленые листочки). <strong>Чашечка</strong> – совокупность чашелистиков. Чашечка защищает внутренние части цветка от повреждений, участвует в фотосинтезе и служит для распространения семян.</li>
            <li>
                <strong>Лепестки</strong> (листья, окрашенные в различные цвета). <strong>Венчик</strong> – совокупность лепестков. Венчик выполняет функцию защиты и привлечения насекомых-опылителей.            И чашелистики, и лепестки могут быть:
                <ul type="disk">
                    <li> сростнолепестные (василек, гвоздика, шалфей, колокольчик, табак, картофель, тыква);</li>
                    <li> раздельнолепестные (груша, лютик, яблоня, герань, шиповник, вишня).</li>
                </ul>
                <img src="~/Images/thema12/строение цветка.png" />
                &nbsp;&nbsp;&nbsp;&nbsp;Если через венчик можно провести: несколько осей симметрии – цветок называется <strong>правильным (актиноморфным)</strong> – капуста, ромашка, яблоня, вишня, тюльпан, герань; 1 ось симметрии – <strong>неправильным (зигоморфным)</strong> – орхидея, ирис, львиный зев, левкои, фиалка, акация, клевер, анютины глазки; ни одной оси симметрии – <strong>ассиметричным</strong> – валериана, канны.
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Чашечка+венчик=околоцветник. Простой околоцветник</strong> – все лепески неотличимы друг от друга:
                <ol type="a">
                    <li><em>венчиковидный</em> (имеет только венчик) – тюльпан, ландыш, лилия;</li>
                    <li><em>чашечковидный</em> (имеет только чашечку) – злаки, конопля, крапива, свеква, береза.</li>
                </ol>
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Сложный (двойной) околоцветник</strong> – чашечка и венчик внешне отличаются (картофель).
            </li>
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <strong>Тычинки</strong> (от 2 до нескольких десятков) – видоизмененные микроспорофиллы. Совокупность всех тычинок – <strong>андроцей.</strong> Тычинка состоит из тычиночной нити и пыльника на вершине. <strong>Пыльник</strong> состоит из двух пыльцевых мешков, соединенных между собой <strong>связником</strong> (утолщенная часть тычиночной нити). <strong>Пыльцевые мешки</strong> (микроспорангии, где происходит образование микроспор и созревание пыльцевого зерна (мужского гаметофита)) разделены поперечными перегородками на 2 пыльцевых гнезда (всего 4). <strong>Функции тычинки:</strong> образование и созревание пыльцы (совокупность пыльцевых зерен).
                        </div>
                        <div class="justify-content-center">
                            <img src="~/Images/thema12/тычинка.png" />
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <strong>Пестик</strong> – женская часть цветка, занимает центральную часть цветка, образован одним или несколькими плодолистиками (видоизмененными листьями), внутри которых развивается семязачаток/семяпочка (мегаспорангий). У большинства цветков один пестик, но может быть и несколько (малина, ежевика). Совокупность плодолистиков, образующих пестик называется <strong>гинецей.</strong> Пестик состоит из трех частей:
                            <ol type="a">
                                <li>
                                    <strong>завязь</strong> – нижняя расширенная часть пестика, из которой в последующем образуется плод. Внутри завязи располагается одна или несколько <strong>семяпочек (семязачатков),</strong> прикрепленных к внутренней стенке завязи при помощи семяножки. <strong>Составные части завязи:</strong>
                                    <ol type="1">
                                        <li><em>покровы</em> (интегументы);</li>
                                        <li><em> ядро</em> (нуцеллус) – центральная часть семязачатка, в котором образуется макроспора, прорастающая в зародышевый мешок (женский гаметофит);</li>
                                        <li><em>пыльцевход</em> (микропиле) – каналец, ведущий через интегументы в нуцеллусу. </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>столбик</strong> – вытянутая часть пестика, отходящая от завязи (может быть один или несколько).
                                </li>
                                <li>
                                    <strong>рыльце</strong> – верхняя расширенная часть цветка (часто липкая), служит для удержания пыльцы для опыления. При отсутствии столбика рыльце располагается прямо на завязи (сидячее рыльце – мак, пшеница).
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </p>
    <div class="container">
        <p>
            <strong>Функции пестика</strong>  образование женского гаметофита, оплодотворение, образование плодов и семян.
        </p>
        <p>
            Цветки:
            <ol>
                <li>Обоеполые 80% (содержат и тычинки, и пестики) – вишня, ромашка, яблоня, тюльпан</li>
                <li>Однополые 20% (содержат только тычинки (тычиночные, мужские) или только пестики (пестичные, женские) – огурец, крапива</li>
            </ol>
            Растения, содержащие однополые цветки
            <ol>
                <li>Однодомные (женские и мужские цветки развиваются на одном растении) - огурец, дуб, береза, кукуруза</li>
                <li>Двудомные (женские и мужские цветки развиваются на разных растениях) - ива, тополь, конопля</li>
            </ol>
        </p>
        <div class=" centered">
            <strong>Соцветия, их билогическое значение.</strong>
        </div>
        <p>Для привлечения насекомых-опылителей цветки обычно имеют ярко окрашенные лепестки и крупные размеры или собраны в соцветия. Привлекает насекомых также <em>нектар</em> – сахаристая жидкость, выделяемая <em>нектарниками</em> – железами цветка, которые чаще расположены внутри у основания лепестков.</p>
        <p><strong>Соцветия</strong>  группа цветков, расположенных близко друг к другу в определенном порядке на одном цветочном стебле или цветоножке.</p>
        <p>
            <strong>Классификация соцветий:</strong>
            <ol>
                <li><em>простые</em> – соцветия, в которых выделяется главная ось первого порядка, на которой расположены цветки;</li>
                <li><em>сложные</em> – простые соцветия располагаются на осях второго, третьего и более высокого порядков, на главной оси цветков нет;</li>
                <li><em>определенные</em> (симподиальные) – соцветия, главный цветонос которых имеет ограниченный рост, цветение идет сверху вниз;</li>
                <li><em>неопределенные</em> (моноподиальные) – соцветия, в которых главный цвенонос растет длительное время, цветение идет снизу вверх.</li>
            </ol>
        </p>
    </div>
    <div class="container">
        <div class="justify-content-center">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col">Схема соцветия</th>
                        <th scope="col">Название соцветия</th>
                        <th scope="col">Строение соцветия</th>
                        <th scope="col">Примеры растений</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4"><strong>Простые</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/кисть.png" />
                        </td>
                        <td>Кисть</td>
                        <td>На удлиненной главной оси расположены цветки на коротких цветоножках</td>
                        <td>Черемуха, ландыш, люпин, белая акация, пастушья сумка, донник, редька, аконит, ярутка, гиацинт, наперстянка</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/колос.png" />
                        </td>
                        <td>Колос</td>
                        <td>На главной удлиненной оси располагаются сидячие цветки</td>
                        <td>Подорожник, ятрышник, осока, заразиха</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/початок.png" />
                        </td>
                        <td>Початок</td>
                        <td>Похож на колос, но главная ось мясистая утолщенная </td>
                        <td>Кукуруза, белокрыльник, рогоз (камыш), калла, аир</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/корзинка.png" />
                        </td>
                        <td>Корзинка</td>
                        <td>Многочисленные мелкие сидячие цветки расположены на утолщенной, блюдцевидно расширенной оси; снаружи соцветие защищено зелеными листьями – обертками</td>
                        <td>Василек, подсолнечник, одуванчик, ромашка, астра, мать-и-мачеха, календула, цикорий</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/головка.png" />
                        </td>
                        <td>Головка</td>
                        <td>Главная ось укорочена и булавовидно утолщена, цветки сидячие</td>
                        <td>Клевер, кровохлебка</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/зонтик.png" />
                        </td>
                        <td>Зонтик</td>
                        <td>Главная ось укорочена, боковые цветки как бы выходят из одной точки на цветоножках одинаковой длины и располагаются куполообразно или в одной плоскости</td>
                        <td>Примула, вишня, лук, чеснок, чистотел</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/щиток.png" />
                        </td>
                        <td>Щиток</td>
                        <td>Цветки расположены в одной плоскости, цветоножки имеют разную длину, отходят от главной оси из разных точек</td>
                        <td>Груша, спирея, слива</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/сережка.png" />
                        </td>
                        <td>Сережка</td>
                        <td>Видоизменение колоса или кисти: цветки на тонкой, свисающей гибкой главной оси</td>
                        <td>Ива, грецкий орех, береза, смородина, ольха, тополь</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>Сложные (моноподиальные)</strong></td>
                    </tr>
                    <tr>
                        <td><img src="~/Images/thema12/метелка.png" /></td>
                        <td>Сложная кисть (метелка)</td>
                        <td>Главная длинная ось представляет собой кисть, а боковые ее веточки – простые кисти</td>
                        <td>Злаки, мятлик, сирень, овес, тростник, виноград, рис, бузина</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/сложный зонтик.png" />
                        </td>
                        <td>Сложный зонтик</td>
                        <td>От укороченной главной оси отходят простые соцветия – зонтички, есть листки-обертки</td>
                        <td>Морковь, укроп, петрушка, борщевик</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/сложный колос.png" />
                        </td>
                        <td>Сложный колос</td>
                        <td>На главной укороченной оси располагаются оси простых колосков</td>
                        <td>Рожь, пшеница, ячмень, пырей, многие осоки</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/сложный щиток.png" />
                        </td>
                        <td>Сложный щиток</td>
                        <td>Главная ось представляет собой щиток, боковые – корзинки или тоже щитки</td>
                        <td>Рябина, калина, тысячелистник</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>Сложные (симподиальные)</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/извилина.png" />
                        </td>
                        <td>Извилина</td>
                        <td>Боковые одноцветковые оси отходят последовательно в 2 взаимно противоположные стороны</td>
                        <td>Ирис, гладиолус, гравилат</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/завиток.png" />
                        </td>
                        <td>Завиток</td>
                        <td>Ветвление образует из пазухи кроющего листа только одну боковую ось с одиночным цветком. Все оси и цветтки направлены в одну сторону</td>
                        <td>Незабудка, окопник</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/thema12/развалинка.png" />
                        </td>
                        <tb>Развалина</tb>
                        <tb>Ось каждого порядка дает 2 ветви. Главная ось заканчивается одним цветком, под ним формируется развилка из боковых осей, каждая из которых продолжает такую же систему</tb>
                        <tb>Гвоздика, звездчатка, мыльнянка</tb>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <p>
            <strong>Биологическая роль соцветий:</strong>
            <ol>
                <li>Соцветия более заметны для насекомых-опылителей;</li>
                <li>Соцветия дают большее количество пыльцы;</li>
                <li>Экономия биологического материала (из материала, необходимого на образование одного крупного цветка образуется много мелких цветков);</li>
                <li>Возрастает количество плодов и семян.</li>
            </ol>
        </p>
    </div>
</div>
<a href=@Url.Action("Test2","Courses")
   class="btn btn-primary">
    <span class="glyphicon glyphicon-shoppingcart">
    </span>
    Задания для самоконтроля
</a>
